#*************************************************************************
* CLASS 명      : strSubjectMngList_xml
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 11월 2일 
* 기    능      : 전략과제도 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      현걸욱     2012년 11월 2일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"ATTACH_FILE_NM"       : "$!{CS_HTML.txt2html($list.ATTACH_FILE_NM)}", 
		"ATTACH_FILE_FNM"      : "$!{CS_HTML.txt2html($list.ATTACH_FILE_FNM)}", 
		"ATTACH_FILE_SUFFIX"   : "$!{CS_HTML.txt2html($list.ATTACH_FILE_SUFFIX)}", 
		"ATTACH_FILE_PATH"     : "$!{CS_HTML.txt2html($list.ATTACH_FILE_PATH)}", 
		"CREATE_DT"            : "$!{CS_HTML.txt2html($list.CREATE_DT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
