#*************************************************************************
* CLASS 명      : orgEvalItemModify
* 작 업 자      : 박선혜
* 작 업 일      : 2013년 6월 10일
* 기    능      : 세부평가항목
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용          비고
* ----  --------  -----------------  -------------------------  --------
*  1    박선혜      2013년 6월 10일           최 초 작 업
**************************************************************************#

<script type="text/javascript" language="javascript">
//<![CDATA[

	var J = jQuery;
	var upDownGbnChk = "03";

	J(document).ready(function(){

		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/prs/org/orgEvalItem/orgEvalItemList.vw?type=template").submit();
		});

		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});

		/******************************************
		 * 실적산식 검증버튼 이벤트
		 ******************************************/
		J("#btnActCalType").click(function(e) {
			checkModifyCalType();
		});

		/******************************************
		 * 설명 byte 체크
		 ******************************************/
		J("#content").checkbyte({
			indicator:J("#contentIndicator"),
			limit:1500
		});
		J("#content").trigger("keyup");


		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#anchor").fancybox();            //실적연계 항목 팝업

		$("#stretchGoal").numeric(); //숫자만 입력받기
		$("#stretchGoal").css("ime-mode", "disabled"); //한글사용 비활성화

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {

		});

		/******************************************
		 * 배점 숫자만 입력받기
		 ******************************************/
		J("#allocScore").numeric({allow:"."});
		J("#allocScore").css("ime-mode", "disabled"); //한글사용 비활성화
		
		/******************************************
		 * 구간대구분 이벤트
		 ******************************************/
		J("input[name=upDownGbn]").click(function(e) {
			if(this.value == "03") {
				J("span.optionStr").text("이상");
				J("span.optionStr:last").text("미만");
				
				upDownGbnChk = "03";
			} else if(this.value == "04") {
				J("span.optionStr").text("미만");
				J("span.optionStr:last").text("이상");
				
				upDownGbnChk = "04";
			}
		});
		
		$!{searchMap.txt2html("upDownGbnCheck")}

		/******************************************
		 * 화면 초기셋팅
		 ******************************************/
		init();
	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {

		if(!J.checkLength("orgEvalItemNm", "$!{ORG_EVAL_ITEM_NM}명", 1, 100)) {
			return;
		}

        if( !LengthCheck(J("#content").val(), "설명", 0, 1500 ) ) {
            J("#content").focus();
            return;
        }

		if(!J.checkLength("actCalType", "실적산식", 1, 500)) {
			return;
		}

		//실적산식 입력 체크
		if(!actCalTypeColSaveChk()) return;

        //구간 입력 체크
        if(!scoreCalTypeSaveChk()) return;

        //구간대처리
        if(!calEvalSection()) return;


		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}


    /******************************************
     * 등록구간 입력 체크
     ******************************************/
    function scoreCalTypeSaveChk() {
        var saveChk = true;


            J("input[name=conversionScores]", "#evalSectionArea").each(function(index, item) {
                if(J(item).val() == "") {
                    J.showMsgBox("환산점수를 입력해 주십시요", null, J('input[name=conversionScores]').eq(index));
                    saveChk = false;
                    return false;
                }
                if( isNaN(J(item).val())) {
                    J.showMsgBox("환산점수을 숫자만 입력 가능합니다.", null, J('input[name=conversionScores]').eq(index));
                    saveChk = false;
                    return false;
                }
            });

            J("input[name=viewValues]", "#evalSectionArea").each(function(index, item) {
                if(J(item).val() == "") {
                    J.showMsgBox("점수구간을 입력해 주십시요", null, J('input[name=viewValues]').eq(index));
                    saveChk = false;
                    return false;
                }
                if( isNaN(J(item).val())) {
                    J.showMsgBox("점수구간을 숫자만 입력 가능합니다.", null, J('input[name=viewValues]').eq(index));
                    saveChk = false;
                    return false;
                }
            });


        return saveChk;
    }

	/******************************************
	 * 산식항목 입력 체크
	 ******************************************/
	function actCalTypeColSaveChk() {
		var saveChk = true;

		//단위 체크
		J("select[name=units]", "#actCalTypeArea").each(function(index, item) {
			if(J(item).val() == "") {
				J.showMsgBox("단위를 입력해 주십시요", null, J('select[name=units]').eq(index));
				saveChk = false;
				return false;
			}
		});

		//실적입력구분 체크
		J("select[name=insertGubuns]", "#actCalTypeArea").each(function(index, item) {
			if(J(item).val() == "") {
				J.showMsgBox("실적입력구분을 입력해 주십시요", null, J('select[name=insertGubuns]').eq(index));
				saveChk = false;
				return false;
			}
		});

		//산식항목명 체크
		J("input[name=calTypeColNms]", "#actCalTypeArea").each(function(index, item) {
			if(J(item).val() == "") {
				J.showMsgBox("산식항목명을 입력해 주십시요", null, J('input[name=calTypeColNms]').eq(index));
				saveChk = false;
				return false;
			}
		});

		return saveChk;
	}


	/******************************************
	 * 실적산식 변경시 실적항목 변경
	 ******************************************/
	function checkModifyCalType() {
		var actCalTypeNm = J("#actCalType").val();

		var str = actCalTypeNm.extChar().split("/").unique(); //산식 배열
		var strSize = str.length - 1; //산식항목 개수

		var obj = J("#actCalTypeTB tbody tr");
		var objSize = obj.length;

		//기존 산식항목 삭제
		if(objSize > 3) {
    		for(var i = objSize - 2; i > 1; i--) {
    			obj.eq(i).remove();
    		}
		}

		//신규 산식항목 설정
		for(var i = 0; i < strSize; i++) {
			J("#actCalTypeTemplate tr td:first span").text(str[i]);
			J("#actCalTypeTemplate input[name=calTypeCols]").val(str[i]);
			J("#actCalTypeTemplate tr").clone().insertBefore("#detailEvalCalTypeNm");
		}
	}

	/******************************************
	 * 구간대 처리
	 ******************************************/
	function calEvalSection() {		
		var cnt = J("input[name=viewValues]").length ;
    	
    	var tmp_pre = 0 ;
    	var tmp_cur = 0 ;
    	
    	var firstVal = "";
    	var lastVal = "";
    	var isDescending = true;
    	
    	if(upDownGbnChk == "03") {
    		tmp_pre = parseFloat(J("input[name=viewValues]").eq(0).val());
    		for(var i=1; i<cnt; i++) {
    			tmp_cur = parseFloat(J("input[name=viewValues]").eq(i).val());
    			
    			if(i != (cnt-1)) {
    				if(tmp_pre <= tmp_cur) {
	    				alert("상향구간 점수 확인 하십시요.");
	    				J("input[name=viewValues]").eq(i).focus()
	    				return false;
	    			}
    			} else {
    				if(tmp_pre < tmp_cur) {
	    				alert("상향구간 점수 확인 하십시요.");
	    				J("input[name=viewValues]").eq(i).focus()
	    				return false;
	    			}
    			}
    			
    			tmp_pre = tmp_cur;
    		}
    		
    		isDescending = true;
    	} else if(upDownGbnChk == "04") {
    		tmp_pre = parseFloat(J("input[name=viewValues]").eq(0).val());
    		for(var i=1; i<cnt; i++) {
    			tmp_cur = parseFloat(J("input[name=viewValues]").eq(i).val());
    			if(i != (cnt-1)) {
    				if(tmp_pre > tmp_cur) {
	    				alert("하향구간 점수 확인 하십시요.");
	    				J("input[name=viewValues]").eq(i).focus()
	    				return false;
	    			}
    			} else {
    				if(tmp_pre > tmp_cur) {
	    				alert("하향구간 점수 확인 하십시요.");
	    				J("input[name=viewValues]").eq(i).focus()
	    				return false;
	    			}
    			}
    			
    			tmp_pre = tmp_cur;
    		}
    		
    		isDescending = false;
    	} else {
    		return false;
    	}
    	
    	if(isDescending) {
    		firstVal = "9999999";
    		lastVal = "-9999999";
    		
    		for(var i=0; i<cnt; i++) {
    			if (i == 0) {
					J("input[name=fromValues]").eq(i).val( J("input[name=viewValues]").eq(i).val() );
					J("input[name=toValues]").eq(i).val(firstVal);
    			} else if (i == cnt-1) {
					J("input[name=fromValues]").eq(i).val(lastVal);
					J("input[name=toValues]").eq(i).val( J("input[name=viewValues]").eq(i).val() );
    			} else {
					J("input[name=fromValues]").eq(i).val( J("input[name=viewValues]").eq(i).val() );
					J("input[name=toValues]").eq(i).val( J("input[name=viewValues]").eq(i-1).val() );
    			}
    		}
    	} else {
    		firstVal = "-9999999";
    		lastVal = "9999999";
    		
    		for(var i=0; i<cnt; i++) {
    			if (i == 0) {
					J("input[name=fromValues]").eq(i).val(firstVal);
					J("input[name=toValues]").eq(i).val( J("input[name=viewValues]").eq(i).val() );
    			} else if (i == cnt-1) {
					J("input[name=fromValues]").eq(i).val( J("input[name=viewValues]").eq(i-1).val() );
					J("input[name=toValues]").eq(i).val(lastVal);
    			} else {
					J("input[name=fromValues]").eq(i).val( J("input[name=viewValues]").eq(i-1).val() );
					J("input[name=toValues]").eq(i).val( J("input[name=viewValues]").eq(i).val() );
    			}
    		}
    	}
    	
    	return true;
	}
	
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {

		J("#form1 input").attr("disabled",false);
		J("#form1 select").attr("disabled",false);
		J("#form1 textarea").attr("disabled",false);

		J("#actCalTypeTemplate").remove();
		J("#form1").attr("action", "$!{context_path}/prs/org/orgEvalItem/orgEvalItemProcess.vw?type=template").submit();
	}

	/*****************************************************
	 * 화면초기셋팅
	 *****************************************************/
	function init() {

		J("#evalSectionArea").show();
		J("#actCalTypeStr").show();
		J("#actCalTypeArea").show();
		J("#unit").val(J("#orgUnit").val());
		J("#unit").attr("disabled", false);
		J("#unitValidation").show();

		/******************************************
		 * 사용중이면서 하위코드 존재시 삭제못함
		 ******************************************/
		#if($!{CS_HTML.txt2html($detail.USE_YN)} == "Y" && $!{CS_HTML.txt2html($detail.SUB_CODE_CNT)} != "0")
			J("#useYn").attr("disabled", true);
        #end
        
        #if($!{searchMap.txt2html("upDownGbnCheck")} == "" || $!{searchMap.txt2html("upDownGbnCheck")} == "03")
			J("span.optionStr").text("이상");
			J("span.optionStr:last").text("미만");
			
			upDownGbnChk = "03";
			J('input:radio[name=upDownGbn]:input[value="03"]').attr("checked", true);
        #else
        	J("span.optionStr").text("미만");
			J("span.optionStr:last").text("이상");
			
			upDownGbnChk = "04";
			
			J('input:radio[name=upDownGbn]:input[value="04"]').attr("checked", true);
        #end        

		setOrgEvalItemSetDisable();

	}

	/*****************************************************
	 * 연계항목 초기화
	 *****************************************************/
	function setInitItem(index) {
		J("#actCalTypeTB input[name=itemCds]").eq(index-2).val("");
		J("#actCalTypeTB input[name=itemNms]").eq(index-2).val("");
	}

	/******************************************
	 * 산식항목 연계항목 팝업
	 ******************************************/
	function orgConnItemPop(index) {
		var i = index - 2;
		var insertGubun = J("select[name=insertGubuns]", "#actCalTypeArea").eq(i).val();

		if(insertGubun == "01" || insertGubun == "07") {
			J("#anchor").attr("href","$!{context_path}/bsc/module/commModule/popOrgConnItemSearch.vw?findYear=$!{searchMap.txt2html("year")}&amp;callBack=setOrgConnItemSet&amp;index=" + i);
			J("#anchor").click();
		} else {
			J.showMsgBox("실적입력구분이 시스템이나 엑셀인 경우 선택가능합니다", null, null);
			return;
		}
	}

	/******************************************
	 * 산식항목 연계항목 설정
	 ******************************************/
	function setOrgConnItemSet(index, itemCd, itemNm) {
		J("#actCalTypeTB input[name=itemCds]").eq(index).val(itemCd);
		J("#actCalTypeTB input[name=itemNms]").eq(index).val(itemNm);
		J.fancybox.close();
	}

	/*****************************************************
	 * 평가항목 설정후 disable 설정
	 *****************************************************/
	function setOrgEvalItemSetDisable() {
		if(J("#orgEvalItemId").val() != "") {
			//J("#evalType").attr("disabled", true);     					//평가분야

			/*실적산식 disable
			J("#actCalType").attr("disabled", true);  //실적산식
			J("#actCalTypeArea input[name=calTypeColNms]").attr("disabled", true); //산식항목명

			//구간대 disable
			J("#evalSectionArea input").attr("disabled", true);  //구간대*/
		}
	}

	/*****************************************************
	 * 산식입력기 팝업
	 *****************************************************/
	function popCalTypeCol() {
		var actCalType = J("#actCalType").val();
		J("#anchor").attr("href","$!{context_path}/bsc/module/commModule/popCalTypeCol.vw?findYear=$!{searchMap.txt2html("year")}&amp;actCalType=" + actCalType);
		J("#anchor").click();
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">

		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

			<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/org/orgEvalItem/orgEvalItemList.vw?type=template">
				<input type="hidden" 	id="oldYear"		name="oldYear"			value="$!{searchMap.txt2html("findYear")}" />
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"	id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="조직별$!{ORG_EVAL_ITEM_NM}관리검색 조건">
						<caption class="none">조직별$!{ORG_EVAL_ITEM_NM}관리 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
        					<tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
							</tr>
#*
            				<tr>
								<td class="searchBox_tit w180">
                                    <span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w200">
                                    <span><label for="findUseYn">사용여부</label></span>
            						<span class="searchBar">
            							<select id="findUseYn" name="findUseYn" class="select w70">
            								$!CS_CODE.getCodeOption("011", $!{searchMap.txt2html("findUseYn")})
            							</select>
            						</span>
            					</td>
            				</tr>
*#
        				</tbody>
    				</table>
##                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		<div id="mainContent">
    		<form id="form1" name="form1" method="post" action="$!{context_path}/prs/org/orgEvalItem/orgEvalItemProcess.vw?type=template">
                <input type="hidden" id="mode"				name="mode"					value="$!{searchMap.txt2html("mode")}" />
            	<input type="hidden" id="year"				name="year"					value="$!{searchMap.txt2html("year")}" />
            	<input type="hidden" id="orgUnit"           name="orgUnit"				value="$!{CS_HTML.txt2html($detail.UNIT)}" />
				$!{searchMap.makeHiddenFind()}

            	#if($!{searchMap.txt2html("mode")} == "MOD")
            		<input type="hidden" id="orgEvalItemId" name="orgEvalItemId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.ORG_EVAL_ITEM_ID)}" />
            	#else
            		<input type="hidden" id="orgEvalItemId" name="orgEvalItemId" class="inputbox w100"/>
    			#end

        		<div class="blockDetail">
        			<table summary="조직별$!{ORG_EVAL_ITEM_NM}관리 등록">
    					<caption class="none">조직별$!{ORG_EVAL_ITEM_NM}관리 등록</caption>
        				<colgroup>
        					<col width="15%" />
        					<col width="35%" />
    						<col width="15%" />
    						<col width="35%" />
        				</colgroup>
        				<tbody>
        					<tr class="none2">
								<th scope="row">$!{ORG_EVAL_ITEM_NM}코드</th>
								<td colspan="3">
									<span id="orgEvalItemIdDesc">
        								#if($!{searchMap.txt2html("mode")} == "MOD")
        									$!{CS_HTML.txt2html($detail.ORG_EVAL_ITEM_ID)}
        								#else
                                            ※ 저장시 자동으로 부여됩니다.
        								#end
									</span>
								</td>
							</tr>
							<tr>
    							<th scope="row"><span class="txt_red">(*)</span> <label for="orgEvalItemNm">$!{ORG_EVAL_ITEM_NM}명</label></th>
        						<td><input type="text" id="orgEvalItemNm" name="orgEvalItemNm" class="inputbox wp95" value='$!{CS_HTML.txt2html($detail.ORG_EVAL_ITEM_NM)}' maxlength="100" /></td>
								<th scope="row"><label for="evalType">평가분야</label></th>
        						<td>
    								<select id="evalType" name="evalType" class="select w150">
        								$!CS_CODE.getCodeOption("183", $!{CS_HTML.txt2html($detail.EVAL_TYPE, '01')}, $!{searchMap.txt2html("year")})
        							</select>
    							</td>
        					</tr>
    						<tr>
								<th scope="row"><label for="allocScore">배점</label></th>
        						<td><input type="text" id="allocScore" name="allocScore" class="inputbox w140" value='$!{CS_HTML.txt2html($detail.ALLOC_SCORE)}' maxlength="10" /></td>
        						<th scope="row"><label for="useYn">사용여부</label></th>
        						<td>
        							<select id="useYn" name="useYn" class="select w150">
        								$!CS_CODE.getCodeOption("011", $!{CS_HTML.txt2html($detail.USE_YN, 'Y')}, $!{searchMap.txt2html("year")})
        							</select>
        						</td>
        					</tr>
    						<tr>
        						<th scope="row"><label for="content">$!{ORG_EVAL_ITEM_NM}설명</label></th>
        						<td colspan="3">
        							<textarea id="content" name="content" class="tabletext" title="$!{ORG_EVAL_ITEM_NM}설명" cols="10" rows="3">$!{CS_HTML.txt2html($detail.CONTENT)}</textarea>
    								<span id="contentIndicator">0</span>/1500byte
        						</td>
        					</tr>
        				</tbody>
        			</table>
        		</div>

    			<!-- 실적산식 -->
    			<span id="actCalTypeStr" class="none">※ $!{ORG_EVAL_ITEM_NM}산식을 변경하시면, 산식항목을 새로 입력하셔야 합니다.</span>
    			<div id="actCalTypeArea" class="blockDetail2 none">
        			<table id="actCalTypeTB" summary="산식항목 등록">
        				<caption class="none">산식항목 등록</caption>
        				<colgroup>
        					<col width="15%" />
        					<col width="25%" />
    						<col width="10%" />
    						<col width="10%" />
    						<col width="22%" />
    						<col width="18%" />
        				</colgroup>
        				<tbody>
        					<tr>
        						<th scope="row"><label for="actCalType">$!{ORG_EVAL_ITEM_NM} 산식</label></th>
        						<td colspan="5">
    								<input type="text" id="actCalType" name="actCalType" class="inputbox wp80" value='$!{CS_HTML.txt2html($detail.ACT_CAL_TYPE)}' maxlength="300" readonly="readonly"/>
									<!-- <img id="btnActCalType" src="$!{img_path}/common/bt_05.gif" class="valign_middle" alt="산식입력" /> -->
									<input type="image" onclick="javascript:popCalTypeCol();return false;" class="valign_middle" src="$!{img_path}/common/bt_05.gif" alt="산식입력"/>
    							</td>
        					</tr>
        					<tr id="actCalTypeList">
        						<th scope="row">세부평가산식항목</th>
        						<th scope="row">산식항목명</th>
    							<th scope="row">실적입력구분</th>
    							<th scope="row">단위</th>
    							<th scope="row">연계항목</th>
    							<th scope="row">원천데이터</th>
        					</tr>

                            #foreach($list in $calTypeColList)
        						<tr>
            						<td>
    									<span>$!{CS_HTML.txt2html($list.CAL_TYPE_COL)}</span>
    									<input type="hidden" name="calTypeCols" class="inputbox wp90" value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL)}"/>
    								</td>
            						<td>
    									<input type="text" name="calTypeColNms" class="inputbox wp90" value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_NM)}" maxlength="80" title="산식항목"/>
    								</td>
        							<td>
    									<select name="insertGubuns" class="select w90" title="입력구분">
                                            <option value="">미지정</option>
    										$!CS_CODE.getCodeOption("014", $list.INSERT_GUBUN, $!{searchMap.txt2html("year")})
    									</select>
    								</td>
        							<td>
    									<select name="units" class="select w90" title="단위">
                                            <option value="">미지정</option>
    										$!CS_CODE.getCodeOption("013", $list.UNIT, $!{searchMap.txt2html("year")})
    									</select>
    								</td>
        							<td>
										<input type="hidden" name="itemCds" class="inputbox wp60" value="$!{CS_HTML.txt2html($list.ITEM_CD)}" />
    									<input type="text" name="itemNms" class="inputbox wp60" value="$!{CS_HTML.txt2html($list.ITEM_NM)}" readonly="readonly" maxlength="30"  title="연계항목"/>
    									<input type="image" onclick="javascript:orgConnItemPop(this.parentNode.parentNode.rowIndex);return false;" class="valign_middle" src="$!{img_path}/common/board/ic_search.gif" alt="연계항목선택"/>
    									<input type="image" onclick="javascript:setInitItem(this.parentNode.parentNode.rowIndex);return false;" class="valign_middle" src="$!{img_path}/common/board/ic_cancel.gif" alt="연계항목취소"/>
    								</td>
        							<td>
    									<input type="text" name="sourceSystems" class="inputbox wp90" value="$!{CS_HTML.txt2html($list.SOURCE_SYSTEM)}" maxlength="30" title="연계시스템"/>
    								</td>
            					</tr>
                            #end

    						<tr id="detailEvalCalTypeNm">
        						<th scope="row">$!{ORG_EVAL_ITEM_NM} 산식명</th>
    							<td class="textLeft" colspan="5"><span>$!{calTypeColDesc}</span></td>
        					</tr>
        				</tbody>
        			</table>
        		</div>

    			<!-- 평가등급 구간대 -->
    			<div id="evalSectionArea" class="blockDetail2 none">
        			<table summary="평가등급구간대 등록">
        				<caption class="none">평가등급구간대 등록</caption>
        				<colgroup>
        					<col width="15%" />
        					<col width="15%" />

    						#foreach($list in $evalSectionList)
    							<col width="14%" />
    						#end

        				</colgroup>
        				<tbody>
        					<tr>
        						<th scope="row" rowspan="4"><span class="txt_red">(*)</span> 평가등급구간대</th>
        						<th scope="row">구간대구분</th>
        						<td colspan="5">
        							<input type="radio" name="upDownGbn" value="03"> 상향구간대&nbsp;&nbsp;&nbsp;&nbsp;
        							<input type="radio" name="upDownGbn" value="04"> 하향구간대
        						</td>
        					</tr>
        					<tr>
        						<th scope="row">구간분류</th>

    							#foreach($list in $evalSectionList)
        							<th scope="row">$!{CS_HTML.txt2html($list.EVAL_SECTION_NM)}</th>
    							#end

        					</tr>
    						<tr>
    							<th scope="row">점수구간</th>    							
    							#set($curValue = "")
    							#set($idx = 1)
    							#set($evalSectionListSize = $!{CS_HTML.txt2html($evalSectionList.size())})
    							
    							#foreach($list in $evalSectionList)
    								#if($!{CS_HTML.txt2html($list.UPDOWN_GBN)} == "03")
    									#set($curValue = $!{CS_HTML.txt2html($list.FROM_VALUE)})
    								#elseif($!{CS_HTML.txt2html($list.UPDOWN_GBN)} == "04")
    									#set($curValue = $!{CS_HTML.txt2html($list.TO_VALUE)})
    								#else
    									#set($curValue = "")
    								#end
    								
    								#if($idx == $evalSectionListSize)
    									#if($!{CS_HTML.txt2html($list.UPDOWN_GBN)} == "03")
	    									#set($curValue = $!{CS_HTML.txt2html($list.TO_VALUE)})
	    								#elseif($!{CS_HTML.txt2html($list.UPDOWN_GBN)} == "04")
	    									#set($curValue = $!{CS_HTML.txt2html($list.FROM_VALUE)})
	    								#else
	    									#set($curValue = "")
	    								#end
    								#end
    								
    								#set($idx = $idx + 1)
        							<td>
    									<input type="hidden" name="evalSectionIds" class="inputbox w50" value="$!{CS_HTML.txt2html($list.EVAL_SECTION_ID)}" />
        								<input type="text" name="viewValues" class="inputbox w50" value="$!{curValue}" maxlength="15" title="환산점수"/>
    									<input type="hidden" name="fromValues" class="inputbox w50" value="$!{CS_HTML.txt2html($list.FROM_VALUE)}" />
    									<input type="hidden" name="toValues" class="inputbox w50" value="$!{CS_HTML.txt2html($list.TO_VALUE)}" />
    									<span class="optionStr"></span>
        							</td>
    							#end

        					</tr>
    						<tr>
        						<th scope="row">환산점수</th>
    							#foreach($list in $evalSectionList)
    								<td>
        								<input type="text" name="conversionScores" class="inputbox w80" value="$!{CS_HTML.txt2html($list.CONVERSION_SCORE)}" maxlength="3" title="환산점수"/>
        							</td>
    							#end
        					</tr>
        				</tbody>
        			</table>
        		</div>

				<div class="blockButton_all floatLeft">
            		<div class="blockButton">
            			<ul>
            				<li><input type="button" id="btnBack"   value="돌아가기"/></li>
            				<li><input type="submit" id="btnInsert" value="저장"/></li>
            			</ul>
            		</div>
				</div>

    		</form>
		</div>
	</div>
	<a id="anchor"></a>
	<div class="clear"></div>
</div>

<table id="actCalTypeTemplate" class="none">
	<tr>
        <td>
			<span></span>
			<input type="hidden" name="calTypeCols" class="inputbox wp90" value=""/>
		</td>
        <td>
			<input type="text" name="calTypeColNms" class="inputbox wp90" value="" maxlength="80" title="산식항목"/>
        </td>
        <td>
            <select name="insertGubuns" class="select w90" title="입력구분">
                <option value="">미지정</option>
            	$!CS_CODE.getCodeOption("014", "02", $!{searchMap.txt2html("year")})
            </select>
        </td>
        <td>
            <select name="units" class="select w90" title="단위">
                <option value="">미지정</option>
            	$!CS_CODE.getCodeOption("013", "", $!{searchMap.txt2html("year")})
            </select>
        </td>
        <td>
			<input type="hidden" name="itemCds" class="inputbox wp60" value="" />
			<input type="text" name="itemNms" class="inputbox wp60" value="" readonly="readonly" maxlength="30" title="연계항목"/>
			<input type="image" onclick="javascript:orgConnItemPop(this.parentNode.parentNode.rowIndex);return false;" class="valign_middle" src="$!{img_path}/common/board/ic_search.gif" alt="연계항목선택"/>
    		<input type="image" onclick="javascript:setInitItem(this.parentNode.parentNode.rowIndex);return false;" class="valign_middle" src="$!{img_path}/common/board/ic_cancel.gif" alt="연계항목취소"/>
        </td>
        <td>
			<input type="text" name="sourceSystems" class="inputbox wp90" value="" maxlength="30" title="연계시스템"/>
        </td>
	</tr>
</table>

