#*************************************************************************
* CLASS 명      : popEvalItemCopy.vm
* 작 업 자      : 박선혜
* 작 업 일      : 2013.06.11
* 기    능      : 사용세부평가항목 조직조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호   작 업 자     작   업   일        변 경 내 용             비고
* ----  --------  -----------------  -------------------------  --------
*  1     박선혜      2013.06.11          최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
	
    	/******************************************
    	 * 성명 검색 엔터키 이벤트
    	 ******************************************/
		J("#findUserNm").keyup(function(e)  {
        	if(e.keyCode == 13) {
        		goAction('','');
        	}
        });
		
		/******************************************
		 * 선택된 조직명 클릭이벤트
		 ******************************************/
		J("#useData ul li").dblclick(function() {
			J(this).remove();
		});
		
		/******************************************
		 * 입력완료 버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			copyEvalItem();
		});
		
		/******************************************
		 * 일괄적용 버튼 이벤트
		 ******************************************/
		J("#btnAllInsert").click(function(e) {
			copyEvalItems();
		});
		
		try {
			$("input", ".blockButton" ).button(); //버튼 ui 적용
		} catch(err) { }
	});
	
	/******************************************
	 * 사용자 setting
	 ******************************************/
	function setSearchUserInfo() {
		$!{searchMap.txt2html("callBack")}(arguments);  //콜백함수 설정
	}
	
	/******************************************
	 * 조직선택 더블클릭이벤트
	 ******************************************/
	function goDblClickActionPop(deptId, deptNm) {
	
		var isExist = false;
	
		J("input[name=selDeptIds]", "#useData").each(function(index, item) {
			
			if( deptId == J(this).val() ) {
				alert("이미 선택한 조직입니다.");
				isExist = true;
			}
		});
		
		if(isExist == false) {
			J("#useData ul").append("<li><input type=\"hidden\" name=\"selDeptIds\" value=\""+deptId+"\"/>"+deptNm+"</li>");
		
			J("#useData ul li").dblclick(function() {
				J(this).remove();
			});
		}
		
	}
	
	/******************************************
	 * 조직별 지표복사
	 ******************************************/
	function copyEvalItem() {
		var selDeptIds = "";
		
		J("input[name=selDeptIds]", "#useData").each(function(index, item) {
			selDeptIds = selDeptIds + item.value + "|";
		});
		
		J("#deptIds").val(selDeptIds);
		saveDo();
		
		J.fancybox.close();
	}
	
	/******************************************
	 * 조직별 일괄적용
	 ******************************************/
	function copyEvalItems() {
		var selDeptIds = "";
		
		#foreach($list in $treeList)
			var isExist = false;
			
			J("input[name=selDeptIds]", "#useData").each(function(index, item) {
				if( "$list.CODE_ID" == J(this).val() ) {
					isExist = true;
				}
			});
			
			if (isExist != true) {
				J("#useData ul").append("<li><input type=\"hidden\" name=\"selDeptIds\" value=\"$!{CS_HTML.txt2html($list.CODE_ID)}\"/>$!{CS_HTML.txt2html($list.CODE_NM)}</li>");
			
				J("#useData ul li").dblclick(function() {
					J(this).remove();
				});
			}
		#end
	}

//]]>
</script>

<div style="width:530px;height:420px;"> 
	<div id="popSearchUserArea">
		<h1 class="none">조직트리</h1>
		<div class="blockGridTreeTable">
			#parse("/WEB-INF/vl/bsc/module/commModule/commonTreePop.vm")
		</div>
		<div id="useData" class="blockGridTreeTable" style="margin-left:30px;height:378px;width:255px;">
			<ul>
				#foreach($list in $useDeptList)
					<li><input type="hidden" name="selDeptIds" value="$!{CS_HTML.txt2html($list.DEPT_CD)}"/>$!{CS_HTML.txt2html($list.DEPT_NM)}</li>
                #end
			</ul>
		</div>
	</div>
	<br/>
	<div class="blockButton_all floatLeft">			
    	<div class="blockButton" style="width:75px; float:left;">
    		<ul>
    			<li><input type="button" id="btnAllInsert" value="일괄적용" /></li>
    		</ul>
		</div>    		
    	<div class="blockButton" style="width:100px;">			
    		<ul>
    			<li><input type="button" id="btnInsert" value="입력완료" /></li>
    		</ul>
    	</div>
    </div>
</div>
	