#*************************************************************************
* CLASS 명      : signalStatusModify.jsp
* 작 업 자      : 정철수
* 작 업 일      : 2012.05.30
* 기    능      : 공통코드그룹 등록/수정
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1     정 철 수      2012.05.30            최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
        /******************************************
         * 취소버튼 (돌아가기)
         ******************************************/
        J("#btnBack").click(function() {
            J("#form1").attr("action", "$!{context_path}/bsc/base/signalStatus/signalStatusList.vw?type=template").submit();
        });
        
        /******************************************
         * 저장버튼 이벤트
         ******************************************/
        J("#btnInsert").click(function(e) {
            e.preventDefault();
            saveChk();
        });
        
        /******************************************
         * 저장버튼 이중 클릭 방지
         ******************************************/
        J("form").submit(function(){
            J("#btnInsert").unbind();
        });
        
        /******************************************
		 * 시작구간대(이상) 숫자만 입력받기
		 ******************************************/
		J("#fromValue").numeric({allow:"."})
		J("#fromValue").css("ime-mode", "disabled"); //한글사용 비활성화
		
		/******************************************
		 * 종료구간대(미만) 숫자만 입력받기
		 ******************************************/
		J("#toValue").numeric({allow:"."})
		J("#toValue").css("ime-mode", "disabled"); //한글사용 비활성화
		
		
		/******************************************
		 * 신호등색상 표시
		 ******************************************/
		J("#indicator").css("background-color", J("#color").val());		
		
		/******************************************
		 * 색상표 숨기기
		 ******************************************/
		J("#contentColor").hide();
		
    });

    /******************************************
     * 필수입력 체크
     ******************************************/
    function saveChk() {
	
    	if(!J.checkLength("fromValue", "시작구간대(이상)", 1, 15)) {
            return;
        }
	
        if( isNaN( J("#fromValue").val() ) ) {
            alert("시작구간대(이상)은 숫자만 입력 가능합니다.");
            J("#fromValue").focus();
            return;
        }
    	
    	if(!J.checkLength("toValue", "종료구간대(미만)", 1, 15)) {
            return;
        }
 
        if( isNaN( J("#toValue").val() ) ) {
            alert("종료구간대(미만)은 숫자만 입력 가능합니다.");
            J("#fromValue").focus();
            return;
        }
        
    	if( !compareValue( J("#fromValue").val(), J("#toValue").val(), "시작구간대(이상)", "종료구간대(미만)") ) {
            J("#fromValue").focus();
            return;
        }
		     	
		//var color = rgb2hex(J("#indicator").css("background-color"));
		var color = J("#indicator").css("background-color");
		J("#color").val(color);
        
    	if(!J.checkLength("color", "색상", 1, 20)) {
            return;
        }
        
    	if( J("#color").val()== "" || J("#color").val()=="rgb(240, 240, 240)" ) {
            alert("색상을 선택하십시오.");
            return;
        }
        
        J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
    }
    
    /******************************************
     * 색상표
     ******************************************/
    function showColor() {
		J("#contentColor").show();
    }
	
    /******************************************
     * 저장
     ******************************************/
    function saveDo() {
        J("#form1").attr("action", "$!{context_path}/bsc/base/signalStatus/signalStatusProcess.vw?type=template").submit();
    }


//]]>
</script>
<!--
<script type="text/javascript" src="$!{js_path}/color_picker_combo.min.js"></script>
--> 
<form id="form1" name="form1" method="post" action="$!{context_path}/bsc/base/signalStatus/signalStatusProcess.vw?type=template">
    <input type="hidden" id="mode"		name="mode"		value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden" id="year"		name="year"		value="$!{searchMap.txt2html("year")}" />
	<input type="hidden" id="statusId"	name="statusId"	value="$!{searchMap.txt2html("statusId")}" />
	<input type="hidden" id="color"		name="color"	value="$!{CS_HTML.txt2html($detail.COLOR)}" />
	
    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr><td class="searchBox_tit">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("year")} 년</span></td></tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
			
    		<div class="blockDetail">
    			<table summary="신호등구간 등록">
    				<caption></caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="*" />
    				</colgroup>
    				<tbody>
    					<tr>
                            <th scope="row"><label for="statusId">코드ID</label></th>
                            <td>$!{searchMap.txt2html("statusId")}</td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="fromValue">시작구간대(이상)</label></th>
                            <td><input type="text" id="fromValue" name="fromValue" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.FROM_VALUE)}" maxlength="20"/></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="toValue">종료구간대(미만)</label></th>
                            <td><input type="text" id="toValue" name="toValue" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.TO_VALUE)}" maxlength="20"/></td>                                
                        </tr>
                        <tr>
                            <th scope="row"><label for="color">색상 </label></th>
                            <td><input type="text" id="indicator" name="indicator" class="inputbox w100"  maxlength="20" disabled="disabled"/>
								<a href="javascript:showColor()"><img src="$!{img_path}/common/btn_color.gif" alt="색상표" border="0" align="middle"/></a>
                                <div class="perspective" id="contentColor" style="position: absolute; z-index:3;">
                        			<script type="text/javascript" charset="utf-8" src="$!{js_path}/color_picker_farbtastic.js"></script>
                        			<script type="text/javascript" charset="utf-8">
                        			  setTimeout(function() {
                        				jQuery.farbtastic('#picker').linkTo('#indicator');
                        			  }, 100);
                        			</script>
                        			<div id="picker"></div>
                            	</div>
							</td>
                        </tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기"/></li>
    				<li><input type="submit" id="btnInsert" value="저장"/></li>
    			</ul>
    		</div>	
    	</div>
    	<div class="clear"></div>
    </div>
</form>
