#*************************************************************************
* CLASS 명      : subjectModify
* 작 업 자      : 정철수 
* 작 업 일      : 2012년 10월 31일 
* 기    능      : 세부과제    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    정철수      2012년 10월 31일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/str/base/subject/subjectList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
		
		J("#insertChargeUserSearch").fancybox();    		//담당자 조회

		/******************************************
		 * 금년도 실행계획 byte 체크
		 ******************************************/
		J("#yearActualPlan").checkbyte({
			indicator:J("#yearActualPlanIndicator"),
			limit:4000
		});
		J("#yearActualPlan").trigger("keyup");
		
		/******************************************
		 * 중장기 실행계획  byte 체크
		 ******************************************/
		J("#multyYearActualPlan").checkbyte({
			indicator:J("#multyYearActualPlanIndicator"),
			limit:4000
		});
		J("#multyYearActualPlan").trigger("keyup");
		
		/******************************************
		 * 정렬순서 숫자만 입력받기
		 ******************************************/
		J("#sortOrder").numeric();
		J("#sortOrder").css("ime-mode", "disabled"); //한글사용 비활성화

	});
	
	
	/*****************************************************
	 * 승인자 설정
	 *****************************************************/ 
	function setChargeUserInfo(arguments) {
		J("#chargeUserId").val(arguments[0]);
		J("#chargeUserNm").val(arguments[1]);
		J("#chargeDeptId").val(arguments[2]);
		J("#chargeDeptNm").html(arguments[3]);
		J.fancybox.close();
	}

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		if(!J.checkLength("subjectNm", "세부과제", 1, 150)) {
			return;
		}
		if(J("#stratSubjectId").val() == "") {
			J.showMsgBox("전략과제를 선택해 주십시요", null, "stratSubjectId");
			return;
		}
		if(J("#stratDirectId").val() == "") {
			J.showMsgBox("전략방향을 선택해 주십시요", null, "stratDirectId");
			return;
		}
		if(!J.checkLength("subjectTarget", "세부과제목표", 1, 500)) {
			return;
		}
		if(!J.checkLength("chargeUserNm", "담당자", 1, 20)) {
			return;
		}
		
		document.charset='utf-8';
		
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/str/base/subject/subjectProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 파일추가
	 ******************************************/
	var fileIndex = 0;
	
	function fileAttachAdd() {
		J("#fileAttach").append("<li id=\"fileRow" + fileIndex + "\"><input type=\"file\" name=\"file" + fileIndex + "\" class=\"input\" size=\"70\" /> <input type=\"button\" value=\"삭제\" onclick=\"deleteRow(" + fileIndex + ")\" class=\"input\" size=\"70\"></li>");
		fileIndex++;
	}
	
	function deleteRow(fileIndex)	{
    	J("#fileRow" + fileIndex).remove();
    }	

//]]>
</script>    
 
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="$!{context_path}/str/base/subject/subjectProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />

    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("year")}년</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="세부과제 등록">
					<caption class="none">세부과제 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="35%" />
						<col width="15%" />
    					<col width="35%" />
    				</colgroup>
    				<tbody>
						
    					<tr>
    						<th scope="row"><label for="subjectId">세부과제코드</label></th>
    						<td colspan="3">
								#if($!{searchMap.txt2html("mode")} == "MOD")
									$!{CS_HTML.txt2html($detail.SUBJECT_ID)}
									<input type="hidden" id="subjectId" name="subjectId" class="inputbox w100" value="$!{searchMap.txt2html("subjectId")}" maxlength="7" readonly="readonly"/>
								#else
									<input type="hidden" id="subjectId" name="subjectId" class="inputbox w100" maxlength="7" />
                                    ※ 저장시 자동으로 부여됩니다.
								#end
							</td>
    					</tr>

    					<tr>
    						<th scope="row"><span class="txt_red">(*)</span> <label for="subjectNm">세부과제</label></th>
    						<td colspan="3"><input type="text" id="subjectNm" name="subjectNm" class="inputbox w385"  value='$!{CS_HTML.txt2html($detail.SUBJECT_NM)}' maxlength="80"/></td>
    					</tr>
    					<tr>
    						<th scope="row"><span class="txt_red">(*)</span> <label for="stratSubjectId">전략과제</label></th>
    						<td>
								<select id="stratSubjectId" name="stratSubjectId" class="select w210">
									<option value="">==선택==</option>
									#if ( 0 < $stratSubjectList.size() )
										#foreach($list in $stratSubjectList)
										<option value="$!{CS_HTML.txt2html($list.STRAT_SUBJECT_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.STRAT_SUBJECT_ID)}, $!{CS_HTML.txt2html($detail.STRAT_SUBJECT_ID)})}>$!{CS_HTML.txt2html($list.STRAT_SUBJECT_NM)}</option>
										#end
									#end
    							</select>
    						</td>
							<th scope="row"><span class="txt_red">(*)</span> <label for="stratDirectId">전략방향</label></th>
    						<td>
								<select id="stratDirectId" name="stratDirectId" class="select w210">
									<option value="">==선택==</option>
									#if ( 0 < $stratDirectList.size() )
										#foreach($list in $stratDirectList)
										<option value="$!{CS_HTML.txt2html($list.STRAT_DIRECT_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.STRAT_DIRECT_ID)}, $!{CS_HTML.txt2html($detail.STRAT_DIRECT_ID)})}>$!{CS_HTML.txt2html($list.STRAT_DIRECT_NM)}</option>
										#end
									#end
    							</select>
    						</td>
    					</tr>
						
						<tr>
    						<th scope="row"><span class="txt_red">(*)</span> <label for="subjectTarget">세부과제목표</label></th>
    						<td colspan="3"><input type="text" id="subjectTarget" name="subjectTarget" class="inputbox w775" value='$!{CS_HTML.txt2html($detail.SUBJECT_TARGET)}' maxlength="250"/></td>
    					</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="chargeUserNm">담당자</label></th>
    						<td style="text-align:left;">
								
								<input type="hidden" id="chargeUserId" name="chargeUserId" value="$!{CS_HTML.txt2html($detail.CHARGE_USER_ID)}" />
								<input type="text" id="chargeUserNm" name="chargeUserNm" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.CHARGE_USER_NM)}' maxlength="20" readonly="readonly"/>
								<a id="insertChargeUserSearch" href="$!{context_path}/bsc/module/commModule/popSearchUser.vw?findYear=$!{searchMap.txt2html("year")}&amp;callBack=setChargeUserInfo"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="사용자선택" /></a> 
								<a href="javascript:J.setInit('chargeUserId','chargeUserNm');"><img src="$!{img_path}/common/board/ic_cancel.gif" class="valign_middle" alt="사용자선택 취소" /></a>
    						</td>
							<th scope="row"><label for="chargeDeptNm">담당부서</label></th>
								
    						<td>
								<span id="chargeDeptNm">$!{CS_HTML.txt2html($detail.CHARGE_DEPT_NM)}</span>
								<input type="hidden" id="chargeDeptId" name="chargeDeptId" class="inputbox w100" value='$!{CS_HTML.txt2html($detail.CHARGE_DEPT_ID)}' readonly="readonly"/>
    						</td>
    					</tr>
						
						<tr>
    						<th scope="row"><label for="yearActualPlan">$!{searchMap.txt2html("year")}년도 실행계획</label></th>
    						<td colspan="3">
								<textarea id="yearActualPlan" name="yearActualPlan"  class="tabletext" title="$!{searchMap.txt2html("year")}년도 실행계획" cols="10" rows="3">$!{CS_HTML.txt2html($detail.YEAR_ACTUAL_PLAN)}</textarea>
								<span id="yearActualPlanIndicator">0</span>/4000byte
							</td>
    					</tr>
						
						<tr>
    						<th scope="row"><label for="multyYearActualPlan">$!{CS_HTML.txt2html($yearDetail.Y_1)}~$!{CS_HTML.txt2html($yearDetail.Y_2)}년도 실행계획</label></th>
    						<td colspan="3">
								<textarea id="multyYearActualPlan" name="multyYearActualPlan"  class="tabletext" title="KPI 목적" cols="10" rows="3">$!{CS_HTML.txt2html($detail.MULTY_YEAR_ACTUAL_PLAN)}</textarea>
								<span id="multyYearActualPlanIndicator">0</span>/4000byte
							</td>
    					</tr>
						
						<tr>
    						<th scope="row">첨부파일</th>
    						<td colspan="3">
								#foreach($fileList in $fileList)
									$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))} 
									&nbsp;&nbsp;<input type="checkbox" name="delAttachFiles" id="delAttachFile$!{fileList.get("SEQ")}" value="$!{fileList.get("SEQ")}" />&nbsp;<label for="delAttachFile$!{fileList.get("SEQ")}">첨부파일 삭제</label> <br/>
								#end
								<a href="javascript:fileAttachAdd();"><img src="$!{img_path}/common/btn_file.gif" class="valign_middle" alt="파일추가" /></a>&nbsp;(첨부파일 용량제한은 100M입니다)<br/>
								<div>
            						<ul id="fileAttach">
            						</ul>
            					</div>
							</td>
    					</tr>
						
						
						<tr>
    						<th scope="row"><label for="sortOrder">정렬순서</label></th>
    						<td colspan="3"><input type="text" id="sortOrder" name="sortOrder" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.SORT_ORDER)}' maxlength="7"/></td>
    					</tr>
						
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>	
    	</div>
    	<div class="clear"></div>
    </div>
</form>
