#*************************************************************************
* CLASS 명      : matrixInputTermModify
* 작 업 자      : 박경태
* 작 업 일      : 2012년 10월 22일 
* 기    능      : 평가일정
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     박경태      2012년 10월 22일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/bsc/matrix/matrixItemScore/matrixItemScoreList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		J("#maxScore").numeric();
		J("#maxScore").css("ime-mode", "disabled");
		
		J("#minScore").numeric();
		J("#minScore").css("ime-mode", "disabled");
	});

//]]>
</script>    
 
<div class="tableTop">
	#parse("/WEB-INF/vl/common/template/tabs.vm")
	<div class="clear"></div>
</div>
<input type="hidden"	id="evalCnt"        name="evalCnt"        value="$!{CS_HTML.txt2html($detail.EVAL_CNT)}" />
<div class="blockDetail">
	<table summary="평가항목점수 등록">
		<caption class="none">평가항목점수 등록</caption>
		<colgroup>
			<col width="130" />
			<col width="200" />
		</colgroup>
		<tbody>
			<tr>
                <th scope="row"><label for="year">평가년도</label></th>
				<td>
					<select id="year" name="year" class="select w110" disabled>
						$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
					</select>
				</td>
			</tr>
			
			<tr>
                <th scope="row"><span class="txt_red">(*)</span> <label for="maxScore">최고점수</label></th>
				<td>
					<input type="text" id="maxScore" name="maxScore" class="inputbox w100" value='$!{CS_HTML.txt2html($!{detail.MAX_SCORE})}' maxlength="4" />
                </td>
			</tr>
			<tr>
				<th scope="row"><span class="txt_red">(*)</span> <label for="minScore">최저점수</label></th>
                <td>
                	<input type="text" id="minScore" name="minScore" class="inputbox w100" value="$!{CS_HTML.txt2html($!{detail.MIN_SCORE})}" maxlength="4" />
                </td>
            </tr>
		</tbody>
	</table>
</div>
<div class="clear"></div>
