<?xml version="1.0" encoding="UTF-8"?>

#*************************************************************************
* CLASS 명	: strategyList_ajax
* 작 업 자		: 김민주
* 작 업 일		: 2013년 06월 22일
* 기    능		: CSF관리 전략과제 Ajax
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김 민 주     2013년 06월 22일         최 초 작 업
**************************************************************************#

<dataset>

#foreach($list in $strategyList)
	<data>
		<value>$!{CS_HTML.txt2html($list.STRAT_ID)}</value>
		<text>$!{CS_HTML.txt2html($list.STRAT_NM)}</text>
	</data>
#end

</dataset>
