<?xml version="1.0" encoding="UTF-8"?>

#*************************************************************************
* CLASS 명      : evalDegree_ajax.vm
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 11월 26일 
* 기    능      : 개인성과 평가실시 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용         비고
* -----  ----------  -------------------  ---------------------- ---------
*  1      현걸욱       2012년 11월 26일         최 초 작 업 
**************************************************************************# 

<dataset>

#foreach($list in $evalDegreeList)
	<data>
		<value>$!{CS_HTML.txt2html($list.EVAL_DEGREE_ID)}</value>
		<text>$!{CS_HTML.txt2html($list.EVAL_DEGREE_NM)}</text>
	</data>	
#end

</dataset>
