#*************************************************************************
* CLASS 명      : imponEvalModify_xml
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 11월 26일 
* 기    능      : 개인평가 평가실시 (현황) json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      현걸욱     2012년 11월 26일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($evalList.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $evalList)
	{
		"EVAL_ITEM_ID"        	: "$!{CS_HTML.txt2html($list.EVAL_ITEM_ID)}",
		"EVAL_ITEM_NM"        	: "$!{CS_HTML.txt2html($list.EVAL_ITEM_NM)}",
		"EVAL_ITEM_ID_AC"     	: "$!{CS_HTML.txt2html($list.EVAL_ITEM_ID_AC)}",
		"ITEM_ID"        		: "$!{CS_HTML.txt2html($list.ITEM_ID)}",
		"ITEM_NM"        		: "$!{CS_HTML.txt2html($list.ITEM_NM)}",
		
		#foreach($gradeList in $gradeList)
			"$!{CS_HTML.txt2html($gradeList.GRADE_ITEM_ID)}"  : "$!{CS_HTML.txt2html($list.get($gradeList.GRADE_ITEM_ID))}", 
		#end
		
		"YEAR"     				: "$!{CS_HTML.txt2html($list.YEAR)}", 
		"EVAL_DEGREE_ID"     	: "$!{CS_HTML.txt2html($list.EVAL_DEGREE_ID)}", 
		"EVAL_USER_GRP_ID"      : "$!{CS_HTML.txt2html($list.EVAL_USER_GRP_ID)}", 
		"METRIC_GRP_ID"        	: "$!{CS_HTML.txt2html($list.METRIC_GRP_ID)}", 
		"ITEM_GBN"        		: "$!{CS_HTML.txt2html($list.ITEM_GBN)}",
		"SEQ"	        		: "$!{CS_HTML.txt2html($list.SEQ)}",
		"GRADE_NUM"	        	: "$!{CS_HTML.txt2html($list.GRADE_NUM)}",
		"GRADE"	        		: "$!{CS_HTML.txt2html($GRADE)}",
		"EUG_ROWSPAN_CNT"	    : "$!{CS_HTML.txt2html($list.EUG_ROWSPAN_CNT)}",
		"EUG_ROWSPAN_IDX"	    : "$!{CS_HTML.txt2html($list.EUG_ROWSPAN_IDX)}",
		"MG_ROWSPAN_CNT"	    : "$!{CS_HTML.txt2html($list.MG_ROWSPAN_CNT)}",
		"MG_ROWSPAN_IDX"	    : "$!{CS_HTML.txt2html($list.MG_ROWSPAN_IDX)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
