#*************************************************************************
* CLASS 명      : archiveTotMonList_xml
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 11월 13일 
* 기    능      : 계량평가지표현황표 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      하윤식     2012년 11월 13일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"EVAL_CAT_GRP_NM"      : "$!{CS_HTML.txt2html($list.EVAL_CAT_GRP_NM)}", 
		"EVAL_CAT_NM"          : "$!{CS_HTML.txt2html($list.EVAL_CAT_NM)}", 
		"GOV_METRIC_ID"        : "$!{CS_HTML.txt2html($list.GOV_METRIC_ID)}", 
		"GOV_METRIC_NM"        : "$!{CS_HTML.txt2html($list.GOV_METRIC_NM)}", 
		"GBN_NM"               : "$!{CS_HTML.txt2html($list.GBN_NM)}", 
		"EVAL_METHOD_NM"       : "$!{CS_HTML.txt2html($list.EVAL_METHOD_NM)}", 
		"DIREC_NM"             : "$!{CS_HTML.txt2html($list.DIREC_NM)}", 
		"SC_DEPT_NM"           : "$!{CS_HTML.txt2html($list.SC_DEPT_NM)}", 
		"INSERT_USER_NM"       : "$!{CS_HTML.txt2html($list.INSERT_USER_NM)}", 
		"MAIN_METRIC_YN"       : "$!{CS_HTML.txt2html($list.MAIN_METRIC_YN)}", 
		"ACTUAL"               : "$!{CS_HTML.txt2htmlActualFormat($list.ACTUAL)}", 
		"SCORE"                : "$!{CS_HTML.txt2htmlScoreFormat($list.SCORE)}", 
		
		#foreach($mappingDeptList in $mappingDeptList)
			"DEPT_$!{CS_HTML.txt2html($mappingDeptList.SC_DEPT_ID)}" : "$!{CS_HTML.txt2html($list.get($mappingDeptList.DEPT_COL_NM))}|$!{CS_HTML.txt2html($list.get($mappingDeptList.METRIC_COL_NM))}" ,
		#end
		
		#foreach($mappingDeptList in $mappingDeptList)
			"METRIC_$!{CS_HTML.txt2html($mappingDeptList.SC_DEPT_ID)}" : "$!{CS_HTML.txt2html($list.get($mappingDeptList.METRIC_COL_NM))}" ,
		#end
		
		"STATUS_ID"            : "$!{CS_HTML.txt2html($list.STATUS_ID)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
