#*************************************************************************
* CLASS 명      : empMemberList
* 작 업 자      : 방승현
* 작 업 일      : 2013년 06월 22일 
* 기    능      : 직원개인평가 평가대상자 선정관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  -----------  -----------------  -------------------------  --------
*  1       방승현      2013년 06월 22일         최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/prs/evalCon/empEvalConMember/empEvalConMemberList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/prs/evalCon/empEvalConMember/empEvalConMemberList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_r_width},
			colNames     :['사번','사원번호', '이름', '부서코드','부서명', '직급코드', '직급', '직위코드', '직위','직무수행기간','평가자', '직원평가대상여부'],
			colModel     :[
							{name:'EMPNS'   		,index:'EMPNS'				,width:70		,align:'center' , formatter:linkEmpn},
							{name:'EMPN'   			,index:'EMPN'				,width:60		,align:'center' },
							{name:'KOR_NM'   		,index:'KOR_NM'				,width:50   	,align:'center' ,formatter:linkUpdate},
							{name:'DEPT_CD'			,index:'DEPT_CD'			,width:150		,align:'center' },
							{name:'DEPT_FULL_NM'	,index:'DEPT_FULL_NM'		,width:100		,align:'left' },
							{name:'CAST_TC'			,index:'CAST_TC'			,width:80		,align:'center' },
							{name:'CAST_TC_NM'		,index:'CAST_TC_NM'			,width:50		,align:'center' },
							{name:'POS_TC'			,index:'POS_TC'				,width:80		,align:'center' },
							{name:'POS_TC_NM'		,index:'POS_TC_NM'			,width:50		,align:'center' },
							{name:'WORK_TREM'		,index:'WORK_TREM'			,width:120		,align:'center' },
							{name:'MANAGER_USER_NM'	,index:'MANAGER_USER_NM'	,width:50		,align:'center' },
							{name:'EVAL_YN'			,index:'EVAL_YN'			,width:80		,align:'center' , formatter:goEval}
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : true,
			cellEdit     : true,
			loadComplete : function() {

                var id         = J("#list").getGridParam('selarrrow');
                var ids        = J("#list").jqGrid('getDataIDs');
                
			},
			caption:"직원개인평가"
		}).jqGrid('hideCol', "DEPT_CD").jqGrid('hideCol', "EMPNS").jqGrid('hideCol', "CAST_TC").jqGrid('hideCol', "POS_TC").setGridWidth($!{jqGrid_r_width});
        
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
        
		/******************************************
		 * 직원평가가져오기 버튼 클릭 이벤트
		 ******************************************/
		J("#btnInsaInfo").click(function() {
			getInsaInfo();
			return false;
		});
		
		/******************************************
         * 저장
         ******************************************/
        J("#btnSave").click(function(e) {
            e.preventDefault();
            saveChk();
        });
        
        /******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
		
		
		/******************************************
         * 추가
         ******************************************/
        J("#btnInsert").click(function(e) {
			 e.preventDefault();
            goInsert();
        });
		
		 /******************************************
         * 삭제
         ******************************************/
        J("#btnDelete").click(function(e) {
            goDelete();
        });
	
	});
	
	 /******************************************
     * 대상자 추가
     ******************************************/
    function goInsert() {
        J("#year").val(J("#findYear").val());
        J("#mode").val("ADD");
        J("#formList").attr("action", "$!{context_path}/prs/evalCon/empEvalConMember/evalMngModify.vw?type=template").submit();
    }
	
	/******************************************
     * jqGrid 사원번호
     ******************************************/
    function linkEmpn(cellvalue, options, rowObject) {
    	return '<input type="text" name="empns" value="' + cellvalue + '" class="wp50" readonly="readonly"/>';
    }
    
	/******************************************
     * jqGrid 개인업적평가여부
     ******************************************/
    function goEval(cellvalue, options, rowObject) {
    	
    	var str = "";
    	//var ids = "evalYn" + options.rowId;
		var ids = "evalYn" + rowObject.EMPN;
    	
    	if (cellvalue == "Y") {
	    	str += '<input type="radio" id="' + ids + '" name="' + ids + '" value="Y" checked="checked"  /> 평가 &nbsp;';
	    	str += '<input type="radio" id="' + ids + '" name="' + ids + '" value="N"  /> 미평가 &nbsp;';
    	} else {
    		str += '<input type="radio" id="' + ids + '" name="' + ids + '" value="Y"  /> 평가 &nbsp;';
	    	str += '<input type="radio" id="' + ids + '" name="' + ids + '" value="N" checked="checked" /> 미평가 &nbsp;';
    	}
    	
    	return str;
    	
    }
    
	/******************************************
	 * 그리드 ajax 조회
	 ******************************************/
	function goGridSearch() {
		J("#list").setGridParam({url:"$!{context_path}/prs/evalCon/empEvalConMember/empEvalConMemberList_xml.vw?"+J("#formFind").serialize(), datatype:"json"}); 
		J("#list").trigger("reloadGrid");
	}
	
	/******************************************
	 * 조직선택 클릭이벤트
	 ******************************************/
	function goAction(deptCd, deptNm) {
		setDeptInfo(deptCd, deptNm);
	}
	
	/*****************************************************
	 * 조직선택 설정
	 *****************************************************/ 
	function setDeptInfo(deptCd, deptNm) {
		
		// 조직트리에서 조직 선택 시 Ajax로 데이터그리드만 다시 조회하므로 formList의 searchMap.makeHiddenFind() 가 다시 생성되지 않음.
		// formList가 submit되는 경우(추가, 수정, 삭제) 조직트리에서 선택된 조직의 정보를  유지시켜주기 위해 설정.
		J("#formList input[name=findDeptCd]").val(deptCd);
		J("#formList input[name=findDeptNm]").val(J(deptNm).text());
		
		//var findCastTc = J("input:radio[name=findCastTc]:checked").val();
		J('input:radio[name=findCastTc]:input[value=""]').attr("checked", true);
		
	
			// formFind의 변수들 설정.
			J("#findDeptCd").val(deptCd);			// 조직Tree에서 선택한 조직코드를 설정.
			J("#findDeptNm").val(J(deptNm).text());	// 조직Tree에서 선택한 조직명을 설정.(추가 등록시 사용함.)
			
			goGridSearch();
			
	}
	
	/******************************************
	 * 직원평가 대상자 불러오기
	 ******************************************/
	function getInsaInfo() {
		J.showConfirmBox("직원평가 불러오기를 하시면 기존에 입력한 데이터가 삭제됩니다. 진행하시겠습니까?", "getInsaInfoDo"); //getInsaInfoDo() 콜백함수 호출
	}
	
	function getInsaInfoDo() {
		J("#mode").val("GET");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/prs/evalCon/empEvalConMember/empEvalConMemberProcess.vw?type=template").submit();
	}
	
	/******************************************
     * 필수입력 체크
     ******************************************/
    function saveChk() {
		var ids	= J("#list").jqGrid('getDataIDs');
		
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
		
    }

    /******************************************
     * 저장
     ******************************************/
    function saveDo() {	
		
        J("#mode").val("SAVE");
        J("#year").val(J("#findYear").val());
        J("#formList").attr("action", "$!{context_path}/prs/evalCon/empEvalConMember/empEvalConMemberProcess.vw?type=template").submit();
                
        return false;

    }
	
	 /******************************************
     * jqGrid 수정페이지 링크
     ******************************************/
    function linkUpdate(cellvalue, options, rowObject) { 
        return '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '<//a>';
    }
	
	 /******************************************
     * 수정
     ******************************************/
    function goModify(rowId) {
        var ret = J("#list").jqGrid('getRowData',rowId);
        
        J("#year").val(J("#findYear").val());
        J("#evalMembEmpn").val(ret.EMPN);
        J("#mode").val("MOD");
        J("#formList").attr("action", "$!{context_path}/prs/evalCon/empEvalConMember/evalMngModify.vw?type=template").submit();
    }
    
    /******************************************
     * 라디오버튼 변경시
     ******************************************/
    function reNew() {
    	
    	var findCastTc1 = J("input:radio[name=findCastTc]:checked").val();
		J('input:radio[name=findCastTc]:input[value=findCastTc1]').attr("checked", true);
    		
		J("#formFind input[name=findDeptCd]").val("0000");
		
        J("#formFind").attr("action", "$!{context_path}/prs/evalCon/empEvalConMember/empEvalConMemberList.vw?type=template").submit();
                
        return false;

    }
		
	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#yearNm").val(J("#findYear").val() + "년");
		J("#formList").attr("action", "$!{context_path}/prs/evalCon/empEvalConMember/empEvalConMemberListExcel.vw?type=excel").submit();
		return false;
	}
	
	 /******************************************
     * 삭제
     ******************************************/
    function goDelete() {
        if(!J.gridSelectChk("list")){
            J.showMsgBox("삭제할 데이터를 선택하십시요", null, null); 
        } else {
            J.showConfirmBox("<font color='red' style='font-weight:bold;'>성과계획서 및 평가결과</font>가 있을 경우 삭제됩니다.\n삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
        }
    }
	
	/******************************************
     * 삭제처리
     ******************************************/
    function deleteDo() {
        var id = J("#list").getGridParam('selarrrow');
        var ids = J("#list").jqGrid('getDataIDs');
        var rowdata = "";
        var year = "";
        var empn = "";
        
        for (var i = 0; i < ids.length; i++) {
            J.each(id, function (index, value) {
                if (value == ids[i]) {
                    rowdata = J("#list").getRowData(ids[i]);
                    empn += rowdata.EMPN + '|';
                }
            });
        }
        
        J("#mode").val("DEL");
        J("#year").val(J("#findYear").val());
        J("#empn").val(empn);
        J("#formList").attr("action", "$!{context_path}/prs/evalCon/empEvalConMember/empEvalConMemberProcess.vw?type=template").submit();
        return false;
    }
	
	
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">평가대상자</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/evalCon/empEvalConMember/empEvalConMemberList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"	id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden" 	id="findDeptCd"		name="findDeptCd"		value="$!{searchMap.txt2html("findDeptCd")}" />
				<input type="hidden" 	id="findDeptNm"		name="findDeptNm"		value="$!{searchMap.txt2html("findDeptNm")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="평가대상자 검색 조건">
						<caption class="none">평가대상자 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w200">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w300">
    								<span><label for="findCastTc">직급</label></span>
            						<span class="searchBar">
        								<input type="radio" id="findCastTc1" name="findCastTc" onchange="reNew();" value="" $!{CS_HTML.getChecked($!{searchMap.txt2html("findCastTc")}, '')} /> 전체 &nbsp;
        								<input type="radio" id="findCastTc2" name="findCastTc" onchange="reNew();" value="40" $!{CS_HTML.getChecked($!{searchMap.txt2html("findCastTc")}, '40')} /> 4급 &nbsp;
        								<input type="radio" id="findCastTc3" name="findCastTc" onchange="reNew();" value="50" $!{CS_HTML.getChecked($!{searchMap.txt2html("findCastTc")}, '50')} /> 5급 &nbsp;
        								<input type="radio" id="findCastTc4" name="findCastTc" onchange="reNew();" value="60" $!{CS_HTML.getChecked($!{searchMap.txt2html("findCastTc")}, '60')} /> 6급 &nbsp;
        								<input type="radio" id="findCastTc5" name="findCastTc" onchange="reNew();" value="61" $!{CS_HTML.getChecked($!{searchMap.txt2html("findCastTc")}, '61')} /> 7급 &nbsp;
                                    </span>
    							</td>
								<td class="searchBox_tit w200">
            						<span><label for="findKorNm">이름</label></span>
            						<span class="searchBar">
            							<input type="text" name="findKorNm" id="findKorNm" value="$!{searchMap.txt2html("findKorNm")}" title="이름"/>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/prs/evalCon/empEvalConMember/empEvalConMemberProcess.vw?type=template">
			<input type="hidden" id="mode"       	name="mode" />
			<input type="hidden" id="year"       	name="year" />
			<input type="hidden" id="empn"       	name="empn" />
			<input type="hidden" id="evalYn"       	name="evalYn" />
			<input type="hidden" id="evalMembEmpn"  name="evalMembEmpn" />
			<input type="hidden" id="yearNm"     	name="yearNm" />
			
			$!{searchMap.makeHiddenFind()}
			
			<div id="splitterBox">
				<div>
					<!-- 조직트리 Start -->
					<div class="blockGridTreeTable">
						#parse("/WEB-INF/vl/prs/evalCon/empEvalConMember/deptTree.vm")
					</div>
						
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable floatRight">
						<table id="list" summary="평가대상자 조회결과" padding-left:"5px">
							<caption class="none">평가대상자 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					
					<div class="blockButton_all floatLeft">
						<div class="blockButton" style="float:left; text-align:left; width:700px;">
							<ul>
								<input id="btnExcelDown" type="button" align="middle" value="엑셀변환", alt="엑셀변환" />
								<input id="btnInsaInfo" type="button" align="middle" value="직원평가 대상자 가져오기" alt="직원평가 대상자 가져오기" />
								&nbsp;&nbsp;
	                            <li><span id="closeAlert" class="txt_red2"> ※ 기본 평가제외대상 : 직급(임원,1급,2급,3급) , 직위(관리원,수습) </li>	
							</ul>
						</div>
						<div class="blockButton">
                            <ul> 
								<li><input type="button" id="btnSave"	value="저장" /></li>
                                <li><input type="button" id="btnInsert" value="추가" /></li>
                                <li><input type="button" id="btnDelete" value="삭제" /></li>
                            </ul>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>
