#*************************************************************************
* CLASS 명      : matrixItemPartList_xml
* 작 업 자      : 박경태
* 작 업 일      : 2012년 10월 23일 
* 기    능      : 평가세부항목 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      박경태     2012년 10월 23일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"ITEM_GRP_ID"          : "$!{CS_HTML.txt2html($list.ITEM_GRP_ID)}", 
		"ITEM_ID"              : "$!{CS_HTML.txt2html($list.ITEM_ID)}", 
		"ITEM_NM"              : "$!{CS_HTML.txt2html($list.ITEM_NM)}", 
		"CONTENT"              : "$!{CS_HTML.txt2html($list.CONTENT)}", 
		"WEIGHT"               : "$!{CS_HTML.txt2html($list.WEIGHT)}",
		"SORT_ORDER"           : "$!{CS_HTML.txt2html($list.SORT_ORDER)}",
		"SUBMIT_CNT"           : "$!{CS_HTML.txt2html($list.SUBMIT_CNT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
