#*************************************************************************
* CLASS 명      : certificationEffortList_xml
* 작 업 자      : 김기현
* 작 업 일      : 2012년 8월 12일 
* 기    능      : 시스템 연계데이터 조회 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김기현     2012년 8월 12일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"               		: "$!{CS_HTML.txt2html($list.YEAR)}",
		"MON"               		: "$!{CS_HTML.txt2html($list.MON)}",
		"DEPT_CD"               	: "$!{CS_HTML.txt2html($list.DEPT_CD)}",
		"DEPT_NM"               	: #if($!{searchMap.txt2html("findDeptId")} == "2310" ) "안전기기부",
									  #elseif( $!{searchMap.txt2html("findDeptId")} == "2305") "연소기기부",
									  #else "$!{CS_HTML.txt2html($list.DEPT_NM)}",
									  #end
		"ROLE_TC"              		: "$!{CS_HTML.txt2html($list.ROLE_TC)}",
		"ROLE_TC_NM"              	: "$!{CS_HTML.txt2html($list.ROLE_TC_NM)}",
		"INSP_KIND_TC"            	: "$!{CS_HTML.txt2html($list.INSP_KIND_TC)}",
		"INSP_KIND_TC_NM"          	: "$!{CS_HTML.txt2html($list.INSP_KIND_TC_NM)}",
		"STIC_LAG_TC"            	: "$!{CS_HTML.txt2html($list.STIC_LAG_TC)}",
		"STIC_LAG_TC_NM"            : "$!{CS_HTML.txt2html($list.STIC_LAG_TC_NM)}",
		"STIC_MID_TC_NM"            : "$!{CS_HTML.txt2html($list.STIC_LAG_TC_NM)}",
		"STIC_SML_TC_NM"            : "$!{CS_HTML.txt2html($list.STIC_LAG_TC_NM)}",
		"REQ_AMT"            		: "$!{CS_HTML.txt2html($list.REQ_AMT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
