#*************************************************************************
* CLASS 명      : memModifyEmpList_xml
* 작 업 자      : 유연주
* 작 업 일      : 2017년03월 17일 
* 기    능      : 평가대상자관리 변경정보조회 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      유연주    2017년03월17일      최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"              : "$!{CS_HTML.txt2html($list.YEAR)}",
		"EMP_NO"            : "$!{CS_HTML.txt2html($list.EMP_NO)}",
		"EMP_NM"            : "$!{CS_HTML.txt2html($list.EMP_NM)}",
		"DEPT_CD"           : "$!{CS_HTML.txt2html($list.DEPT_CD)}",
		"DEPT_NM"           : "$!{CS_HTML.txt2html($list.DEPT_NM)}",
		"CAST_TC"           : "$!{CS_HTML.txt2html($list.CAST_TC)}",
		"CAST_NM"           : "$!{CS_HTML.txt2html($list.CAST_NM)}",
		"POS_TC"            : "$!{CS_HTML.txt2html($list.POS_TC)}",
		"POS_NM"            : "$!{CS_HTML.txt2html($list.POS_NM)}",
		"BSC_DEPT_CD"       : "$!{CS_HTML.txt2html($list.BSC_DEPT_CD)}",
		"BSC_DEPT_NM"       : "$!{CS_HTML.txt2html($list.BSC_DEPT_NM)}",
		"BSC_CAST_TC"       : "$!{CS_HTML.txt2html($list.BSC_CAST_TC)}",
		"BSC_CAST_NM"       : "$!{CS_HTML.txt2html($list.BSC_CAST_NM)}",
		"BSC_POS_TC"        : "$!{CS_HTML.txt2html($list.BSC_POS_TC)}",
		"BSC_POS_NM"        : "$!{CS_HTML.txt2html($list.BSC_POS_NM)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
