#*************************************************************************
* CLASS 명      : memUserList
* 작 업 자      : 유연주
* 작 업 일      : 2017년03월 16일
* 기    능      : 평가대상자관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     유연주      2017년03월16일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/mem/base/memUser/memUserList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/mem/base/memUser/memUserList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			colNames     :['기준년도'
			             , '사번'
			             , '사번'
			             , '대상자'
			             , '대상자'
			             , '부서코드'
			             , '부서'
			             , '직급코드'
			             , '직급'
			             , '직위코드'
			             , '직위'
			             , '평가그룹'
			             , '평가그룹'
			             , '1차평가자'
			             , '1차평가자'
			             , '1차평가자부서코드'
			             , '1차평가자직급'
			             , '1차평가자직위'
			             , '2차평가자'
			             , '2차평가자'
			             , '2차평가자부서코드'
			             , '2차평가자직급'
			             , '2차평가자직위'
			             , '동료<br>평가'
			             , '평가대상여부'
			             , '평가제외사유'
			             , '지표처리상태코드'
			             , '인사정보변경<br>적용일'],
			colModel     :[
							{name:'YEAR'                   ,index:'YEAR'                   ,width:0     ,align:'center' },
                            {name:'EMP_NO'                 ,index:'EMP_NO'                 ,width:40    ,align:'center' ,formatter:linkEmpNo},
                            {name:'EMP_NO_TMP'             ,index:'EMP_NO_TMP'             ,width:0     ,align:'center' },
                            {name:'EMP_NM'                 ,index:'EMP_NM'                 ,width:40    ,align:'center' ,formatter:linkUpdate},
                            {name:'EMP_NM_TMP'             ,index:'EMP_NM_TMP'             ,width:50    ,align:'center' },
                            {name:'DEPT_CD'                ,index:'DEPT_CD'                ,width:0     ,align:'center' },
                            {name:'DEPT_NM'                ,index:'DEPT_NM'                ,width:120   ,align:'left' },
                            {name:'CAST_TC'                ,index:'CAST_TC'                ,width:0     ,align:'center' },
							{name:'CAST_NM'                ,index:'CAST_NM'                ,width:40    ,align:'center' },
							{name:'POS_TC'                 ,index:'POS_TC'                 ,width:0     ,align:'center' },
                            {name:'POS_NM'                 ,index:'POS_NM'                 ,width:50    ,align:'center' },
                            {name:'EVAL_GRP_ID'            ,index:'EVAL_GRP_ID'            ,width:100   ,align:'center' ,formatter:goEvalGrpId},
                            {name:'EVAL_GRP_ID_TMP'        ,index:'EVAL_GRP_ID_TMP'        ,width:0     ,align:'center' },
                            {name:'EVAL_1_EMP_NO'          ,index:'EVAL_1_EMP_NO'          ,width:0     ,align:'center' ,formatter:linkFirstEmpn},
                            {name:'EVAL_1_EMP_NM'          ,index:'EVAL_1_EMP_NM'          ,width:80    ,align:'center' ,formatter:go1Assessor},
                            {name:'EVAL_1_DEPT_CD'         ,index:'EVAL_1_DEPT_CD'         ,width:0     ,align:'center' },
                            {name:'EVAL_1_CAST_TC'         ,index:'EVAL_1_CAST_TC'         ,width:0     ,align:'center' },
							{name:'EVAL_1_POS_TC'          ,index:'EVAL_1_POS_TC'          ,width:0     ,align:'center' },
							{name:'EVAL_2_EMP_NO'          ,index:'EVAL_2_EMP_NO'          ,width:0     ,align:'center' ,formatter:linkSeconEmpn},
							{name:'EVAL_2_EMP_NM'          ,index:'EVAL_2_EMP_NM'          ,width:80    ,align:'center' ,formatter:go2Assessor},
                            {name:'EVAL_2_DEPT_CD'         ,index:'EVAL_2_DEPT_CD'         ,width:0     ,align:'center' },
                            {name:'EVAL_2_CAST_TC'         ,index:'EVAL_2_CAST_TC'         ,width:0     ,align:'center' },
                            {name:'EVAL_2_POS_TC'          ,index:'EVAL_2_POS_TC'          ,width:0     ,align:'center' },
                            {name:'EVAL_PEER_COUNT'        ,index:'EVAL_PEER_COUNT'        ,width:30    ,align:'center' ,formatter:linkPeerList},
                            {name:'EVAL_TGT_YN'            ,index:'EVAL_TGT_YN'            ,width:60    ,align:'center' ,formatter:goEvalTgtYn},
                            {name:'EVAL_EXP_RS_ID'         ,index:'EVAL_EXP_RS_ID'         ,width:110   ,align:'center' ,formatter:goEvalExpRsId},
							{name:'METRIC_STATUS_ID'       ,index:'METRIC_STATUS_ID'       ,width:0     ,align:'center' },
							{name:'BSC_MODIFY_DT'          ,index:'BSC_MODIFY_DT'          ,width:60   ,align:'center' }
							],
			autowidth    : false,
			rowNum       : 15,
			pager		 : jQuery('#pager'),
			viewrecords  : true,
			loadonce     : true,
			multiselect  : true,
			cellEdit     : true,
			gridview     : true,
			##cmTemplate   : {sortable:false},
			loadComplete : function() {
					J("input[name=orders]").numeric({allow:""});        	//특정문자 허용(.)
					J("input[name=orders]").css("ime-mode", "disabled"); 	//한글사용 비활성화
					J("select[name=findCastTc] option:eq(1)").remove();
					J("select[name=findPosTc] option:eq(1)").remove();
				  },
			caption:"평가대상자관리"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"DEPT_CD").jqGrid('hideCol',"CAST_TC").jqGrid('hideCol',"POS_TC").jqGrid('hideCol',"EMP_NO_TMP").jqGrid('hideCol',"EMP_NM_TMP")
			.jqGrid('hideCol',"EVAL_1_EMP_NO").jqGrid('hideCol',"EVAL_1_DEPT_CD").jqGrid('hideCol',"EVAL_1_CAST_TC").jqGrid('hideCol',"EVAL_1_POS_TC")
			.jqGrid('hideCol',"EVAL_2_EMP_NO").jqGrid('hideCol',"EVAL_2_DEPT_CD").jqGrid('hideCol',"EVAL_2_CAST_TC").jqGrid('hideCol',"EVAL_2_POS_TC")
			.jqGrid('hideCol',"METRIC_STATUS_ID").jqGrid('hideCol',"EVAL_GRP_ID_TMP")
			.setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnInsert").click(function() {
			goInsert();
			return false;
		});
		
		/******************************************
		 * 일괄저장
		 ******************************************/
		J("#btnAllSave").click(function() {
			goAllSave();
			return false;
		});

		/******************************************
		 * 변경정보조회
		 ******************************************/
		J("#btnModifyEmp").click(function() {
			goModifyEmp();
			return false;
		});

		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});

    	
		/******************************************
         * 평가대상자관리 엑셀다운로드 버튼 클릭 이벤트
         ******************************************/
        J("#btnExcelDown").click(function() {
            ExcelDownload();
            return false;
        });
        
		/******************************************
		 * 평가대상자가져오기 버튼 클릭 이벤트
		 ******************************************/
		J("#btnGetTargetUser").click(function() {
			getTargetUser();
			return false;
		});
		
		/******************************************
		 * 동료평가재설정 버튼 클릭 이벤트
		 ******************************************/
		J("#btnRePeer").click(function() {
			getRePeer();
			return false;
		});
        
    	/******************************************
    	 * 부서선택 팝업호출
    	 ******************************************/
    	J("#icSearch").fancybox();
        
		/******************************************
         * fancy Box 팝업호출
         ******************************************/
        J("#anchor").fancybox(); 
	});

	/******************************************
     * 평가대상자관리 엑셀다운로드
     ******************************************/
    function ExcelDownload(){
        J("#yearNm").val(J("#findYear > option:selected").text());
        J("#castTcNm").val(J("#findCastTc > option:selected").text());
        J("#posTcNm").val(J("#findPosTc > option:selected").text());
        J("#formList").attr("action", "$!{context_path}/mem/base/memUser/memUserExcel.vw?type=excel").submit();
        return false;
    }
    
	/******************************************
     * jqGrid 평가대상자 사원번호
     ******************************************/
    function linkEmpNo(cellvalue, options, rowObject) {
    	return '<input type="hidden" name="gEmpNos" value="' + cellvalue + '" class="wp50" readonly="readonly"/>'+cellvalue;
    }

	/******************************************
	 * jqGrid 신규페이지 링크
	 ******************************************/
	function goModifyEmp(){
		J("#year").val(J("#findYear").val());
		J("#mode").val("MODIFYEMP");
		J("#formList").attr("action", "$!{context_path}/mem/base/memUser/memModifyEmpList.vw?type=template").submit();
	}
	
	/******************************************
	 * jqGrid 신규페이지 링크
	 ******************************************/
	function goInsert(){
		J("#year").val(J("#findYear").val());
		J("#mode").val("ADD");
		J("#formList").attr("action", "$!{context_path}/mem/base/memUser/memUserModify.vw?type=template").submit();
	}

	/******************************************
     * jqGrid 1차평가자 사원번호
     ******************************************/
    function linkFirstEmpn(cellvalue, options, rowObject) {
    	return '<input type="text" name="gEval1EmpNos" value="' + cellvalue + '" class="wp50" readonly="readonly"/>';
    }
    
	/******************************************
     * jqGrid 1차평가자
     ******************************************/
    function go1Assessor(cellvalue, options, rowObject) {
    	var str = '';
        str += '<input type="text" name="firstKornms" value="' + cellvalue + '" class="inputbox w50" readonly="readonly"/>&nbsp;';
        str += '<input type="image" onclick="javascript:popKorNm(' + options.rowId + ');return false;" class="valign_middle" src="$!{img_path}/common/board/ic_search.gif" title="선정" alt="선정"/>&nbsp;';
        str += '<input type="image" onclick="javascript:cancleKorNm(' + options.rowId + ');return false;" class="valign_middle" readonly="readonly" src="$!{img_path}/common/board/ic_cancel.gif" title="취소" alt="취소"/>&nbsp;';
        return str;
   }

	/******************************************
     * jqGrid 2차평가자 사원번호
     ******************************************/
    function linkSeconEmpn(cellvalue, options, rowObject) {
    	return '<input type="text" name="gEval2EmpNos" value="' + cellvalue + '" class="wp50" readonly="readonly"/>';
    }
    
	/******************************************
     * jqGrid 2차평가자
     ******************************************/
    function go2Assessor(cellvalue, options, rowObject) {
    	var str = '';
        str += '<input type="text" name="secondKornms" value="' + cellvalue + '" class="inputbox w50" readonly="readonly"/>&nbsp;';
        str += '<input type="image" onclick="javascript:popKorNm1(' + options.rowId + ');return false;" class="valign_middle" src="$!{img_path}/common/board/ic_search.gif" title="선정" alt="선정"/>&nbsp;';
        str += '<input type="image" onclick="javascript:cancleKorNm1(' + options.rowId + ');return false;" class="valign_middle" readonly="readonly" src="$!{img_path}/common/board/ic_cancel.gif" title="취소" alt="취소"/>&nbsp;';
        return str;
    }
    
	/******************************************
     * 1차평가자팝업 - 부서장 선정
     ******************************************/
    function popKorNm(index) {
        J("#index").val(index);
        var ret = J("#list").jqGrid('getRowData',index);
		var findSearchCodeId = ret.DEPT_CD;
		var gubun ="1";
        J("#anchor").attr("href","$!{context_path}/mem/base/memDeptEvalUser/popSearchUser.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSearchCodeId=" + findSearchCodeId + "&amp;gubun=" + gubun + "&amp;callBack=setManagerUserInfo");
        J("#anchor").click();
    }
    
	/******************************************
     * 선택 취소
     ******************************************/
    function cancleKorNm(index) {
        J("input[name=gEval1EmpNos]").eq(index-1).val("");
        J("input[name=firstKornms]").eq(index-1).val("");
    }
    
    /*****************************************************
	 * 1차평가자- 부서장 선정
	 *****************************************************/ 
	function setManagerUserInfo(arguments) {
		var index = J("#index").val();
		J("input[name=gEval1EmpNos]").eq(index-1).val(arguments[0]);
		J("input[name=firstKornms]").eq(index-1).val(arguments[1]);
		J.fancybox.close();
	}
	
	/******************************************
     * 2차평가자팝업 - 부서장 선정
     ******************************************/
    function popKorNm1(index) {
        J("#index").val(index);
        var ret = J("#list").jqGrid('getRowData',index);
		var findSearchCodeId = ret.DEPT_CD;
		var gubun ="2";
        J("#anchor").attr("href","$!{context_path}/mem/base/memDeptEvalUser/popSearchUser2.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSearchCodeId=" + findSearchCodeId + "&amp;callBack=setManagerUserInfo1");
        J("#anchor").click();
    }
    
	/******************************************
     * 2차평가자선택 취소
     ******************************************/
    function cancleKorNm1(index) {
        J("input[name=gEval2EmpNos]").eq(index-1).val("");
        J("input[name=secondKornms]").eq(index-1).val("");
    }

    /*****************************************************
	 * 2차평가자- 부서장 선정
	 *****************************************************/ 
	function setManagerUserInfo1(arguments) {
		var index = J("#index").val();
		J("input[name=gEval2EmpNos]").eq(index-1).val(arguments[0]);
		J("input[name=secondKornms]").eq(index-1).val(arguments[1]);
		J.fancybox.close();
	}

	/******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		return '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '<//a>';
	}
	
	/******************************************
	 * jqGrid 동료평가자관리 페이지 링크
	 ******************************************/
	function linkPeerList(cellvalue, options, rowObject) {
		return '<a href=javascript:goPeerList(' + options.rowId + ')>' + cellvalue + '<//a>';
	}
	
	/******************************************
     * jqGrid 평가대상여부
     ******************************************/
    function goEvalTgtYn(cellvalue, options, rowObject) {
    	var str = "";
		var ids = "gEvalTgtYns";
    	
    	str += '<select id="' + ids + '" name="' + ids + '" class="select w70">';
    #foreach($evalTgtYnList in $evalTgtYnList)
    	if (cellvalue == "$!{CS_HTML.txt2html($evalTgtYnList.CODE_ID)}") {
    		str += '	<option value="$!{CS_HTML.txt2html($evalTgtYnList.CODE_ID)}" selected>$!{CS_HTML.txt2html($evalTgtYnList.CODE_NM)}</option>';
    	}else{
    		str += '	<option value="$!{CS_HTML.txt2html($evalTgtYnList.CODE_ID)}">$!{CS_HTML.txt2html($evalTgtYnList.CODE_NM)}</option>';
    	}
    #end
        str += '</select>';
    	
    	return str;
    }
    
	/******************************************
     * jqGrid 평가대상여부
     ******************************************/
    function goEvalExpRsId(cellvalue, options, rowObject) {
    	var str = "";
		var ids = "gEvalExpRsIds";
    	
    	str += '<select id="' + ids + '" name="' + ids + '" class="select w150">';
    #foreach($evalExpRsIdList in $evalExpRsIdList)
    	if (cellvalue == "$!{CS_HTML.txt2html($evalExpRsIdList.CODE_ID)}") {
    		str += '	<option value="$!{CS_HTML.txt2html($evalExpRsIdList.CODE_ID)}" selected>$!{CS_HTML.txt2html($evalExpRsIdList.CODE_NM)}</option>';
    	}else{
    		str += '	<option value="$!{CS_HTML.txt2html($evalExpRsIdList.CODE_ID)}">$!{CS_HTML.txt2html($evalExpRsIdList.CODE_NM)}</option>';
    	}
    #end
        str += '</select>';
    	
    	return str;
    }
    
	/******************************************
     * jqGrid 평가그룹
     ******************************************/
    function goEvalGrpId(cellvalue, options, rowObject) {
    	var str = "";
		var ids = "gEvalGrpIds";
    	
    	str += '<select id="' + ids + '" name="' + ids + '" class="select w130">';
    #foreach($evalGrpList in $evalGrpList)
    	if (cellvalue == "$!{CS_HTML.txt2html($evalGrpList.EVAL_GRP_ID)}") {
    		str += '	<option value="$!{CS_HTML.txt2html($evalGrpList.EVAL_GRP_ID)}" selected>$!{CS_HTML.txt2html($evalGrpList.EVAL_GRP_NM)}</option>';
    	}else{
    		str += '	<option value="$!{CS_HTML.txt2html($evalGrpList.EVAL_GRP_ID)}">$!{CS_HTML.txt2html($evalGrpList.EVAL_GRP_NM)}</option>';
    	}
    #end
        str += '</select>';
    	
    	return str;
    }
	
	/******************************************
	 * 수정
	 ******************************************/
	function goModify(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);

		J("#empNo").val(ret.EMP_NO_TMP);
		J("#year").val(J("#findYear").val());
		J("#mode").val("MOD");
		J("#formList").attr("action", "$!{context_path}/mem/base/memUser/memUserModify.vw?type=template").submit();
	}
	
	/******************************************
	 * 피평가자 관리화면 이동
	 ******************************************/
	function goPeerList(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		J("#userFormList input[name=findYear]").val(J("#findYear").val());
		J("#userFormList input[name=findEmpNo]").val(ret.EMP_NO_TMP);
		J("#userFormList input[name=viewEmpNm]").val(ret.EMP_NM_TMP);
		J("#userFormList input[name=findEvalGrpId]").val(ret.EVAL_GRP_ID_TMP);
		
		J("#userFormList input[name=findEmpNm]").val(J("#formFind input[name=findEmpNm]").val());
		J("#userFormList input[name=findDeptCd]").val(J("#formFind input[name=findDeptCd]").val());
		J("#userFormList input[name=findDeptNm]").val(J("#formFind input[name=findDeptNm]").val());
		J("#userFormList input[name=findCastTc]").val(J("#formFind select[name=findCastTc]").val());
		J("#userFormList input[name=findPosTc]").val(J("#formFind select[name=findPosTc]").val());
		
		J("#userFormList input[name=mode]").val("MODPEER");
		J("#userFormList").attr("action", "$!{context_path}/mem/base/memUser/memPeerModify.vw?type=template").submit();
	}

	/******************************************
	 * 일괄저장
	 ******************************************/
	function goAllSave() {
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";

		if(ids.length == 0){
			alert("저장할 항목이 없습니다.");
			return false;
		}

		var evalTgtYn;
		var evalExpRsId;
		for (var i = 0; i < ids.length; i++) {
			evalTgtYn = J("#formList select[name=gEvalTgtYns]").eq(i).val();
			evalExpRsId = J("#formList select[name=gEvalExpRsIds]").eq(i).val();
			
			if(evalTgtYn == 'Y' && evalExpRsId != '99'){
				alert("평가대상여부가 대상일 경우 평가제외사유는 해당없음으로 설정해 주세요.");
				return;
			}
			if(evalTgtYn == 'N' && evalExpRsId == '99'){
				alert("평가대상여부가 미대상일 경우 평가제외사유는 해당없음이 될 수 없습니다.");
				return;
			}
		}


		J.showConfirmBox("일괄저장하시겠습니까?", "allSaveDo"); //allSaveDo() 콜백함수 호출
	}

	/******************************************
	 * 삭제
	 ******************************************/
	function goDelete() {
		if(!J.gridSelectChk("list")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null);
		} else {
    		J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
		}
	}

	/******************************************
	 * 일괄저장 처리
	 ******************************************/
	function allSaveDo() {
		J("#mode").val("SAVE");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/mem/base/memUser/memUserProcess.vw?type=template").submit();
		return false;
	}

	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
		var id = J("#list").getGridParam('selarrrow');
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var empNos = "";

		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#list").getRowData(ids[i]);
					empNos += rowdata.EMP_NO + '|';
				}
			});
		}

		J("#empNos").val(empNos);
		J("#mode").val("DEL");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/mem/base/memUser/memUserProcess.vw?type=template").submit();
		return false;
	}
	
	/******************************************
	 * 평가자관리 평가자 가져오기
	 ******************************************/
	function getTargetUser() {
		J.showConfirmBox("평가대상자 가져오기를 하시면 기존에 입력한 데이터가 삭제됩니다. 진행하시겠습니까?", "doTargetUserInfo"); //doTargetUserInfo() 콜백함수 호출
	}
	
	/******************************************
	 * 평가자관리 동료평가 재설정
	 ******************************************/
	function getRePeer() {
		J.showConfirmBox("동료평가재설정을 하시면 기존에 입력한 데이터가 삭제됩니다. 진행하시겠습니까?", "doRePeer"); //doRePeer() 콜백함수 호출
	}
	
	function doTargetUserInfo() {
		J("#mode").val("GET");
		J("#formList").attr("action", "$!{context_path}/mem/base/memUser/memUserProcess.vw?type=template").submit();
	}
	
	function doRePeer() {
		J("#mode").val("REPEER");
		J("#formList").attr("action", "$!{context_path}/mem/base/memUser/memUserProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 부서검색
	 ******************************************/
	function setDeptInfoPop(deptId, deptNm) {
		J("#findDeptCd").val(deptId);
		J("#findDeptNm").val(deptNm);
		J.fancybox.close();
	}
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">평가대상자관리</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/mem/base/memUser/memUserList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"      name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"       name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"          name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
				<div class="searchBox">
    				<div><div><div>
    				<table summary="평가대상자관리검색 조건">
						<caption class="none">평가대상자관리 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w150">
            						<span><label for="findYear">기준년도</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w200">
            						<span><label for="findDeptNm">부서</label></span>
            						<span class="searchBar">
        								<input type="hidden" id="findDeptCd" name="findDeptCd" value="$!{searchMap.txt2html("findDeptCd")}" />
        								<input type="text" id="findDeptNm" name="findDeptNm" class="inputbox w120" value="$!{searchMap.txt2html("findDeptNm")}" readonly="readonly" maxlength="20" />
        								<a id="icSearch" href="$!{context_path}/prs/org/orgDeptPrsEvalItemAct/popDeptCdTree.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSearchCodeId=$!{searchMap.txt2html("findScDeptId")}"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="부서검색"/></a>
            						</span>
            					</td>
            					<td class="searchBox_tit w120">
            						<span><label for="findCastTc">직급</label></span>
            						<span class="searchBar">
            							<select id="findCastTc" name="findCastTc" class="select w80">
            								<option value="">전체</option>
            								$!CS_CODE.getCodeOption("170", $!{searchMap.txt2html("findCastTc")}, $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w140">
            						<span><label for="findPosTc">직위</label></span>
            						<span class="searchBar">
            							<select id="findPosTc" name="findPosTc" class="select w100">
            								<option value="">전체</option>
            								$!CS_CODE.getCodeOption("171", $!{searchMap.txt2html("findPosTc")}, $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w130">
            						<span><label for="findEmpNm">이름</label></span>
            						<span class="searchBar">
            							<input type="text" name="findEmpNm" id="findEmpNm" value="$!{searchMap.txt2html("findEmpNm")}" title="이름" class="input w80"/>
            						</span>
            					</td>
            					<td class="searchBox_tit w220">
            						<span><label for="findPosTc">인사정보변경여부</label></span>
            						<span class="searchBar">
            							<select id="findPosTc" name="findBscModifyYn" class="select w100">
            								<option value="">전체</option>
            								$!CS_CODE.getCodeOption("251", $!{searchMap.txt2html("findBscModifyYn")}, $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/mem/base/memUser/memUserProcess.vw?type=template">
			<input type="hidden" id="mode"       		name="mode" />
			<input type="hidden" id="year"       		name="year" value="$!{searchMap.txt2html("findYear")}"/>
			<input type="hidden" id="yearNm"     		name="yearNm" />
			<input type="hidden" id="empNos"            name="empNos" />
			<input type="hidden" id="empNo"  	        name="empNo" />
			<input type="hidden" id="empNm"  	        name="empNm" />
			<input type="hidden" id="castTcNm"     		name="castTcNm" />
			<input type="hidden" id="posTcNm"     		name="posTcNm" />
			<input type="hidden" id="index"       	    name="index" />
			
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="평가대상자관리 조회결과">
							<caption class="none">평가대상자관리 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<div class="blockButton_all floatLeft">
						<div class="blockButton" style="float:left; text-align:left; width:78px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀변환", alt="엑셀변환" />
						</div>
						<div class="blockButton">
                            <ul>
                            	<li><input type="button" id="btnGetTargetUser" value="평가대상자 가져오기" /></li>
                            	<li><input type="button" id="btnModifyEmp" value="변경정보조회" /></li>
                            	<li><input type="button" id="btnRePeer" value="동료평가재설정" /></li>
								<li><input type="button" id="btnAllSave" value="일괄저장" /></li>
								<li><input type="button" id="btnInsert" value="신규" /></li>
								<li><input type="submit" id="btnDelete" value="삭제" /></li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
		</form>
		<form id="userFormList" name="userFormList" method="post">
			<input type="hidden" id="findHighPgmId"     name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
			<input type="hidden" id="findSubPgmId"      name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
			<input type="hidden" id="findPgmId"         name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
			<input type="hidden" id="mode"       		name="mode" />
			<input type="hidden" id="findYear"       	name="findYear" />
			<input type="hidden" id="viewEmpNm"         name="viewEmpNm" />
			<input type="hidden" id="findEmpNo"         name="findEmpNo" />
			<input type="hidden" id="findEmpNm"         name="findEmpNm" />
			<input type="hidden" id="findDeptCd"        name="findDeptCd" />
			<input type="hidden" id="findDeptNm"        name="findDeptNm" />
			<input type="hidden" id="findCastTc"        name="findCastTc" />
			<input type="hidden" id="findPosTc"         name="findPosTc" />
			<input type="hidden" id="findEvalGrpId"     name="findEvalGrpId" />
		</form>
	</div>
	<div class="clear"></div>
	<a id="anchor"></a>
</div>
