#*************************************************************************
* CLASS 명      : imponEvalUserGrpList_xml
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 30일 
* 기    능      : 비계량평가단 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      정철수     2012년 11월 30일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"EVAL_USER_GRP_ID"     : "$!{CS_HTML.txt2html($list.EVAL_USER_GRP_ID)}", 
		"EVAL_USER_GRP_NM"     : "$!{CS_HTML.txt2html($list.EVAL_USER_GRP_NM)}", 
		"WEIGHT"               : "$!{CS_HTML.txt2html($list.WEIGHT)}", 
		"DEVIA_YN"             : "$!{CS_HTML.txt2html( $!{CS_HTML.replace( $list.DEVIA_YN, $CONVERT_ARRAY)} )}", 
		"EVAL_USER_GRP_GBN_ID" : "$!{CS_HTML.txt2html($list.EVAL_USER_GRP_GBN_ID)}", 
		"EVAL_USER_GRP_GBN_NM" : "$!{CS_HTML.txt2html($list.EVAL_USER_GRP_GBN_NM)}", 
		"EVAL_USER_CNT"        : "$!{CS_HTML.txt2html($list.EVAL_USER_CNT)}", 
		"SORT_ORDER"           : "$!{CS_HTML.txt2html($list.SORT_ORDER)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
