#*************************************************************************
* CLASS 명      : levelEvalList
* 작 업 자      : 안요한
* 작 업 일      : 2013년 9월 3일
* 기    능      : 조직별KPI 난이도 평가관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     안요한      2013년 9월 3일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/bsc/base/levelEval/levelEvalList.vw")
<script type="text/javascript" language="javascript">
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
	 	var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/base/levelEval/levelEvalList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_r_width},
			colNames     :[ '지표코드', '지표명', '지표그룹ID', '평가조직코드', '지표유형', '평가여부',
							#foreach($evalKpi in $evalKpilist)
							'$!{CS_HTML.txt2html($evalKpi.CODE_NM)}',
							#end
							#foreach($evalKpi in $evalKpilist)
							'$!{CS_HTML.txt2html($evalKpi.CODE_ID)}',
							#end
							'총점','가중치', '가중치2'],
			colModel     :[
							{name:'METRIC_ID'			,index:'METRIC_ID'			,width:50    ,align:'left'   },
							{name:'METRIC_NM'           ,index:'METRIC_NM'			,width:200   ,align:'left'   },
							{name:'METRIC_GRP_ID'		,index:'METRIC_GRP_ID'		,width:50    ,align:'center' },
							{name:'SC_DEPT_ID'			,index:'SC_DEPT_ID'			,width:50    ,align:'center' },
							{name:'TYPE_ID'				,index:'TYPE_ID'			,width:40    ,align:'center' },
							{name:'DEGREE_YN'			,index:'DEGREE_YN'			,width:60    ,align:'center' },
							#foreach($evalKpi in $evalKpilist)
								#set ($itemIds = "SCORE_" + $evalKpi.CODE_ID)
								#set($num = $velocityCount)
							{name:'$!{CS_HTML.txt2html($itemIds)}'					,index:'$!{CS_HTML.txt2html($itemIds)}'					,width:50     ,align:'center' 	,formatter:goScore$num},
							#end
							#foreach($evalKpi in $evalKpilist)
								#set ($itemId = "EVAL_ITEM_ID_" + $evalKpi.CODE_ID)
							{name:'$!{CS_HTML.txt2html($itemId)}'					,index:'$!{CS_HTML.txt2html($itemId)}'					,width:50     ,align:'center' 	},
							#end
							{name:'TOT_SCORE'			,index:'TOT_SCORE'			,width:60    ,align:'center' },
							{name:'WEIGHT'				,index:'WEIGHT'				,width:60    ,align:'center' },
							{name:'CONVERSION_SCORE'	,index:'CONVERSION_SCORE'	,width:60    ,align:'center' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			gridview     : true,
			multiselect  : false,
			cellEdit     : true,
			loadComplete : function() {
				var ids        = J("#list").jqGrid('getDataIDs');
				
				for (var i = 0; i < ids.length; i++) {
					J("input[name='score1']").eq(i).numeric({allow:"."});
					J("input[name='score1']").eq(i).css("ime-mode", "disabled"); //한글사용 비활성화
					J("input[name='score2']").eq(i).numeric({allow:"."});
					J("input[name='score2']").eq(i).css("ime-mode", "disabled"); //한글사용 비활성화
					J("input[name='score3']").eq(i).numeric({allow:"."});
					J("input[name='score3']").eq(i).css("ime-mode", "disabled"); //한글사용 비활성화
					J("input[name='score4']").eq(i).numeric({allow:"."});
					J("input[name='score4']").eq(i).css("ime-mode", "disabled"); //한글사용 비활성화
					
				}
			},
			caption:"조직별난이도평가"
		})#foreach($evalKpi in $evalKpilist)
			#set ($itemId = "EVAL_ITEM_ID_" + $evalKpi.CODE_ID)
			.jqGrid('hideCol',"$itemId")
		  #end
		.jqGrid('hideCol',"METRIC_ID").jqGrid('hideCol',"SC_DEPT_ID").jqGrid('hideCol',"CONVERSION_SCORE")
		.jqGrid('hideCol',"DEGREE_YN").jqGrid('hideCol',"METRIC_GRP_ID").jqGrid('hideCol',"TYPE_ID").setGridWidth($!{jqGrid_r_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			var findYear = J("#findYear").val();
			var oldYear = J("#oldYear").val();

			if(findYear == oldYear) {
    			goGridSearch();
    			return false;
			}
		});

		/******************************************
         * 저장
         ******************************************/
        J("#btnInsert").click(function(e) {
            e.preventDefault();
        	saveChk();
           
        });

		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});

		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#anchor").fancybox();

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
		
		/******************************************
	     * 엑셀업로드 버튼 클릭 이벤트
	     ******************************************/
	    J("#btnExcelUpload").click(function() {
	        J.showConfirmBox("엑셀업로드를 하시면 기존에 입력한 데이터가 삭제됩니다. 진행하시겠습니까?", "excelUpload");
	        return false;
	    });

	});

	/******************************************
	 * 그리드 ajax 조회
	 ******************************************/
	function goGridSearch() {
		J("#list").setGridParam({url:"$!{context_path}/bsc/base/levelEval/levelEvalList_xml.vw?"+J("#formFind").serialize(), datatype:"json"});
		J("#list").trigger("reloadGrid");
	}


	/******************************************
	 * 조직트리 선택
	 ******************************************/
	function goAction(code, name) {
		var scDeptNm = J(name).text();
		J("#findScDeptId").val(code);
		J("#findScDeptNm").val(scDeptNm);
		goGridSearch();
	}

	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#year").val(J("#findYear").val());
		J("#findYearNm").val(J("#findYear > option:selected").text());
		J("#formFind").attr("action", "$!{context_path}/bsc/base/levelEval/levelEvalListExcel.vw?type=excel").submit();
		return false;
	}
	
	/******************************************
     * 지표별 난이도 설정 엑셀업로드
     ******************************************/
    function excelUpload(){

        var year = J("#findYear").val();
        var findHighPgmId = J("#findHighPgmId").val();
        var findSubPgmId = J("#findSubPgmId").val();
        var findPgmId = J("#findPgmId").val();
        J("#anchor").attr("href","$!{context_path}/bsc/base/levelEval/popExcelUpload.vw?findYear=" + year  +  "&amp;findHighPgmId=" + findHighPgmId + "&amp;findSubPgmId=" + findSubPgmId + "&amp;findPgmId=" + findPgmId + "&amp;year=" + year);
        J("#anchor").click();
    }
	
	/******************************************
     * 필수입력 체크
     ******************************************/
    function saveChk() {
		var ids	= J("#list").jqGrid('getDataIDs');
		
		for (var i = 0; i < ids.length; i++) {
			rowdata = J("#list").getRowData(ids[i]);
			var val = rowdata.LEADERSHIP_SCORE;
			var score1 = J("input[name='score1']").eq(i).val();
			var score2 = J("input[name='score2']").eq(i).val();
			var score3 = J("input[name='score3']").eq(i).val();
			var score4 = J("input[name='score4']").eq(i).val();
			
			if(score1 > 30 || 0 > score1) {
				alert("평점은 0~30 이하 점수를 입력해주십시오.");
				J("input[name='score1']").eq(i).focus();
				return false;
			}

			if(score2 > 30 || 0 > score2) {
				alert("평점은 0~30 이하 점수를 입력해주십시오.");
				J("input[name='score2']").eq(i).focus();
				return false;
			}
			
			if(score3 > 40 || 0 > score3) {
				alert("평점은 0~40 이하 점수를 입력해주십시오.");
				J("input[name='score3']").eq(i).focus();
				return false;
			}
			
			if(score4 > 40 || 0 > score3) {
				alert("평점은 0~40 이하 점수를 입력해주십시오.");
				J("input[name='score4']").eq(i).focus();
				return false;
			}
			
		}
		
		
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
		
    }
	
	/******************************************
     * 저장
     ******************************************/
    function saveDo() {
    	var ids	= J("#list").jqGrid('getDataIDs');
    	var totalScore = "";
    	var weight = "";
    	
    	#foreach($evalKpi in $evalKpilist)
			#set ($evalitem = "evalItem" + $num)
			#set($num = $velocityCount)
			var $evalitem = "";
		#end
    	
    	var metricIds = "";
    	
    	for (var i = 0; i < ids.length; i++) {

			rowdata = J("#list").getRowData(ids[i]);
			
			#foreach($evalKpi in $evalKpilist)
			#set ($evalitem = "evalItem" + $num)
			#set($num = $velocityCount)
				evalItem$num += rowdata.EVAL_ITEM_ID_0$num + '|';
			#end
			
			metricIds += rowdata.METRIC_ID + '|';
			
		}
		
		#foreach($evalKpi in $evalKpilist)
			#set ($evalItem = "evalItem" + $num)
			#set($num = $velocityCount)
			J("#$evalItem").val($evalItem);
		#end
		
        J("#metricIds").val(metricIds);
        
        J("#mode").val("ADD");
        J("#year").val(J("#findYear").val());
        J("#scDeptId").val(J("#findScDeptId").val());
        J("#formList").attr("action", "$!{context_path}/bsc/base/levelEval/levelEvalProcess.vw?type=template").submit();

        return false;

    }
	
	/******************************************
     * jqGrid 지표속성 입력
     ******************************************/
    #foreach($evalKpi in $evalKpilist)
    	#set($num = $velocityCount)
    	#set ($score = "score" + $num)
    	
	    function goScore$num (cellvalue, options, rowObject) {
	    	var str = '';
	    	str += '<input type="text" name=$score value="' + cellvalue + '" class="inputbox textRight wp50" maxlength="3" />';
	    	return str;
	    }
    #end 
    
    /******************************************
	 * 계산실행
	 ******************************************/
	function calcul(obj) {
		var sum_score = 0;
		var score1 = "";
		var score2 = "";
		var score3 = "";
		
		var ids = J("#list").jqGrid('getDataIDs');
		
		for (var i = 0; i < ids.length; i++) {
			var cnt = 0;

			if (J("input[name='score1']").eq(i).val() != "") {
				score1 = J("input[name='score1']").eq(i).val();
				cnt++;
			} else {
				score1 = 0;
			}
			
			if (J("input[name='score2']").eq(i).val() != "") {
				score2 = J("input[name='score2']").eq(i).val();
				cnt++;
			} else {
				score2 = 0;
			}
			
			if (J("input[name='score3']").eq(i).val() != "") {
				score3 = J("input[name='score3']").eq(i).val();
				cnt++;
			} else {
				score3 = 0;
			}
			
			if (J("input[name='score4']").eq(i).val() != "") {
				score3 = J("input[name='score4']").eq(i).val();
				cnt++;
			} else {
				score4 = 0;
			}
			
			if (score1 == 0 && score2 == 0 && score3 == 0) {
				J("#list").jqGrid('setCell', ids[i], "TOT_SCORE", null);
			} else if(score1 == "" && score2 == "" && score3 == "") {
				J("#list").jqGrid('setCell', ids[i], "TOT_SCORE", null);
			} else {
				sum_score = parseFloat(score1) + parseFloat(score2) + parseFloat(score3)
				J("#list").jqGrid('setCell', ids[i], "TOT_SCORE", sum_score);
			
			#set ($idx = 0)
			#foreach ($weight in $weightlist)
				#if ($idx > 0)
					else
				#end
				if (sum_score >= $weight.FROM_VALUE) {
					J("#list").jqGrid('setCell', ids[i], "WEIGHT", "$!{CS_HTML.txt2html($weight.CONVERSION_SCORE)}");
				}
				#set ($idx = $idx + 1)
			#end			
			}
		}
	}
    
    
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">조직별지표 난이도 평가</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/base/levelEval/levelEvalList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"	id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden"	id="findScDeptId"	name="findScDeptId"		value="$!{searchMap.txt2html("findScDeptId")}" />
				<input type="hidden" 	id="findYearNm"		name="findYearNm" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="조직별지표 난이도 평가 검색 조건">
						<caption class="none">조직별지표 난이도 평가 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w180">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</t
            					d>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
			<a id="anchor"></a>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/base/levelEval/levelEvalProcess.vw?type=template">
			<input type="hidden" id="mode"       	    name="mode" />
			<input type="hidden" id="year"		 	    name="year" />
			<input type="hidden" id="totalScores"		name="totalScores" />
			<input type="hidden" id="weights"		 	name="weights" />
			#set ($evalItems = "")
			#foreach($evalKpi in $evalKpilist)
				#set($num = $velocityCount)
				#set ($evalItem = "evalItem" + $num)
				#set ($evalItems = $evalItems + $evalItem + ",")
			<input type="hidden" id="$evalItem"		 	name="$evalItem" />
			#end
			<input type="hidden" id="evalItems"			name="evalItems" value="$evalItems">
			#foreach($evalKpi in $evalKpilist)
				#set($num = $velocityCount)
				#set ($score = "score" + $num)
				#set ($scores = $scores + $score + ",")
			#end				
			<input type="hidden" id="scores"			name="scores" value="$scores">
			<input type="hidden" id="metricIds"		 	name="metricIds" />
			<input type="hidden" id="scDeptId"		 	name="scDeptId" />
			$!{searchMap.makeHiddenFind()}

		<div id="splitterBox">
			<div>
				<!-- 조직트리 Start -->
				<div class="blockGridTreeTable">
					#parse("/WEB-INF/vl/bsc/module/commModule/commonTree.vm")
				</div>

				<div id="mainListData">
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable floatRight">
						<table id="list" summary="조직별지표 난이도 평가 조회결과">
							<caption class="none">조직별지표 난이도 평가 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all floatLeft">
						<div class="blockButton" style="float:left; text-align:left; width:77px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀변환" alt="엑셀다운로드" /><br/>
						</div>
						<div class="blockButton" style="float:left; text-align:left; width:145px;">
							<input id="btnExcelUpload" type="button" align="middle" value="엑셀업로드" alt="업로드" />
						</div>
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnInsert" value="저장" /></li>
							</ul>
						</div>
					</div>
					#foreach($list in $codelist)
					<tr >
						<span class="txt_red">$!{CS_HTML.txt2html($list.CODE_NM)} : </span>$!{CS_HTML.txt2html($list.CONTENT)} </br>
					</tr>
					#end
				</div>
			</div>
		</div>
	</form>
	</div>
	<div class="clear"></div>
</div>
