#*************************************************************************
* CLASS 명      : useFacilitiesInspec2_xml
* 작 업 자      : 안요한
* 작 업 일      : 2013년 7월 30일
* 기    능      : 가스사용시설 정기검사 사용횟수 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      안요한     2012년 7월 30일            최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"INSP_YY"				: "$!{CS_HTML.txt2html($list.INSP_YY)}",
		"INSP_MON"              : "$!{CS_HTML.txt2html($list.INSP_MON)}",
		"INSP_KIND_TC"			: "$!{CS_HTML.txt2html($list.INSP_KIND_TC)}",
		"INSP_KIND_TC_NM"		: "$!{CS_HTML.txt2html($list.INSP_KIND_TC_NM)}",
		"PROC_DEPT_CD"  		: "$!{CS_HTML.txt2html($list.PROC_DEPT_CD)}",
		"DEPT_NM"  				: "$!{CS_HTML.txt2html($list.DEPT_NM)}",
		"INSP_NM"				: "$!{CS_HTML.txt2html($list.INSP_NM)}",
		"CON_CNT"				: "$!{CS_HTML.txt2html($list.CON_CNT)}",
		"INCON_CNT"				: "$!{CS_HTML.txt2html($list.INCON_CNT)}",
		"ETC_CNT"				: "$!{CS_HTML.txt2html($list.ETC_CNT)}",
		"TOTAL_CNT"				: "$!{CS_HTML.txt2html($list.TOTAL_CNT)}"
		
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
