#*************************************************************************
* CLASS 명	: strSubjectList
* 작 업 자	: 안요한
* 작 업 일	: 2013년 05월 02일
* 기    능		: 전략과제
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     안 요 한      2013년 05월 02일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/man/man/strSubject/strSubjectList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/man/man/strSubject/strSubjectList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['평가년도', '경영목표코드', '경영목표', '전략과제 코드', '전략과제', '설명', '정렬순서', '개수'],
			colModel     :[
							{name:'YEAR'			,index:'YEAR'		,width:150   ,align:'center' },
                            {name:'MAN_ID'			,index:'MAN_ID'		,width:150   ,align:'center' },
                            {name:'MAN_NM'			,index:'MAN_NM'		,width:150   ,align:'left' },
                            {name:'STRAT_ID'		,index:'STRAT_ID'	,width:150   ,align:'center' },
                            {name:'STRAT_NM'		,index:'STRAT_NM'	,width:150   ,align:'left'   ,formatter:linkUpdate},
                            {name:'CONTENT'			,index:'CONTENT'	,width:250   ,align:'left'   },
                            {name:'SORT_ORDER'		,index:'SORT_ORDER'	,width:150   ,align:'center' },
                            {name:'CNT'				,index:'CNT'		,width:150   ,align:'center' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : true,
			cellEdit     : true,
			gridview     : true,
			cmTemplate   : {sortable:true},
			loadComplete : function() {
    							var ids = J("#list").jqGrid('getDataIDs');
    							J("#list input:checkbox").each(function(index) {
    								var rowdata = J("#list").getRowData(ids[index]);
									if(rowdata.CNT != 0) { //비교조건 대상 컬럼
    									J("#list input:checkbox[name=jqg_list_" + (index+1) + "]").hide();
    								}
								});
                           },
			caption:"전략과제"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"SUBJECT_CNT").jqGrid('hideCol',"MAN_ID").jqGrid('hideCol',"CONTENT").jqGrid('hideCol',"CNT").setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnInsert").click(function() {
			J("#year").val(J("#findYear").val());
			J("#mode").val("ADD");
			J("#formList").attr("action", "$!{context_path}/man/man/strSubject/strSubjectModify.vw?type=template").submit();
		});

		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
	});

	/******************************************
	 * 평가년도변경시 경영목표 변경
	 ******************************************/

	function chgMan(){

		J.ajax({
        	url      : "$!{context_path}/man/man/strSubject/manList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#findManId").empty();

				J('<option/>').attr('value','').text("전체").appendTo('#findManId');

				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findManId');
				})
        	}
    	});

	}

	/******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		return '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '<//a>';
	}

	/******************************************
	 * 수정
	 ******************************************/
	function goModify(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		J("#manId").val(ret.MAN_ID);
		J("#stratId").val(ret.STRAT_ID);
		J("#year").val(J("#findYear").val());
		J("#mode").val("MOD");
		J("#formList").attr("action", "$!{context_path}/man/man/strSubject/strSubjectModify.vw?type=template").submit();
	}

	/******************************************
	 * 삭제
	 ******************************************/



	function goDelete() {

		if(J("#findUseYn").val() == 'N'){
		    J.showMsgBox("이미 삭제된 데이터 입니다.", null, null);
		   return;
		}
			if(!J.gridSelectChk("list")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null);
		} else {
			J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
		}
	}

	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
		var id = J("#list").getGridParam('selarrrow');
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var stratIds = "";

		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#list").getRowData(ids[i]);
					stratIds += rowdata.STRAT_ID + '|';
				}
			});
		}

		J("#stratIds").val(stratIds);
		J("#mode").val("DEL");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/man/man/strSubject/strSubjectProcess.vw?type=template").submit();
		return false;
	}

	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){

		J("#yearNm").val(J("#findYear > option:selected").text());
		J("#manNm").val(J("#findManId > option:selected").text());
		J("#useYnNm").val(J("#findUseYn > option:selected").text());

		J("#formList").attr("action", "$!{context_path}/man/man/strSubject/strSubjectListExcel.vw?type=excel").submit();
		return false;
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">전략과제</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/man/man/strSubject/strSubjectList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />


				<div class="searchBox">
    				<div><div><div>
    				<table summary="전략과제검색 조건">
						<caption class="none">전략과제 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w200">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80" onchange="chgMan();" >
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w300">
            						<span><label for="findManId">경영목표</label></span>
            						<span class="searchBar">
            							<select id="findManId" name="findManId" class="select w200">
            								<option value="">전체</option>
            								#foreach($managementList in $managementList)
											<option value="$!{CS_HTML.txt2html($managementList.MAN_ID)}" $searchMap.getSelected("findManId", "$!{CS_HTML.txt2html($managementList.MAN_ID)}")>$!{CS_HTML.txt2html($managementList.MAN_NM)}</option>
											#end
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w250">
            						<span><label for="findStratNm">전략과제 </label></span>
										<input type="text" title="전략과제" name="findStratNm" id="findStratNm" value="$!{searchMap.txt2html("findStratNm")}" maxlength="30" class="inputbox w150"/>
            						</span>
            					</td>
            					<td class="searchBox_tit ">
									<span><label for="findUseYn">사용여부</label></span>
            						<span class="searchBar">
            							<select id="findUseYn" name="findUseYn" class="select w70">
            								$!CS_CODE.getCodeOption("011", $!{searchMap.txt2html("findUseYn")})
            							</select>
            						</span>
            					</td>
							</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/man/man/strSubject/strSubjectProcess.vw?type=template">
			<input type="hidden" id="mode"       			name="mode" />
			<input type="hidden" id="year"		 			name="year" />
			<input type="hidden" id="yearNm"		 		name="yearNm" />
			<input type="hidden" id="manId" 				name="manId" />
			<input type="hidden" id="stratIds" 				name="stratIds" />
			<input type="hidden" id="stratId"  				name="stratId" />
			<input type="hidden" id="manNm"					name="manNm"		 />
			<input type="hidden" id="useYnNm"				name="useYnNm"		 />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="전략과제 조회결과">
							<caption class="none">전략과제 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:145px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀변환" alt="엑셀다운로드" />
						</div>
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnInsert" value="신규" /></li>
								<li><input type="submit" id="btnDelete" value="삭제" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>
