#*************************************************************************
* CLASS 명      : cyberEduRate
* 작 업 자      : 김기현
* 작 업 일      : 2012년 6월 18일
* 기    능      : 시스템항목관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     김기현      2012년 6월 18일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/bsc/system/cyberEduRate/cyberEduRateList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/system/cyberEduRate/cyberEduRateList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['년도', '월', '부서코드', '부서', '총인원', '온라인 이수자', '오프라인 이수자', '총 미이수자'],
			colModel     :[
							{name:'YEAR'  		 		,index:'YEAR'  		,width:70   ,align:'center' },
                            {name:'MON'      			,index:'MON'      	,width:60   ,align:'center' },
                            {name:'DEPT_CD' 			,index:'DEPT_CD'	,width:60   ,align:'center' },
                            {name:'DEPT_NM'       		,index:'DEPT_NM'    ,width:60   ,align:'center' },
                            {name:'TOT_CNT'     		,index:'TOT_CNT' 	,width:60   ,align:'center' },
                            {name:'ON_TCNT'  			,index:'ON_TCNT'  	,width:60   ,align:'center' },
                            {name:'OFF_TCNT'  			,index:'OFF_TCNT'  	,width:60   ,align:'center' },
                            {name:'TOT_RCNT'  			,index:'TOT_RCNT'  	,width:60   ,align:'center' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			cmTemplate   : {sortable:false},
			loadComplete : function() {
    							var ids = J("#list").jqGrid('getDataIDs');
    							J("#list input:checkbox").each(function(index) {
    								var rowdata = J("#list").getRowData(ids[index]);
    								if(J(rowdata.ITEM_CNT).text() != 0) { //비교조건 대상 컬럼
    									J("#list input:checkbox[name=jqg_list_" + (index+1) + "]").hide();
    								}
    							});
                           },
			caption:"시스템항목관리"
		});

		/******************************************
		 * 항목명 포커스
		 ******************************************/
		J("#findItemNm").select();

		/******************************************
		 * 조회
		 ******************************************/
		J("#btnSearch").click(function() {
			goSearch();
		});

		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});

		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#anchor").fancybox();            //연계 항목 팝업
		
		
	});

	
	
	/******************************************
	 * 년,월 변경시 전략과제 변경
	 * 이 부분은 필요가 있으면 findYear와 findMon에 onchange를 걸어 사용합니다. 예- onchange="chgDept()" 
	 ******************************************/
    	
	function chgDept(){
		J.ajax({
    		
    			url      : "$!{context_path}/bsc/system/cyberEduRate/deptList_ajax.vw",
    			cache    : false,
    			type     : "POST",
    			data	 : J("#formFind").serialize(),
    			dataType : "html",
    			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
    			success  : function(data){
    							var xmlDoc = J.parseXML(data);
    							J("#findDeptId").empty();
    							J('<option/>').attr('value','').text("선택").appendTo('#findDeptId');
    							J(xmlDoc).find("data").each(function() {
    								J('<option/>').attr('value',J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findDeptId');
    							})
				}
		});
	
	}
	
	/******************************************
	 * 조회
	 ******************************************/
	function goSearch() {
		J("#formFind").attr("action", "$!{context_path}/bsc/system/cyberEduRate/cyberEduRateList.vw?type=template").submit();
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">시스템항목관리</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/system/cyberEduRate/cyberEduRateList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="시스템항목관리검색 조건">
						<caption class="none">시스템항목관리 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEARMON}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
										<select id="findMon" name="findMon" class="select w80">
            								$!CS_CODE.getCodeOption("024", $!{searchMap.txt2html("findMon")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w300">
                					<span><label for="findDeptId">부서</label></span>
            						<span class="searchBar">
										<select id="findDeptId" name="findDeptId" class="select w250">
											#foreach($list in $deptList)
                                            	<option value="$!{CS_HTML.txt2html($list.DEPT_ID)}" $searchMap.getSelected("findDeptId", "$!{CS_HTML.txt2html($list.DEPT_ID)}")>$!{CS_HTML.txt2html($list.DEPT_NM)}</option>
                                            #end
										</select>
            						</span>
                                </td>
#*
								<td class="searchBox_tit w200">
                					<span><label for="findItemNm">항목명</label></span>
									<span class="searchBar"><input type="text" id="findItemNm" name="findItemNm" class="text" value="$!{searchMap.txt2html("findItemNm")}"  maxlength="20" title="항목명 "/> </span>
                                </td>
            					<td class="searchBox_tit w170">
            						<span><label for="findItemActualDivi">연계구분</label></span>
            						<span class="searchBar">
            							<select id="findItemActualDivi" name="findItemActualDivi" class="select w100">
            								<option value="">전체 </option>
            								$!CS_CODE.getCodeOption("061", $!{searchMap.txt2html("findItemActualDivi")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w170">
            						<span><label for="findItemDivi">등록구분</label></span>
            						<span class="searchBar">
            							<select id="findItemDivi" name="findItemDivi" class="select w100">
            								<option value="">전체 </option>
            								$!CS_CODE.getCodeOption("062", $!{searchMap.txt2html("findItemDivi")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w200">
                                    <span><label for="findUseYn">사용여부</label></span>
            						<span class="searchBar">
            							<select id="findUseYn" name="findUseYn" class="select w70">
            								$!CS_CODE.getCodeOption("011", $!{searchMap.txt2html("findUseYn")})
            							</select>
            						</span>
            					</td>
*#
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/system/cyberEduRate/cyberEduRateProcess.vw?type=template">
			<input type="hidden" id="mode"       name="mode" />
			<input type="hidden" id="year"       name="year" />
			<input type="hidden" id="itemCds"    name="itemCds" />
			<input type="hidden" id="itemCd"     name="itemCd"  />
			<input type="hidden" id="itemCnt"    name="itemCnt" />
			$!{searchMap.makeHiddenFind()}

			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="시스템항목관리 조회결과">
							<caption class="none">시스템항목관리 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton_l"></div>
						<div class="blockButton">
							<ul>
								##<li><input type="button" id="btnInsert" value="신규" /></li>
								##<li><input type="submit" id="btnDelete" value="삭제" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<a id="anchor"></a>
	<div class="clear"></div>
</div>
