#*************************************************************************
* CLASS 명      : evalGradeDistriTabMngList_xml
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 27일 
* 기    능      : 등급배분표 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      정철수     2012년 11월 27일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"ITEM_CNT"                 : "$!{CS_HTML.txt2html($list.ITEM_CNT)}" 
		#foreach($itemlist in $itemList)
		, "$!{CS_HTML.txt2html($itemlist.GRADE_ITEM_ID)}" : "$!{CS_HTML.txt2html($list.get($itemlist.GRADE_ITEM_ID))}"
		#end
		, "VALIDATE_SUM_YN"        : "$!{CS_HTML.txt2html($list.VALIDATE_SUM_YN)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
