#*************************************************************************
* CLASS 명      : planConApproveList
* 작 업 자      : 김효은
* 작 업 일      : 2014년 4월 2일 
* 기    능      : 직원개인평가 부서장/주관부서확인
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     김효은      2014년 4월 2일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/prs/mngCon/planConApprove/planConApproveList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

    var J = jQuery;
    
    J(document).ready(function(){
    
        /******************************************
         * 데이터 그리드 출력
         ******************************************/
        var str = J('#formFind').serialize();
        
        jQuery("#list").jqGrid({
            url          :"$!{context_path}/prs/mngCon/planConApprove/planConApproveList_xml.vw" + "?" + str,
            mtype        :"POST",
            datatype     :"json",
            jsonReader   : {   
                            page   : "page",
                            total  : "total",
                            root   : "rows", 
                            records: function(obj){return obj.length;},
                            repeatitems: false, 
                            id     : "id"
                           },
            height       : $!{jqGrid_height},
            width        : $!{jqGrid_width},
             colNames     :['평가년도', '설정방향', '설정방향', '성과목표ID', '성과목표', '성과지표',  '단위ID', '단위', '목표량선정근거','가중치','연목표', '1분기', '2분기', '3분기', '4분기'],
            colModel     :[
                            {name:'YEAR'                 ,index:'YEAR'                 ,width:150   ,align:'center' }, 
                            {name:'DIRECTION_CD'         ,index:'DIRECTION_CD'         ,width:150   ,align:'center' }, 
                            {name:'DIRECTION_NM'         ,index:'DIRECTION_NM'         ,width:150   ,align:'center' }, 
                            {name:'TARGET_ID'            ,index:'TARGET_ID'            ,width:150   ,align:'center' }, 
                            {name:'TARGET_NM'            ,index:'TARGET_NM'            ,width:150   ,align:'center' }, 
                            {name:'METRIC_NM'            ,index:'METRIC_NM'            ,width:150   ,align:'center' }, 
                            {name:'UNIT'                 ,index:'UNIT'                 ,width:150   ,align:'center' }, 
                            {name:'UNIT_NM'              ,index:'UNIT_NM'              ,width:150   ,align:'center' }, 
                            {name:'TARGET_BASIS'         ,index:'TARGET_BASIS'         ,width:150   ,align:'center' }, 
                            {name:'WEIGHT'               ,index:'WEIGHT'               ,width:150   ,align:'center' },
                            {name:'TARGET_VALUE'         ,index:'TARGET_VALUE'         ,width:150   ,align:'center' }, 
                            {name:'Q1_TARGET_VALUE'      ,index:'Q1_TARGET_VALUE'      ,width:150   ,align:'center' }, 
                            {name:'Q2_TARGET_VALUE'      ,index:'Q2_TARGET_VALUE'      ,width:150   ,align:'center' }, 
                            {name:'Q3_TARGET_VALUE'      ,index:'Q3_TARGET_VALUE'      ,width:150   ,align:'center' }, 
                            {name:'Q4_TARGET_VALUE'      ,index:'Q4_TARGET_VALUE'      ,width:150   ,align:'center' },
                            ],
            rowNum       : $!{jqGrid_rownum},
            autowidth    : false, 
            viewrecords  : true,
            loadonce     : true,
            multiselect  : false,
            cellEdit     : true,
            gridview     : true,
            caption:"직원개인평가 부서장/주관부서확인"
        }).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"DIRECTION_CD").jqGrid('hideCol',"TARGET_ID").jqGrid('hideCol',"UNIT").setGridWidth($!{jqGrid_width});
        
    	J("#list").jqGrid('setGroupHeaders', {
          useColSpanStyle: true,
          groupHeaders:[
        	{startColumnName: 'Q1_TARGET_VALUE', numberOfColumns: 4, titleText: '<em>일정계획(최종값)</em>'}
          ]
        });
		
		/******************************************
         * 조회
         ******************************************/
        J("#formFind").submit(function(event) {
            //submit 하기전 작업추가
        });
		
		 /******************************************
         * 취소버튼 (돌아가기)
         ******************************************/
        J("#btnBack").click(function() {
			J("#formFind").attr("action", "$!{context_path}/prs/mngCon/planConApprove/evalMngList.vw?type=template").submit();
        });
		
		/******************************************
         * 확인 버튼 클릭 이벤트
         ******************************************/
        J("#approveBtn").click(function() {
            goApprove();
            return false;
        });
		
		 /******************************************
         * FANCYBOX
         ******************************************/
        J("#anchor").fancybox();      //상세팝업
        
		/******************************************
         * 반려버튼 이벤트
         ******************************************/
    	J("#returnBtn").click(function(){
    		popReturnReason();
    	});
        
    });

   /******************************************
     * 반려사유 선택
     ******************************************/
	function popReturnReason(){
	#if("$closingPlan.MNG_PLAN_YN" == 'N')
    		J.showMsgBox("성과계획 제출 일정이 마감되었습니다.", null, null); 
    		return false;
	#else
		if(J("#findGubun").val() == "01"){
    		if("$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" != "02"){
    			J.showMsgBox("[$!{CS_HTML.txt2html($membersTable.KOR_NM)}] 확인요청 상태가 아닙니다.<br/> 반려 할 수 없습니다.", null, null);
				return;
    		}
		}else{
    		if("$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" == "" || "$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" == "01" || "$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" == "02" || "$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" == "05" || "$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" == "06"){
    			J.showMsgBox("[$!{CS_HTML.txt2html($membersTable.KOR_NM)}] 최종승인 상태가 아닙니다.<br/> 반려 할 수 없습니다.", null, null);
				return;
    		}
		}
		J("#evalMembEmpns").val(J("#findEmpn").val());
		J("#year").val(J("#findYear").val());
        J("#evalMembEmpnSeqs").val(J("#findEmpnSeq").val());
		J("#anchor").attr("href","$!{context_path}/prs/mngCon/planConApprove/popReturnReason.vw?findYear="+J("#year").val()+"&amp;evalMembEmpns="+J("#evalMembEmpns").val()+"&amp;evalMembEmpnSeqs="+J("#evalMembEmpnSeqs").val());
		J("#anchor").click();
	#end
	}
	
	/******************************************
     * 반려 처리
     ******************************************/
	function returnDo(){
		 J("#mode").val("RETURN");
		 J("#userId").val(J("#findUserId").val());
		 J("#evalMembEmpns").val(J("#evalMembEmpns").val());
		 J("#evalMembEmpnSeqs").val(J("#evalMembEmpnSeqs").val());
		 J("#approveUserIds").val('$!{CS_HTML.txt2html($membersTable.APPROVE_USER_ID)}');
		 J("#formList").attr("action", "$!{context_path}/prs/mngCon/planConApprove/planConApproveProcess.vw?type=template").submit();
		 return false;
	}
	
    /******************************************
     * 확인
     ******************************************/
    function goApprove() {
		#if("$closingPlan.MNG_PLAN_YN" == 'N')
    		J.showMsgBox("성과계획 제출 일정이 마감되었습니다.", null, null); 
    		return false;
		#else
		if(J("#findGubun").val() == "01"){
		 if("$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" =='02'){
            J.showConfirmBox("확인하시겠습니까?", "approveDo"); //approveDo() 콜백함수 호출
		  }else{
		   J.showMsgBox("[$!{CS_HTML.txt2html($membersTable.KOR_NM)}] 확인요청 상태가 아닙니다.<br/> 확인 할 수 없습니다.", null, null);
		  }
		}else{
		   if("$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" =='03'){
            J.showConfirmBox("확인하시겠습니까?", "approveDo"); //approveDo() 콜백함수 호출
		  }else{
           J.showMsgBox("[$!{CS_HTML.txt2html($membersTable.KOR_NM)}] 주관부서 확인요청 상태가 아닙니다.<br/> 확인 할 수 없습니다.", null, null);
    	  }
		}
	   #end
   	 }
    
    /******************************************
     * 확인처리
     ******************************************/
    function approveDo() {
		J("#mode").val("APPROVE");
        J("#year").val(J("#findYear").val());
		J("#gubun").val(J("#findGubun").val());
		J("#evalMembEmpns").val(J("#findEmpn").val());
        J("#evalMembEmpnSeqs").val(J("#findEmpnSeq").val());
		J("#userId").val(J("#findUserId").val());
        J("#formList").attr("action", "$!{context_path}/prs/mngCon/planConApprove/planConApproveProcess.vw?type=template").submit();
        return false;
	
	}

//]]>
</script>

<div id="Table">
    <div id="Table_blockContainer">
        <h1 class="none">직원개인평가 부서장/주관부서확인</h1>
        <div class="tableTop">
            #parse("/WEB-INF/vl/common/template/tabs.vm")
            
            <!-- search S -->
            <form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/mngCon/planConApprove/planConApproveList.vw?type=template">
                <input type="hidden"    id="findHighPgmId"  	name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
                <input type="hidden"    id="findSubPgmId"   	name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
                <input type="hidden"    id="findPgmId"      	name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
                <input type="hidden"    id="findYear"      		name="findYear"         value="$!{searchMap.txt2html("findYear")}" />
                <input type="hidden"    id="findGubun"     		name="findGubun"        value="$!{searchMap.txt2html("findGubun")}" />
                <input type="hidden"    id="findEmpn"       	name="findEmpn"         value="$!{searchMap.txt2html("evalMembEmpn")}" />
                <input type="hidden"    id="findEmpnSeq"    	name="findEmpnSeq"      value="$!{searchMap.txt2html("evalMembEmpnSeq")}" />
                <input type="hidden"    id="findUserId"     	name="findUserId"       value="$!{CS_LOGIN.getUser_id()}" />
               #parse("/WEB-INF/vl/prs/mngCon/planMngCon/membersTable.vm")
            </form>
            <!-- search E -->
            <div class="clear"></div>
        </div>
        
        <form id="formList" name="formList" method="post" action="$!{context_path}/prs/mngCon/planConApprove/planConApproveProcess.vw?type=template">
            <input type="hidden" id="mode"       		name="mode" />
            <input type="hidden" id="year"       		name="year" />
            <input type="hidden" id="yearNm"     		name="yearNm" />
            <input type="hidden" id="gubun"      		name="gubun" />
			<input type="hidden" id="targets"    		name="targets" />
            <input type="hidden" id="targetId"   		name="targetId" />
            <input type="hidden" id="userId"            name="userId" />
            <input type="hidden" id="approveUserIds"    name="approveUserIds" />
			<input type="hidden" id="evalMembEmpn"      name="evalMembEmpn" />
            <input type="hidden" id="evalMembEmpnSeq"   name="evalMembEmpnSeq" />
			<input type="hidden" id="evalMembEmpns"     name="evalMembEmpns" />
            <input type="hidden" id="evalMembEmpnSeqs"  name="evalMembEmpnSeqs" />
			<input type="hidden" id="returnCause"       name="returnCause" />
            $!{searchMap.makeHiddenFind()}
            <div id="splitterBox">
                <div>
                    <!-- 데이터그리드 Start -->
                    <div class="blockGridListTable">
                        <table id="list" summary="직원개인평가 부서장/주관부서확인 조회결과">
                            <caption class="none">직원개인평가 부서장/주관부서확인 조회</caption>
                            <thead><tr><th></th></tr></thead>
                            <tbody><tr><td></td></tr></tbody>
                        </table>
                        <div id="pager"></div>
                    </div>
                    <!--// 데이터그리드 End -->
                    <div class="blockButton_all">
                        <div class="blockButton">
                            <ul>
                               <li><input type="button" id="btnBack"    value="돌아가기" /></li>
                               <li><input type="button" id="returnBtn"  value="반려" /></li>
                               <li><input type="button" id="approveBtn" value="확인" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
	<a id="anchor"></a>
    <div class="clear"></div>
</div>
