#*************************************************************************
* CLASS 명      : levelEvalList_xml
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 10월 26일 
* 기    능      : 평가실시 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      현걸욱     2012년 10월 26일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"SC_DEPT_NM"                 : "$!{CS_HTML.txt2html($list.SC_DEPT_NM)}", 
		"METRIC_NM"     			 : "$!{CS_HTML.txt2html($list.METRIC_NM)}", 
		"WEIGHT"         			 : "$!{CS_HTML.txt2html($list.WEIGHT)}", 
		"INSERT_USER_NM"             : "$!{CS_HTML.txt2html($list.INSERT_USER_NM)}", 
		"EVAL_YN"          	   		 : "$!{CS_HTML.txt2html($!{CS_HTML.replace( $list.EVAL_YN, $CONVERT_ARRAY )})}",
		"EVAL_USER_GRP_ID"           : "$!{CS_HTML.txt2html($list.EVAL_USER_GRP_ID)}",
		"EVAL_USER_ID"            	 : "$!{CS_HTML.txt2html($list.EVAL_USER_ID)}",
		"METRIC_ID"            		 : "$!{CS_HTML.txt2html($list.METRIC_ID)}",
		"EVAL_YN_TEMP"            	 : "$!{CS_HTML.txt2html($list.EVAL_YN)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
