#*************************************************************************
* CLASS 명      : popLevelItemDetail_xml
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 10월 26일 
* 기    능      : 평가실시 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      현걸욱     2012년 10월 26일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($evalItemDetailList.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $evalItemDetailList)
	{
		"ITEM_GRP_ID"                : "$!{CS_HTML.txt2html($list.ITEM_GRP_ID)}", 
		"ITEM_GRP_NM"     			 : "$!{CS_HTML.txt2html($list.ITEM_GRP_NM)}", 
		"ITEM_ID"         			 : "$!{CS_HTML.txt2html($list.ITEM_ID)}", 
		"ITEM_NM"             		 : "$!{CS_HTML.txt2html($list.ITEM_NM)}", 
		"CONTENT"           		 : "$!{CS_HTML.txt2htmlbr2($list.CONTENT)}",
		"GRADE_BASIS"            	 : "$!{CS_HTML.txt2htmlbr2($list.GRADE_BASIS)}",
		"ROW_CNT"            		 : "$!{CS_HTML.txt2html($list.ROW_CNT)}",
		"ROW_INDEX"            		 : "$!{CS_HTML.txt2html($list.ROW_INDEX)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
