#*************************************************************************
* CLASS 명      : popLevelItemDetail_xml
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 10월 26일 
* 기    능      : 평가실시 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      현걸욱     2012년 10월 26일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($evallevelEvalList.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $evallevelEvalList)
	{
		"METRIC_NM"                		: "$!{CS_HTML.txt2html($list.METRIC_NM)}", 
		"INSERT_USER_NM"     			: "$!{CS_HTML.txt2html($list.INSERT_USER_NM)}", 
		"WEIGHT"         			 	: "$!{CS_HTML.txt2html($list.WEIGHT)}", 
		#foreach($itemList in $itemList)
			"$!{CS_HTML.txt2html($itemList.ITEM_ID)}"  : "$!{CS_HTML.txt2html($list.get($itemList.ITEM_ID))}", 
		#end
		"METRIC_ID"            		 	: "$!{CS_HTML.txt2html($list.METRIC_ID)}",
		"EVAL_USER_NM"            	 	: "$!{CS_HTML.txt2html($list.EVAL_USER_NM)}",
		"EVAL_USER_GRP_NM"            	: "$!{CS_HTML.txt2html($list.EVAL_USER_GRP_NM)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
