#*************************************************************************
* CLASS 명      : evalPersonageModify
* 작 업 자      : 정철수 
* 작 업 일      : 2012년 11월 28일 
* 기    능      : 사외인사    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    정철수      2012년 11월 28일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
		J("#birthYmd").datepicker({
			dateFormat: 'yy.mm.dd'
		});
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/bsc/common/evalPersonage/evalPersonageList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#school").checkbyte({
			indicator:J("#schoolIndicator"),
			limit:500
		});
		J("#school").trigger("keyup");
		J("#userHistory").checkbyte({
			indicator:J("#userHistoryIndicator"),
			limit:2000
		});
		J("#userHistory").trigger("keyup");
		J("#content").checkbyte({
			indicator:J("#contentIndicator"),
			limit:2000
		});
		J("#content").trigger("keyup");
		
		
		/******************************************
		 * 전화번호 숫자만 입력
		 ******************************************/
		J("#mobileNo").numeric({allow:"-."});
		J("#mobileNo").css("ime-mode", "disabled");
		
		J("#officeTelNo").numeric({allow:"-."});
		J("#officeTelNo").css("ime-mode", "disabled");
		
		J("#homeTelNo").numeric({allow:"-."});
		J("#homeTelNo").css("ime-mode", "disabled");


	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		if(!J.checkLength("personageId", "사외인사 ID", 1, 16)) {
			return;
		}
		
        if(!J.checkLength("name", "성명", 1, 16)) {
            return;
        }
        
		if(!J.checkLength("passwd", "비밀번호", 1, 16)) {
			return;
		}
		
		if(!J.checkLength("passwdConfirm", "비밀번호 확인", 1, 16)) {
			return;
		}
		
		if( J("#passwd").val() != J("#passwdConfirm").val() ) {
			J.showMsgBox("입력하신 비밀번호가 다릅니다.", null, null);
			J("#passwd").val("");
			J("#passwdConfirm").val("");
			J("#passwd").focus();
			return;
		}
        
		if(!J.checkLength("organ", "소속", 0, 100)) {
			return;
		}
        
        if(!J.checkLength("pos", "직위", 0, 100)) {
            return;
        }

		if(!J.checkLength("mobileNo", "휴대폰 연락처", 1, 20)) {
			return;
		}
        
        if( !checkPhoneNumber(J("#mobileNo").val() , 13, "휴대폰 연락처") ) {
            J("#mobileNo").focus();
            return;
        }
        
        if( !checkPhoneNumber(J("#officeTelNo").val() , 13, "사무실 연락처") ) {
            J("#officeTelNo").focus();
            return;
        }
        
        if( !checkPhoneNumber(J("#homeTelNo").val() , 13, "자택 연락처") ) {
            J("#homeTelNo").focus();
            return;
        }

		if(!J.checkLength("eMail", "E_MAIL", 1, 100)) {
			return;
		}
        
        if(!EmailCheck(J("#eMail").val())) {
            J("#eMail").focus();
            return;
        }
        
        if(!J.checkLength("address", "주소", 0, 500)) {
            return;
        }
        
        if(!J.checkLength("birthYmd", "출생일", 0, 10)) {
            return;
        }
        
        if(!J.checkLength("school", "학력", 0, 500)) {
            return;
        }
        
        if(!J.checkLength("userHistory", "경력", 0, 2000)) {
            return;
        }
        
        if(!J.checkLength("content", "비고", 0, 2000)) {
            return;
        }
		
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
	
		J("#birthYmd").val((J("#birthYmd").val().replace(/[.]/g, "")));
		J("#form1").attr("action", "$!{context_path}/bsc/common/evalPersonage/evalPersonageProcess.vw?type=template").submit();
	}

//]]>
</script>    
 
<form id="form1" name="form1" method="post" action="$!{context_path}/bsc/common/evalPersonage/evalPersonageProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />

    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
				<!--
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
				-->
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="사외인사 등록">
					<caption class="none">사외인사 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="35%" />
						<col width="15%" />
    					<col width="35%" />
    				</colgroup>
    				<tbody>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="personageId">사외인사 ID</label></th>
							<td>
							#if( $!{searchMap.txt2html("mode")} == "ADD" )
								<input type="text" id="personageId" name="personageId" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.PERSONAGE_ID)}' maxlength="16" />
							#else
								<input type="hidden" id="personageId" name="personageId" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.PERSONAGE_ID)}' maxlength="16"/>
								$!{searchMap.txt2html("personageId")}
							#end
							</td>
							<th scope="row"><span class="txt_red">(*)</span> <label for="name">성명</label></th>
							<td ><input type="text" id="name" name="name" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.NAME)}' maxlength="16"/></td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="passwd">비밀번호</label></th>
							<td><input type="password" id="passwd" name="passwd" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.PASSWD)}' maxlength="16"/></td>
							<th scope="row"><span class="txt_red">(*)</span> <label for="passwd">비밀번호 확인</label></th>
							<td><input type="password" id="passwdConfirm" name="passwdConfirm" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.PASSWD)}' maxlength="16"/></td>
						</tr>
						<tr>
							<th scope="row"><label for="organ">소속</label></th>
							<td><input type="text" id="organ" name="organ" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.ORGAN)}' maxlength="33"/></td>
							<th scope="row"><label for="pos">직위</label></th>
							<td><input type="text" id="pos" name="pos" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.POS)}' maxlength="33"/></td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="mobileNo">휴대폰 연락처</label></th>
							<td><input type="text" id="mobileNo" name="mobileNo" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.MOBILE_NO)}' maxlength="20"/></td>
							<th scope="row"><label for="officeTelNo">사무실 연락처</label></th>
							<td><input type="text" id="officeTelNo" name="officeTelNo" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.OFFICE_TEL_NO)}' maxlength="20"/></td>
						</tr>
						<tr>
							<th scope="row"><label for="homeTelNo">자택 연락처</label></th>
							<td><input type="text" id="homeTelNo" name="homeTelNo" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.HOME_TEL_NO)}' maxlength="20"/></td>
							<th scope="row"><span class="txt_red">(*)</span> <label for="eMail">E_MAIL</label></th>
							<td><input type="text" id="eMail" name="eMail" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.E_MAIL)}' maxlength="33"/></td>
						</tr>
						<tr>
							<th scope="row"><label for="address">주소</label></th>
							<td><input type="text" id="address" name="address" class="inputbox w300" value='$!{CS_HTML.txt2html($detail.ADDRESS)}' maxlength="166"/></td>
							<th scope="row"><label for="birthYmd">출생일</label></th>
							<td><input type="text" id="birthYmd" name="birthYmd" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.BIRTH_YMD})}' maxlength="20" readonly="readonly" /></td>
						</tr>
						<tr>
							<th scope="row"><label for="school">학력</label></th>
							<td>
								<textarea id="school" name="school" class="tabletext" title="학력" cols="" rows="3">$!{CS_HTML.txt2html($detail.SCHOOL)}</textarea>
								<span id="schoolIndicator">0</span>/500byte
							</td>
							<th scope="row"><label for="userHistory">경력</label></th>
							<td>
								<textarea id="userHistory" name="userHistory" class="tabletext" title="경력" cols="" rows="3">$!{CS_HTML.txt2html($detail.USER_HISTORY)}</textarea>
								<span id="userHistoryIndicator">0</span>/2000byte
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="content">비고</label></th>
							<td colspan="3">
								<textarea id="content" name="content" class="tabletext" title="비고" cols="" rows="5">$!{CS_HTML.txt2html($detail.CONTENT)}</textarea>
								<span id="contentIndicator">0</span>/2000byte
							</td>
						</tr>

					
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>	
    	</div>
    	<div class="clear"></div>
    </div>
</form>
