#*************************************************************************
* CLASS 명      : deptTree.vm
* 작 업 자      : 안요한
* 작 업 일      : 2013년 06월 04일 
* 기    능      : 간부대상자 조직트리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호  작 업 자     작   업   일           변 경 내 용             비고
* ----  --------  -----------------  -------------------------    --------
*   1    안요한     2013년 06월 04일         최 초 작 업 
**************************************************************************#

<script language="javascript" type="text/javascript">
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
	
		//하위 노드가 없는 엘리먼트 삭제
		//J("#treeData ul:empty").remove();
		
		//디폴트 선택 엘리먼트 설정
		var choiceElement3 = J("#$!{searchMap.txt2html("findDeptCd")}");
		
		choiceElement3.children().addClass("choiceTreeNode");
		
		//디폴트 선택된 엘리먼트의 상위 엘리먼트를 펼쳐진 상태로 설정
		for(var i = 0; i < 10; i++) {
			choiceElement3.addClass("expanded");
			choiceElement3 = choiceElement3.parent().parent();
			
			if(choiceElement3.attr("id") == "tree") break;
		}
		
		//1레벨은 기본적으로 펼침
		J("#treeData > li").first().addClass("expanded");
		
		//dyna 트리 기본설정
		J(".deptTree3").dynatree({
			onActivate: function(node) {
				try {
					J(".deptTree3 div").removeClass("choiceTreeNode");
					goAction(node.data.key, node.data.title);
				} catch(error) {}
			},
			onDblClick: function(node, event) {
				try {
					goDblClickAction(node.data.key, node.data.title);
				} catch(error) {}
			},
			onClick: function(node, event) {
				try {
					goClickAction(node.data.key, node.data.title);
				} catch(error) {}
			}
		});
		
	});
	
//]]>
</script>


<div id="tree" class="deptTree3">
	<ul id="treeData" class="none">
	#foreach($list in $deptTree)
		#if ($list.DEPT_LEVL == "0")
			<li id="$!{CS_HTML.txt2html($list.DEPT_CD)}" class="expanded">
				<div>$!{CS_HTML.txt2html($list.DEPT_KOR_NM)}</div>
				<ul>
				#foreach($list2 in $deptTree)
    				#if ($list2.DEPT_LEVL == "1")
						#if ($list2.UP_DEPT_CD == $list.DEPT_CD)
    						<li id="$!{CS_HTML.txt2html($list2.DEPT_CD)}" class="expanded">
    							<div>$!{CS_HTML.txt2html($list2.DEPT_KOR_NM)}</div>
								<ul>
									#foreach($list3 in $deptTree)
                        				#if ($list3.DEPT_LEVL == "2")
                    						#if ($list3.UP_DEPT_CD == $list2.DEPT_CD)
                        						<li id="$!{CS_HTML.txt2html($list3.DEPT_CD)}">
                        							<div>$!{CS_HTML.txt2html($list3.DEPT_KOR_NM)}</div>
                        						</li>
                    						#end
                        				#end
                    				#end
                                </ul>
    						</li>
						#end
    				#end
				#end
                </ul>
			</li>
		#end
	#end
    </ul>
</div>


 