#*************************************************************************
* CLASS 명      : metricDefineListExcel
* 작 업 자      : 하윤식
* 작 업 일      : 2012.11.29
* 기    능      : 지표정의서 엑셀다운로드
* ---------------------------- 변 경 이 력 --------------------------------
* 번호   작 업 자     작   업   일        변 경 내 용             비고
* ----  --------  -----------------  -------------------------  --------
*  1     하 윤 식      2012.11.29          최 초 작 업 
**************************************************************************# 
#parse("/WEB-INF/vl/common/template/excelHead.vm")
<body>
	<table>
		<tr>
            <td class="head">평가자</td>
            <td class="head">$!{CS_HTML.txt2html($detail.METRIC_NM)}</td>
            <td class="head">승계자</td>                        
            <td class="head">승계일자</td>                        
            <td class="head">승계여부</td>                        
        </tr>                       
    	#if($excelList.size() > 0)
    		#foreach($list in $$excelList)
	            <tr>			                    	
					<td class="text">$!{CS_HTML.txt2html($list.get("CTRT_STAT_NM"))}</td>	
					<td class="text">$!{CS_HTML.txt2html($list.get("VATN_NM"))}</td>	
					<td class="text">$!{CS_HTML.txt2html($list.get("CNFIRM_NM"))}</td>	
					<td class="text">$!{CS_HTML.txt2html($list.get("SCIN_NM"))}</td>										
					<td class="text">$!{CS_HTML.txt2html($list.get("SCIN_DATE"))}</td>										
	            </tr>
            #end
        #else
			<tr>
				<td colspan="5">데이터가 존재하지 않습니다.</td>
			</tr>
		#end
    </table>
</body>
</html>
