#*************************************************************************
* CLASS 명      : calMetricList
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 7월 20일 
* 기    능      : 계산된 지표관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     하윤식      2012년 7월 20일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/bsc/base/calMetric/calMetricList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/base/calMetric/calMetricList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_r2_width} - 60,
			colNames     :['$!{METRIC_NM}ID', '$!{METRIC_NM}', '연계유형', '실적산식', '유형', '개수'],
			colModel     :[
                            {name:'METRIC_ID'            ,index:'METRIC_ID'            ,width:100   ,align:'center' }, 
                            {name:'METRIC_NM'            ,index:'METRIC_NM'            ,width:180   ,align:'left' ,formatter:linkUpdate },
                            {name:'METRIC_PROPERTY_NM'   ,index:'METRIC_PROPERTY_NM'   ,width:40    ,align:'center' }, 
                            {name:'ACT_CAL_TYPE'         ,index:'ACT_CAL_TYPE'         ,width:100   ,align:'center' },
							{name:'CAL_GUBUN'            ,index:'CAL_GUBUN'            ,width:100   ,align:'center' },
							{name:'CNT'                  ,index:'CNT'                  ,width:100   ,align:'center' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			loadComplete : function() {
								scoreGridSet();
    							//goModify(1);
                           },
			caption:"계산된 $!{METRIC_NM}관리"
		}).jqGrid('hideCol',"METRIC_ID").jqGrid('hideCol',"METRIC_PROPERTY_NM").jqGrid('hideCol',"CAL_GUBUN").jqGrid('hideCol',"CNT").setGridWidth($vcMath.toInteger($!{jqGrid_r2_width}) - 60);
		
        
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
        
		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnInsert").click(function() {
			saveChk();
		});
        
		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});
		
		/******************************************
		 * 계산된지표 연계구분 클릭 이벤트
		 ******************************************/
		J("input:radio[name=calGubun]").click(function() {
			chgDetail();
		});
		
		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#anchor").fancybox();            //세부지표검색 팝업
		
	});
	
	/******************************************
	 * 달성율 기준 데이터 그리드 출력
	 ******************************************/
	 function scoreGridSet() {
		var str = J('#formList').serialize();
		
		jQuery("#detailScorelist").jqGrid({
			url          :"$!{context_path}/bsc/base/calMetric/calMetricScoreList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $vcMath.toInteger($!{jqGrid_height}) - 25,
			width        : $!{jqGrid_r2_width} ,
			colNames     :['$!{METRIC_NM}', '$!{METRIC_NM}', '$!{METRIC_NM}', '$!{SC_DEPT_NM}', '가중치', '연계항목'],
			colModel     :[
							{name:'SUB_METRIC_ID'   ,index:'SUB_METRIC_ID'    ,width:50     ,align:'center' ,formatter:linkMetricId},
							{name:'SUB_METRIC_ID2'  ,index:'SUB_METRIC_ID2'   ,width:50     ,align:'center' },
                            {name:'SUB_METRIC_NM'   ,index:'SUB_METRIC_NM'    ,width:200    ,align:'left'   }, 
                            {name:'SC_DEPT_NM'      ,index:'SC_DEPT_NM'       ,width:150    ,align:'left'   },
							{name:'WEIGHT'          ,index:'WEIGHT'           ,width:50     ,align:'center' ,formatter:linkWeight},
							{name:'CAL_PLACE'       ,index:'CAL_PLACE'        ,width:50     ,align:'center' ,formatter:linkCalPlace},
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : true,
			cellEdit     : true,
			loadComplete : function() {
								J("input[name=weights]").numeric({allow:"."});        //특정문자 허용(.)
								J("input[name=weights]").css("ime-mode", "disabled"); //한글사용 비활성화
                           },
			caption:"계산된 $!{METRIC_NM}관리"
		}).jqGrid('hideCol','SUB_METRIC_ID').jqGrid('hideCol','SUB_METRIC_ID2').setGridWidth($vcMath.toInteger($!{jqGrid_r2_width}));
	}
	
	/******************************************
	 * jqGrid 지표코드
	 ******************************************/
	function linkMetricId(cellvalue, options, rowObject) {
		return '<input type="text" name="subMetricIds" value="' + cellvalue + '" class="wp50"/>';
	}
	
	/******************************************
	 * jqGrid 가중치
	 ******************************************/
	function linkWeight(cellvalue, options, rowObject) { 
		return '<input type="text" name="weights" value="' + cellvalue + '" class="inputbox wp70" maxlength="6" />';
	}
	
	/******************************************
	 * jqGrid 산식연계항목
	 ******************************************/
	function linkCalPlace(cellvalue, options, rowObject) {
		var arr = new Array("A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z");
		var cnt = J("#actCalTypeCnt").val();

		var str = '';
		str += '<select name="calTypes" >';
		
		for(var i = 0; i < cnt; i++) {
			if(arr[i] == cellvalue) {
				str += '    <option value="' + arr[i] + '" selected="selected">' + arr[i] + '</option>';
		    } else {
				str += '    <option value="' + arr[i] + '">' + arr[i] + '</option>';
			}
		}
		
		str += '</select>';
		return str;
	}
	
	/******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		 
		if("0" == rowObject.CNT) {
			return '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '<//a>';
		} else {
			return '<a href=javascript:goModify(' + options.rowId + ')><span class="txt_blue2">' + cellvalue + '</span></a>';
		}
	}
	
	/******************************************
	 * 수정
	 ******************************************/
	function goModify(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var year = J("#findYear").val();
		var metricId = ret.METRIC_ID;
		var metricNm = J(ret.METRIC_NM).text();
		var calGubun = ret.CAL_GUBUN;
		var actCalType = ret.ACT_CAL_TYPE;

		J("#calMetricNm").html("");
		
		if(undefined == metricId) {
			return;
		}
		
		var arr = new Array("A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z");
		var cnt = 0;
		
		for(var i = 0; i < arr.length; i++) {
			for(var j = 0; j < actCalType.length; j++) {
				if(arr[i] == actCalType.charAt(j)) {
					cnt++;
				} 
			}
		}
		
		if(metricNm.length > 16) {
			metricNm = metricNm.substring(0,15) + "..";
		}

		J("#calMetricNm").html(metricNm);
		J("#metricId").val(metricId);
		J("#year").val(year);
		J("#actCalType").val(actCalType);
		J("#actCalTypeCnt").val(cnt);
		
		if(calGubun == "01") {
			J('input:radio[name=calGubun]:input[value="01"]').attr("checked", true);
		} else {
			J('input:radio[name=calGubun]:input[value="02"]').attr("checked", true);
		}
		
		goDetail();
	}
	
	/******************************************
	 * 삭제
	 ******************************************/
	function goDelete() {
		if(!J.gridSelectChk("detailScorelist")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null); 
		} else {
			J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
		}
	}
    
	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
		var id = J("#detailScorelist").getGridParam('selarrrow');
		var ids = J("#detailScorelist").jqGrid('getDataIDs');
		var rowdata = "";
		var delSubMetricIds = "";
		
		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#detailScorelist").getRowData(ids[i]);
					delSubMetricIds += rowdata.SUB_METRIC_ID2 + '|';
				}
			});
		}
		
		J("#year").val(J("#findYear").val());
		J("#delSubMetricIds").val(delSubMetricIds);
		J("#scDeptId").val(J("#findScDeptId").val());
		J("#scDeptNm").val(J("#findScDeptNm").val());
		J("#mode").val("DEL");
		J("#formList").attr("action", "$!{context_path}/bsc/base/calMetric/calMetricProcess.vw?type=template").submit();
		return false;
	}
	
	/******************************************
	 * 조직트리 선택
	 ******************************************/
	function goAction(code, name) {
		var scDeptNm = J(name).text();
		J("#findScDeptId").val(code);
		J("#findScDeptNm").val(scDeptNm);
		goGridSearch();
	}
	
	/******************************************
	 * 그리드 ajax 조회
	 ******************************************/
	function goGridSearch() {
		J("#list").setGridParam({url:"$!{context_path}/bsc/base/calMetric/calMetricList_xml.vw?"+J("#formFind").serialize(), datatype:"json"}); 
		J("#list").trigger("reloadGrid");
	}
	
	/******************************************
	 * 입력 체크
	 ******************************************/
	function saveChk() {
		var calGubun = J("input:radio[name=calGubun]:checked").val();
		var count = J("#detailScorelist").jqGrid('getGridParam', 'records');
		var saveChk = true;
		
		//데이터 미 설정시
		if(count == 0) {
			J.showMsgBox("선택된 데이터가 없습니다.", null, null);
			saveChk = false;
			return false;
		}
		
		//실적기준
		if(calGubun == "01") { 
			J("select[name=calTypes]").each(function(i, item) {
    			J("select[name=calTypes]").each(function(j, item) {
    				if(i!=j && J("select[name=calTypes]").eq(i).val() == J("select[name=calTypes]").eq(j).val()) {
						J.showMsgBox("실적연계항목은 동일한 산식항목을 선택하실 수 없습니다", null, null);
        				saveChk = false;
        				return false;
					}
    			});
    		});
		}
		
		if(saveChk) {
			J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
		}
	}
	
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#scDeptId").val(J("#findScDeptId").val());
		J("#scDeptNm").val(J("#findScDeptNm").val());
		J("#mode").val("ADD");
		J("#formList").attr("action", "$!{context_path}/bsc/base/calMetric/calMetricProcess.vw?type=template").submit(); 
	}
	
	/******************************************
	 * 세부지표조회
	 ******************************************/
	function subMetricPop() {
		if(J("#metricId").val() == "") {
			J.showMsgBox("상위 $!{METRIC_NM}를 선택해 주십시요", null, null);
			return;
		}	
	
		J("#anchor").attr("href","$!{context_path}/bsc/base/calMetric/calMetricModify.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;callBack=setSubMetricSet");
		J("#anchor").click();
	}
	
	/******************************************
	 * 세부지표조회
	 ******************************************/
	function goDetail() {
	
		var calGubun = J("input:radio[name=calGubun]:checked").val();
		
		if(calGubun == "01") { //실적기준
			J("#detailScorelist").jqGrid('hideCol','WEIGHT').setGridWidth($vcMath.toInteger($!{jqGrid_r2_width}) + 0);
			J("#detailScorelist").jqGrid('showCol','CAL_PLACE').setGridWidth($vcMath.toInteger($!{jqGrid_r2_width}) + 0);
		} else { //달성율
			J("#detailScorelist").jqGrid('showCol','WEIGHT').setGridWidth($vcMath.toInteger($!{jqGrid_r2_width}) + 0);
			J("#detailScorelist").jqGrid('hideCol','CAL_PLACE').setGridWidth($vcMath.toInteger($!{jqGrid_r2_width}) + 0);
		} 
		
		J("#detailScorelist").setGridParam({url:"$!{context_path}/bsc/base/calMetric/calMetricScoreList_xml.vw?"+J("#formList").serialize(), datatype:"json"});
		J("#detailScorelist").trigger("reloadGrid");
	}
	
	/******************************************
	 * 연계구분변경
	 ******************************************/
	function chgDetail() {
	
		var calGubun = J("input:radio[name=calGubun]:checked").val();
		
		if(calGubun == "01") { //실적기준
			J("#detailScorelist").jqGrid('hideCol','WEIGHT').setGridWidth($vcMath.toInteger($!{jqGrid_r2_width}) + 0);
			J("#detailScorelist").jqGrid('showCol','CAL_PLACE').setGridWidth($vcMath.toInteger($!{jqGrid_r2_width}) + 0);
		} else { //달성율
			J("#detailScorelist").jqGrid('showCol','WEIGHT').setGridWidth($vcMath.toInteger($!{jqGrid_r2_width}) + 0);
			J("#detailScorelist").jqGrid('hideCol','CAL_PLACE').setGridWidth($vcMath.toInteger($!{jqGrid_r2_width}) + 0);
		}
		
		J("#detailScorelist").clearGridData(false);
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">계산된 $!{METRIC_NM}관리</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/base/calMetric/calMetricList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="계산된 $!{METRIC_NM}관리검색 조건">
						<caption class="none">계산된 $!{METRIC_NM}관리 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w220">
            						<span>$!{YEAR}</span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w250">
            						<span>$!{SC_DEPT_NM}</span>
            						<span class="searchBar">
										<input type="hidden" id="findScDeptId" name="findScDeptId" value="$!{searchMap.txt2html("scDeptId")}"/>
										<input type="text" id="findScDeptNm" name="findScDeptNm" value="$!{searchMap.txt2html("scDeptNm")}" class="disable" readonly="readonly"/>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/base/calMetric/calMetricProcess.vw?type=template">
			<input type="hidden" id="mode"       		name="mode" />
			<input type="hidden" id="year"		 		name="year" />
			<input type="hidden" id="metricId"	 		name="metricId" />
			<input type="hidden" id="actCalType"		name="actCalType" />
			<input type="hidden" id="actCalTypeCnt"		name="actCalTypeCnt" />
			<input type="hidden" id="delSubMetricIds"	name="delSubMetricIds" />
			<input type="hidden" id="scDeptId"	 		name="scDeptId" />
			<input type="hidden" id="scDeptNm"	 		name="scDeptNm" />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 조직트리 Start -->
    				<div class="blockGridTreeTable">
    					#parse("/WEB-INF/vl/bsc/module/commModule/commonTree.vm") 
    				</div>
					
					<div id="mainListData">
						<!-- 데이터그리드 Start -->
						<div class="blockGridListTable floatLeft" style="margin-left:10px;">
    						<table id="list" summary="계산된 $!{METRIC_NM}관리 조회결과">
    							<caption class="none">계산된 $!{METRIC_NM}관리 조회</caption>
    							<thead><tr><th></th></tr></thead>
    							<tbody><tr><td></td></tr></tbody>
    						</table>
    						<div id="pager"></div>
    					</div>
    					<!--// 데이터그리드 End -->
						
						<!--blockListTable Start-->
                		<div class="blockUnit floatRight" style="width:475px;">
							<table summary="계산된 $!{METRIC_NM} 상세조회" style="width:100%;">
        						<caption class="none">계산된 $!{METRIC_NM} 상세조회</caption> 
        						<thead><tr><th></th></tr></thead>
                				<tbody>
                    				<tr>
        								<td class="searchBox_tit">
                    						<span>상위$!{METRIC_NM} : </span><span id="calMetricNm"></span>
                    					</td>
										<td class="searchBox_tit" style="width:23%;">
											<span>세부$!{METRIC_NM}</span>
											<input type="image" onclick="javascript:subMetricPop();return false;" class="valign_middle" src="$!{img_path}/common/board/ic_search.gif" alt="세부KPI검색"/>
										</td>
        								<td style="width:25%;">
                    						<span>
												<input type="radio" id="calGubun1" name="calGubun" value="01" />실적&nbsp;
												<input type="radio" id="calGubun2" name="calGubun" value="02" />달성율
                    						</span>
                    					</td>
                    				</tr>
                				</tbody>
            				</table>
                		</div>
                		<!--//blockListTable End-->
						
						<div class="blockGridListTable blockUnit floatRight" style="width:475px;" >					
                        	<table id="detailScorelist" summary="상세 하위데이터 조회(달성율연계)" >
                        		<caption class="none">상세 하위데이터 조회(달성율연계)</caption>
                        		<thead><tr><th></th></tr></thead>
                        		<tbody><tr><td></td></tr></tbody>
                        	</table>
                        	<div id="pager2"></div>
                        </div>
						
    					<div class="blockButton_all floatLeft">
    						<div class="blockButton_l"></div>
    						<div class="blockButton">
    							<ul>
									<li><input type="submit" id="btnDelete" value="삭제" /></li>
    								<li><input type="button" id="btnInsert" value="저장" /></li>
    							</ul>
    						</div>
    					</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<a id="anchor"></a>
	<div class="clear"></div>
</div>
