#*************************************************************************
* CLASS 명      : actualTree.vm
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 7월 24일 
* 기    능      : 지표실적입력 트리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호  작 업 자     작   업   일           변 경 내 용             비고
* ----  --------  -----------------  -------------------------    --------
*   1    하윤식     2012년 7월 24일         최 초 작 업 
**************************************************************************#

<script language="javascript" type="text/javascript">
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
	
		//하위 노드가 없는 엘리먼트 삭제
		J("#treeData ul:empty").remove();
		
		//디폴트 선택 엘리먼트 설정
		var choiceElement = J("#$!{searchMap.txt2html("metricId")}");

		choiceElement.children().addClass("choiceTreeNode");
		
		//디폴트 선택된 엘리먼트의 상위 엘리먼트를 펼쳐진 상태로 설정
		for(var i = 0; i < 10; i++) {
			choiceElement.addClass("expanded");
			choiceElement = choiceElement.parent().parent();
			
			if(choiceElement.attr("id") == "tree") break;
		}
		
		//dyna 트리 기본설정
		J(".deptTree").dynatree({
			checkbox: true,
			selectMode: 3,
			onActivate: function(node) {
				try {
					J(".deptTree div").removeClass("choiceTreeNode");
					goAction(node.data.key, node.data.title);
				} catch(error) {}
			},
			onDblClick: function(node, event) {
				try {
					goDblClickAction(node.data.key, node.data.title);
				} catch(error) {}
			},
			onClick: function(node, event) {
				try {
					goClickAction(node.data.key, node.data.title);
				} catch(error) {}
			}
			#*
			,
			onSelect: function(blnSelect, node) {
				try {
					//node.blnSelect = true;
				} catch(error) {}
			}
			*#
		});
		
		//입력완료 상태가 아닌 노드는 체크박스 제외
		var tree = J("#tree").dynatree("getTree");
		var node;
		
		#if($!{searchMap.txt2html("findActualType")} == "input")
    	
			#foreach($list in $metricTreeList)
    			#if($!{CS_HTML.txt2html($list.ACT_STATUS_ID)} != "02")
        			node = tree.getNodeByKey("$!{CS_HTML.txt2html($list.METRIC_ID)}");
        			node.data.hideCheckbox = true;
    				node.data.unselectable = true;
    				//node.select = true;
        			node.render(true);
    			#end
    		#end

		#elseif($!{searchMap.txt2html("findActualType")} == "check")
		
			#foreach($list in $metricTreeList)
    			#if($!{CS_HTML.txt2html($list.ACT_STATUS_ID)} != "04" && $!{CS_HTML.txt2html($list.ACT_STATUS_ID)} != "06")
        			node = tree.getNodeByKey("$!{CS_HTML.txt2html($list.METRIC_ID)}");
        			node.data.hideCheckbox = true;
    				node.data.unselectable = true;
    				//node.select = true;
        			node.render(true);
    			#end
    		#end
		#else
		
			#foreach($list in $metricTreeList)
    			#if($!{CS_HTML.txt2html($list.ACT_STATUS_ID)} != "03" && $!{CS_HTML.txt2html($list.ACT_STATUS_ID)} != "04")
        			node = tree.getNodeByKey("$!{CS_HTML.txt2html($list.METRIC_ID)}");
        			node.data.hideCheckbox = true;
    				node.data.unselectable = true;
    				//node.select = true;
        			node.render(true);
    			#end
    		#end
    	#end

		
	});
	
	function fncSelecter(selectAll){
	
		var flag = false;
		var rootNode = J(".deptTree").dynatree("getRoot");
		var children = rootNode.getChildren() ;
		
		var tree = J(".deptTree").dynatree("getTree");
	
		if(children != null){
		 	flag = true
		}
		
		if(selectAll && flag){
			//전체 체크박스 선택		
            #foreach($list in $scDeptTreeList)
    			node = tree.getNodeByKey("$!{CS_HTML.txt2html($list.SC_DEPT_ID)}");
    			node.select();
    		#end

			#foreach($list in $metricTreeList)
    			node = tree.getNodeByKey("$!{CS_HTML.txt2html($list.METRIC_ID)}");
    			node.select();
    		#end

		}else if (!selectAll && flag){
			//전체 체크박스 해제
			
			#foreach($list in $scDeptTreeList)
    			node = tree.getNodeByKey("$!{CS_HTML.txt2html($list.SC_DEPT_ID)}");
    			node.select(false);
    		#end

			#foreach($list in $metricTreeList)
    			node = tree.getNodeByKey("$!{CS_HTML.txt2html($list.METRIC_ID)}");
    			node.select(false);
    		#end

		}
	}
		
//]]>
</script>


<div id="tree" class="deptTree">
    <ul id="treeData" class="none">
	#foreach($list1 in $scDeptTreeList)
		<li id="$!{CS_HTML.txt2html($list1.SC_DEPT_ID)}" class="expanded"><div class="$!{CS_HTML.txt2html($list1.PARAM)}">$!{CS_HTML.txt2html($list1.SC_DEPT_NM)}</div>
			<ul>
			#foreach($list2 in $metricTreeList)
				#if($list1.SC_DEPT_ID == $list2.SC_DEPT_ID)
				<li id="$!{CS_HTML.txt2html($list2.METRIC_ID)}">
					<div class="STATUS$!{CS_HTML.txt2html($list2.ACT_STATUS_ID)}"></div> 
					<div class="$!{CS_HTML.txt2html($list2.PARAM)}">($!{CS_HTML.txt2html($list2.ACT_STATUS_NM)}) $!{CS_HTML.txt2html($list2.METRIC_NM)} ($!{CS_HTML.txt2html($list2.SCORE)}) <img src="$!{img_path}/common/ball/ball_$!{CS_HTML.txt2html($list2.STATUS_ID)}.gif" style="width:11px;height:11px;" class="valign_middle" alt="신호등" /></div>
				</li>
				#end
			#end
			</ul>
		</li>
	#end
    </ul>
</div>


 