#*************************************************************************
* CLASS 명      : popMetricActualDetailList
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 02일
* 기    능      : 월별지표실적상세(전략 및 경평에서 팝업으로 보여줌)
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     정철수      2012년 11월 02일             최 초 작 업
**************************************************************************#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">

#set($main_url = $!{searchMap.txt2html("mainUrl")})
#set($curr_url = $!{context_path} + "/bsc/tam/actualMng/popMetricAttachList.vw")

<head>
	#parse("/WEB-INF/vl/common/template/head.vm")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	var toggle=false;
	
	J(document).ready(function(){
		
		/******************************************
         * 의견저장버튼 이벤트
         ******************************************/
        J("#btnInsert").click(function() {
            saveChk();
        });
        
		/******************************************
         * 미진사유저장버튼 이벤트
         ******************************************/
        J("#btnInsertDesc").click(function() {
            saveDescChk();
        });
        
		/******************************************
		 * 닫기버튼 (창닫기)
		 ******************************************/
		J("#btnClose").click(function() {
			self.close();
		});

	});
	
	/******************************************
     * 의견 필수입력 체크
     ******************************************/
    function saveChk() {
        if(!LengthCheck(J("#opnion").val(), "의견", 1, 4000 ) ) {
            J("#opnion").focus();
            return false;
        }
        J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
    }
    
	/******************************************
     * 미진사유 필수입력 체크
     ******************************************/
    function saveDescChk() {
        if(!LengthCheck(J("#causeDesc").val(), "미진사유", 1, 4000 ) ) {
            J("#causeDesc").focus();
            return false;
        }
        J.showConfirmBox("저장하시겠습니까?", "saveDescDo"); //saveDescDo() 콜백함수 호출
    }
    
    /******************************************
     * 의견 저장
     ******************************************/
    function saveDo() {
		J("#formOpnionList").attr("action", "$!{context_path}/bsc/tam/actualMng/popMetricAttachProcess.vw?mode=OPNION&amp;type=template").submit();        
		return false;
    }
    
	/******************************************
     * 미진사유 저장
     ******************************************/
    function saveDescDo() {
        J("#formOpnionList").attr("action", "$!{context_path}/bsc/tam/actualMng/popMetricAttachProcess.vw?mode=DESC&amp;type=template").submit();
        return false;
    }
//]]>
</script>
</head>
<body>

<div >
	<div style="padding:10px 20px;position:relative;">
		<h1 class="none">$METRIC_NM정의서</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
			<div class="searchBox">
				<div><div><div>
				<table summary="$METRIC_NM정의서검색 조건">
					<caption class="none">$METRIC_NM정의서 검색 조건</caption> 
					<thead><tr><th></th></tr></thead>
    				<tbody>
        				<tr>
							<td class="searchBox_tit w150">
        						<span>$YEARMON</span>
        						<span class="searchBar">
        							$!{searchMap.txt2html("year")}년 $!{searchMap.txt2html("mon")}월
        						</span>
        					</td>
        					<td class="searchBox_tit w300">
            					<span>지표</span>
								<span class="searchBar">
									$!{CS_UTIL.reduceString($!{searchMap.txt2html("metricNm")},20)}
								</span>
                            </td>
        				</tr>
    				</tbody>
				</table>
                </div></div></div>
	        </div>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

        <form id="formOpnionList" name="formOpnionList" method="post" action="$!{context_path}/bsc/mon/metricActualDetail/popMetricActualDetailProcess.vw?type=template">
            <input type="hidden"    name="findYear"         value="$!{searchMap.txt2html("year")}"/>
            <input type="hidden"    name="findMon"         value="$!{searchMap.txt2html("mon")}"/>
            <input type="hidden"    name="year"             value="$!{searchMap.txt2html("year")}"/>
            <input type="hidden"    name="mon"              value="$!{searchMap.txt2html("mon")}"/>
 			<input type="hidden"    name="scDeptId"         value="$!{searchMap.txt2html("scDeptId")}"/>
            <input type="hidden"    name="metricId"         value="$!{searchMap.txt2html("metricId")}"/>
            <input type="hidden"    name="userId"           value="$!{searchMap.txt2html("userId")}"/>
            <input type="hidden"    name="analCycle"           value="$!{searchMap.txt2html("analCycle")}"/>
            
            <div id="blockDetailTB" class="blockListTable">
			<table summary="실적입력">
		    	<caption class="none">실적입력</caption>
		    	<thead class="none">
		    		<tr><td width="25%"></td><td></td></tr> 
		    	</thead>
		    	<tbody>
					<tr>
						<th width="25%">미진사유</th>
						<td width="75%" class="textLeft"><textarea id="causeDesc" name="causeDesc" class="tabletext" title="미진사유" cols="" rows="5" >$!{CS_HTML.txt2html($causeDetail.CAUSE_DESC)}</textarea></td>
					</tr>
					<tr>
						<th>첨부파일</th>
						<td class="textLeft">
							#foreach($fileList in $fileList)
								$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))} 
								&nbsp;&nbsp;
							#end
						</td>
					</tr>
					
					<tr>
						<th width="25%">의견</th>
						<td width="75%" class="textLeft"><textarea id="opnion" name="opnion" class="tabletext" title="의견" cols="" rows="5">$!{CS_HTML.txt2html($causeDetail.OPNION)}</textarea></td>
					</tr>
		    	</tbody>
		    </table>
				<div class="blockButton_all">
					<div class="blockButton" style="float:left; text-align:left; width:250px;">
						<font color="blue">지표담당자,담당부장,담당처실장에게 의견을 전달합니다.</font>
					</div>
					<div class="blockButton" style="float:right; text-align:right; width:250px;">
						<ul>
							#if($!{CS_LOGIN.chkAuthGrp("01")})
		                        <li><input type="button" id="btnInsert" value="의견저장" /></li>
	                    		<li><input type="button" id="btnInsertDesc" value="미진사유 저장" /></li>
		                    #else
		                    	#if($!{CS_LOGIN.chkAuthGrp("62")})
		                        	<li><input type="button" id="btnInsert" value="의견저장" /></li>
		                    	#end
			                    #if("$!{searchMap.txt2html('userId')}" == "$!{CS_LOGIN.getSabun()}")
			                    	<li><input type="button" id="btnInsertDesc" value="미진사유저장" /></li>
			                    #end
		                    #end
                        	<li><input type="button" id="btnClose" value="닫기" /></li>
						</ul>
					</div>
				</div>
		</div>
        </form>


	</div>
	<div class="clear"></div>
</div>
<div id="dialog" title="확인" style="display:none;"><p>&nbsp;</p></div>    <!-- 다이어로그 -->
</body>
</html>