#*************************************************************************
* CLASS 명      : metricGrpUseList
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 6월 13일 
* 기    능      : 지표Pool관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     하윤식      2012년 6월 13일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/bsc/base/metricGrp/metricGrpList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/base/metricGrp/metricGrpUseList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['$!{METRIC_NM}명', '$!{SC_DEPT_NM}', '평가유형', '단위', '주기', '목표'],
			colModel     :[
                            {name:'METRIC_NM'            ,index:'METRIC_NM'         ,width:200   ,align:'left' }, 
                            {name:'SC_DEPT_NM'           ,index:'SC_DEPT_NM'        ,width:170   ,align:'left' },
							{name:'TYPE_NM'              ,index:'TYPE_NM'           ,width:100   ,align:'center' },
                            {name:'UNIT_NM'              ,index:'UNIT_NM'           ,width:100   ,align:'center' }, 
                            {name:'EVAL_CYCLE_NM'        ,index:'EVAL_CYCLE_NM'     ,width:100   ,align:'center' }, 
                            {name:'TARGETY_TXT'          ,index:'TARGETY_TXT'       ,width:70    ,align:'center' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			cmTemplate	 : {sortable:false},
			loadComplete : function() {
    							var ids = J("#list").jqGrid('getDataIDs');
    							J("#list input:checkbox").each(function(index) {
									var rowdata = J("#list").getRowData(ids[index]);
    								if(rowdata.COUNT != 0) { //비교조건 대상 컬럼
										J(":checkbox[name=jqg_list_" + (index+1) + "]").hide();
    								}
    							});
                           },
			caption:"데이터리스트"
		});
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#btnSearch").click(function() {
			goSearch();
		});
        
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("input[name=findMetricGrpId]").val("");
			J("#formList").attr("action", "$!{context_path}/bsc/base/metricGrp/metricGrpList.vw?type=template").submit();
		});
		
		/******************************************
		 * 조직별 선택팝업
		 ******************************************/
		J("#btnSelect").click(function() {
			popSelScDept();
			return false;
		});
		
		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#anchor").fancybox();
	});

	/******************************************
	 * 조회
	 ******************************************/
	function goSearch() {
		J("#formFind").attr("action", "$!{context_path}/bsc/base/metricGrp/metricGrpUseList.vw?type=template").submit();
	}
	
	/******************************************
	 * 조직선택
	 ******************************************/
	function popSelScDept() {
		var findYear = J("#findYear").val();
		var findMetricGrpId = J("#findMetricGrpId").val();
		J("#anchor").attr("href","$!{context_path}/bsc/base/metricGrp/popMetricCopy.vw?findYear="+findYear+"&amp;findMetricGrpId="+findMetricGrpId);
		J("#anchor").click();
	}
	
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#year").val(J("#findYear").val());
		J("#metricGrpId").val(J("#findMetricGrpId").val());
		J("#mode").val("DISTRIBUTE");
		J("#formList").attr("action", "$!{context_path}/bsc/base/metricGrp/metricGrpProcess.vw?type=template").submit();
	}
 
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">$!{METRIC_GRP_NM}관리</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/base/metricGrp/metricGrpUseList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"		name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"		name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"			name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden"    id="findYear"			name="findYear"			value="$!{searchMap.txt2html("findYear")}" />
				<input type="hidden"    id="findMetricGrpId"	name="findMetricGrpId"	value="$!{searchMap.txt2html("findMetricGrpId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="$!{METRIC_GRP_NM}관리검색 조건">
						<caption class="none">$!{METRIC_GRP_NM}관리 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w150">
                                    <span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">$!{searchMap.txt2html("findYear")}년</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
					<!--
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
					-->
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/base/metricGrp/codeGrpProcess.vw?type=template">
			<input type="hidden" id="mode"			name="mode" />
			<input type="hidden" id="year"			name="year" />
			<input type="hidden" id="metricGrpId"	name="metricGrpId" />
			<input type="hidden" id="scDeptIds"		name="scDeptIds"		/>
			$!{searchMap.makeHiddenFind()}
			
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="$!{METRIC_GRP_NM}관리 조회결과">
							<caption class="none">$!{METRIC_GRP_NM}관리 조회결과</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton_l"></div>
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnSelect" value="조직별 $!{METRIC_NM} 추가" /></li>
								<li><input type="button" id="btnBack"   value="돌아가기" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<a id="anchor"></a>
	<div class="clear"></div>
</div>

