#*************************************************************************
* CLASS 명      : metricGrpUseList_xml.vm
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 6월 13일 
* 기    능      : 지표Pool관리 json 데이터 조회 
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     하윤식      2012년 6월 13일             최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"METRIC_ID"     : "$!{CS_HTML.txt2html($list.METRIC_ID)}",
		"METRIC_NM"     : "$!{CS_HTML.txt2html($list.METRIC_NM)}",
		"SC_DEPT_ID"    : "$!{CS_HTML.txt2html($list.SC_DEPT_ID)}",
		"SC_DEPT_NM"   : "$!{CS_HTML.txt2html($!CS_SC_DEPT.getName($!{searchMap.txt2html("findYear")}, $list.SC_DEPT_ID))}",
		"TYPE_ID"       : "$!{CS_HTML.txt2html($list.TYPE_ID)}",
		"TYPE_NM"       : "$!{CS_HTML.txt2html($list.TYPE_NM)}",
		"EVAL_CYCLE"    : "$!{CS_HTML.txt2html($list.EVAL_CYCLE)}",
		"EVAL_CYCLE_NM" : "$!{CS_HTML.txt2html($list.EVAL_CYCLE_NM)}",
		"UNIT"          : "$!{CS_HTML.txt2html($list.UNIT)}",
		"UNIT_NM"       : "$!{CS_HTML.txt2html($list.UNIT_NM)}",
		"TARGETY_TXT"   : "$!{CS_HTML.txt2html($list.TARGETY_TXT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
