#*************************************************************************
* CLASS 명      : popAttachScDeptDiagBackground
* 작 업 자      : 형광민
* 작 업 일      : 2012년 9월 05일 
* 기    능      : 조직성과도 배경 업로드 팝업
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     형광민      2012년 9월 5일             최 초 작 업
**************************************************************************# 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">

#set($main_url = $!{searchMap.txt2html("mainUrl")})
#set($curr_url = $!{context_path} + "/str/base/strSubjectMng/popAttachStrSubject.vw")

<head>
	#parse("/WEB-INF/vl/common/template/head.vm")
    <script language="javascript" type="text/javascript">
    //<![CDATA[
    	var J = jQuery;
    	
    	J(document).ready(function(){
    		#if($vcMath.toInteger($returnMap.get("ErrorNumber")) != 1)
    			J.showMsgBox("$!{CS_STATIC.strReplaceLF("\n", $returnMap.get("ErrorMessage"))}", "goBack", null);
    		#else
    			J.showMsgBox("정상적으로 처리되었습니다", "goSubmit", null);
    		#end
    	});
        
    	/******************************************
    	 * form submit
    	 ******************************************/
    	function goSubmit() {
    		opener.formFind.submit();
			self.close();
    	}
        
    	/******************************************
    	 * 돌아가기
    	 ******************************************/
    	function goBack() {
    		history.go(-1);
    	}
    //]]>
    </script>
</head>
<body>
	
<form name="form1" id="form1" method="post" action="/str/base/strSubjectMng/popAttachStrSubject.vw">
	$!{searchMap.makeHiddenFind()}
</form>

<div id="dialog" title="확인"><p>&nbsp;</p></div>    <!-- 다이어로그 -->

</body>
</html>
