#*************************************************************************
* CLASS 명      : excepReportModify
* 작 업 자      : 박경태 
* 작 업 일      : 2012년 12월 13일 
* 기    능      : 별도평가근거    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    박경태      2012년 12월 13일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/cbe/excep/excepReport/excepReportList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
		
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#evalBase").checkbyte({
			indicator:J("#evalBaseIndicator"),
			limit:2000
		});
		J("#evalBase").trigger("keyup");


	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		var fileChk = true;
		
		if(!J.checkLength("evalBase", "평가근거", 1, 2000)) {
			return;
		}
		
		//첨부파일 확장자 체크
		J(":file", "#form1").each(function(index, item) {
			var fileFullName = J("input[name=" + item.name + "]").val();
			
			var src = getFileExtension(fileFullName);
			
			if (!((src.toLowerCase() == "xls") || (src.toLowerCase() == "xlsx") || (src.toLowerCase() == "ppt") || (src.toLowerCase() == "pptx")||
				  (src.toLowerCase() == "doc") || (src.toLowerCase() == "docx") || (src.toLowerCase() == "hwp") || (src.toLowerCase() == "pdf") 
			    )) {
			
				fileChk = false;
    		}
		});
		
		if(fileChk == false) {
			J.showMsgBox("허용되지 않는 파일형식입니다<br/>허용되는 파일형식 : <br/>xls, xlsx, ppt, pptx, doc, docx, hwp, pdf", null, null);
    		return;
		}
		
		document.charset='utf-8';
		
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/cbe/excep/excepReport/excepReportProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 파일추가
	 ******************************************/
	var fileIndex = 0;
	
	function fileAttachAdd() {
		J("#fileAttach").append("<li id=\"fileRow" + fileIndex + "\"><input type=\"file\" name=\"file" + fileIndex + "\" class=\"input\" size=\"70\" /> <input type=\"button\" value=\"삭제\" onclick=\"deleteRow(" + fileIndex + ")\" class=\"input\" size=\"70\"></li>");
		fileIndex++;
	}
	
	function deleteRow(fileIndex)	{
    	J("#fileRow" + fileIndex).remove();
    }

//]]>
</script>    
 
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="$!{context_path}/cbe/excep/excepReport/excepReportProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />
	<input type="hidden"	id="evalDegreeId"   name="evalDegreeId"   value="$!{searchMap.txt2html("evalDegreeId")}" />
	<input type="hidden"	id="scDeptId"       name="scDeptId"       value="$!{searchMap.txt2html("scDeptId")}" />
	<input type="hidden"	id="insertUserId"   name="insertUserId"   value="$!{searchMap.txt2html("insertUserId")}" />
    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
								<td class="searchBox_tit w250">평가구분 <span class="searchBar">$!{CS_HTML.txt2html($detailGubun.EVAL_DEGREE_NM)}</span></td>
								<td class="searchBox_tit w250">평가근거담당자 <span class="searchBar">$!{CS_HTML.txt2html($detailUser.USER_NM)}</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="별도평가근거 등록">
					<caption class="none">별도평가근거 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="85%" />
    				</colgroup>
    				<tbody>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="evalBase">평가근거</label></th>
							<td>
								<textarea id="evalBase" name="evalBase" class="tabletext" title="평가근거" cols="" rows="5" >$!{CS_HTML.txt2html($detail.EVAL_BASE)}</textarea>
								<span id="evalBaseIndicator">0</span>/2000byte
							</td>
						</tr>	
						<tr>
							<th scope="row"><label for="attachFileNm">첨부파일</label></th>
							<td>
								#foreach($fileList in $fileList)
            						$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))} 
            						&nbsp;&nbsp;
            						<input type="checkbox" name="delAttachFiles" id="delAttachFile$!{fileList.get("SEQ")}" value="$!{fileList.get("SEQ")}" />&nbsp;
                					<label for="delAttachFile$!{fileList.get("SEQ")}">첨부파일 삭제</label> 
									<br/>
								#end
            					<br/>
								<a id="addFile" href="javascript:fileAttachAdd();"><img src="$!{searchMap.txt2html("context")}/images/common/btn_file.gif" class="valign_middle" alt="파일추가" /></a>&nbsp;(첨부파일 용량제한은 100M입니다)<br/>
								<div>
            						<ul id="fileAttach">
            						</ul>
            					</div>
							</td>
						</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="txt_red">
				#if( $!{CS_HTML.txt2html($getEvalPeriodYn)} == 'N')
				※ 평가근거 등록기간이 아닙니다.
				#end
			</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
					#if( $!{CS_HTML.txt2html($getEvalPeriodYn)} == 'Y' && $!{CS_HTML.txt2html($closeYn)} != 'Y')
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
					#end
    			</ul>
    		</div>	
    	</div>
    	<div class="clear"></div>
    </div>
</form>
