#*************************************************************************
* CLASS 명      : excepReportList_xml
* 작 업 자      : 박경태
* 작 업 일      : 2012년 12월 13일 
* 기    능      : 별도평가근거 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      박경태     2012년 12월 13일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"EVAL_DEGREE_ID"       : "$!{CS_HTML.txt2html($list.EVAL_DEGREE_ID)}", 
		"SC_DEPT_ID"           : "$!{CS_HTML.txt2html($list.SC_DEPT_ID)}", 
		"SC_DEPT_NM"           : "$!{CS_HTML.txt2html($list.SC_DEPT_NM)}", 
		"EVAL_BASE_CHARGE_USER_ID" : "$!{CS_HTML.txt2html($list.EVAL_BASE_CHARGE_USER_ID)}", 
		"EVAL_BASE_CHARGE_USER_NM" : "$!{CS_HTML.txt2html($list.EVAL_BASE_CHARGE_USER_NM)}", 
		"EVAL_BASE"            : "$!{CS_HTML.txt2htmlbr2($list.EVAL_BASE)}", 
		"FCOUNT"               : "$!{CS_HTML.txt2html($list.FCOUNT)}", 
		"SEQ"                  : "$!{CS_HTML.txt2html($list.SEQ)}", 
		"ATTACH_FILE_NM"       : "$!{CS_HTML.makeFileIconFileName($list.ATTACH_FILE_SUFFIX, $list.ATTACH_FILE_NM, $list.ATTACH_FILE_PATH)}",
		"ATTACH_FILE_FNM"      : "$!{CS_HTML.txt2html($list.ATTACH_FILE_FNM)}", 
		"ATTACH_FILE_SUFFIX"   : "$!{CS_HTML.txt2html($list.ATTACH_FILE_SUFFIX)}",
		"EMAIL"				   : "$!{CS_HTML.txt2html($list.EMAIL)}",
		"EVAL_SUBMIT_YN"	   : "$!{CS_HTML.txt2html($list.EVAL_SUBMIT_YN)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
