#*************************************************************************
* CLASS 명      : insaDeptScoreList_xml
* 작 업 자      : 지원길
* 작 업 일      : 2013년 6월 14일
* 기    능      : 조직업적평가결과 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     지 원 길      2013.06.14         최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"           : "$!{CS_HTML.txt2html($list.YEAR)}",
		"DEPT_CD"        : "$!{CS_HTML.txt2html($list.DEPT_CD)}",
		"DEPT_KOR_NM"    : "$!{CS_HTML.txt2html($list.DEPT_KOR_NM)}",
		"GRADE"          : "$!{CS_HTML.txt2html($list.GRADE)}",
		"SCORE"          : "$!{CS_HTML.txt2html($list.SCORE)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}




