<?xml version="1.0" encoding="UTF-8"?>

#*************************************************************************
* CLASS 명      : metricGrpTargetGrp_ajax.vm
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 7월 02일 
* 기    능      : 지표풀 구간대항목 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용         비고
* -----  ----------  -------------------  ---------------------- ---------
*  1      하윤식       2012년 7월 02일         최 초 작 업 
**************************************************************************# 

<items>

#foreach($list in $list)
	<item>
		<year>$!{CS_HTML.txt2html($list.YEAR)}</year>
		<metricGrpId>$!{CS_HTML.txt2html($list.METRIC_GRP_ID)}</metricGrpId>
		<mon01>$!{CS_HTML.txt2html($list.MON01)}</mon01>
		<mon02>$!{CS_HTML.txt2html($list.MON02)}</mon02>
		<mon03>$!{CS_HTML.txt2html($list.MON03)}</mon03>
		<mon04>$!{CS_HTML.txt2html($list.MON04)}</mon04>
		<mon05>$!{CS_HTML.txt2html($list.MON05)}</mon05>
		<mon06>$!{CS_HTML.txt2html($list.MON06)}</mon06>
		<mon07>$!{CS_HTML.txt2html($list.MON07)}</mon07>
		<mon08>$!{CS_HTML.txt2html($list.MON08)}</mon08>
		<mon09>$!{CS_HTML.txt2html($list.MON09)}</mon09>
		<mon10>$!{CS_HTML.txt2html($list.MON10)}</mon10>
		<mon11>$!{CS_HTML.txt2html($list.MON11)}</mon11>
		<mon12>$!{CS_HTML.txt2html($list.MON12)}</mon12>
	</item>	
#end

</items>
