<?xml version="1.0" encoding="UTF-8"?>

#*************************************************************************
* CLASS 명      : metricGrpData_ajax.vm
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 7월 02일 
* 기    능      : 지표풀 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용         비고
* -----  ----------  -------------------  ---------------------- ---------
*  1      하윤식       2012년 7월 02일         최 초 작 업 
**************************************************************************# 

<items>

#foreach($list in $list)
	<item>
		<metricGrpId>$!{CS_HTML.txt2html($list.METRIC_GRP_ID)}</metricGrpId>
		<metricGrpNm>$!{CS_HTML.txt2html($list.METRIC_GRP_NM)}</metricGrpNm>
		<evalGbnId>$!{CS_HTML.txt2html($list.EVAL_GBN_ID)}</evalGbnId>
		<detailEvalGbnId>$!{CS_HTML.txt2html($list.DETAIL_EVAL_GBN_ID)}</detailEvalGbnId>
		<deptMetricId>$!{CS_HTML.txt2html($list.DEPT_METRIC_ID)}</deptMetricId>
		<deptMetricNm>$!{CS_HTML.txt2html($list.DEPT_METRIC_NM)}</deptMetricNm>
		<performanceGoal>$!{CS_HTML.txt2html($list.PERFORMANCE_GOAL)}</performanceGoal>
		<weight>$!{CS_HTML.txt2html($list.WEIGHT)}</weight>
		<typeId>$!{CS_HTML.txt2html($list.TYPE_ID)}</typeId>
		<unit>$!{CS_HTML.txt2html($list.UNIT)}</unit>
		<evalCycleId>$!{CS_HTML.txt2html($list.EVAL_CYCLE_ID)}</evalCycleId>
		<kpiPurpose>$!{CS_HTML.txt2html($list.KPI_PURPOSE)}</kpiPurpose>
		<actCalType>$!{CS_HTML.txt2html($list.ACT_CAL_TYPE)}</actCalType>
		<scoreCalTypeGubun>$!{CS_HTML.txt2html($list.SCORE_CAL_TYPE_GUBUN)}</scoreCalTypeGubun>
		<scoreCalTypeId>$!{CS_HTML.txt2html($list.SCORE_CAL_TYPE_ID)}</scoreCalTypeId>
	</item>	
#end

#foreach($list in $listMon)
	<coldata>
		<colMon>$!{CS_HTML.txt2html($list.MON)}</colMon>
	</coldata>	
#end

</items>
