#*************************************************************************
* CLASS 명      : popTransHis
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 6월 26일
* 기    능      : 조직별KPI관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     하윤식      2012년 6월 26일             최 초 작 업
**************************************************************************#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">

#set($main_url = $!{searchMap.txt2html("mainUrl")})
#set($curr_url = $!{context_path} + "/mem/base/memMetric/popTransHis.vw")

<head>
	#parse("/WEB-INF/vl/common/template/head.vm")

<script type="text/javascript" language="javascript">
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
	 	var str = J('#formPopTrans').serialize();

		jQuery("#poplist").jqGrid({
			url          :"$!{context_path}/mem/base/memMetric/popTransHis_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : '200',
			width        : '800',
			colModel     :[
                            {name:'EVAL_GBN_ID'       	 ,index:'EVAL_GBN_ID'          ,width:60   ,align:'center' ,hidden:true  ,label:'평가구분코드'},
                            {name:'EVAL_GBN_NM'          ,index:'EVAL_GBN_NM'          ,width:60   ,align:'center' ,hidden:false  ,label:'평가구분'},                            
                            {name:'METRIC_ID'            ,index:'METRIC_ID'            ,width:50   ,align:'left'   ,hidden:true  ,label:'지표코드'},
							{name:'METRIC_NM'            ,index:'METRIC_NM'            ,width:210  ,align:'left'   ,hidden:false  ,label:'지표'},
							{name:'DEPT_METRIC_ID'       ,index:'DEPT_METRIC_ID'       ,width:60   ,align:'center' ,hidden:true  ,label:'부서지표코드'},
                            {name:'DEPT_METRIC_NM'       ,index:'DEPT_METRIC_NM'       ,width:150  ,align:'left' ,hidden:false  ,label:'부서지표'},
							{name:'TYPE_NM'       		 ,index:'TYPE_NM'       	   ,width:60   ,align:'center' ,hidden:false  ,label:'평가유형'},
							{name:'EVAL_CYCLE_NM'        ,index:'EVAL_CYCLE_NM'        ,width:60   ,align:'center' ,hidden:false  ,label:'평가주기'},
							{name:'TARGETY'        		 ,index:'TARGETY'        	   ,width:60   ,align:'center' ,hidden:false  ,label:'목표'},
							{name:'UNIT_NM'              ,index:'UNIT_NM'              ,width:60   ,align:'center' ,hidden:false  ,label:'단위'},
							{name:'PLAN_CNT'             ,index:'PLAN_CNT'             ,width:60   ,align:'center' ,hidden:true  ,label:'PLAN수'},
							{name:'SCORE_CAL_TYPE_GUBUN' ,index:'SCORE_CAL_TYPE_GUBUN' ,width:80   ,align:'left'   ,hidden:true  ,label:'득점산식구분'},
							{name:'WEIGHT'               ,index:'WEIGHT'               ,width:50   ,align:'center' ,hidden:true  ,label:'가중치'}
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			gridview     : true,
			multiselect  : false,
			cellEdit     : true,
			caption:"승계지표내역"
		});
		
		J("#btnClose").click(function(){
		
			self.close();
		
		});

	});
	
//]]>
</script>
</head>
<body>
<div id="Table" style="width:800px;">
	<div id="Table_blockContainer" style="width:800px;">
		<h1 class="none">승계지표관리</h1>

		<form id="formPopTrans" name="formPopTrans" method="post" action="$!{context_path}/mem/base/memMetric/memMetricProcess.vw?type=template">
			<input type="hidden" id="year"		name="year" 		value="$!{searchMap.txt2html("year")}" />
			<input type="hidden" id="metricId"  name="metricId" 	value="$!{searchMap.txt2html("metricId")}" />

		<div id="splitterBox">
			<div>
				<div id="mainListData">
					<!-- 데이터그리드 Start -->
					<div class="">
						<table id="poplist" summary="조직별$!{METRIC_NM}관리 조회결과">
							<caption class="none">조직별$!{METRIC_NM}관리 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div id="blockButton" class="blockButton">
							<ul>
								<li id="bClose" ><input type="button" id="btnClose"  value="닫기" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
</body>
</html>