#*************************************************************************
* CLASS 명      : excludeUserUseModify
* 작 업 자      : 박종호
* 작 업 일      : 2013년 09월 04일
* 기    능      : 간부 별도군관리 별도평가제외자 대상자관리 대상자맵핑
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    박종호      2013년 05월 31일            최 초 작 업
**************************************************************************#

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#formFind").attr("action", "$!{context_path}/cbe/exc/excludeUser/excludeUserUseList.vw?type=template").submit();
		});

		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});

		/******************************************
    	 * 사용자전체 이동 이벤트
    	 ******************************************/
		J("#allToLeft").click(function() {
			del();
		});

		J("#allToRight").click(function() {
			add();
		});

		J("#source").dblclick(function(){
			add();
		});

		J("#target").bind("dblclick",function(){
			del();
		});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}

	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		var empns = "";

		J("#target option").each(function() {
            empns += J(this).val() + '|';
        });

		J("#empns").val(empns);
		J("#form1").attr("action", "$!{context_path}/cbe/exc/excludeUser/excludeUserUseProcess.vw?type=template").submit();
	}

	/******************************************
	 * 맵핑 컨트롤
	 ******************************************/
	function sourceSelectedItem(selected_id) {
		var isCheck = false;

		J("#target option").each(function() {

				var userId = J(this).val();
				if(userId == selected_id) isCheck = true;

        });

    	return isCheck;
    }

    function targetSelectedItem(selected_id) {
		var isCheck = false;

		J("#source option").each(function() {
				var userId = J(this).val();
				if(userId == selected_id) isCheck = true;
        });

    	return isCheck;
    }

	function add() {
		if( J("#source option").length == 0) {
			J.showMsgBox("이동할 데이터가 없습니다.", null, null);
    		return;
    	}

    	if(J("#source option:selected").length == 0) {
			J.showMsgBox("이동할 데이터를 선택하십시오.", null, null);
    		return;
    	}

		J("#source option:selected").each(function() {

			var temp_text = J(this).text();
			var temp_value = J(this).val();

			if(sourceSelectedItem(temp_value) == false) {
				J("#target").append("<option value=\""+temp_value+"\">"+temp_text+"</option>");
			} else {
				J.showMsgBox("선택 하신 Data는 이미 선택 되어 있습니다.", null, null);
				return false;
			}

			J(this).remove();
        });
    }

    function del() {
		if( J("#target option").length == 0) {
			J.showMsgBox("이동할 데이터가 없습니다.", null, null);
    		return;
    	}

    	if(J("#target option:selected").length == 0) {
			J.showMsgBox("이동할 데이터를 선택하십시오.", null, null);
    		return;
    	}

		J("#target option:selected").each(function() {

			var temp_text = J(this).text();
			var temp_value = J(this).val();

			if(targetSelectedItem(temp_value) == false) {
				J("#source").append("<option value=\""+temp_value+"\">"+temp_text+"</option>");
			}

			J(this).remove();
        });
    }


//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			<div class="clear"></div>
		</div>
		<div class="tableTop">
            <!-- 검색 테이블 Start -->
            <div class="searchBox">
            <div><div><div>
                <table summary="검색조건">
                    <caption class="none">검색조건</caption>
                    <thead><tr><th></th><th></th></tr></thead>
                    <tbody>
                        <tr>
                        	<td class="searchBox_tit w300">평가년도 : <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
							<td class="searchBox_tit w300">별도평가군 : <span class="searchBar">$!{CS_HTML.txt2html($excGrpUseDatail.CODE_NM)}</span></td>
						</tr>
                    </tbody>
                </table>
            </div></div></div>
            </div>
            <!--// 검색 테이블 End -->
            <div class="clear"></div>
        </div>
		<div class="blockDetail2">
			<table width="100%" cellspacing="0" cellpadding="0" border="1">
				<tbody>
					<tr>
						<td style="width:1%;"  valign="top">&nbsp;</td>
						<td style="width:48%;" valign="top">
							<div>
								<form id="formFind" name="formFind" method="post" action="$!{context_path}/cbe/exc/excludeUser/excludeUserUseModify.vw?type=template">
									<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
									<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
									<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
									<input type="hidden" 	id="findYear"		name="findYear"			value="$!{searchMap.txt2html("findYear")}" />
									<input type="hidden" 	id="codeId"			name="codeId"			value="$!{searchMap.txt2html("codeId")}" />
									<div class="searchBox">
					    				<div><div><div>
					    				<table summary="평가대상자 조회">
											<caption class="none">평가대상자 조회</caption>
											<thead><tr><th></th></tr></thead>
					        				<tbody>
					            				<tr>
													<td class="searchBox_tit w200">
					            						<span><label for="findDeptKorNm">부서</label></span>
					            						<span class="searchBar">
					            							<input type="text" id="findDeptKorNm" name="findDeptKorNm" class="text" style="width:105px;" value="$!{searchMap.txt2html("findDeptKorNm")}"  maxlength="8" title="부서명"/>&nbsp;&nbsp;
					            						</span>

					            						<span><label for="findEmpn">사번</label></span>
					            						<span class="searchBar">
					            							<input type="text" id="findEmpn" name="findEmpn" class="text" style="width:60px;" value="$!{searchMap.txt2html("findEmpn")}"  maxlength="6" title="사번"/>&nbsp;&nbsp;
					            						</span>

					            						<span><label for="findKorNm">이름</label></span>
					            						<span class="searchBar">
					            							<input type="text" id="findKorNm" name="findKorNm" class="text" style="width:60px;" value="$!{searchMap.txt2html("findKorNm")}"  maxlength="3" title="이름"/>&nbsp;&nbsp;
					            						</span>
					            					</td>
					            				</tr>
					        				</tbody>
					    				</table>
					                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
					                    </div></div></div>
					    	        </div>
					    		</form>
							</div>

							<div>
    							<select id="source" style="align:center; border:1px solid #d2d2d2; padding-top:5px; width:450px; height:330px;overflow:auto; overflow-x:hidden; background:#fff url($!{img_path}/common/div_back.gif) repeat-x 0 100%; " multiple="multiple">
    								#foreach($insaUseList in $insaUseList)
    									<option value="$!{CS_HTML.txt2html($insaUseList.EMPN)}">$!{CS_HTML.txt2html($insaUseList.EMPN)} $!{CS_HTML.txt2html($insaUseList.KOR_NM)} $!{CS_HTML.txt2html($insaUseList.DEPT_KOR_NM)} $!{CS_HTML.txt2html($insaUseList.CAST_TC_NM)} $!{CS_HTML.txt2html($insaUseList.POS_TC_NM)}</option>
    								#end
    							</select>
							</div>
						</td>
						<td style="width:5%;" valign="top" class="valign_middle">
							<input type="image" id="allToLeft" src="$!{img_path}/common/btn_arrow1up.gif" alt="왼으로 전체 이동" /><br/><br/>
							<input type="image" id="allToRight" src="$!{img_path}/common/btn_arrow2up.gif" alt="오른쪽으로 전체 이동" />
						</td>

						<!-- 선택된 평가대상자 시작 -->
						<td valign="top">
							<form id="form1" name="form1" method="post" action="$!{context_path}/cbe/exc/excludeUser/excludeUserUseProcess.vw?type=template">
								<input type="hidden" id="mode"			name="mode"			value="$!{searchMap.txt2html("mode")}" />
								<input type="hidden" id="year"			name="year"			value="$!{searchMap.txt2html("findYear")}" />
								<input type="hidden" id="codeId"		name="codeId"			value="$!{searchMap.txt2html("codeId")}" />
								<input type="hidden" id="empns"			name="empns"		value="" />
								$!{searchMap.makeHiddenFind()}

								<div>
    								<select id="target" style="align:center; border:1px solid #d2d2d2; padding-top:5px; width:450px; height:375px;overflow:auto; overflow-x:hidden; background:#fff url($!{img_path}/common/div_back.gif) repeat-x 0 100%; " multiple="multiple">
    									#foreach($userList in $userList)
    										<option value="$!{CS_HTML.txt2html($userList.EMPN)}">$!{CS_HTML.txt2html($userList.EMPN)} $!{CS_HTML.txt2html($userList.KOR_NM)} $!{CS_HTML.txt2html($userList.DEPT_KOR_NM)} $!{CS_HTML.txt2html($userList.CAST_TC_NM)} $!{CS_HTML.txt2html($userList.POS_TC_NM)}</option>
    									#end
    								</select>
								</div>
                            </form>
						</td>
						<!-- 선택된 평가대상자 끝 -->
					</tr>
                </tbody>
			</table>
		</div>
		<div class="blockButton_all">
			<div class="blockButton_l"></div>
    		<div class="blockButton">
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

