#*************************************************************************
* CLASS 명      : excludeUserList
* 작 업 자      : 박종호
* 작 업 일      : 2013년 09월 04일
* 기    능      : 간부 별도평가군 별도평가제외자 관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     박종호      2013년 05월 31일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/cbe/exc/excludeUser/excludeUserList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/cbe/exc/excludeUser/excludeUserList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['평가년도', '코드번호', '평가제외자', '대상인원', '등급'],
			colModel     :[
							{name:'YEAR'          ,index:'YEAR'         ,width:150   ,align:'center' },
                            {name:'CODE_ID'       ,index:'CODE_ID'      ,width:200   ,align:'center' },
                            {name:'CODE_NM'       ,index:'CODE_NM'      ,width:200   ,align:'center' },
                            {name:'EXC_COUNT'     ,index:'EXC_COUNT'    ,width:100   ,align:'center' ,formatter:linkUseList },
							{name:'ETC1'          ,index:'ETC1'         ,width:100   ,align:'center' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			loadComplete : function() {
    							var ids = J("#list").jqGrid('getDataIDs');
    							J("#list input:checkbox").each(function(index) {
    								var rowdata = J("#list").getRowData(ids[index]);
    								if(J(rowdata.EXC_COUNT).text() != 0) { //비교조건 대상 컬럼
    									J("#list input:checkbox[name=jqg_list_" + (index+1) + "]").hide();
    								}
    								if(rowdata.EXC_GRP_ID == 'EX99999' || rowdata.EXC_GRP_ID == 'EX99998') { //비교조건 대상 컬럼
    									J("#list input:checkbox[name=jqg_list_" + (index+1) + "]").hide();
    								}
    							});
                           },
			caption:"평가군"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"CODE_ID").setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 대상자 가져오기
		 ******************************************/
		J("#btnAuto").click(function() {
			goAuto();
			return false;
		});

	});


	/******************************************
	 * jqGrid 대상자 자동입력
	 ******************************************/
	function goAuto() {

		J.showConfirmBox("별도평가군 제외대상자가 가져오게 됩니다. 실행하시겠습니까?", "autoDo"); //autoDo() 콜백함수 호출

	}

	/******************************************
	 * 대상자 자동입력
	 ******************************************/
	function autoDo(){

		J("#year").val(J("#findYear").val());
		J("#mode").val("AUTO");
		J("#formList").attr("action", "$!{context_path}/cbe/exc/excludeUser/excludeUserProcess.vw?type=template").submit();
		return false;
	}

	/******************************************
	 * jqGrid 대상자관리 리스트
	 ******************************************/
	function linkUseList(cellvalue, options, rowObject) {
		return '<a href=javascript:goUseList(' + options.rowId + ')>' + cellvalue + '<//a>';
	}


	/******************************************
	 * 대상자관리 이동
	 ******************************************/
	function goUseList(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);

		J("#codeId").val(ret.CODE_ID);
		J("#year").val(J("#findYear").val());
		J("#mode").val("MOD");
		J("#formList").attr("action", "$!{context_path}/cbe/exc/excludeUser/excludeUserUseList.vw?type=template").submit();
	}

	/******************************************
	 * 삭제
	 ******************************************/
	function goDelete() {

		if(!J.gridSelectChk("list")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null);

		} else {
			J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
		}
	}

	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
		var id = J("#list").getGridParam('selarrrow');
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var excGrpIds = "";

		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#list").getRowData(ids[i]);
					excGrpIds += rowdata.EXC_GRP_ID + '|';
				}
			});
		}

		J("#excGrpIds").val(excGrpIds);
		J("#mode").val("DEL");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/cbe/exc/excludeUser/excludeUserProcess.vw?type=template").submit();
		return false;
	}


//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">간부 별도평가군 별도평가제외자</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/cbe/exc/excludeUser/excludeUserList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="간부 별도평가군 별도평가제외자">
						<caption class="none">간부 별도평가군 별도평가제외자 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/cbe/exc/excludeUser/excludeUserProcess.vw?type=template">
			<input type="hidden" id="mode"       		name="mode" />
			<input type="hidden" id="year"       		name="year" />
			<input type="hidden" id="codeId"  			name="codeId" />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="간부 별도평가군 별도평가제외자 조회결과">
							<caption class="none">간부 별도평가군 별도평가제외자 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:300px;">
							<ul>
								<li><input type="button" id="btnAuto" value="별도평가군 제외대상자 가져오기" /></li>
							</ul>
						</div>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>
