#*************************************************************************
* CLASS 명      : popReturnReason.vm
* 작 업 자      : 김효은
* 작 업 일      : 2013년 12월 06일
* 기    능      : 반려사유
* ---------------------------- 변 경 이 력 --------------------------------
* 번호   작 업 자     작   업   일        변 경 내 용             비고
* ----  --------  -----------------  -------------------------  --------
*  1     김효은     2013년 12월 06일          최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
	
		/******************************************
		 * 입력완료 버튼 이벤트
		 ******************************************/
		J("#btnCompleate").click(function(e) {
			e.preventDefault();
			J("#returnCause").val(J("#returnCausePop").val());
			J.fancybox.close();
			if(confirm("반려하시겠습니까?")) {
                returnDo();
            }
		});
		
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#returnCausePop").checkbyte({
			indicator:J("#returnIndicator"),
			limit:1500
		});
		J("#returnCausePop").trigger("keyup");
	
		try {
			$("input", ".blockButton" ).button(); //버튼 ui 적용
		} catch(err) { }
		
		
		#if($!{CS_HTML.txt2html($return.PLAN_STATUS_ID)} =='05')
			J("#returnCausePop").attr("readonly",true);
		#end
		
	});
	

//]]>
</script>

<form id="formFindPop" name="formFindPop" method="post" action="">
	<input type="hidden"    id="findYear" 			name="findYear" 		  value="$!{searchMap.txt2html("findYear")}" />
	<input type="hidden"    id="evalMembEmpns"      name="evalMembEmpns"      value="$!{searchMap.txt2html("evalMembEmpns")}" />
	<input type="hidden"    id="evalMembEmpnSeqs"   name="evalMembEmpnSeqs"   value="$!{searchMap.txt2html("evalMembEmpnSeqs")}" />
	<input type="hidden"    id="approveUserIds"     name="approveUserIds"     value="$!{searchMap.txt2html("approveUserIds")}" />
	<input type="hidden"    id="userId"    			name="userId"      		  value="$!{CS_LOGIN.getUser_id()}" />
	
    <div style="width:430px;height:270px;">
    	<div id="popReturnReasonArea">
    		<h1 class="none">반려사유</h1>
    		<div style="margin-left:15px;margin-bottom:10px;" class="strong">반려사유</div>
    		<div id="userData" style="margin-left:10px;width:410px;">
				<textarea id="returnCausePop" name="returnCausePop" class="tabletext" title="반려사유" cols="" rows="13" >$!{CS_HTML.txt2html($return.RETURN_REASON)}</textarea>
				<span id="returnIndicator">0</span>/1500byte
			</div>
		
		#if($!{CS_HTML.txt2html($return.PLAN_STATUS_ID)} !='05')
			<div class="blockButton_all">			
				<div class="blockButton_l"></div>
				<div class="blockButton">			
					<ul>
						<li><input type="button" id="btnCompleate" value="확인" /></li>
					</ul>
				</div>
			</div>
	    #end
    	</div>
    </div>
</form>
