#*************************************************************************
* CLASS 명      : memEvalGunList_xml
* 작 업 자      : 유연주
* 작 업 일      : 2017년03월 15일 
* 기    능      : 평가군관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      유연주    2017년03월 15일      최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"EVAL_GUN_ID"          : "$!{CS_HTML.txt2html($list.EVAL_GUN_ID)}",
		"EVAL_GUN_NM"          : "$!{CS_HTML.txt2html($list.EVAL_GUN_NM)}",
		"EVAL_GUN_NM_TMP"      : "$!{CS_HTML.txt2html($list.EVAL_GUN_NM)}",
		"EVAL_GIVE_METHOD_ID"  : "$!{CS_HTML.txt2html($list.EVAL_GIVE_METHOD_ID)}",
		"EVAL_GIVE_METHOD_NM"  : "$!{CS_HTML.txt2html($list.EVAL_GIVE_METHOD_NM)}",
		"ORG_EVAL_RATE"        : "$!{CS_HTML.txt2html($list.ORG_EVAL_RATE)}",
		"IND_EVAL_RATE"        : "$!{CS_HTML.txt2html($list.IND_EVAL_RATE)}",
		"EVAL_GUN_USER_COUNT"  : "$!{CS_HTML.txt2html($list.EVAL_GUN_USER_COUNT)}",
		"SORT_ORDER"           : "$!{CS_HTML.txt2html($list.SORT_ORDER)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
