#*************************************************************************
* CLASS 명		: deptGovStdList
* 작 업 자		: 안요한
* 작 업 일		: 2013년 07월 05일 
* 기    능		: 부서별 정평지표 점수 목록
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     안 요 한      2013년 07월 05일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/bsc/dept/deptGovStd/deptGovStdList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/dept/deptGovStd/deptGovStdList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['년도', '평가범주', '평가부문', '지표명','지표유형코드','지표유형','달성도','개선도','반영점수'],
			colModel     :[
			                {name:'YEAR'				,index:'YEAR'				,width:60		,align:'left' 	},
							{name:'EVAL_CAT_GRP_NM'		,index:'EVAL_CAT_GRP_NM'	,width:100		,align:'left' },
                            {name:'EVAL_CAT_NM'			,index:'EVAL_CAT_NM'		,width:100		,align:'left' },
                            {name:'GOV_METRIC_NM'		,index:'GOV_METRIC_NM'		,width:150		,align:'left' 	},
                            {name:'GBN_ID'			    ,index:'GBN_ID'				,width:60		,align:'center'	},
                            {name:'GBN_NM'				,index:'GBN_NM'				,width:60		,align:'center'	},
				            {name:'ACHIEVEMENT'			,index:'ACHIEVEMENT'		,width:60		,align:'center'	},
                            {name:'IMPROVEMENT'			,index:'IMPROVEMENT'		,width:60		,align:'center'	},
                            {name:'SCORE'			    ,index:'SCORE'				,width:60		,align:'center'	}
							],
			rowNum       : $!{jqGrid_rownum},
		    autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			caption:"부서별 정평지표 점수반영"
        }).jqGrid('hideCol',"GBN_ID").jqGrid('hideCol',"YEAR").setGridWidth($!{jqGrid_width});
              
	/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
        
		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
		
		
		/******************************************
		 * 초기집계 버튼 클릭 이벤트
		 ******************************************/
		J("#btnScore").click(function() {
			getStd();
			return false;
		});	
		
		
		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#anchor").fancybox();            //엑셀업로드 팝업
		
		
		
		/******************************************
		 * 화면 초기셋팅
		 ******************************************/
		init();
		
	});
	
	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#year").val(J("#findYear > option:selected").text());
		J("#formList").attr("action", "$!{context_path}/bsc/dept/deptGovStd/deptGovStdListExcel.vw?type=excel").submit();
		return false;
	}
	

	/*****************************************************
	 * 화면초기셋팅
	 *****************************************************/ 
	function init() {
		if(J("#cnt").val() =="0"){
			J.showMsgBox("검색 평가년도의 정평지표가 없습니다."); 	
		}
	}



	/******************************************
	 * 초기집계실행
	 ******************************************/
	function getStd() {
		J.showConfirmBox("정평지표 점수를  반영하시면 기존 데이터가 초기화 됩니다. 진행하시겠습니까?", "getStdDo"); //getStdDo() 콜백함수 호출
	}
	
	function getStdDo() {
		J("#mode").val("STD");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/bsc/dept/deptGovStd/deptGovStdProcess.vw?type=template").submit();
	}
	
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">이행성과지표 상세</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/dept/deptGovStd/deptGovStdList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="이행성과지표 상세검색 조건">
						<caption class="none">이행성과지표 상세 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w200">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w70">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
							</tr>  
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="right" valign="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
			<a id="anchor"></a>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/dept/deptGovStd/deptGovStdList.vw?type=template">
			<input type="hidden" id="mode"       			name="mode" />
			<input type="hidden" id="yearNm"				name="yearNm" />
			<input type="hidden" id="year"				name="year" />
			<input type="hidden" id="cnt"						name="cnt" value="$!{CS_HTML.txt2html($cnt.CNT)}" />
			
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="부서별 정평지표 점수 조회결과">
							<caption class="none">부서별 정평지표 점수 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:102px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀다운로드", alt="파일다운로드" />
						</div>					
						<div class="blockButton"></div>
					</div>
					<div class="blockButton"> 
	    			<ul>
	    				<li><input type="button" id="btnScore" value="정평지표점수반영" style="margin-bottom:10px"/></li>
	    			</ul>
	    		</div>
				</div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>
