#*************************************************************************
* CLASS 명      : excOrgEvalList
* 작 업 자      : 안요한
* 작 업 일      : 2013년 07월 19일 
* 기    능      : 부설기관장 별도평가
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     안요한      2013년 07월 19일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/prs/exc/excGovEval/excGovEvalList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/prs/exc/excOrgEval/excOrgEvalList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['평가년도', '별도평가군 코드', '부서코드', '부서명', '사원번호', '평가대상', '내부경영평가<br>(85%)','종합경영효율성<br>(15%)', '총점', '평가등급'],
			colModel     :[
							{name:'YEAR'			,index:'YEAR'               ,width:10	,align:'center' }, 
                            {name:'EXC_GRP_ID'      ,index:'EXC_GRP_ID'         ,width:10   ,align:'center' , formatter:linkExcGrpId }, 
                            {name:'DEPT_ID'        	,index:'DEPT_ID'        	,width:100  ,align:'center' },
                            {name:'DEPT_NM'        	,index:'DEPT_NM'        	,width:150  ,align:'center' },
                            {name:'EMPN'        	,index:'EMPN'				,width:10   ,align:'center' , formatter:linkEmpn},
                            {name:'KOR_NM'        	,index:'KOR_NM'				,width:150  ,align:'center' },
                            {name:'BSC_SCORE'       ,index:'BSC_SCORE'        	,width:100  ,align:'center' },
                            {name:'EFF_SCORE'       ,index:'EFF_SCORE'        	,width:100  ,align:'center' , formatter:linkEffScore },
                            {name:'TOTAL_SCORE'     ,index:'TOTAL_SCORE'        ,width:100  ,align:'center' },
                            {name:'GRADE'        	,index:'GRADE'				,width:100  ,align:'center' },
							
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : true, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			cmTemplate	 : {sortable:false},
			caption:"부설기관장 별도평가",
			loadComplete : function() {
			
						/******************************************
						 * 종합경영효율성 숫자만 입력받기
						 ******************************************/
						J("input[name=effScore]").numeric({allow:"."});       //특정문자 허용(.)
						J("input[name=effScore]").css("ime-mode", "disabled"); //한글사용 비활성화
                           
			},
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"EXC_GRP_ID").jqGrid('hideCol',"DEPT_ID").jqGrid('hideCol',"EMPN").setGridWidth($!{jqGrid_width});
		
		J("#list").jqGrid('setGroupHeaders', {
          useColSpanStyle: true, 
          groupHeaders:[
		    {startColumnName: 'DEPT_ID', numberOfColumns: 4, titleText: '<em>평가구분</em>'}
		  ]	
        });
        
        J("#list").jqGrid('setFrozenColumns');
        J("#list").trigger('reloadGrid');
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
		
		/******************************************
         * 저장
         ******************************************/
        J("#btnInsert").click(function(e) {
            e.preventDefault();

            saveChk();
        });
        
        /******************************************
		 * 확정버튼 이벤트
		 ******************************************/
		J("#btnConfirm").click(function(e) {
			e.preventDefault();
			getConfirm();
		});
		
		/******************************************
		 * 확정취소버튼 이벤트
		 ******************************************/
		J("#btnCancle").click(function(e) {
			e.preventDefault();
			btnCancle();
		});
		
	});
	
	/******************************************
     * 필수입력 체크
     ******************************************/
    function saveChk() {
    
    	var ids = J("#list").jqGrid('getDataIDs');
		
	   	for (var i = 0; i < ids.length; i++) {
		
			if(J("input[name='effScore']").eq(i).val() == "") {
				alert("경영효율성 점수를 입력해주세요.");
				J("input[name='effScore']").eq(i).focus();
				return false;		
			}else if (J("input[name='effScore']").eq(i).val() > 15) {
				alert("경영효율성 점수를 15점 이하로 입력해주세요.");
				J("input[name='effScore']").eq(i).focus();
				return false;
			}
		}
    	
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
    }

    /******************************************
     * 저장
     ******************************************/
    function saveDo() {	 
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var totalScores = "";
		var effScores = "";
		var grades = "";
        
		for (var i = 0; i < ids.length; i++) {
			rowdata = J("#list").getRowData(ids[i]);
			totalScores += rowdata.TOTAL_SCORE + '|';
			grades += rowdata.GRADE + '|';
		}
    	
        J("#totalScores").val(totalScores);
        J("#grades").val(grades);
        J("#mode").val("MOD");
        J("#year").val(J("#findYear").val());
        J("#formList").attr("action", "$!{context_path}/prs/exc/excOrgEval/excOrgEvalProcess.vw?type=template").submit();
                
        return false;

    }
	
	/******************************************
	 * jqGrid 별도평가군 코드
	 ******************************************/
	function linkExcGrpId(cellvalue, options, rowObject) {
		 
		var str = '';
		str += '<input type="hidden" name="excGrpId" value="' + cellvalue + '" class="inputbox w80" />';
    	return str;	
	}
	/******************************************
	 * jqGrid 사원번호
	 ******************************************/
	function linkEmpn(cellvalue, options, rowObject) {
		 
		var str = '';
		str += '<input type="hidden" name="empn" value="' + cellvalue + '" class="inputbox w80" />';
    	return str;	
	}
	
	/******************************************
	 * jqGrid 종합경영효율성
	 ******************************************/
	function linkEffScore(cellvalue, options, rowObject) {
		 
		var str = '';
			if('$!{CS_HTML.txt2html($confirmYn.EXC_ORG_EVAL_YN)}' != "Y") {
				str += '<input type="text" name="effScore" value="' + cellvalue + '" class="inputbox w80" onkeyup="calcul(this);" maxlength="5";/>';
			} else {
				str += '<input type="text" name="effScore" value="' + cellvalue + '" class="inputbox w80" maxlength="5"; readonly="readonly";/>';
			}
    	return str;	
	}
	
	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function getConfirm() {
	
		var ids = J("#list").jqGrid('getDataIDs');
		
	   	for (var i = 0; i < ids.length; i++) {
		
			if(J("input[name='effScore']").eq(i).val() == "") {
				alert("경영효율성 점수를 입력해주세요.");
				J("input[name='effScore']").eq(i).focus();
				return false;		
			}else if (J("input[name='effScore']").eq(i).val() > 15) {
				alert("경영효율성 점수를 15점 이하로 입력해주세요.");
				J("input[name='effScore']").eq(i).focus();
				return false;
			}
		}
		
		J.showConfirmBox("확정하시겠습니까?", "Confirm"); //Confirm() 콜백함수 호출
	}
    
	/******************************************
	 * 확정
	 ******************************************/
	function Confirm() {
		
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var totalScores = "";
		var effScores = "";
		var grades = "";
        
		for (var i = 0; i < ids.length; i++) {
			rowdata = J("#list").getRowData(ids[i]);
			totalScores += rowdata.TOTAL_SCORE + '|';
			grades += rowdata.GRADE + '|';
		}
    	
        J("#totalScores").val(totalScores);
        J("#grades").val(grades);
		
		J("#mode").val("CONF");
		J("#year").val(J("#findYear").val());
		J("#excOrgEvalYn").val('Y');
		J("#formList").attr("action", "$!{context_path}/prs/exc/excOrgEval/excOrgEvalProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 확정취소처리
	 ******************************************/
	function btnCancle(){
	
		J.showConfirmBox("확정을 취소 하시겠습니까?", "CancelDo"); //CancelDo() 콜백함수 호출
		
	}
	
	/******************************************
	 * 확정취소처리
	 ******************************************/
	function CancelDo() {
		J("#mode").val("CONF");
		J("#year").val(J("#findYear").val());
		J("#excOrgEvalYn").val('N');
		J("#formList").attr("action", "$!{context_path}/prs/exc/excOrgEval/excOrgEvalProcess.vw?type=template").submit();
	}
	
	/*****************************************************
	 * 종합경영효율성 변경 이벤트
	 *****************************************************/ 
	function calcul(obj) {
		
		var ids = J("#list").jqGrid('getDataIDs');
		var score = [];
		var grade = "";
		
		var bscScore = 0;
		var effScore = 0;
		var totalScore = 0;
		
	   	for (var i = 0; i < ids.length; i++) {
			var row = J("#list").getRowData(ids[i]);
			
			if (row.BSC_SCORE != "") bscScore = parseFloat(row.BSC_SCORE); //내부경영평가 점수
			if (J("input[name='effScore']").eq(i).val() != "") effScore = parseFloat(J("input[name='effScore']").eq(i).val());
			totalScore = bscScore + effScore;
			totalScore = totalScore.toFixed(2);
			
			J("#list").jqGrid('setCell', ids[i], "TOTAL_SCORE", totalScore);
			row.TOTAL_SCORE = bscScore + effScore;
			score[i] = row.TOTAL_SCORE;
			
		}
						
			if(score[0] > score[1]) {
				J("#list").jqGrid('setCell', ids[0], "GRADE", "A");
				J("#list").jqGrid('setCell', ids[1], "GRADE", "C");
			} else if (score[0] < score[1] ) { 
				J("#list").jqGrid('setCell', ids[0], "GRADE", "C");
				J("#list").jqGrid('setCell', ids[1], "GRADE", "A");
			} else if (score[0] == score[1]) { 
				J("#list").jqGrid('setCell', ids[0], "GRADE", "B");
				J("#list").jqGrid('setCell', ids[1], "GRADE", "B");
			}
		}

	
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">부설기관장 별도평가</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/exc/excOrgEval/excOrgEvalList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="부설기관장 별도평가 조회">
						<caption class="none">부설기관장 별도평가 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/prs/exc/excOrgEval/excOrgEvalProcess.vw?type=template">
			<input type="hidden" id="mode"       		name="mode" />
			<input type="hidden" id="year"       		name="year" />
			<input type="hidden" id="totalScores"       name="totalScores" />
			<input type="hidden" id="effScores"       	name="effScores" />
			<input type="hidden" id="grades"       		name="grades" />
			<input type="hidden" id="excOrgEvalYn"     	name="excOrgEvalYn" />
			
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="부설기관장 별도평가 조회결과">
							<caption class="none">부설기관장 별도평가 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton">
							<ul>
								#if($!{CS_HTML.txt2html($confirmYn.EXC_ORG_EVAL_YN)} != "Y")
									<li><input type="button" id="btnInsert" value="저장" /></li>
									<li><input type="button" id="btnConfirm" value="확정" /></li>
								#else
	    							<li><input type="button" id="btnCancle" value="확정취소" /></li>
	    						#end
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>
