#*************************************************************************
* CLASS 명      : empEvalConAssessorList_xml
* 작 업 자      : 김효은
* 작 업 일      : 2014년 3월 18일 
* 기    능      : 직원기여도평가 평가자관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김효은     2014년 3월 18일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
    "page": "1",
    "total": 1,
    "records": "$listSize",
    "rows":[

#foreach($list in $list)
    {
        "YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
        "DEPTCD"               : "$!{CS_HTML.txt2html($list.DEPT_CD)}", 
        "DEPT_CD"              : "$!{CS_HTML.txt2html($list.DEPT_CD)}", 
        "DEPT_KOR_NM"          : "$!{CS_HTML.txt2html($list.DEPT_KOR_NM)}", 
        "ASSESSOR_EMPN"        : "$!{CS_HTML.txt2html($list.ASSESSOR_EMPN)}", 
        "KOR_NM"           	   : "$!{CS_HTML.txt2html($list.KOR_NM)}"
    }
    #set($idx = $idx + 1)
    #if($idx != $listSize)
     ,
    #end
#end

    ]
}
