#*************************************************************************
* CLASS 명      : peopleGasFacilities2_xml
* 작 업 자      : 안요한
* 작 업 일      : 2013년 8월 13일
* 기    능      : 서민층가스시설개선실적 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      안요한     2012년 8월 13일            최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)  
	{
		"YEAR"           	: "$!{CS_HTML.txt2html($list.YEAR)}",
		"MON"           	: "$!{CS_HTML.txt2html($list.MON)}",
		"DEPT_CD"     	 	: "$!{CS_HTML.txt2html($list.DEPT_CD)}",
		"DEPT_NM"     	 	: "$!{CS_HTML.txt2html($list.DEPT_NM)}",
		"RSLT_CNT"   		: "$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.RSLT_CNT)})}",
		"PLAN_AMT"   		: "$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.PLAN_AMT)})}"
	}
	
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
