#*************************************************************************
* CLASS 명	: metricGrpList
* 작 업 자		: 김민주
* 작 업 일		: 2013년 06월 26일
* 기    능		: KGS2020KPI POOL
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     김민주     2013년 06월 26일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/man/metric/metricGrp/metricGrpList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/man/metric/metricGrp/metricGrpList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :[ 'POOL코드', 'KGS2020KPI POOL명', '설명', '평가유형', '단위', '주기', 'CNT' ],
			colModel     :[
							{name:'MAN_KPI_GRP_ID'	,index:'MAN_KPI_GRP_ID'		,width:100	,align:'center'		,sortable:true	},
							{name:'MAN_KPI_GRP_NM'	,index:'MAN_KPI_GRP_NM'		,width:250	,align:'center'		,sortable:true ,formatter:linkUpdate },
                            {name:'CONTENT'			,index:'CONTENT'			,width:300	,align:'left'		,sortable:true	},
                            {name:'TYPE_ID'			,index:'TYPE_ID'			,width:80	,align:'center'		,sortable:true },
                            {name:'UNIT'			,index:'UNIT'				,width:80	,align:'center'		,sortable:true },
                            {name:'EVAL_CYCLE'		,index:'EVAL_CYCLE'			,width:80	,align:'center'		,sortable:true },
                            {name:'CNT'				,index:'CNT'				,width:80	,align:'center'		,sortable:true }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : true,
			cellEdit     : true,
			gridview     : true,
			loadComplete : function() {
    							var ids = J("#list").jqGrid('getDataIDs');
    							J("#list input:checkbox").each(function(index) {
    								var rowdata = J("#list").getRowData(ids[index]);
    								if(rowdata.CNT != 0) { //비교조건 대상 컬럼
    									J("#list input:checkbox[name=jqg_list_" + (index+1) + "]").hide();
    								}
    							});
                           },
			caption:"KGS2020KPI POOL"
		}).jqGrid('hideCol',"CNT").setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnInsert").click(function() {
			J("#year").val(J("#findYear").val());
			J("#mode").val("ADD");
			J("#formList").attr("action", "$!{context_path}/man/metric/metricGrp/metricGrpModify.vw?type=template").submit();
		});

		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
	});

	/******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		return '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '<//a>';
	}

	/******************************************
	 * 수정
	 ******************************************/
	function goModify(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		J("#manKpiGrpId").val(ret.MAN_KPI_GRP_ID);
		J("#year").val(J("#findYear").val());
		J("#mode").val("MOD");
		J("#formList").attr("action", "$!{context_path}/man/metric/metricGrp/metricGrpModify.vw?type=template").submit();
	}

	/******************************************
	 * 삭제
	 ******************************************/
	function goDelete() {

		if(J("#findUseYn").val() == 'N'){
			J.showMsgBox("이미 삭제된 KGS2020KPI POOL입니다.", null, null);
			return;
		}

		if(!J.gridSelectChk("list")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null);
		} else {
			J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
		}
	}

	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
		var id = J("#list").getGridParam('selarrrow');
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var manKpiGrpIds = "";

		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#list").getRowData(ids[i]);
					manKpiGrpIds += rowdata.MAN_KPI_GRP_ID + '|';
				}
			});
		}

		J("#manKpiGrpIds").val(manKpiGrpIds);
		J("#mode").val("DEL");
		J("#formList").attr("action", "$!{context_path}/man/metric/metricGrp/metricGrpProcess.vw?type=template").submit();
		return false;
	}

	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#findUseYnNm").val(J("#findUseYn :selected").text());
		J("#formFind").attr("action", "$!{context_path}/man/metric/metricGrp/metricGrpListExcel.vw?type=excel").submit();

		return false;
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">KGS2020KPI POOL</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/man/metric/metricGrp/metricGrpList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden"	id="findYear"		name="findYear"			value="$!{searchMap.txt2html("findYear")}" />
				<input type="hidden"    id="findUseYnNm"	name="findUseYnNm" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="KGS2020KPI POOL 조회조건">
						<caption class="none">KGS2020KPI POOL 조회 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w600">
            						<span><label for="findManKpiGrpNm">KGS2020KPI POOL명</label></span>
            						<span class="searchBar">
            							<input type id="findManKpiGrpNm" name="findManKpiGrpNm" class="text w300" value="$!{searchMap.txt2html("findManKpiGrpNm")}" maxlength="10" title="KGS2020KPI POOL명 "/>
            						</span>
            					</td>
								<td class="searchBox_tit w200">
            						<span><label for="findUseYn">사용여부</label></span>
            						<span class="searchBar">
            							<select id="findUseYn" name="findUseYn" class="select w70">
            								$!CS_CODE.getCodeOption("011", $!{searchMap.txt2html("findUseYn")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/man/metric/metricGrp/metricGrpProcess.vw?type=template">
			<input type="hidden" 	id="mode"       		name="mode" />
			<input type="hidden"	id="year"				name="year"		 />
			<input type="hidden" 	id="manKpiGrpIds"		name="manKpiGrpIds" />
			<input type="hidden" 	id="manKpiGrpId"		name="manKpiGrpId" />
			$!{searchMap.makeHiddenFind()}

			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="KGS2020KPI POOL명 조회결과">
							<caption class="none">KGS2020KPI POOL명 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:145px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀변환" alt="엑셀다운로드" />
						</div>
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnInsert" value="신규" /></li>
								<li><input type="submit" id="btnDelete" value="삭제" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>
