#*************************************************************************
* CLASS 명      : insaMappingModify
* 작 업 자      : 안요한 
* 작 업 일      : 2013년 05월 27일 
* 기    능      : 인사조직매핑관리    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    안요한      2013년 05월 27일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 저장
		 ******************************************/
		J("#form1").submit(function(event) {
			//var formData = $(this).serializeArray();
 
			//return false;
		});
		
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
		
	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		var tree2 = $("#tree2").dynatree("getTree");	// 인사조직에서 사용중인 트리
		var scDeptMappingIds = "";						// 인사조직에 매핑할 미사용 조직 리스트
		
		// 미사용인사조직트리에서 선택된 조직리스트 설정
		scDeptMappingIds = tree2.serializeString();
		J("#scDeptMappingIds").val(scDeptMappingIds);
		
		J("#mode").val("MOD");
		J("#form1").attr("action", "$!{context_path}/prs/insa/insaDeptMapping/insaMappingProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 인사조직트리 조직선택 클릭이벤트
	 ******************************************/
	function goActionScDept(deptId, deptNm) {
		
		setDeptInfo(deptId, deptNm);
	}
	
	
	/*****************************************************
	 * 조직트리에서 조직선택 설정
	 *****************************************************/ 
	function setDeptInfo(deptId, deptNm) {

		J("#findInsaDeptId").val(deptId);			// 인사조직Tree에서 선택한 조직코드를 설정.
		
		J("#formFind").attr("action", "$!{context_path}/prs/insa/insaDeptMapping/insaMappingModify.vw?type=template").submit();
	
	}
//]]>
</script>    
 
<div id="Table">
	<div id="Table_blockContainer">
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
			<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/insa/insaDeptMapping/insaMappingModify.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"	id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden" 	id="findInsaDeptId"	name="findInsaDeptId"	value="$!{searchMap.txt2html("findInsaDeptId")}" />
				<input type="hidden" 	id="findDeptId"		name="findDeptId"		value="$!{searchMap.txt2html("findDeptId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="인사조직관리검색 조건">
						<caption class="none">인사조직관리 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span>$!{YEAR}</span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
	<form id="form1" name="form1" method="post" action="$!{context_path}/prs/insa/insaDeptMapping/insaMappingProcess.vw?type=template">
        <input type="hidden" id="mode"					name="mode"					value="$!{searchMap.txt2html("mode")}" />
        <input type="hidden" id="scDeptMappingIds"		name="scDeptMappingIds"		value="" />
        <input type="hidden" id="deptMappingIds"		name="deptMappingIds"		value="" />
		<input type="hidden" id="useYnNm"       		name="useYnNm" />
		<input type="hidden" id="yearNm"        		name="yearNm" />
        $!{searchMap.makeHiddenFind()}
		
		<!-- 좌측 기준 트리 -->
		<div style="width:550px; height:30px;float:left;">
           <img src="$!{img_path}/common/deptMappingBar_scDept1.gif" alt="" />
        </div>
		<div style="width:550px; height:30px;float:right;">
           <img src="$!{img_path}/common/deptMappingBar_dept1.gif" alt="" />
        </div>
		<div class="blockGridTreeTable" style="width:550px;">
			<!-- 인사조직트리(사용) -->
			#parse("/WEB-INF/vl/bsc/module/commModule/deptTreeForInsaDeptMapping.vm")
		</div>
		
		<!-- 우측 매핑 트리 -->
		<div class="blockGridTreeTable" style="width:550px; float:right;">
			<!-- 인사조직트리(미사용) -->
			#parse("/WEB-INF/vl/bsc/module/commModule/deptTreeForInsaMapping.vm")
		</div>
		
		<div class="blockButton_all">
    		<div class="blockButton" style="padding:10px 0 0 0"> 
    			<ul>
    				<li><input type="submit" id="btnInsert" value="저장"    /></li>
    			</ul>
    		</div>
		</div>
	</form>
	</div>
	<div class="clear"></div>
</div>
