#*************************************************************************
* CLASS 명      : actualMngConList
* 작 업 자      : 김효은
* 작 업 일      : 2014년 4월 4일 
* 기    능      : 직원개인업무성과 실적등록
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     김효은      2014년 4월 4일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/prs/mngCon/actualMngCon/actualMngConList.vw")
#set($isActual = true)
<script type="text/javascript" language="javascript" >
//<![CDATA[

    var J = jQuery;
    
    J(document).ready(function(){
    
        /******************************************
         * 데이터 그리드 출력
         ******************************************/
        var str = J('#formFind').serialize();
        
        jQuery("#list").jqGrid({
            url          :"$!{context_path}/prs/mngCon/actualMngCon/actualMngConList_xml.vw" + "?" + str,
            mtype        :"POST",
            datatype     :"json",
            jsonReader   : {   
                            page   : "page",
                            total  : "total",
                            root   : "rows", 
                            records: function(obj){return obj.length;},
                            repeatitems: false, 
                            id     : "id"
                           },
            height       : $!{jqGrid_height},
            width        : $!{jqGrid_width},
            colNames     :['평가년도', '설정방향', '설정방향', '성과목표ID', '성과목표', '성과지표', '단위', '단위','목표량선정근거','가중치','연목표','1분기<br/>실적','2분기<br/>실적','3분기<br/>실적','4분기<br/>실적', '연실적', '점수', '실적처리상태'],
            colModel     :[
                            {name:'YEAR'                 ,index:'YEAR'                 ,width:150   ,align:'center' }, 
                            {name:'DIRECTION_CD'         ,index:'DIRECTION_CD'         ,width:100   ,align:'center' }, 
                            {name:'DIRECTION_NM'         ,index:'DIRECTION_NM'         ,width:120   ,align:'center' }, 
                            {name:'TARGET_ID'            ,index:'TARGET_ID'            ,width:150   ,align:'center'  , formatter:linkTarget}, 
                            {name:'TARGET_NM'            ,index:'TARGET_NM'            ,width:150   ,align:'left'   }, 
                            {name:'METRIC_NM'            ,index:'METRIC_NM'            ,width:150   ,align:'left'   }, 
                            {name:'UNIT'                 ,index:'UNIT'                 ,width:150   ,align:'center' }, 
                            {name:'UNIT_NM'              ,index:'UNIT_NM'              ,width:50    ,align:'center' }, 
                            {name:'TARGET_BASIS'         ,index:'TARGET_BASIS'         ,width:100   ,align:'center' }, 
                            {name:'WEIGHT'         		 ,index:'WEIGHT'         	   ,width:50    ,align:'center' }, 
                            {name:'TARGET_VALUE'         ,index:'TARGET_VALUE'         ,width:50    ,align:'center' }, 
                            {name:'Q1_ACTUAL_VALUE'      ,index:'Q1_ACTUAL_VALUE'      ,width:50    ,align:'center' , formatter:linkValue1}, 
                            {name:'Q2_ACTUAL_VALUE'      ,index:'Q2_ACTUAL_VALUE'      ,width:50    ,align:'center' , formatter:linkValue2}, 
                            {name:'Q3_ACTUAL_VALUE'      ,index:'Q3_ACTUAL_VALUE'      ,width:50    ,align:'center' , formatter:linkValue3}, 
                            {name:'Q4_ACTUAL_VALUE'      ,index:'Q4_ACTUAL_VALUE'      ,width:50    ,align:'center' , formatter:linkValue4}, 
                            {name:'VALUE'                ,index:'VALUE'                ,width:50    ,align:'center' , formatter:linkValue}, 
                            {name:'SCORE'                ,index:'SCORE'                ,width:50    ,align:'center' , formatter:linkScore}, 
                            {name:'ACT_STATUS_ID'        ,index:'ACT_STATUS_ID'        ,width:150   ,align:'center' } 
                            ],
            rowNum       : $!{jqGrid_rownum},
            autowidth    : false, 
            viewrecords  : true,
            loadonce     : true,
            multiselect  : false,
            cellEdit     : true,
            gridview     : true,
			 loadComplete : function() {

                var ids = J("#list").jqGrid('getDataIDs');
				
                for (var i = 1; i <= ids.length; i++) {
                    J("input[name=actualValue_"+i+"]").numeric({allow:".-"});
                    J("input[name=actualValue_"+i+"]").css("ime-mode", "disabled");
                }
				
				J("input[name=values]").numeric({allow:"."});        //특정문자 허용(.)
				J("input[name=values]").css("ime-mode", "disabled"); //한글사용 비활성화
				J("input[name=scores]").numeric({allow:"."});        //특정문자 허용(.)
				J("input[name=scores]").css("ime-mode", "disabled"); //한글사용 비활성화
			
				
            },
            caption:"직원개인업무성과 실적등록"
        });
		jQuery("#list").jqGrid('hideCol',"YEAR").jqGrid('hideCol',"DIRECTION_CD").jqGrid('hideCol',"TARGET_ID").jqGrid('hideCol',"UNIT").jqGrid('hideCol',"ACT_STATUS_ID");
        jQuery("#list").setGridWidth($!{jqGrid_width});
        
		/******************************************
         * 조회
         ******************************************/
        J("#formFind").submit(function(event) {
            //submit 하기전 작업추가
        });
        
		/******************************************
         * 저장
         ******************************************/
        J("#btnSave").click(function(e) {
            e.preventDefault();
            goSave();
        });
		
      /******************************************
         * 저장버튼 이중 클릭 방지
         ******************************************/
        J("form").submit(function(){
            J("#btnSave").unbind();
        });
        
        /******************************************
         * 취소버튼 (돌아가기)
         ******************************************/
        J("#btnBack").click(function() {
            J("#formFind").attr("action", "$!{context_path}/prs/mngCon/actualMngCon/evalMngList.vw?type=template").submit();
        });
        
        
        /******************************************
         * 확인요청 클릭 이벤트
         ******************************************/
        J("#btnApprove").click(function() {
            goApprove();
            return false;
        });
		
    });

	/******************************************
     * jqGrid 성과목표
     ******************************************/
    function linkTarget(cellvalue, options, rowObject) {
        return '<input type="hidden" name="targetIds" value="' + cellvalue + '" />';
    }
    
    /******************************************
     * jqGrid 실적
     ******************************************/
    function linkValue(cellvalue, options, rowObject) {
		return '<input type="text" name="values" value="' + cellvalue + '" class="wp80 textCenter" onfocus="this.blur()" style="background-color:transparent;border:0 solid black;" readonly/>';
    }
    /******************************************
     * jqGrid 실적(1분기)
     ******************************************/
    function linkValue1(cellvalue, options, rowObject) {
		var str = '';
		str += '<input type="text" id="aVal1_'+ options.rowId +'"  name="actualValue_'+ options.rowId +'" onkeyup="keyUpChange(this,' + options.rowId + ');"  value="' + cellvalue + '" class="1"  style="width:80%;" maxlength="7" />';
		str += '<br/><input type="hidden" name="actualFValues"  value="' + cellvalue + '" />';
        return str;
    }
    /******************************************
     * jqGrid 실적(2분기)
     ******************************************/
    function linkValue2(cellvalue, options, rowObject) {
		var str = '';
		str += '<input type="text" id="aVal2_'+ options.rowId +'"  name="actualValue_'+ options.rowId +'" onkeyup="keyUpChange(this,' + options.rowId + ');" value="' + cellvalue + '" class="2" style="width:80%;" maxlength="7" />';
		str += '<br/><input type="hidden" name="actualSValues"  value="' + cellvalue + '" />';
        return str;
    }
    /******************************************
     * jqGrid 실적(3분기)
     ******************************************/
    function linkValue3(cellvalue, options, rowObject) {
		var str = '';
		str += '<input type="text" id="aVal3_'+ options.rowId +'" name="actualValue_'+ options.rowId +'" onkeyup="keyUpChange(this,' + options.rowId + ');"  value="' + cellvalue + '" class="3" style="width:80%;" maxlength="7" />';
		str += '<br/><input type="hidden" name="actualTValues"  value="' + cellvalue + '" />';
        return str;
    }
    /******************************************
     * jqGrid 실적(4분기)
     ******************************************/
    function linkValue4(cellvalue, options, rowObject) {
		var str = '';
		str += '<input type="text" id="aVal4_'+ options.rowId +'"  name="actualValue_'+ options.rowId +'" onkeyup="keyUpChange(this,' + options.rowId + ');"  value="' + cellvalue + '" class="4" style="width:80%;" maxlength="7" />';
		str += '<br/><input type="hidden" name="actualFFValues"  value="' + cellvalue + '" />';
        return str;
    }
    
    /******************************************
     * jqGrid 점수
     ******************************************/
    function linkScore(cellvalue, options, rowObject) {
        return '<input type="text"  name="scores" value="' + cellvalue + '" class="wp80 textCenter" onfocus="this.blur()" style="background-color:transparent;border:0 solid black;" readonly/>';
    }
	
	/******************************************
     * 실적계산
     ******************************************/
	 function keyUpChange(val,rowId){
	 	var tVal = "";
		var id = "";
		var idF = "";
		var classOne = J(val).attr("class");
		if(classOne=="1"){
			J(":input[name=actualFValues]").eq(rowId-1).val(J(val).val());
		}else if(classOne=="2"){
			J(":input[name=actualSValues]").eq(rowId-1).val(J(val).val());
		}else if(classOne=="3"){
			J(":input[name=actualTValues]").eq(rowId-1).val(J(val).val());
		}else if(classOne=="4"){
			J(":input[name=actualFFValues]").eq(rowId-1).val(J(val).val());
		}
	 	J(":input[name=actualValue_"+rowId+"]").each(function(index, item) {
			if(J(":input[name=actualValue_"+rowId+"]").eq(index).val() != ""){
				tVal += J(":input[name=actualValue_"+rowId+"]").eq(index).attr("class");
			}
			id +=  J(":input[name=actualValue_"+rowId+"]").attr("id");
			var lastIndex = id.lastIndexOf("_");
			idF = id.substring(lastIndex + 1);
		 });
	 		
			var strLast = tVal[tVal.length-1];
			var valLast = J("#aVal"+strLast+"_"+idF).val();
			J(":input[name=values]").eq(idF-1).val(valLast);
			
			changeScore(J(":input[name=values]").eq(idF-1).val(),idF);// 점수계산
	 
	 }
	 
	/******************************************
     * 점수계산
     ******************************************/
	function changeScore(values, rowId) {
		var obj = J("input[name=values]");
		var ret = J("#list").jqGrid('getRowData',rowId);
		J("#targetValue").val(ret.TARGET_VALUE);
		var val = parseFloat(values) /  J("#targetValue").val();
		var total = val *100;
		var totalReal = total.toFixed(3);
		J(":input[name=scores]").eq(rowId-1).val(totalReal);
	}
	
    /******************************************
     * 상태 및 기간 확인
     ******************************************/
    function isSubmit() {
        var isSubmit = true;    
        
        #if("$membersTable.PLAN_STATUS_ID" != "04")
            J.showMsgBox("성과계획서가 최종확인 되지 않았습니다.<br/>최종확인 후 진행하여 주시기 바랍니다.", null, null);
            isSubmit = false;
        #elseif("$actInTerm.ACTUAL_YN" == "N")
            J.showMsgBox("실적 제출 일정이 마감되었습니다.", null, null);
            isSubmit = false;
        #else
            #if("$membersTable.ACT_STATUS_ID" == "02")
                J.showMsgBox("이미 확인요청되었습니다.", null, null);
                isSubmit = false;
            #elseif("$membersTable.ACT_STATUS_ID" == "03")
                J.showMsgBox("이미 부서장 확인 되었습니다.", null, null);
                isSubmit = false;
            #elseif("$membersTable.ACT_STATUS_ID" == "04")
                J.showMsgBox("이미 최종승인 되었습니다.", null, null);
                isSubmit = false;
            #end
        #end
            
        return isSubmit;
    }
     
    /******************************************
     * 확인요청 
     ******************************************/
    function goApprove() {
        if(!isSubmit()) return false;
    
        var actStatusId = "$!{CS_HTML.txt2html($membersTable.ACT_STATUS_ID)}";

        if(actStatusId ==''){
            J.showMsgBox("실적을 저장하여 주시기 바랍니다.", null, null);
        }else{
            J.showConfirmBox("확인요청 하시겠습니까?", "approveDo"); //deleteDo() 콜백함수 호출            
        }
    }
    
    /******************************************
     * 확인요청
     ******************************************/
    function approveDo() {
        J("#year").val(J("#findYear").val());
        J("#mode").val("APC");
        J("#actStatusId").val("02");
        J("#formList").attr("action", "$!{context_path}/prs/mngCon/actualMngCon/evalMngProcess.vw?type=template").submit();
    }
    
    /******************************************
     * 저장처리
     ******************************************/
    function goSave() {
        var fileChk = true;
		var saveChk = true;
		
        if(!isSubmit()) return false;
		
		//첨부파일 확장자 체크
		J(":file", "#form1").each(function(index, item) {
			var fileFullName = J("input[name=" + item.name + "]").val();
			var src = getFileExtension(fileFullName);
			
			if (!((src.toLowerCase() == "xls") || (src.toLowerCase() == "xlsx") || (src.toLowerCase() == "ppt") || (src.toLowerCase() == "pptx")||
				  (src.toLowerCase() == "doc") || (src.toLowerCase() == "docx") || (src.toLowerCase() == "hwp") || (src.toLowerCase() == "pdf") ||
				  (src.toLowerCase() == "zip") || (src.toLowerCase() == "txt")  || (src.toLowerCase() == "gif") || (src.toLowerCase() == "jpg") ||
			      (src.toLowerCase() == "png") || (src.toLowerCase() == "png")
			    )) {
			
				fileChk = false;
    		}
		});
		
		if(fileChk == false) {
			J.showMsgBox("허용되지 않는 파일형식입니다<br/>허용되는 파일형식 : <br/>xls, xlsx, ppt, pptx, doc, docx, hwp <br/> pdf, zip, txt, gif, jpg, png, jpeg", null, null);
    		return;
		}
		
		J("input[name=scores]").each(function(b, value) {
    		if(J("input[name=scores]").eq(b).val()=="") {
    			J.showMsgBox("점수를 입력하세요", null, J("#aVal4_"+b).eq(b));
    			saveChk = false;
				return false;
    		}
		
		});
		
		J("input[name=values]").each(function(a, value) {
    		if(J("input[name=values]").eq(a).val()=="") {
    			J.showMsgBox("실적을 입력하세요", null, J("#aVal4_"+a).eq(a));
    			saveChk = false;
				return false;
    		}
		
		});
		
        J("#mode").val("SAVE");
        J("#year").val(J("#findYear").val());
        J("#evalMembEmpn").val(J("#evalMembEmpn").val());
        J("#evalMembEmpnSeq").val(J("#evalMembEmpnSeq").val());
		if(saveChk){	
        	J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
		}
    }
	
	 /******************************************
     * 저장
     ******************************************/
    function saveDo() {
        J("#formList").attr("action", "$!{context_path}/prs/mngCon/actualMngCon/actualMngConProcess.vw?type=template").submit();
    }
	
	/******************************************
	 * 파일추가
	 ******************************************/
	var fileIndex = 0;
	
	function fileAttachAdd() {
		J("#fileAttach").append("<li id=\"fileRow" + fileIndex + "\"><input type=\"file\" name=\"file" + fileIndex + "\" class=\"input\" size=\"70\" /> <input type=\"button\" value=\"삭제\" onclick=\"deleteRow(" + fileIndex + ")\" class=\"input\" size=\"70\"></li>");
		fileIndex++;
	}
	
	/******************************************
	 * 파일삭제
	 ******************************************/
	function deleteRow(fileIndex)	{
    	J("#fileRow" + fileIndex).remove();
    }

//]]>
</script>

<div id="Table">
    <div id="Table_blockContainer">
        <h1 class="none">직원개인업무성과 실적등록</h1>
        <div class="tableTop">
            #parse("/WEB-INF/vl/common/template/tabs.vm")
            
            <!-- search S -->
            <form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/mngCon/actualMngCon/actualMngConList.vw?type=template">
                <input type="hidden"    id="findHighPgmId"  	name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
                <input type="hidden"    id="findSubPgmId"   	name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
                <input type="hidden"    id="findPgmId"      	name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
                <input type="hidden"    id="findYear"         	name="findYear"         value="$!{searchMap.txt2html("findYear")}" />
                <input type="hidden"    id="findMon"          	name="findMon"          value="$!{searchMap.txt2html("findMon")}" />
                <input type="hidden"    id="findEvalMethodId" 	name="findEvalMethodId" value="$!{searchMap.txt2html("findEvalMethodId")}" />
                <input type="hidden"    id="evalMembEmpn"     	name="evalMembEmpn"     value="$!{searchMap.txt2html("evalMembEmpn")}" />
                <input type="hidden"    id="evalMembEmpnSeq"  	name="evalMembEmpnSeq"  value="$!{searchMap.txt2html("evalMembEmpnSeq")}" />
                
                #parse("/WEB-INF/vl/prs/mngCon/planMngCon/membersTable.vm")
            </form>
            <!-- search E -->
            <div class="clear"></div>
        </div>
        
        <form id="formList" name="formList" method="post" enctype="multipart/form-data" action="$!{context_path}/prs/mngCon/actualMngCon/actualMngConProcess.vw?type=template">
            <input type="hidden" id="mode"       		name="mode" />
            <input type="hidden" id="year"       		name="year" />
            <input type="hidden" id="mon"               name="mon" />
            <input type="hidden" id="targetValue"       name="targetValue" />
            <input type="hidden" id="actStatusId"       name="actStatusId"      value="01"/>
            <input type="hidden" id="evalMembEmpn"      name="evalMembEmpn"     value="$!{searchMap.txt2html("evalMembEmpn")}" />
            <input type="hidden" id="evalMembEmpnSeq"   name="evalMembEmpnSeq"  value="$!{searchMap.txt2html("evalMembEmpnSeq")}" />
            
            
            $!{searchMap.makeHiddenFind()}
            <div id="splitterBox">
                <div>
                    <!-- 데이터그리드 Start -->
                    <div class="blockGridListTable">
                        <table id="list" summary="직원개인업무성과 실적등록 조회결과">
                            <caption class="none">직원개인업무성과 실적등록 조회</caption>
                            <thead><tr><th></th></tr></thead>
                            <tbody><tr><td></td></tr></tbody>
                        </table>
                        <div id="pager"></div>
                    </div>
					<div class="blockDetail">
        			<table summary="자기성과기술서 등록">
    					<caption class="none">자기성과기술서 등록</caption>
        				<colgroup>
        					<col width="10%" />
        					<col width="90%" />
						</colgroup>
    				<tbody>
					<tr>
						<th scope="row"><label for="attach">증빙자료</label></th>
							<td colspan="8">
								#foreach($fileList in $fileList)
									$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))} 
									&nbsp;&nbsp;<input type="checkbox" name="delAttachFiles" id="delAttachFile$!{fileList.get("SEQ")}" value="$!{fileList.get("SEQ")}" />&nbsp;<label for="delAttachFile$!{fileList.get("SEQ")}">증빙자료 삭제</label> <br/>
								#end
								<br/>
								<a href="javascript:fileAttachAdd();"><img src="$!{img_path}/common/btn_file.gif" class="valign_middle" alt="파일추가" /></a>&nbsp;(첨부파일 용량제한은 100M입니다)<br/>
								<div>
									<ul id="fileAttach">
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
					</table>
					</div>
                    <!--// 데이터그리드 End -->
                    <div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:300px;">
                            <input type="button" id="btnApprove" value="확인요청" />
                        </div>
                        <div class="blockButton">
                            <ul>
                               <li><input type="button" id="btnBack" value="돌아가기"/></li>
                                <li><input type="submit" id="btnSave" value="저장" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
    <div class="clear"></div>
</div>
