<?xml version="1.0" encoding="UTF-8"?>

#*************************************************************************
* CLASS 명      : userList_ajax.vm
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 6월 13일 
* 기    능      : 사용자그룹 매핑 조직별 사용자 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용         비고
* -----  ----------  -------------------  ---------------------- ---------
*  1      하윤식       2012년 6월 13일         최 초 작 업 
**************************************************************************# 

<items>

#foreach($list in $userList)
	<item>
		<userId>$!{CS_HTML.txt2html($list.USER_ID)}</userId>
		<userNm>$!{CS_HTML.txt2html($list.USER_NM)}</userNm>
		<posCd>$!{CS_HTML.txt2html($list.POS_CD)}</posCd>
		<posNm>$!{CS_HTML.txt2html($list.POS_NM)}</posNm>
		<deptId>$!{CS_HTML.txt2html($list.DEPT_ID)}</deptId>
		<deptNm>$!{CS_HTML.txt2html($list.DEPT_NM)}</deptNm>
	</item>	
#end

</items>
