#*************************************************************************
* CLASS 명      : metricActualDetailList
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 8월 29일 
* 기    능      : 월별지표실적상세
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     김윤기      2012년 8월 29일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/bsc/mon/metricActualDetail/metricActualDetailList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	var toggle=false;
	
	J(document).ready(function(){
    
    	/******************************************
    	 * 돌아가기버튼 클릭 이벤트
    	 ******************************************/
    	J("#btnBack").click(function() {
    		J("#formFind").attr("action", "$!{context_path}/bsc/mon/metricDetail/metricDetailList.vw?type=template").submit();
    	});
       	
    	/******************************************
    	 * 산식계산항목 영역 숨김
    	 ******************************************/
		J("#toggleTable .dummy").css("display","none");
		
    	/******************************************
    	 * 산식계산항목 토글 클릭 이벤트
    	 ******************************************/
		J("#toggle").click(function(e){
			e.preventDefault();
			toggler();
		});
	});

	/******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) { 
		return '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '<//a>';
	}
	
	/******************************************
	 * 수정
	 ******************************************/
	function goModify(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		//J("#codeGrpId").val(ret.CODE_GRP_ID);
		J("#year").val(J("#findYear").val());
		J("#mode").val("MOD");
		J("#formList").attr("action", "$!{context_path}/bsc/mon/metricActualDetail/metricActualDetailModify.vw?type=template").submit();
	}
    
	/******************************************
	 * 삭제
	 ******************************************/
	function goDelete() {
		if(!J.gridSelectChk("list")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null); 
		} else {
			J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
		}
	}
    
	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
		/*
		var id = J("#list").getGridParam('selarrrow');
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var codeGrpIds = "";
        
		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#list").getRowData(ids[i]);
					codeGrpIds += rowdata.CODE_GRP_ID + '|';
				}
			});
		}
        
		J("#codeGrpIds").val(codeGrpIds);
		J("#mode").val("DEL");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/bsc/mon/metricActualDetail/metricActualDetailProcess.vw?type=template").submit();
		return false;
		*/
	}
	
	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#formFind").attr("action", "$!{context_path}/bsc/mon/metricActualDetail/metricActualDetailListExcel.vw?type=excel").submit();
		return false;
	}

	/******************************************
	 * 산식계산항목펼치기
	 ******************************************/
	function toggler(){
		if(!toggle){
    		J("#toggleTable .dummy").css("display","");
    		toggle=true;
		}else{
    		J("#toggleTable .dummy").css("display","none");
    		toggle=false;
		}
	}

	
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">월별지표실적상세</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/mon/metricActualDetail/metricActualDetailList.vw?type=template">
    			<input type="hidden"    name="year"	        value="$!{searchMap.txt2html("year")}"/>
    			<input type="hidden"    name="mon"		    value="$!{searchMap.txt2html("mon")}"/>
    			<input type="hidden"    name="scDeptId"	    value="$!{searchMap.txt2html("scDeptId")}"/>  
    			<input type="hidden"    name="strategyId"	value="$!{searchMap.txt2html("strategyId")}"/>
    			<input type="hidden"    name="metricId"	    value="$!{searchMap.txt2html("metricId")}"/>
				<input type="hidden" 	name="mainFlag"	    value="$!{searchMap.txt2html("mainFlag")}"/>
				$!{searchMap.makeHiddenFind()}
				<div class="searchBox">
    				<div><div><div>
    				<table summary="월별지표실적상세검색 조건">
						<caption class="none">월별지표실적상세 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
    							<td class="searchBox_tit w130">
            						<span><label>$!{YEARMON}</label></span>
            						<span class="searchBar">
    									$!{CS_CODE.getCodeName('017', $!{searchMap.txt2html("year")}, $!{searchMap.txt2html("year")})}
            						</span>
            						<span class="searchBar">
    									$!{CS_CODE.getCodeName('024', $!{searchMap.txt2html("mon")}, $!{searchMap.txt2html("year")})}
            						</span>
            					</td>
            					<td class="searchBox_tit w240">
    								<span><label>$!{SC_DEPT_NM}</label></span>
            						<span class="searchBar">
										$!{CS_UTIL.reduceString($CS_HTML.txt2html($CS_SC_DEPT.getName($!{searchMap.txt2html("year")}, $!{searchMap.txt2html("findScDeptId")})),27)}
    								</span>
                                </td>            					
            					<td class="searchBox_tit w200">
                					<span><label> $!{STRATEGY_NM}</label></span>
            						<span class="searchBar">
										$!{CS_UTIL.reduceString($CS_HTML.txt2html($strategyNm),27)}
            						</span>
                                </td>            					
            					<td class="searchBox_tit w200">
                					<span><label> $!{METRIC_NM}</label></span>
            						<span class="searchBar">
										$!{CS_UTIL.reduceString($CS_HTML.txt2html($metricNm),20)}
            						</span>
                                </td>            					
            					<td class="searchBox_tit w80">
                					<span><label> $!{KPI_NM}담당자</label></span>
            						<span class="searchBar">
										$CS_HTML.txt2html($userNm)
            						</span>
                                </td>            					
								<td class="searchBox_tit w100">
            						<span class="searchBar">
										$!CS_CODE.getCodeRadio("analCycle", "138", $!{searchMap.txt2html("analCycle")}, "")
            						</span>
            					</td>            					
            				</tr>
        				</tbody>
    				</table>
					<input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/mon/metricDetail/metricDetailProcess.vw?type=template">
			<div id="splitterBox">
				<div>
					<div class="blockButton_all">
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnBack" value="돌아가기"/></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="h40"></div>
			
			<div class="blockListTable">					
    			<table summary="" >
    				<caption></caption>
    				<tr>
    					<th scope="col" colspan="13" class="h10"></th>
    				</tr>
    				<tr>
    					<th scope="col">년간목표</th>
    					<td colspan="2">$!{CS_HTML.txt2html($metricInfo.TARGETY)}</td>
    					<th scope="col">단위</th>
    					<td colspan="2">$!{CS_CODE.getCodeName('013',$CS_HTML.txt2html($metricInfo.UNIT),$!{searchMap.txt2html("year")})}</td>
    					<th scope="col">누적방법</th>
						<td colspan="2">$!{CS_CODE.getCodeName('009',$CS_HTML.txt2html($metricInfo.TIME_ROLLUP),$!{searchMap.txt2html("year")})}</td>
    					<th scope="col">산식패턴</th>
    					<td colspan="3">$!{CS_HTML.txt2html($calTypeColDesc)}</td>
    				</tr>
					#if($scoreList)
    				<tr>
    					<th scope="col" rowspan="2">월별목표</th>
						#foreach($i in [1..12])
        					<th scope="col">$!{CS_HTML.txt2html($velocityCount)}월</th>
						#end	
    				</tr>
					<tr >
    					#foreach($list in $scoreList)
    						<td class="h15">
								$!{CS_HTML.txt2html($list.TARGET)}
							</td>
						#end
    				</tr>
    				<tr>
    					<th scope="col">월별실적</th>
    					#foreach($list in $scoreList)
    						<td class="h15">$!{CS_HTML.txt2html($list.ACTUAL)}</td>
						#end
    				</tr>
    				<tr>
    					<th scope="col">달성율</th>
    					#foreach($list in $scoreList)
    						<td class="h15">$!{CS_HTML.txt2html($list.SCORE)}</td>
						#end
    				</tr>
					#end
    			</table>
			</div>		
			<div class="h20"></div>
    		#if($!{CS_HTML.txt2html($metricInfo.TYPE_ID)}=="01")
    		<div>
    			<div>
                    <div>
                    	<div id="chartContainer">FusionCharts will load here!</div>
    					<script type="text/javascript" language="javascript" >
    					//<![CDATA[
    						FusionCharts.setCurrentRenderer(render);
                    		var myChart = new FusionCharts( "$!{chart_path}/MSColumn3DLineDY.swf", "myChartId", "1150", "250", "0", "1" );
                    		myChart.setXMLUrl("$!{context_path}/bsc/mon/metricActualDetail/metricActualDetailChart_xml.vw?year=$!{searchMap.txt2html("year")}&mon=$!{searchMap.txt2html("mon")}&scDeptId=$!{searchMap.txt2html("scDeptId")}&metricId=$!{searchMap.txt2html("metricId")}&analCycle=$!{searchMap.txt2html("analCycle")}");      
                    		myChart.render("chartContainer");
    					//]]>
                    	</script> 				
                    </div>
    			</div>
    		</div>
			#end
			<div class="blockListTable">					
    			<table summary="" id="toggleTable">
    				<caption></caption>
    				<colgroup>
    					<col width="16%" />
						#foreach($i in [1..12])
    					<col width="7%" />
						#end
    				</colgroup>
    				<tr>
    					<th scope="col" colspan="13" class="textLeft" >
							<input type="image" id="toggle" class="valign_middle" src="$!{img_path}/common/board/left_smback_sp.gif" align="middle" alt="펼침" />&nbsp;산식계산항목
						</th>
    				</tr>
                    <tr class="dummy">
    					<th scope="col">산식항목</th>
						#foreach($i in [1..12])
							<th scope="col">$!{CS_HTML.txt2html($velocityCount)}월</th>
						#end	
					</tr>
					#foreach($list in $colValueList)
    				<tr class="dummy">
							<td >$!{CS_HTML.txt2html($list.CAL_TYPE_COL_NM)}</td>
							<td>$!{CS_HTML.txt2html($list.MON01)}</td>
							<td>$!{CS_HTML.txt2html($list.MON02)}</td>
							<td>$!{CS_HTML.txt2html($list.MON03)}</td>
							<td>$!{CS_HTML.txt2html($list.MON04)}</td>
							<td>$!{CS_HTML.txt2html($list.MON05)}</td>
							<td>$!{CS_HTML.txt2html($list.MON06)}</td>
							<td>$!{CS_HTML.txt2html($list.MON07)}</td>
							<td>$!{CS_HTML.txt2html($list.MON08)}</td>
							<td>$!{CS_HTML.txt2html($list.MON09)}</td>
							<td>$!{CS_HTML.txt2html($list.MON10)}</td>
							<td>$!{CS_HTML.txt2html($list.MON11)}</td>
							<td>$!{CS_HTML.txt2html($list.MON12)}</td>
    				</tr>
					#end	
    			</table>
			</div>					
		</form>
		
		
	</div>
	<div class="clear"></div>
</div>
