#*************************************************************************
* CLASS 명      : popMetricActualDetailList
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 02일
* 기    능      : 월별지표실적상세(전략 및 경평에서 팝업으로 보여줌)
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     정철수      2012년 11월 02일             최 초 작 업
**************************************************************************#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">

#set($main_url = $!{searchMap.txt2html("mainUrl")})
#set($curr_url = $!{context_path} + "/bsc/mon/metricActualDetail/popMetricActualDetailList.vw")

<head>
	#parse("/WEB-INF/vl/common/template/head.vm")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	var toggle=false;

	J(document).ready(function(){
        
        /******************************************
         * 의견저장버튼 이벤트
         ******************************************/
        J("#btnInsert").click(function() {
            saveChk();
        });
    
    	/******************************************
         * 미진사유저장버튼 이벤트
         ******************************************/
        J("#btnInsertDesc").click(function() {
            saveDescChk();
        });
        
		/******************************************
		 * 닫기버튼 (창닫기)
		 ******************************************/
		J("#btnClose").click(function() {
			self.close();
		});
        
	});

	/*****************************************************
	 * 연계 팝업
	 *****************************************************/
    function goPopMetricActualDetail(mon, itemCd, url, restricted){
		if (url == "" ) { 
			alert("상세데이터 제공지표가 아닙니다");
			return;
		}

		if (url == "X") {
			alert('선택하신 지표의 상세데이터는 가스피아의 \n[재무관리/예산관리/일반회계예산/예산통제관리/가용예산조회] 화면에서 확인해 주십시요.');
			return;
		}
		
		if (restricted == "Y") {
			if (!$!{CS_LOGIN.chkAuthGrp("01")} && '$!{CS_LOGIN.getSabun()}' != J("#userId").val() && '$!{CS_LOGIN.getSabun()}' != J("#approveUserId").val()) {
				alert('해당지표의 실적입력자 또는 실적승인자만 조회할 수 있습니다.');
				return;
			}
		}

		var year = J("#year").val();
		var metricId = J("#metricId").val();
		var scDeptId = J("#scDeptId").val();
		var param = "&amp;findYear=" + year + "&amp;findMon=" + mon + "&amp;findMetricId=" + metricId + "&amp;findItemCd=" + itemCd + "&amp;findScDeptCd=" + scDeptId;

		var url = "$!{context_path}/" + url + "?type=popup" + param;
		openWinByName(url,'popDetail','1250','650','yes');
	}
    
    /******************************************
     * 의견 필수입력 체크
     ******************************************/
    function saveChk() {
        if(!LengthCheck(J("#opnion").val(), "의견", 1, 4000 ) ) {
            J("#opnion").focus();
            return false;
        }
        J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
    }

    /******************************************
     * 미진사유 필수입력 체크
     ******************************************/
    function saveDescChk() {
        if(!LengthCheck(J("#causeDesc").val(), "미진사유", 1, 4000 ) ) {
            J("#causeDesc").focus();
            return false;
        }
	    	
        J.showConfirmBox("저장하시겠습니까?", "saveDescDo"); //saveDescDo() 콜백함수 호출
    }
    
    /******************************************
     * 의견 저장
     ******************************************/
    function saveDo() {
        J("#formOpnionList").attr("action", "$!{context_path}/bsc/mon/metricActualDetail/popMetricActualDetailProcess.vw?mode=OPNION&amp;type=template").submit();
        return false;
    }
    
    /******************************************
     * 미진사유 저장
     ******************************************/
    function saveDescDo() {
        J("#formOpnionList").attr("action", "$!{context_path}/bsc/mon/metricActualDetail/popMetricActualDetailProcess.vw?mode=DESC&amp;type=template").submit();
        return false;
    }
    

//]]>
</script>
</head>
<body>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">월별지표실적상세</h1>
		<div class="tableTop">
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/mon/metricActualDetail/popMetricActualDetailList.vw?type=template">
    			<input type="hidden"	name="year"				id="year"			value="$!{searchMap.txt2html("year")}"/>
    			<input type="hidden"	name="mon"				id="mon"			value="$!{searchMap.txt2html("mon")}"/>
    			<input type="hidden"	name="scDeptId"			id="scDeptId"		value="$!{searchMap.txt2html("scDeptId")}"/>
    			<input type="hidden"	name="strategyId"		id="strategyId"		value="$!{searchMap.txt2html("strategyId")}"/>
    			<input type="hidden"	name="metricId"			id="metricId"		value="$!{searchMap.txt2html("metricId")}"/>
				<input type="hidden"	name="mainFlag"			id="mainFlag"		value="$!{searchMap.txt2html("mainFlag")}"/>
				<input type="hidden"	name="analCycle"		id="analCycle"		value="Y"/>
				<input type="hidden"	name="userId"			id="userId"			value="$!{searchMap.txt2html("userId")}"/>
				<input type="hidden"	name="approveUserId"	id="approveUserId"	value="$!{searchMap.txt2html("approveUserId")}"/>
				
				$!{searchMap.makeHiddenFind()}
				<div class="clear h20"></div>
				<div class="searchBox">
    				<div><div><div>
    				<table summary="월별지표실적상세검색 조건">
						<caption class="none">월별지표실적상세 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
    							<td class="searchBox_tit w130">
            						<span><label>$!{YEARMON}</label></span>
            						<span class="searchBar">
    									$!{CS_CODE.getCodeName('017', $!{searchMap.txt2html("year")}, $!{searchMap.txt2html("year")})}
            						</span>
            					</td>
            					<td class="searchBox_tit w200">
    								<span><label>$!{SC_DEPT_NM}</label></span>
            						<span class="searchBar">
										$CS_HTML.txt2html($scDeptNm)
    								</span>
                                </td>
            					<td class="searchBox_tit w200">
                					<span><label> $!{STRATEGY_NM}</label></span>
            						<span class="searchBar">
										$!{CS_UTIL.reduceString($CS_HTML.txt2html($strategyNm),27)}
            						</span>
                                </td>
            					<td class="searchBox_tit w350">
                					<span><label> $!{METRIC_NM}</label></span>
            						<span class="searchBar">
										$!{CS_UTIL.reduceString($CS_HTML.txt2html($metricNm),20)}
            						</span>
                                </td>
            					<td class="searchBox_tit w80">
                					<span><label> $!{KPI_NM}담당자</label></span>
            						<span class="searchBar">
										$CS_HTML.txt2html($userNm)
            						</span>
                                </td>
            				</tr>
						</tbody>
    				</table>
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/mon/metricActualDetail/metricDetailProcess.vw?type=template">
			<div class="blockListTable">
    			<table summary="" >
    				<caption></caption>
    				<tr>
    					<th scope="col">년간목표</th>
    					<td colspan="3">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($metricInfo.TARGETY)})}</td>
    					<th scope="col">단위</th>
    					<td colspan="3">$!{CS_CODE.getCodeName('013',$CS_HTML.txt2html($metricInfo.UNIT),$!{searchMap.txt2html("year")})}</td>
    					<th scope="col">누적방법</th>
						<td colspan="4">$!{CS_CODE.getCodeName('009',$CS_HTML.txt2html($metricInfo.TIME_ROLLUP),$!{searchMap.txt2html("year")})}</td>
    				</tr>
					<tr>
    					<th scope="col">산식패턴</th>
    					<td style="text-align:left" colspan="12">$!{CS_HTML.txt2html($calTypeColDesc)}</td>
    				</tr>
					#if($scoreList)
    				<tr>
    					<th scope="col" rowspan="2">월별목표</th>
						#foreach($i in [1..12])
        					<th scope="col">$!{CS_HTML.txt2html($velocityCount)}월</th>
						#end
    				</tr>
					<tr >
						#foreach($i in [0..11])
    						<td class="h15">
							#if( $scoreList.size() > $i )
								#set($list = $scoreList.get($i) )
								$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.TARGET)})}
							#end
							</td>
						#end
    				</tr>
    				<tr>
    					<th scope="col">월별실적</th>
    					#foreach($i in [0..11])
    						<td class="h15">
							#if( $scoreList.size() > $i )
								#set($list = $scoreList.get($i) )
								$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.ACTUAL)})}
							#end
							</td>
						#end
    				</tr>
    				<tr>
    					<th scope="col">달성율</th>
    					#foreach($i in [0..11])
    						<td class="h15">
							#if( $scoreList.size() > $i )
								#set($list = $scoreList.get($i) )
								$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.SCORE)})}
							#end
							</td>
						#end
    				</tr>
					#end
    			</table>
			</div>
			<div class="h20"></div>
    		#if($!{CS_HTML.txt2html($metricInfo.TYPE_ID)}=="01")
    		<div>
    			<div>
                    <div>
                    	<div id="chartContainer">FusionCharts will load here!</div>
    					<script type="text/javascript" language="javascript" >
    					//<![CDATA[
    						FusionCharts.setCurrentRenderer(render);
                    		var myChart = new FusionCharts( "$!{chart_path}/MSColumn3DLineDY.swf", "myChartId", "1150", "280", "0", "1" );
                    		myChart.setXMLUrl("$!{context_path}/bsc/mon/metricActualDetail/metricActualDetailChart_xml.vw?year=$!{searchMap.txt2html("year")}&mon=$!{searchMap.txt2html("mon")}&scDeptId=$!{searchMap.txt2html("scDeptId")}&metricId=$!{searchMap.txt2html("metricId")}&analCycle=$!{searchMap.txt2html("analCycle")}");
                    		myChart.render("chartContainer");
    					//]]>
                    	</script>
                    </div>
    			</div>
    		</div>
			#end
			<div class="blockListTable">
    			<table summary="" id="toggleTable">
    				<caption></caption>
    				<colgroup>
    					<col width="16%" />
						#foreach($i in [1..12])
    					<col width="7%" />
						#end
    				</colgroup>

					<!--
					<tr>
    					<th scope="col" colspan="13" class="textLeft" >
							<input type="image" id="toggle" class="valign_middle" src="$!{img_path}/common/board/left_smback_sp.gif" align="middle" alt="펼침" />&nbsp;산식계산항목
						</th>
    				</tr>
					-->

					<tr class="dummy">
    					<th scope="col">산식항목</th>
						#foreach($i in [1..12])
							<th scope="col">$!{CS_HTML.txt2html($velocityCount)}월</th>
						#end
					</tr>
					#foreach($list in $colValueList)
						#set($num = $velocityCount - 1)
    				<tr class="dummy">
							<td ><input type="hidden" name = "calTypeCol"  id = "calTypeCol$num" value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL)}">
							$!{CS_HTML.txt2html($list.CAL_TYPE_COL_NM)}</td>
							<td><a href="javascript:goPopMetricActualDetail('01', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON01)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('02', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON02)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('03', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON03)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('04', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON04)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('05', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON05)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('06', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON06)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('07', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON07)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('08', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON08)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('09', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON09)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('10', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON10)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('11', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON11)})}</a></td>
							<td><a href="javascript:goPopMetricActualDetail('12', '$!{CS_HTML.txt2html($list.ITEM_CD)}', '$!{CS_HTML.txt2html($list.URL)}', '$!{CS_HTML.txt2html($list.RESTRICTED)}')">$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.MON12)})}</a></td>
    				</tr>
					#end
    			</table>
			</div>
            
			
		</form>
        <form id="formOpnionList" name="formOpnionList" method="post" action="$!{context_path}/bsc/mon/metricActualDetail/popMetricActualDetailProcess.vw?type=template">
            <input type="hidden"    name="findYear"         value="$!{searchMap.txt2html("year")}"/>
            <input type="hidden"    name="findMon"          value="$!{searchMap.txt2html("findMon")}"/>
            <input type="hidden"    name="year"             value="$!{searchMap.txt2html("year")}"/>
            <input type="hidden"    name="mon"              value="$!{searchMap.txt2html("mon")}"/>
            <input type="hidden"    name="scDeptId"         value="$!{searchMap.txt2html("scDeptId")}"/>
            <input type="hidden"    name="strategyId"       value="$!{searchMap.txt2html("strategyId")}"/>
            <input type="hidden"    name="metricId"         value="$!{searchMap.txt2html("metricId")}"/>
            <input type="hidden"    name="metricNm"         value="$!{CS_HTML.txt2html($metricNm)}"/>
            <input type="hidden"    name="mainFlag"         value="$!{searchMap.txt2html("mainFlag")}"/>
            <input type="hidden"    name="analCycle"        value="Y"/>
            <input type="hidden"    name="userId"           value="$!{searchMap.txt2html("userId")}"/>
            <input type="hidden"    name="approveUserId"    value="$!{searchMap.txt2html("approveUserId")}"/>
                        
            <div class="h20"></div>
            <div class="blockListTable">
                <table summary="미진사유">
                    <caption class="none">미진사유입력</caption>
                    <thead class="none">
                        <tr><td width="10%"></td><td width="40%"></td><td width="10%"></td><td width="40%"></td></tr> 
                    </thead>
                    <tbody>
                        <tr>
                            <th width="10%">미진사유
                            				#if($!{CS_HTML.txt2html($causeDetail.INSERT_USER_ID)} != "")
                            					<br/><br/><br/>( $CS_HTML.txt2html($userNm) )
                            				#end
                            </th>
                            <td width="40%" class="textLeft"><textarea id="causeDesc" name="causeDesc" class="tabletext" title="미진사유" cols="" rows="5" >$!{CS_HTML.txt2html($causeDetail.CAUSE_DESC)}</textarea></td>
                            <th width="10%">의견
                            				#if($!{CS_HTML.txt2html($causeDetail.OPNION_USER_ID)} != "")
                            					<br/><br/><br/>( $!{CS_HTML.txt2html($causeDetail.OPNION_USER_NM)} )
                            				#end
                            </th>
                            <td width="40%" class="textLeft"><textarea id="opnion" name="opnion" class="tabletext" title="의견" cols="" rows="5">$!{CS_HTML.txt2html($causeDetail.OPNION)}</textarea></td>
                        </tr>
                        <tr>
                            <th>첨부파일</th>
                            <td class="textLeft" colspan="3">
                                #foreach($fileList in $fileList)
                                    $!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))} 
                                    &nbsp;&nbsp;
                                #end
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="blockButton_all">
            	<div class="blockButton" style="float:left; text-align:left; width:350px;">
					<font color="blue">지표담당자,담당부장,담당처실장에게 의견을 전달합니다.</font>
				</div>
                <div class="blockButton">
                    <ul>
                    #if($!{CS_LOGIN.chkAuthGrp("01")})
                        <li><input type="button" id="btnInsert" value="의견저장" /></li>
                    	<li><input type="button" id="btnInsertDesc" value="미진사유 저장" /></li>
                    #else
                    	#if($!{CS_LOGIN.chkAuthGrp("62")})
                        	<li><input type="button" id="btnInsert" value="의견저장" /></li>
                    	#end
	                    #if("$!{searchMap.txt2html('userId')}" == "$!{CS_LOGIN.getSabun()}")
	                    	<li><input type="button" id="btnInsertDesc" value="미진사유 저장" /></li>
	                    #end
                    #end
                        <li><input type="button" id="btnClose" value="닫기" /></li>
                    </ul>
                </div>
            </div>
        </form>


	</div>
	<div class="clear"></div>
</div>
<div id="dialog" title="확인" style="display:none;"><p>&nbsp;</p></div>    <!-- 다이어로그 -->
</body>
</html>