#*************************************************************************
* CLASS 명      : excepDeptModify
* 작 업 자      : 박경태 
* 작 업 일      : 2012년 12월 12일 
* 기    능      : 별도평가조직    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    박경태      2012년 12월 12일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/cbe/excep/excepDept/excepDeptList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		

		/******************************************
		 * 정렬순서 숫자만 입력
		 ******************************************/
		J("#sortOrder").numeric();
		J("#sortOrder").css("ime-mode", "disabled");
		
		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#icSearch").fancybox();
		J("#managerUserSearch").fancybox();
		J("#bscUserSearch").fancybox();
		
		/******************************************
		 * fancybox 설정
		 ******************************************/
		J("#anchor").fancybox();      //실적연계 항목 팝업

	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		if(!J.checkLength("scDeptNm", "평가대상조직", 1, 50)) {
			return;
		}
		
		if(J("#evalMethodId").val() == "") {
			J.showMsgBox("평가방법을 선택해 주십시요", null, "evalMethodId");
			return;
		}
		
		if(!J.checkLength("evalBaseChargeUserNm", "평가근거담당자", 1, 50)) {
			return;
		}
		
		if(!J.checkLength("evalUserId", "평가자", 1, 50)) {
			return;
		}
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/cbe/excep/excepDept/excepDeptProcess.vw?type=template").submit();
	}
	
	/*****************************************************
	 * 상위조직 팝업에서 조직선택 설정
	 *****************************************************/ 
	function setDeptInfoPop(scDeptId, scDeptNm) {
		J("#scDeptId").val(scDeptId);				// 조직Tree에서 선택한 조직코드를 설정.
		J("#scDeptNm").val(J(scDeptNm).text());		// 조직Tree에서 선택한 조직명을 설정.
		J.fancybox.close();
	}
	
	/*****************************************************
	 * 평가근거 설정
	 *****************************************************/ 
	function setManagerUserInfo(arguments) {
		J("#evalBaseChargeUserId").val(arguments[0]);
		J("#evalBaseChargeUserNm").val(arguments[1]);
		J.fancybox.close();
	}
	
	/*****************************************************
	 * 평가자 설정
	 *****************************************************/ 
	function setBscUserInfo(arguments) {
		J("#evalUserId").val(arguments[0]);
		J("#evalUserNm").val(arguments[1]);
		J.fancybox.close();
	}

//]]>
</script>    
 
<form id="form1" name="form1" method="post" action="$!{context_path}/cbe/excep/excepDept/excepDeptProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />
	<input type="hidden"	id="evalDegreeId"   name="evalDegreeId"   value="$!{searchMap.txt2html("evalDegreeId")}" />
	
    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
								<td class="searchBox_tit w250">평가구분 <span class="searchBar">$!{CS_HTML.txt2html($detailGubun.EVAL_DEGREE_NM)}</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="별도평가조직 등록">
					<caption class="none">별도평가조직 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="85%" />
    				</colgroup>
    				<tbody>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="scDeptId">평가대상조직</label></th>
							<td>
								<input type="hidden" id="scDeptId" name="scDeptId" value="$!{CS_HTML.txt2html($detail.SC_DEPT_ID)}" />
    							<input type="text" id="scDeptNm" name="scDeptNm" class="inputbox w150 disable" value="$!{CS_HTML.txt2html($!{detail.SC_DEPT_NM})}" maxlength="20" readonly="readonly"/>
    							#if($!{searchMap.txt2html("mode")}=="ADD")
								<a id="icSearch" href="$!{context_path}/bsc/module/commModule/popScDeptTree.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSearchCodeId=$!{CS_HTML.txt2html($detail.SC_DEPT_ID)}">
								<img src="$!{img_path}/common/board/ic_search.gif" id="icSearchImg" class="valign_middle" alt="부서선택" /></a> 
    							<a href="javascript:J.setInit('scDeptId','scDeptNm');"><img src="$!{img_path}/common/board/ic_cancel.gif" id="icCancelImg" class="valign_middle" alt="부서선택 취소" /></a>
                                <span id="upScDeptComment" style="color:red;"></span>
								#end
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="evalMethodId">평가방법</label></th>
							<td>
								<select id="evalMethodId" name="evalMethodId" class="select w210">
    								<option value="">==선택==</option>
									#foreach($list in $evalMethodlist)
    								<option value="$!{CS_HTML.txt2html($list.EVAL_METHOD_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.EVAL_METHOD_ID)}, $!{CS_HTML.txt2html($detail.EVAL_METHOD_ID)})}>$!{CS_HTML.txt2html($list.EVAL_METHOD_NM)}</option>
    								#end
    							</select>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="evalBaseChargeUserId">평가근거 담당자</label></th>
							<td>
								<input type="hidden" id="evalBaseChargeUserId" name="evalBaseChargeUserId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.EVAL_BASE_CHARGE_USER_ID)}" />
								<input type="text" id="evalBaseChargeUserNm" name="evalBaseChargeUserNm" class="inputbox w150 disable" value='$!{CS_HTML.txt2html($detail.EVAL_BASE_CHARGE_USER_NM)}' maxlength="20" readonly="readonly"/>
								<a id="managerUserSearch" href="$!{context_path}/bsc/module/commModule/popSearchUser.vw?findYear=$!{searchMap.txt2html("year")}&amp;callBack=setManagerUserInfo"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="부서장선택" /></a> 
								<a href="javascript:J.setInit('evalBaseChargeUserId','evalBaseChargeUserNm');"><img src="$!{img_path}/common/board/ic_cancel.gif" class="valign_middle" alt="부서장선택 취소" /></a>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="evalUserId">평가자</label></th>
							<td>
								<input type="hidden" id="evalUserId" name="evalUserId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.EVAL_USER_ID)}" />
								<input type="text" id="evalUserNm" name="evalUserNm" class="inputbox w150 disable" value='$!{CS_HTML.txt2html($detail.EVAL_USER_NM)}' maxlength="20" readonly="readonly"/>
								<a id="bscUserSearch" href="$!{context_path}/bsc/module/commModule/popSearchUser.vw?findYear=$!{searchMap.txt2html("year")}&amp;callBack=setBscUserInfo"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="부서담당자선택" /></a> 
								<a href="javascript:J.setInit('evalUserId','evalUserNm');"><img src="$!{img_path}/common/board/ic_cancel.gif" class="valign_middle" alt="부서담당자선택 취소" /></a>
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="sortOrder">정렬순서</label></th>
							<td><input type="text" id="sortOrder" name="sortOrder" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.SORT_ORDER)}' maxlength="5"/></td>
						</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>	
    	</div>
		<a id="anchor"></a>
    	<div class="clear"></div>
    </div>
</form>
