#*************************************************************************
* CLASS 명		: orgDeptEvalItemActList_xml
* 작 업 자		: 박선혜
* 작 업 일		: 2013년 06월 14일 
* 기    능		: 조직별평가실적등록 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      박선혜     2013년 06월 14일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"ORG_EVAL_ITEM_ID"     : "$!{CS_HTML.txt2html($list.ORG_EVAL_ITEM_ID)}", 
		"EVAL_TYPE_NM"   	   : "$!{CS_HTML.txt2html($list.EVAL_TYPE_NM)}",
		"ORG_EVAL_ITEM_NM"     : "$!{CS_HTML.txt2html($list.ORG_EVAL_ITEM_NM)}",
		"ALLOC_SCORE"		   : "$!{CS_HTML.txt2html($list.ALLOC_SCORE)}",	
		"CONTENT"	           : "$!{CS_HTML.txt2html($list.CONTENT)}",
		"CAL_TYPE_COL"	       : "$!{CS_HTML.txt2html($list.CAL_TYPE_COL)}",
		"CAL_TYPE_COL_NM"      : "$!{CS_HTML.txt2html($list.CAL_TYPE_COL_NM)}",
		"SCORE"	       		   : "$!{CS_HTML.txt2html($list.SCORE)}",
		"VALUE"	       		   : "$!{CS_HTML.txt2html($list.VALUE)}",
		"DEPT_SCORE"     	   : "$!{CS_HTML.txt2html($list.DEPT_SCORE)}",
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"DEPT_CD"   	 	   : "$!{CS_HTML.txt2html($list.DEPT_CD)}",
		"EVAL_TYPE_CNT"   	   : "$!{CS_HTML.txt2html($list.EVAL_TYPE_CNT)}",
		"EVAL_TYPE_INDEX"      : "$!{CS_HTML.txt2html($list.EVAL_TYPE_INDEX)}",
		"ORG_EVAL_ITEM_CNT"    : "$!{CS_HTML.txt2html($list.ORG_EVAL_ITEM_CNT)}",
		"ORG_EVAL_ITEM_INDEX"  : "$!{CS_HTML.txt2html($list.ORG_EVAL_ITEM_INDEX)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
