<?xml version="1.0" encoding="UTF-8"?>
#*************************************************************************
* CLASS 명      : approveUserList_ajax.vm
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 14일 
* 기    능      : ajax 방식으로 선택된 년도의 승인담당자 목록(조회조건)을 가져옴
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용         비고
* -----  ----------  -------------------  ---------------------- ---------
*  1      정철수       2012년 11월 14일         최 초 작 업 
**************************************************************************# 

<dataset>

#foreach($list in $approveUserList)
	<data>
		<value>$!{CS_HTML.txt2html($list.APPROVE_USER_ID)}</value>
		<text>$!{CS_HTML.txt2html($list.APPROVE_USER_NM)}</text>
	</data>	
#end

</dataset>
