#*************************************************************************
* CLASS 명      : evalAssessorModify
* 작 업 자      : 김효은
* 작 업 일      :  2013년 12월 11일 
* 기    능      : 개인별평가자 선정    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1     김효은       2013년 12월 11일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 검색버튼 
		 ******************************************/
		J("#btnSearch").click(function() {
		    var deptId = J("#findSelectDept").val();
		    goClickAction(deptId, "");
		    goClickAction1(deptId, "");
			J("#findEmpn").val("");
	        J("#findKorNm").val("");
		});
		
		/******************************************
		 * 취소버튼 (돌아가기) 1차평가자
		 ******************************************/
		J("#btnBack1").click(function() {
			J("#form2").attr("action", "$!{context_path}/prs/mng/evalAssessor/evalAssessorList.vw?type=template").submit();
		});
		
		/******************************************
		 * 취소버튼 (돌아가기) 2차평가자
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/prs/mng/evalAssessor/evalAssessorList.vw?type=template").submit();
		});
		
		/******************************************
		 * 저장버튼 이벤트 1차평가자
		 ******************************************/
		J("#btnInsert1").click(function(e) {
			e.preventDefault();
			saveChkFirst();
		});
        
		/******************************************
		 * 저장버튼 이벤트 2차평가자
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert1").unbind();
		});
		
		/******************************************
    	 * 사용자전체 이동 이벤트 tab1
    	 ******************************************/
		J("#allToLeft").click(function() {
			del();
		});
		
		J("#allToRight").click(function() {
			add();
		});		
		
		J("#source").dblclick(function(){
			add();
		});
		
		J("#target").bind("dblclick",function(){
			del();
		});
		
		/******************************************
    	 * 사용자전체 이동 이벤트 tab2
    	 ******************************************/
		J("#allToLeft1").click(function() {
			del1();
		});
		
		J("#allToRight1").click(function() {
			add1();
		});		
		
		J("#source1").dblclick(function(){
			add1();
		});
		
		J("#target1").bind("dblclick",function(){
			del1();
		});
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});	
		
		 if( "Y" == "$!{mngEvalYn.MNG_EVAL_YN}" ){
			J("#alertDis").html("※  간부개인업적평가가 마감되었습니다." ).attr("class","txt_red");
		 }
		 
		 goClickAction("0000", "KGS");
		 goClickAction1("0000", "KGS");
		 
		/******************************************
		 * 화면 초기셋팅
		 ******************************************/
		init();
		
		J(function() {        
			J( "#tabs" ).tabs();    
		});

	});
		 
	/******************************************
	 * 조직선택 이벤트
	 * 검색조건 추가시 data 에
	 * +"&amp;findEmpn=" + findEmpn+"&amp;findKorNm=" + findKorNm  추가.
	 ******************************************/
	function goClickAction(deptId, deptNm) {
    	var findEmpn = J("#findEmpn").val();
    	var findKorNm = J("#findKorNm").val();
    	J("#findSelectDept").val(deptId);
    	
		J.ajax({
        	url      : "$!{context_path}/prs/mng/evalAssessor/evalAssessor_ajax.vw",
        	type     : "GET", 
			data     : "deptId=" + deptId +"&amp;findYear=" +J("#findYear").val(), 
        	dataType : "xml",
			contentType : "application/xml",
        	success  : function (xml) {
				J("#source1").empty();
				if(J(xml).find("items").find("item").length > 0) {
					$(xml).find("items").find("item").each(function() {  
                    	var userId = $(this).find("empn").text();  
                    	var userNm = $(this).find("korNm").text();
                    	var castNm = $(this).find("castNm").text();
						var posNm  = $(this).find("posNm").text();
						var deptFullNm = $(this).find("deptFullNm").text();
                    	
						J("#source1").append("<option value=\""+userId+"\">"+userId+" "+userNm+" "+castNm+" "+posNm+" "+"("+deptFullNm+")</option>");
                    });
				}  
        	},  
			error : function(xhr, status, error) {
				alert(error);
			}
    	});
	}
	
	/******************************************
	 * 조직선택 이벤트 tab2	 
	 * 검색조건 추가시 data 에
	 * +"&amp;findEmpn=" + findEmpn+"&amp;findKorNm=" + findKorNm  추가.
	 ******************************************/
	function goClickAction1(deptId, deptNm) {
    	var findEmpn = J("#findEmpn").val();
    	var findKorNm = J("#findKorNm").val();
    	J("#findSelectDept").val(deptId);
    	
		J.ajax({
        	url      : "$!{context_path}/prs/mng/evalAssessor/evalAssessor_ajax.vw",
        	type     : "GET", 
			data     : "deptId=" + deptId +"&amp;findYear=" +J("#findYear").val(), 
        	dataType : "xml",
			contentType : "application/xml",
        	success  : function (xml) {
				J("#source").empty();
				if(J(xml).find("items").find("item").length > 0) {
					$(xml).find("items").find("item").each(function() {  
                    	var userId = $(this).find("empn").text();  
                    	var userNm = $(this).find("korNm").text();
                    	var castNm = $(this).find("castNm").text();
						var posNm  = $(this).find("posNm").text();
						var deptFullNm = $(this).find("deptFullNm").text();
                    	
						J("#source").append("<option value=\""+userId+"\">"+userId+" "+userNm+" "+castNm+" "+posNm+" "+"("+deptFullNm+")</option>");
                    });
				}  
        	},  
			error : function(xhr, status, error) {
				alert(error);
			}
    	});
	}
	
	/******************************************
	 * 필수입력 체크 1차평가자
	 ******************************************/
	function saveChkFirst() {
      if("$!{mngEvalYn.MNG_EVAL_YN}" == "Y"){
    		J.showMsgBox("간부개인업적평가가 마감되었습니다.", null, null);
      }else{
    	if(J("#delData").val() == "del"){
    		J.showConfirmBox("평가자를 변경하면 저장된 평가점수가 삭제됩니다. 그래도 저장하시겠습니까?", "saveDoFirst"); //saveDoFirst() 콜백함수 호출
    		}else{
    		J.showConfirmBox("저장하시겠습니까?", "saveDoFirst"); //saveDoFirst() 콜백함수 호출
    	}
      }
	}

	/******************************************
	 * 필수입력 체크 2차평가자
	 ******************************************/
	function saveChk() {
      if("$!{mngEvalYn.MNG_EVAL_YN}" == "Y"){
    		J.showMsgBox("간부개인업적평가가 마감되었습니다.", null, null);
      }else{
    	if(J("#delData").val() == "del"){
    		J.showConfirmBox("평가자를 변경하면 저장된 평가점수가 삭제됩니다. 그래도 저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
    		}else{
    		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
    	}
      }
	}
	
	/******************************************
	 * 저장 1차평가자
	 ******************************************/
	function saveDoFirst() {
		var empns1 = "";
	
		J("#target1 option").each(function() {  
            empns1 += J(this).val() + '|';
            //alert(empns);
        });
        
		J("#empns1").val(empns1);
		J("#mode1").val("ADDFIRST");
		J("#evalMemb1").val(J("#evalMembEmpn1").val());
		J("#evalMembSeq1").val(J("#evalMembEmpnSeq1").val());
		J("#userId1").val(J("#findUserId").val());
		J("#form2").attr("action", "$!{context_path}/prs/mng/evalAssessor/evalAssessorProcess.vw?type=template").submit();
	}
    
	/******************************************
	 * 저장 2차평가자
	 ******************************************/
	function saveDo() {
		var empns = "";
	
		J("#target option").each(function() {  
            empns += J(this).val() + '|';
            //alert(empns);
        });
        
		J("#empns").val(empns);
		J("#mode").val("ADD");
		J("#evalMemb").val(J("#evalMembEmpn").val());
		J("#evalMembSeq").val(J("#evalMembEmpnSeq").val());
		J("#userId").val(J("#findUserId").val());
		J("#form1").attr("action", "$!{context_path}/prs/mng/evalAssessor/evalAssessorProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 맵핑 컨트롤 tab1
	 ******************************************/
	function sourceSelectedItem(selected_id) {
		var isCheck = false;
		
		J("#target option").each(function() {  
			var userId = J(this).val();  
			if(userId == selected_id) isCheck = true;
                	
        });
		
    	return isCheck;
    }
    
    function targetSelectedItem(selected_id) {
		var isCheck = false;
		
		J("#source option").each(function() {  
			var userId = J(this).val();  
			if(userId == selected_id) isCheck = true;
        });
		
    	return isCheck;
    }
    
	function add() {
			
		if( J("#source option").length == 0) {
			J.showMsgBox("이동할 데이터가 없습니다.", null, null);
    		return;
    	}
    
    	if(J("#source option:selected").length == 0) {
			J.showMsgBox("이동할 데이터를 선택하십시오.", null, null);
    		return;
    	}
		
		J("#source option:selected").each(function() {  
			var temp_text = J(this).text();
			var temp_value = J(this).val();
			var temp_id = J(this).attr('id');
			var temp_target = J("#target option").length;
			
		    if(temp_target >= 6){
				J.showMsgBox("6명까지 선택 할 수 있습니다.", null, null);
				return false;				
			}
			
			if(sourceSelectedItem(temp_value) == false) {
				J("#target").append("<option id=\""+temp_id+"\" value=\""+temp_value+"\">"+temp_text+"</option>");
			#foreach($userList in $userList)
				if('$!{CS_HTML.txt2html($userList.ASSESSOR_EMPN)}' == temp_value){
        			  if(temp_id == "0"){
    					J("#delData").val("del");
        				return false;
    				   }else{
        				J("#delData").val("safe");
    				   }
				 }else{
        			  if(temp_id != "0"){
        				J("#delData").val("safe");
        				return false;
    				   }
				 }
		   #end
			} else {
				J.showMsgBox("선택 하신 Data는 이미 선택 되어 있습니다.", null, null);
				return false;
			}
			J(this).remove();
        });
		
    }

    function del() {
		if( J("#target option").length == 0) {
			J.showMsgBox("이동할 데이터가 없습니다.", null, null);
    		return;
    	}
    
    	if(J("#target option:selected").length == 0) {
			J.showMsgBox("이동할 데이터를 선택하십시오.", null, null);
    		return;
    	}

		J("#target option:selected").each(function() {  
			var temp_text = J(this).text();
			var temp_value = J(this).val();
			var temp_id = J(this).attr('id');
			if(targetSelectedItem(temp_value) == false) {
				if(temp_id != "0"){
        			J.showMsgBox("기존 평가점수가 삭제 됩니다.", null, null);
        			J("#delData").val("del");
				}
				J("#source").append("<option id=\""+temp_id+"\" value=\""+temp_value+"\">"+temp_text+"</option>");
			}else{
				if(temp_id != "0"){
        			J("#delData").val("del");
        			J.showMsgBox("기존 평가점수가 삭제 됩니다.", null, null);
    			}else{
    				J("#delData").val("safe");
    			}
			}
			J(this).remove();
        });
    }
    
    /******************************************
	 * 맵핑 컨트롤 tab2
	 ******************************************/
	function sourceSelectedItem1(selected_id) {
		var isCheck = false;
		
		J("#target1 option").each(function() {  
			var userId = J(this).val();  
			if(userId == selected_id) isCheck = true;
                	
        });
		
    	return isCheck;
    }
    
    function targetSelectedItem1(selected_id) {
		var isCheck = false;
		
		J("#source1 option").each(function() {  
			var userId = J(this).val();  
			if(userId == selected_id) isCheck = true;
        });
		
    	return isCheck;
    }
    
	function add1() {
			
		if( J("#source1 option").length == 0) {
			J.showMsgBox("이동할 데이터가 없습니다.", null, null);
    		return;
    	}
    
    	if(J("#source1 option:selected").length == 0) {
			J.showMsgBox("이동할 데이터를 선택하십시오.", null, null);
    		return;
    	}
		
		J("#source1 option:selected").each(function() {  
			var temp_text = J(this).text();
			var temp_value = J(this).val();
			var temp_id = J(this).attr('id');
			var temp_target = J("#target1 option").length;
			
		    if(temp_target >= 6){
				J.showMsgBox("6명까지 선택 할 수 있습니다.", null, null);
				return false;				
			}
			
			if(sourceSelectedItem1(temp_value) == false) {
				J("#target1").append("<option id=\""+temp_id+"\" value=\""+temp_value+"\">"+temp_text+"</option>");
			#foreach($userList1 in $userList1)
				if('$!{CS_HTML.txt2html($userList.ASSESSOR_EMPN)}' == temp_value){
        			  if(temp_id == "0"){
    					J("#delData").val("del");
        				return false;
    				   }else{
        				J("#delData").val("safe");
    				   }
				 }else{
        			  if(temp_id != "0"){
        				J("#delData").val("safe");
        				return false;
    				   }
				 }
		   #end
			} else {
				J.showMsgBox("선택 하신 Data는 이미 선택 되어 있습니다.", null, null);
				return false;
			}
			J(this).remove();
        });
		
    }

    function del1() {
		if( J("#target1 option").length == 0) {
			J.showMsgBox("이동할 데이터가 없습니다.", null, null);
    		return;
    	}
    
    	if(J("#target1 option:selected").length == 0) {
			J.showMsgBox("이동할 데이터를 선택하십시오.", null, null);
    		return;
    	}

		J("#target1 option:selected").each(function() {  
			var temp_text = J(this).text();
			var temp_value = J(this).val();
			var temp_id = J(this).attr('id');
			if(targetSelectedItem1(temp_value) == false) {
				if(temp_id != "0"){
        			J.showMsgBox("기존 평가점수가 삭제 됩니다.", null, null);
        			J("#delData").val("del");
				}
				J("#source1").append("<option id=\""+temp_id+"\" value=\""+temp_value+"\">"+temp_text+"</option>");
			}else{
				if(temp_id != "0"){
        			J("#delData").val("del");
        			J.showMsgBox("기존 평가점수가 삭제 됩니다.", null, null);
    			}else{
    				J("#delData").val("safe");
    			}
			}
			J(this).remove();
        });
    }
    
    /*****************************************************
	 * 화면초기셋팅
	 *****************************************************/ 
	function init() {
		chgMethod();
	}
	
	/******************************************
	 * 평가방법 선택시 지표유형 변경
	 ******************************************/
	function chgMethod(){
		
		//J("#subDetailBlankSpace").show();
		J("#tabs").show();
	}

//]]>
</script>
 
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
				#parse("/WEB-INF/vl/prs/mng/planMng/membersTable.vm")
			<div id="tabs" class="none">    
            	<ul>        
            		<li><a href="#tabs-1">1차평가자</a></li>        
            		<li><a href="#tabs-2">2차평가자</a></li>        
            	</ul>
            <div id="tabs-1">
			<div class="blockDetail2">
			<table width="100%" cellspacing="0" cellpadding="0" border="1">
				<tbody>
					<tr>
        			<form id="formFind2" name="formFind2" method="post" action="$!{context_path}/prs/mng/evalAssessor/evalAssessorModify.vw?type=template">
        				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    	value="$!{searchMap.txt2html("findHighPgmId")}" />
        				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     	value="$!{searchMap.txt2html("findSubPgmId")}" />
        				<input type="hidden"    id="findPgmId"      name="findPgmId"        	value="$!{searchMap.txt2html("findPgmId")}" />
        				<input type="hidden" 	id="findYear"		name="findYear"				value="$!{searchMap.txt2html("findYear")}" />
        				<input type="hidden" 	id="findSelectDept" name="findSelectDept"   	value="$!{searchMap.txt2html("findSelectDept")}" />
        				<input type="hidden" 	id="evalGrpId1"		name="evalGrpId1"			value="$!{searchMap.txt2html("evalGrpId")}" />
        				<input type="hidden" 	id="evalMembEmpn1"	name="evalMembEmpn1"		value="$!{searchMap.txt2html("evalMembEmpn")}" />
        				<input type="hidden" 	id="evalMembEmpnSeq1"name="evalMembEmpnSeq1"	value="$!{searchMap.txt2html("evalMembEmpnSeq")}" />
        				<input type="hidden" 	id="findUserId1"     name="findUserId1"    		value="$!{CS_LOGIN.getUser_id()}" />
						
						<td style="width:5%;"  valign="top">&nbsp;</td>
						<td style="width:25%;" valign="top">
							<div style="height:378px;overflow:auto;">
							#parse("/WEB-INF/vl/prs/mng/evalMng/deptTree.vm")  <!-- 조직트리 -->
							</div>
						</td>
						<td style="width:5%;"  valign="top">&nbsp;</td>
						<td style="width:30%;" valign="top">
						<div>
							<select id="source1" style="align:center; border:1px solid #d2d2d2; padding-top:5px; width:390px; height:375px;overflow:auto; overflow-x:hidden; background:#fff url($!{img_path}/common/div_back.gif) repeat-x 0 100%; " multiple="multiple">
							</select>
						</div> 
						</td>
						</form>
						<td style="width:5%;" valign="top" class="valign_middle">
							<input type="image" id="allToLeft1" src="$!{img_path}/common/btn_arrow1up.gif" alt="왼으로 전체 이동" /><br/><br/>
							<input type="image" id="allToRight1" src="$!{img_path}/common/btn_arrow2up.gif" alt="오른쪽으로 전체 이동" />
						</td>
						<!-- 선택된 평가대상자 시작 -->
						<td valign="top">
							<form id="form2" name="form2" method="post" action="$!{context_path}/prs/mng/evalAssessor/evalAssessorProcess.vw?type=template">
								<input type="hidden" id="mode1"			name="mode1"			value="ADDFIRST" />
								<input type="hidden" id="year1"			name="year1"			value="$!{CS_HTML.txt2html($evalGrpUseDetail.YEAR)}" />
								<input type="hidden" id="empns1"		name="empns1"		/>
								<input type="hidden" id="evalMemb1"		name="evalMemb1"		/>
								<input type="hidden" id="evalMembSeq1"	name="evalMembSeq1"  />
								<input type="hidden" id="delData1"	    name="delData1"	    />
								<input type="hidden" id="userId1"    	name="userId1"   	/>
								$!{searchMap.makeHiddenFind()}   
     						
								<div>	
    								<select id="target1" style="align:center; border:1px solid #d2d2d2; padding-top:5px; width:390px; height:375px;overflow:auto; overflow-x:hidden; background:#fff url($!{img_path}/common/div_back.gif) repeat-x 0 100%; " multiple="multiple">
										#foreach($userList1 in $userList1)
                                           <option id='$!{CS_HTML.txt2html($userList1.GRADE_CNT)}' value="$!{CS_HTML.txt2html($userList1.ASSESSOR_EMPN)}" >$!{CS_HTML.txt2html($userList1.ASSESSOR_EMPN)} $!{CS_HTML.txt2html($userList1.KOR_NM)} $!{CS_HTML.txt2html($userList1.CAST_TC_NM)} $!{CS_HTML.txt2html($userList1.POS_TC_NM)} ($!{CS_HTML.txt2html($userList1.DEPT_FULL_NM)})</option> 
    									#end
    								</select>
								</div>
                            </form>
						</td>
						<!-- 선택된 평가대상자 끝 -->
    				</tr>
                  </tbody>
    		</table>
    		</div>
    		<div class="blockButton"> 
    			<br/><br/>
    			<ul>
    				<li><input type="button" id="btnBack1"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert1" value="1차평가자저장" /></li>
    			</ul>
    		</div>
            </div>
    		<div id="tabs-2">
			<div class="blockDetail2">
			<table width="100%" cellspacing="0" cellpadding="0" border="1">
				<tbody>
					<tr>
        			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/mng/evalAssessor/evalAssessorModify.vw?type=template">
        				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
        				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
        				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
        				<input type="hidden" 	id="findYear"		name="findYear"			value="$!{searchMap.txt2html("findYear")}" />
        				<input type="hidden" 	id="findSelectDept" name="findSelectDept"   value="$!{searchMap.txt2html("findSelectDept")}" />
        				<input type="hidden" 	id="evalGrpId"		name="evalGrpId"		value="$!{searchMap.txt2html("evalGrpId")}" />
        				<input type="hidden" 	id="evalMembEmpn"	name="evalMembEmpn"		value="$!{searchMap.txt2html("evalMembEmpn")}" />
        				<input type="hidden" 	id="evalMembEmpnSeq"name="evalMembEmpnSeq"	value="$!{searchMap.txt2html("evalMembEmpnSeq")}" />
        				<input type="hidden" 	id="findUserId"     name="findUserId"    	value="$!{CS_LOGIN.getUser_id()}" />
						<td style="width:5%;"  valign="top">&nbsp;</td>
						<td style="width:25%;" valign="top">
							<div style="height:378px;overflow:auto;">
							#parse("/WEB-INF/vl/prs/mng/evalMng/deptTree1.vm")  <!-- 조직트리 -->
							</div>
						</td>
						<td style="width:5%;"  valign="top">&nbsp;</td>
						<td style="width:30%;" valign="top">
						<div>
							<select id="source" style="align:center; border:1px solid #d2d2d2; padding-top:5px; width:390px; height:375px;overflow:auto; overflow-x:hidden; background:#fff url($!{img_path}/common/div_back.gif) repeat-x 0 100%; " multiple="multiple">
							</select>
						</div> 
						</td>
						</form>
						<td style="width:5%;" valign="top" class="valign_middle">
							<input type="image" id="allToLeft" src="$!{img_path}/common/btn_arrow1up.gif" alt="왼으로 전체 이동" /><br/><br/>
							<input type="image" id="allToRight" src="$!{img_path}/common/btn_arrow2up.gif" alt="오른쪽으로 전체 이동" />
						</td>
						<!-- 선택된 평가대상자 시작 -->
						<td valign="top">
							<form id="form1" name="form1" method="post" action="$!{context_path}/prs/mng/evalAssessor/evalAssessorProcess.vw?type=template">
								<input type="hidden" id="mode"			name="mode"			value="ADD" />
								<input type="hidden" id="year"			name="year"			value="$!{searchMap.txt2html("findYear")}" />
								<input type="hidden" id="empns"			name="empns"		/>
								<input type="hidden" id="evalMemb"		name="evalMemb"		/>
								<input type="hidden" id="evalMembSeq"	name="evalMembSeq"  />
								<input type="hidden" id="delData"	    name="delData"	    />
								<input type="hidden" id="userId"    	name="userId"   	/>
								$!{searchMap.makeHiddenFind()}   
     						
								<div>	
    								<select id="target" style="align:center; border:1px solid #d2d2d2; padding-top:5px; width:390px; height:375px;overflow:auto; overflow-x:hidden; background:#fff url($!{img_path}/common/div_back.gif) repeat-x 0 100%; " multiple="multiple">
										#foreach($userList in $userList)
                                           <option id='$!{CS_HTML.txt2html($userList.GRADE_CNT)}' value="$!{CS_HTML.txt2html($userList.ASSESSOR_EMPN)}" >$!{CS_HTML.txt2html($userList.ASSESSOR_EMPN)} $!{CS_HTML.txt2html($userList.KOR_NM)} $!{CS_HTML.txt2html($userList.CAST_TC_NM)} $!{CS_HTML.txt2html($userList.POS_TC_NM)} ($!{CS_HTML.txt2html($userList.DEPT_FULL_NM)})</option> 
    									#end
    								</select>
								</div>
                            </form>
						</td>
						<!-- 선택된 평가대상자 끝 -->
    				</tr>
                  </tbody>
    		</table>
    		</div>
    		<div class="blockButton"> 
    			<br/><br/>
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="2차평가자저장" /></li>
    			</ul>
    		</div>
    		</div>
            </div>
            </div>
    	</div>
    	<div class="clear"></div>
    </div>

