<?xml version="1.0" encoding="UTF-8"?>

#*************************************************************************
* CLASS 명      : evalAssessor_ajax
* 작 업 자      : 김효은
* 작 업 일      : 2013년 12월 30일 
* 기    능      : 개인별 평가자 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용         비고
* -----  ----------  -------------------  ---------------------- ---------
*  1      김효은       2013년 12월 30일         최 초 작 업 
**************************************************************************# 
<items>
#foreach($list in $userList)
	<item>
		<empn>$!{CS_HTML.txt2html($list.EMPN)}</empn>
		<korNm>$!{CS_HTML.txt2html($list.KOR_NM)}</korNm>
		<castNm>$!{CS_HTML.txt2html($list.CAST_NM)}</castNm>
		<posTc>$!{CS_HTML.txt2html($list.POS_TC)}</posTc>
		<posNm>$!{CS_HTML.txt2html($list.POS_NM)}</posNm>
		<deptCd>$!{CS_HTML.txt2html($list.DEPT_CD)}</deptCd>
		<deptFullNm>$!{CS_HTML.txt2html($list.DEPT_FULL_NM)}</deptFullNm>
	</item>	
#end
</items>
