#*************************************************************************
* CLASS 명      : imponEvalStatusList_xml
* 작 업 자      : 정철수
* 작 업 일      : 2012년 12월 5일 
* 기    능      : 평가진행현황 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      정철수     2012년 12월 5일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"EVAL_USER_GRP_ID"     : "$!{CS_HTML.txt2html($list.EVAL_USER_GRP_ID)}", 
		"EVAL_USER_GRP_NM"     : "$!{CS_HTML.txt2html($list.EVAL_USER_GRP_NM)}", 
		"EVAL_USER_ID"         : "$!{CS_HTML.txt2html($list.EVAL_USER_ID)}", 
		"USER_NM"              : "$!{CS_HTML.txt2html($list.USER_NM)}", 
		"EMAIL"                : "$!{CS_HTML.txt2html($list.EMAIL)}", 
		"METRIC_GRP_ID"        : "$!{CS_HTML.txt2html($list.METRIC_GRP_ID)}", 
		"METRIC_GRP_NM"        : "$!{CS_HTML.txt2html($list.METRIC_GRP_NM)}", 
		"EVAL_SUBMIT_YN"       : "$!{CS_HTML.txt2html($list.EVAL_SUBMIT_YN)}", 
		"EVAL_SUBMIT_YN_NM"    : "$!{CS_HTML.txt2html($list.EVAL_SUBMIT_YN_NM)}", 
		"UG_ROW_CNT"           : "$!{CS_HTML.txt2html($list.UG_ROW_CNT)}", 
		"UG_ROW_IDX"           : "$!{CS_HTML.txt2html($list.UG_ROW_IDX)}", 
		"EU_ROW_CNT"           : "$!{CS_HTML.txt2html($list.EU_ROW_CNT)}", 
		"EU_ROW_IDX"           : "$!{CS_HTML.txt2html($list.EU_ROW_IDX)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
