#*************************************************************************
* CLASS 명      : resultMonModify
* 작 업 자      : 현걸욱 
* 작 업 일      : 2012년 11월 8일 
* 기    능      : 기관장지표결과    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    현걸욱      2012년 11월 8일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/gov/bos/resultMon/resultMonList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		

		/******************************************
		 * 정렬순서 숫자만 입력
		 ******************************************/
		J("#bossEvalScore").numeric();
		J("#bossEvalScore").css("ime-mode", "disabled");

	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
	
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/gov/bos/resultMon/resultMonProcess.vw?type=template").submit();
	}

//]]>
</script>    
 
<form id="form1" name="form1" method="post" action="$!{context_path}/gov/bos/resultMon/resultMonProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />
	<input type="hidden"	id="bossMetricId"   name="bossMetricId"   value="$!{searchMap.txt2html("bossMetricId")}" />

    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="기관장지표결과 등록">
					<caption class="none">기관장지표결과 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="85%" />
    				</colgroup>
    				<tbody>
						<tr>
							<th scope="row"><label for="bossEvalScore">기관장평가점수</label></th>
							<td><input type="text" id="bossEvalScore" name="bossEvalScore" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.BOSS_EVAL_SCORE)}' maxlength="22"/></td>
						</tr>
						<tr>
							<th scope="row"><label for="createId">등록자</label></th>
							<td><input type="text" id="createId" name="createId" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.CREATE_ID)}' maxlength="6"/></td>
						</tr>

						<!--
    					<tr>
    						<th scope="row"><label for="codeGrpId">코드그룹ID</label></th>
    						<td>
								#if($!{searchMap.txt2html("mode")} == "MOD")
									$!{CS_HTML.txt2html($detail.CODE_GRP_ID)}
									<input type="hidden" id="codeGrpId" name="codeGrpId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.CODE_GRP_ID)}" maxlength="3" readonly="readonly"/>
								#else
									<input type="hidden" id="codeGrpId" name="codeGrpId" class="inputbox w100" maxlength="3" />
                                    ※ 저장시 자동으로 부여됩니다.
								#end
							</td>
    					</tr>
    					<tr>
    						<th scope="row"><label for="codeDefId">코드부여구분</label></th>
    						<td>
    							<select id="codeDefId" name="codeDefId" class="select w100">
    								$!CS_CODE.getCodeOption("014", $detail.CODE_DEF_ID, $!{searchMap.txt2html("year")})
    							</select>
    						</td>
    					</tr>
    					<tr>
    						<th scope="row"><label for="codeGrpNm">코드그룹명</label></th>
    						<td><input type="text" id="codeGrpNm" name="codeGrpNm" class="inputbox w100" value='$!{CS_HTML.txt2html($detail.CODE_GRP_NM)}' maxlength="20"/></td>
    					</tr>
    					<tr>
    						<th scope="row"><label for="yearYn1">연도별관리여부 </label></th>
    						<td>
    							<input type="radio" id="yearYn1" name="yearYn" value="Y" #if(!$detail.YEAR_YN || $detail.YEAR_YN == "Y") checked="checked" #end /> 예 &nbsp;&nbsp;&nbsp;
    							<input type="radio" id="yearYn2" name="yearYn" value="N" #if($detail.YEAR_YN == "N") checked="checked" #end /> 아니오
    						</td>
    					</tr>
						-->
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>	
    	</div>
    	<div class="clear"></div>
    </div>
</form>
