#*************************************************************************
* CLASS 명		: MetricDetailList_xml
* 작 업 자			: 이상민
* 작 업 일			: 2013년7월05일 
* 기		능			: 이행성과지표 상세 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일                  변 경 내 용              비  고
*  ----     --------  -----------------        -------------------------  -----------
*  1        이상민    2013년7월05일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"						: "$!{CS_HTML.txt2html($list.YEAR)}", 
		"STRAT_ID"				: "$!{CS_HTML.txt2html($list.STRAT_ID)}", 
		"STRAT_NM"				: "$!{CS_HTML.txt2html($list.STRAT_NM)}",
		"TGT_STATUS_ID"     : "$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}",
		"CSF_ID"					: "$!{CS_HTML.txt2html($list.CSF_ID)}", 
		"CSF_NM"				: "$!{CS_HTML.txt2html($list.CSF_NM)}",
		"MAN_KPI_ID"			: "$!{CS_HTML.txt2html($list.MAN_KPI_ID)}", 
		"MAN_KPI_NM"		: "$!{CS_HTML.txt2html($list.MAN_KPI_NM)}", 
		"CYCLE_ID"				: "$!{CS_HTML.txt2html($list.CYCLE_ID)}", 
		"CYCLE_NM"			: "$!{CS_HTML.txt2html($list.CYCLE_NM)}", 
		"UNIT_ID"					: "$!{CS_HTML.txt2html($list.UNIT_ID)}", 
		"UNIT_NM"				: "$!{CS_HTML.txt2html($list.UNIT_NM)}", 
		"MAN_ID"					: "$!{CS_HTML.txt2html($list.MAN_ID)}", 
		"MAN_NM"				: "$!{CS_HTML.txt2html($list.MAN_NM)}", 
		"INSERT_USER_ID"		: "$!{CS_HTML.txt2html($list.INSERT_USER_ID)}", 
		"INSERT_USER_NM"	: "$!{CS_HTML.txt2html($list.INSERT_USER_NM)}", 
		"INSERT_DEPT_ID"		: "$!{CS_HTML.txt2html($list.INSERT_DEPT_ID)}", 
		"DEPT_KOR_NM"		: "$!{CS_HTML.txt2html($list.DEPT_KOR_NM)}", 
		"TGT_TARGET"			: "$!{CS_HTML.txt2html($list.TGT_TARGET)}", 
		"TARGET"					: "$!{CS_HTML.txt2html($list.TARGET)}", 
		"STATUS_ID"				: "$!{CS_HTML.txt2html($list.STATUS_ID)}",
		"STRAT_CNT"			: "$!{CS_HTML.txt2html($list.STRAT_CNT)}",
		"STRAT_INDEX"			: "$!{CS_HTML.txt2html($list.STRAT_INDEX)}",
		"SUBJECT_CNT"		: "$!{CS_HTML.txt2html($list.SUBJECT_CNT)}",
		"SUBJECT_INDEX"		: "$!{CS_HTML.txt2html($list.SUBJECT_INDEX)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
