
#*************************************************************************
* CLASS 명		: metricDetailList
* 작 업 자			: 이상민
* 작 업 일			: 2013년 07월 04일 
* 기    능			: 이행성과지표 상세
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1    이상민     2013년 07월 04일          최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/man/mon/metricDetail/metricDetailList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/man/mon/metricDetail/metricDetailList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['경영목표코드', '경영목표','전략과제코드', '전략과제', 'CSF 코드', 'CSF', 'KGS2020KPI코드', 'KGS2020KPI', '담당부서', '담당자'
                          , '주기', '단위', '목표', '실적', '상태', 'STRAT_CNT', 'STRAT_INDEX', 'SUBJECT_CNT', 'SUBJECT_INDEX'],
			colModel     :[
                            {name:'MAN_ID'				,index:'MAN_ID'				,width:70			,align:'left'		,sortable:false   ,cellattr: attrSetting									}, 
                            {name:'MAN_NM'				,index:'MAN_NM'				,width:150		,align:'left'		,sortable:false   ,cellattr: attrSetting	 },
                            {name:'STRAT_ID'				,index:'STRAT_ID'				,width:70			,align:'left'		,sortable:false   ,cellattr: attrSetting									}, 
                            {name:'STRAT_NM'			,index:'STRAT_NM'			,width:150		,align:'left'      	,sortable:false   ,cellattr: attrSetting},
                            {name:'CSF_ID'					,index:'CSF_ID'					,width:70			,align:'left'      	,sortable:false   ,cellattr: attrSetting2									}, 
                            {name:'CSF_NM'				,index:'CSF_NM'				,width:200		,align:'left'      	,sortable:false   ,cellattr: attrSetting2},
                            {name:'MAN_KPI_ID'			,index:'MAN_KPI_ID'			,width:70			,align:'left'      	,sortable:false }, 
                            {name:'MAN_KPI_NM'		,index:'MAN_KPI_NM'		,width:180		,align:'left'      	,sortable:false   ,formatter:linkStrMetricPop },
                            {name:'DEPT_KOR_NM'		,index:'DEPT_KOR_NM'		,width:80      	,align:'center'	,sortable:false },
                            {name:'INSERT_USER_NM'	,index:'INSERT_USER_NM'	,width:60      	,align:'center'	,sortable:false },
							{name:'CYCLE_NM'			,index:'CYCLE_NM'			,width:50      	,align:'center'	,sortable:false }, 
                            {name:'UNIT_NM'				,index:'UNIT_NM'				,width:60      	,align:'center'	,sortable:false },
                            {name:'TGT_TARGET'		,index:'TARGET'				,width:60      	,align:'center'	,sortable:false }, 
                            {name:'TARGET'				,index:'ACTUAL'				,width:60      	,align:'center'	,sortable:false }, 
							{name:'STATUS_ID'			,index:'STATUS_ID'			,width:60      	,align:'center'	,sortable:false    ,formatter:linkMappingPop },
							{name:'STRAT_CNT'			,index:'STRAT_CNT'			,width:10      	,align:'center'	,sortable:false },
							{name:'STRAT_INDEX'		,index:'STRAT_INDEX'		,width:10      	,align:'center'	,sortable:false },
							{name:'SUBJECT_CNT'		,index:'SUBJECT_CNT'		,width:10      	,align:'center'	,sortable:false },
							{name:'SUBJECT_INDEX'	,index:'SUBJECT_INDEX'	,width:10      	,align:'center'	,sortable:false }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			caption:"이행성과지표 상세"
        }).jqGrid('hideCol',"MAN_ID").jqGrid('hideCol',"STRAT_ID").jqGrid('hideCol',"CSF_ID").jqGrid('hideCol',"MAN_KPI_ID").jqGrid('hideCol',"STRAT_CNT").jqGrid('hideCol',"STRAT_INDEX").jqGrid('hideCol',"SUBJECT_CNT").jqGrid('hideCol',"SUBJECT_INDEX").jqGrid('hideCol',"MANAGEMENT_ID").jqGrid('hideCol',"CSF_ID").setGridWidth($!{jqGrid_width});
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
        
		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
		
		/******************************************
		 * 년도별 전략과제 change 이벤트
		 ******************************************/
		$('#findYear').change(function(){
			chgSubject();
		});
	});
	
	
	
	/******************************************
	 * 경영목표변경시 전략과제 변경
	 ******************************************/
	
	function chgStratSubject(){
	
		J.ajax({
        	url      : "$!{context_path}/man/mon/metricDetail/stratSubjectList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#findStratSubjectId").empty();
				
				J('<option/>').attr('value','').text("전체").appendTo('#findStratSubjectId');
				
				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findStratSubjectId');
				})
				
				<!--세부목표도 초기화-->
				chgCsf();
        	}
    	});
	}
	
	/******************************************
	 * 전략과제 변경시 CSF 변경
	 ******************************************/
	
	function chgCsf(){
	
		J.ajax({
		
			url      : "$!{context_path}/man/mon/metricDetail/csfList_ajax.vw",
			cache    : false,
			type     : "POST",
			data	 : J("#formFind").serialize(),
			dataType : "html",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			success  : function(data){
							var xmlDoc = J.parseXML(data);
							J("#findCsfId").empty();
							
							J('<option/>').attr('value','').text("전체").appendTo('#findCsfId');
							
							J(xmlDoc).find("data").each(function() {
								J('<option/>').attr('value',J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findCsfId');
							})
					   }
		});
	
	}

	/******************************************
	 * jqGrid 전략과제 신호등
	 ******************************************/
	function linkSignal(cellvalue, options, rowObject) { 
		return "<img name=\'sig\'  src=\'$!{img_path}/common/ball/a_ball_" + rowObject.STRAT_STATUS_ID + ".gif\' > " + cellvalue;
	}
	
	/******************************************
	 * jqGrid 세부과제 신호등 및 정의서팝업
	 ******************************************/
	function linkSignal2(cellvalue, options, rowObject) { 
		return "<img name=\'sig\'  src=\'$!{img_path}/common/ball/a_ball_" + rowObject.SUBJECT_STATUS_ID + ".gif\' > " + "<a href=javascript:goSubjectPop(" + options.rowId + ")>" + cellvalue + "</a>";
	}
	
	/******************************************
	 * jqGrid 이행성과지표 정의서팝업
	 ******************************************/
	function linkStrMetricPop(cellvalue, options, rowObject) {
		return '<a href=javascript:goStrMetricPop(' + options.rowId + ')>' + cellvalue + '<//a>';
	}
	 
	/******************************************
	 * jqGrid 이행성과지표 신호등 및 연계팝업
	 ******************************************/
	function linkMappingPop(cellvalue, options, rowObject) {
		return '<img name=\'sig\' src=\'$!{img_path}/common/ball/a_ball_' + cellvalue + '.gif\' >' + '<//a>';
	}
	
	/******************************************
	 * 세부과제 팝업
	 ******************************************/
	function goSubjectPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = J("#findYear").val();
		var findMon = J("#findMon").val();
		var findSubjectId = ret.SUBJECT_ID;
		var param = "&amp;findYear=" + findYear + "&amp;findMon=" + findMon + "&amp;findSubjectId=" + findSubjectId;
		
		var url = "$!{context_path}/str/mon/subjectDetail/popSubjectDetailList.vw?type=popup" + param;
		openWinByName(url,'popMetricMapping','900','550','yes');
	}
	
	/******************************************
	 * 이행성과지표 팝업
	 ******************************************/
	function goStrMetricPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = J("#findYear").val();
		var findMon = J("#findMon").val();
		var findSubjectMetricId = ret.MAN_KPI_ID;
		var param = "&amp;findYear=" + findYear + "&amp;findMon=" + findMon + "&amp;findSubjectMetricId=" + findSubjectMetricId;
		
		var url = "$!{context_path}/man/mon/metric/popMetricList.vw?type=popup" + param;
		openWinByName(url,'popMetricMapping','900','500','yes');
	}
	
	/******************************************
	 * 내평지표연계 팝업
	 ******************************************/
	function goMappingPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = J("#findYear").val();
		var findMon = J("#findMon").val();
		var findSubjectMetricId = ret.MAN_KPI_ID;
		var param = "&amp;findYear=" + findYear + "&amp;findMon=" + findMon + "&amp;findSubjectMetricId=" + findSubjectMetricId;
		
		var url = "$!{context_path}/str/mon/metricMapping/popMetricMappingList.vw?type=popup" + param;
		openWinByName(url,'popMetricMapping2','900','500','yes');
	}
    
	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#yearNm").val(J("#findYear > option:selected").text());
		J("#monNm").val(J("#findMon > option:selected").text());
		J("#stratSubjectNm").val(J("#findStratSubjectId > option:selected").text());
		J("#formList").attr("action", "$!{context_path}/man/mon/metricDetail/metricDetailListExcel.vw?type=excel").submit();
		return false;
	}

	/*****************************************
	 * 전략과제 Rowspan 설정
	 ******************************************/
	function attrSetting(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.STRAT_INDEX;
		var rowSpan = rowObject.STRAT_CNT;
		
		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		
		return result;     
	}
	
	/*****************************************
	 * 세부과제 Rowspan 설정
	 ******************************************/
	function attrSetting2(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.SUBJECT_INDEX;
		var rowSpan = rowObject.SUBJECT_CNT;
		
		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		
		return result;     
	}
	
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">KPI2020KGS 상세</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/man/mon/metricDetail/metricDetailList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="KPI2020KGS 상세검색 조건">
						<caption class="none">KPI2020KGS 상세 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w200">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w70">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
										<select id="findMon" name="findMon" class="select w60">
            								$!CS_CODE.getCodeOption("024", $!{searchMap.txt2html("findMon")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w200">
            						<span><label for="findManagementId">경영목표</label></span>
            						<span class="searchBar">
            							<select id="findManagementId" name="findManagementId" class="select w140" onchange="chgStratSubject();">
            								<option value="">전체</option>
            								#foreach($managementList in $managementList)
												<option value="$!{CS_HTML.txt2html($managementList.MAN_ID)}" $searchMap.getSelected("findManagementId", "$!{CS_HTML.txt2html($managementList.MAN_ID)}")>$!{CS_HTML.txt2html($managementList.MAN_NM)}</option>
											#end
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w200">
                					<span><label for="findStratSubjectId">전략과제</label></span>
            						<span class="searchBar">
										<select id="findStratSubjectId" name="findStratSubjectId" class="select w140" onchange="chgCsf();">
                                            <option value="">전체</option>
											#foreach($stratSubjectList in $stratSubjectList)                     
                                            	<option value="$!{CS_HTML.txt2html($stratSubjectList.STRAT_ID)}" $searchMap.getSelected("findStratSubjectId", "$!{CS_HTML.txt2html($stratSubjectList.STRAT_ID)}")>$!{CS_HTML.txt2html($stratSubjectList.STRAT_NM)}</option>
                                            #end
										</select>
            						</span>
                                </td>
                                <td class="searchBox_tit w170">
            						<span><label for="findCsfId">CSF</label></span>
            						<span class="searchBar">
            							<select id="findCsfId" name="findCsfId" class="select w140" >
											<option value=''>전체</option>
            								#foreach($csfList in $csfList)
												<option value="$!{CS_HTML.txt2html($csfList.CSF_ID)}" $searchMap.getSelected("findCsfId", "$!{CS_HTML.txt2html($csfList.CSF_ID)}")>$!{CS_HTML.txt2html($csfList.CSF_NM)}</option>
											#end		
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit" >
            						<span><label for="findStrMetric">KGS2020KPI</label></span>
										<input type="text" title="이행성과지표" name="findStrMetric" id="findStrMetric" value="$!{searchMap.txt2html("findStrMetric")}" maxlength="30" class="inputbox w120"/>
            						</span>
            					</td>
							</tr>  
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="right" valign="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/man/mon/metricDetail/metricDetailList.vw?type=template">
			<input type="hidden" id="mode"       			name="mode" />
			<input type="hidden" id="year"					name="year" />
			<input type="hidden" id="mon"		 			name="mon" />
			<input type="hidden" id="yearNm"				name="yearNm" />
			<input type="hidden" id="monNm"		 			name="monNm" />
			<input type="hidden" id="stratSubjectNm"		name="stratSubjectNm" />
			
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="KPI2020KGS 상세 조회결과">
							<caption class="none">KPI2020KGS 상세 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton_l"><input id="btnExcelDown" type="image" src="$!{img_path}/btn_excel.gif" align="middle" alt="엑셀다운로드" /></div>
						<div class="blockButton"></div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>
