<?xml version="1.0" encoding="UTF-8"?>

#*************************************************************************
* CLASS 명   : officeGrpList_ajax
* 작 업 자      : 김민주
* 작 업 일      : 2013년 06월 25일 
* 기    능      : 
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    			작     업     일        변 경 내 용         비고
* -----  ----------  -------------------  ---------------------- ---------
*  1      김민주       		2013년 06월 25일         최 초 작 업 
**************************************************************************# 

<dataset>

#foreach($list in $list)
	<data>
		<value>$!{CS_HTML.txt2html($list.OFFICE_EVAL_GRP_ID)}</value>
		<text>$!{CS_HTML.txt2html($list.OFFICE_EVAL_GRP_NM)}</text>
	</data>	
#end

</dataset>
