#*************************************************************************
* CLASS 명   : officeList
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 5일
* 기    능      : 공공기관
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     정철수      2012년 11월 5일             최 초 작 업
*  2     김민주      2013년 06월 24일           추 가 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/gov/office/office/officeList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/gov/office/office/officeList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['공공기관 평가군', '기관코드', '기관', '타이틀기관', '정렬순서'
						  , '평가년도', '공공기관 평가군코드'
						  , 'OG_CNT' , 'OG_ROWNUM', '정평지표개수'
						  ],
			colModel     :[
							{name:'OFFICE_EVAL_GRP_NM'   ,index:'OFFICE_EVAL_GRP_NM'   	,width:150   ,align:'left'	 ,sortable:false ,cellattr:attrSettingOfficeGrp},
                            {name:'OFFICE_ID'            ,index:'OFFICE_ID'            	,width:150   ,align:'center' ,sortable:false },
							{name:'OFFICE_NM'            ,index:'OFFICE_NM'            	,width:150   ,align:'left' 	 ,sortable:false ,formatter:linkUpdate},
							{name:'TITLE_OFFICE_NM'      ,index:'TITLE_OFFICE_NM'       ,width:150   ,align:'left' 	 ,sortable:false},
                            {name:'SORT_ORDER'           ,index:'SORT_ORDER'           	,width:150   ,align:'center' ,sortable:false },

							{name:'YEAR'                 ,index:'YEAR'					,width:150   ,align:'center' },
                            {name:'OFFICE_EVAL_GRP_ID'   ,index:'OFFICE_EVAL_GRP_ID'	,width:150   ,align:'center' },
							{name:'OG_CNT'   			 ,index:'OG_CNT'				,width:150   ,align:'left'	 },
							{name:'OG_ROWNUM'   		 ,index:'OG_ROWNUM'   			,width:150   ,align:'left'   },
							{name:'CNT'   				 ,index:'CNT'   				,width:150   ,align:'center' ,formatter:linkOfficeMetric}

							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : true,
			cellEdit     : true,
			gridview     : true,
			loadComplete : function() {
    							var ids = J("#list").jqGrid('getDataIDs');
    							J("#list input:checkbox").each(function(index) {
    								var rowdata = J("#list").getRowData(ids[index]);
    								if(J(rowdata.CNT).text() != 0) { //비교조건 대상 컬럼
    									J("#list input:checkbox[name=jqg_list_" + (index+1) + "]").hide();
    								}
    							});
                           },
			caption:"공공기관"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"OFFICE_EVAL_GRP_ID")
		.jqGrid('hideCol',"OG_CNT").jqGrid('hideCol',"OG_ROWNUM").jqGrid('hideCol',"TITLE_OFFICE_NM")
		.setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnInsert").click(function() {
			J("#year").val(J("#findYear").val());
			J("#mode").val("ADD");
			J("#formList").attr("action", "$!{context_path}/gov/office/office/officeModify.vw?type=template").submit();
		});

		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
	});

	/*****************************************
	 * 공공기관 평가군  Rowspan 설정
	 ******************************************/
	function attrSettingOfficeGrp(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.OG_ROWNUM;
		var rowSpan = rowObject.OG_CNT;

		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		return result;
	}

	/******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		return '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '</a>';
	}

	/******************************************
	 * jqGrid 공공기관 경영평가지표 링크
	 ******************************************/
	function linkOfficeMetric(cellvalue, options, rowObject) {
		return '<a href=javascript:goOfficeMetric(' + options.rowId + ')>' + cellvalue + '</a>';
	}

	/******************************************
	 * 수정
	 ******************************************/
	function goModify(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		J("#officeId").val(ret.OFFICE_ID);
		J("#year").val(J("#findYear").val());
		J("#mode").val("MOD");
		J("#formList").attr("action", "$!{context_path}/gov/office/office/officeModify.vw?type=template").submit();
	}

	/******************************************
	 * 공공기관 경영평가지표 매핑
	 ******************************************/
	function goOfficeMetric(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		J("#officeId").val(ret.OFFICE_ID);
		J("#year").val(J("#findYear").val());
		J("#titleOfficeNm").val(ret.TITLE_OFFICE_NM);
		J("#mode").val("ADD");
		J("#formList").attr("action", "$!{context_path}/gov/office/officeMetric/officeMetricModify.vw?type=template").submit();
	}

	/******************************************
	 * 삭제
	 ******************************************/
	function goDelete() {
		if(!J.gridSelectChk("list")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null);
		} else {
			J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
		}
	}

	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
		var id = J("#list").getGridParam('selarrrow');
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var officeIds = "";

		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#list").getRowData(ids[i]);
					officeIds += rowdata.OFFICE_ID + '|';
				}
			});
		}

		J("#officeIds").val(officeIds);
		J("#mode").val("DEL");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/gov/office/office/officeProcess.vw?type=template").submit();
		return false;
	}

	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#yearNm").val(J("#findYear :selected").text());
		J("#officeEvalGrpNm").val(J("#findOfficeEvalGrpId :selected").text());

		J("#formList").attr("action", "$!{context_path}/gov/office/office/officeListExcel.vw?type=excel").submit();
		return false;
	}

	/******************************************
	 * 년도 변경시 공공기관 평가군 변경
	 ******************************************/

	function chgOfficeGrp(){
		J.ajax({
			url      : "$!{context_path}/gov/office/office/officeGrpList_ajax.vw",
			cache    : false,
			type     : "POST",
			data	 : J("#formFind").serialize(),
			dataType : "html",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			success  : function(data){
							var xmlDoc = J.parseXML(data);
							J("#findOfficeEvalGrpId").empty();

							J('<option/>').attr('value','').text("전체").appendTo('#findOfficeEvalGrpId');
							J(xmlDoc).find("data").each(function() {
								J('<option/>').attr('value',J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findOfficeEvalGrpId');
							})
					   }
		});

	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">공공기관</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/gov/office/office/officeList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="공공기관검색 조건">
						<caption class="none">공공기관 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80" onchange="javascript:chgOfficeGrp();">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w300">
                					<span><label for="findOfficeEvalGrpId">공공기관 평가군</label></span>
									<span class="searchBar">
										<select id="findOfficeEvalGrpId" name="findOfficeEvalGrpId" class="select w200">
											<option value="" $!{CS_HTML.getSelected("", $!{searchMap.txt2html("findOfficeEvalGrpId")})}>전체</option>
											#foreach($list in $officeGrplist)
											<option value="$!{CS_HTML.txt2html($list.OFFICE_EVAL_GRP_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.OFFICE_EVAL_GRP_ID)}, $!{searchMap.txt2html("findOfficeEvalGrpId")})}>$!{CS_HTML.txt2html($list.OFFICE_EVAL_GRP_NM)}</option>
											#end
            							</select>
									</span>
                                </td>

            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/gov/office/office/officeProcess.vw?type=template">
			<input type="hidden" id="mode"      	 	name="mode" />
			<input type="hidden" id="year"			 	name="year" />
			<input type="hidden" id="yearNm"			name="yearNm" />
			<input type="hidden" id="officeEvalGrpNm"	name="officeEvalGrpNm" />
			<input type="hidden" id="officeIds" 		name="officeIds" />
			<input type="hidden" id="officeId"  		name="officeId" />
			<input type="hidden" id="officeNm"  		name="officeNm" />
			<input type="hidden" id="titleOfficeNm"  	name="titleOfficeNm" />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="공공기관 조회결과">
							<caption class="none">공공기관 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:145px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀변환" alt="엑셀다운로드" />
						</div>
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnInsert" value="신규" /></li>
								<li><input type="submit" id="btnDelete" value="삭제" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>
