#*************************************************************************
* CLASS 명      : gasEducationWeightList
* 작 업 자      : 안요한
* 작 업 일      : 2013년 8월 14일 
* 기    능      : 안전관리교육실적(가중치합) 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     안요한      2013년 8월 14일             최 초 작 업
**************************************************************************#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">

#set($main_url = $!{searchMap.txt2html("mainUrl")})
#set($curr_url = $!{context_path} + "/bsc/popup/gasEducationWeight/gasEducationWeightList.vw")

<head>
	#parse("/WEB-INF/vl/common/template/head.vm") 
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/popup/gasEducationWeight/gasEducationWeightList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['교육년도', '교육월','부서코드', '부서명', '교육구분', '교육내용', '교육횟수', '실적'],
			colModel     :[
							{name:'YEAR'           		,index:'YEAR'				,width:50   	,align:'center' }, 
                            {name:'MON'       			,index:'MON'				,width:50   	,align:'center' }, 
                            {name:'BR_CD'       		,index:'BR_CD'        		,width:10   	,align:'center' }, 
                            {name:'DEPT_NM'       		,index:'DEPT_NM'        	,width:150   	,align:'center' }, 
                            {name:'INSP_KIND_TC_NM' 	,index:'INSP_KIND_TC_NM'    ,width:200    	,align:'center' }, 
                            {name:'STIC_SML_TC_NM'  	,index:'STIC_SML_TC_NM'     ,width:200    	,align:'center' }, 
                            {name:'INSP_QTY'       		,index:'INSP_QTY'         	,width:50   	,align:'center' }, 
                            {name:'CNT'       			,index:'CNT'          		,width:80   	,align:'center' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cmTemplate	 : {sortable:false},
			cellEdit     : true,
			caption:"시스템 연계데이터 조회"
		}).jqGrid('hideCol',"BR_CD").setGridWidth($!{jqGrid_width});
		
		/******************************************
    	 * 엑셀다운로드 버튼 클릭 이벤트
    	 ******************************************/
    	J("#btnExcel").click(function() {
    		J("#yearNm").val(J("#findYear > option:selected").text());
    		J("#monNm").val(J("#findMon > option:selected").text());
    		J("#deptNm").val(J("#findDeptId > option:selected").text());
    		J("#itemNm").val(J("#findItemCd > option:selected").text());
    		J("#formFind").attr("action", "$!{context_path}/bsc/popup/gasEducationWeight/excel.vw?type=excel").submit();
    		J("#formFind").attr("action", "$!{context_path}/bsc/popup/gasEducationWeight/gasEducationWeightList.vw?type=popup");
		
		return false;
		
		});
        
	});
	

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">안전관리교육실적(가중치합) 조회</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/popup/gasEducationWeight/gasEducationWeightList.vw?type=popup">
				<input type="hidden"    id="findMetricId"	name="findMetricId"		value="$!{searchMap.txt2html("findMetricId")}" />
				<input type="hidden" 	id="yearNm"			name="yearNm" />
				<input type="hidden" 	id="monNm"			name="monNm" />
				<input type="hidden" 	id="deptNm"			name="deptNm" />
				<input type="hidden" 	id="itemNm"			name="itemNm" />
				<input type="hidden" 	id="mode"			name="mode" />
				<div class="clear h20"></div>
				<div class="searchBox">
    				<div><div><div>
    				<table summary="안전관리교육실적(가중치합) 조회검색 조건">
						<caption class="none">안전관리교육실적(가중치합) 조회 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w280">
            						<span><label for="findYear">교육년도</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            							<select id="findMon" name="findMon" class="select w70">
            								$!CS_CODE.getCodeOption("024", $!{searchMap.txt2html("findMon")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w270">
                					<span><label for="findDeptId">부서</label></span>
									<span class="searchBar">
										<select id="findDeptId" name="findDeptId" class="select w200">
											#foreach($list in $deptInfo)
												<option value="$!{CS_HTML.txt2html($list.DEPT_CD)}" $searchMap.getSelected("findDeptId", "$!{CS_HTML.txt2html($list.DEPT_CD)}")>$!{CS_HTML.txt2html($list.DEPT_NM)}</option>
											#end
            							</select>
									</span>
                                </td>
                                <td class="searchBox_tit w270">
                					<span><label for="findItemCd">항목</label></span>
									<span class="searchBar">
										<select id="findItemCd" name="findItemCd" class="select w200">
											#foreach($item in $itemInfo)
												<option value="$!{CS_HTML.txt2html($item.ITEM_CD)}" $searchMap.getSelected("findItemCd", "$!{CS_HTML.txt2html($item.ITEM_CD)}")>$!{CS_HTML.txt2html($item.CAL_TYPE_COL_NM)}</option>
											#end
            							</select>
									</span>
                                </td>
            				</tr>
        				</tbody>
        				<div class="blockButton " style="position:absolute;right:10px; width:150px;float:right; align:middle;padding: 0 10px 0 0;" >
                    		<input id="btnExcel" type="button" align="middle" value="엑셀다운로드", alt="엑셀다운로드" />
                    	</div>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" alt="검색" style="position:absolute;right:120px;"/> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<a id="anchor" ></a>
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/popup/gasEducationWeight/gasEducationWeightProcess.vw?type=template">
			<input type="hidden" id="mode"       name="mode" />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="안전관리교육실적(가중치합) 조회결과">
							<caption class="none">안전관리교육실적(가중치합) 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
				</div>
			</div>
		</form>
		
	</div>
	
	<div class="clear"></div>
</div>
</body>
</html>