#*************************************************************************
* CLASS 명      : activityDetailView
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 7월 30일 
* 기    능      : Activity관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     김윤기      2012년 7월 30일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/bsc/base/activity/activityDetailView.vw")
<html>
<head >
	#parse("/WEB-INF/vl/common/template/head.vm")
<script type="text/javascript" language="javascript" >
	//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
	
		/******************************************
		 * 닫기버튼
		 ******************************************/
		J("#btnClose").click(function() {
			self.close();
		});	
	
	});
	
	//]]>
</script>  
</head>
<body>	
	<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/base/activity/activityProcess.vw?type=template">
		<input type="hidden" id="mode"		 	name="mode"			value="$!{searchMap.txt2html("mode")}"/>
		<input type="hidden" id="year" 		 	name="year" 		value="$!{searchMap.txt2html("year")}"/>
		<input type="hidden" id="scDeptId"   	name="scDeptId" 	value="$!{searchMap.txt2html("scDeptId")}"/>
		<input type="hidden" id="scDeptNm"	 	name="scDeptNm" 	value="$!{searchMap.txt2html("scDeptNm")}"/>
		<input type="hidden" id="metricId" 	 	name="metricId" 	value="$!{searchMap.txt2html("metricId")}"/>
		<input type="hidden" id="metricNm"	 	name="metricNm" 	value="$!{searchMap.txt2html("metricNm")}"/>	
		<input type="hidden" id="initiativeId" 	name="initiativeId"/>	
		<input type="hidden" id="initiativeIds" name="initiativeIds"/>	
		
		$!{searchMap.makeHiddenFind()}
		<div id="splitterBox">
			<div>
    			<div class="blockListTable">					
    				<table summary=" " >
    					<caption></caption>
    					<thead>
    						<tr>
    							<th scope="col" class="w200"  rowspan="2">$ACTIVITY_NM 실행계획</th>
    							<th scope="col" class="w700"  colspan="12">일정</th>
    							<th scope="col" width="*" 	   rowspan="2">산출물</th>
    						</tr>
    						<tr>
    							<th scope="col">1월</th>
    							<th scope="col">2월</th>
    							<th scope="col">3월</th>
    							<th scope="col">4월</th>
    							<th scope="col">5월</th>
    							<th scope="col">6월</th>
    							<th scope="col">7월</th>
    							<th scope="col">8월</th>
    							<th scope="col">9월</th>
    							<th scope="col">10월</th>
    							<th scope="col">11월</th>
    							<th scope="col">12월</th>
    						</tr>
    					</thead>
    				</table>
    			</div>			
    			<div class="tableContent" style="height:$!{jqGrid_height}px;overflow:auto;overflow-x:hidden">					
    				<table summary=" " id="tb_list" width="100%" >
    					<caption></caption>
    					<thead>
    						<tr>
    							<th scope="col" class="w200"  rowspan="2"></th>
    							<th scope="col" class="w700"  colspan="12"></th>
    							<th scope="col" width="*" 	   rowspan="2"></th>
    						</tr>
    					</thead>
    					<tbody>
							#set($start_dt  = 0)
							#set($start_dt2 = 0)
							#set($start_dt3 = 0)
							#set($start_dt4 = 0)
							#set($start_dt5 = 0)
							#set($start_dt6 = 0)
							#set($end_dt    = 0)
							#set($end_dt2   = 0)
							#set($end_dt3   = 0)
							#set($end_dt4   = 0)
							#set($end_dt5   = 0)
							#set($end_dt6   = 0)
							
    						#foreach($detailList in $detailList)
								#if($CS_HTML.txt2html($detailList.PLAN_START_DT)!="")
									#set($start_dt =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_START_DT)))})
									#set($end_dt =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_END_DT)))})
								#end
								#if($CS_HTML.txt2html($detailList.PLAN_START_DT2)!="")
									#set($start_dt2 =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_START_DT2)))})
									#set($end_dt2 =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_END_DT2)))})
								#end
								#if($CS_HTML.txt2html($detailList.PLAN_START_DT3)!="")
									#set($start_dt3 =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_START_DT3)))})
									#set($end_dt3 =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_END_DT3)))})
								#end
								#if($CS_HTML.txt2html($detailList.PLAN_START_DT4)!="")
									#set($start_dt4 =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_START_DT4)))})
									#set($end_dt4 =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_END_DT4)))})
								#end
								#if($CS_HTML.txt2html($detailList.PLAN_START_DT5)!="")
									#set($start_dt5 =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_START_DT5)))})
									#set($end_dt5 =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_END_DT5)))})
								#end
								#if($CS_HTML.txt2html($detailList.PLAN_START_DT6)!="")
									#set($start_dt6 =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_START_DT6)))})
									#set($end_dt6 =  $!{CS_STATIC.toNumber($CS_STATIC.nullToZero($CS_HTML.txt2html($detailList.PLAN_END_DT6)))})
								#end
								
                            <tr>
								#if($!{CS_HTML.txt2html($detailList.UP_INITIATIVE_ID)}=="")	
    								<td  style="line-height:20px; text-align:left;padding:0px 0px 0px 0px;padding-left:10px;" title="$!{CS_HTML.txt2html($detailList.PLAN_DESC)}">
								#else
    								<td  style="line-height:20px; text-align:left;padding:0px 0px 0px 0px;padding-left:20px;" title="$!{CS_HTML.txt2html($detailList.PLAN_DESC)}">
								#end
										<a href="javascript:goModify('$!{CS_HTML.txt2html($detailList.INITIATIVE_ID)}')" >
        									#if($!{CS_HTML.txt2html($detailList.UP_INITIATIVE_ID)}=="")	
												$!{CS_HTML.txt2html($detailList.INITIATIVE_NM)}
        									#else
												┗$!{CS_HTML.txt2html($detailList.INITIATIVE_NM)}
											#end
										</a>
    								</td>
								<td  colspan="12" >
									<table  width="100%"  summary=" ">	
										<tr>
											#foreach($i in [1..12])
												#if($i >= $start_dt && $i <= $end_dt )
												<td style=" border:0px; line-height:20px;text-align:left; padding:0px 0px 0px 0px; ">
													#if($i == $end_dt )
											    		<div style="background-color:#7CFC00;width:90%;" >&nbsp;</div>
											    	#else
											    		<div style="background-color:#7CFC00;width:100%;">&nbsp;</div>
											    	#end
											    </td>
												#elseif(($i >= $start_dt2 && $i <= $end_dt2 )) 
											    <td style=" border:0px; line-height:20px;text-align:left; padding:0px 0px 0px 0px; ">
													#if($i == $end_dt2 )
														<div style="background-color:#7CFC00;width:90%;" >&nbsp;</div>
											    	#else
														<div style="background-color:#7CFC00;width:100%;" >&nbsp;</div>
											    	#end
											    </td>
												#elseif(($i >= $start_dt3 && $i <= $end_dt3 )) 
											    <td style=" border:0px; line-height:20px;text-align:left; padding:0px 0px 0px 0px; "> 
													#if($i == $end_dt3 )
														<div style="background-color:#7CFC00;width:90%;" >&nbsp;</div>
											    	#else
														<div style="background-color:#7CFC00;width:100%;" >&nbsp;</div>
											    	#end
											    </td>
												#elseif(($i >= $start_dt4 && $i <= $end_dt4 )) 
											    <td style=" border:0px; line-height:20px;text-align:left; padding:0px 0px 0px 0px; ">
													#if($i == $end_dt4 )
														<div style="background-color:#7CFC00;width:90%;" >&nbsp;</div>
											    	#else
														<div style="background-color:#7CFC00;width:100%;" >&nbsp;</div>
											    	#end
											    </td>
												#elseif(($i >= $start_dt5 && $i <= $end_dt5 )) 
											    <td style=" border:0px; line-height:20px;text-align:left; padding:0px 0px 0px 0px; ">
													#if($i == $end_dt5 )
														<div style="background-color:#7CFC00;width:90%;" >&nbsp;</div>
											    	#else
														<div style="background-color:#7CFC00;width:100%;" >&nbsp;</div>
											    	#end
											    </td>
												#elseif(($i >= $start_dt6 && $i <= $end_dt6 )) 
											    <td style=" border:0px; line-height:20px;text-align:left; padding:0px 0px 0px 0px; ">
													#if($i == $end_dt6 )
														<div style="background-color:#7CFC00;width:90%;" >&nbsp;</div>
											    	#else
														<div style="background-color:#7CFC00;width:100%;" >&nbsp;</div>
											    	#end
											    </td>
												#else
												<td style=" border:0px; line-height:20px;text-align:left; padding:0px 0px 0px 0px; ">&nbsp;</td>
												#end
											#end
												 #set($start_dt  = 0) 
												 #set($start_dt2 = 0) 
												 #set($start_dt3 = 0) 
												 #set($start_dt4 = 0) 
												 #set($start_dt5 = 0) 
												 #set($start_dt6 = 0) 
												 #set($end_dt    = 0) 
												 #set($end_dt2   = 0) 
												 #set($end_dt3   = 0) 
												 #set($end_dt4   = 0) 
												 #set($end_dt5   = 0) 
												 #set($end_dt6   = 0) 
										</tr>
									</table>
								</td>		
                                <td  class="textLeft">$!{CS_HTML.txt2html($detailList.PRODUCT)}</td>
    						</tr>
    						#end
                        </tbody>
                    </table>
                </div>					
				<div class="blockButton_all">
					<div class="blockButton_l"></div>
					<div class="blockButton">
						<ul>
							<li><input type="button" id="btnClose"   value="닫기"/></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>































	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

