#*************************************************************************
* CLASS 명      : systemAggList_xml
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 7월 17일 
* 기    능      : 데이터집계관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김윤기     2012년 7월 17일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"PROC_ID"              : "$!{CS_HTML.txt2html($list.PROC_ID)}", 
		"PROC_NM"              : "$!{CS_HTML.txt2html($list.PROC_NM)}", 
		"PROC_GBN"             : "$!{CS_HTML.txt2html($list.PROC_GBN)}", 
		"SEQ"                  : "$!{CS_HTML.txt2html($list.SEQ)}", 
		"YM"                   : "$!{CS_HTML.txt2html($list.YM)}", 
		#if("$!{CS_HTML.txt2html($list.EXEC_YN)}"=="Y")
		"EXEC_YN"              : "성공",
		#else
		"EXEC_YN"              : "실패",
		#end
		"ERROR_ID"             : "$!{CS_HTML.txt2html($list.ERROR_ID)}", 
		"EXEC_DATE"            : "$!{CS_HTML.txt2html($list.EXEC_DATE)}", 
		"CNT"                  : "$!{CS_HTML.txt2html($list.CNT)}",
		"EXEC"                  : "$!{CS_HTML.txt2html('재실행')}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
