#*************************************************************************
* CLASS 명      : intellectualPropertyList
* 작 업 자      : 안요한
* 작 업 일      : 2013년 08월 16일
* 기    능      : 지적재산권 실적점수 (특허 등의 출원 및 등록 배점)
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     안요한      2013년 8월 16일             최 초 작 업
**************************************************************************#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">

#set($main_url = $!{searchMap.txt2html("mainUrl")})
#set($curr_url = $!{context_path} + "/bsc/popup/intellectualProperty/intellectualPropertyList.vw")

<head>
	#parse("/WEB-INF/vl/common/template/head.vm")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			#if("01" == $!{searchMap.txt2html("findOutput")})
			url          :"$!{context_path}/bsc/popup/intellectualProperty/intellectualPropertyList_xml.vw" + "?" + str,
			#else
			url          :"$!{context_path}/bsc/popup/intellectualProperty/intellectualPropertyList2_xml.vw" + "?" + str,
			#end
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			#if("01" == $!{searchMap.txt2html("findOutput")})
			colNames     :['년도', '부서코드', '부서명', '특허출원구분명', '산업재산권명', '발명자명', '진행상태', '과제명', '점수'],
			colModel     :[
                            {name:'YEAR'				,index:'YEAR' 				,width:60   ,align:'center' },
                            {name:'EXEC_DEPT_CD' 		,index:'EXEC_DEPT_CD' 		,width:60   ,align:'center' },
                            {name:'DEPT_NM'       		,index:'DEPT_NM'     		,width:60   ,align:'center' },
                            {name:'PAT_TC_NM'			,index:'PAT_TC_NM' 			,width:60   ,align:'center' },
                            {name:'PROP_RGHT_NM' 		,index:'PROP_RGHT_NM' 		,width:60   ,align:'center' },
                            {name:'INVR_NM_EMPN_NM'  	,index:'INVR_NM_EMPN_NM'  	,width:60   ,align:'right'  },
                            {name:'APRV_TC_NM'  		,index:'APRV_TC_NM'  		,width:60   ,align:'center' },
                            {name:'SUBJ_NM'  			,index:'SUBJ_NM'  			,width:60   ,align:'center' },
                            {name:'SCORE'  				,index:'SCORE'  			,width:60   ,align:'center' }
							],
			#else
			colNames     :['년도', '부서코드', '부서명', '학술논문구분코드명', '학술지 논문명', '학술대회명','주저자 사번', '주저자', '과제명', '논물발표게재일 ', '점수'],
			colModel     :[
                            {name:'YEAR'				,index:'YEAR' 				,width:60   ,align:'center' },
                            {name:'SUBJ_NO' 			,index:'SUBJ_NO' 			,width:60   ,align:'center' },
                            {name:'DEPT_NM'       		,index:'DEPT_NM'     		,width:60   ,align:'center' },
                            {name:'SCIT_TC_NM'			,index:'SCIT_TC_NM' 		,width:60   ,align:'center' },
                            {name:'SCMG_NM' 			,index:'SCMG_NM' 			,width:60   ,align:'center' },
                            {name:'SCMG_AREA_NM'  		,index:'SCMG_AREA_NM'  		,width:60   ,align:'right'  },
                            {name:'MAIN_EMPN'  			,index:'MAIN_EMPN'  		,width:60   ,align:'center' },
                            {name:'MAIN_EMPN_NM'  		,index:'MAIN_EMPN_NM'  		,width:60   ,align:'center' },
                            {name:'SUBJ_NM'  			,index:'SUBJ_NM'  			,width:60   ,align:'center' },
                            {name:'PPR_ANN_DATE'  		,index:'PPR_ANN_DATE'  		,width:60   ,align:'center' },
                            {name:'SCORE'  				,index:'SCORE'  			,width:60   ,align:'center' }
							],
			#end
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			cmTemplate   : {sortable:false},
			caption		 :"시스템항목관리"
		});

		/******************************************
		 * 항목명 포커스
		 ******************************************/
		J("#findItemNm").select();

		/******************************************
		 * 조회
		 ******************************************/
		J("#btnSearch").click(function() {
			goSearch();
		});

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcel").click(function() {
			J("#yearNm").val(J("#findYear > option:selected").text());
			J("#monNm").val(J("#findMon > option:selected").text());
			J("#deptNm").val(J("#findDeptId > option:selected").text());
			J("#itemNm").val(J("#findItemCd > option:selected").text());
			J("#outPutNm").val(J("#findOutput > option:selected").text());
			J("#output").val( J("#findOutput").val() );
			J("#formList").attr("action", "$!{context_path}/bsc/popup/intellectualProperty/excel.vw?type=excel").submit();
			return false;
		});

	});

	/******************************************
	 * 조회
	 ******************************************/
	function goSearch() {
		J("#formFind").attr("action", "$!{context_path}/bsc/popup/intellectualProperty/intellectualPropertyList.vw?type=popup").submit();
	}

//]]>
</script>
</head>
<body>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">지적재산권 실적 점수 산출 조회</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/popup/intellectualProperty/intellectualPropertyList.vw?type=popup">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden"    id="findMetricId"	name="findMetricId"		value="$!{searchMap.txt2html("findMetricId")}" />
				<div class="clear h20"></div>
				<div class="searchBox">
    				<div><div><div>
    				<table summary="지적재산권 실적 점수 산출 조회">
						<caption class="none">지적재산권 실적 점수 산출 조회 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEARMON}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
										<select id="findMon" name="findMon" class="select w80">
            								$!CS_CODE.getCodeOption("024", $!{searchMap.txt2html("findMon")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w200">
                					<span><label for="findDeptId">부서</label></span>
									<span class="searchBar">
										<select id="findDeptId" name="findDeptId" class="select w150">
											#foreach($list in $deptInfo)
												<option value="$!{CS_HTML.txt2html($list.DEPT_ID)}" $searchMap.getSelected("findDeptId", "$!{CS_HTML.txt2html($list.DEPT_ID)}")>$!{CS_HTML.txt2html($list.DEPT_NM)}</option>
											#end
            							</select>
									</span>
                                </td>
                                <td class="searchBox_tit w270">
                					<span><label for="findItemCd">항목</label></span>
									<span class="searchBar">
										<select id="findItemCd" name="findItemCd" class="select w200">
											#foreach($item in $itemInfo)
												<option value="$!{CS_HTML.txt2html($item.ITEM_CD)}" $searchMap.getSelected("findItemCd", "$!{CS_HTML.txt2html($item.ITEM_CD)}")>$!{CS_HTML.txt2html($item.CAL_TYPE_COL_NM)}</option>
											#end
            							</select>
									</span>
                                </td>
                                <td class="searchBox_tit w250">
                					<span><label for="findOutput">기준</label></span>
									<span class="searchBar">
										<select id="findOutput" name="findOutput" class="select w200">
												<option value="01" $searchMap.getSelected("findOutput", "01")>특허등의 출원 및 등록 배점</option>
												<option value="02" $searchMap.getSelected("findOutput", "02")>학회발표 및 학술지 게재 배점</option>
            							</select>
									</span>
                                </td>
            				</tr>
        				</tbody>
        				<div class="blockButton " style="position:absolute;right:10px; width:150px;float:right; align:middle;padding: 0 10px 0 0;" >
                    		<input id="btnExcel" type="button" align="middle" value="엑셀다운로드", alt="엑셀다운로드" />
                    	</div>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" alt="검색" style="position:absolute;right:120px;"/>
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/popup/intellectualProperty/intellectualPropertyProcess.vw?type=template">
			<input type="hidden" id="yearNm"	name="yearNm" />
			<input type="hidden" id="monNm"		name="monNm" />
			<input type="hidden" id="deptNm"	name="deptNm" />
			<input type="hidden" id="itemNm"	name="itemNm" />
			<input type="hidden" id="outPutNm"	name="outPutNm" />
			<input type="hidden" id="output"	name="output"/>
			<input type="hidden" id="mode"       name="mode" />
			$!{searchMap.makeHiddenFind()}

			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="지적재산권 실적 점수 산출 조회결과">
							<caption class="none">지적재산권 실적 점수 산출 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
				</div>
			</div>
		</form>

	</div>
	<a id="anchor"></a>
	<div class="clear"></div>
</div>
