#*************************************************************************
* CLASS 명      : gradeConvertDetail_xml
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 10월 23일 
* 기    능      : 난이도등급점수 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      하윤식     2012년 10월 23일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"           : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"GRADE"          : "$!{CS_HTML.txt2html($list.GRADE)}", 
		"GRADE_NM"       : "$!{CS_HTML.txt2html($list.GRADE_NM)}",
		"MAX_VALUE"      : "$!{CS_HTML.txt2html($list.MAX_VALUE)}",
		"MIN_VALUE"      : "$!{CS_HTML.txt2html($list.MIN_VALUE)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
