#*************************************************************************
* CLASS 명      : orgRankList
* 작 업 자      : 정철수
* 작 업 일      : 2012년 8월 13일
* 기    능      : 조직순위
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     정철수      2012년 8월 13일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/bsc/mon/orgRank/orgRankList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/mon/orgRank/orgRankList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['순위', '$!{SC_DEPT_NM}', '총점', '상태'
							#foreach($list in $perspectiveList)
								, '$!{CS_HTML.txt2html($list.PERSPECTIVE_NM)}'
							#end
						   ],
			colModel     :[
							{name:'RANK'     		    ,index:'RANK'      			  ,width:70    ,align:'center' ,sorttype : 'int', sortable:true },
							{name:'SC_DEPT_NM'          ,index:'SC_DEPT_NM'           ,width:250   ,align:'left', sortable:true   },
                            {name:'SCORE'               ,index:'SCORE'                ,width:100   ,align:'right'  ,sorttype : 'int', sortable:true },
                            {name:'STATUS'              ,index:'STATUS'               ,width:100   ,align:'center' ,formatter:linkUpdate, sortable:true }

							#foreach($list in $perspectiveList)
								, {name:'SCORE_$!{CS_HTML.txt2html($list.PERSPECTIVE_ID)}'   ,index:'SCORE_$!{CS_HTML.txt2html($list.PERSPECTIVE_ID)}' ,width:100 ,align:'right' ,sorttype : 'int', sortable:true }
							#end

							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			##cmTemplate	 : {sortable:false},
			gridview     : true,
			caption:"조직순위"
		});

		J("#list").jqGrid('setGroupHeaders', {
          useColSpanStyle: true,
          groupHeaders:[
        	{startColumnName: '$!{perspectiveFirstId}', numberOfColumns: 10, titleText: '<em>$!{PERSPECTIVE_NM}별 점수</em>'}
          ]
        });

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});

		/******************************************
    	 * 년도 변경에 따라 평가그룹 change 이벤트
    	 ******************************************/
    	$('#findYear').change(function(){
    		chScDeptGrp();
    	});

	});

	/******************************************
	 * jqGrid 신호등
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		return "<img name=\'sig\'  src=\'$!{img_path}/common/ball/ball_" + cellvalue + ".gif\' >";
	}

	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#yearNm").val(J("#findYear > option:selected").text());
		J("#monNm").val(J("#findMon > option:selected").text());
		J("#scDeptGrpNm").val(J("#findScDeptGrpId > option:selected").text());
		J("#levelNm").val(J("#findLevelId > option:selected").text());
		J("#analCycleNm").val(J("input:radio[name=findAnalCycle]:checked").next().text());
		J("#formList").attr("action", "$!{context_path}/bsc/mon/orgRank/orgRankListExcel.vw?type=excel").submit();
		return false;
	}

	/******************************************
	 * 선택된 해당년도의 평가그룹  조회
	 ******************************************/
	function chScDeptGrp(){
		J.ajax({
        	url      : "$!{context_path}/bsc/mon/orgRank/scDeptGrp_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
				var beforeVal = J("#findScDeptGrpId").val();
        		J("#findScDeptGrpId").empty();
				J('<option/>').attr('value', '').text('전체').appendTo('#findScDeptGrpId');
				J(xmlDoc).find("data").each(function() {

					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findScDeptGrpId');
				})
				J("#findScDeptGrpId").val( beforeVal );
        	}
    	});
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">조직순위</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/mon/orgRank/orgRankList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="조직순위검색 조건">
						<caption class="none">조직순위 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>

								<td class="searchBox_tit w250">
                                    <span><label for="findYear">$!{YEARMON}</label><label for="findMon"></label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
										<select id="findMon" name="findMon" class="select w70">
            								$!CS_CODE.getCodeOption("024", $!{searchMap.txt2html("findMon")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w200">
									<span><label for="findLevelId">조직레벨</label></span>
            						<span class="searchBar">
            							<select id="findLevelId" name="findLevelId" class="select w110">
            								<option value="" $!{CS_HTML.getSelected("",$!{searchMap.txt2html("findLevelId")} )}>전체</option>
											$!CS_CODE.getCodeOption("004", $!{searchMap.txt2html("findLevelId")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w200">
                					<span><label for="findScDeptGrpId">평가그룹</label></span>
									<span class="searchBar">
										<select id="findScDeptGrpId" name="findScDeptGrpId" class="select w120" >
            								<option value="" $!{CS_HTML.getSelected("",$!{searchMap.txt2html("findScDeptGrpId")} )}>전체</option>
											$!CS_CODE.getCodeOption("003", $!{searchMap.txt2html("findScDeptGrpId")}, $!{searchMap.txt2html("findYear")})
            							</select>
									</span>
                                </td>
								<td class="searchBox_tit w100">
            						<span class="searchBar">
										$!CS_CODE.getCodeRadio("findAnalCycle", "138", $!{searchMap.txt2html("findAnalCycle")}, "")
            						</span>
            					</td>

            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/mon/orgRank/orgRankProcess.vw?type=template">
			<input type="hidden" id="mode"           name="mode" />
			<input type="hidden" id="year"		 	 name="year" />
			<input type="hidden" id="yearNm"		 name="yearNm" />
			<input type="hidden" id="monNm"		     name="monNm" />
			<input type="hidden" id="scDeptGrpNm"	 name="scDeptGrpNm" />
			<input type="hidden" id="levelNm"		 name="levelNm" />
			<input type="hidden" id="analCycleNm"	 name="analCycleNm" />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="조직순위 조회결과">
							<caption class="none">조직순위 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->

					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:500px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀변환" alt="엑셀다운로드" />
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>
