#*************************************************************************
* CLASS 명      : scoreUploadList_xml
* 작 업 자      : 김효은
* 작 업 일      : 2014년 4월 8일 
* 기    능      : 업무성과점수 업로드 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김효은     2014년 4월 8일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
    "page": "1",
    "total": 1,
    "records": "$listSize",
    "rows":[

#foreach($list in $list)
    {
        "YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
        "EVAL_MEMB_EMPN"       : "$!{CS_HTML.txt2html($list.EVAL_MEMB_EMPN)}", 
        "KOR_NM"               : "$!{CS_HTML.txt2html($list.KOR_NM)}", 
        "DEPT_CD"              : "$!{CS_HTML.txt2html($list.DEPT_CD)}", 
        "DEPT_FULL_NM"         : "$!{CS_HTML.txt2html($list.DEPT_FULL_NM)}", 
        "CAST_TC_NM"           : "$!{CS_HTML.txt2html($list.CAST_TC_NM)}", 
        "POS_TC_NM"            : "$!{CS_HTML.txt2html($list.POS_TC_NM)}", 
        "EVAL_GRP_ID"          : "$!{CS_HTML.txt2html($list.EVAL_GRP_ID)}", 
        "EVAL_ITEM_ID"         : "$!{CS_HTML.txt2html($list.EVAL_ITEM_ID)}", 
        "EVAL_ITEM_NM"         : "$!{CS_HTML.txt2html($list.EVAL_ITEM_NM)}", 
        "SCORE"                : "$!{CS_HTML.txt2html($list.SCORE)}"
    }
    #set($idx = $idx + 1)
    #if($idx != $listSize)
     ,
    #end
#end

    ]
}
