#*************************************************************************
* CLASS 명      : evalDegreeModify
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 26일
* 기    능      : 평가구분
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    정철수      2012년 11월 26일             최 초 작 업
**************************************************************************#

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){


		J("input[name$=StartDt]").datepicker({
			dateFormat: 'yy.mm.dd'
		});
		J("input[name$=EndDt]").datepicker({
			dateFormat: 'yy.mm.dd'
		});

		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/bsc/common/evalDegree/evalDegreeList.vw?type=template").submit();
		});

		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});

	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		var isContinue = true;

        if(!J.checkLength("evalDegreeNm", "평가구분", 0, 100)) {
            return;
        }

		J("input[name$=StartDt]").each(function(){

			var idNm = J(this).attr("id");
			var labelText = J("label[for="+idNm+"]").text();

			if(!J.checkLength(idNm, labelText,1, 10)) {
				isContinue = false;
        		return;
    		}
			return isContinue;
		});
		if( isContinue ){ }else {	return ;	}

		J("input[name$=EndDt]").each(function(){
			var idNm = J(this).attr("id");
			var labelText = J("label[for="+idNm+"]").text();
			if(!J.checkLength(idNm, labelText,1, 10)) {
				isContinue = false;
        		return;
    		}
			return isContinue;
		});
		if( isContinue ){ }else {	return ;	}


		J("input[name$=StartDt]").each(function(){
			var idNm = J(this).attr("id");
			var preText = idNm.replace("StartDt","" );
			var idNm2 = preText + "EndDt";

			var startDt = J(this).val();
			var endDt = J("#" + preText + "EndDt").val();

			if( startDt > endDt ) {
				var startLabelText = J("label[for="+idNm+"]").text();
				var endLabelText = J("label[for="+idNm2+"]").text();
				J.showMsgBox(endLabelText + " 이  " + startLabelText + " 보다 빠를수 없습니다.", null, null);
				isContinue = false;
        		return;
    		}

			return isContinue;
		});
		if( isContinue ){ }else {	return ;	}

		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}

	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("input[name$=StartDt]").each(function(){
			J(this).val((J(this).val().replace(/[.]/g, "")));
		});
		J("input[name$=EndDt]").each(function(){
			J(this).val((J(this).val().replace(/[.]/g, "")));
		});

		J("#form1").attr("action", "$!{context_path}/bsc/common/evalDegree/evalDegreeProcess.vw?type=template").submit();
	}

//]]>
</script>

<form id="form1" name="form1" method="post" action="$!{context_path}/bsc/common/evalDegree/evalDegreeProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />
    $!{searchMap.makeHiddenFind()}

    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>
                    <table summary="검색조건">
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="평가구분 등록">
					<caption class="none">평가구분 등록</caption>
    				<colgroup>
    					<col width="20%" />
    					<col width="30%" />
						<col width="20%" />
    					<col width="30%" />
    				</colgroup>
    				<tbody>
						<tr>
                            <th scope="row">평가구분 코드</th>
            				<td>

								#if( $!{searchMap.txt2html("mode")} == "ADD" )
								(자동생성)
								#else
								$!{searchMap.txt2html("evalDegreeId")}
								<input type="hidden" id="evalDegreeId" name="evalDegreeId" class="inputbox w100" value='$!{searchMap.txt2html("evalDegreeId")}' maxlength="20" />
								#end
                            </td>

            			</tr>
						<tr>
                            <th scope="row"><label for="evalDegreeNm">평가구분</label></th>
            				<td>
                            	<input type="text" id="evalDegreeNm" name="evalDegreeNm" class="inputbox w100" value='$!{CS_HTML.txt2html($!{detail.EVAL_DEGREE_NM})}' maxlength="20"/>
                            </td>
                            <th scope="row"><label for="mon">기준월</label></th>
            				<td>
								<select id="mon" name="mon" class="select w80">
    								$!CS_CODE.getCodeOption("024", $!{CS_HTML.txt2html($!{detail.MON})} )
    							</select>
                            </td>
            			</tr>

						<tr>
                            <th scope="row"><span class="txt_red">(*)</span><label for="imponRptRegStartDt">비계량보고서등록 시작일자</label></th>
            				<td>
                            	<input type="text" id="imponRptRegStartDt" name="imponRptRegStartDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.IMPON_RPT_REG_START_DT})}' maxlength="20" readonly />
                            </td>
                            <th scope="row"><span class="txt_red">(*)</span><label for="imponRptRegEndDt">비계량보고서등록 종료일자</label></th>
            				<td>
                            	<input type="text" id="imponRptRegEndDt" name="imponRptRegEndDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.IMPON_RPT_REG_END_DT})}' maxlength="20" readonly />
                            </td>
            			</tr>
            			<tr>
                            <th scope="row"><span class="txt_red">(*)</span><label for="imponEvalStartDt">비계량평가 시작일자</label></th>
            				<td>
                            	<input type="text" id="imponEvalStartDt" name="imponEvalStartDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.IMPON_EVAL_START_DT})}' maxlength="20" readonly />
                            </td>
                            <th scope="row"><span class="txt_red">(*)</span><label for="imponEvalEndDt">비계량평가 종료일자</label></th>
            				<td>
                            	<input type="text" id="imponEvalEndDt" name="imponEvalEndDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.IMPON_EVAL_END_DT})}' maxlength="20" readonly />
                            </td>
            			</tr>
            			<tr>
                            <th scope="row"><span class="txt_red">(*)</span><label for="sepaEvalBaseRegStartDt">별도평가 근거등록 시작일자</label></th>
            				<td>
                            	<input type="text" id="sepaEvalBaseRegStartDt" name="sepaEvalBaseRegStartDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.SEPA_EVAL_BASE_REG_START_DT})}' maxlength="20" readonly />
                            </td>
                            <th scope="row"><span class="txt_red">(*)</span><label for="sepaEvalBaseRegEndDt">별도평가 근거등록 종료일</label></th>
            				<td>
                            	<input type="text" id="sepaEvalBaseRegEndDt" name="sepaEvalBaseRegEndDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.SEPA_EVAL_BASE_REG_END_DT})}' maxlength="20" readonly />
                            </td>
            			</tr>
            			<tr>
                            <th scope="row"><span class="txt_red">(*)</span><label for="sepaEvalStartDt">별도평가 시작일자</label></th>
            				<td>
                            	<input type="text" id="sepaEvalStartDt" name="sepaEvalStartDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.SEPA_EVAL_START_DT})}' maxlength="20" readonly />
                            </td>
                            <th scope="row"><span class="txt_red">(*)</span><label for="sepaEvalEndDt">별도평가 종료일자</label></th>
            				<td>
                            	<input type="text" id="sepaEvalEndDt" name="sepaEvalEndDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.SEPA_EVAL_END_DT})}' maxlength="20" readonly />
                            </td>
            			</tr>
            			<tr>
                            <th scope="row"><span class="txt_red">(*)</span><label for="orgStartDt">조직성과최종점수 시작일자</label></th>
            				<td>
                            	<input type="text" id="orgStartDt" name="orgStartDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.ORG_START_DT})}' maxlength="20" readonly />
                            </td>
                            <th scope="row"><span class="txt_red">(*)</span><label for="orgEndDt">조직성과최종점수 종료일자</label></th>
            				<td>
                            	<input type="text" id="orgEndDt" name="orgEndDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.ORG_END_DT})}' maxlength="20" readonly />
                            </td>
            			</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton">
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>
    	</div>
    	<div class="clear"></div>
    </div>
</form>
