#*************************************************************************
* CLASS 명      : stagnationList_xml.vm
* 작 업 자      : 지원길
* 작 업 일      : 2013년 9월 13일
* 기    능      : 부진부서대상 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     지 원 길      2013.09.13         최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"				: "$!{CS_HTML.txt2html($list.YEAR)}",
		"SC_DEPT_ID"		: "$!{CS_HTML.txt2html($list.SC_DEPT_ID)}",
		"SC_DEPT_NM" 		: "$!{CS_HTML.txt2html($list.SC_DEPT_NM)}",
		"YEARSCDEPTID" 		: "$!{CS_HTML.txt2html($list.YEAR)}$!{CS_HTML.txt2html($list.SC_DEPT_NM)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
