#*************************************************************************
* CLASS 명      : excEvalList
* 작 업 자      : 김상용
* 작 업 일      : 2013년 07월 22일 
* 기    능      : 간부 별도평가군 관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     김상용     2013년 07월 22일              최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/prs/exc/excEval/excEvalList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
	
		//라디오버튼 입력 값 공백으로 초기화
		J("#excGrpGrades").val("");
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/prs/exc/excEval/excEvalList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['평가년도', '별도평가군 코드', '별도평가군', '이름', '근무시작일','근무종료일' , '평가등급'],
			colModel     :[
							{name:'YEAR'                ,index:'YEAR'               ,width:150   ,align:'center' }, 
                            {name:'EXC_GRP_ID'          ,index:'EXC_GRP_ID'         ,width:150   ,align:'center' }, 
                            {name:'EXC_GRP_NM'        	,index:'EXC_GRP_NM'        	,width:200   ,align:'center' },
                            {name:'KOR_NM'        		,index:'KOR_NM'        		,width:200   ,align:'center' ,formatter:linkKorNm},
                            {name:'START_PCMT_DATE'     ,index:'START_PCMT_DATE'    ,width:200   ,align:'center' ,formatter:linkStartDate},
                            {name:'END_PCMT_DATE'       ,index:'END_PCMT_DATE'      ,width:200   ,align:'center' ,formatter:linkEndDate},
							{name:'EVAL_GRADE'          ,index:'EVAL_GRADE'         ,width:100   ,align:'center' ,formatter:linkEvalGrade} 
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			cmTemplate: {sortable:false},
			gridview     : true,
			loadComplete : function() {
								//확정이 되면 라디오박스가 비활성화
								if('$!{CS_HTML.txt2html($confirmYn.EXC_EVAL_YN)}' == 'Y'){
                        			disableRadio();
                        		}
								
    							var ids = J("#list").jqGrid('getDataIDs');
								doReplace(ids);
    							J("#list input:checkbox").each(function(index) {
    								var rowdata = J("#list").getRowData(ids[index]);
    								if(J(rowdata.EXC_COUNT).text() != 0) { //비교조건 대상 컬럼
    									J("#list input:checkbox[name=jqg_list_" + (index+1) + "]").hide();
    								}
    								if(rowdata.EXC_GRP_ID == 'EX99999' || rowdata.EXC_GRP_ID == 'EX99998') { //비교조건 대상 컬럼
    									J("#list input:checkbox[name=jqg_list_" + (index+1) + "]").hide();
    								}
    							});
                           },
			caption:"평가군"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"EXC_GRP_ID").jqGrid('hideCol',"START_PCMT_DATE").jqGrid('hideCol',"END_PCMT_DATE").setGridWidth($!{jqGrid_width});
		
		
		J("#list").jqGrid('setGroupHeaders', {
          useColSpanStyle: true,
          groupHeaders:[

			{startColumnName: 'EXC_GRP_NM', numberOfColumns: 2, titleText: '<em>대상</em>'}
		  ]
        });
		
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
		
		
		/******************************************
		 * 컬럼 헤더를 클릭하여 리스트 재 출력시 등급 데이터를 재정의 (컬럼 헤어 정렬시 데이터가 누적되는 예외처리)
		 ******************************************/
		function doReplace(ids){
		
			var maxRowId = ids.length;
			var grades = J("#excGrpGrades").val();
			var max = grades.length;
			
			//grades(등급 누적 input)가 전체 rowId의 *3 보다 커지면 - 정렬 순서 재정렬시 발생하는 문제 
			if(max > (maxRowId * 3)){
				//최대길이에서 전체 rowId 숫자*3만큼 뺀 길이 부터 최대길이 까지 잘라서 재적재
				grades = grades.substring(max-(maxRowId * 3),max);
				J("#excGrpGrades").val(grades);
				
			}
		}
		
		/******************************************
    	 * jqGrid 이름
    	 ******************************************/
    	function linkKorNm(cellvalue, options, rowObject) {
		
			var stStr;
			var stYear;
			var stMon;
			var stDay;

			var edStr;
			var edYear;
			var edMon;
			var edDay;
			
			var name;
			
			var intLength = cellvalue.length;
			
			//받아온 값의 길이가 9보다 크면 날짜를 출력
			if(intLength > 9){
    			
    			//근무 종료일 TO_CHAR(YYYY.MM.DD)
    			edDay = cellvalue.substring(intLength-2, intLength);
    			edMon = cellvalue.substring(intLength-4, intLength-2);
    			edYear = cellvalue.substring(intLength-8, intLength-4);
    			
    			//월, 일 앞에 0 이 들어가면 자릅니다
    			if(edMon.substring(0,1) == '0'){
    				edMon = edMon.substring(1,2);
    			}
    			
    			if(edDay.substring(0,1) == '0'){
    				edDay = edDay.substring(1,2);
    			}
    
    			edStr = edYear + "." + edMon + "." + edDay;
    			
    			//근무 시작일 TO_CHAR(YYYY.MM.DD)
    			stDay = cellvalue.substring(intLength-11, intLength-9);
    			stMon = cellvalue.substring(intLength-13, intLength-11);
    			stYear = cellvalue.substring(intLength-17, intLength-13);
    			
    			//월, 일 앞에 0 이 들어가면 자릅니다
    			if(stMon.substring(0,1) == '0'){
    				stMon = stMon.substring(1,2);
    			}
    			
    			if(stDay.substring(0,1) == '0'){
    				stDay = stDay.substring(1,2);
    			}
    			
    			stStr = stYear + "." + stMon + "." + stDay;
    			
    			//이름과 직위
    			name = cellvalue.substring(0, intLength-18);
				
				name = name + '<br />' + "(" + stStr + "~" + edStr + ")";
				
			} else {
				//9보다 작은 경우 즉, 이름은 받아오지만 근무기간을 못 받는 경우 이름과 직책만 얻어온다
				//9 근거 - 이름 3글자 + 직책 2글자 + 공백 1글자 임시저장소 3 (이름이 3글자 보다 길거나 직책이 2글자보다 긴 경우)
				
				var pos = cellvalue.indexOf("@");
				name = cellvalue.substring(0,pos);
			}
		
			return name
    	}
		
		/******************************************
    	 * jqGrid 근무시작일
    	 ******************************************/
    	function linkStartDate(cellvalue, options, rowObject) {
			var str;
			var year;
			var mon;
			var day;
			
			year = cellvalue.substring(0,4);
			
			mon = cellvalue.substring(4,6);
			
			if(mon.substring(0,1) == '0'){
				mon = mon.substring(1,2);
			}
			
			day = cellvalue.substring(6,8);
			
			if(day.substring(0,1) == '0'){
				day = day.substring(1,2);
			}
			
			str = year + "." + mon + "." + day;
			
			return str
			
    	}
		
		/******************************************
    	 * jqGrid 근무종료일
    	 ******************************************/
    	function linkEndDate(cellvalue, options, rowObject) {
			var str;
			year = cellvalue.substring(0,4);
			
			mon = cellvalue.substring(4,6);
			
			if(mon.substring(0,1) == '0'){
				mon = mon.substring(1,2);
			}
			
			day = cellvalue.substring(6,8);
			
			if(day.substring(0,1) == '0'){
				day = day.substring(1,2);
			}
			
			str = year + "." + mon + "." + day;
			
			return str
			
    	}
		
		/******************************************
    	 * jqGrid 평가등급
    	 ******************************************/
    	function linkEvalGrade(cellvalue, options, rowObject) {
    		var grade = cellvalue;
			
			//아무 값도 없을 때는 XX가 입력됨. 이 XX는 저장시에 공백 값을 체크할때 사용
			//또한 최초 데이터 조회 후 각 값들은 excGrpGrades에 00|00| 의 방식으로 데이터를 입력하고 데이터 수정시 substring()을 사용하면서 |의 index위치가 rowId 역할을 하기 때문에 
			//1개의 rowId당 00| 형식의 값을 필요로 하므로 불가피하게 XX를 입력.
			if(cellvalue == ""){
				grade = "XX";
			}
			
			var grades = J("#excGrpGrades").val();
			
			//인풋박스에 값을 추가하며 적재
    		grade = grade + "|";
    		grades = grades + grade;
    		J("#excGrpGrades").val(grades);

			var rowIds = options.rowId;
    		
    		var boolCheck1 = "";
    		var boolCheck2 = "";
    		var boolCheck3 = "";
    		var boolCheck4 = "";
    		var boolCheck5 = "";
    		
    		if(cellvalue == "01"){
    			boolCheck1 = "checked";
    		}else if(cellvalue == "02"){
    			boolCheck2 = "checked";
    		}else if(cellvalue == "03"){
    			boolCheck3 = "checked";
    		}else if(cellvalue == "04"){
    			boolCheck4 = "checked";
    		}else if(cellvalue == "05"){
    			boolCheck5 = "checked";
    		}
		
			var str = ""; 

			//라디오박스 그리기 - 이 부분은 S A B C D 를 직접 입력했으며 등급분류가 수정되면 반드시 수정이 필요합니다
			str += '<form id="radioForm" name="radioForm">';
			str += '<input type="radio" id="evalGrade0" name="evalGrade" value="01" '+ boolCheck1 +' onClick ="javascript:goModify(1,'+rowIds+')" /> S ';
			str += '<input type="radio" id="evalGrade1" name="evalGrade" value="02" '+ boolCheck2 +' onClick ="javascript:goModify(2,'+rowIds+')" /> A ';
			str += '<input type="radio" id="evalGrade2" name="evalGrade" value="03" '+ boolCheck3 +' onClick ="javascript:goModify(3,'+rowIds+')" /> B ';
			str += '<input type="radio" id="evalGrade3" name="evalGrade" value="04" '+ boolCheck4 +' onClick ="javascript:goModify(4,'+rowIds+')" /> C ';
			str += '<input type="radio" id="evalGrade4" name="evalGrade" value="05" '+ boolCheck5 +' onClick ="javascript:goModify(5,'+rowIds+')" /> D ';
			str += '</form>';					
			
			return str
			
    	}
		
    	/******************************************
    	 * 라디오버튼 비활성화
    	 ******************************************/
		function disableRadio() {
            J("input[name='evalGrade']").each(function(i) {
        	J(this).attr('disabled', 'disabled');
        });
		}
		
    	/******************************************
    	 * 확정버튼 이벤트
    	 ******************************************/
    	J("#btnConfirm").click(function(e) {
    		e.preventDefault();
    		getConfirm();
    	});
    	
    	/******************************************
    	 * 확정취소버튼 이벤트
    	 ******************************************/
    	J("#btnCancle").click(function(e) {
    		e.preventDefault();
    		btnCancle();
    	});
        
		/******************************************
		 * 저장 버튼 클릭 이벤트
		 ******************************************/
		J("#btnInsert").click(function() {
			goSave();
			return false;
		});
		
		// 평가 기간 보여주기
		if( "T" == "$!{rptSchedule.RPT_YN}" ){
			var startDt = "$!{CS_FORMAT.dateFormat( $!{rptSchedule.MNG_START_DT} )}";
			var endDt = "$!{CS_FORMAT.dateFormat( $!{rptSchedule.MNG_END_DT} )}";
			if( startDt.length > 0 && endDt.length > 0 ){
				J("#alertDis").html("※  간부개인업적평가 기간 : " + startDt + " ~ " + endDt );
			}
		} else {
			J("#alertDis").html("※  간부개인업적평가 기간이 아닙니다." ).attr("class","txt_red");
			J("#btnDiv").hide();
		}
		
	});
	
	/******************************************
	 * jqGrid 신규페이지 링크
	 ******************************************/
	function goInsert(){
	
		J("#year").val(J("#findYear").val());
		J("#mode").val("ADD");
		J("#formList").attr("action", "$!{context_path}/prs/exc/excEval/excEvalModify.vw?type=template").submit();	
	}

	/******************************************
	 * 수정 (라디오박스 onClick 시 호출)
	 ******************************************/
	function goModify(value, id) {
	
		if('$!{CS_HTML.txt2html($confirmYn.EXC_EVAL_YN)}' == 'Y'){
    			J.showMsgBox("확정되어 등급을 수정할 수 없습니다.", null, null);
    			return false;
    		
    	} else {
		
    		var rowId = id;
    		var grade = "0" + value;
    		
			//공백이 입력될 경우 XX을 입력합니다.
    		if(grade == ""){
    			grade = "XX";
    		}
    		
    		grade = grade + "|";
    		
    		var grades = J("#excGrpGrades").val();
    		var pos = grades.indexOf("|");
    		var pos = pos+1;
    		var splitIndex = pos * rowId;
    
    		//기존의 Grade 적재 값들을 rowId에 따라서 좌, 우로 분할
    		var leftStr = grades.substring(0, splitIndex);
    		var rightStr = grades.substring(splitIndex, grades.length);
    		
    		//좌측 분할 값의 일부를 입력 값으로 수정
    		if(rowId == 1){
    			leftStr = grade;
    		}else if(rowId > 1){
        		var leftPos = leftStr.lastIndexOf("|");
        		leftStr = leftStr.substring(0, leftPos - 2);
        		leftStr = leftStr + grade;
    		}
    		
    		//수정된 좌측 분할 값과 우측 값을 합쳐서 적재
    		grades = leftStr + rightStr;
    		J("#excGrpGrades").val(grades);
		
		}
	}
	
	/******************************************
	 * 저장
	 ******************************************/
	function goSave() {
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장처리
	 ******************************************/
	function saveDo() {		
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var excGrpIds = "";
		
		for (var i = 0; i < ids.length; i++) {
			rowdata = J("#list").getRowData(ids[i]);
			excGrpIds += rowdata.EXC_GRP_ID + '|';
		}
		
		J("#excGrpIds").val(excGrpIds);
		J("#mode").val("MOD");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/prs/exc/excEval/excEvalProcess.vw?type=template").submit();
		return false;
	}
	
	
	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function getConfirm() {
		var excGrpGrades = J("#excGrpGrades").val();
		var ChkNull = true;
		
		//공백값을 입력한 경우
		if(excGrpGrades.indexOf("X") != -1){
			ChkNull = false;
		}
		
		if(ChkNull == false){
			J.showMsgBox("모든 대상에게 평가를 해야 합니다.", null, null); 
		} else {
			J.showConfirmBox("확정하시겠습니까?", "Confirm"); //Confirm() 콜백함수 호출
		}
	}
    
	/******************************************
	 * 확정
	 ******************************************/
	function Confirm() {
		
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var excGrpIds = "";
		
		for (var i = 0; i < ids.length; i++) {
			rowdata = J("#list").getRowData(ids[i]);
			excGrpIds += rowdata.EXC_GRP_ID + '|';
		}
		J("#excGrpIds").val(excGrpIds);
		J("#mode").val("CONF");
		J("#year").val(J("#findYear").val());
		J("#deptYn").val('Y');
		J("#formList").attr("action", "$!{context_path}/prs/exc/excEval/excEvalProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 확정취소처리
	 ******************************************/
	function btnCancle(){
		
		J.showConfirmBox("확정을 취소 하시겠습니까?", "CancelDo"); //CancelDo() 콜백함수 호출
		
	}
	
	/******************************************
	 * 확정취소처리
	 ******************************************/
	function CancelDo() {
		J("#mode").val("CONF");
		J("#year").val(J("#findYear").val());
		J("#deptYn").val('N');
		J("#formList").attr("action","$!{context_path}/prs/exc/excEval/excEvalProcess.vw?type=template").submit();
	}
	
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">간부 별도평가군</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/exc/excEval/excEvalList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="간부 별도평가군">
						<caption class="none">간부 별도평가군 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/prs/exc/excEval/excEvalProcess.vw?type=template">
			<input type="hidden" id="mode"       		name="mode" />
			<input type="hidden" id="year"       		name="year" />
			<input type="hidden" id="excGrpIds" 		name="excGrpIds" /> 
			<input type="hidden" id="excGrpId"  		name="excGrpId" />		
			<input type="hidden" id="excGrpGrades"  	name="excGrpGrades" />		
			<input type="hidden" id="deptYn"  			name="deptYn" />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="간부 별도평가군 조회결과">
							<caption class="none">간부 별도평가군 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:500px;">
        						<div class="blockButton_l txt_blue">
        							<span id="alertDis"></span>
        						</div>
						</div>
						<div class="blockButton" id="btnDiv">
							<ul>
								#if($!{CS_HTML.txt2html($confirmYn.EXC_EVAL_YN)} != "Y")
    								<li><input type="submit" id="btnInsert" value="저장" /></li>
    								<li><input type="button" id="btnConfirm" value="확정" /></li>
								#else
	    							<li><input type="button" id="btnCancle" value="확정취소" /></li>
								#end
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>
