<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<head>

##parse("/WEB-INF/vl/common/template/head.vm")

#set ($context_path     = $!{context})
#set ($img_path         = $!{context_path} + "/images")
#set ($jsp_path         = $!{context_path} + "/jsp")
#set ($css_path         = $!{context_path} + "/css")
#set ($js_path          = $!{context_path} + "/js")

<script type="text/javascript" language="javascript" src="${js_path}/jquery-1.7.2.min.js" ></script>

<style>
<!--
.input {
	border:solid 1px #D5D5D5;
	width:215px;
	height:19px;
	background-color:#F7F7F7;
	font-size:12px;
	color:#666666;
	font-family:"굴림";
	margin-bottom:3px;
}
-->
</style>
 
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
		init();
	
	});
	
    //쿠키 설정
    function setBscCookie (name, value, expires) {
    		document.cookie = name + "=" + escape (value) + "; path=/; expires=" + expires.toGMTString();
    }
    
    //쿠키 정보 얻기
    function getBscCookie(Name) {
    	var search = Name + "=";
    	if (document.cookie.length > 0) { // 쿠키가 설정되어 있다면
    		offset = document.cookie.indexOf(search)
    
    		if (offset != -1) { // 쿠키가 존재하면
    			offset += search.length
    			// set index of beginning of value
    			end = document.cookie.indexOf(";", offset)
    			// 쿠키 값의 마지막 위치 인덱스 번호 설정
    
    			if (end == -1)
    				end = document.cookie.length
    
    			return unescape(document.cookie.substring(offset, end))
    		}
    	}
    
    	return "";
    }
    
    // 비밀번호 쿠키 저장
    function saveid(form) {
    	var expdate = new Date();
    
    	// 기본적으로 30일동안 기억하게 함. 일수를 조절하려면 * 30에서 숫자를 조절하면 됨
    	if (frm.checkIdBox.checked)
    		expdate.setTime(expdate.getTime() + 1000 * 3600 * 24 * 30); // 30일
    	else
    		expdate.setTime(expdate.getTime() - 1); // 쿠키 삭제조건
    
    	setBscCookie("saveid", form.userId.value, expdate);
    }
    
    //로그인
    function goLogin() {
    
    	id = J("#userId").val();
    	pass = J("#passwd").val();
    
    	if(id.length < 1) {
    		alert("로그인 아이디를 입력해 주십시오.");
    		J("#userId").focus();
    		return;
    	}
    	
    	/*
    	if(pass.length < 1) {
    		alert("비밀번호를 입력해 주십시오.");
    		J("#passwd").focus();
    		return;
    	}
    	*/
    	
		J("#frm").attr("action", "$!{context_path}/secure/loginDo.vw?type=template").submit();
    }
    
    //엔터키 로그인 처리
    function enter() {
    	if (event.keyCode == 13) {
    		goLogin();
    	}
    }
    
    //첫화면에서 사번 포커싱
    function init() {
    	J("#userId").focus();
    }
	
	function loginDirect(userId) {
		J("#userId").val(userId);
		J("#frm").attr("action", "$!{context_path}/secure/loginDo.vw?type=template").submit();
	}
//]]>
</script>

</head>

<body>
    <form id="frm" name="frm" method="post" action="$!{context_path}/secure/loginDo.vw?type=template">
    	<input type="hidden" name="loginType" value="alone" />
    	<input type="hidden" name="loginFlag" value="$!{CS_HTML.txt2html($ssoGubun)}" />
    
        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
        	<td>
        		<table width="100%" height="499" border="0" cellspacing="0" cellpadding="0" background="$!{img_path}/back.gif">
        		<tr>
        			<td style="background-image:url('$!{img_path}/img_lf.gif'); background-repeat:no-repeat; background-position:100% 0;">&nbsp;</td>
        			<td width="694" bgcolor="#ffffff" valign="top">
        				<table width="100%" border="0" cellspacing="0" cellpadding="0">
            				<tr>
            					<td height="54"></td>
            				</tr>
            				<tr>
            					<td height="344"><img src="$!{img_path}/img.gif" border="0" align="middle" alt="BSC이미지" /></td>
            				</tr>
            				<tr>
            					<td style="padding:10 10 10 110" align="center">
            						<table border="0" cellspacing="0" cellpadding="0" style="font-size:9pt; padding-top:10px">
                						<tr>
                							<td>
                								<table border="0" cellspacing="0" cellpadding="0" style="font-size:9pt;">
                    								<tr style="height:25px;">
                    									<td><img src="$!{img_path}/ball.gif" border="0"> 사번</td>
                    									<td style="padding-left:5px">
                    										<input type="text" id="userId" name="userId" style="ime-mode:inactive; width:100px" maxlength="20" class="input" value="admin" onkeydown="enter();">
                    									</td>
                    								</tr>
                    								<tr>
                    									<td><img src="$!{img_path}/ball.gif" border="0"> 비밀번호</td>
                    									<td style="padding-left:5px">
                    										<input type="password" id="passwd" name="passwd" style="ime-mode:inactive; width:100px" maxlength="20" onkeydown="enter();" class="input" value="kgsadmin">
                    									</td>
                    								</tr>
                								</table>
                							</td>
                							<td width="84" align="center"><a href="javascript:goLogin();"><img src="$!{img_path}/btn_login.gif" border="0" align="middle" alt="로그인버튼" /></a></td>
                							<td width="1" bgcolor="#E8E8E8"><img src="$!{img_path}/sp.gif" border="0" align="middle" /></td>
                							<td width="100" align="center"><input type="checkbox" name="checkIdBox" onClick="saveid(this.form);">사용자명 저장</td>
                						</tr>
            						</table>
            					</td>
            				</tr>
        				</table>
        			</td>
        			<td style="background-image:url('$!{img_path}/img_ri.gif'); background-repeat:no-repeat; background-position:0 0;">&nbsp;</td>
        		</tr>
        		</table>
        	</td>
        </tr>
        </table>
		
    </form>
</body>
</html>
