#*************************************************************************
* CLASS 명  	: login
* 작 업 자  	: 박소라
* 작 업 일  	: 2009.06.01
* 기    능  	: 로그인
* ---------------------------- 변 경 이 력 --------------------------------
* 번호        작 업 자            작     업     일                       변 경 내 용                               비고
* ----  --------  -----------------  -------------------------  --------
*   1          박소라		 2009.06.01			     최 초 작 업 
**************************************************************************#  
<!-- --> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#parse("/WEB-INF/vl/common/template/head.vm")

	<script language="javascript" type="text/javascript">
	<!--
		window.onload = function() {
			if(opener){
				self.close();
				location.href = "$!{context_path}/bsc/mon/main/mainList.vw?type=template";
			}else{
				location.href = "$!{context_path}/bsc/mon/main/mainList.vw?type=template";
			}
		}
		
	//-->
	</script>            
</html>
