#*************************************************************************
* CLASS 명      : planMngConModify
* 작 업 자      : 김효은 
* 작 업 일      : 2014년 4월 2일 
* 기    능      : 직원개인기여도평가 성과계획서관리    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    김효은      2014년 4월 2일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

    var J = jQuery;

    J(document).ready(function(){
    
        /******************************************
         * 취소버튼 (돌아가기)
         ******************************************/
        J("#btnBack").click(function() {
            J("#form1").attr("action", "$!{context_path}/prs/mngCon/planMngCon/planMngConList.vw?type=template").submit();
        });
        
        /******************************************
         * 저장버튼 이벤트
         ******************************************/
        J("#btnInsert").click(function(e) {
            e.preventDefault();
            saveChk();
        });

        /******************************************
         * 저장버튼 이중 클릭 방지
         ******************************************/
        J("form").submit(function(){
            J("#btnInsert").unbind();
        });
        
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#content").checkbyte({
			indicator:J("#indicator"),
			limit:1500
		});
		J("#content").trigger("keyup");
		
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#targetBasis").checkbyte({
			indicator:J("#indicatorTargetBasis"),
			limit:1500
		});
		J("#targetBasis").trigger("keyup");
        
		/******************************************
		 * 가중치/정렬순서 숫자만 입력
		 ******************************************/
		J("#weight").numeric({allow:"."});        //특정문자 허용(.)
		J("#weight").css("ime-mode", "disabled"); //한글사용 비활성화
		J("#1").numeric({allow:".-"});        //특정문자 허용(.)
		J("#1").css("ime-mode", "disabled"); //한글사용 비활성화
		J("#2").numeric({allow:".-"});        //특정문자 허용(.)
		J("#2").css("ime-mode", "disabled"); //한글사용 비활성화
		J("#3").numeric({allow:".-"});        //특정문자 허용(.)
		J("#3").css("ime-mode", "disabled"); //한글사용 비활성화
		J("#4").numeric({allow:".-"});        //특정문자 허용(.)
		J("#4").css("ime-mode", "disabled"); //한글사용 비활성화
		
		
		
		/******************************************
		 * 연목표 입력시 이벤트
		 ******************************************/
		 J("input[name=targetValues]").live("keyup", function(e){
			var tVal = "";
		 	J(":input[name=targetValues]").each(function(index, item) {
				if(J(":input[name=targetValues]").eq(index).val() != ""){
				tVal += J(":input[name=targetValues]").eq(index).attr("id") ;
				}
		 
			 });
				strLast = tVal[tVal.length-1];
				J("#targetValue").val(J("#"+strLast+"").val());
		 });

    });

    /******************************************
     * 필수입력 체크
     ******************************************/
    function saveChk() {
		if(!J.checkLength("targetNm", "성과목표", 1, 150)) {
    		return;
    	}
    	 if(!J.checkLength("metricNm", "성과지표", 1, 150)) {
    		return;
    	 }
		 
		 if(J("#weight").val() == ""){
			J.showMsgBox("가중치를 입력해주십시오.", null, "weight");
			return false;
		}
		 if(J("#targetValue").val() == ""){
			J.showMsgBox("연목표를 입력해주십시오.", null, "1");
			return false;
		}
		
		if(J("#1").val() != ""){
    	 if(!J.checkLength("1", "1분기", 1, 100)) {
    		return;
    	 }
		}
		
		if(J("#2").val() != ""){
    	 if(!J.checkLength("2", "2분기", 1, 100)) {
    		return;
    	 }
		}
		
		if(J("#3").val() != ""){
    	 if(!J.checkLength("3", "3분기", 1, 100)) {
    		return;
    	 }
		}
		
		if(J("#4").val() != ""){
    	 if(!J.checkLength("4", "4분기", 1, 100)) {
    		return;
    	 }
		}
    
        J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
    }
    
    /******************************************
     * 저장
     ******************************************/
    function saveDo() {
		J("#q1Target_value").val(J("#1").val());
		J("#q2Target_value").val(J("#2").val());
		J("#q3Target_value").val(J("#3").val());
		J("#q4Target_value").val(J("#4").val());
		J("#planStatusId").val("01");
        J("#form1").attr("action", "$!{context_path}/prs/mngCon/planMngCon/planMngConProcess.vw?type=template").submit();
    }

//]]>
</script>    
 
<form id="form1" name="form1" method="post" action="$!{context_path}/prs/mngCon/planMngCon/planMngConProcess.vw?type=template">
    <input type="hidden"     id="mode"            name="mode"              value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"     id="year"            name="year"              value="$!{searchMap.txt2html("findYear")}" />
    <input type="hidden"     id="targetId"        name="targetId" 		   value="$!{CS_HTML.txt2html($detail.TARGET_ID)}" /> 
    <input type="hidden"     id="evalMembEmpn"    name="evalMembEmpn"      value="$!{searchMap.txt2html("evalMembEmpn")}" />
    <input type="hidden"     id="evalMembEmpnSeq" name="evalMembEmpnSeq"   value="$!{searchMap.txt2html("evalMembEmpnSeq")}" />
    <input type="hidden"     id="userId"          name="userId" 		   value="$!{CS_LOGIN.getUser_id()}" />         
    <input type="hidden"     id="planStatusId"    name="planStatusId" 	   />         
    <input type="hidden"     id="q1Target_value"  name="q1Target_value"    />         
    <input type="hidden"     id="q2Target_value"  name="q2Target_value"    />         
    <input type="hidden"     id="q3Target_value"  name="q3Target_value"    />         
    <input type="hidden"     id="q4Target_value"  name="q4Target_value"    />         
	
    $!{searchMap.makeHiddenFind()}
    
    <div id="Table">
        <div id="Table_blockContainer">
            <div class="tableTop">
                #parse("/WEB-INF/vl/common/template/tabs.vm")
                <div class="clear"></div>
            </div>
			#parse("/WEB-INF/vl/prs/mngCon/planMngCon/membersTable.vm")
          
            <div class="blockDetail">
                <table summary="직원개인기여도평가 성과계획서관리 등록">
                    <caption class="none">직원개인기여도평가 성과계획서관리 등록</caption>
                    <tbody>
						<colgroup>
                        <col width="13%" />
                        <col width="10%" />
                        <col width="8%" />
                        <col width="10%" />
                        <col width="8%" />
                        <col width="10%" />
                        <col width="8%" />
                        <col width="10%" />
                        <col width="8%" />
                        <col width="10%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="directionCd">설정방향</label></th>
                            <td colspan="9">
                                <select id="directionCd" name="directionCd" class="select w180">
                                    $!CS_CODE.getCodeOption("218", $detail.DIRECTION_CD, $!{searchMap.txt2html("year")})
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><span class="txt_red">(*)</span> <label for="targetNm">성과목표</label></th>
                            <td colspan="9"><input type="text" id="targetNm" name="targetNm" class="inputbox wp98" value='$!{CS_HTML.txt2html($detail.TARGET_NM)}' maxlength="75"/></td>
                        </tr>
                        <tr>
                            <th scope="row"><span class="txt_red">(*)</span> <label for="metricNm">성과지표 </label></th>
                            <td colspan="9" ><input type="text" id="metricNm" name="metricNm" class="inputbox wp98" value='$!{CS_HTML.txt2html($detail.METRIC_NM)}' maxlength="75"/></td>
                        </tr>
						<tr>
                            <th scope="row"><label for="unit">단위</label></th>
                            <td colspan="9">
                                <select id="unit" name="unit" class="select w180">
                                    $!CS_CODE.getCodeOption("013", $detail.UNIT, $!{searchMap.txt2html("year")})
                                </select>
                            </td>
                        </tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="metricNm">가중치 </label></th>
                            <td colspan="9" ><input type="text" id="weight" name="weight" class="inputbox w170" value='$!{CS_HTML.txt2html($detail.WEIGHT)}' maxlength="5"/></td>
                        </tr>
						<tr>
                            <th scope="row"><span class="txt_red">(*)</span> <label for="targetValue">연목표</label></th>
                            <td><input type="text" id="targetValue" name="targetValue" class="inputbox" value='$!{CS_HTML.txt2html($detail.TARGET_VALUE)}' maxlength="10" onfocus="this.blur()" readonly/></td>
                            <th scope="row"><label for="1">1분기 </label></th>
                            <td><input type="text" id="1" name="targetValues" class="inputbox" value='$!{CS_HTML.txt2html($detail.Q1_TARGET_VALUE)}' maxlength="7"/></td>
                            <th scope="row"><label for="2">2분기 </label></th>
                            <td><input type="text" id="2" name="targetValues" class="inputbox" value='$!{CS_HTML.txt2html($detail.Q2_TARGET_VALUE)}' maxlength="7"/></td>
                            <th scope="row"><label for="3">3분기 </label></th>
                            <td><input type="text" id="3" name="targetValues" class="inputbox" value='$!{CS_HTML.txt2html($detail.Q3_TARGET_VALUE)}' maxlength="7"/></td>
                            <th scope="row"><label for="4">4분기 </label></th>
                            <td><input type="text" id="4" name="targetValues" class="inputbox" value='$!{CS_HTML.txt2html($detail.Q4_TARGET_VALUE)}' maxlength="7"/></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="targetBasis">목표량 설정근거</label></th>
                            <td colspan="9">
                                <textarea id="targetBasis" name="targetBasis" class="tabletext" title="목표량 설정근거" cols="" rows="8">$!{CS_HTML.txt2html($detail.TARGET_BASIS)}</textarea>
                                <span id="indicatorTargetBasis">0</span>/1500byte
                            </td>
                        </tr>
						<tr>
    						<th scope="row"><label for="content">비고</label></th>
    						<td colspan="9">
    							<textarea id="content" name="content" class="tabletext" title="비고" cols="" rows="8">$!{CS_HTML.txt2html($detail.CONTENT)}</textarea>
								<span id="indicator">0</span>/1500byte
    						</td>
    					</tr>
                    </tbody>
                </table>
            </div>
            <div class="blockButton"> 
                <ul>
                    <li><input type="button" id="btnBack"   value="돌아가기" /></li>
                    #if("$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" =='04' && "$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" =='02' && "$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" =='03')
                    <li><input type="submit" id="btnInsert" value="저장" /></li>
                    #end
                </ul>
            </div>    
        </div>
        <div class="clear"></div>
    </div>
</form>
