#*************************************************************************
* CLASS 명      : ahpResultModify
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 11월 29일
* 기    능      : AHP 평가결과
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    하윤식      2012년 11월 29일             최 초 작 업
**************************************************************************#

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#form1').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/ahp/ahpResult/ahpResultDetailList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['평가대상코드', '평가대상', 'AHP계수', '환산가중치', '조정가중치', '조정반영가중치'],
			colModel     :[
                            {name:'ITEM_ID'     	     ,index:'ITEM_ID'    		   ,width:150   ,align:'center' ,formatter:linkItemId},
                            {name:'ITEM_NM'  			 ,index:'ITEM_NM'     		   ,width:200   ,align:'left'   },
                            {name:'AHP_CORFFI'           ,index:'AHP_CORFFI'           ,width:100   ,align:'center' },
							{name:'CONVERT_WEIGHT'       ,index:'CONVERT_WEIGHT'       ,width:100   ,align:'center' },
                            {name:'ADJUST_WEIGHT'        ,index:'ADJUST_WEIGHT'        ,width:100   ,align:'center' ,formatter:linkUpdate},
                            {name:'ADJUST_REFL_WEIGHT'   ,index:'ADJUST_REFL_WEIGHT'   ,width:100   ,align:'center' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			loadComplete : function() {
								J("input[name=adjustWeights]").numeric({allow:".-"});       //특정문자 허용(.)
								J("input[name=adjustWeights]").css("ime-mode", "disabled"); //한글사용 비활성화
                           },
			caption:"AHP 평가결과"
        }).jqGrid('hideCol',"ITEM_ID").setGridWidth($!{jqGrid_width});


		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/bsc/ahp/ahpResult/ahpResultList.vw?type=template").submit();
		});

		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});

		/******************************************
		 * 총가중치 숫자만 입력받기
		 ******************************************/
		J("#totWeight").numeric();
		J("#totWeight").css("ime-mode", "disabled"); //한글사용 비활성화

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
	});

	/******************************************
	 * jqGrid 평가대상id
	 ******************************************/
	function linkItemId(cellvalue, options, rowObject) {
		return '<input type="text" name="itemIds" value="' + cellvalue + '" class="inputbox wp50"/>';
	}

	/******************************************
	 * jqGrid 조정가중치
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		return '<input type="text" name="adjustWeights" value="' + cellvalue + '" class="inputbox wp50" maxlength="5"/>';
	}

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}

	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/bsc/ahp/ahpResult/ahpResultProcess.vw?type=template").submit();
	}

	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#yearNm").val(J("#findYear > option:selected").text());
		J("#form1").attr("action", "$!{context_path}/bsc/ahp/ahpResult/ahpResultModifyExcel.vw?type=excel").submit();
		return false;
	}

//]]>
</script>

<form id="form1" name="form1" method="post" action="$!{context_path}/bsc/ahp/ahpResult/ahpResultProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />
	<input type="hidden"	id="itemGrpId"      name="itemGrpId"      value="$!{searchMap.txt2html("itemGrpId")}" />
	<input type="hidden"	id="evalUserGrpId"  name="evalUserGrpId"  value="$!{searchMap.txt2html("evalUserGrpId")}" />
	<input type="hidden"	id="evalUserId"     name="evalUserId"     value="$!{searchMap.txt2html("evalUserId")}" />

    $!{searchMap.makeHiddenFind()}

    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>
                    <table summary="검색조건">
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w180">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
								<td class="searchBox_tit w250">평가단 <span class="searchBar">$!{evalUserGrpNm}</span></td>
								<td class="searchBox_tit w300">평가대상그룹 <span class="searchBar">$!{itemGrpNm}</span></td>
								<td class="searchBox_tit w300">평가대상그룹 총 가중치 <span class="searchBar"><input type="text" id="totWeight" name="totWeight" value="$!{totWeight}" class="inputbox w60" maxlength="5"/></span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="AHP 평가실시 조회결과">
							<caption class="none">AHP 평가실시 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:145px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀변환" alt="엑셀다운로드" />
						</div>
						<div class="blockButton_l"></div>
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnBack"   value="돌아가기" /></li>
								<li><input type="submit" id="btnInsert" value="저장" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
    	</div>
    	<div class="clear"></div>
    </div>
</form>
