#*************************************************************************
* CLASS 명      : excUserList_xml
* 작 업 자      : 김상용
* 작 업 일      : 2013년 07월 19일 
* 기    능      : 간부 평가 예외자 관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김상용     2013년 07월 19일     최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 	: "$!{CS_HTML.txt2html($list.YEAR)}", 
		"EXC_GRP_ID"          	: "$!{CS_HTML.txt2html($list.EXC_GRP_ID)}",		
		"EXC_GRP_NM"          	: "$!{CS_HTML.txt2html($list.EXC_GRP_NM)}",
		"EXC_COUNT"          	: "$!{CS_HTML.txt2html($list.EXC_COUNT)}",
		"EVAL_TYPE"            	: "$!{CS_HTML.txt2html($list.EVAL_TYPE)}",
		"EVAL_GRADE"            : "$!{CS_HTML.txt2html($list.EVAL_GRADE)}",
		"BSC_RATE"          	: "$!{CS_HTML.txt2html($list.BSC_RATE)}",
		"PRS_RATE"              : "$!{CS_HTML.txt2html($list.PRS_RATE)}", 
		"ORG_RATE"           	: "$!{CS_HTML.txt2html($list.ORG_RATE)}",
		"EFF_RATE"           	: "$!{CS_HTML.txt2html($list.EFF_RATE)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
