#*************************************************************************
* CLASS 명      : resultCompareModify
* 작 업 자      : 박경태 
* 작 업 일      : 2012년 11월 6일 
* 기    능      : 전년도실적비교    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    박경태      2012년 11월 6일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/gov/unmeasure/resultCompare/resultCompareList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#resOfProperDesc").checkbyte({
			indicator:J("#resOfProperDescIndicator"),
			limit:3000
		});
		
		J("#resOfProperDesc").trigger("keyup");
		
		J("#improvement").checkbyte({
			indicator:J("#improvementIndicator"),
			limit:3000
		});
		
		J("#improvement").trigger("keyup");
		
		J("#resOf1BefDesc").checkbyte({
			indicator:J("#resOf1BefDescIndicator"),
			limit:3000
		});
		
		J("#resOf1BefDesc").trigger("keyup");

		/******************************************
		 * 정렬순서 숫자만 입력
		 ******************************************/
		J("#sortOrder").numeric();
		
		J("#sortOrder").css("ime-mode", "disabled");

	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		if(!J.checkLength("field", "세부평가", 1, 50)) {
			return;
		}
		
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/gov/unmeasure/resultCompare/resultCompareProcess.vw?type=template").submit();
	}

//]]>
</script>    
 
<form id="form1" name="form1" method="post" action="$!{context_path}/gov/unmeasure/resultCompare/resultCompareProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />
	<input type="hidden"	id="govMetricId"    name="govMetricId"    value="$!{searchMap.txt2html("govMetricId")}" />
	<input type="hidden"	id="insertUserId"   name="insertUserId"   value="$!{searchMap.txt2html("insertUserId")}" />
	
    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w200">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
								<td class="searchBox_tit w250">정평지표 <span class="searchBar">$!{CS_HTML.txt2html($govMetricDetail.GOV_METRIC_NM)}</span></td>
								<td class="searchBox_tit w250">담당자 <span class="searchBar">#if($!{searchMap.txt2html("mode")} == "ADD") $!{searchMap.txt2html("insertUserNm")} #else $!{CS_HTML.txt2html($detail.INSERT_USER_NM)} #end</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="전년도실적비교 등록">
					<caption class="none">전년도실적비교 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="85%" />
    				</colgroup>
    				<tbody>
						<tr>
    						<th scope="row"><label for="compareId">코드</label></th>
    						<td>
								#if($!{searchMap.txt2html("mode")} == "MOD")
									$!{CS_HTML.txt2html($detail.COMPARE_ID)}
									<input type="hidden" id="compareId" name="compareId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.COMPARE_ID)}" maxlength="7" readonly="readonly"/>
								#else
									<input type="hidden" id="compareId" name="compareId" class="inputbox w100" maxlength="7" />
                                    ※ 저장시 자동으로 부여됩니다.
								#end
							</td>
    					</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="field">세부평가</label></th>
							<td><input type="text" id="field" name="field" class="inputbox w300" value='$!{CS_HTML.txt2html($detail.FIELD)}' maxlength="50"/></td>
						</tr>
						<tr>
							<th scope="row"><label for="resOfProperDesc">현재년도 주요실적</label></th>
							<td>
								<textarea id="resOfProperDesc" name="resOfProperDesc" class="tabletext" title="Y년도 주요실적" cols="" rows="5">$!{CS_HTML.txt2html($detail.RES_OF_PROPER_DESC)}</textarea>
								<span id="resOfProperDescIndicator">0</span>/3000byte
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="resOf1BefDesc">전년도까지의 주요실적</label></th>
							<td>
								<textarea id="resOf1BefDesc" name="resOf1BefDesc" class="tabletext" title="Y-1년도 주요실적" cols="" rows="5">$!{CS_HTML.txt2html($detail.RES_OF_1_BEF_DESC)}</textarea>
								<span id="resOf1BefDescIndicator">0</span>/3000byte
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="improvement">개선효과</label></th>
							<td>
								<textarea id="improvement" name="improvement" class="tabletext" title="개선효과" cols="" rows="5">$!{CS_HTML.txt2html($detail.IMPROVEMENT)}</textarea>
								<span id="improvementIndicator">0</span>/3000byte
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="sortOrder">정렬순서</label></th>
							<td><input type="text" id="sortOrder" name="sortOrder" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.SORT_ORDER)}' maxlength="22"/></td>
						</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>	
    	</div>
    	<div class="clear"></div>
    </div>
</form>
