#*************************************************************************
* CLASS 명      : strDirectList_xml
* 작 업 자      : 박경태
* 작 업 일      : 2012년 10월 29일 
* 기    능      : 전략방향 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      박경태     2012년 10월 29일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"STRAT_DIRECT_ID"      : "$!{CS_HTML.txt2html($list.STRAT_DIRECT_ID)}", 
		"STRAT_DIRECT_NM"      : "$!{CS_HTML.txt2html($list.STRAT_DIRECT_NM)}", 
		"CONTENT"              : "$!{CS_HTML.txt2html($list.CONTENT)}", 
		"SORT_ORDER"           : "$!{CS_HTML.txt2html($list.SORT_ORDER)}", 
		"DIRECT_CNT"           : "$!{CS_HTML.txt2html($list.DIRECT_CNT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
