#*************************************************************************
* CLASS 명      : checkServiceTimelyRateUse_xml
* 작 업 자      : 김기현
* 작 업 일      : 2012년 6월 18일
* 기    능      : 시스템항목관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김기현     2012년 6월 18일            최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"              	: "$!{CS_HTML.txt2html($list.SUMM_YY)}",
		"MON"               	: "$!{CS_HTML.txt2html($list.SUMM_MM)}",
		"CO_NO"               	: "$!{CS_HTML.txt2html($list.CO_NO)}",
		"RCPT_DATE"             : "$!{CS_HTML.txt2html($list.RCPT_DATE)}",
		"INSP_DATE"             : "$!{CS_HTML.txt2html($list.INSP_DATE)}",
		"DEPT_CD"               : "$!{CS_HTML.txt2html($list.DEPT_CD)}",
		"DEPT_CD_NM"            : "$!{CS_HTML.txt2html($list.DEPT_CD_NM)}",
		"EQUI_NM"            	: "$!{CS_HTML.txt2html($list.EQUI_NM)}",
		"PERM_TC_NM"          	: "$!{CS_HTML.txt2html($list.PERM_TC_NM)}",
		"PROC_YN"          		: #if( $!{CS_HTML.txt2html($list.PROC_YN)} == "T" ) "적시"
								  #elseif( $!{CS_HTML.txt2html($list.PROC_YN)} == "F" ) "미적시"
								  #end
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
