#*************************************************************************
* CLASS 명      : memEvalUserRateList
* 작 업 자      : 유연주
* 작 업 일      : 2017년03월 10일
* 기    능      : 평가자비율설정
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     유연주      2017년03월 10일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/mem/base/memEvalUserRate/memEvalUserRateList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/mem/base/memEvalUserRate/memEvalUserRateList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['기준년도', '평가자구분코드', '평가자구분', '평가그룹별 평가여부', '평가비율', '평가방법', '평가부여방법', '정렬순서'],
			colModel     :[
							{name:'YEAR'                     ,index:'YEAR'                       ,width:100   ,align:'center' },
                            {name:'EVAL_USER_GUBUN_ID'       ,index:'EVAL_USER_GUBUN_ID'         ,width:100   ,align:'center' },
                            {name:'EVAL_USER_GUBUN_NM'       ,index:'EVAL_USER_GUBUN_NM'         ,width:100   ,align:'center' },
							{name:'EVAL_YN_ID'               ,index:'EVAL_YN_ID'                 ,width:100   ,align:'center' ,formatter:goEvalYn},
							{name:'EVAL_RATE'                ,index:'EVAL_RATE'                  ,width:100   ,align:'center' ,formatter:goEvalRate},
							{name:'EVAL_METHOD_ID'           ,index:'EVAL_METHOD_ID'             ,width:100   ,align:'center' ,formatter:goMethod},
							{name:'EVAL_GIVE_METHOD_ID'      ,index:'EVAL_GIVE_METHOD_ID'        ,width:200   ,align:'center' ,formatter:goGiveMethod},
                            {name:'SORT_ORDER'               ,index:'SORT_ORDER'                 ,width:100   ,align:'center' ,formatter:sortOrder}
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			cellEdit     : true,
			gridview     : true,
			##cmTemplate   : {sortable:false},
			loadComplete : function() {
					J("input[name=orders]").numeric({allow:""});        	//특정문자 허용(.)
					J("input[name=orders]").css("ime-mode", "disabled"); 	//한글사용 비활성화
					J("input[name=gEvalRates]").numeric({allow:"."});        	//특정문자 허용(.)
					J("input[name=gEvalRates]").css("ime-mode", "disabled"); 	//한글사용 비활성화
				  },
			caption:"평가자비율설정"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"EVAL_USER_GUBUN_ID").setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 일괄저장
		 ******************************************/
		J("#btnAllSave").click(function() {
			goAllSave();
			return false;
		});

	});
	
	/******************************************
     * jqGrid 평가여부
     ******************************************/
    function goEvalYn(cellvalue, options, rowObject) {
    	var str = "";
		var ids = "gEvalYns";
    	
    	str += '<select id="' + ids + '" name="' + ids + '" class="select w100">';
    #foreach($evalYnList in $evalYnList)
    	if (cellvalue == "$!{CS_HTML.txt2html($evalYnList.CODE_ID)}") {
    		str += '	<option value="$!{CS_HTML.txt2html($evalYnList.CODE_ID)}" selected>$!{CS_HTML.txt2html($evalYnList.CODE_NM)}</option>';
    	}else{
    		str += '	<option value="$!{CS_HTML.txt2html($evalYnList.CODE_ID)}">$!{CS_HTML.txt2html($evalYnList.CODE_NM)}</option>';
    	}
    #end
        str += '</select>';
    	
    	return str;
    }
    
	/******************************************
     * jqGrid 평가방법
     ******************************************/
    function goMethod(cellvalue, options, rowObject) {
    	var str = "";
		var ids = "gEvalMethods";
    	
    	str += '<select id="' + ids + '" name="' + ids + '" class="select w100">';
    #foreach($evalMethodList in $evalMethodList)
    	if (cellvalue == "$!{CS_HTML.txt2html($evalMethodList.CODE_ID)}") {
    		str += '	<option value="$!{CS_HTML.txt2html($evalMethodList.CODE_ID)}" selected>$!{CS_HTML.txt2html($evalMethodList.CODE_NM)}</option>';
    	}else{
    		str += '	<option value="$!{CS_HTML.txt2html($evalMethodList.CODE_ID)}">$!{CS_HTML.txt2html($evalMethodList.CODE_NM)}</option>';
    	}
    #end
        str += '</select>';
    	
    	return str;
    }
    
	/******************************************
     * jqGrid 평가부여방법
     ******************************************/
    function goGiveMethod(cellvalue, options, rowObject) {
    	var str = "";
		var ids = "gEvalGiveMethods";
    	
    	str += '<select id="' + ids + '" name="' + ids + '" class="select w250">';
    		str += '	<option value="99">해당없음</option>';
    #foreach($evalGiveMethodList in $evalGiveMethodList)
    	if (cellvalue == "$!{CS_HTML.txt2html($evalGiveMethodList.EVAL_METHOD_ID)}") {
    		str += '	<option value="$!{CS_HTML.txt2html($evalGiveMethodList.EVAL_METHOD_ID)}" selected>$!{CS_HTML.txt2html($evalGiveMethodList.EVAL_METHOD_NM)}</option>';
    	}else{
    		str += '	<option value="$!{CS_HTML.txt2html($evalGiveMethodList.EVAL_METHOD_ID)}">$!{CS_HTML.txt2html($evalGiveMethodList.EVAL_METHOD_NM)}</option>';
    	}
    #end
        str += '</select>';
    	
    	return str;
    }
	
	/******************************************
	 * jqGrid 평가비율
	 ******************************************/
	function goEvalRate(cellvalue, options, rowObject) {
		if(options.rowId==""){
			return cellvalue;
		}else{
			var str = '';
			str += '<input type="text" id="gEvalRates" name="gEvalRates" value="' + cellvalue + '" class="inputbox wp70" maxlength="5"/> %';

			return str;
		}
	}
	
	/******************************************
	 * jqGrid 정렬순서
	 ******************************************/
	function sortOrder(cellvalue, options, rowObject) {
		if(options.rowId==""){
			return cellvalue;
		}else{
			var str = '';
			str += '<input type="text" id="orders" name="orders" value="' + cellvalue + '" class="inputbox wp70" maxlength="5"/>';

			return str;
		}
	}
	
	/******************************************
	 * 일괄저장
	 ******************************************/
	function goAllSave() {
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";

		if(ids.length == 0){
			alert("저장할 항목이 없습니다.");
			return false;
		}

		for (var i = 0; i < ids.length; i++) {
			rowdata = J("#list").getRowData(ids[i]);
			/*
			if(J("#formList select[name=gEvalYns]").eq(i).val() == ""){
				alert("평가군별평가여부를 선택하세요.");
				J("#formList select[name=gEvalYns]").eq(i).focus();
				return false;
			}
			if(J("#formList input[name=gEvalRates]").eq(i).val() == ""){
				alert("평가비울을 입력하세요.");
				J("#formList input[name=gEvalRates]").eq(i).focus();
				return false;
			}
			if(J("#formList select[name=gEvalMethods]").eq(i).val() == ""){
				alert("평가방법을 선택하세요.");
				J("#formList select[name=gEvalMethods]").eq(i).focus();
				return false;
			}
			if(J("#formList select[name=gEvalGiveMethods]").eq(i).val() == ""){
				alert("평가부여방법을 선택하세요.");
				J("#formList select[name=gEvalGiveMethods]").eq(i).focus();
				return false;
			}
			if(J("#formList input[name=orders]").eq(i).val() == ""){
				alert("정렬순서를 입력하세요.");
				J("#formList input[name=orders]").eq(i).focus();
				return false;
			}
			*/
		}
		J.showConfirmBox("일괄저장하시겠습니까?", "allSaveDo"); //allSaveDo() 콜백함수 호출
	}

	/******************************************
	 * 일괄저장 처리
	 ******************************************/
	function allSaveDo() {
		var id = J("#list").getGridParam('selarrrow');
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var sortOrders = "";
		var evalUserGubunIds = "";
		var evalYns = "";
		var evalMethods = "";
		var evalGiveMethods = "";
		var evalRates = "";

		for (var i = 0; i < ids.length; i++) {
			rowdata = J("#list").getRowData(ids[i]);
			sortOrders += J("#formList input[name=orders]").eq(i).val() + '|';
			evalUserGubunIds += rowdata.EVAL_USER_GUBUN_ID + '|';
			evalYns += J("#formList select[name=gEvalYns]").eq(i).val() + '|';
			evalMethods += J("#formList select[name=gEvalMethods]").eq(i).val() + '|';
			evalGiveMethods += J("#formList select[name=gEvalGiveMethods]").eq(i).val() + '|';
			evalRates += J("#formList input[name=gEvalRates]").eq(i).val() + '|';
		}

		J("#evalUserGubunIds").val(evalUserGubunIds);
		J("#evalYns").val(evalYns);
		J("#evalMethods").val(evalMethods);
		J("#evalGiveMethods").val(evalGiveMethods);
		J("#evalRates").val(evalRates);
		J("#sortOrders").val(sortOrders);
		J("#mode").val("SAVE");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/mem/base/memEvalUserRate/memEvalUserRateProcess.vw?type=template").submit();
		return false;
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">평가자비율설정</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/mem/base/memEvalUserRate/memEvalUserRateList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"      name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"       name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"          name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="평가자비율설정검색 조건">
						<caption class="none">평가자비율설정 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">기준년도</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/mem/base/memEvalUserRate/memEvalUserRateProcess.vw?type=template">
			<input type="hidden" id="mode"       		name="mode" />
			<input type="hidden" id="year"       		name="year" value="$!{searchMap.txt2html("findYear")}"/>
			<input type="hidden" id="yearNm"     		name="yearNm" />
			<input type="hidden" id="evalUserGubunIds" 	name="evalUserGubunIds" />
			<input type="hidden" id="evalYns" 	        name="evalYns" />
			<input type="hidden" id="evalMethods" 	    name="evalMethods" />
			<input type="hidden" id="evalGiveMethods" 	name="evalGiveMethods" />
			<input type="hidden" id="evalRates" 	    name="evalRates" />
			<input type="hidden" id="sortOrders" 		name="sortOrders" />
			
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="평가자비율설정 조회결과">
							<caption class="none">평가자비율설정 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton_l">
							##<input id="btnExcelDown" type="image" src="$!{img_path}/btn_excel.gif" align="middle" alt="엑셀다운로드" />
						</div>
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnAllSave" value="일괄저장" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="clear"></div>
</div>
