#*************************************************************************
* CLASS 명      : outerEduAttendList_xml
* 작 업 자      : 김기현
* 작 업 일      : 2012년 6월 18일
* 기    능      : 시스템항목관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김기현     2012년 6월 18일            최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"           		: "$!{CS_HTML.txt2html($list.YEAR)}",
		"EDU_YY"            : "$!{CS_HTML.txt2html($list.EDU_YY)}",
		"DEPT_ID"     	    : "$!{CS_HTML.txt2html($list.DEPT_ID)}",
		"DEPT_NM"         	: "$!{CS_HTML.txt2html($list.DEPT_NM)}",
		"CO_NO"    			: "$!{CS_HTML.txt2html($list.CO_NO)}",
		"CO_NM"    			: "$!{CS_HTML.txt2html($list.CO_NM)}",
		"NM"    			: "$!{CS_HTML.txt2html($list.NM)}",
		"LAW_TC_NM"  		: "$!{CS_HTML.txt2html($list.LAW_TC_NM)}",
		"INSP_KIND_TC_NM"   : "$!{CS_HTML.txt2html($list.INSP_KIND_TC_NM)}",
		"STIC_LAG_TC_NM"    : "$!{CS_HTML.txt2html($list.STIC_LAG_TC_NM)}",
		"STIC_MID_TC_NM"    : "$!{CS_HTML.txt2html($list.STIC_MID_TC_NM)}",
		"EDU_ST_DATE"    	: "$!{CS_HTML.txt2html($list.EDU_ST_DATE)}",
		"EDU_END_DATE"    	: "$!{CS_HTML.txt2html($list.EDU_END_DATE)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
