#*************************************************************************
* CLASS 명      : systemLoginMorDeptList_xml
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 7월 11일 
* 기    능      : 시스템 사용현황(조직별) json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김윤기     2012년 7월 11일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"SC_DEPT_ID"           : "$!{CS_HTML.txt2html($list.SC_DEPT_ID)}", 
		"SC_DEPT_NM"   		   : "$!{CS_HTML.txt2html($!CS_SC_DEPT.getName($!{searchMap.txt2html("findYear")}, $list.SC_DEPT_ID))}", 
		"A"                    : "$!{CS_HTML.txt2html($list.A)}", 
		"B"                    : "$!{CS_HTML.txt2html($list.B)}", 
		"C"                    : "$!{CS_HTML.txt2html($list.C)}", 
		"D"                    : "$!{CS_HTML.txt2html($list.D)}", 
		"E"                    : "$!{CS_HTML.txt2html($list.E)}", 
		"F"                    : "$!{CS_HTML.txt2html($list.F)}", 
		"G"                    : "$!{CS_HTML.txt2html($list.G)}", 
		"H"                    : "$!{CS_HTML.txt2html($list.H)}", 
		"I"                    : "$!{CS_HTML.txt2html($list.I)}", 
		"J"                    : "$!{CS_HTML.txt2html($list.J)}", 
		"K"                    : "$!{CS_HTML.txt2html($list.K)}", 
		"L"                    : "$!{CS_HTML.txt2html($list.L)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
