#*************************************************************************
* CLASS 명      : metricMappingTabList_xml
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 1일
* 기    능      : 내부평가지표연계표 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      정철수     2012년 11월 1일            최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                  : "$!{CS_HTML.txt2html($list.YEAR)}",
		"MAN_ID"     			: "$!{CS_HTML.txt2html($list.MAN_ID)}",
		"MAN_NM"     			: "$!{CS_HTML.txt2html($list.MAN_NM)}",
		"STRAT_ID"     			: "$!{CS_HTML.txt2html($list.STRAT_ID)}",
		"STRAT_NM"     			: "$!{CS_HTML.txt2html($list.STRAT_NM)}",
		"STRAT_ORDER" 			: "$!{CS_HTML.txt2html($list.STRAT_ORDER)}",
		"STRAT_CNT"    			: "$!{CS_HTML.txt2html($list.STRAT_CNT)}",
		"STRAT_INDEX"    		: "$!{CS_HTML.txt2html($list.STRAT_INDEX)}",
		"CSF_ID"           		: "$!{CS_HTML.txt2html($list.CSF_ID)}",
		"CSF_NM"           		: "$!{CS_HTML.txt2html($list.CSF_NM)}",
		"CSF_ORDER"   			: "$!{CS_HTML.txt2html($list.CSF_ORDER)}",
		"CSF_CNT"          		: "$!{CS_HTML.txt2html($list.CSF_CNT)}",
		"CSF_INDEX"          	: "$!{CS_HTML.txt2html($list.CSF_INDEX)}",
		"MAN_KPI_ID"    		: "$!{CS_HTML.txt2html($list.MAN_KPI_ID)}",
		"MAN_KPI_NM"    		: "$!{CS_HTML.txt2html($list.MAN_KPI_NM)}",
		"TGT_TARGET" 			: "$!{CS_HTML.txt2html($list.TGT_TARGET)}",
		"VALUE" 				: "$!{CS_HTML.txt2html($list.VALUE)}",
		"STATUS_ID" 			: "$!{CS_HTML.txt2html($list.STATUS_ID)}",
		"MAN_ORDER" 			: "$!{CS_HTML.txt2html($list.MAN_ORDER)}",
		"MAN_KPI_CNT"   		: "$!{CS_HTML.txt2html($list.MAN_KPI_CNT)}",
		"MAN_KPI_INDEX"   		: "$!{CS_HTML.txt2html($list.MAN_KPI_INDEX)}",
		"METRIC_ID"             : "$!{CS_HTML.txt2html($list.METRIC_ID)}",
		"METRIC_NM"             : "$!{CS_HTML.txt2html($list.METRIC_NM)}",
		"SC_DEPT_ID"            : "$!{CS_HTML.txt2html($list.SC_DEPT_ID)}",
		"SC_DEPT_NM"            : "$!{CS_HTML.txt2html($list.SC_DEPT_NM)}",
		"METRIC_TARGET"         : "$!{CS_HTML.txt2html($list.METRIC_TARGET)}",
		"METRIC_ACTUAL"         : "$!{CS_HTML.txt2html($list.METRIC_ACTUAL)}",
		"METRIC_SCORE"          : "$!{CS_HTML.txt2html($list.METRIC_SCORE)}",
		"METRIC_STATUS_ID"      : "$!{CS_HTML.txt2html($list.METRIC_STATUS_ID)}",
		"METRIC_SORT_ORDER"     : "$!{CS_HTML.txt2html($list.METRIC_SORT_ORDER)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
