#*************************************************************************
* CLASS 명      : metricMappingTabList
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 1일
* 기    능      : 내부평가지표연계표
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     정철수      2012년 11월 1일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/man/mon/metricMappingTab/metricMappingTabList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/man/mon/metricMappingTab/metricMappingTabList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['경영목표'
						 ,'전략과제'
						 , 'CSF'
						 , 'KGS2020KPI', '목표', '실적'
						 , '내부평가지표', '평가조직', '목표', '실적', '점수'
						 , '전략과제 ID' 		, '전략과제 수'			, '전략과제 INDEX'	 		##, '전략과제 상태'
						 , 'CSF ID'		 		, 'CSF 수'				, 'CSF INDEX'				##, 'CSF 상태'
						 , 'KGS2020KPI ID'		, 'KGS2020KPI 수'		, 'KGS2020KPI INDEX'		##, 'KGS2020KPI 상태'
						 , '내부평가지표 ID'	, '내부평가지표 상태'
						 ],
			colModel     :[

                            {name:'MAN_NM'     				,index:'MAN_NM'     				,width:60    ,align:'center' ,sortable:false ,cellattr: attrSettingStrategy},
                            {name:'STRAT_NM'     			,index:'STRAT_NM'     				,width:60    ,align:'center' ,sortable:false ,cellattr: attrSettingStrategy},
                            {name:'CSF_NM'           		,index:'CSF_NM'           			,width:100   ,align:'left' 	 ,sortable:false ,cellattr: attrSettingSubject },
                            {name:'MAN_KPI_NM'    			,index:'MAN_KPI_NM'    				,width:100   ,align:'left' 	 ,sortable:false ,cellattr: attrSettingStrategyMetric ,formatter:linkKgsDetail},
                            {name:'TGT_TARGET'            	,index:'TGT_TARGET'            		,width:40    ,align:'center' ,sortable:false ,cellattr: attrSettingStrategyMetric,	formatter:'number', formatoptions:{decimalSeparator:".", thousandsSeparator:",", decimalPlaces:"0"} },
                            {name:'VALUE'           		,index:'VALUE'           			,width:40    ,align:'center' ,sortable:false ,cellattr: attrSettingStrategyMetric,	formatter:'number', formatoptions:{decimalSeparator:".", thousandsSeparator:",", decimalPlaces:"0"} },

							{name:'METRIC_NM'    			,index:'METRIC_NM'    				,width:150   ,align:'center' ,sortable:false ,formatter:linkMetricDetail},
							{name:'SC_DEPT_NM'    			,index:'SC_DEPT_NM'    				,width:80    ,align:'center' ,sortable:false },
							{name:'METRIC_TARGET'    		,index:'METRIC_TARGET'    			,width:40    ,align:'center' ,sortable:false,	formatter:'number', formatoptions:{decimalSeparator:".", thousandsSeparator:",", decimalPlaces:"0"} },
							{name:'METRIC_ACTUAL'    		,index:'METRIC_ACTUAL'    			,width:40    ,align:'center' ,sortable:false,	formatter:'number', formatoptions:{decimalSeparator:".", thousandsSeparator:",", decimalPlaces:"0"} },
							{name:'METRIC_SCORE' 			,index:'METRIC_SCORE' 				,width:40    ,align:'center' ,sortable:false },

							{name:'STRAT_ID'    			,index:'STRAT_ID'    				,width:100   ,align:'center' ,sortable:false },
							{name:'STRAT_CNT'    			,index:'STRAT_CNT'    				,width:100   ,align:'center' ,sortable:false },
							{name:'STRAT_INDEX'    			,index:'STRAT_INDEX'    			,width:100   ,align:'center' ,sortable:false },
							##{name:'STATUS_ID' 			,index:'STATUS_ID' 					,width:20    ,align:'center' ,sortable:false },
							##{name:'STRAT_SUBJECT_STATUS_ID' ,index:'STRAT_SUBJECT_STATUS_ID' 	,width:150   ,align:'center' ,sortable:false },

							{name:'CSF_ID'           		,index:'CSF_ID'           			,width:100   ,align:'center' ,sortable:false },
                            {name:'CSF_CNT'          		,index:'CSF_CNT'          			,width:100   ,align:'center' ,sortable:false },
							{name:'CSF_INDEX'          		,index:'CSF_INDEX'          		,width:100   ,align:'center' ,sortable:false },
							##{name:'SUBJECT_STATUS_ID'    	,index:'SUBJECT_STATUS_ID'    		,width:250   ,align:'center' ,sortable:false },

							{name:'MAN_KPI_ID'    			,index:'MAN_KPI_ID'    				,width:100   ,align:'center' ,sortable:false },
							{name:'MAN_KPI_CNT'   			,index:'MAN_KPI_CNT'   				,width:100   ,align:'center' ,sortable:false },
							{name:'MAN_KPI_INDEX'   		,index:'MAN_KPI_INDEX'   			,width:100   ,align:'center' ,sortable:false },
							##{name:'SUBJECT_METRIC_STATUS_ID' ,index:'SUBJECT_METRIC_STATUS_ID' 	,width:150   ,align:'center' ,sortable:false },

							{name:'METRIC_ID'            	,index:'METRIC_ID'            		,width:100   ,align:'center' ,sortable:false },
							{name:'METRIC_STATUS_ID'     	,index:'METRIC_STATUS_ID'     		,width:100   ,align:'center' ,sortable:false ,formatter:linkMetricSignal }
                            ],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			caption:"내부평가지표연계표"
		})
		.jqGrid('hideCol',"STRAT_ID").jqGrid('hideCol',"STRAT_CNT").jqGrid('hideCol',"STRAT_INDEX").jqGrid('hideCol',"STATUS_ID")
		.jqGrid('hideCol',"CSF_ID").jqGrid('hideCol',"CSF_CNT").jqGrid('hideCol',"CSF_INDEX")##.jqGrid('hideCol',"SUBJECT_STATUS_ID")
		.jqGrid('hideCol',"MAN_KPI_ID").jqGrid('hideCol',"MAN_KPI_CNT").jqGrid('hideCol',"MAN_KPI_INDEX")##.jqGrid('hideCol',"SUBJECT_METRIC_STATUS_ID")
		.jqGrid('hideCol',"METRIC_ID")
		.setGridWidth($!{jqGrid_width});
        //}).jqGrid('hideCol',"YEAR").setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 년도별 전략과제 change 이벤트
		 ******************************************/
		$('#findYear').change(function(){
			chgStratSubject();
		});

		/******************************************
		 * 전략과제  change 이벤트
		 ******************************************/
		$('#findStratId').change(function(){
			chgCsf();
		});

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
	});

	/******************************************
	 * 년도별 전략과제 조회
	 ******************************************/
	function chgStratSubject(){

		J.ajax({
        	url      : "$!{context_path}/man/mon/metricMappingTab/getStratSubjectList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("findStratId").empty();
				J('<option/>').attr('value','').text("전체").appendTo('#findStratId');
				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findStratId');
				})
				chgCsf();
			}
    	});
	}


	/******************************************
	 * 전략과제 변경시 CSF 변경 (AJAX)
	 ******************************************/
	function chgCsf(){
		J.ajax({
        	url      : "$!{context_path}/man/mon/metricMappingTab/getCsfList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#findCsfId").empty();
				J('<option/>').attr('value', "").text("전체").appendTo('#findCsfId');
				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findCsfId');
				})
        	}
    	});
	}


	/******************************************
	 * 전략과제 신호등 링크
	 ******************************************/
	function linkStrategySignal(cellvalue, options, rowObject) {
		var retVal = "";
		if( "" != rowObject.STATUS_ID ){
			retVal = "<img name=\'sig\'  src=\'$!{img_path}/common/ball/a_ball_" + rowObject.STATUS_ID + ".gif\' > " + cellvalue;
		}else {
			retVal = cellvalue;
		}
		return retVal;
	}

	/******************************************
	 * CSF 신호등 링크
	 ******************************************/
	function linkSubjectSignal(cellvalue, options, rowObject) {
		var retVal = "";
		if( "" != rowObject.CSF_ID ){
			retVal = "<img name=\'sig\'  src=\'$!{img_path}/common/ball/a_ball_" + rowObject.CSF_ID + ".gif\' > " + cellvalue;
		}else {
			retVal = cellvalue;
		}
		return '<a href=javascript:goSubjectPop(' + options.rowId + ')>' + retVal + '<//a>';
	}

	/******************************************
	 * KGS2020KPI 신호등 링크
	 ******************************************/
	function linkStrategyMetricSignal(cellvalue, options, rowObject) {
		var retVal = "";
		if( "" != rowObject.MAN_KPI_ID ){
			retVal = "<img name=\'sig\'  src=\'$!{img_path}/common/ball/a_ball_" + rowObject.MAN_KPI_ID + ".gif\' > " + cellvalue;
		}else {
			retVal = cellvalue;
		}
		return '<a href=javascript:goKgsMetricPop(' + options.rowId + ')>' + retVal + '<//a>';
	}

	/******************************************
	 * 내부평가지표 신호등 링크
	 ******************************************/
	function linkMetricSignal(cellvalue, options, rowObject) {
		var retVal = "";
		if( "" != rowObject.METRIC_STATUS_ID ){
			retVal = "<img name=\'sig\'  src=\'$!{img_path}/common/ball/ball_" + rowObject.METRIC_STATUS_ID + ".gif\' > "; ## + cellvalue;
		}else {
			retVal = cellvalue;
		}
		return retVal;
	}

	/******************************************
	 * 내부평가지표 링크
	 ******************************************/
	function linkMetricDetail(cellvalue, options, rowObject) {
		return '<a href=javascript:goMetricPop(' + options.rowId + ')>' + cellvalue + '<//a>';;
	}

	/******************************************
	 * KGS2020KPI 링크
	 ******************************************/
	function linkKgsDetail(cellvalue, options, rowObject) {
		return '<a href=javascript:goKgsMetricPop(' + options.rowId + ')>' + cellvalue + '<//a>';;
	}

	/*****************************************
	 * 전략과제 Rowspan 설정
	 ******************************************/
	function attrSettingStrategy(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.STRAT_INDEX;
		var rowSpan = rowObject.STRAT_CNT;

		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		return result;
	}

	/*****************************************
	 * CSF Rowspan 설정
	 ******************************************/
	function attrSettingSubject(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.CSF_INDEX;
		var rowSpan = rowObject.CSF_CNT;

		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		return result;
	}

	/*****************************************
	 * KGS2020KPI Rowspan 설정
	 ******************************************/
	function attrSettingStrategyMetric(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.MAN_KPI_INDEX;
		var rowSpan = rowObject.MAN_KPI_CNT;

		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		return result;
	}


	/******************************************
	 * 세부과제 팝업
	 ******************************************/
	function goSubjectPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = J("#findYear").val();
		var findMon = J("#findMon").val();
		var findCsfId = ret.SUBJECT_ID;
		var param = "&amp;findYear=" + findYear + "&amp;findMon=" + findMon + "&amp;findCsfId=" + findCsfId;

		var url = "$!{context_path}/str/mon/subjectDetail/popSubjectDetailList.vw?type=popup" + param;
		openWinByName(url,'popSubjectMapping','900','500','yes');
	}


	/******************************************
	 * KGS2020KPI 팝업
	 ******************************************/
	function goKgsMetricPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = J("#findYear").val();
		var findMon = J("#findMon").val();
		var findSubjectMetricId = ret.MAN_KPI_ID;
		var param = "&amp;findYear=" + findYear + "&amp;findMon=" + findMon + "&amp;findSubjectMetricId=" + findSubjectMetricId;

		var url = "$!{context_path}/man/mon/metric/popMetricList.vw?type=popup" + param;
		openWinByName(url,'popMetricMapping','900','500','yes');
	}

	/******************************************
	 * 내부평가지표 팝업
	 ******************************************/
	function goMetricPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = J("#findYear").val();
		var findMon = J("#findMon").val();
		var findMetricId = ret.METRIC_ID;

		var param = "&amp;year=" + findYear + "&amp;findMon=" + findMon + "&amp;metricId=" + findMetricId + "&amp;analCycle=Y";

		var url = "$!{context_path}/bsc/mon/metricActualDetail/popMetricActualDetailList.vw?type=popup" + param;
		openWinByName(url,'popMetricMapping','1250','640','yes');
	}

	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#yearNm").val(J("#findYear > option:selected").text());
		J("#monNm").val(J("#findMon > option:selected").text());
		J("#stratNm").val(J("#findStratId > option:selected").text());
		J("#csfNm").val(J("#findCsfId > option:selected").text());

		J("#formList").attr("action", "$!{context_path}/man/mon/metricMappingTab/metricMappingTabListExcel.vw?type=excel").submit();
		return false;
	}

	/******************************************
	 * 검색조건 선택시 바로 검색
	 ******************************************/
	function goSearch() {
		J("#formFind").attr("action", "$!{context_path}/man/mon/metricMappingTab/metricMappingTabList.vw?type=template").submit();

	}


//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">내부평가지표연계표</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/man/mon/metricMappingTab/metricMappingTabList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="내부평가지표연계표검색 조건">
						<caption class="none">내부평가지표연계표 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80" onchange="goSearch();">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
										<select id="findMon" name="findMon" class="select w70" onchange="goSearch();">
            								$!CS_CODE.getCodeOption("024", $!{searchMap.txt2html("findMon")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w270">
									<span><label for="findStratId">전략과제</label></span>
            						<span class="searchBar">
            							<select id="findStratId" name="findStratId" class="select w200" onchange="chgCsf()">
												<option value="" $!{CS_HTML.getSelected("", $!{searchMap.txt2html("findStratId")})}>전체</option>
											#if ( 0 < $stratSubjectList.size() )
    											#foreach($list in $stratSubjectList)
												<option value="$!{CS_HTML.txt2html($list.STRAT_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.STRAT_ID)}, $!{searchMap.txt2html("findStratId")})}>$!{CS_HTML.txt2html($list.STRAT_NM)}</option>
    											#end
											#end
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w270">
									<span><label for="findCsfId">CSF</label></span>
            						<span class="searchBar">
            							<select id="findCsfId" name="findCsfId" class="select w200">
												<option value="" $!{CS_HTML.getSelected("", $!{searchMap.txt2html("findCsfId")})}>전체</option>
											#if ( 0 < $subjectList.size() )
    											#foreach($list in $subjectList)
												<option value="$!{CS_HTML.txt2html($list.CSF_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.CSF_ID)}, $!{searchMap.txt2html("findCsfId")})}>$!{CS_HTML.txt2html($list.CSF_NM)}</option>
    											#end
											#end
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/man/mon/metricMappingTab/metricMappingTabProcess.vw?type=template">
			<input type="hidden" id="mode"       	 name="mode" />
			<input type="hidden" id="year"		 	 name="year" />
			<input type="hidden" id="yearNm"		 name="yearNm" />
			<input type="hidden" id="monNm"		 	 name="monNm" />
			<input type="hidden" id="stratNm" 		 name="stratNm" />
			<input type="hidden" id="csfNm"		 	 name="csfNm" />

			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="내부평가지표연계표 조회결과">
							<caption class="none">내부평가지표연계표 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:145px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀변환" alt="엑셀다운로드" />
						</div>
						<div class="blockButton">
							<!--
							<ul>
								<li><input type="button" id="btnInsert" value="신규" /></li>
								<li><input type="submit" id="btnDelete" value="삭제" /></li>
							</ul>
							-->
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>
