#*************************************************************************
* CLASS 명      : metricMappingModify
* 작 업 자      : 박경태 
* 작 업 일      : 2012년 11월 6일 
* 기    능      : 경평지표매핑    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    박경태      2012년 11월 6일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    	/******************************************
    	 * 디폴트 선택
    	 ******************************************/
		goAction("$!{topCodeInfo.SC_DEPT_ID}", "$!{topCodeInfo.SC_DEPT_NM})}");
		
		/******************************************
		 * 입력완료 버튼 이벤트
		 ******************************************/
		J("#btnSubMetricInsert").click(function(e) {
			setMetricInfo();
		});
		
		try {
			$("input", ".blockButton" ).button(); //버튼 ui 적용
		} catch(err) { }
	});
	
	/******************************************
	 * 세부지표 setting
	 ******************************************/
	function setMetricInfo() {
		var metricIds = "";
		
		if(J("#targetData option").size()>0){
    		J("select option", "#target").each(function () {
    			var str = J(this).text();
    			var metricId = J(this).val();
    			var metricNm = str.split("[")[0];
    			var scDeptNm = str.split("[")[1].split("]")[0];
				
    			metricIds += metricId + '|';
    		});
			J("#metricIds").val(metricIds);
			goInsert();
		}
		
		J.fancybox.close();
	}
	
	/******************************************
	 * 조직선택 클릭이벤트
	 ******************************************/
	function goAction(scDeptId, scDeptNm) {

		J.ajax({
			url        : "$!{searchMap.txt2html("context")}/bsc/base/calMetric/metricInfo_ajax.vw",
        	type       : "POST",
			data       : "findYear=$!{searchMap.txt2html("findYear")}&amp;scDeptId=" + scDeptId,
        	dataType   : "xml",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success    : function (xml) {
				J("#sourceData").empty();
				
				if(J(xml).find("items").find("item").length > 0) {
					$(xml).find("items").find("item").each(function() {  
                    	var metricId   = $(this).find("metricId").text();
                    	var metricNm   = $(this).find("metricNm").text();
						var scDeptId   = $(this).find("scDeptId").text();
						var scDeptNm   = $(this).find("scDeptNm").text();
						
						J("#sourceData").append("<option value='" + metricId +"'>" + metricNm + "[" + scDeptNm + "]" + "</option>");
                    });
				}
        	},  
			error : function(xhr, status, error) {
				alert(error);
			}
    	});
	}

	/******************************************
	 * KPI 선택하기
	 ******************************************/
	function addItem() {
		J("select option:selected", "#source").each(function () {
			
			var metricId = J(this).val();
			var metricNm = J(this).html();
			var isExist = false;
			
			//이미 등록되었는지 체크 추가
			J("select option", "#target").each(function () {
				if(metricId == J(this).val()) {
					alert("선택하신 data는 이미 선택되었습니다");
					isExist = true;
				}
			});
			
			if(isExist == false) {
				J("#targetData").append("<option value='" + metricId +"'>" + metricNm + "</option>");
				J(this).remove();
			}
			
		});
	}
	
	/******************************************
	 * KPI 삭제하기
	 ******************************************/
	function delItem() {
		J("select option:selected", "#target").each(function () {
			J("#sourceData").append("<option value='" + J(this).val() +"'>" + J(this).text() + "</option>");
			J(this).remove();
		});
	}
	
//]]>
</script>
 

<div style="width:850px;height:400px;">
	<div id="popSearchMetricArea">
		<table summary="세부지표등록">
			<caption class="none">세부지표등록</caption>
			<colgroup>
				<col width="30%" />
				<col width="30%" />
				<col width="7%" />
				<col width="33%" />
			</colgroup>
			<tr>
				<td>
            		<div class="blockGridTreeTable">
            			#parse("/WEB-INF/vl/bsc/module/commModule/commonTree.vm")
            		</div>
				</td>
				<td>
					<div id="source">
						<select multiple="multiple" id="sourceData" name="sourceData" style="height:387px;width:270px;" ondblclick="javascript:addItem();"></select>
					</div>
				</td>
				<td class="textCenter">
            		<img src="$!{searchMap.txt2html("context")}/images/common/btn_arrow2.gif" onmouseover="this.src='$!{searchMap.txt2html("context")}/images/common/btn_arrow2up.gif'" onmouseout="this.src='$!{searchMap.txt2html("context")}/images/common/btn_arrow2.gif'" onClick="addItem();"><br /><br />
            		<img src="$!{searchMap.txt2html("context")}/images/common/btn_arrow1.gif" onmouseover="this.src='$!{searchMap.txt2html("context")}/images/common/btn_arrow1up.gif'" onmouseout="this.src='$!{searchMap.txt2html("context")}/images/common/btn_arrow1.gif'" onClick="delItem();">
				</td>
				<td>
					<div id="target">
						<select multiple="multiple" id="targetData" name="targetData" style="height:387px;width:270px;" ondblclick="javascript:delItem();"></select>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="blockButton_all">			
    	<div class="blockButton_l"></div>
    	<div class="blockButton">			
    		<ul>
    			<li><input type="button" id="btnSubMetricInsert" value="입력완료" /></li>
    		</ul>
    	</div>
    </div>
</div>
