#*************************************************************************
* CLASS 명      : metricMappingList_xml
* 작 업 자      : 박경태
* 작 업 일      : 2012년 11월 7일 
* 기    능      : 기관장지표매핑 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      박경태     2012년 11월 7일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"BOSS_METRIC_ID"       : "$!{CS_HTML.txt2html($list.BOSS_METRIC_ID)}", 
		"METRIC_ID"            : "$!{CS_HTML.txt2html($list.METRIC_ID)}", 
		"METRIC_NM"            : "$!{CS_HTML.txt2html($list.METRIC_NM)}", 
		"SC_DEPT_NM"           : "$!{CS_HTML.txt2html($list.SC_DEPT_NM)}", 
		"TYPE_NM"              : "$!{CS_HTML.txt2html($list.TYPE_NM)}", 
		"METRIC_PROPERTY_NM"   : "$!{CS_HTML.txt2html($list.METRIC_PROPERTY_NM)}", 
		"INSERT_USER_NM"       : "$!{CS_HTML.txt2html($list.INSERT_USER_NM)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
