#*************************************************************************
* CLASS 명      : showRpt
* 작 업 자      : 김상용
* 작 업 일      : 2013년 06월 13일 
* 기    능      : 자기성과기술서 조회    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    김상용      2013년 06월 13일             최 초 작 업 
**************************************************************************#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
	#parse("/WEB-INF/vl/common/template/head.vm")
	
<script type="text/javascript" language="javascript" src="$!{spaceditor_path}/spac_editor_common.js"></script>
<script type="text/javascript" language="javascript" src="$!{spaceditor_path}/spac_editor.js"></script>
<link rel="stylesheet" type="text/css" href="$!{spaceditor_path}/spac_editor_common.css">
<link rel="stylesheet" type="text/css" href="$!{spaceditor_path}/spac_editor.css">
	
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    	
		var index = 0;
		
		#foreach($dept in $lastDept)
			J("#lastYearDept").append("<li id=\"lastDept" + $dept.SER + "\">$dept.DEPT_FULL_NM ( <input type=\"text\" id=\"startPcmtDate$dept.SER\" name=\"startPcmtDate\" class=\"inputbox w60\" value=\'$!{CS_FORMAT.dateFormat($!{dept.START_PCMT_DATE})}\' maxlength=\"20\" readonly /> ~ <input type=\"text\" id=\"endPcmtDate$dept.SER\" name=\"endPcmtDate\" class=\"inputbox w60\" value=\'$!{CS_FORMAT.dateFormat($!{dept.END_PCMT_DATE})}\' maxlength=\"20\" readonly /> ) </li>");
			
			index++;
		#end
		
	});
	
//]]>
</script>    
</head>
<body>
<div>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="$!{context_path}/prs/dir/jobRpt/jobRptProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      	value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           	value="$!{searchMap.txt2html("year")}" />
	<input type="hidden"	id="empn"   		name="empn"   			value="$!{searchMap.txt2html("empn")}" />
	
    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("year")}년</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="직무성과기술서 등록">
					<caption class="none">직무성과기술서 등록</caption>
    				<colgroup>
    					<col width="20%" />
    					<col width="30%" />
    					<col width="20%" />
    					<col width="30%" />
    				</colgroup>
    				<tbody>
						<tr>
    						<th scope="row" colspan="4" style="text-align:center;">직 무 성 과 기 술 서</th>
    					</tr>
						<tr>
							<th scope="row">직책</th>
    						<td>
								$!{CS_HTML.txt2html($rpt.POS_TC_NM)}
							</td>
							<th scope="row">성명</th>
    						<td>
								$!{CS_HTML.txt2html($rpt.KOR_NM)}
							</td>
						</tr>
						<tr>
							<th scope="row">직무수행기간</th>
							<td colspan="3">
								<input type="text" id="dutyStartDt" name="dutyStartDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{rpt.DUTY_START_DT})}' maxlength="20" readonly />
								~
								<input type="text" id="dutyEndDt" name="dutyEndDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{rpt.DUTY_END_DT})}' maxlength="20" readonly />
							</td>
						</tr>
						<tr>
							<th scope="row">주요내용</th>
							<td colspan="3">
								<script type="text/javascript">createEditor('rptContent','550', '$!{rpt.RPT_CONTENT.replaceAll("\r\n","").replaceAll("\\","&#92;").replaceAll("\'","\"")}', 'insertunorderedlist,insertorderedlist,createlink,unlink,attach,image_link,emoticon,special_chars,page_add,textbox,sourcebox,fullscreen,subscript,superscript,source,images');</script>
							</td>
						</tr>
						<tr>
							<th scope="row">첨부파일</th>
							<td colspan="3">
								#foreach($fileList in $fileList)
									$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))} <br/>
								#end
								
								<div>
									<ul id="fileAttach">
									</ul>
								</div>
							</td>
						</tr>
    				</tbody>
    			</table>
    		</div>
			
    	</div>
    	<div class="clear"></div>
    </div>
</form>
</div>
</body>
</html>

