#*************************************************************************
* CLASS 명      : actualConApproveList
* 작 업 자      : 김효은
* 작 업 일      : 2014년 4월 4일 
* 기    능      : 직원개인업무성과 실적확인
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     김효은      2014년 4월 4일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/prs/mngCon/actualConApprove/actualConApproveList.vw")
#set($isActual = true)
#set($findGubun = $!{searchMap.txt2html("findGubun")})
<script type="text/javascript" language="javascript" >
//<![CDATA[

    var J = jQuery;
    
    J(document).ready(function(){
    
        /******************************************
         * 데이터 그리드 출력
         ******************************************/
        var str = J('#formFind').serialize();
        
        jQuery("#list").jqGrid({
            url          :"$!{context_path}/prs/mngCon/actualConApprove/actualConApproveList_xml.vw" + "?" + str,
            mtype        :"POST",
            datatype     :"json",
            jsonReader   : {   
                            page   : "page",
                            total  : "total",
                            root   : "rows", 
                            records: function(obj){return obj.length;},
                            repeatitems: false, 
                            id     : "id"
                           },
            height       : $!{jqGrid_height},
            width        : $!{jqGrid_width},
            colNames     :['평가년도', '설정방향', '설정방향', '성과목표ID', '성과목표', '성과지표', '단위', '단위','목표량선정근거','가중치','연목표','1분기<br/>실적','2분기<br/>실적','3분기<br/>실적','4분기<br/>실적', '연실적', '점수', '실적처리상태'],
            colModel     :[
                            {name:'YEAR'                 ,index:'YEAR'                 ,width:150   ,align:'center' }, 
                            {name:'DIRECTION_CD'         ,index:'DIRECTION_CD'         ,width:100   ,align:'center' }, 
                            {name:'DIRECTION_NM'         ,index:'DIRECTION_NM'         ,width:120   ,align:'center' }, 
                            {name:'TARGET_ID'            ,index:'TARGET_ID'            ,width:150   ,align:'center' }, 
                            {name:'TARGET_NM'            ,index:'TARGET_NM'            ,width:150   ,align:'left'   }, 
                            {name:'METRIC_NM'            ,index:'METRIC_NM'            ,width:150   ,align:'left'   }, 
                            {name:'UNIT'                 ,index:'UNIT'                 ,width:150   ,align:'center' }, 
                            {name:'UNIT_NM'              ,index:'UNIT_NM'              ,width:50    ,align:'center' }, 
                            {name:'TARGET_BASIS'         ,index:'TARGET_BASIS'         ,width:100   ,align:'center' }, 
                            {name:'WEIGHT'         		 ,index:'WEIGHT'         	   ,width:50    ,align:'center' }, 
                            {name:'TARGET_VALUE'         ,index:'TARGET_VALUE'         ,width:50    ,align:'center' }, 
                            {name:'Q1_ACTUAL_VALUE'      ,index:'Q1_ACTUAL_VALUE'      ,width:50    ,align:'center' }, 
                            {name:'Q2_ACTUAL_VALUE'      ,index:'Q2_ACTUAL_VALUE'      ,width:50    ,align:'center' }, 
                            {name:'Q3_ACTUAL_VALUE'      ,index:'Q3_ACTUAL_VALUE'      ,width:50    ,align:'center' }, 
                            {name:'Q4_ACTUAL_VALUE'      ,index:'Q4_ACTUAL_VALUE'      ,width:50    ,align:'center' }, 
                            {name:'VALUE'                ,index:'VALUE'                ,width:50    ,align:'center' }, 
                            {name:'SCORE'                ,index:'SCORE'                ,width:50    ,align:'center' }, 
                            {name:'ACT_STATUS_ID'        ,index:'ACT_STATUS_ID'        ,width:150   ,align:'center' } 
                            ],
            rowNum       : $!{jqGrid_rownum},
            autowidth    : false, 
            viewrecords  : true,
            loadonce     : true,
            multiselect  : false,
            cellEdit     : true,
            gridview     : true,
            caption:"직원개인업무성과 실적확인"
        });
		jQuery("#list").jqGrid('hideCol',"YEAR").jqGrid('hideCol',"DIRECTION_CD").jqGrid('hideCol',"TARGET_ID").jqGrid('hideCol',"UNIT").jqGrid('hideCol',"ACT_STATUS_ID");
        jQuery("#list").setGridWidth($!{jqGrid_width});
        
        /******************************************
         * 조회
         ******************************************/
        J("#formFind").submit(function(event) {
            //submit 하기전 작업추가
        });
		
		/******************************************
         * FANCYBOX
         ******************************************/
        J("#anchor").fancybox();      //상세팝업
                
        /******************************************
         * 취소버튼 (돌아가기)
         ******************************************/
        J("#btnBack").click(function() {
            J("#formFind").attr("action", "$!{context_path}/prs/mngCon/actualConApprove/evalMngList.vw?type=template").submit();
        });
		
        /******************************************
         * 이중 클릭 방지
         ******************************************/
        J("form").submit(function(){
            J("#btnBack").unbind();
        });
                        
        /******************************************
         * 반려 클릭 이벤트
         ******************************************/
        J("#btnReturn").click(function() {
            popReturnReason();
            return false;
        });
        
        /******************************************
         * 확인
         ******************************************/
        J("#btnApprove").click(function(e) {
            e.preventDefault();
            goApprove();
        });
        
		 /******************************************
         * 엑셀다운로드 버튼 클릭 이벤트
         ******************************************/
        J("#btnExcelDown").click(function() {
            excelDownload();
            return false;
        });
        
    });

    /******************************************
     * 반려사유 선택
     ******************************************/
    function popReturnReason(){
        var actStatusId = "$!{CS_HTML.txt2html($membersTable.ACT_STATUS_ID)}";

        if("$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" != "04"){
            J.showMsgBox("[" + $!{CS_HTML.txt2html($membersTable.KOR_NM)} + "] 성과계획서가 최종확인 되지 않았습니다.<br/>최종확인 후 진행하여 주시기 바랍니다.", null, null);
            return false;
        }
                                
        if("$!{findGubun}" == "01"){
            if(actStatusId != "02"){
                J.showMsgBox("[$!{CS_HTML.txt2html($membersTable.KOR_NM)}] 확인요청 상태가 아닙니다.<br/> 반려 할 수 없습니다.", null, null);
                return false;
            }
        } else if("$!{findGubun}" == "02"){
            if(actStatusId != "03" && actStatusId != "04"){
                J.showMsgBox("[$!{CS_HTML.txt2html($membersTable.KOR_NM)}] 주관부서 확인요청 상태가 아닙니다.<br/> 반려 할 수 없습니다.", null, null);
                return false;
            }
        }
        J("#evalMembEmpns").val(J("#evalMembEmpn").val());
        J("#evalMembEmpnSeqs").val(J("#evalMembEmpnSeq").val());
        J("#anchor").attr("href","$!{context_path}/prs/mngCon/actualConApprove/popReturnReason.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;evalMembEmpn="+J("#evalMembEmpn").val()+"&amp;evalMembEmpnSeq="+J("#evalMembEmpnSeq").val());
        J("#anchor").click();
        return false;
    }
    
    /******************************************
     * 반려사유 처리
     ******************************************/
    function returnDo(){
         J("#mode").val("RETURN");
         J("#year").val( J("#findYear").val());
         J("#formList").attr("action", "$!{searchMap.txt2html("context")}/prs/mngCon/actualConApprove/actualConApproveProcess.vw?type=template").submit();
         return false;
    }
     
    /******************************************
     * 확인요청 
     ******************************************/
    function goApprove() {
        var actStatusId = "$!{CS_HTML.txt2html($membersTable.ACT_STATUS_ID)}";
        
        if("$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_ID)}" != "04"){
            J.showMsgBox("[" + $!{CS_HTML.txt2html($membersTable.KOR_NM)} + "] 성과계획서가 최종확인 되지 않았습니다.<br/>최종확인 후 진행하여 주시기 바랍니다.", null, null);
            return false;
        }else{
                                
        if(J("#findGubun").val() == "01"){
            if(actStatusId != "02"){
                J.showMsgBox("[$!{CS_HTML.txt2html($membersTable.KOR_NM)}] 확인요청 상태가 아닙니다.<br/> 확인 할 수 없습니다.", null, null);
                return false;
            }
        } else{
            if(actStatusId != "03"){
                J.showMsgBox("[$!{CS_HTML.txt2html($membersTable.KOR_NM)}] 주관부서 확인요청 상태가 아닙니다.<br/> 확인 할 수 없습니다.", null, null);
                return false;
            }
        }
        
        J("#year").val(J("#findYear").val());
        J("#evalMembEmpns").val(J("#evalMembEmpn").val());
        J("#evalMembEmpnSeqs").val(J("#evalMembEmpnSeq").val());
        J("#gubun").val(J("#findGubun").val());
        J.showConfirmBox("확인 하시겠습니까?", "approveDo"); //deleteDo() 콜백함수 호출
        return false;
   	 }
    }
    
    /******************************************
     * 확인요청
     ******************************************/
    function approveDo() {
        J("#mode").val("APC");
        J("#formList").attr("action", "$!{context_path}/prs/mngCon/actualConApprove/actualConApproveProcess.vw?type=template").submit();
        
        return false;
    }
	
	 /******************************************
     * 엑셀다운로드
     ******************************************/
    function excelDownload(){
		J("#yearNm").val("$!{CS_HTML.txt2html($membersTable.YEAR)}년");
		J("#evalMembEmpnExcel").val(J("#evalMembEmpn").val());
		J("#evalMembEmpnSeqExcel").val(J("#evalMembEmpnSeq").val());
		J("#korNm").val("$!{CS_HTML.txt2html($membersTable.KOR_NM)}");
		J("#deptKorNm").val("$!{CS_HTML.txt2html($membersTable.DEPT_KOR_NM)}");
		J("#posTcNm").val("$!{CS_HTML.txt2html($membersTable.POS_TC_NM)}");
		J("#castTcNm").val("$!{CS_HTML.txt2html($membersTable.CAST_TC_NM)}");
		J("#approveUserNm").val("$!{CS_HTML.txt2html($membersTable.APPROVE_USER_NM)}");
		J("#planStatusNm").val("$!{CS_HTML.txt2html($membersTable.PLAN_STATUS_NM)}");
		J("#finalApproveDt").val("$!{CS_HTML.txt2html($membersTable.FINAL_APPROVE_DT)}");
		J("#actualStatusNmExcel").val(J("#actualStatusNm").text());
        J("#formList").attr("action", "$!{context_path}/prs/mngCon/actualConApprove/actualConApproveListExcel.vw?type=excel").submit();
        return false;
    }

//]]>
</script>

<div id="Table">
    <div id="Table_blockContainer">
        <h1 class="none">직원개인업무성과 실적확인</h1>
        <div class="tableTop">
            #parse("/WEB-INF/vl/common/template/tabs.vm")
            
            <!-- search S -->
            <form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/mngCon/actualConApprove/actualConApproveList.vw?type=template">
                <input type="hidden"    id="findHighPgmId"  	name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
                <input type="hidden"    id="findSubPgmId"   	name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
                <input type="hidden"    id="findPgmId"      	name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
                <input type="hidden"    id="findYear"           name="findYear"         value="$!{searchMap.txt2html("findYear")}" />
                <input type="hidden"    id="findMon"            name="findMon"          value="$!{searchMap.txt2html("findMon")}" />
				<input type="hidden"    id="findGubun"     		name="findGubun"        value="$!{searchMap.txt2html("findGubun")}" />
                <input type="hidden"    id="findEvalMethodId"   name="findEvalMethodId" value="$!{searchMap.txt2html("findEvalMethodId")}" />
                <input type="hidden"    id="evalMembEmpn"       name="evalMembEmpn"     value="$!{searchMap.txt2html("evalMembEmpn")}" />
                <input type="hidden"    id="evalMembEmpnSeq"    name="evalMembEmpnSeq"  value="$!{searchMap.txt2html("evalMembEmpnSeq")}" />
                <!--<div id="memberData"></div>-->
                #parse("/WEB-INF/vl/prs/mngCon/planMngCon/membersTable.vm")
            </form>
            <!-- search E -->
            <div class="clear"></div>
        </div>
        
        <form id="formList" name="formList" method="post" action="$!{context_path}/prs/mngCon/actualConApprove/actualConApproveProcess.vw?type=template">
            <input type="hidden" id="mode"       		  name="mode" />
            <input type="hidden" id="year"       		  name="year" />
            <input type="hidden" id="mon"                 name="mon"              value="$!{searchMap.txt2html("mon")}" />
            <input type="hidden" id="actStatusId"         name="actStatusId"      value="01"/>
            <input type="hidden" id="evalMembEmpns"       name="evalMembEmpns" />
            <input type="hidden" id="evalMembEmpnSeqs"    name="evalMembEmpnSeqs" />
			<input type="hidden" id="yearNm"              name="yearNm" />
            <input type="hidden" id="korNm"               name="korNm" />
            <input type="hidden" id="deptKorNm"           name="deptKorNm" />
            <input type="hidden" id="posTcNm"             name="posTcNm" />
            <input type="hidden" id="castTcNm"            name="castTcNm" />
            <input type="hidden" id="approveUserNm"       name="approveUserNm" />
            <input type="hidden" id="planStatusNm"        name="planStatusNm" />
            <input type="hidden" id="finalApproveDt"      name="finalApproveDt" />
			<input type="hidden" id="evalMembEmpnExcel"   name="evalMembEmpnExcel" />
            <input type="hidden" id="evalMembEmpnSeqExcel"name="evalMembEmpnSeqExcel" />
            <input type="hidden" id="actualStatusNmExcel" name="actualStatusNmExcel" />
            <input type="hidden" id="returnCause" 		  name="returnCause" />
            <input type="hidden" id="gubun" 		  	  name="gubun" />
            
            $!{searchMap.makeHiddenFind()}
            <div id="splitterBox">
                <div>
                    <!-- 데이터그리드 Start -->
                    <div class="blockGridListTable">
                        <table id="list" summary="직원개인업무성과 실적확인 조회결과">
                            <caption class="none">직원개인업무성과 실적확인 조회</caption>
                            <thead><tr><th></th></tr></thead>
                            <tbody><tr><td></td></tr></tbody>
                        </table>
                        <div id="pager"></div>
                    </div>
					<div class="blockDetail">
        			<table summary="자기성과기술서 등록">
    					<caption class="none">자기성과기술서 등록</caption>
        				<colgroup>
        					<col width="10%" />
        					<col width="90%" />
						</colgroup>
    				<tbody>
					<tr>
						<th scope="row"><label for="attach">증빙자료</label></th>
							<td colspan="8">
								#foreach($fileList in $fileList)
									$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))} 
								#end
							</td>
						</tr>
					</tbody>
					</table>
					</div>
                    <!--// 데이터그리드 End -->
                   <div class="blockButton_all">
						#if($findGubun=="02")
						<div class="blockButton" style="float:left; text-align:left; width:100px;">
                            <input type="button" id="btnExcelDown" align="middle" value="엑셀변환" />
                        </div>
						#end
                        <div class="blockButton">
                            <ul>
                                <li><input type="button" id="btnBack" value="돌아가기"/></li>
                                <li><input type="button" id="btnReturn" value="반려" /></li>
                                <li><input type="button" id="btnApprove" value="확인" /></li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
        
    </div>
	    <a id="anchor"></a>
    <div class="clear"></div>
</div>
