#*************************************************************************
* CLASS 명      : systemDataList_xml
* 작 업 자      : 김기현
* 작 업 일      : 2012년 6월 26일 
* 기    능      : 시스템 연계데이터 조회 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김기현     2012년 6월 26일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"SC_DEPT_NM"   		   : "$!{CS_HTML.txt2html($!CS_SC_DEPT.getName($!{searchMap.txt2html("findYear")}, $list.SC_DEPT_ID))}",
		"METRIC_NM_CAL"        : "$!{CS_HTML.txt2html($list.METRIC_NM_CAL)}", 
		"ITEM_NM"              : "$!{CS_HTML.txt2html($list.ITEM_NM)}", 
		"ITEM_DIVI_NM"         : "$!{CS_HTML.txt2html($list.ITEM_DIVI_NM)}", 
		"TIME_ROLLUP_NM"       : "$!{CS_HTML.txt2html($list.TIME_ROLLUP_NM)}", 
		"SYSTEM_ACTUAL"        : "$!{CS_HTML.txt2html($list.SYSTEM_ACTUAL)}", 
		"ACTUAL"               : "$!{CS_HTML.txt2html($list.ACTUAL)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
