#*************************************************************************
* CLASS 명      : closingYearList_xml
* 작 업 자      : 정철수
* 작 업 일      : 2012년 6월 8일 
* 기    능      : 년마감관리 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     정 철 수      2012.06.08         최 초 작 업 
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"           : "$!{CS_HTML.txt2html($list.YEAR)}",
		"CLOSING_YN_NM"  : "$!{CS_HTML.txt2html($list.CLOSING_YN)}",
		"CLOSING_YN"     : "$!{CS_HTML.txt2html($list.CLOSING_YN)}",
		"CLOSING_VAL"    : "$!{CS_HTML.txt2html($list.CLOSING_YN)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}


 

