#*************************************************************************
* CLASS 명      : orgDetailList
* 작 업 자      : 정철수
* 작 업 일      : 2012년 8월 20일
* 기    능      : 조직상세
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     정철수      2012년 8월 20일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/bsc/mon/orgDetail/orgDetailList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		var col_02 = "";
		var col_03 = "";

		#if( 'Y' == $!{searchMap.txt2html("findAnalCycle")} )
			col_02 = "누계목표";
			col_03 = "누계실적";
		#else
			col_02 = "당월목표";
			col_03 = "당월실적";
		#end

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/mon/orgDetail/orgDetailList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :[ '$!{DIRECTION_NM}', '$!{PERSPECTIVE_NM}', '$!{STRATEGY_NM} 코드', '$!{STRATEGY_NM}', 'CSF 코드', 'CSF', '$!{METRIC_NM} 코드', '$!{METRIC_NM}', 'UP_METRIC_ID' ,'주기' , '$!{WEIGHT}' , '단위', '목표', '실적','점수', '최종점수', '최종점수', '상태',''],
			colModel     :[
							{name:'DIRECTION_NM'      	,index:'DIRECTION_NM'   	,width:80    ,align:'left',		sortable:true },
                            {name:'PERSPECTIVE_NM'      ,index:'PERSPECTIVE_NM'   	,width:90    ,align:'center',	sortable:true },
							{name:'STRATEGY_ID'			,index:'STRATEGY_ID'        ,width:150   ,align:'left',		sortable:true },
							{name:'STRATEGY_NM'			,index:'STRATEGY_NM'        ,width:120   ,align:'left',		sortable:true },
                            {name:'CSF_ID'				,index:'CSF_ID'        		,width:150   ,align:'left',		sortable:true },
							{name:'CSF_NM'				,index:'CSF_NM'       	 	,width:120   ,align:'left',		sortable:true },
                            {name:'METRIC_ID'          	,index:'METRIC_ID'          ,width:150   ,align:'left',		sortable:true },
							{name:'METRIC_NM'          	,index:'METRIC_NM'          ,width:200   ,align:'left'   ,formatter:linkUpdateMetric,		sortable:true },
							{name:'UP_METRIC_ID'        ,index:'UP_METRIC_ID'       ,width:150   ,align:'left',		sortable:true },
                            {name:'EVAL_CYCLE_NM'       ,index:'EVAL_CYCLE_NM'      ,width:40    ,align:'center',		sortable:true },
							{name:'WEIGHT'              ,index:'WEIGHT'             ,width:60    ,align:'center',		sortable:true },
							{name:'UNIT_NM'             ,index:'UNIT_NM'            ,width:40    ,align:'center',		sortable:true },
                            {name:'TARGET'              ,index:'TARGET'             ,width:80    ,align:'right',		sortable:true },
                            {name:'ACTUAL'            	,index:'ACTUAL'            	,width:80    ,align:'right'  ,formatter:linkUpdateActual,		sortable:true },
							{name:'FINAL_SCORE'         ,index:'FINAL_SCORE'        ,width:60    ,align:'right',		sortable:true },
							{name:'WEIGHT_SCORE'        ,index:'WEIGHT_SCORE'       ,width:60    ,align:'right',		sortable:true },
							{name:'EXCSCORE'        	,index:'EXCSCORE'       	,width:60    ,align:'right',		sortable:true },
                            {name:'STATUS'        		,index:'STATUS'            	,width:40    ,align:'center' ,formatter:linkUpdateSignal },
							{name:'ACT_YN'        		,index:'ACT_YN'       		,width:18    ,align:'left'   ,formatter:linkUpdateMetric_sub,		sortable:true }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			footerrow	 : true,
			userDataOnFooter : true,
			##cmTemplate: {sortable:false},
			caption:"조직상세",
			loadComplete : function() {
								var grid = J("#list");
                				grid.jqGrid('footerData', 'set', {PERSPECTIVE_NM:"총계"});
								calculateSumGridColumn(grid,"WEIGHT");
								calculateSumGridColumn2(grid,"EXCSCORE","WEIGHT_SCORE");
						   }
		}).jqGrid('hideCol',"DIRECTION_NM").jqGrid('hideCol',"UP_METRIC_ID").jqGrid('hideCol',"STRATEGY_ID").jqGrid('hideCol',"CSF_ID").jqGrid('hideCol',"METRIC_ID").setGridWidth($!{jqGrid_r_width}).jqGrid('hideCol',"WEIGHT_SCORE");

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			var findYear = J("#findYear").val();
			var oldYear = J("#oldYear").val();

			if(findYear == oldYear) {
    			goGridSearch();
    			return false;
			}
		});

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});

		/******************************************
		 * 성과조직 리셋 이벤트
		 ******************************************/
		J("#icCancel").click(function() {
			 J.setInit('findScDeptId', 'findScDeptNm');
		});

		/******************************************
		 * fancybox 설정
		 ******************************************/
		J("#anchor").fancybox();    //조직선택 팝업

		/******************************************
		 * 대시보드 에서 비교조직 선택해서 들어왔을 때 백버튼 클릭시 돌아가기 설정
		 ******************************************/
		if(J("#mainFlag").val()=="true") {
			var key="";

			document.onkeydown = function(e) {
            	key = (e) ? e.keyCode : event.keyCode;

				if(key==8 || key==116) {
              		if(e) {
               			e.preventDefault();
              		} else {
               			event.keyCode = 0;
               			event.returnValue = false;
              		}
             	}
            }
		}
	});

	/******************************************
	 * 지표정의서
	 ******************************************/
	function linkUpdateMetric(cellvalue, options, rowObject) {

		var str = cellvalue;

		if(rowObject.UP_METRIC_ID != "") {
			str = "<img src=\'$!{img_path}/tree.gif\' align='absmiddle'>" + str
		}

		return '<a href=javascript:goPopMetricDetail(' + options.rowId + ')>' + str + '<//a>';

	}

	/******************************************
	 * 실적상세
	 ******************************************/
	function linkUpdateActual(cellvalue, options, rowObject) {
		return "<a href=javascript:goPopMetricActualDetail(" + options.rowId + ")>" + cellvalue+ "</a>";
	}

	/******************************************
	 * 실적상세
	 ******************************************/
	function linkUpdateSignal(cellvalue, options, rowObject) {
		return "<a href=javascript:goPopMetricActualDetail(" + options.rowId + ")>" + "<img name=\'sig\'  src=\'$!{img_path}/common/ball/ball_" + cellvalue + ".gif\' >" + "</a>";
	}

	function linkUpdateMetric_sub(cellvalue, options, rowObject) {
		var ret_val = "";

		if(rowObject.ACT_YN == '1'){

			ret_val = "</a></span>" + "<a href=javascript:goPopMetricAttach(" + options.rowId + ")>" + "<img name=\'opi\'  src=\'$!{img_path}/common/board/ic_search.gif\' >" + "</a>";

		}

		return ret_val;
	}

	/******************************************
	 * 코칭,의견,Activity
	 ******************************************/
	function goOpinionDetail(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		J("#year").val(J("#findYear :selected").val());
		J("#mon").val(J("#findMon :selected").val());
		J("#scDeptId").val(J("#findScDeptId").val());
		J("#strategyId").val(ret.STRATEGY_ID);
		J("#metricId").val(ret.METRIC_ID);


		J("#formList").attr("action", "$!{context_path}/bsc/mon/metricActivityPlan/metricInitActPlanList.vw?type=template").submit();
	}

	/******************************************
	 * 지표정의서버튼 클릭 이벤트
	 ******************************************/
	function goPopMetricAttach(rowId) {

		var ret = J("#list").jqGrid('getRowData',rowId);

		var scDeptId = J("#findScDeptId").val();
		var strategyId = ret.STRATEGY_ID;
		var metricId = ret.METRIC_ID;
		var year = J("#findYear :selected").val();
		var mon = J("#findMon :selected").val();
		var analCycle = J(":input:radio[name=findAnalCycle]:checked").val();

		var param = "&amp;year=" + year + "&amp;mon=" + mon + "&amp;metricId=" + metricId + "&amp;analCycle="+analCycle+ "&amp;scDeptId="+scDeptId;

		var url = "$!{context_path}/bsc/tam/actualMng/popMetricAttachList.vw?type=popup" + param;
		openWinByName(url,'MetricDefinePop','600','450','yes');

	}

	/******************************************
	 * 지표정의서버튼 클릭 이벤트
	 ******************************************/
	function goPopMetricDetail(rowId) {

		var ret = J("#list").jqGrid('getRowData',rowId);

		var scDeptId = J("#findScDeptId").val();
		var strategyId = ret.STRATEGY_ID;
		var metricId = ret.METRIC_ID;
		var year = J("#findYear :selected").val();
		var mon = J("#findMon :selected").val();
		var analCycle = J(":input:radio[name=findAnalCycle]:checked").val();

		var param = "&amp;year=" + year +"&amp;findYear=" + year + "&amp;findMon=" + mon + "&amp;metricId=" + metricId + "&amp;analCycle="+analCycle+ "&amp;findScDeptId="+scDeptId;

		var url = "$!{context_path}/bsc/mon/metricDefine/metricDefineList.vw?type=popup" + param;
		openWinByName(url,'MetricDefinePop','1250','650','yes');

	}

	/*****************************************************
	 * 실적상세 팝업
	 *****************************************************/
    function goPopMetricActualDetail(rowId){

		var ret = J("#list").jqGrid('getRowData',rowId);

		var scDeptId = J("#findScDeptId").val();
		var strategyId = ret.STRATEGY_ID;
		var metricId = ret.METRIC_ID;
		var year = J("#findYear :selected").val();
		var mon = J("#findMon :selected").val();
		var analCycle = J(":input:radio[name=findAnalCycle]:checked").val();

		var param = "&amp;year=" + year + "&amp;findMon=" + mon + "&amp;metricId=" + metricId + "&amp;analCycle="+analCycle;

		var url = "$!{context_path}/bsc/mon/metricActualDetail/popMetricActualDetailList.vw?type=popup" + param;
		openWinByName(url,'popMetricDetail','1250','650','yes');

    }

	/******************************************
	 * KPI 설정 취소
	 ******************************************/
	function scDeptInit() {
		J("#findScDeptId").val("");
		J("#findScDeptNm").val("");
	}

	/*****************************************************
	 * 조직선택 설정
	 *****************************************************/
	function setDeptInfoPop(scDeptId, scDeptNm) {
		scDeptNm = J(scDeptNm).text();
		J("#findScDeptId").val(scDeptId);
		J("#findScDeptNm").val(scDeptNm);
		J.fancybox.close();
	}

	/******************************************
	 * 조직트리 선택
	 ******************************************/
	function goAction(code, name) {
		var scDeptNm = J(name).text();
		J("#findScDeptId").val(code);
		J("#findScDeptNm").val(scDeptNm);
		goGridSearch();
	}

	/******************************************
	 * 그리드 ajax 조회
	 ******************************************/
	function goGridSearch() {
		J("#list").setGridParam({url:"$!{context_path}/bsc/mon/orgDetail/orgDetailList_xml.vw?"+J("#formFind").serialize(), datatype:"json"});
		J("#list").trigger("reloadGrid");
		chartReload();
	}

	/******************************************
	 * 차트 reload
	 ******************************************/
	function chartReload() {
		var year = J("#findYear").val();
		var mon = J("#findMon").val();
		var scDeptId = J("#findScDeptId").val();
		var analCycle = J(":input:radio[name=findAnalCycle]:checked").val();
		var bscMetricGbn = J("#findBscMetricGbn").val();
		
		if (bscMetricGbn == null) bscMetricGbn = "";

		##var chartReference = FusionCharts("myChartId");
		##chartReference.setXMLUrl("$!{context_path}/bsc/mon/orgDetail/orgDetailSignalCnt_xml.vw?findYear=" + year + "&findMon=" + mon + "&findScDeptId=" + scDeptId + "&findAnalCycle=" + analCycle + "&findBscMetricGbn=" + bscMetricGbn);
	}

	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#year").val(J("#findYear").val());
		J("#mon").val(J("#findMon").val());
		J("#scDeptId").val(J("#findScDeptId").val());
		J("#scDeptNm").val(J("#findScDeptNm").val());
		J("#analCycle").val(J("input:radio[name=findAnalCycle]:checked").val());
		J("#bscMetricGbn").val(J("#findBscMetricGbn").val());
		J("#yearNm").val(J("#findYear > option:selected").text());
		J("#monNm").val(J("#findMon > option:selected").text());
		J("#bscMetricGbnNm").val(J("#findBscMetricGbn > option:selected").text());
		J("#analCycleNm").val(J("input:radio[name=findAnalCycle]:checked").next().text());

		J("#formList").attr("action", "$!{context_path}/bsc/mon/orgDetail/orgDetailListExcel.vw?type=excel").submit();
		return false;
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">조직상세</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/mon/orgDetail/orgDetailList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden" 	id="oldYear"		name="oldYear"			value="$!{searchMap.txt2html("findYear")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="조직상세검색 조건">
						<caption class="none">조직상세 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
                                    <span><label for="findYear">$YEARMON</label><label for="findMon"></label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
										<select id="findMon" name="findMon" class="select w70">
            								$!CS_CODE.getCodeOption("024", $!{searchMap.txt2html("findMon")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w220">
                					<span><label for="findScDeptNm">$SC_DEPT_NM</label></span>
									<span class="searchBar">
										<input type="hidden" id="findScDeptId" name="findScDeptId" class="inputbox wp80" value='$!{searchMap.txt2html("findScDeptId")}' />
										<input type="text" id="findScDeptNm" name="findScDeptNm" class="disable" value="$!{CS_SC_DEPT.getName(${searchMap.txt2html("findYear")}, ${searchMap.txt2html("findScDeptId")} )}" readonly="readonly" title="성과조직"/>
									</span>
                                </td>
								<td class="searchBox_tit w160" style="display:none">
            						<span><label for="findBscMetricGbn">$!{METRIC_NM}유형</label></span>
            						<span class="searchBar">
            							<select id="findBscMetricGbn" name="findBscMetricGbn" class="select w80">
            								$!CS_CODE.getCodeOption("106", $!{searchMap.txt2html("findBscMetricGbn")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w150">
            						<span class="searchBar">
										$!CS_CODE.getCodeRadio("findAnalCycle", "138", $!{searchMap.txt2html("findAnalCycle")}, "")
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/mon/orgDetail/orgDetailProcess.vw?type=template" >
			<input type="hidden" id="mode"       	 name="mode" />
			<input type="hidden" id="year"		 	 name="year" />
			<input type="hidden" id="mon"		 	 name="mon" />
			<input type="hidden" id="scDeptId"		 name="scDeptId" />
			<input type="hidden" id="scDeptNm"		 name="scDeptNm" />
			<input type="hidden" id="strategyId"	 name="strategyId" />
			<input type="hidden" id="metricId"		 name="metricId" />
			<input type="hidden" id="analCycle"	 	 name="analCycle" />
			<input type="hidden" id="yearNm"		 name="yearNm" />
			<input type="hidden" id="monNm"		 	 name="monNm" />
			<input type="hidden" id="bscMetricGbn"   name="bscMetricGbn" />
			<input type="hidden" id="bscMetricGbnNm" name="bscMetricGbnNm" />
			<input type="hidden" id="analCycleNm"	 name="analCycleNm" />
			<input type="hidden" id="real_file_name" name="real_file_name" />
			<input type="hidden" id="file_name"	     name="file_name" />
			<input type="hidden" id="mainFlag"       name="mainFlag" value="$!{searchMap.txt2html("mainFlag")}"/>
			$!{searchMap.makeHiddenFind()}

			<div id="splitterBox">
				<div>
					<!-- 조직트리 Start -->
    				<div class="blockGridTreeTable">
    					#parse("/WEB-INF/vl/bsc/module/commModule/commonTree.vm")
    				</div>

					<div id="mainListData">
    					<!-- 데이터그리드 Start -->
    					<div class="blockGridListTable floatRight">
    						<table id="list" summary="조직상세 조회결과">
    							<caption class="none">조직상세 조회</caption>
    							<thead><tr><th></th></tr></thead>
    							<tbody><tr><td></td></tr></tbody>
    						</table>
    						<div id="pager"></div>
    					</div>
    					<!--// 데이터그리드 End -->
    					<div class="blockButton_all floatLeft">
    						<div class="blockButton" style="float:left; text-align:left; width:145px;">
								<input id="btnExcelDown" type="button" align="middle" value="엑셀변환" alt="엑셀다운로드" />
							</div>							
    					</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<a id="anchor" ></a>
	<div class="clear"></div>
</div>

