#*************************************************************************
* CLASS 명      : actualSearchList_xml
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 8월 16일 
* 기    능      : 실적조회 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      하윤식     2012년 8월 16일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"MON"                  : "$!{CS_HTML.txt2html($list.MON)}", 
		"ANAL_CYCLE"           : "$!{CS_HTML.txt2html($list.ANAL_CYCLE)}", 
		"METRIC_ID"            : "$!{CS_HTML.txt2html($list.METRIC_ID)}", 
		"SEQ"                  : "$!{CS_HTML.txt2html($list.SEQ)}", 
		"A"                    : "$!{CS_HTML.txt2html($list.A)}", 
		"B"                    : "$!{CS_HTML.txt2html($list.B)}", 
		"C"                    : "$!{CS_HTML.txt2html($list.C)}", 
		"D"                    : "$!{CS_HTML.txt2html($list.D)}", 
		"E"                    : "$!{CS_HTML.txt2html($list.E)}", 
		"F"                    : "$!{CS_HTML.txt2html($list.F)}", 
		"G"                    : "$!{CS_HTML.txt2html($list.G)}", 
		"H"                    : "$!{CS_HTML.txt2html($list.H)}", 
		"I"                    : "$!{CS_HTML.txt2html($list.I)}", 
		"J"                    : "$!{CS_HTML.txt2html($list.J)}", 
		"K"                    : "$!{CS_HTML.txt2html($list.K)}", 
		"L"                    : "$!{CS_HTML.txt2html($list.L)}", 
		"M"                    : "$!{CS_HTML.txt2html($list.M)}", 
		"N"                    : "$!{CS_HTML.txt2html($list.N)}", 
		"O"                    : "$!{CS_HTML.txt2html($list.O)}", 
		"P"                    : "$!{CS_HTML.txt2html($list.P)}", 
		"Q"                    : "$!{CS_HTML.txt2html($list.Q)}", 
		"R"                    : "$!{CS_HTML.txt2html($list.R)}", 
		"S"                    : "$!{CS_HTML.txt2html($list.S)}", 
		"T"                    : "$!{CS_HTML.txt2html($list.T)}", 
		"U"                    : "$!{CS_HTML.txt2html($list.U)}", 
		"V"                    : "$!{CS_HTML.txt2html($list.V)}", 
		"W"                    : "$!{CS_HTML.txt2html($list.W)}", 
		"X"                    : "$!{CS_HTML.txt2html($list.X)}", 
		"Y"                    : "$!{CS_HTML.txt2html($list.Y)}", 
		"Z"                    : "$!{CS_HTML.txt2html($list.Z)}", 
		"INSERT_USERT_NM"      : "$!{CS_HTML.txt2html($list.INSERT_USERT_NM)}", 
		"CREATE_DT"            : "$!{CS_HTML.txt2html($list.CREATE_DT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
