#*************************************************************************
* CLASS 명      : reOpinionModify
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 12월 31일
* 기    능      : 이의신청
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    현걸욱      2012년 12월 31일             최 초 작 업
**************************************************************************#

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/bsc/system/reOpinion/reOpinionList.vw?type=template").submit();
		});

		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnReplyInsert").click(function(e) {
			e.preventDefault();
			saveReplyChk();
		});

		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnReplyCancel").click(function(e) {
			J("#mon").show();
    		J("#btnReplyDelete").show();
    		J("#btnReplySave").show();

    		J("#save").hide();
    		J("#btnReplyInsert").hide();
    		J("#btnReplyCancel").hide();
		});

		/******************************************
		 * 수정화면 이벤트
		 ******************************************/
		J("#btnReplySave").click(function(e) {

			J("#mon").hide();
    		J("#btnReplyDelete").hide();
    		J("#btnReplySave").hide();

    		J("#save").show();
    		J("#btnReplyInsert").show();
			J("#btnReplyCancel").show();

			J("#replyContents").checkbyte({
    			indicator:J("#replyContentsInd"),
    			limit:3000
    		});
    		J("#replyContentsInd").trigger("keyup");

		});

		/******************************************
		 * 삭제버튼 이벤트
		 ******************************************/
		J("#btnDelete").click(function(e) {
			e.preventDefault();
			deleteChk();
		});

		/******************************************
		 * 삭제버튼 이벤트
		 ******************************************/
		J("#btnReplyDelete").click(function(e) {
			e.preventDefault();
			deleteReplyChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});

		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnPopInsert").click(function() {
			J("#mode").val("MOD");

			var mode = "MOD";
			var year = J("#year").val();
			var cbId = J("#cbId").val();

			var param = "&amp;year=" + year + "&amp;mode=" + mode + "&amp;cbId=" + cbId;
			var url = "$!{context_path}/bsc/system/reOpinion/popOpinionModify.vw?type=popup" + param;
			openWinByName(url,'popBosMetricDefine','640','420','yes');

		});

		J("#mon").show();
		J("#btnReplyDelete").show();
		J("#btnReplySave").show();

		J("#save").hide();
		J("#btnReplyInsert").hide();
		J("#btnReplyCancel").hide();

		//로그인 아이디와 글쓴이 아이디가 동일하지 않으면 삭제, 수정 버튼 숨김처리
		var sabun = J("#sabun").val();

		if(sabun != $!{CS_HTML.txt2html($detail.SABUN)} ){
    		J("#btnDelete").hide();
    		J("#btnPopInsert").hide();
		}

		if($CS_LOGIN.chkAuthGrp("01") || $CS_LOGIN.chkAuthGrp("60")){
			J("#mon").show();
    		J("#btnReplyDelete").show();
    		J("#btnReplySave").show();

    		J("#save").hide();
    		J("#btnReplyInsert").hide();
    		J("#btnReplyCancel").hide();
		}else{
			J("#mon").show();
    		J("#btnReplyDelete").hide();
    		J("#btnReplySave").hide();

    		J("#save").hide();
    		J("#btnReplyInsert").hide();
    		J("#btnReplyCancel").hide();
		}

	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveReplyChk() {
        if(!J.checkLength("replyContents", "내용", 1, 3000)) {
            return;
        }

        var fileChk = true;

        //첨부파일 확장자 체크
        J(":file", "#form1").each(function(index, item) {
            var fileFullName = J("input[name=" + item.name + "]").val();
            var src = getFileExtension(fileFullName);

            if (!((src.toLowerCase() == "xls") || (src.toLowerCase() == "xlsx") || (src.toLowerCase() == "ppt") || (src.toLowerCase() == "pptx")||
                  (src.toLowerCase() == "doc") || (src.toLowerCase() == "docx") || (src.toLowerCase() == "hwp") || (src.toLowerCase() == "pdf") ||
                  (src.toLowerCase() == "zip") || (src.toLowerCase() == "txt")  || (src.toLowerCase() == "gif") || (src.toLowerCase() == "jpg") ||
                  (src.toLowerCase() == "png") || (src.toLowerCase() == "png")
                )) {

                fileChk = false;
            }
        });

        if(fileChk == false) {
            J.showMsgBox("허용되지 않는 파일형식입니다<br/>허용되는 파일형식 : <br/>xls, xlsx, ppt, pptx, doc, docx, hwp <br/> pdf, zip, txt, gif, jpg, png, jpeg", null, null);
            return;
        }

		J.showConfirmBox("저장하시겠습니까?", "saveReplyDo"); //saveDo() 콜백함수 호출
	}

	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/bsc/system/reOpinion/reOpinionProcess.vw?type=template").submit();
	}

	/******************************************
	 * 저장
	 ******************************************/
	function saveReplyDo() {
		J("#mode").val("READD");
		J("#cbGbn").val("02");
		J("#form1").attr("enctype", "multipart/form-data");
		J("#form1").attr("action", "$!{context_path}/bsc/system/reOpinion/reOpinionProcess.vw?type=template").submit();
	}

	function deleteChk(){

		if(J("#replyId").val() != null && J("#replyId").val() != ''){
			J.showMsgBox("답변이 완료 되어 삭제 하실수 없습니다.", null, null);
			return;
		}

		J.showConfirmBox("삭제 하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출

	}

	function deleteReplyChk(){

		J.showConfirmBox("삭제 하시겠습니까?", "deleteReplyDo"); //deleteDo() 콜백함수 호출

	}

	/******************************************
	 * 삭제
	 ******************************************/
	function deleteDo() {
		J("#mode").val("DEL");
		J("#cbGbn").val("01");
		J("#form1").attr("action", "$!{context_path}/bsc/system/reOpinion/reOpinionProcess.vw?type=template").submit();
	}

	/******************************************
	 * 삭제
	 ******************************************/
	function deleteReplyDo() {
		J("#mode").val("REDEL");
		J("#cbGbn").val("02");
		J("#form1").attr("action", "$!{context_path}/bsc/system/reOpinion/reOpinionProcess.vw?type=template").submit();
	}

	function parentRefresh(){
		setTimeout(function(){

		J("#form1").attr("action", "$!{context_path}/bsc/system/reOpinion/reOpinionModify.vw?type=template").submit();

		},500);
	}

	/******************************************
	 * 파일추가
	 ******************************************/
	var fileIndex = 0;

	function fileAttachAdd() {
		J("#fileAttach").append("<li id=\"fileRow" + fileIndex + "\"><input type=\"file\" id=\"file\" name=\"file" + fileIndex + "\" class=\"input\" size=\"60\" /> <input type=\"button\" value=\"삭제\" onclick=\"deleteRow(" + fileIndex + ")\" class=\"input\" size=\"70\"></li>");
		fileIndex++;
	}

	function deleteRow(fileIndex)	{
    	J("#fileRow" + fileIndex).remove();
    }

//]]>
</script>

<form id="form1" method="post" action="$!{context_path}/bsc/system/reOpinion/reOpinionProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />
	<input type="hidden"	id="cbId"           name="cbId"           value="$!{CS_HTML.txt2html($detail.CB_ID)}" />
	<input type="hidden"	id="cbGbn"          name="cbGbn"          />
	<input type="hidden"	id="replyId"        name="replyId"        value="$!{CS_HTML.txt2html($detail.REPLY_ID)}" />
	<input type="hidden"	id="replySabun"     name="replySabun"     value="$!{CS_LOGIN.getSabun()}" />
	<input type="hidden"	id="sabun"       	name="sabun"       	  value="$!{CS_LOGIN.getSabun()}" />
	<input type="hidden"	id="userNm"       	name="userNm"         value="$!{CS_LOGIN.getUser_nm()}" />
	<input type="hidden"	id="replyUserNm"    name="replyUserNm"    value="$!{CS_LOGIN.getUser_nm()}" />
    $!{searchMap.makeHiddenFind()}

    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>
                    <table summary="검색조건">
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="이의신청 등록">
					<caption class="none">이의신청 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="85%" />
    				</colgroup>
    				<tbody>
						<tr>
							<th scope="row"><label for="typeId">등록자</label></th>
							<td>
								#if($!{CS_LOGIN.getUser_nm()} != "")
									$!{CS_LOGIN.getUser_nm()} ($!{CS_LOGIN.getSc_dept_nm()})
								#else
									$!{CS_HTML.txt2html($detail.USER_NM)}($!{CS_HTML.txt2html($detail.DEPT_NM)})
								#end
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="title">제목</label></th>
							<td>$!{CS_HTML.txt2html($detail.TITLE)}</td>
						</tr>
						<tr>
							<th scope="row"><label for="typeNm">요청구분</label></th>
							<td>$!{CS_HTML.txt2html($detail.TYPE_NM)}</td>
						</tr>
						<tr>
							<th scope="row"><label for="replyStatusNm">답변상태</label></th>
							<td>$!{CS_HTML.txt2html($detail.REPLY_STATUS_NM)}</td>
						</tr>
						<tr>
							<th scope="row"><label for="replyStatusNm">공개구분</label></th>
							<td>
								#if($!{CS_HTML.txt2html($detail.PRV_YN)} == 'Y')
									비공개
								#else
									공개
								#end
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="contents">내용</label></th>
							<td>$!{CS_HTML.txt2htmlbr($detail.CONTENTS)}</td>
						</tr>
						<tr>
    						<th scope="row"><label for="">첨부파일</label></th>
    						<td>
    							#foreach($fileList in $fileList)
    								$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))} <br/>
    							#end
    						</td>
						</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton">
    			<ul>
					<li><input type="button" id="btnDelete" value="삭제" /></li>
    				<li><input type="button" id="btnPopInsert" value="수정" /></li>
					<li><input type="button" id="btnBack" 	value="돌아가기" /></li>
    			</ul>
    		</div>
    	</div>
    	<div class="clear"></div>
    </div>
	<div class="h20"></div>
	<div id="Table">
    	<div id="Table_blockContainer">
			<div class="blockDetail">

    			<table id="mon" summary="이의신청 등록">
					<caption class="none">이의신청 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="70%" />
						<col width="15%" />
    				</colgroup>
    				<tbody>
						<tr>
							<th scope="row"><label for="contents">내용</label></th>
							<td>$!{CS_HTML.txt2htmlbr($detail.REPLY_CONTENTS)}</td>
							<td>$!{CS_HTML.txt2html($detail.REPLY_USER_NM)}<br />$!{CS_HTML.txt2html($detail.REPLY_CREATE_DT)}</td>
						</tr>
						<tr>
    						<th scope="row"><label for="">첨부파일</label></th>
    						<td colspan="2">
    							#foreach($fileAnsList in $fileAnsList)
    								$!{CS_HTML.makeFileIconFileName($fileAnsList.get("ATTACH_FILE_SUFFIX"), $fileAnsList.get("ATTACH_FILE_NM"), $fileAnsList.get("ATTACH_FILE_PATH"))} <br/>
    							#end
    						</td>
						</tr>
					</tbody>
    			</table>

				<table id="save" summary="이의신청 등록">
					<caption class="none">이의신청 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="85%" />
    				</colgroup>
    				<tbody>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span><label for="contents">내용</label></th>
							<td>
								<textarea id="replyContents" name="replyContents" class="tabletext" title="KPI 목적" cols="10" rows="5">$!{CS_HTML.txt2html($detail.REPLY_CONTENTS)}</textarea>
								<span id="replyContentsInd">0</span>/3000byte
							</td>
						</tr>
						<tr>
    						<th scope="row"><label for="">첨부파일</label></th>
    						<td>
    							#foreach($fileAnsList in $fileAnsList)
    								$!{CS_HTML.makeFileIconFileName($fileAnsList.get("ATTACH_FILE_SUFFIX"), $fileAnsList.get("ATTACH_FILE_NM"), $fileAnsList.get("ATTACH_FILE_PATH"))}
    								&nbsp;&nbsp;<input type="checkbox" name="delAttachFiles" id="delAttachFile$!{fileAnsList.get("SEQ")}" value="$!{fileAnsList.get("SEQ")}" />&nbsp;<label for="delAttachFile$!{fileAnsList.get("SEQ")}">첨부파일 삭제</label> <br/>
    							#end
    							<a href="javascript:fileAttachAdd();"><img src="$!{searchMap.txt2html("context")}/images/common/btn_file.gif" class="valign_middle" alt="파일추가" /></a>&nbsp;(첨부파일 용량제한은 100M입니다)<br/>
    							<div>
    								<ul id="fileAttach">
    								</ul>
    							</div>
    						</td>
						</tr>
					</tbody>
    			</table>

    		</div>
    		<div class="blockButton">
    			<ul>
					#if($!{CS_HTML.txt2html($detail.REPLY_CONTENTS)} != "")
    				<li><input type="button" id="btnReplyDelete" value="삭제" /></li>
    				<li><input type="button" id="btnReplySave" value="수정" /></li>
    				#else
    				<li><input type="button" id="btnReplySave" value="답변" /></li>
				    #end
					<li><input type="button" id="btnReplyInsert" value="저장" /></li>
					<li><input type="button" id="btnReplyCancel" value="취소" /></li>
    			</ul>
    		</div>
    	</div>
    	<div class="clear"></div>
    </div>
</form>
