#*************************************************************************
* CLASS 명      : excelInterfaceDetailList
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 8월 6일 
* 기    능      : 엑셀로딩관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     하윤식      2012년 8월 6일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/bsc/tam/excelInterface/excelInterfaceDetailList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/tam/excelInterface/excelInterfaceDetailList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['조직코드', '조직명', '실적'],
			colModel     :[
                            {name:'DEPT_ID'              ,index:'DEPT_ID'              ,width:200   ,align:'center' }, 
                            {name:'DEPT_NM'              ,index:'DEPT_NM'              ,width:200   ,align:'left'   }, 
							{name:'ACTUAL'               ,index:'ACTUAL'               ,width:200   ,align:'center' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			caption:"엑셀로딩관리"
		}).jqGrid('hideCol','ITEM_CD').setGridWidth($!{jqGrid_width});
        
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
        
	});
     
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">엑셀로딩관리</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/tam/excelInterface/excelInterfaceDetailList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"			name="findHighPgmId"			value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"			name="findSubPgmId"				value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"				name="findPgmId"				value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden"    id="itemCd"					name="itemCd"					value="$!{searchMap.txt2html("itemCd")}" />
				<input type="hidden"    id="findItemActualDivi"		name="findItemActualDivi"		value="$!{searchMap.txt2html("findItemActualDivi")}" />
				<input type="hidden"    id="findExcelUserId"		name="findExcelUserId"			value="$!{searchMap.txt2html("findExcelUserId")}" />
				<input type="hidden"    id="findItemNm"				name="findItemNm"				value="$!{searchMap.txt2html("findItemNm")}" />
				<div class="searchBox">
    				<div><div><div>
    				<table summary="엑셀로딩관리검색 조건">
						<caption class="none">엑셀로딩관리 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w280">
            						<span>평가년도</span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
										<select id="findMon" name="findMon" class="select w70">
            								$!CS_CODE.getCodeOption("024", ${CS_STATIC.nullToDefault($!{searchMap.txt2html("findMon")}, $!{searchMap.txt2html("mon")})})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<a id="anchor"></a>
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/tam/excelInterface/excelInterfaceList.vw?type=template">
			<input type="hidden" id="mode"       name="mode" />
			<input type="hidden" id="year"		 name="year" />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="엑셀로딩관리 조회결과">
							<caption class="none">엑셀로딩관리 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">			
						<div class="blockButton_l"></div>
						<div class="blockButton">			
							<ul>
								<li><input type="submit" id="btnBack"   value="돌아가기" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>
