#*************************************************************************
* CLASS 명      : govActualMngList
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 8일
* 기    능      : 계량실적입력
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     정철수      2012년 11월 8일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/gov/measure/govActualMng/govActualMngList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/gov/measure/govActualMng/govActualMngList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['정평지표', '산식항목', '단위'
						  , '1월', '2월', '3월', '4월'
						  , '5월', '6월', '7월', '8월'
						  , '9월', '10월', '11월', '12월'
						  , '담당자'

						  , '평가년도', '정평지표코드', '산식항목코드', 'CAL_TYPE_UNIT_ID', '평가조직ID', '입력자 사번'
						  , 'GM_CNT', 'GM_INDEX', 'IS_INPUT_YN'
						  ],
			colModel     :[
                            {name:'GOV_METRIC_NM'        ,index:'GOV_METRIC_NM'        ,width:150   ,align:'left' 		,sortable:false ,cellattr:attrSettinGovMetric ,formatter:linkUpdate},
                            {name:'ACT_CAL_TYPE_COL_NM'  ,index:'ACT_CAL_TYPE_COL_NM'  ,width:100   ,align:'left' 		,sortable:false ,formatter:linkActualConvert},
                            {name:'CAL_TYPE_UNIT_NM'     ,index:'CAL_TYPE_UNIT_NM'     ,width:80   ,align:'center' 	,sortable:false },
							{name:'ACT_CAL_TYPE_COL_VAL_01' ,index:'ACT_CAL_TYPE_COL_VAL_01' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_02' ,index:'ACT_CAL_TYPE_COL_VAL_02' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_03' ,index:'ACT_CAL_TYPE_COL_VAL_03' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_04' ,index:'ACT_CAL_TYPE_COL_VAL_04' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_05' ,index:'ACT_CAL_TYPE_COL_VAL_05' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_06' ,index:'ACT_CAL_TYPE_COL_VAL_06' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_07' ,index:'ACT_CAL_TYPE_COL_VAL_07' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_08' ,index:'ACT_CAL_TYPE_COL_VAL_08' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_09' ,index:'ACT_CAL_TYPE_COL_VAL_09' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_10' ,index:'ACT_CAL_TYPE_COL_VAL_10' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_11' ,index:'ACT_CAL_TYPE_COL_VAL_11' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'ACT_CAL_TYPE_COL_VAL_12' ,index:'ACT_CAL_TYPE_COL_VAL_12' ,width:100   ,align:'right' ,sortable:false ,formatter:setScoreInput },
                            {name:'INSERT_USER_NM'       ,index:'INSERT_USER_NM'       ,width:80   ,align:'center' 	,sortable:false ,cellattr:attrSettinGovMetric },

							{name:'YEAR'                 ,index:'YEAR'                 ,width:150   ,align:'center' },
                            {name:'GOV_METRIC_ID'        ,index:'GOV_METRIC_ID'        ,width:150   ,align:'center' },
							{name:'ACT_CAL_TYPE_COL_ID'  ,index:'ACT_CAL_TYPE_COL_ID'  ,width:150   ,align:'center' },
							{name:'CAL_TYPE_UNIT_ID'     ,index:'CAL_TYPE_UNIT_ID'     ,width:150   ,align:'center' },
							{name:'INSERT_USER_ID'       ,index:'INSERT_USER_ID'       ,width:150   ,align:'center' },
							{name:'SC_DEPT_ID'           ,index:'SC_DEPT_ID'           ,width:150   ,align:'center' },
							{name:'GM_CNT'           	 ,index:'GM_CNT'           	   ,width:150   ,align:'center' },
							{name:'GM_INDEX'           	 ,index:'GM_INDEX'             ,width:150   ,align:'center' },
							{name:'IS_INPUT_YN'          ,index:'IS_INPUT_YN'          ,width:150   ,align:'center' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : true,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			caption 	 :"계량실적입력",
			loadComplete : function() {
								/******************************************
                            	 * 점수에 숫자(정수)만 입력받기
                            	 ******************************************/
                        		J("#formList input[name=calTypeColActuals]").numeric({allow:"."}).css("ime-mode", "disabled"); //숫자만 입력받기
                            }
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"GOV_METRIC_ID").jqGrid('hideCol',"ACT_CAL_TYPE_COL_ID").jqGrid('hideCol',"CAL_TYPE_UNIT_ID")
		.setGridWidth($!{jqGrid_width})
		.jqGrid('hideCol',"INSERT_USER_ID").jqGrid('hideCol',"SC_DEPT_ID").jqGrid('hideCol',"GM_CNT").jqGrid('hideCol',"GM_INDEX").jqGrid('hideCol',"IS_INPUT_YN")
		.setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {

		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}

	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {

		var month = "";
		var months = "";
		var govMetricId = "";
		var govMetricIds = "";
		var govMetricCalTypeColId = "";
		var govMetricCalTypeColIds = "";
		var govMetricCalTypeColActual = "";
		var govMetricCalTypeColActuals = "";

		J("#formList input[name=calTypeColActuals]").each(function(){

		 	 var tmpInputId = $(this).attr("id");
			 month = tmpInputId.substring(1,3);
			 months += month + '|';
			 govMetricId = tmpInputId.substring(4,11);
			 govMetricIds += govMetricId + '|';
			 govMetricCalTypeColId = tmpInputId.substring(12,14);
			 govMetricCalTypeColIds += govMetricCalTypeColId + '|';
			 govMetricCalTypeColActual = $(this).val()==""?"none":$(this).val();
			 govMetricCalTypeColActuals += govMetricCalTypeColActual + '|';

		});

		J("#year").val(J("#findYear").val());
		J("#months").val( months );
		J("#govMetricIds").val( govMetricIds );
		J("#govMetricCalTypeColIds").val( govMetricCalTypeColIds );
		J("#govMetricCalTypeColActuals").val( govMetricCalTypeColActuals );
		J("#mode").val("ADD");

		J("#formList").attr("action", "$!{context_path}/gov/measure/govActualMng/govActualMngProcess.vw?type=template").submit();
	}

	/******************************************
	 * jqGrid 팝업 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		return '<a href=javascript:goGovMetricPop(' + options.rowId + ')>' + cellvalue + '<//a>';
	}


	/******************************************
	 * jqGrid 실적 단어변경
	 ******************************************/
	function linkActualConvert(cellvalue, options, rowObject) {


		var retVal = cellvalue;
		var isInput = rowObject.IS_INPUT_YN;

		if( "ACTUAL" == cellvalue ){
			retVal = "실적";
		}else if( "ACTUAL" != cellvalue && "NONE" == isInput ){
			retVal = '<a href=javascript:goGovMetricCalTypeColPop(' + options.rowId + ')>' + cellvalue + '<//a>';
		}
		return retVal;
	}

	/*****************************************
	 * 지표별  Rowspan 설정
	 ******************************************/
	function attrSettinGovMetric(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.GM_INDEX;
		var rowSpan = rowObject.GM_CNT;

		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		return result;
	}

	/******************************************
	 * 산식항목  input 설정
	 ******************************************/
	function setScoreInput(cellvalue, options, rowObject){
		var retVal = cellvalue;
		var isInput = rowObject.IS_INPUT_YN;

		var inputYear = rowObject.YEAR;
		var inputGovMetricId = rowObject.GOV_METRIC_ID;
		var inputCalTypeColId = rowObject.ACT_CAL_TYPE_COL_ID;
		if( "INPUT" == isInput  ){
			var tmpMonth = options.colModel.name.substring(21,23);
			retVal = "<input type='text' id=' " + tmpMonth  + "|" + inputGovMetricId + "|" + inputCalTypeColId + "' name='calTypeColActuals' class='inputbox w60 textRight' value='" + cellvalue + "' maxlength='15'/>";
		}
		return retVal;
	}



	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){

    	J("#yearNm").val(J("#findYear > option:selected").text());
    	J("#insertUserNm").val(J("#findInsertUserId > option:selected").text());
    	J("#evalCatGrpNm").val(J("#findEvalCatGrp > option:selected").text());
		J("#formList").attr("action", "$!{context_path}/gov/measure/govActualMng/govActualMngListExcel.vw?type=excel").submit();
		return false;
	}

	/******************************************
	 * 년도 변경시 담당자 변경
	 ******************************************/
	function chgInsertUser(){
		J.ajax({
			url      : "$!{context_path}/gov/measure/govActualMng/insertUserList_ajax.vw",
			cache    : false,
			type     : "POST",
			data	 : J("#formFind").serialize(),
			dataType : "html",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			success  : function(data){
							var xmlDoc = J.parseXML(data);
							J("#findInsertUserId").empty();

							J('<option/>').attr('value','').text("전체").appendTo('#findInsertUserId');
							J(xmlDoc).find("data").each(function() {
								J('<option/>').attr('value',J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findInsertUserId');
							})
					   }
		});

		J.ajax({
			url      : "$!{context_path}/gov/measure/govActualMng/evalCatGrpList_ajax.vw",
			cache    : false,
			type     : "POST",
			data	 : J("#formFind").serialize(),
			dataType : "html",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			success  : function(data){
							var xmlDoc = J.parseXML(data);
							J("#findEvalCatGrp").empty();

							J('<option/>').attr('value','').text("전체").appendTo('#findEvalCatGrp');
							J(xmlDoc).find("data").each(function() {
								J('<option/>').attr('value',J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findEvalCatGrp');
							})
					   }
		});
	}


	/******************************************
	 * 경영평가 지표정의서  팝업
	 ******************************************/
	function goGovMetricPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = ret.YEAR;
		var findGovMetricId = ret.GOV_METRIC_ID;

		var param = "&amp;year=" + findYear + "&amp;govMetricId=" + findGovMetricId ;

		var url = "$!{context_path}/gov/system/govMetric/popArchiveMonList.vw?type=popup" + param;
		openWinByName(url,'popGovMetricDefine','880','650','yes');
	}


	/******************************************
	 * 경영평가 지표정의서  팝업
	 ******************************************/
	function goGovMetricCalTypeColPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = ret.YEAR;
		var findGovMetricId = ret.GOV_METRIC_ID;
		var findGovMetricCalTypeColId = ret.ACT_CAL_TYPE_COL_ID;
		var findGovMetricNm = J(ret.GOV_METRIC_NM).text();
		var findGovMetricCalTypeColNm = J(ret.ACT_CAL_TYPE_COL_NM).text();


		var param = "&amp;year=" + findYear + "&amp;govMetricId=" + findGovMetricId + "&amp;govMetricCalTypeColId=" + findGovMetricCalTypeColId + "&amp;govMetricNm=" + findGovMetricNm + "&amp;govMetricCalTypeColNm=" + findGovMetricCalTypeColNm;
		var url = "$!{context_path}/gov/measure/subCalMapping/popSubCalTypeColMappingList.vw?type=popup" + param;
		openWinByName(url,'popGovMetricCalTypeCol','1200','520','yes');
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">계량실적입력</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/gov/measure/govActualMng/govActualMngList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="계량실적입력검색 조건">
						<caption class="none">계량실적입력 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w200">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80" onchange="javascript:chgInsertUser();">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>

								<td class="searchBox_tit w200">
									<span><label for="findInsertUserId">담당자</label></span>
            						<span class="searchBar">
										#if( $CS_LOGIN.chkAuthGrp("01") || $CS_LOGIN.chkAuthGrp("10") || $CS_LOGIN.chkAuthGrp("60"))
                							<select id="findInsertUserId" name="findInsertUserId" class="select w100" >
    												<option value="" $!{CS_HTML.getSelected("", $!{searchMap.txt2html("findInsertUserId")})}>전체</option>
    											#if ( 0 < $insertUserList.size() )
        											#foreach($list in $insertUserList)
    												<option value="$!{CS_HTML.txt2html($list.INSERT_USER_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.INSERT_USER_ID)}, $!{searchMap.txt2html("findInsertUserId")})}>$!{CS_HTML.txt2html($list.INSERT_USER_NM)}</option>
        											#end
    											#end
                							</select>
										#else
											$!{CS_LOGIN.getUser_nm()}
											<input type="hidden" id="findInsertUserId" name="findInsertUserId" value="$!{CS_LOGIN.getUser_id()}" />
										#end
            						</span>
            					</td>

								<td class="searchBox_tit w270">
									<span><label for="findEvalCatGrp">평가범주</label></span>
            						<span class="searchBar">
            							<select id="findEvalCatGrp" name="findEvalCatGrp" class="select w200" >
												<option value="" $!{CS_HTML.getSelected("", $!{searchMap.txt2html("findEvalCatGrp")})}>전체</option>
											#if ( 0 < $evalCatGrpList.size() )
    											#foreach($list in $evalCatGrpList)
												<option value="$!{CS_HTML.txt2html($list.EVAL_CAT_GRP_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.EVAL_CAT_GRP_ID)}, $!{searchMap.txt2html("findEvalCatGrp")})}>$!{CS_HTML.txt2html($list.EVAL_CAT_GRP_NM)}</option>
    											#end
											#end
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/gov/measure/govActualMng/govActualMngProcess.vw?type=template">
			<input type="hidden" id="mode"       name="mode" />
			<input type="hidden" id="year"		 name="year" />
			<input type="hidden" id="months"		 				name="months" />
			<input type="hidden" id="govMetricIds"		 			name="govMetricIds" />
			<input type="hidden" id="govMetricCalTypeColIds"		name="govMetricCalTypeColIds" />
			<input type="hidden" id="govMetricCalTypeColActuals"	name="govMetricCalTypeColActuals" />


			<input type="hidden" id="yearNm"		 		name="yearNm" />
			<input type="hidden" id="insertUserNm"		name="insertUserNm" />
			<input type="hidden" id="evalCatGrpNm"		name="evalCatGrpNm" />


			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="계량실적입력 조회결과">
							<caption class="none">계량실적입력 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton_l">
							<div class="blockButton" style="float:left; text-align:left; width:145px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀변환" alt="엑셀다운로드" />
						</div>
							※월별실적 입력시 누적값을 입력하십시요.
						</div>
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnInsert" value="저장" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
	<div id="newjcs"></div>
</div>
