#*************************************************************************
* CLASS 명      : insaModify
* 작 업 자      : 안요한
* 작 업 일      : 2013년 4월 10일
* 기    능      : 발령정보 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     안요한      2013년 5월 15일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/prs/insa/insa/pcmtInfoList_xml.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

    var J = jQuery;

    J(document).ready(function(){

        /******************************************
         * 데이터 그리드 출력
         ******************************************/
        var str = J('#formFind').serialize();
        //var age_list = {"FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX"};
        jQuery("#list").jqGrid({
            url          :"$!{context_path}/prs/insa/insa/pcmtInfoList_xml.vw" + "?" + str,
            mtype        :"POST",
            datatype     :"json",
            jsonReader   : {
                            page   : "page",
                            total  : "total",
                            root   : "rows",
                            records: function(obj){return obj.length;},
                            repeatitems: false,
                            id     : "id"
                           },
            height       : $!{jqGrid_height},
            width        : $!{jqGrid_r_width},
            colNames     :['체크', '사번', '인사발행일', '성명', '일련번호','부서코드','부서명', '직급', '직위', '직위명','발령사유', '고용형태', '근무시작일', '근무종료일', '근무월수'],
            colModel     :[
                            {name:'CHK'					,index:'CHK'				,width:10		,align:'center'		,formatter:linkCheck},
                            {name:'EMPN'      			,index:'EMPN'				,width:80   	,align:'center'		,formatter:linkEmpn},
                            {name:'ORG_PCMT_DATE'		,index:'ORG_PCMT_DATE'   	,width:80		,align:'center'		,formatter:linkOrgPcmtDate},
                            {name:'KOR_NM'				,index:'KOR_NM'				,width:60   	,align:'center'		,formatter:linkKorNm},
                            {name:'SER'					,index:'SER'				,width:80    	,align:'center'		,formatter:linkSer},
                            {name:'DEPT_CD'				,index:'DEPT_CD'			,width:80    	,align:'center'	  	,formatter:linkDeptCd},
                            {name:'DEPT_KOR_NM'     	,index:'DEPT_KOR_NM'		,width:160    	,align:'center' 	,formatter:linkDeptNm},
                            {name:'CAST_TC'				,index:'CAST_TC'			,width:60   	,align:'center'		,formatter:goCastTc},
                            {name:'POS_TC'				,index:'POS_TC'				,width:100   	,align:'center'		,formatter:goPosTc},
                            {name:'POS_TC_NM'			,index:'POS_TC_NM'			,width:10   	,align:'center'		},
                            {name:'PCMT_TC'				,index:'PCMT_TC'			,width:80    	,align:'center'		,formatter:goPcmtTc},
                            {name:'EMPM_KIND_TC'		,index:'EMPM_KIND_TC'		,width:60   	,align:'center'		,formatter:goEmpmKindTc},
                            {name:'START_PCMT_DATE'		,index:'START_PCMT_DATE'	,width:80    	,align:'center' 	,formatter:goPcmtStartDt},
                            {name:'END_PCMT_DATE'		,index:'END_PCMT_DATE'		,width:80   	,align:'center' 	,formatter:goPcmtEndDt},
                            {name:'WORK_MON'			,index:'WORK_MON'			,width:60   	,align:'center'		,formatter:goWorkMon}
                            ],
            rowNum       : $!{jqGrid_rownum},
            autowidth    : false,
            viewrecords  : true,
            loadonce     : false,
            shrinkToFit  : false,
            multiselect  : true,
            cellEdit     : true,
            gridview     : true,
            cmTemplate: {sortable:false},
            loadComplete : function() {

                var id         = J("#list").getGridParam('selarrrow');
                var ids        = J("#list").jqGrid('getDataIDs');
                
                for (var i = 0; i < ids.length; i++) {
                	/* check box 설정 */
                	J("input[name='chk']").eq(i).val(i+1);
                	
                	/* 발령사유select box 설정 */
                	J("select[name='pcmtTcs']").eq(i).val(J("input[name='pcmtTcTemp']").eq(i).val()).attr("selected", "selected");
                	
                	/* 근무개월select box 설정 */
                	J("select[name='workMons']").eq(i).val(J("input[name='workMonTemp']").eq(i).val()).attr("selected", "selected");
                	
                	/* 직급select box 설정 */
                	J("select[name='castTcs']").eq(i).val(J("input[name='castTcTemp']").eq(i).val()).attr("selected", "selected");
                	
                	/* 직위select box 설정 */
                	/*J("select[name='posTcs']").eq(i).val(J("input[name='posTcTemp']").eq(i).val()).attr("selected", "selected");*/
                	
                	/* 고용형태select box 설정 */
                	J("select[name='empmKindTcs']").eq(i).val(J("input[name='empmKindTcTemp']").eq(i).val()).attr("selected", "selected");
                	
                }
            },
            caption:"발령정보 조회 "
        }).jqGrid('hideCol',"CHK").jqGrid('hideCol',"POS_TC_NM").jqGrid('hideCol',"ORG_PCMT_DATE").jqGrid('hideCol',"SER").jqGrid('hideCol',"DEPT_CD").setGridWidth($!{jqGrid_r_width});

        /******************************************
         * 조회
         ******************************************/
        J("#formFind").submit(function(event) {
            //submit 하기전 작업추가
        });

        /******************************************
         * 행추가
         ******************************************/
        J("#btnPcmtAdd").click(function(e) {
			var ids = J("#list").getDataIDs();
			
			var index = J("#index").val();
        	var empn = J("input[name=empns]").eq(index).val();
			var korNm =J("input[name=korNms]").eq(index).val();
			
            var mydata = [{CHK: "", EMPN: empn, SER: "", ORG_PCMT_DATE: "" , KOR_NM: korNm, DEPT_CD : "" , DEPT_KOR_NM : "", CAST_TC: "", POS_TC : "", START_PCMT_DATE : "", END_PCMT_DATE: ""   , WORK_MON: "", }];
			for(var i=0;i<=mydata.length;i++) {
				J("#list").jqGrid('addRowData',ids.length+1,mydata[i]);
			} 
        });
        
        /******************************************
         * 저장
         ******************************************/
        J("#btnInsert").click(function(e) {
            e.preventDefault();

            saveChk();
        });
        
        /******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#formFind").attr("action", "$!{context_path}/prs/insa/insa/insaList.vw?type=template").submit();
		});

        /******************************************
         * 저장버튼 이중 클릭 방지
         ******************************************/
        J("form").submit(function(){
            J("#btnInsert").unbind();
        });

        /******************************************
         * 삭제 버튼 클릭 이벤트
         ******************************************/
        J("#btnDelete").click(function() {
			
            goDelete();
            return false;
        });
        
        /******************************************
         * fancy Box 팝업호출
         ******************************************/
        J("#anchor").fancybox();
		});
		
    /******************************************
     * 필수입력 체크
     ******************************************/
    function saveChk() {
		var ids	= J("#list").jqGrid('getDataIDs');
		
		for (var i = 0; i < ids.length; i++) {
			if (J("input[name='deptCds']").eq(i).val() == "" && J("input[name='deptNms']").eq(i).val() == "") {
				
				alert("부서명을 선택해주세요");
				return false;
				
			}else if (J("select[name='castTcs']").eq(i).val() == "100" ) {
					
					alert("직급을 선택해주세요");
					return false;
				
			}else if (J("select[name='posTcs']").eq(i).val() == "100" ) {
					
					alert("직위를 선택해주세요");
					return false;
				
			}else if (J("select[name='pcmtTcs']").eq(i).val() == "100" ) {
					
					alert("발령사유을 선택해주세요");
					return false;
				
			}else if (J("input[name='pcmtStartDts']").eq(i).val() != "" && J("input[name='pcmtEndDts']").eq(i).val() != "") {
					
					var startDate = J("input[name='pcmtStartDts']").eq(i).val().replace(/[.]/gi, "");
					var endDate = J("input[name='pcmtEndDts']").eq(i).val().replace(/[.]/gi, "");
					
					if((endDate - startDate) < 0) {
						
						alert("근무종료일은 시작일보다 빠를 수 없습니다.");
						return false;
					}
				} else {
				
					alert("근무일 확인하십시요.");
					return false;
				}
		}
		
			J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
		
    }

    /******************************************
     * 저장
     ******************************************/
    function saveDo() {	
		
        J("#mode").val("ADD");
        J("#year").val(J("#findYear").val());
        J("#formList").attr("action", "$!{context_path}/prs/insa/insa/insaProcess.vw?type=template").submit();
                
        return false;

    }

    /******************************************
     * 삭제
     ******************************************/
    function goDelete() {
        if(!J.gridSelectChk("list")){
            J.showMsgBox("삭제할 데이터를 선택하십시요", null, null);
        } else {
            if(confirm("인사정보도 삭제 됩니다. \n삭제하시겠습니까?")) {
                deleteDo();
            }
        }
    }
	
	function replaceAll(sValue, param1, param2) {
     return sValue.split(param1).join(param2);
 	}
	
    /******************************************
     * 삭제처리
     ******************************************/
    function deleteDo() {
        var id              = J("#list").getGridParam('selarrrow');
        var ids             = J("#list").jqGrid('getDataIDs');
        var rowdata         = "";
        
        for (var i = 0; i < ids.length; i++) {
            J("input[name='chk']").eq(i).attr("checked", false);
        }
        
        for (var i = 0; i < id.length; i++) {
        	J("input[name='chk']").eq(id[i]-1).attr("checked", true);
        }
        
        //CHK배열의 값 확인 
        for (var i = 0; i < ids.length; i++) {
            if(J("input[name='chk']").eq(i).attr("checked") ) {
            	//alert(J("input[name='chk']").eq(i).val());            	         	
            }
        }
		
        J("#mode").val("DEL");
        J("#year").val(J("#findYear").val());
        J("#formList").attr("action", "$!{context_path}/prs/insa/insa/insaProcess.vw?type=template").submit();
        return false;
    }

    /******************************************
     * jqGrid Check 박스
     ******************************************/
    function linkCheck(cellvalue, options, rowObject) {
    	return '<input type="checkbox" name="chk" value="" class="wp50"/>';
    }

    /******************************************
     * jqGrid 사원번호
     ******************************************/
    function linkEmpn(cellvalue, options, rowObject) {
    	return '<input type="text" name="empns" value="' + cellvalue + '" class="wp60" readonly="readonly"/>';
    }
    
    /******************************************
     * jqGrid 발령일
     ******************************************/
    function linkOrgPcmtDate(cellvalue, options, rowObject) {
    	return '<input type="hidden" name="orgStartDts" value="' + cellvalue + '" class="wp50"/>';
    }
    
    /******************************************
     * jqGrid 성명
     ******************************************/
    function linkKorNm(cellvalue, options, rowObject) {
    	return '<input type="text" name="korNms" value="' + cellvalue + '" class="wp60" readonly="readonly"/>';
    }
    
    /******************************************
     * jqGrid SER
     ******************************************/
    function linkSer(cellvalue, options, rowObject) {
    	return '<input type="hidden" name="sers" value="' + cellvalue + '" class="wp50"/>';
    }
    
    /******************************************
     * jqGrid 부서코드
     ******************************************/
    function linkDeptCd(cellvalue, options, rowObject) {
    	return '<input type="text" name="deptCds" value="' + cellvalue + '" class="wp50"/>';
    }
    
     /******************************************
     * jqGrid 부서명
     ******************************************/
    function linkDeptNm(cellvalue, options, rowObject) {
        var str = '';
        str += '<input type="text" name="deptNms" value="' + cellvalue + '" class="inputbox w100" readonly="readonly"/>&nbsp;';
        str += '<input type="image" onclick="javascript:popDeptNm(' + options.rowId + ');return false;" class="valign_middle" src="$!{img_path}/common/board/ic_search.gif" alt="부서선택"/>&nbsp;';
        str += '<input type="image" onclick="javascript:cancleDeptNm(' + options.rowId + ');return false;" class="valign_middle" readonly="readonly" src="$!{img_path}/common/board/ic_cancel.gif" alt="부서취소"/>&nbsp;';
        return str;
    }
    
    /******************************************
     * jqGrid 직급코드
     ******************************************/
    function goCastTc(cellvalue, options, rowObject) {
    	var str = "";
    	
    	str += '<select name="castTcs" class="select w60">';
    	str += '$!CS_CODE.getCodeOption('170', '', $!{searchMap.txt2html("findYear")}).replaceAll("\n","")';
    	str += '</select>';
    	str += '<input type="hidden" name="castTcTemp" value="' + cellvalue + '"/>';
    	
    	return str;
    	
    }
    
    /******************************************
     * jqGrid 직위코드
     ******************************************/
    function goPosTc(cellvalue, options, rowObject) {
		var str = "";
		
		var posTc = [];
		posTc = cellvalue.split(",");
    	
    	str += '<select name="posTcs" class="select w100">';
##    	str += '$!CS_CODE.getCodeOption('171', '', $!{searchMap.txt2html("findYear")}).replaceAll("\n","")'; --공통코드로 관리를 하다가 앞에 직급을 보여줘야 해서 밑에 코드로 바꿈
    	
    	#foreach($posTcList in $posTcList)
			str += "<option value=\"$!{CS_HTML.txt2html($posTcList.POS_TC)}\">$!{CS_HTML.txt2html($posTcList.POS_TC_FULL)}</option>".replace("\"" + posTc[0] + "\"", "\"" + posTc[0] + "\" selected");
		#end
    	
    	str += '</select>';
##    	str += '<input type="hidden" name="posTcTemp" value="' + cellvalue + '"/>';
    	
    	return str;
		    	
    }
    
    /******************************************
	 * setting
	 ******************************************/
	function setPosTcSet(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var posTc = ret.POS_TC;
		var posTcNm = ret.POS_TC_NM;
##		setUserInfoPop(posTc, getPosName(posTc, posTcNm)); 
	}	
	
	function getPosName(posTc, posNm) {
		var str = "";
		
		if (posTc.substr(0, 1) == "0")
			str = "[임원] " + posNm;
		else 
			str = "[" + posTc.substr(0, 1) + "급] " + posNm;
			
		return str;
	}
    
    /******************************************
     * jqGrid 발령사유
     ******************************************/
    function goPcmtTc(cellvalue, options, rowObject) {
    	var str = "";
    	
    	str += '<select name="pcmtTcs" class="select w80">';
    	str += '$!CS_CODE.getCodeOption('169', '', $!{searchMap.txt2html("findYear")}).replaceAll("\n","")';
    	str += '</select>';
    	str += '<input type="hidden" name="pcmtTcTemp" value="' + cellvalue + '"/>';
    	
    	return str;
    }
    
    /******************************************
     * jqGrid 고용형태
     ******************************************/
    function goEmpmKindTc(cellvalue, options, rowObject) {
    	var str = "";
    	
    	str += '<select name="empmKindTcs" class="select w50">';
    	str += '$!CS_CODE.getCodeOption('172', '').replaceAll("\n","")';
    	str += '</select>';
    	str += '<input type="hidden" name="empmKindTcTemp" value="' + cellvalue + '"/>';
    	
    	return str;
    }
    
    /******************************************
     * jqGrid 달력
     ******************************************/
    function goPcmtStartDt(cellvalue, options, rowObject) {
	    var str = '';
		str += '<input type="text" name="pcmtStartDts" value="' + cellvalue + '" class="inputbox w80" readonly="readonly" onmouseover="calen();"/>';
    	return str;
    }
    
    function goPcmtEndDt(cellvalue, options, rowObject) {
	    var str = '';
		str += '<input type="text" name="pcmtEndDts" value="' + cellvalue + '" class="inputbox w80" readonly="readonly" onmouseover="calen();"/>';
    	return str;
    }
    
    /******************************************
     * jqGrid 근무개월수
     ******************************************/
    function goWorkMon(cellvalue, options, rowObject) {
        var workMon = rowObject.WORK_MON;
        var str = "";
        
        str += '<select name="workMons" class="select w60">';
    	str += '$!CS_CODE.getCodeOption('167', '').replaceAll("\n","")';
    	str += '</select>';
    	str += '<input type="hidden" name="workMonTemp" value="' + cellvalue + '"/>';
        
        return str;
    	
     }

    /******************************************
     * 부서명 선택 취소
     ******************************************/
    function cancleDeptNm(index) {
        J("input[name=deptCds]").eq(index-1).val("");
        J("input[name=deptNms]").eq(index-1).val("");
    }

    /******************************************
     * 부서명 선택 팝업
     ******************************************/
    function popDeptNm(index) {
        J("#index").val(index);
        var dept = J("input[name=deptCds]").eq(index-1).val();
        J("#anchor").attr("href","$!{context_path}/bsc/module/commModule/popScDeptTree1.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSearchCodeId=" + dept);
        J("#anchor").click();
    }

    /******************************************
     * 조직선택 클릭이벤트
     ******************************************/
    function goAction(deptCd, deptNm) {
        setDeptInfo(deptCd, deptNm);
    }

    /*****************************************************
     * 조직선택 설정
     *****************************************************/
    function setDeptInfo(deptCd, deptNm) {

        J("#findDeptCd").val(deptCd);
        J("#findDeptNm").val(J(deptNm).text());
       
        J("#formFind").attr("action", "$!{context_path}/prs/insa/insa/insaList.vw?type=template").submit();

    }
    
      /*****************************************************
     * 부서명선택 설정
     *****************************************************/
    function setDeptInfoPop(deptCd, deptNm) {
	
        var index = J("#index").val();
        J("input[name=deptCds]").eq(index-1).val(deptCd);
        J("input[name=deptNms]").eq(index-1).val(J(deptNm).text());
        J.fancybox.close();
        
    }
    
     /******************************************
	 * 근무시작종료일 클릭시 달력팝업 이벤트
	 ******************************************/
	 function calen() {
	 	J("input[name='pcmtStartDts']").each(function(i){
	 		J("input[name='pcmtStartDts']").eq(i).datepicker({
		 		dateFormat: 'yy.mm.dd'
		 	})
	 	})
	 	
	 	J("input[name='pcmtEndDts']").each(function(i){
	 		J("input[name='pcmtEndDts']").eq(i).datepicker({
		 		dateFormat: 'yy.mm.dd'
		 	})
	 	})
	}
    
//]]>
</script>

<div id="Table">
    <div id="Table_blockContainer">
        <h1 class="none">발령정보 대상자</h1>
        <div class="tableTop">
            #parse("/WEB-INF/vl/common/template/tabs.vm")

            <!-- search S -->
            <form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/insa/insa/insaList.vw?type=template">
                <input type="hidden"		id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
                <input type="hidden"		id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
                <input type="hidden"		id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
                <input type="hidden"		id="findDeptCd"   	name="findDeptCd"     	value="$!{searchMap.txt2html("findDeptCd")}" />
                <input type="hidden"		id="findDeptNm"   	name="findDeptNm"    	value="$!{searchMap.txt2html("findDeptNm")}" />
				<input type="hidden"		id="findEmpn"		name="findEmpn"			value="$!{searchMap.txt2html("empn")}" />
				<input type="hidden"		id="findKorNm"		name="findKorNm"		value="$!{searchMap.txt2html("korNm")}" />
				
                <div class="searchBox">
                    <div><div><div>
                    <table summary="발령정보 대상자검색 조건">
                        <caption class="none">발령정보 대상자 검색 조건</caption>
                        <thead><tr><th></th></tr></thead>
                        <tbody>
                            <tr>
                                <td class="searchBox_tit w250">
                                    <span><label for="findYear">평가년도</label></span>
                                    <span class="searchBar">
                                        <select id="findYear" name="findYear" class="select w80">
                                            $!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
                                        </select>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
                </div>
            </form>
            <!-- search E -->
            <div class="clear"></div>
        </div>

        <form id="formList" name="formList" method="post" action="$!{context_path}/prs/insa/insa/insaProcess.vw?type=template">
            <input type="hidden" id="mode"			name="mode" />
            <input type="hidden" id="year"			name="year" />
            <input type="hidden" id="index"  		name="index" />
            <input type="hidden" id="empn"  		name="empn" />			
            <input type="hidden" id="orgStartDt"  	name="orgStartDt" />	
            <input type="hidden" id="ser"  			name="ser" />			
            
            <input type="hidden" id="korNm"  		name="korNm" />			
            <input type="hidden" id="deptCd"		name="deptCd"	/>		
            <input type="hidden" id="deptNm"		name="deptNm" />		
            <input type="hidden" id="pcmtTc"		name="pcmtTc" />		
            <input type="hidden" id="pcmtStartDt" 	name="pcmtStartDt" />	
            <input type="hidden" id="pcmtEndDt" 	name="pcmtEndDt" />		
            <input type="hidden" id="workMon"  		name="workMon" />		
            <input type="hidden" id="posTc"  		name="posTc" />			
            <input type="hidden" id="castTc"  		name="castTc" />		
            <input type="hidden" id="empmKindTc"  	name="empmKindTc" />	

            $!{searchMap.makeHiddenFind()}
            <div id="splitterBox">
                <div>

                    <!-- 조직트리 Start -->
                    <div class="blockGridTreeTable">
                        #parse("/WEB-INF/vl/prs/insa/dept/deptTree.vm")
                    </div>

                    <!-- 데이터그리드 Start -->
                    <div class="blockGridListTable floatRight">
                        <table id="list" summary="발령정보 대상자 조회결과">
                            <caption class="none">발령정보 대상자 조회</caption>
                            <thead><tr><th></th></tr></thead>
                            <tbody><tr><td></td></tr></tbody>
                        </table>
                        <div id="pager"></div>
                    </div>
                    <!--// 데이터그리드 End -->
                    <div class="blockButton_all floatLeft">
                        <div class="blockButton">
                            <ul>
								#if($!{CS_HTML.txt2html($confirmYn.INSA_INFO_YN)} != "Y")
									<li><input type="button" id="btnPcmtAdd" 	value="행추가" /></li>
								#end
                                <li><input type="button" id="btnBack" 		value="돌아가기" /></li>
								#if($!{CS_HTML.txt2html($confirmYn.INSA_INFO_YN)} != "Y")
                                    <li><input type="button" id="btnInsert"		value="저장" /></li>
                                    <li><input type="submit" id="btnDelete" 	value="삭제" /></li>
								#end
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a id="anchor"></a>
    <div class="clear"></div>
</div>
