#*************************************************************************
* CLASS 명      : popExcelUpload.vm
* 작 업 자      : 안요한
* 작 업 일      : 2013.06.08
* 기    능      : 엑셀업로드
* ---------------------------- 변 경 이 력 --------------------------------
* 번호   작 업 자     작   업   일        변 경 내 용             비고
* ----  --------  -----------------  -------------------------  --------
*  1     안요한      2013.06.08          최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
		/******************************************
		 * 닫기 버튼 이벤트
		 ******************************************/
		J("#btnClose").click(function(e) {
			J.fancybox.close();
		});
		
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnExcelInsert").click(function(e) {
			e.preventDefault();
			savePopDo();
		});
		
		/******************************************
		 * 엑셀업로드
		 ******************************************/
		J("#formFindPop").submit(function(event) {
			//dummy
		});
	});
	
	/******************************************
	 * 저장
	 ******************************************/
	function savePopDo() {
	
		if(J("#file1").val() == "") {
			J.showMsgBox("파일을 선택해 주십시요", null, null);
			return;
		}
		
		if(J("#file1").val().indexOf(".xls") < 0) {
			J.showMsgBox("엑셀파일만 등록가능합니다", null, null);
			return;		
		}
		
		document.charset='utf-8';
		
		J("#formFindPop").attr("action", "$!{searchMap.txt2html("context")}/prs/insa/insa/excelUploadProcess.vw?type=template").submit();
	}
 
//]]>
</script>

<form id="formFindPop" name="formFindPop" method="post" enctype="multipart/form-data" action="$!{searchMap.txt2html("context")}/prs/insa/insa/excelUploadProcess.vw?type=template">
	<input type="hidden" 	name="mode" 			value="ADD"/>
	<input type="hidden" 	name="itemCd" 			value="$!{CS_HTML.txt2html($detail.ITEM_CD)}"/>
	<input type="hidden"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
	<input type="hidden"   	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
	<input type="hidden" 	name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
	
	<input type="hidden" 	name="findYear"		value="$!{searchMap.txt2html("findYear")}" />
	
    <div style="width:500px;height:150px;margin-top:5px;">
    	<div class="blockDetail">
    		<table summary="엑셀업로드">
    			<caption class="none">엑셀업로드</caption>
    			<colgroup>
    				<col width="15%" />
    				<col width="85%" />
    			</colgroup>
    			<tbody>

    				<tr>
    					<th scope="row"><label for="file1">파일선택</label></th>
    					<td>
    						<input type="file" id="file1" name="file1" size="45" />
    					</td>
    				</tr>
    				
    			</tbody>
    		</table>
    	</div>
    	<div class="blockButton"> 
    		<ul>
    			<li><input type="button" id="btnClose" value="닫기" /></li>
    			<li><input type="submit" id="btnExcelInsert" value="엑셀로딩" /></li>
    		</ul>
    	</div>	
    </div>
</form>
