#*************************************************************************
* CLASS 명      : excRptList
* 작 업 자      : 안요한
* 작 업 일      : 2013년 07월 15일 
* 기    능      : 별도평가대상-사업추진보고서
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     안요한      2013년 07월 15일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/cbe/exc/excRpt/excRptList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/cbe/exc/excRpt/excRptList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj) {return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['평가년도', '평가차수코드','별도평가대상ID','별도평가대상', '사업추진보고서ID','사업추진보고서<br>대상여부','제출여부'],
			colModel     :[
							{name:'YEAR'				,index:'YEAR'				,width:150		,align:'center' }, 
							{name:'EVAL_DEGREE_ID'		,index:'EVAL_DEGREE_ID'		,width:150		,align:'center' },
                            {name:'EXC_EVAL_TARGET'		,index:'EXC_EVAL_TARGET'	,width:200		,align:'center'	}, 
                            {name:'EXC_EVAL_TARGET_NM'	,index:'EXC_EVAL_TARGET_NM'	,width:200		,align:'left'			,formatter:linkUpdate}, 
                            {name:'BSC_EXC_RPT_ID'		,index:'BSC_EXC_RPT_ID'		,width:200		,align:'left'	},
                            {name:'RPT_YN'				,index:'RPT_YN'				,width:100		,align:'center'	},
							{name:'SUBMIT_YN_NM'		,index:'SUBMIT_YN_NM'		,width:100 		,align:'center' }						
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : false,
			gridview     : true,
			caption:"사업추진보고서"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"EVAL_DEGREE_ID").jqGrid('hideCol',"EXC_EVAL_TARGET").jqGrid('hideCol',"BSC_EXC_RPT_ID").setGridWidth($!{jqGrid_width});
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
		
		/******************************************
		 * 확정버튼 이벤트
		 ******************************************/
		J("#btnConfirm").click(function(e) {
			e.preventDefault();
			getConfirm();
		});
		
		/******************************************
		 * 확정취소버튼 이벤트
		 ******************************************/
		J("#btnCancle").click(function(e) {
			e.preventDefault();
			btnCancle();
		});
		
		// 사업추진보고서 제출기간 보여주기
		if( "T" == "$!{rptSchedule.RPT_YN}" ){
			var startDt = "$!{CS_FORMAT.dateFormat( $!{rptSchedule.SEPA_EVAL_BASE_REG_START_DT} )}";
			var endDt = "$!{CS_FORMAT.dateFormat( $!{rptSchedule.SEPA_EVAL_BASE_REG_END_DT} )}";
			if( startDt.length > 0 && endDt.length > 0 ){
				J("#alertDis").html("※  사업추진보고서 제출기간 : " + startDt + " ~ " + endDt );
			}
		} else {
			J("#alertDis").html("※  사업추진보고서 제출기간이 아닙니다." ).attr("class","txt_red");
		}
	});
	
	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function getConfirm() {
		
		J.showConfirmBox("확정하시겠습니까?", "Confirm"); //Confirm() 콜백함수 호출
	}
    
	/******************************************
	 * 확정
	 ******************************************/
	function Confirm() {
		
		J("#mode").val("CONF");
		J("#year").val(J("#findYear").val());
		J("#rptYn").val('Y');
		J("#formList").attr("action", "$!{context_path}/cbe/exc/excRpt/excRptProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 확정취소처리
	 ******************************************/
	function btnCancle(){
		
		J.showConfirmBox("사업추진실적보고서확정을 취소 하시겠습니까?", "CancelDo"); //CancelDo() 콜백함수 호출
		
	}
	
	/******************************************
	 * 확정취소처리
	 ******************************************/
	function CancelDo() {
		J("#mode").val("CONF");
		J("#year").val(J("#findYear").val());
		J("#rptYn").val('N');
		J("#formList").attr("action", "$!{context_path}/cbe/exc/excRpt/excRptProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * jqGrid 사업추진보고서 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		var retVal = "";
		if(rowObject.RPT_YN == "비대상") {
			return cellvalue;
		} else {
		
			return '<a href=javascript:goRpt(' + options.rowId + ')>' + cellvalue + '<//a>';
		}
	
	}
	
	/******************************************
	 * 사업추진보고서 조회
	 ******************************************/
	function goRpt(rowId) {
		
		var exc = "";
		var ret = J("#list").jqGrid('getRowData',rowId);
		
		J("#year").val(J("#findYear").val());
		J("#evalDegreeId").val(ret.EVAL_DEGREE_ID);
		J("#excEvalTarget").val(ret.EXC_EVAL_TARGET);
		J("#excRptId").val(ret.BSC_EXC_RPT_ID);
		exc = J("#excEvalTarget").val();
		exc = exc.substr(0,1);
		
		J("#excEvalTargetGubun").val(exc);
		
		J("#formList").attr("action", "$!{context_path}/cbe/exc/excRpt/excRptModify.vw?type=template").submit();
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">사업추진보고서</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/cbe/exc/excRpt/excRptList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="자기성과기술서 검색 조건">
						<caption class="none">자기성과기술서 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
								#*
								<td class="searchBox_tit w250">
            						<span><label for="findKorNm">이름</label></span>
									<span class="searchBar">
                						#if($!{CS_LOGIN.chkAuthGrp("01")} == true || $!{CS_LOGIN.chkAuthGrp("51")} == true || $!{CS_LOGIN.chkAuthGrp("60")} == true)
    										<input type="text" name="findKorNm" id="findKorNm" value="$!{searchMap.txt2html("findKorNm")}" />
                						#else
                							<input type="text" name="findKorNm" id="findKorNm" value="$!{CS_LOGIN.getUser_nm()}" readOnly/>
                							<input type="hidden" name="findSabun" id="findSabun" value="$!{CS_LOGIN.getSabun()}" />
                							<input type="hidden" name="findScDeptId" id="findScDeptId" value="$!{CS_LOGIN.getSc_dept_id()}" />
                						#end
            						</span>
            					</td>
								*#
								<td class="searchBox_tit w250">
            						<span><label for="findSubmitYn">제출여부</label></span>
            						<span class="searchBar">
										<select id="findSubmitYn" name="findSubmitYn" class="select w80">
											<option value="">전체</option>
            								$!CS_CODE.getCodeOption("179", $!{searchMap.txt2html("findSubmitYn")}, $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/cbe/exc/excRpt/excRptProcess.vw?type=template">
			<input type="hidden" id="mode"					name="mode" />
			<input type="hidden" id="year"					name="year" />
			<input type="hidden" id="evalDegreeId"			name="evalDegreeId" />
			<input type="hidden" id="excEvalTarget"			name="excEvalTarget" />
			<input type="hidden" id="excEvalTargetGubun"	name="excEvalTargetGubun" />
			<input type="hidden" id="excRptId"				name="excRptId" />
			<input type="hidden" id="rptYn"					name="rptYn" />
			
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="사업추진보고서 조회결과">
							<caption class="none">사업추진보고서 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton_l txt_blue">
							<span id="alertDis"></span>
						</div>
						<div class="blockButton">
							<ul>
			    				#if($!{CS_HTML.txt2html($confirmYn.RPT_YN)} != "Y") 
			    					<li><input type="button" id="btnConfirm" value="확정" /></li>
			    				#else
			    					<li><input type="button" id="btnCancle" value="확정취소" /></li>
			    				#end
	    					</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>
