#*************************************************************************
* CLASS 명      : prsEmpEvalList
* 작 업 자      : 신인수
* 작 업 일      : 2013년 7월 8일
* 기    능      : 직원개인평가
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     신인수      2013년 7월 8일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/prs/emp/prsEmpEval/prsEmpEvalList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

    var J = jQuery;

    J(document).ready(function(){

        /******************************************
         * 데이터 그리드 출력
         ******************************************/
        var str = J('#formFind').serialize();

        jQuery("#list").jqGrid({
            url          :"$!{context_path}/prs/emp/prsEmpEval/prsEmpEvalList_xml.vw" + "?" + str,
            mtype        :"POST",
            datatype     :"json",
            jsonReader   : {
                            page   : "page",
                            total  : "total",
                            root   : "rows",
                            records: function(obj){return obj.length;},
                            repeatitems: false,
                            id     : "id"
                           },
            height       : $!{jqGrid_height},
            width        : $!{jqGrid_width},
            colNames     :['평가년도', '조직코드', '조직명', '평가대상인원', '평가여부', '평가상태', '평가차수', '평가자사번', '평가군존재여부'],
            colModel     :[
                            {name:'YEAR'                 ,index:'YEAR'                 ,width:150   ,align:'center' },
                            {name:'DEPT_CD'              ,index:'DEPT_CD'              ,width:150   ,align:'center' },
                            {name:'DEPT_KOR_NM'          ,index:'DEPT_KOR_NM'          ,width:150   ,align:'left'   },
                            {name:'EVAL_COUNT'           ,index:'EVAL_COUNT'           ,width:150   ,align:'center' ,formatter:linkUpdate},
                            {name:'EVAL_SUBMIT_YN'       ,index:'EVAL_SUBMIT_YN'       ,width:150   ,align:'center' },
                            {name:'EVAL_SUBMIT_YN_NM'    ,index:'EVAL_SUBMIT_YN_NM'    ,width:150   ,align:'center' },
							{name:'ASSESSOR_DEGREE'      ,index:'ASSESSOR_DEGREE'      ,width:150   ,align:'center' },
							{name:'ASSESSOR_EMPN'      	 ,index:'ASSESSOR_EMPN'        ,width:150   ,align:'center' },
							{name:'EVAL_GRP_YN'      	 ,index:'EVAL_GRP_YN'          ,width:150   ,align:'center' }
                            ],
            rowNum       : $!{jqGrid_rownum},
            autowidth    : false,
            viewrecords  : true,
            loadonce     : true,
            multiselect  : false,
            cellEdit     : true,
            gridview     : true,
			cmTemplate: {sortable:false},
            caption:"직원개인평가"
        }).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"DEPT_CD").jqGrid('hideCol',"EVAL_SUBMIT_YN").jqGrid('hideCol',"EVAL_GRP_YN").jqGrid('hideCol',"ASSESSOR_DEGREE").jqGrid('hideCol',"ASSESSOR_EMPN").setGridWidth($!{jqGrid_width});

        /******************************************
         * 조회
         ******************************************/
        J("#formFind").submit(function(event) {
            //submit 하기전 작업추가
        });

        /******************************************
         * 신규 등록
         ******************************************/
        J("#btnInsert").click(function() {
            J("#year").val(J("#findYear").val());
            J("#mode").val("ADD");
            J("#formList").attr("action", "$!{context_path}/prs/emp/prsEmpEval/prsEmpEvalModify.vw?type=template").submit();
        });

        /******************************************
         * 삭제 버튼 클릭 이벤트
         ******************************************/
        J("#btnDelete").click(function() {
            goDelete();
            return false;
        });

        /******************************************
         * 엑셀다운로드 버튼 클릭 이벤트
         ******************************************/
        J("#btnExcelDown").click(function() {
            excelDownload();
            return false;
        });
		
		// 평가기간 보여주기
		if( "T" == "$!{evalSchedule.EVAL_YN}" ){
			var startDt = "$!{CS_FORMAT.dateFormat( $!{evalSchedule.EMP_START_DT} )}";
			var endDt = "$!{CS_FORMAT.dateFormat( $!{evalSchedule.EMP_END_DT} )}";
			var str = "";
			if( startDt.length > 0 && endDt.length > 0 ){
				str += "※  직원개인평가 기간 : " + startDt + " ~ " + endDt;
			}
			J("#alertDis").html(str);
			J("#btnSubmitEval").show();
		} else {
			J("#alertDis").html("※  직원개인평가 기간이 아닙니다." ).attr("class","txt_red");
			//J("#btnSubmitEval").hide();
		}
    });

	/******************************************
	 * 그리드 ajax 조회
	 ******************************************/
	function goGridSearch() {
		J("#list").setGridParam({url:"$!{context_path}/prs/emp/prsEmpEval/prsEmpEvalList_xml.vw?"+J("#formFind").serialize()});
		J("#list").trigger("reloadGrid");
	}

	/******************************************
	 * 조직선택 클릭이벤트
	 ******************************************/
	function goAction(deptCd, deptNm) {
		setDeptInfo(deptCd, deptNm);
	}

	/*****************************************************
	 * 조직선택 설정
	 *****************************************************/
	function setDeptInfo(deptCd, deptNm) {

		// 조직트리에서 조직 선택 시 Ajax로 데이터그리드만 다시 조회하므로 formList의 searchMap.makeHiddenFind() 가 다시 생성되지 않음.
		// formList가 submit되는 경우(신규, 수정, 삭제) 조직트리에서 선택된 조직의 정보를  유지시켜주기 위해 설정.
		J("#formList input[name=findDeptCd]").val(deptCd);
		J("#formList input[name=findDeptNm]").val(J(deptNm).text());

		//var findCastTc = J("input:radio[name=findCastTc]:checked").val();
		J('input:radio[name=findCastTc]:input[value=""]').attr("checked", true);


			// formFind의 변수들 설정.
			J("#findDeptCd").val(deptCd);			// 조직Tree에서 선택한 조직코드를 설정.
			J("#findDeptNm").val(J(deptNm).text());	// 조직Tree에서 선택한 조직명을 설정.(신규 등록시 사용함.)

			goGridSearch();

	}

    /******************************************
     * jqGrid 수정페이지 링크
     ******************************************/
    function linkUpdate(cellvalue, options, rowObject) {
		var evalGrpYn = true;
		var str = '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '<//a>';
		
		if(rowObject.EVAL_GRP_YN == "N"){
			evalGrpYn = false;
		}
		
		if(!evalGrpYn){
			J("#alertDis2").html("※ 개인평가 > 기본정보 > 직원평가 조직별 평가군을 설정하시면 상세보기가 가능합니다." ).attr("class","txt_red");
		}
		
		if(!evalGrpYn){
		 	str = cellvalue;
		}
	
        return str;
    }

    /******************************************
     * 수정
     ******************************************/
    function goModify(rowId) {
        var ret = J("#list").jqGrid('getRowData',rowId);
		
		J("#year").val(J("#findYear").val());
		J("#deptCd").val(ret.DEPT_CD);
		J("#assessorDegree").val(ret.ASSESSOR_DEGREE);
        J("#mode").val("MOD");
		J("#assessorEmpn").val(ret.ASSESSOR_EMPN);
        J("#formList").attr("action", "$!{context_path}/prs/emp/prsEmpEval/prsEmpEvalModify.vw?type=template").submit();
    }

    /******************************************
     * 삭제
     ******************************************/
    function goDelete() {
        if(!J.gridSelectChk("list")){
            J.showMsgBox("삭제할 데이터를 선택하십시요", null, null);
        } else {
            J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
        }
    }

    /******************************************
     * 삭제처리
     ******************************************/
    function deleteDo() {
        var id = J("#list").getGridParam('selarrrow');
        var ids = J("#list").jqGrid('getDataIDs');
        var rowdata = "";


        for (var i = 0; i < ids.length; i++) {
            J.each(id, function (index, value) {
                if (value == ids[i]) {
                    rowdata = J("#list").getRowData(ids[i]);

                }
            });
        }


        J("#mode").val("DEL");
        J("#year").val(J("#findYear").val());
        J("#formList").attr("action", "$!{context_path}/prs/emp/prsEmpEval/prsEmpEvalProcess.vw?type=template").submit();
        return false;
    }

    /******************************************
     * 엑셀다운로드
     ******************************************/
    function excelDownload(){
        J("#yearNm").val(J("#findYear > option:selected").text());
        J("#formList").attr("action", "$!{context_path}/prs/emp/prsEmpEval/prsEmpEvalListExcel.vw?type=excel").submit();
        return false;
    }

	/******************************************
	 * 평가년도 변경시 평가자 다시 가져오기
	 ******************************************/
	function chgYear(){

		J.ajax({
        	url      : "$!{context_path}/prs/emp/prsEmpEval/prsEmpAssesorList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#findAssessorEmpn").empty();

				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findAssessorEmpn');
				})
        	}
    	});
	}

//]]>
</script>

<div id="Table">
    <div id="Table_blockContainer">
        <h1 class="none">직원개인평가</h1>
        <div class="tableTop">
            #parse("/WEB-INF/vl/common/template/tabs.vm")

            <!-- search S -->
            <form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/emp/prsEmpEval/prsEmpEvalList.vw?type=template">
                <input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
                <input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
                <input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden" 	id="findDeptCd"	    name="findDeptCd"	    />
				<input type="hidden" 	id="findDeptNm"	    name="findDeptNm"		/>

                <div class="searchBox">
                    <div><div><div>
                    <table summary="직원개인평가검색 조건">
                        <caption class="none">직원개인평가 검색 조건</caption>
                        <thead><tr><th></th></tr></thead>
                        <tbody>
                            <tr>
                                <td class="searchBox_tit w250">
                                    <span><label for="findYear">$!{YEAR}</label></span>
                                    <span class="searchBar">
                                        <select id="findYear" name="findYear" class="select w80" onchange="chgYear();">
                                            $!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
                                        </select>
                                    </span>
                                </td>
                                #if($!{CS_LOGIN.chkAuthGrp("01")} == true || $!{CS_LOGIN.chkAuthGrp("60")} == true)
								<td class="searchBox_tit w270">
            						<span><label for="findAssessorEmpn">평가자</label></span>
            						<span class="searchBar">
            							<select id="findAssessorEmpn" name="findAssessorEmpn" class="select w170">
            								#foreach($assessorList in $assessorList)
												<option value="$!{CS_HTML.txt2html($assessorList.ASSESSOR_EMPN)}$!{CS_HTML.txt2html($assessorList.DEGREE)}" $searchMap.getSelected("findAssessorEmpn", "$!{CS_HTML.txt2html($assessorList.ASSESSOR_EMPN)}$!{CS_HTML.txt2html($assessorList.DEGREE)}")>$!{CS_HTML.txt2html($assessorList.KOR_NM)} [$!{CS_HTML.txt2html($assessorList.DEGREE)}차]  </option>
											#end

            							</select>
            						</span>
            					</td>
								#else
								<td>
                					<input type="hidden" name="findAssessorEmpn" id="findAssessorEmpn" value="$!{CS_LOGIN.getSabun()}" />
								</td>
								#end
                            </tr>
                        </tbody>
                    </table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
                </div>
            </form>
            <!-- search E -->
            <div class="clear"></div>
        </div>

        <form id="formList" name="formList" method="post" action="$!{context_path}/prs/emp/prsEmpEval/prsEmpEvalProcess.vw?type=template">
            <input type="hidden" id="mode"       		name="mode" />
            <input type="hidden" id="year"       		name="year" />
            <input type="hidden" id="yearNm"     		name="yearNm" />
			<input type="hidden" id="deptCd"     		name="deptCd" />
			<input type="hidden" id="assessorEmpn"     	name="assessorEmpn" />
			<input type="hidden" id="assessorDegree"    name="assessorDegree" />
            $!{searchMap.makeHiddenFind()}
            <div id="splitterBox">
                <div>
                    <!-- 데이터그리드 Start -->
                    <div class="blockGridListTable">
                        <table id="list" summary="직원개인평가 조회결과">
                            <caption class="none">직원개인평가 조회</caption>
                            <thead><tr><th></th></tr></thead>
                            <tbody><tr><td></td></tr></tbody>
                        </table>
                        <div id="pager"></div>
                    </div>
                    <!--// 데이터그리드 End -->
					<div class="blockButton_l txt_blue">
						<span id="alertDis">
						</span>
						<span id="alertDis2">
						</span>
					</div>
                    <div class="blockButton_all">
                        <div class="blockButton">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="clear"></div>
</div>
