#*************************************************************************
* CLASS 명      : menuList
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 6월 6일 
* 기    능      : 메뉴관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1     하윤식      2012년 6월 6일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/bsc/system/menu/menuList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
	
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#content").checkbyte({
			indicator:J("#indicator"),
			limit:1000
		});
		J("#content").trigger("keyup");
		
		/******************************************
		 * 디폴트 조회
		 ******************************************/
		goAction('$!{searchMap.txt2html("pgmId")}');
		
		/******************************************
		 * 메뉴트리 작성
		 ******************************************/
		J("#tree").dynatree({
			onActivate: function(node) {
				goAction(node.data.key);
			}
		});
	});

	
	/******************************************
	 * 조회
	 ******************************************/
    function goAction(pgmId) {
		var findHighPgmId = J("#findHighPgmId").val();
		var findSubPgmId  = J("#findSubPgmId").val();
		var findYear  = J("#findYear").val();

		J.ajax({
        	url      : "$!{context_path}/bsc/system/menu/menuListData.vw",
        	cache    : false,
        	type     : "POST",
			data     : "pgmId=" + pgmId + "&amp;findHighPgmId=" + findHighPgmId + "&amp;findSubPgmId=" + findSubPgmId + "&amp;findYear=" + findYear,
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
        		J("#menuData").empty();  //body부분 div를 empty 시켜줌(empty를 시키지 않을 경우 메모리릭 발생)   
        		J("#menuData").append(data);
        	}
    	});

	}
	
	/******************************************
	 * 메뉴 추가 필수입력 체크(입력form)
	 ******************************************/
	function saveChk() {
		
		if(!J.checkLength("pgmNm", "메뉴", 1, 70)) {
			return;
		}
		
		if(!J.checkLength("url", "URL", 0, 1500)) {
			return;
		}
		
		if(!J.checkLength("param", "PARAM", 0, 500)) {
			return;
		}
		
		if(!J.checkLength("content", "비고", 0, 500)) {
			return;
		}
        
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
	
	/******************************************
	 * 메뉴저장
	 ******************************************/
	function saveDo() {
		J("#formIns").attr("action", "$!{context_path}/bsc/system/menu/menuProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 메뉴 수정 필수입력 체크(수정form)
	 ******************************************/
	function saveChk2() {
	
		if(!J.checkLength("pgmNmU", "메뉴", 1, 70)) {
			return;
		}
        
        if(!J.checkLength("urlU", "URL", 0, 1500)) {
            return;
        }
        
        if(!J.checkLength("param", "PARAM", 0, 500)) {
            return;
        }
        
        if(!J.checkLength("contentU", "비고", 0, 500)) {
            return;
        }
		
		J.showConfirmBox("저장하시겠습니까?", "updateDo"); //updateDo() 콜백함수 호출
	}
	
	/******************************************
	 * 메뉴 삭제 체크(수정form)
	 ******************************************/
	function deleteChk() {
		J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
	}
	
	/******************************************
	 * 메뉴삭제
	 ******************************************/
	function deleteDo() {
		J("#modeMod").val("DEL");
		J("#formMod").attr("action", "$!{context_path}/bsc/system/menu/menuProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 메뉴수정
	 ******************************************/
	function updateDo() {
		J("#formMod").attr("action", "$!{context_path}/bsc/system/menu/menuProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 권한저장
	 ******************************************/
	function saveAdminDo() {
		J("#formAdmin").attr("action", "$!{context_path}/bsc/system/menu/menuProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 정렬순서 저장
	 ******************************************/
	function saveSortDo() {
        var sortOrder = document.getElementsByName("sortOrders");
        var sortCnt   = document.getElementsByName("sortOrders").length;
        
        for( var i = 0; i <sortCnt; i++) {
            
            if( !onlyNumber(sortOrder[i].value, "정렬순서") ){
                sortOrder[i].focus();
                return;
            }
        
        }
        
		J("#formSort").attr("action", "$!{context_path}/bsc/system/menu/menuProcess.vw?type=template").submit();
	}
	
//]]>
</script>
 
<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">메뉴조회</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
		</div>
		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/system/menu/menuProcess.vw?type=template">
			<input type="hidden" 	id="mode"    		name="mode" />
			<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
			<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
			<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
			<input type="hidden"    id="findYear"       name="findYear"         value="$!{searchMap.txt2html("findYear")}" />
				
			<div id="splitterBox">
				<div>
					<table width="100%" cellspacing="0" cellpadding="0" border="0" summary="메뉴트리">
						<caption class="none">메뉴트리</caption>
						<thead><tr><th></th></tr></thead> 
						<tbody>
							<tr>
								<td style="width:10%;">&nbsp;</td>
								<td style="width:40%;" valign="top">
									<!-- 트리 테이블 -->
									<table width="100%" cellspacing="0" cellpadding="0" border="0" summary="메뉴트리">
										<caption class="none">메뉴트리</caption>
										<thead><tr><th></th></tr></thead>
										<tbody>
											<tr>
												<td>
													<br/>
													
													<!-- 메뉴펼침 class="expanded" -->
													<div id="tree">
                                                		<ul id="treeData" class="none">
															#foreach($list in $menuList)
    															<!-- 0레벨 조회 -->
																#set($menuOpenStatus = "folder expanded")
    															#if($list.LEVEL_ID == '00')
																	#if($!{CS_HTML.txt2html($list.PGM_ID)} == $!{searchMap.txt2html("topPgmId")})
                            											#set ($menuOpenStatus = "folder expanded")
                            										#end
																	<li class="$!{menuOpenStatus}"  id="$!{CS_HTML.txt2html($list.PGM_ID)}">$!{CS_HTML.txt2html($list.PGM_NM)}
        																<ul>
                														#foreach($list1 in $menuList)
                															<!-- 1레벨 조회 -->
            																#set($menuOpenStatus = "folder")
                															#if($list1.LEVEL_ID == '01')
            																	#if($!{CS_HTML.txt2html($list1.PGM_ID)} == $!{searchMap.txt2html("topPgmId")})
                                        											#set ($menuOpenStatus = "folder expanded")
                                        										#end
            																	<li class="$!{menuOpenStatus}"  id="$!{CS_HTML.txt2html($list1.PGM_ID)}">$!{CS_HTML.txt2html($list1.PGM_NM)}
                    																<ul>
                    																<!-- 2레벨 조회 -->
                    																#foreach($list2 in $menuList)
            																			#set($subMenuOpenStatus = "")
                    																	#if($list2.LEVEL_ID == '02' && $list1.PGM_ID == $list2.UP_PGM_ID)
            																				#if($list2.CNT != '0')
            																					#set ($subMenuOpenStatus = "folder")
            																					#if($!{CS_HTML.txt2html($list2.PGM_ID)} == $!{searchMap.txt2html("subPgmId")})
                                                        											#set ($subMenuOpenStatus = "folder expanded")
                                                        										#end
            																				#end
                    																		<li class="$!{subMenuOpenStatus}" id="$!{CS_HTML.txt2html($list2.PGM_ID)}">$!{CS_HTML.txt2html($list2.PGM_NM)}
                    																			<!-- 3레벨 조회 -->
                    																			#if($list2.CNT != '0')
                    																			<ul>
                    																				#foreach($list3 in $menuList)
                    																					#if($list3.LEVEL_ID == '03' && $list2.PGM_ID == $list3.UP_PGM_ID) 
                                																			<li id="$!{CS_HTML.txt2html($list3.PGM_ID)}">$!{CS_HTML.txt2html($list3.PGM_NM)}</li>
                    																					#end
                    																				#end
                                                                            					</ul>
                    																			#end
                    																		</li>
                    																	#end
                    																#end
                    																</ul>
                        														</li>
            																#end
    																	#end
    																	</ul>
            														</li>
																#end
															#end
														</ul>
													</div>
													
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top">
									<div id="menuData"></div>
								</td>
							</tr>
                        </tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
	<div class="clear"></div>
</div>

