#*************************************************************************
* CLASS 명		: deptModify
* 작 업 자		: 안요한  
* 작 업 일		: 2013년 05월 13일 
* 기    능		: 인사조직관리    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    안 요 한      2013년 05월 13일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
	
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			var findYear = J("#findYear").val();
			
		});
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
		var deptCd = J("#deptCd").val();
		J("#findDeptCd").val(deptCd);						
			J("#formFind").attr("action", "$!{context_path}/prs/insa/dept/deptList.vw?type=template").submit();
		});
		
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
		/******************************************
		 * 정렬순서 숫자만 입력받기
		 ******************************************/
		J("#dispOrder").numeric();
		J("#dispOrder").css("ime-mode", "disabled"); //한글사용 비활성화
		
		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#icSearch").fancybox();
		J("#icSearch1").fancybox();
		J("#managerUserSearch").fancybox();
		J("#bscUserSearch").fancybox();
		
		
		/******************************************
		 * 사용중이면서 하위코드 존재시 삭제못함
		 ******************************************/
		#if( $!{CS_HTML.txt2html($detail.USE_YN)} == "Y" && $!{CS_HTML.txt2html($detail.CNT)} != "0")
			J(":input:radio[name=useYn]").attr("disabled", true);
        #end
		
	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		if(!J.checkLength("deptCd", "인사조직", 1, 4)) {
			return;
		
		} else if("0" != J("#levelId").val()) {	// 조직레벨이 0레벨이 아닐경우 상위조직 체크
			if(!J.checkLength("upDeptCd", "상위조직", 1, 150)) {
				return;
			}
		}
		
		if(!J.checkLength("upDeptCd", "상위조직", 1, 4)) {
			return;
        }
        
        if( !onlyNumber(J("#dispOrder").val(), "정렬순서") ) {
            J("#dispOrder").focus();
            return;
        }

		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/prs/insa/dept/deptProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 조직선택 클릭이벤트
	 ******************************************/
	function goAction(deptCd, deptNm) {
		setDeptInfo(deptCd, deptNm);
	}
	
	/*****************************************************
	 * Left 조직트리에서 조직선택 설정
	 *****************************************************/ 
	function setDeptInfo(deptCd, deptNm ) {
	
		
		// 조직트리에서 조직 선택 시 Ajax로 데이터그리드만 다시 조회하므로 formList의 searchMap.makeHiddenFind() 가 다시 생성되지 않음.
		// form1가 submit되는 경우(신규, 수정, 삭제) 조직트리에서 선택된 조직의 정보를  유지시켜주기 위해 설정.
		J("#form1 input[name=findDeptCd]").val(deptCd);
		J("#form1 input[name=findUpDeptName]").val(J(deptNm).text());
	
		J("#findDeptCd").val(deptCd);						// 조직Tree에서 선택한 조직코드를 설정.
		J("#findUpDeptName").val(J(deptNm).text());	    // 조직Tree에서 선택한 조직명을 설정.(신규 등록시 사용함.)
			
		J("#formFind").attr("action", "$!{context_path}/prs/insa/dept/deptList.vw?type=template").submit();
		
	}
	
	/*****************************************************
	 * 인사조직에서 상위조직 팝업에서 조직선택 설정
	 *****************************************************/ 
	function setDeptInfoPop1(deptCd, deptNm) {
		J("#deptCd").val(deptCd); 			    			// 조직Tree에서 선택한 조직코드를 설정.
		var names = J(deptNm).text();
		var arrName = names.split(" ");
		
		if (arrName.length == 1) {
			J("#deptNm").val(arrName[0]);				// 조직Tree에서 선택한 조직코드를 설정.
		} else if ( arrName.length > 1 ) {
			 J("#deptNm").val(arrName[1]);				// 조직Tree에서 선택한 조직코드를 설정.
		} 
		J.fancybox.close();
	}
	
	/*****************************************************
	 * 상위조직에서 상위조직 팝업에서 조직선택 설정
	 *****************************************************/ 
	function setDeptInfoPop(deptCd, deptNm) {
		J("#upDeptCd").val(deptCd); 			// 조직Tree에서 선택한 조직코드를 설정.
		J("#upDeptName").val(J(deptNm).text());				// 조직Tree에서 선택한 조직코드를 설정.
		J.fancybox.close();
	}
	
	/*****************************************************
	 * 부서장 설정
	 *****************************************************/ 
	function setManagerUserInfo(arguments) {
		J("#upUserId").val(arguments[0]);
		J("#managerUserNm").val(arguments[1]);
		J.fancybox.close();
	}
	
//]]>
</script>    
 
<div id="Table">
	<div id="Table_blockContainer">
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
			<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/insa/dept/deptList.vw?type=template">
				<input type="hidden"		id="findHighPgmId"			name="findHighPgmId"		value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"		id="findSubPgmId"			name="findSubPgmId"			value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"		id="findPgmId"				name="findPgmId"				value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden"		id="findActualType"			name="findActualType"		value="$!{searchMap.txt2html("findActualType")}" />
				<input type="hidden"		id="findDeptCd"				name="findDeptCd"				value="$!{searchMap.txt2html("findDeptCd")}"/>
				<input type="hidden"		id="findUpDeptName"		name="findUpDeptName"		value="$!{searchMap.txt2html("findUpDeptName")}"/>
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="인사조직관리 검색 조건">
						<caption class="none">인사조직관리 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span>$!{YEAR}</span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
	<form id="form1" name="form1" method="post" action="$!{context_path}/prs/insa/dept/deptProcess.vw?type=template">
        <input type="hidden" id="mode"			name="mode"			value="$!{searchMap.txt2html("mode")}" />
        $!{searchMap.makeHiddenFind()}
		
		<!-- 조직트리 Start -->
		<div class="blockGridTreeTable">
			#parse("/WEB-INF/vl/prs/insa/dept/deptTree.vm") 
		</div>
				
		<div class="blockDetailForTree blockDetail" >
			<table summary="인사조직관리 등록">
				<caption class="none">인사조직관리 등록</caption>
				<colgroup>
					<col width="15%" />
					<col width="35%" />
					<col width="15%" />
					<col width="35%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row"><span class="txt_red">(*)</span> <label for="deptCd">인사조직</label></th>
						<td>
							<input type="hidden" id="deptCd" name="deptCd" value="$!{CS_HTML.txt2html($detail.DEPT_CD, $!{searchMap.txt2html("deptCd")})}" />
							<input type="text" id="deptNm" name="deptNm" class="inputbox w140 disable" value="$!{CS_STATIC.nullToDefault($!{detail.DEPT_KOR_NM}, $!{searchMap.txt2html("deptNm")})}" maxlength="20" readonly="readonly"/>
							<a id="icSearch" href="$!{context_path}/bsc/module/commModule/popDeptTree2.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSearchCodeId=$!{CS_HTML.txt2html($detail.DEPT_CD)}"><img src="$!{img_path}/common/board/ic_search.gif" id="icSearchImg" class="valign_middle" alt="부서선택" /></a> 
							<a href="javascript:J.setInit('deptCd','deptNm');"><img src="$!{img_path}/common/board/ic_cancel.gif" id="icCancelImg" class="valign_middle" alt="부서선택 취소" /></a>
                            <span id="upScDeptComment" style="color:red;"></span>
						</td>
						<th scope="row"><span class="txt_red">(*)</span> <label for="upDeptCd">상위조직 </label></th>
						<td>
							<input type="hidden" id="upDeptCd" name="upDeptCd" value="$!{CS_HTML.txt2html($detail.UP_DEPT_CD, $!{searchMap.txt2html("upDeptCd")})}" />
							<input type="text" id="upDeptName" name="upDeptName" class="inputbox w140 disable" value="$!{CS_STATIC.nullToDefault($!{detail.UP_DEPT_NAME}, $!{searchMap.txt2html("upDeptName")})}" maxlength="20" readonly="readonly"/>
							<a id="icSearch1" href="$!{context_path}/bsc/module/commModule/popScDeptTree1.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSearchCodeId=$!{CS_HTML.txt2html($detail.UP_DEPT_CD)}"><img src="$!{img_path}/common/board/ic_search.gif" id="icSearchImg" class="valign_middle" alt="부서선택" /></a> 
							<a href="javascript:J.setInit('upDeptCd','upDeptName');"><img src="$!{img_path}/common/board/ic_cancel.gif" id="icCancelImg" class="valign_middle" alt="부서선택 취소" /></a>
                            <span id="upScDeptComment" style="color:red;"></span>
						</td>
					</tr>
					<tr>
						<th scope="row"><label for="upUserId">부서장</label></th>
						<td colspan="3"style="text-align:left;">
							<input type="hidden" id="upUserId" name="upUserId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.UP_USER_ID, $!{searchMap.txt2html("UpUserId")})}" />
							<input type="text" id="managerUserNm" name="managerUserNm" class="inputbox w140 disable" value='$!{CS_HTML.txt2html($detail.MANAGER_USER_NM)}' maxlength="20" readonly="readonly"/>
							<a id="managerUserSearch" href="$!{context_path}/bsc/module/commModule/popSearchUser.vw?findYear=$!{searchMap.txt2html("year")}&amp;callBack=setManagerUserInfo"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="부서장선택" /></a> 
							<a href="javascript:J.setInit('managerUserId','managerUserNm');"><img src="$!{img_path}/common/board/ic_cancel.gif" class="valign_middle" alt="부서장선택 취소" /></a>
						</td>
					</tr>
					<tr>
						<th scope="row"><label for="useYn">사용여부</label></th>
							<td>
								$!CS_CODE.getCodeRadio("useYn", "011", $!{CS_HTML.txt2html($detail.USE_YN, 'Y')}, $!{searchMap.txt2html("findYear")})
							</td>
						<th scope="row"><label for="dispOrder">정렬순서</label></th>
						<td>
							<input type="text" id="dispOrder" name="dispOrder" class="inputbox w140" value='$!{CS_HTML.txt2html($detail.DISP_ORDER)}' maxlength="10" />
						</td>
					</tr> 
				</tbody>
			</table>
		</div>
		<div class="blockButton"> 
			<ul>
				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
				<li><input type="submit" id="btnInsert" value="저장"    /></li>
			</ul>
		</div>
	</form>
	</div>
	<div class="clear"></div>
</div>
