#*************************************************************************
* CLASS 명      : deptList_xml
* 작 업 자      : 안요한
* 작 업 일      : 2013년 05월 13일 
* 기    능      : 인사조직 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      안요한     2013년 05월 13일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"				: "$!{CS_HTML.txt2html($list.YEAR)}", 
		"DEPT_CD"			: "$!{CS_HTML.txt2html($list.DEPT_CD)}", 
		"DEPT_KOR_NM"		: "$!{CS_HTML.txt2html($list.DEPT_KOR_NM)}", 
		"UP_DEPT_CD"		: "$!{CS_HTML.txt2html($list.UP_DEPT_CD)}", 
		"UP_USER_ID"		: "$!{CS_HTML.txt2html($list.UP_USER_ID)}", 
		"USE_YN"			: "$!{CS_HTML.txt2html($list.USE_YN)}", 
		"DEPT_LEVL"       	: "$!{CS_HTML.txt2html($list.DEPT_LEVL)}", 
		"DISP_ORDER"      	: "$!{CS_HTML.txt2html($list.DISP_ORDER)}" ,
		"DEPT_GRADE"      	: "$!{CS_HTML.txt2html($list.DEPT_GRADE)}" ,
		"DEPT_SCORE"      	: "$!{CS_HTML.txt2html($list.DEPT_SCORE)}" ,
		"CNT"      			: "$!{CS_HTML.txt2html($list.CNT)}" 
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
