#*************************************************************************
* CLASS 명     : actualDetailList
* 작 업 자      	: 정용훈
* 작 업 일      	: 2013년 06월 24일 
* 기    능      	: 목표관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     정용훈      2013년 06월 24일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/man/act/actual/actualDetailList.vm.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[
	
	var J = jQuery;
	
	J(document).ready(function(){
		/******************************************
    	 * 실적입력 초기값 disabled
    	 ******************************************/
    	J("input[type=hidden]", "#blockDetailTB").attr("disabled", true);
		J("input[type=hidden]", "#blockDetailTB").addClass("readonly");
		
    	J("input[type=text]", "#blockDetailTB").attr("disabled", true);
		J("input[type=text]", "#blockDetailTB").addClass("readonly");
		
		J("#manKpiId").val('$!{detailList.MAN_KPI_ID}');
		J("#actualStatusId").val('$!{detailList.ACT_STATUS_ID}');
		showReturnView();
		
	#if($!{detailList.ACT_STATUS_ID} == "01" || $!{detailList.ACT_STATUS_ID} == "02" || $!{detailList.ACT_STATUS_ID} == "05")
		J("#content").removeClass("readonly");
	#else
		J("#content").addClass("readonly");
	#end
	
		/******************************************
		 * 목표설정근거 byte 체크
		 ******************************************/
		J("#content").checkbyte({
			indicator:J("#indicator"),
			limit:1000
		});
		J("#content").trigger("keyup");
		
	#if($!{searchMap.txt2html("findActualType")} == "input")
		/******************************************
    	 * 목표 입력 활성화
    	 ******************************************/
		var kpiCnt = J("input[name=colValues]", "#blockDetailTB").length;		
		
		for(var i=0; i<kpiCnt; i++) {
			if(J("input[name=checkMons]", "#blockDetailTB").eq(i).val() == "Y" && J("input[name=calTypeCols]", "#blockDetailTB").eq(i).val() != "1" && J("input[name=calTypeCols]", "#blockDetailTB").eq(i).val() != "2") {
				J("input[name=manKpiIds]",	"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=checkMons]",	"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=mons]",		"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=colValues]",	"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=calTypeCols]","#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=actStatusId]","#blockDetailTB").eq(i).attr("disabled", false);
				
				J("input[name=manKpiIds]",	"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=checkMons]",	"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=mons]",		"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=colValues]",	"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=calTypeCols]","#blockDetailTB").eq(i).removeClass("readonly");
			} 
		}
		
		/******************************************
    	 * 숫자만 입력받기
    	 ******************************************/
		/*
		J(":input[name=colValues]").numeric({allow:"."}); 			//숫자만 입력받기
		J(":input[name=colValues]").css("ime-mode", "disabled"); 	//한글사용 비활성화
		*/
	#end
	
	#if($!{searchMap.txt2html("findActualType")} == "check")
		/******************************************
    	 * 목표 입력 활성화
    	 ******************************************/
		var kpiCnt = J("input[name=colValues]", "#blockDetailTB").length;		
		
		for(var i=0; i<kpiCnt; i++) {
			if(J("input[name=actStatusId]", "#blockDetailTB").eq(i).val() == "06" && J("input[name=colValues]", "#blockDetailTB").eq(i).val() != "" 
			&& J("#findMon").val() == J("input[name=mons]", "#blockDetailTB").eq(i).val() 
			&& J("input[name=calTypeCols]", "#blockDetailTB").eq(i).val() != "1" && J("input[name=calTypeCols]", "#blockDetailTB").eq(i).val() != "2") {
				J("input[name=manKpiIds]",	"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=checkMons]",	"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=mons]",		"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=colValues]",	"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=calTypeCols]","#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=actStatusId]","#blockDetailTB").eq(i).attr("disabled", false);
				
				J("input[name=manKpiIds]",	"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=checkMons]",	"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=mons]",		"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=colValues]",	"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=calTypeCols]","#blockDetailTB").eq(i).removeClass("readonly");
			} 
		}
		
		/******************************************
    	 * 숫자만 입력받기
    	 ******************************************/
		J(":input[name=colValues]").numeric({allow:"."}); 			//숫자만 입력받기
		J(":input[name=colValues]").css("ime-mode", "disabled"); 	//한글사용 비활성화
	#end
		
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});
		
		/******************************************
		 * 반려조회 버튼 클릭 이벤트
		 ******************************************/
		J("#btnReturnView").click(function() {
			returnPopView();
			return false;
		});
	
	});

	
	/******************************************
	 * 파일추가
	 ******************************************/
	var fileIndex = 0;
	
	function fileAttachAdd() {
		J("#fileAttach").append("<li id=\"fileRow" + fileIndex + "\"><input type=\"file\" name=\"file" + fileIndex + "\" class=\"input\" size=\"70\" /> <input type=\"button\" value=\"삭제\" onclick=\"deleteRow(" + fileIndex + ")\" class=\"input\" size=\"70\"></li>");
		fileIndex++;
	}
	
	function deleteRow(fileIndex)	{
    	J("#fileRow" + fileIndex).remove();
    }

//]]>
</script>
<div id="blockDetailTB" class="blockListTable">
	<table summary="실적입력">
    	<caption class="none">실적입력</caption>
    	<thead>
    		<tr>
    			<th scope="col" width="8%" class="textCenter">KGS2020 KPI</th>
    		    <th scope="col" width="10%" class="textCenter" colspan= "2">구분</th>
    			<th scope="col" width="4%" class="textCenter">1월</th>
				<th scope="col" width="4%" class="textCenter">2월</th>
				<th scope="col" width="4%" class="textCenter">3월</th>
				<th scope="col" width="4%" class="textCenter">4월</th>
				<th scope="col" width="4%" class="textCenter">5월</th>
				<th scope="col" width="4%" class="textCenter">6월</th>
				<th scope="col" width="4%" class="textCenter">7월</th>
				<th scope="col" width="4%" class="textCenter">8월</th>
				<th scope="col" width="4%" class="textCenter">9월</th>
				<th scope="col" width="4%" class="textCenter">10월</th>
				<th scope="col" width="4%" class="textCenter">11월</th>
				<th scope="col" width="4%" class="textCenter">12월</th>
    		</tr>
    	</thead>
    	<tbody>
    		#foreach($list in $actualList)
    			<tr class="row1">
    			#if($!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)} == 1)
					<td class="textCenter" rowspan="$actualList.size()">$!{CS_HTML.txt2html($list.MAN_KPI_NM)}</td>
					<td class="textCenter" colspan="2">목표</td>
				#elseif($!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)} == 2)
					<td class="textCenter" colspan="2">실적</td>
				#else
					<td class="textCenter">$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.CAL_TYPE_COL_NM)}</td>
				#end
				
				#if($!{searchMap.txt2html("findActualType")} == "input" || $!{searchMap.txt2html("findActualType")} == "check")
					<td class="textCenter">
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="actStatusId"	value="$!{CS_HTML.txt2html($list.ACT_STATUS_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
						
						<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON01YN)}" />
        				<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON02YN)}" />
	        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON03YN)}" />
	        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON04YN)}" />
    	    			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON05YN)}" />
	        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON06YN)}" />
	        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON07YN)}" />
	        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON08YN)}" />
	        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON09YN)}" />
	        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON10YN)}" />
	        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON11YN)}" />
	        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON12YN)}" />
	        			
	        			<input type="hidden" name="mons"	value="01" />
						<input type="hidden" name="mons"	value="02" />
						<input type="hidden" name="mons"	value="03" />
						<input type="hidden" name="mons"	value="04" />
						<input type="hidden" name="mons"	value="05" />
						<input type="hidden" name="mons"	value="06" />
						<input type="hidden" name="mons"	value="07" />
						<input type="hidden" name="mons"	value="08" />
						<input type="hidden" name="mons"	value="09" />
						<input type="hidden" name="mons"	value="10" />
						<input type="hidden" name="mons"	value="11" />
						<input type="hidden" name="mons"	value="12" />
						
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
						<input type="hidden" name="calTypeCols"	value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_ID)}" />
	        			
	        			<input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON01)}" maxlength="15" />
					</td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON02)}" maxlength="15" /></td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON03)}" maxlength="15" /></td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON04)}" maxlength="15" /></td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON05)}" maxlength="15" /></td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON06)}" maxlength="15" /></td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON07)}" maxlength="15" /></td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON08)}" maxlength="15" /></td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON09)}" maxlength="15" /></td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON10)}" maxlength="15" /></td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON11)}" maxlength="15" /></td>
					<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON12)}" maxlength="15" /></td>
				#else
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON01)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON02)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON03)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON04)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON05)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON06)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON07)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON08)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON09)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON10)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON11)}</td>
					<td class="textCenter">$!{CS_HTML.txt2html($list.MON12)}</td>
				#end
    			</tr>
			#end
		</tbody>
		 
    </table>
	<br/>
	
	<table summary="실적입력"> 
    	<caption class="none">실적입력</caption>
		<tbody>
			<tr>
				<th width="25%">첨부파일</th>
				<td width="75%" class="textLeft">
				#if($!{searchMap.txt2html("findActualType")} == "input")
   					<a href="javascript:fileAttachAdd();"><img src="$!{searchMap.txt2html("context")}/images/common/btn_file.gif" class="valign_middle" alt="파일추가" /></a>&nbsp;(첨부파일 용량제한은 100M입니다)<br/>
   					#foreach($fileList in $fileList)
						$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))}&nbsp;&nbsp;
						#if($!{detailList.ACT_STATUS_ID} == "01" || $!{detailList.ACT_STATUS_ID} == "02" || $!{detailList.ACT_STATUS_ID} == "05")
							<input type="checkbox" name="delAttachFiles" id="delAttachFile$!{fileList.get("SEQ")}" value="$!{fileList.get("SEQ")}" />&nbsp;
							<label for="delAttachFile$!{fileList.get("SEQ")}">첨부파일 삭제</label> <br/>
						#end
					#end
				#else
					#foreach($fileList in $fileList)
						$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))}&nbsp;&nbsp;
					#end
				#end
					<div>
						<ul id="fileAttach">
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<th>실적근거</th>
				<td class="textLeft">
					<textarea id="content" name="content" class="tabletext" title="실적근거" cols="" rows="5">$!{CS_HTML.txt2html($detailList.CONTENT)}</textarea>
					<span id="indicator">0</span>/1000byte
				</td>
			</tr>
		</tbody>
	 </table>
	 <br/> 
</div>
<div class="clear"></div>
#if($!{searchMap.txt2html("findActualType")} != "approve")
		<div class="blockButton">
			<ul>
				<li><input class="ui-button ui-widget ui-state-default ui-corner-all" type="button" id="btnReturnView" value="반려조회" class="none"/></li>
				<li><input class="ui-button ui-widget ui-state-default ui-corner-all" type="submit" id="btnInsert" value="저장" /></li>
			</ul>
		</div>
#end