#*************************************************************************
* CLASS 명      : actualList_xml
* 작 업 자      : 정용훈
* 작 업 일      : 2013년 06월 24일 
* 기    능      : 실적입력/승인 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      정용훈     2013년 06월 24일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"LV"                   : "$!{CS_HTML.txt2html($list.LV)}", 
		"MON01"                : "$!{CS_HTML.txt2html($list.MON01)}", 
		"MON02"                : "$!{CS_HTML.txt2html($list.MON02)}", 
		"MON03"                : "$!{CS_HTML.txt2html($list.MON03)}", 
		"MON04"                : "$!{CS_HTML.txt2html($list.MON04)}", 
		"MON05"                : "$!{CS_HTML.txt2html($list.MON05)}", 
		"MON06"                : "$!{CS_HTML.txt2html($list.MON06)}", 
		"MON07"                : "$!{CS_HTML.txt2html($list.MON07)}", 
		"MON08"                : "$!{CS_HTML.txt2html($list.MON08)}", 
		"MON09"                : "$!{CS_HTML.txt2html($list.MON09)}", 
		"MON10"                : "$!{CS_HTML.txt2html($list.MON10)}", 
		"MON11"                : "$!{CS_HTML.txt2html($list.MON11)}", 
		"MON12"                : "$!{CS_HTML.txt2html($list.MON12)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
