#*************************************************************************
* CLASS 명      : quantMana_xml
* 작 업 자      : 김기현
* 작 업 일      : 2012년 6월 18일
* 기    능      : 시스템항목관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김기현     2012년 6월 18일            최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"              : "$!{CS_HTML.txt2html($list.YEAR)}",
		"MON"               : "$!{CS_HTML.txt2html($list.MON)}",
		"DEPT_ID"  			: "$!{CS_HTML.txt2html($list.DEPT_ID)}",
		"DEPT_NM"  			: "$!{CS_HTML.txt2html($list.DEPT_NM)}",
		"ACCT_NM"  			: "$!{CS_HTML.txt2html($list.ACCT_NM)}",
	#if("S072D001" == $!{searchMap.txt2html("findItemCd")} )
		"CUR_AMT_2"			: "$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.CUR_AMT_2)})}"
	#else
		"CUR_AMT_1"			: "$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.CUR_AMT_1)})}"
	#end
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
