#*************************************************************************
* CLASS 명      : scDeptDiagMngModify
* 작 업 자      : 김윤기 
* 작 업 일      : 2012년 7월 16일 
* 기    능      : 조직성과도관리    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    김윤기      2012년 7월 16일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/bsc/base/scDeptDiagMng/scDeptDiagMngList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		/*
		if(!J.checkLength("codeGrpNm", "코드그룹명", 1, 75)) {
			return;
		}
        
		if (J("input[name='yearYn']:checked").val() == undefined) {
			J.showMsgBox("연도별 관리여부를 선택해 주십시요", null, "yearYn1");
			return;
		}
         
		if((J("#mode").val() == "MOD" ) && (J("#oldYearYn").val() == "N") && (J("input[name='yearYn']:checked").val() == "Y")) {
			J.showMsgBox("연도별 관리시 각 연도별로 코드가 자동생성됩니다", null, null);
			J("#mode").val("MOD2");
		}
 		*/
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/bsc/base/scDeptDiagMng/scDeptDiagMngProcess.vw?type=template").submit();
	}

//]]>
</script>    
 
<form id="form1" name="form1" method="post" action="$!{context_path}/bsc/base/scDeptDiagMng/scDeptDiagMngProcess.vw?type=template">
    <input type="hidden" id="mode"		name="mode"		value="$!{searchMap.txt2html("mode")}" />
    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
    		<div class="blockDetail">
    			<table summary="조직성과도관리 등록">
					<caption class="none">조직성과도관리 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="85%" />
    				</colgroup>
    				<tbody>
						<!--
    					<tr>
    						<th scope="row"><label for="codeGrpId">코드그룹ID</label></th>
    						<td>
								#if($!{searchMap.txt2html("mode")} == "MOD")
									$!{CS_HTML.txt2html($detail.CODE_GRP_ID)}
									<input type="hidden" id="codeGrpId" name="codeGrpId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.CODE_GRP_ID)}" maxlength="3" readonly="readonly" />
								#else
									<input type="hidden" id="codeGrpId" name="codeGrpId" class="inputbox w100" maxlength="3" />
                                    ※ 저장시 자동으로 부여됩니다.
								#end
							</td>
    					</tr>
    					<tr>
    						<th scope="row"><label for="codeDefId">코드부여구분</label></th>
    						<td>
    							<select id="codeDefId" name="codeDefId" class="select w100" >
    								$!CS_CODE.getCodeOption("014", $detail.CODE_DEF_ID, $!{searchMap.txt2html("year")})
    							</select>
    						</td>
    					</tr>
    					<tr>
    						<th scope="row"><label for="codeGrpNm">코드그룹명</label></th>
    						<td><input type="text" id="codeGrpNm" name="codeGrpNm" class="inputbox w100" value='$!{CS_HTML.txt2html($detail.CODE_GRP_NM)}' maxlength="20" /></td>
    					</tr>
    					<tr>
    						<th scope="row"><label for="yearYn1">연도별관리여부 </label></th>
    						<td>
    							<input type="radio" id="yearYn1" name="yearYn" value="Y" #if(!$detail.YEAR_YN || $detail.YEAR_YN == "Y") checked="checked" #end /> 예 &nbsp;&nbsp;&nbsp;
    							<input type="radio" id="yearYn2" name="yearYn" value="N" #if($detail.YEAR_YN == "N") checked="checked" #end /> 아니오
    						</td>
    					</tr>
    					<tr>
    						<th scope="row"><label for="deleteDt">사용여부</label></th>
    						<td>
    							<select id="deleteDt" name="deleteDt" class="select w100" >
    								$!CS_CODE.getCodeOption("011", $detail.CODE_DEF_ID)
    							</select>
    						</td>
    					</tr> 
						-->
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장"    /></li>
    			</ul>
    		</div>	
    	</div>
    	<div class="clear"></div>
    </div>
</form>
