#*************************************************************************
* CLASS 명      : boardList_xml
* 작 업 자      : 한봉준
* 작 업 일      : 2012년 9월 6일 
* 기    능      : 게시판관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      한봉준     2012년 9월 6일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)


{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"BBS_ID"               : "$!{CS_HTML.txt2html($list.BBS_ID)}", 
		"BBS_SEQ"              : "$!{CS_HTML.txt2html($list.BBS_SEQ)}", 
		"BBS_PSEQ"             : "$!{CS_HTML.txt2html($list.BBS_PSEQ)}", 
		"BBS_SORT1"            : "$!{CS_HTML.txt2html($list.BBS_SORT1)}", 
		"BBS_SORT2"            : "$!{CS_HTML.txt2html($list.BBS_SORT2)}", 
		"BBS_DEPT"             : "$!{CS_HTML.txt2html($list.BBS_DEPT)}", 
		"BBS_CATEGORY"         : "$!{CS_HTML.txt2html($list.BBS_CATEGORY)}", 
		"BBS_TITLE"            : "$!{CS_HTML.txt2html($list.BBS_TITLE)}", 
		"BBS_REGISTER"         : "$!{CS_HTML.txt2html($list.BBS_REGISTER)}", 
		"BBS_REGISTER_NAME"    : "$!{CS_HTML.txt2html($list.BBS_REGISTER_NAME)}", 
		"BBS_PASSWD"           : "$!{CS_HTML.txt2html($list.BBS_PASSWD)}", 
		"BBS_READ"             : "$!{CS_HTML.txt2html($list.BBS_READ)}", 
		"BBS_RECOMMAND"        : "$!{CS_HTML.txt2html($list.BBS_RECOMMAND)}", 
		"DEPT_NM"              : "$!{CS_HTML.txt2html($list.DEPT_NM)}", 
		"CREATE_DT"            : "$!{CS_HTML.txt2html($list.CREATE_DT)}", 
		"UPDATE_DT"            : "$!{CS_HTML.txt2html($list.UPDATE_DT)}", 
		"DELETE_DT"            : "$!{CS_HTML.txt2html($list.DELETE_DT)}",
		"IS_NEW"               : "$!{CS_HTML.txt2html($list.IS_NEW)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
