#*************************************************************************
* CLASS 명      : jobRptList
* 작 업 자      : 안요한
* 작 업 일      : 2013년 06월 25일 
* 기    능      : 임원평가-직무성과기술서
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     안요한      2013년 06월 25일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/prs/dir/jobRpt/jobrptList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/prs/dir/jobRpt/jobRptList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj) {return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['평가년도', '사원번호', '이름', '직급', '직위', '근무기간','제출여부'],
			colModel     :[
							{name:'YEAR'				,index:'YEAR'				,width:150		,align:'center' }, 
                            {name:'EMPN'				,index:'EMPN'				,width:150		,align:'center' }, 
                            {name:'KOR_NM'				,index:'KOR_NM'				,width:200		,align:'center'			,formatter:linkUpdate}, 
                            {name:'CAST_TC_NM'			,index:'CAST_TC_NM'			,width:150		,align:'center'	},
                            {name:'POS_TC_NM'			,index:'POS_TC_NM'			,width:150		,align:'center'	}, 
                            {name:'DUTY_DT'				,index:'DUTY_DT'			,width:150		,align:'center'	}, 
							{name:'RPT_SUBMIT_YN_NM'	,index:'RPT_SUBMIT_YN_NM'	,width:100 		,align:'center' }						
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : false,
			gridview     : true,
			caption:"직무성과기술서"
		}).jqGrid('hideCol',"YEAR").setGridWidth($!{jqGrid_width});
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
		
		// 직무성과기술서 제출기간 보여주기
		if( "T" == "$!{jobRptSchedule.JOBRPT_YN}" ){
			var startDt = "$!{CS_FORMAT.dateFormat( $!{jobRptSchedule.DIR_RPT_START_DT} )}";
			var endDt = "$!{CS_FORMAT.dateFormat( $!{jobRptSchedule.DIR_RPT_END_DT} )}";
			if( startDt.length > 0 && endDt.length > 0 ){
				J("#alertDis").html("※  직무성과기술서 제출기간 : " + startDt + " ~ " + endDt );
			}
		} else {
			J("#alertDis").html("※  직무성과기술서 제출기간이 아닙니다." ).attr("class","txt_red");
		}
	});
	
	/******************************************
	 * jqGrid 직무성과기술서 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		return '<a href=javascript:goRpt(' + options.rowId + ')>' + cellvalue + '<//a>';
	}
	
	/******************************************
	 * 직무성과기술서 조회
	 ******************************************/
	function goRpt(rowId) {
		
		/*
		if('$!{CS_HTML.txt2html($confirmYn)}' == 'Y'){
			J.showMsgBox("평가가 확정되어 평가대상자를 수정할수 없습니다.", null, null);
			return;
		}
		
		if('$!{CS_HTML.txt2html($closeYn)}' == 'Y'){
			J.showMsgBox("평가가 마감되어 평가대상자를 수정할수 없습니다.", null, null);
			return;
		}
		*/
	
		var ret = J("#list").jqGrid('getRowData',rowId);
		
		/*
		if(ret.EVAL_SUBMIT_CNT == '0'){
		
			J.showMsgBox("평가가 제출되어 평가대상자를 수정할수 없습니다.", null, null);
			return;
		
		}
		*/
		
		J("#year").val(J("#findYear").val());
		J("#empn").val(ret.EMPN);
		
		J("#formList").attr("action", "$!{context_path}/prs/dir/jobRpt/jobRptModify.vw?type=template").submit();
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">직무성과기술서</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/dir/jobRpt/jobRptList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="직무성과기술서 검색 조건">
						<caption class="none">직무성과기술서 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w250">
            						<span><label for="findSubmitYn">제출여부</label></span>
            						<span class="searchBar">
										<select id="findSubmitYn" name="findSubmitYn" class="select w80">
											<option value="">전체</option>
            								$!CS_CODE.getCodeOption("179", $!{searchMap.txt2html("findSubmitYn")}, $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/prs/dir/jobRpt/jobRptProcess.vw?type=template">
			<input type="hidden" id="mode"			name="mode" />
			<input type="hidden" id="year"       	name="year" />
			<input type="hidden" id="empn"       	name="empn" />
			
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="직무성과기술서 조회결과">
							<caption class="none">직무성과기술서 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton_l txt_blue">
							<span id="alertDis"></span>
						</div>
						<div class="blockButton">
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>
