#*************************************************************************
* CLASS 명      : metricMappingTabList
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 1일 
* 기    능      : 내부평가지표연계표
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     정철수      2012년 11월 1일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/str/mon/metricMappingTab/metricMappingTabList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/str/mon/metricMappingTab/metricMappingTabList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['전략과제'
						 , 'CSF'
						 , 'KGS2020KPI', '목표', '실적', '달성률'
						 , '내부평가지표', '평가조직', '목표', '실적', '점수'
						 					, '전략과제 수'		, '전략과제 INDEX'		, '전략과제 상태'		
						 , '세부과제 ID'		, '세부과제 수'		, '세부과제 INDEX'		, '세부과제 상태'		
						 , '이행성과지표 ID'	, '이행성과지표 수'		, '이행성과지표 INDEX'		, '이행성과지표 상태'
						 , '내부평가지표 ID'	, '내부평가지표 상태'
						 ],
			colModel     :[
							 
                            {name:'STRAT_NM'     	,index:'STRAT_NM'     		,width:250   ,align:'left' ,sortable:false ,cellattr: attrSettingStrategy  ,formatter:linkStrategySignal}, 
                            {name:'CSF_NM'           	,index:'CSF_NM'           		,width:250   ,align:'left' ,sortable:false ,cellattr: attrSettingSubject  ,formatter:linkSubjectSignal}, 
                            {name:'MAN_KPI_NM'    	,index:'MAN_KPI_NM'    		,width:250   ,align:'left' ,sortable:false ,cellattr: attrSettingStrategyMetric  ,formatter:linkStrategyMetricSignal}, 
                            {name:'METRIC_NM'            	,index:'METRIC_NM'            		,width:250   ,align:'left' ,sortable:false ,formatter:linkMetricSignal}, 
                            {name:'SC_DEPT_NM'           	,index:'SC_DEPT_NM'           		,width:150   ,align:'left' ,sortable:false }, 
                            {name:'METRIC_TARGET'        	,index:'METRIC_TARGET'        		,width:80   ,align:'center' ,sortable:false }, 
                            {name:'METRIC_ACTUAL'        	,index:'METRIC_ACTUAL'        		,width:80   ,align:'center' ,sortable:false ,formatter:linkMetricDetail}, 
                            {name:'METRIC_SCORE'         	,index:'METRIC_SCORE'         		,width:80   ,align:'center' ,sortable:false }, 
							
							
							{name:'STRAT_SUBJECT_CNT'    	,index:'STRAT_SUBJECT_CNT'    		,width:150   ,align:'center' ,sortable:false },
							{name:'STRAT_SUBJECT_INDEX'    	,index:'STRAT_SUBJECT_INDEX'    	,width:150   ,align:'center' ,sortable:false },
							{name:'STRAT_SUBJECT_STATUS_ID' ,index:'STRAT_SUBJECT_STATUS_ID' 	,width:150   ,align:'center' ,sortable:false },

							{name:'SUBJECT_ID'           	,index:'SUBJECT_ID'           		,width:150   ,align:'center' ,sortable:false },
                            {name:'SUBJECT_CNT'          	,index:'SUBJECT_CNT'          		,width:150   ,align:'center' ,sortable:false },
							{name:'SUBJECT_INDEX'          	,index:'SUBJECT_INDEX'          	,width:150   ,align:'center' ,sortable:false },
							{name:'SUBJECT_STATUS_ID'    	,index:'SUBJECT_STATUS_ID'    		,width:250   ,align:'center' ,sortable:false },
							
							{name:'SUBJECT_METRIC_ID'    	,index:'SUBJECT_METRIC_ID'    		,width:150   ,align:'center' ,sortable:false },
							{name:'SUBJECT_METRIC_CNT'   	,index:'SUBJECT_METRIC_CNT'   		,width:150   ,align:'center' ,sortable:false },
							{name:'SUBJECT_METRIC_INDEX'   	,index:'SUBJECT_METRIC_INDEX'   	,width:150   ,align:'center' ,sortable:false },
							{name:'SUBJECT_METRIC_STATUS_ID' ,index:'SUBJECT_METRIC_STATUS_ID' 	,width:150   ,align:'center' ,sortable:false },
							
							{name:'METRIC_ID'            	,index:'METRIC_ID'            		,width:150   ,align:'center' ,sortable:false },
							{name:'METRIC_STATUS_ID'     	,index:'METRIC_STATUS_ID'     		,width:150   ,align:'center' ,sortable:false }
                            ],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			caption:"내부평가지표연계표"
		})
		.jqGrid('hideCol',"STRAT_SUBJECT_CNT").jqGrid('hideCol',"STRAT_SUBJECT_INDEX").jqGrid('hideCol',"STRAT_SUBJECT_STATUS_ID")
		.jqGrid('hideCol',"SUBJECT_ID").jqGrid('hideCol',"SUBJECT_CNT").jqGrid('hideCol',"SUBJECT_INDEX").jqGrid('hideCol',"SUBJECT_STATUS_ID")
		.jqGrid('hideCol',"SUBJECT_METRIC_ID").jqGrid('hideCol',"SUBJECT_METRIC_CNT").jqGrid('hideCol',"SUBJECT_METRIC_INDEX").jqGrid('hideCol',"SUBJECT_METRIC_STATUS_ID")
		.jqGrid('hideCol',"METRIC_ID").jqGrid('hideCol',"METRIC_STATUS_ID")
		.setGridWidth($!{jqGrid_width});
        //}).jqGrid('hideCol',"YEAR").setGridWidth($!{jqGrid_width});
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
		
		/******************************************
		 * 년도별 전략과제 change 이벤트
		 ******************************************/
		$('#findYear').change(function(){
			chgSubject();
		});
		
		/******************************************
		 * 전략과제  change 이벤트
		 ******************************************/
		$('#findStratSubjectId').change(function(){
			chgStratSubject();
		});
        
		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
	});
	
	/******************************************
	 * 년도별 전략과제 조회
	 ******************************************/
	function chgSubject(){
		
		J.ajax({
        	url      : "$!{context_path}/str/mon/strMetricDetail/getSubjectList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#findStratSubjectId").empty();
				J('<option/>').attr('value','').text("전체").appendTo('#findStratSubjectId');
				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findStratSubjectId');
				})
				chgStratSubject();
			}
    	});
	}
	
	
	
	/******************************************
	 * 전략과제 변경시 세부과제 변경 (AJAX)
	 ******************************************/
	function chgStratSubject(){
		J.ajax({
        	url      : "$!{context_path}/str/mon/metricMappingTab/subjectList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#findSubjectId").empty();
				J('<option/>').attr('value', "").text("전체").appendTo('#findSubjectId');
				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findSubjectId');
				})
        	}
    	});
	}
	

	/******************************************
	 * 전략과제 신호등 링크
	 ******************************************/
	function linkStrategySignal(cellvalue, options, rowObject) { 
		var retVal = "";
		if( "" != rowObject.STRAT_SUBJECT_ID ){
			retVal = "<img name=\'sig\'  src=\'$!{img_path}/common/ball/a_ball_" + rowObject.STRAT_SUBJECT_STATUS_ID + ".gif\' > " + cellvalue;
		}else {
			retVal = cellvalue;
		}
		return retVal;
	}
	
	/******************************************
	 * 세부과제 신호등 링크
	 ******************************************/
	function linkSubjectSignal(cellvalue, options, rowObject) { 
		var retVal = "";
		if( "" != rowObject.SUBJECT_ID ){
			retVal = "<img name=\'sig\'  src=\'$!{img_path}/common/ball/a_ball_" + rowObject.SUBJECT_STATUS_ID + ".gif\' > " + cellvalue;
		}else {
			retVal = cellvalue;
		}
		return '<a href=javascript:goSubjectPop(' + options.rowId + ')>' + retVal + '<//a>';
	}
	
	/******************************************
	 * 이행성과지표 신호등 링크
	 ******************************************/
	function linkStrategyMetricSignal(cellvalue, options, rowObject) { 
		var retVal = "";
		if( "" != rowObject.SUBJECT_METRIC_ID ){
			retVal = "<img name=\'sig\'  src=\'$!{img_path}/common/ball/a_ball_" + rowObject.SUBJECT_METRIC_STATUS_ID + ".gif\' > " + cellvalue;
		}else {
			retVal = cellvalue;
		}
		return '<a href=javascript:goStrMetricPop(' + options.rowId + ')>' + retVal + '<//a>';
	}
	
	/******************************************
	 * 내부평가지표 신호등 링크
	 ******************************************/
	function linkMetricSignal(cellvalue, options, rowObject) { 
		var retVal = "";
		if( "" != rowObject.METRIC_ID ){
			retVal = "<img name=\'sig\'  src=\'$!{img_path}/common/ball/ball_" + rowObject.METRIC_STATUS_ID + ".gif\' > " + cellvalue;
		}else {
			retVal = cellvalue;
		}
		return retVal;
	}
	
	/******************************************
	 * 내부평가지표 링크
	 ******************************************/
	function linkMetricDetail(cellvalue, options, rowObject) { 
		return '<a href=javascript:goMetricPop(' + options.rowId + ')>' + cellvalue + '<//a>';;
	}
    
	/*****************************************
	 * 전략과제 Rowspan 설정
	 ******************************************/
	function attrSettingStrategy(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.STRAT_SUBJECT_INDEX;
		var rowSpan = rowObject.STRAT_SUBJECT_CNT;
		
		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		return result;     
	}
	
	/*****************************************
	 * 세부과제 Rowspan 설정
	 ******************************************/
	function attrSettingSubject(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.SUBJECT_INDEX;
		var rowSpan = rowObject.SUBJECT_CNT;
		
		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		return result;     
	}
	
	/*****************************************
	 * 이행성과지표 Rowspan 설정
	 ******************************************/
	function attrSettingStrategyMetric(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.SUBJECT_METRIC_INDEX;
		var rowSpan = rowObject.SUBJECT_METRIC_CNT;
		
		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		return result;     
	}
	
	
	/******************************************
	 * 세부과제 팝업
	 ******************************************/
	function goSubjectPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = J("#findYear").val();
		var findMon = J("#findMon").val();
		var findSubjectId = ret.SUBJECT_ID;
		var param = "&amp;findYear=" + findYear + "&amp;findMon=" + findMon + "&amp;findSubjectId=" + findSubjectId;
		
		var url = "$!{context_path}/str/mon/subjectDetail/popSubjectDetailList.vw?type=popup" + param;
		openWinByName(url,'popSubjectMapping','900','500','yes');
	}
	
	
	/******************************************
	 * 이행성과지표 팝업
	 ******************************************/
	function goStrMetricPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = J("#findYear").val();
		var findMon = J("#findMon").val();
		var findSubjectMetricId = ret.SUBJECT_METRIC_ID;
		var param = "&amp;findYear=" + findYear + "&amp;findMon=" + findMon + "&amp;findSubjectMetricId=" + findSubjectMetricId;
		
		var url = "$!{context_path}/str/mon/strMetric/popStrMetricList.vw?type=popup" + param;
		openWinByName(url,'popStrMetricMapping','900','500','yes');
	}
	
	/******************************************
	 * 내부평가지표 팝업
	 ******************************************/
	function goMetricPop(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		var findYear = J("#findYear").val();
		var findMon = J("#findMon").val();
		var findMetricId = ret.METRIC_ID;
		
		var param = "&amp;year=" + findYear + "&amp;findMon=" + findMon + "&amp;metricId=" + findMetricId + "&amp;analCycle=Y";
		
		var url = "$!{context_path}/bsc/mon/metricActualDetail/popMetricActualDetailList.vw?type=popup" + param;
		openWinByName(url,'popMetricMapping','1250','640','yes');
	}
	
	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#yearNm").val(J("#findYear > option:selected").text());
		J("#monNm").val(J("#findMon > option:selected").text());
		J("#stratSubjectNm").val(J("#findStratSubjectId > option:selected").text());
		J("#subjectNm").val(J("#findSubjectId > option:selected").text());
		J("#formList").attr("action", "$!{context_path}/str/mon/metricMappingTab/metricMappingTabListExcel.vw?type=excel").submit();
		return false;
	}
	
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">내부평가지표연계표</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/str/mon/metricMappingTab/metricMappingTabList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="내부평가지표연계표검색 조건">
						<caption class="none">내부평가지표연계표 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
										<select id="findMon" name="findMon" class="select w70">
            								$!CS_CODE.getCodeOption("024", $!{searchMap.txt2html("findMon")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w270">
									<span><label for="findStratSubjectId">전략과제</label></span>
            						<span class="searchBar">
            							<select id="findStratSubjectId" name="findStratSubjectId" class="select w200" onchange="chgStratSubject()">
												<option value="" $!{CS_HTML.getSelected("", $!{searchMap.txt2html("findStratSubjectId")})}>전체</option>
											#if ( 0 < $stratSubjectList.size() )
    											#foreach($list in $stratSubjectList)
												<option value="$!{CS_HTML.txt2html($list.STRAT_SUBJECT_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.STRAT_SUBJECT_ID)}, $!{searchMap.txt2html("findStratSubjectId")})}>$!{CS_HTML.txt2html($list.STRAT_SUBJECT_NM)}</option>
    											#end
											#end
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w270">
									<span><label for="findSubjectId">세부과제</label></span>
            						<span class="searchBar">
            							<select id="findSubjectId" name="findSubjectId" class="select w200">
												<option value="" $!{CS_HTML.getSelected("", $!{searchMap.txt2html("findSubjectId")})}>전체</option>
											#if ( 0 < $subjectList.size() )
    											#foreach($list in $subjectList)
												<option value="$!{CS_HTML.txt2html($list.SUBJECT_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.SUBJECT_ID)}, $!{searchMap.txt2html("findSubjectId")})}>$!{CS_HTML.txt2html($list.SUBJECT_NM)}</option>
    											#end
											#end
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/str/mon/metricMappingTab/metricMappingTabProcess.vw?type=template">
			<input type="hidden" id="mode"       name="mode" />
			<input type="hidden" id="year"		 name="year" />
			<input type="hidden" id="yearNm"		 name="yearNm" />
			<input type="hidden" id="monNm"		 	 name="monNm" />
			<input type="hidden" id="stratSubjectNm" name="stratSubjectNm" />
			<input type="hidden" id="subjectNm"		 name="subjectNm" />
			
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="내부평가지표연계표 조회결과">
							<caption class="none">내부평가지표연계표 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton_l"><input id="btnExcelDown" type="image" src="$!{img_path}/btn_excel.gif" align="middle" alt="엑셀다운로드" /></div>
						<div class="blockButton">
							<!--
							<ul>
								<li><input type="button" id="btnInsert" value="신규" /></li>
								<li><input type="submit" id="btnDelete" value="삭제" /></li>
							</ul>
							-->
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>
