#*************************************************************************
* CLASS 명      : metricInputTermModify
* 작 업 자      : 김윤기 
* 작 업 일      : 2012년 8월 8일 
* 기    능      : KPI입력일정관리    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    김윤기      2012년 8월 8일             최 초 작 업 
**************************************************************************# 
#set($curr_url = $!{context_path} + "/bsc/level/levelInputTerm/levelInputTermList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 시작종료일자 클릭시 달력팝업 이벤트
		 ******************************************/
		J("#startDt").datepicker({
			dateFormat: 'yy.mm.dd'
		});
		
		J("#endDt").datepicker({
			dateFormat: 'yy.mm.dd'
		});
		
		/******************************************
		 *숫자만 입력받기
		 ******************************************/
		J("#gradeLimitRateUp").numeric();
		J("#gradeLimitRateUp").css("ime-mode", "disabled"); //한글사용 비활성화
		
		/******************************************
		 *숫자만 입력받기
		 ******************************************/
		J("#gradeLimitRateDown").numeric();
		J("#gradeLimitRateDown").css("ime-mode", "disabled"); //한글사용 비활성화
		
		/******************************************
		 *하나의 평가단이라도 평가가 마감되었으면 임계치 수정 불가 (readonly 처리)
		 ******************************************/
		if('$!{evalCloseYn}' == 'Y'){
			J("input[name='gradeLimitRateUp']").attr("readOnly",true);
			J("input[name='gradeLimitRateDown']").attr("readOnly",true);
			J("#alertMessage").append("<font color=\"red\">* 하나 이상의 평가단 평가마감시 임계치 수정이 불가 합니다.</font>");
		}else{
			J("input[name='gradeLimitRateUp']").attr("readOnly",false);
			J("input[name='gradeLimitRateDown']").attr("readOnly",false);
			J("#alertMessage").append("");
		}
		
	});

//]]>
</script>    
 
<div class="tableTop">
	#parse("/WEB-INF/vl/common/template/tabs.vm")
	<div class="clear"></div>
</div>
<div class="blockDetail">
	<table summary="난이도평가일정관리 등록">
		<caption class="none">난이도평가일정관리 등록</caption>
		<colgroup>
			<col width="130" />
			<col width="200" />
		</colgroup> 
		<tbody>
			<tr>
                <th scope="row">평가년도<label for="year"></label></th>
				<td>
					<select id="year" name="year" class="select w100" disabled>
						$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
					</select>
				</td>
			</tr>
			<tr>
                <th scope="row"><span class="txt_red">(*)</span><label for="startDt">입력시작일</label></th>
				<td>
                	<input type="text" id="startDt" name="startDt" class="inputbox w100" value='$!{CS_FORMAT.dateFormat($!{detail.START_DT})}' maxlength="20"  readonly="readonly" />
                </td>
			</tr>
			<tr>
				<th scope="row"><span class="txt_red">(*)</span><label for="endDt">입력종료일</label></th>
                <td>
                	<input type="text" id="endDt" name="endDt" class="inputbox w100" value="$!{CS_FORMAT.dateFormat($!{detail.END_DT})}" maxlength="20"   readonly="readonly" />
                </td>
            </tr>
			<tr>
				<th scope="row"><span class="txt_red">(*)</span><label for="GRADE_LIMIT_RATE">등급설정임계치</label></th>
                <td>
                	<input type="text" id="gradeLimitRateUp" name="gradeLimitRateUp" class="inputbox w50" value="$!{detail.GRADE_LIMIT_RATE_UP}" maxlength="10"   />/
					<input type="text" id="gradeLimitRateDown" name="gradeLimitRateDown" class="inputbox w50" value="$!{detail.GRADE_LIMIT_RATE_DOWN}" maxlength="10"   />
                </td>
            </tr>
		</tbody>
	</table>
	<div id="alertMessage" style="padding-top:10px;">
	</div>
</div>
<div class="clear"></div>
