#*************************************************************************
* CLASS 명      : matrixResultList_xml
* 작 업 자      : 박경태
* 작 업 일      : 2012년 10월 26일 
* 기    능      : 평가결과 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      박경태     2012년 10월 26일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"EVAL_USER_GRP_ID"     : "$!{CS_HTML.txt2html($list.EVAL_USER_GRP_ID)}", 
		"METRIC_GRP_ID"        : "$!{CS_HTML.txt2html($list.METRIC_GRP_ID)}", 
		"POOL_GUBUN_NM"        : "$!{CS_HTML.txt2html($list.POOL_GUBUN_NM)}", 
		"METRIC_GRP_NM"        : "$!{CS_HTML.txt2html($list.METRIC_GRP_NM)}",
		#foreach($itemlist in $itemList)
		"ITEM_$!{CS_HTML.txt2html($itemlist.ITEM_ID)}" : "$!{CS_HTML.txt2html($list.get($itemlist.COL_NM))}",
		#end
		#foreach($itemGrplist in $itemGrpList)
		"ITEM_GRP_$!{CS_HTML.txt2html($itemGrplist.ITEM_GRP_ID)}" : "$!{CS_HTML.txt2html($list.get($itemGrplist.COL_NM))}",
		#end
		"METRIC_GRP_SCORE"     : "$!{CS_HTML.txt2html($list.METRIC_GRP_SCORE)}", 
		"KPI_RANK"             : "$!{CS_HTML.txt2html($list.KPI_RANK)}", 
		"CHOICE_YN"            : "$!{CS_HTML.txt2html($list.CHOICE_YN)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
