<?xml version="1.0" encoding="UTF-8"?>

#*************************************************************************
* CLASS 명      : metricData_ajax.vm
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 7월 03일 
* 기    능      : 상위KPI 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용         비고
* -----  ----------  -------------------  ---------------------- ---------
*  1      하윤식       2012년 7월 03일         최 초 작 업 
**************************************************************************# 

<items>

#foreach($list in $list)
	<item>
		<year>$!{CS_HTML.txt2html($list.YEAR)}</year> 
		<metricId>$!{CS_HTML.txt2html($list.METRIC_ID)}</metricId>
		<metricNm>$!{CS_HTML.txt2html($list.METRIC_NM)}</metricNm>
		<metricGrpId>$!{CS_HTML.txt2html($list.METRIC_GRP_ID)}</metricGrpId>
		<metricGrpNm>$!{CS_HTML.txt2html($list.METRIC_GRP_NM)}</metricGrpNm>
		<scDeptId>$!{CS_HTML.txt2html($list.SC_DEPT_ID)}</scDeptId>
		<typeId>$!{CS_HTML.txt2html($list.TYPE_ID)}</typeId>
		<strategyId>$!{CS_HTML.txt2html($list.STRATEGY_ID)}</strategyId>
		<csfId>$!{CS_HTML.txt2html($list.CSF_ID)}</csfId>
		<directionId>$!{CS_HTML.txt2html($list.DIRECTION_ID)}</directionId>
		<kpiPurpose>$!{CS_HTML.txt2html($list.KPI_PURPOSE)}</kpiPurpose>
		<bscMetricGbn>$!{CS_HTML.txt2html($list.BSC_METRIC_GBN)}</bscMetricGbn>
		<upMetricId>$!{CS_HTML.txt2html($list.UP_METRIC_ID)}</upMetricId>
		<metricPropertyId>$!{CS_HTML.txt2html($list.METRIC_PROPERTY_ID)}</metricPropertyId>
		<tamShareYn>$!{CS_HTML.txt2html($list.TAM_SHARE_YN)}</tamShareYn>
		<weight>$!{CS_HTML.txt2html($list.WEIGHT)}</weight>
		<evalCycle>$!{CS_HTML.txt2html($list.EVAL_CYCLE)}</evalCycle>
		<timeRollup>$!{CS_HTML.txt2html($list.TIME_ROLLUP)}</timeRollup>
		<deptRollup>$!{CS_HTML.txt2html($list.DEPT_ROLLUP)}</deptRollup>
		<calGubun>$!{CS_HTML.txt2html($list.CAL_GUBUN)}</calGubun>
		<actCalType>$!{CS_HTML.txt2html($list.ACT_CAL_TYPE)}</actCalType>
		<scoreCalTypeGubun>$!{CS_HTML.txt2html($list.SCORE_CAL_TYPE_GUBUN)}</scoreCalTypeGubun>
		<scoreCalTypeId>$!{CS_HTML.txt2html($list.SCORE_CAL_TYPE_ID)}</scoreCalTypeId>
		<tgtInsertGubun>$!{CS_HTML.txt2html($list.TGT_INSERT_GUBUN)}</tgtInsertGubun>
		<initiativeYn>$!{CS_HTML.txt2html($list.INITIATIVE_YN)}</initiativeYn>
		<unit>$!{CS_HTML.txt2html($list.UNIT)}</unit>
		<itemCd>$!{CS_HTML.txt2html($list.ITEM_CD)}</itemCd>
		<insertUserId>$!{CS_HTML.txt2html($list.INSERT_USER_ID)}</insertUserId>
		<insertUserNm>$!{CS_HTML.txt2html($list.INSERT_USER_NM)}</insertUserNm>
		<approveUserId>$!{CS_HTML.txt2html($list.APPROVE_USER_ID)}</approveUserId>
		<approveUserNm>$!{CS_HTML.txt2html($list.APPROVE_USER_NM)}</approveUserNm>
		<stretchGoal>$!{CS_HTML.txt2html($list.STRETCH_GOAL)}</stretchGoal>
		<mediumTargety>$!{CS_HTML.txt2html($list.MEDIUM_TARGETY)}</mediumTargety>
		<targetY1>$!{CS_HTML.txt2html($list.TARGET_Y1)}</targetY1>
		<targetyTxt>$!{CS_HTML.txt2html($list.TARGETY_TXT)}</targetyTxt>
		<tgtAlloGbn>$!{CS_HTML.txt2html($list.TGT_ALLO_GBN)}</tgtAlloGbn>
		<content>$!{CS_HTML.txt2html($list.CONTENT)}</content>
		<description>$!{CS_HTML.txt2html($list.DESCRIPTION)}</description>
		<actualY>$!{CS_HTML.txt2html($list.ACTUAL_Y)}</actualY>
	</item>	
#end

#foreach($list in $listMon)
	<coldata>
		<colMon>$!{CS_HTML.txt2html($list.MON)}</colMon>
	</coldata>	
#end
</items>
