#*************************************************************************
* CLASS 명      : govMetricGrpModify
* 작 업 자      : 방승현 
* 작 업 일      : 2013년 06월 20일 
* 기    능      : 평가범주관리    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    방승현      2013년 06월 20일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/gov/system/govMetricGrp/govMetricGrpList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
		/******************************************
		 * 평가범주 change 이벤트
		 ******************************************/
		$('#evalCatGrpId').change(function(){
			chgCat();
		});
		

		/******************************************
		 * 정렬순서 숫자만 입력
		 ******************************************/
		J("#sortOrder").numeric();
		J("#sortOrder").css("ime-mode", "disabled");
		
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#content").checkbyte({
			indicator:J("#contentIndicator"),
			limit:4000
		});
		J("#content").trigger("keyup");
		
		/******************************************
		 * 화면 초기셋팅
		 ******************************************/
		init();

	});
	
	/*****************************************************
	 * 화면초기셋팅
	 *****************************************************/ 
	function init() {
		chgCat(); 		//평가범주
	}

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		if(!J.checkLength("govMetricGrpNm", "정평지표POOL명", 1, 300)) {
			return;
		}
		
		if (J("#evalCatGrpId").val() == "") {
			J.showMsgBox("평가범주를 선택해 주십시요", null, "evalCatGrpId");
			return;
		}
		
		if (J("#evalCatId").val() == "") {
			J.showMsgBox("평가부문을 선택해 주십시요", null, "evalCatId");
			return;
		}
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/gov/system/govMetricGrp/govMetricGrpProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 평가범주 선택시 평가부문 조회
	 ******************************************/
	function chgCat(){
		
		J.ajax({
        	url      : "$!{context_path}/gov/system/govMetricGrp/getCatList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#form1").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#evalCatId").empty();
				J('<option/>').attr('value', '').text('==선택==').appendTo('#evalCatId');
				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#evalCatId');
				})
				
				J("#evalCatId").val('$!{CS_HTML.txt2html($detail.EVAL_CAT_ID)}');
        	}
    	});
	}

//]]>
</script>    
 
<form id="form1" name="form1" method="post" action="$!{context_path}/gov/system/govMetricGrp/govMetricGrpProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />
	
    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("year")}년</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="정평지표POOL 등록">
					<caption class="none">정평지표POOL 등록</caption>
    				<colgroup>
    					<col width="20%" />
    					<col width="30%" />
    					<col width="20%" />
    					<col width="30%" />
    				</colgroup>
    				<tbody>
						<tr>
    						<th scope="row"><label for="govMetricGrpId">정평지표POOL코드</label></th>
    						<td colspan="3">
								#if($!{searchMap.txt2html("mode")} == "MOD")
									$!{CS_HTML.txt2html($detail.GOV_METRIC_GRP_ID)}
									<input type="hidden" id="govMetricGrpId" name="govMetricGrpId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.GOV_METRIC_GRP_ID)}" maxlength="7" readonly="readonly"/>
								#else
									<input type="hidden" id="govMetricGrpId" name="govMetricGrpId" class="inputbox w100" maxlength="7" />
                                    ※ 저장시 자동으로 부여됩니다.
								#end
							</td>
    					</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="evalCatGrpNm">정평지표POOL명</label></th>
							<td colspan="3"><input type="text" id="govMetricGrpNm" name="govMetricGrpNm" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.GOV_METRIC_GRP_NM)}' maxlength="300"/></td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="evalCatGrpId">평가범주</label></th>
							<td>
								<select id="evalCatGrpId" name="evalCatGrpId" class="select w160" onchange="chgCat();">
    								<option value="">==선택==</option>
									#foreach($evalCatGrpList in $evalCatGrpList)
										<option value="$!{CS_HTML.txt2html($evalCatGrpList.EVAL_CAT_GRP_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($evalCatGrpList.EVAL_CAT_GRP_ID)}, $!{CS_HTML.txt2html($detail.EVAL_CAT_GRP_ID)})}>$!{CS_HTML.txt2html($evalCatGrpList.EVAL_CAT_GRP_NM)}</option>
									#end
    							</select>
							</td>
							<th scope="row"><span class="txt_red">(*)</span> <label for="evalCatId">평가부문</label></th>
							<td>
								<select id="evalCatId" name="evalCatId" class="select w160" >
									<option value="">==선택==</option>
								</select>
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="useYn">사용여부</label></th>
							<td colspan="3">
								<select id="useYn" name="useYn" class="select w160" >
    								$!CS_CODE.getCodeOption("011", $detail.USE_YN, $!{searchMap.txt2html("year")})	
    							</select>
							</td>
						</tr>		
						<tr>
							<th scope="row"><label for="content">비고</label></th>
							<td colspan="3">
								<textarea id="content" name="content" class="tabletext" title="비고" cols="" rows="5">$!{CS_HTML.txt2html($detail.CONTENT)}</textarea>
								<span id="contentIndicator">0</span>/4000byte
							</td>
						</tr>				   
						<tr>
							<th scope="row"><label for="sortOrder">정렬순서</label></th>
							<td colspan="3"><input type="text" id="sortOrder" name="sortOrder" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.SORT_ORDER)}' maxlength="10"/></td>
						</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>	
    	</div>
    	<div class="clear"></div>
    </div>
</form>
