#*************************************************************************
* CLASS 명      : strategyMetricKpiList_xml
* 작 업 자      : 한봉준
* 작 업 일      : 2012년 8월 29일 
* 기    능      : 전략과제KPI리스트 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      한봉준     2012년 8월 29일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"MON"                  : "$!{CS_HTML.txt2html($list.MON)}", 
		"SC_DEPT_ID"           : "$!{CS_HTML.txt2html($list.SC_DEPT_ID)}", 
		"SC_DEPT_NM"           : "$!{CS_HTML.txt2html($!CS_SC_DEPT.getName($!{searchMap.txt2html("findYear")}, $list.SC_DEPT_ID))}", 
		"METRIC_ID"            : "$!{CS_HTML.txt2html($list.METRIC_ID)}", 
		"METRIC_NM"            : "$!{CS_HTML.txt2html($list.METRIC_NM)}", 
		"WEIGHT"               : "$!{CS_HTML.txt2html($list.WEIGHT)}", 
		"TARGET"               : "$!{CS_HTML.txt2html($list.TARGET)}", 
		"ACTUAL"               : "$!{CS_HTML.txt2html($list.ACTUAL)}", 
		"SCORE"                : "$!{CS_HTML.txt2html($list.SCORE)}", 
		"STATUS"               : "$!{CS_HTML.txt2html($list.STATUS)}", 
		"PERSPECTIVE_NM"       : "$!{CS_HTML.txt2html($list.PERSPECTIVE_NM)}", 
		"STRATEGY_ID"          : "$!{CS_HTML.txt2html($list.STRATEGY_ID)}", 
		"STRATEGY_NM"          : "$!{CS_HTML.txt2html($list.STRATEGY_NM)}", 
		"EVAL_CYCLE"           : "$!{CS_HTML.txt2html($list.EVAL_CYCLE)}",
		"EVAL_CYCLE_NM"        : "$!{CS_HTML.txt2html($list.EVAL_CYCLE_NM)}", 
		"UNIT_NM"              : "$!{CS_HTML.txt2html($list.UNIT_NM)}", 
		"ACTUAL_YN"            : "$!{CS_HTML.txt2html($list.ACTUAL_YN)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
