<chart caption="직급별 분포"
	showLabels="1"
	showValues="1"
	showLegend="1"
	legendPosition="RIGHT"
	chartrightmargin="40"
	bgColor="EBEFF1,FFFFFF"
	bgalpha="70"
	bordercolor="C6D2DF"
	basefontcolor="2F2F2F"
	basefontsize="11"
	showpercentvalues="1"
	bgratio="0" 
	startingangle="200"
	animation="1"
	pieRadius='90'>
	
	
	#foreach($list in $chartList)
		<set value="$!{CS_HTML.txt2html($list.COUNT)}" label="$!{CS_HTML.txt2html($list.POS_NM)}" />
	#end

</chart>