#*************************************************************************
* CLASS 명      : systemLoginMorModify
* 작 업 자      : 김윤기 
* 작 업 일      : 2012년 6월 20일 
* 기    능      : 시스템사용현황(직위별)    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    김윤기      2012년 6월 20일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
	
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFindPop').serialize();
		
		jQuery("#mlist").jqGrid({
			url          :"$!{searchMap.txt2html("context")}/bsc/system/systemLoginMorPos/systemLoginMorPosModify_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : 320,
			colNames     :['사용자', '$!{searchMap.txt2html("SC_DEPT_NM")}', '로그인횟수'],
			colModel     :[
							{name:'USER_NM'  	,index:'USER_NM' 	 ,width:80 	,align:'center' },
							{name:'SC_DEPT_NM'  ,index:'SC_DEPT_NM'  ,width:300 ,align:'center' },
							{name:'TIME'   		,index:'TIME'  		 ,width:80 	,align:'center' }
							],
			rowNum       : 100000,
			autowidth    : true,
			viewrecords  : true,
			loadonce     : true,
			cellEdit     : true,
			caption:"시스템사용현황(조직별)"
		});
	});
	
//]]>
</script>

<form id="formFindPop" name="formFindPop" method="post">
	<input type="hidden" id="findYear" name="findYear" value="$!{searchMap.txt2html("findYear")}" />
	<input type="hidden" id="findMon"  name="findMon"  value="$!{searchMap.txt2html("findMon")}" />
	<input type="hidden" id="posCd"  name="posCd"  value="$!{searchMap.txt2html("posCd")}" />
	
    <div style="width:500px;height:400px;">
    	<div id="">
    		<div id="userData" style="margin-left:15px;height:340px;width:450px;">
    			<!-- 데이터그리드 Start -->
    			<div class="blockGridListTable">
					<table id="mlist" summary="시스템사용현황(조직별) 조회결과">
    					<caption class="none">시스템사용현황(조직별) 조회</caption>
    					<thead><tr><th></th></tr></thead>
    					<tbody><tr><td></td></tr></tbody>
    				</table>
    				<div id="pager"></div>                    
    			</div>
    			<!--// 데이터그리드 End -->	
    		</div>
    	</div>
    </div>
</form>
