#*************************************************************************
* CLASS 명      :  archiveMonList_xml
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 11월 8일 
* 기    능      : 비계량총괄표 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      현걸욱     2012년 11월 8일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"EVAL_CAT_GRP_NM"     			: "$!{CS_HTML.txt2html($list.EVAL_CAT_GRP_NM)}", 
		"EVAL_CAT_NM"         			: "$!{CS_HTML.txt2html($list.EVAL_CAT_NM)}", 
		"GOV_METRIC_NM"     			: "$!{CS_HTML.txt2html($list.GOV_METRIC_NM)}", 
		"EVAL_METHOD_NM"        		: "$!{CS_HTML.txt2html($list.EVAL_METHOD_NM)}", 
		"WEIGHT"               			: "$!{CS_HTML.txt2html($list.WEIGHT)}", 
		"DETAIL_EVAL_SUMMARY_COMMENT" 	: "$!{CS_HTML.txt2htmlbr2($list.DETAIL_EVAL_SUMMARY_COMMENT)}", 
		"SC_DEPT_NM"           			: "$!{CS_HTML.txt2html($list.SC_DEPT_NM)}", 
		"INSERT_USER_NM"       			: "$!{CS_HTML.txt2html($list.INSERT_USER_NM)}",
		"MAIN_WEIGHT"       			: "$!{CS_HTML.txt2html($list.MAIN_WEIGHT)}", 
		"MAIN_METRIC_YN"       			: "$!{CS_HTML.txt2html($list.MAIN_METRIC_YN)}", 
		"GOV_METRIC_ID"        			: "$!{CS_HTML.txt2html($list.GOV_METRIC_ID)}",
		"GRP_CNT" 						: "$!{CS_HTML.txt2html($list.GRP_CNT)}",
		"GRP_NUM" 						: "$!{CS_HTML.txt2html($list.GRP_NUM)}",
		"CAT_CNT" 						: "$!{CS_HTML.txt2html($list.CAT_CNT)}",
		"CAT_NUM" 						: "$!{CS_HTML.txt2html($list.CAT_NUM)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
