#*************************************************************************
* CLASS 명      : csfChart_xml.vm
* 작 업 자      : 김상용
* 작 업 일      : 2013년 8월 8일
* 기    능      : CSF 차트 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김상용     2013년 8월 09일      최 초 작 업
**************************************************************************#
#*
<chart 	
	#set ($title = $searchMap.get("title"))
	caption='$CS_HTML.txt2html($title)' 
	subCaption=""
	yAxisName="" 
	xAxisName="" 
	alternateVGridColor="AFD8F8" 
	baseFontColor="114B78" 
	toolTipBorderColor="114B78" 
	toolTipBgColor="E7EFF6" 
	bgColor="FFFFFF,FFFFFF"
	placevaluesinside="1" 
	showplotBorder="0" 
	canvasborderalpha="0"
	baseFontSize= "11"
	useRoundEdges='1' showBorder='1'
	plotSpacePercent="45"
	#if($searchMap.get("stratId") == "")
		showValues="0"
	#else
		showValues="1"
	#end
	chartTopMargin="5"
	chartBottomMargin="5"
	captionPadding="5"
	>*#
<chart palette="1" 
	#set ($title = $searchMap.get("title"))
	caption='$CS_HTML.txt2html($title)' 
	showLabels="1" 
	##showvalues="0" 
	#if($searchMap.get("stratId") == "")
		showValues="0"
	#else
		showValues="1"
	#end
	showBorder="0"
	numberPrefix="" 
	useRoundEdges='1'
	PYAxisName="" 
	SYAxisName=""
	sYAxisValuesDecimals="2" 
	connectNullData="0" 
	numDivLines="5"
	formatNumberScale="0"
	bgColor='EBEFF1,FFFFFF'
	labelDisplay=''
	baseFontSize='11'
	showLegend='1'
	legendPosition='BOTTOM'
	legendBorderThickness='1'
	legendBorderAlpha='100'
	legendShadow='1'
	chartBottomMargin='2'
	>
	#*
	#foreach($csf in $csfList)
	<set label="$!{csf.CSF_NM}" color="4993c9" value="$CS_HTML.txt2html($csf.CUM_CONTRIBUTION)" />
	#end
	*#
	
	<categories>
    #foreach($csf in $csfList)
    	<category label="$!{csf.CSF_NM}"></category>
	#end
    </categories>
    <dataset seriesName="목표" color="AFD8F8">
		#foreach($csf in $csfList)
    	<set value="$CS_HTML.txt2html($csf.CUM_CONTRIBUTION_TARGET)"/>
		#end
    </dataset>
    <dataset seriesName="실적" color="F6BD0F">
		#foreach($csf in $csfList)
    	<set value="$CS_HTML.txt2html($csf.CUM_CONTRIBUTION)"/>
		#end
    </dataset>
	
	#*
	<styles>
		<definition>
			<style name='myCaptionFont' type='font' font='Verdana' size='12' color='667788' bold='1'/>
		</definition>
		<application>
			<apply toObject='Caption' styles='myCaptionFont' />
		</application>
	</styles>
	*#
</chart>