#*************************************************************************
* CLASS 명      : manChart_xml.vm
* 작 업 자      : 김상용
* 작 업 일      : 2013년 8월 8일
* 기    능      : 경영목표기여도 차트 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김상용     2013년 8월 09일      최 초 작 업
**************************************************************************#
<?xml version="1.0" encoding="utf-8"?>
#*
<chart  
	caption="" 
	subCaption="" 
	yAxisName="" 
	xAxisName="" 
	alternateVGridColor="AFD8F8" 
	baseFontColor="114B78" 
	toolTipBorderColor="114B78" 
	toolTipBgColor="E7EFF6" 
	bgColor="FFFFFF,FFFFFF"
	placevaluesinside="1" 
	showplotBorder="0" 
	canvasborderalpha="0"
	baseFontSize= "11"
	useRoundEdges='1' showBorder='1'
	plotSpacePercent="45"
	chartTopMargin="15"
	chartBottomMargin="5"
	>
	*#
<chart palette="1" 
	caption="" 
	showLabels="1" 
	showvalues="0" 
	showBorder="0"
	numberPrefix="" 
	useRoundEdges='1'
	PYAxisName="" 
	SYAxisName=""
	sYAxisValuesDecimals="2" 
	connectNullData="0" 
	numDivLines="5"
	formatNumberScale="0"
	bgColor='EBEFF1,FFFFFF'
	labelDisplay=''
	baseFontSize='11'
	showLegend='1'
	legendPosition='BOTTOM'
	legendBorderThickness='1'
	legendBorderAlpha='100'
	legendShadow='1'
	chartBottomMargin='2'
	>
    <categories>
		<category label="전체"></category>
    #foreach($man in $manList)
    	<category label="$!{man.MAN_NM}"></category>
	#end
    </categories>
	
	
	#set ($total = 0.0)
	#set ($totalTarget = 0.0)
	#foreach($man in $manList)
		#set ($totalTarget = $totalTarget + $man.MAN_WEIGHT)
		#set ($total = $total + $man.CUM_CONTRIBUTION)
	#end
	
	
    <dataset seriesName="목표" color="AFD8F8" showValues="1">
		<set value="$CS_HTML.txt2html($totalTarget)" link="javascript:goStrategy('$CS_HTML.txt2html($man.MAN_ID)')"/>
		#foreach($man in $manList)
    	<set value="$CS_HTML.txt2html($man.MAN_WEIGHT)" link="javascript:goStrategy('$CS_HTML.txt2html($man.MAN_ID)')"/>
		#end
    </dataset>
    <dataset seriesName="실적" color="F6BD0F" showValues="1" >
		<set value="$CS_HTML.txt2html($total)" link="javascript:goStrategy('$CS_HTML.txt2html($man.MAN_ID)')"/>
		#foreach($man in $manList)
    	<set value="$CS_HTML.txt2html($man.CUM_CONTRIBUTION)" link="javascript:goStrategy('$CS_HTML.txt2html($man.MAN_ID)')"/>
		#end
    </dataset>
	#*
	#set ($total = 0.0)
	#foreach($man in $manList)
		#set ($total = $total + $man.CUM_CONTRIBUTION)
	#end
	
	<set label="전체" value="$CS_HTML.txt2html($total)" color="6a5acd" link="javascript:goStrategy('')"/>
	#foreach($man in $manList)
	<set label="$!{man.MAN_NM}" value="$CS_HTML.txt2html($man.CUM_CONTRIBUTION)" color="4993c9" link="javascript:goStrategy('$CS_HTML.txt2html($man.MAN_ID)')"/>
	#end
	*#
	<styles>
  
	</styles>	
</chart>