#*************************************************************************
* CLASS 명      : metricGrpModify
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 6월 13일
* 기    능      : 지표Pool관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호   작 업 자     작    업    일     변 경 내 용              비고
* ----  --------  -----------------  -------------------------  --------
*  1     하윤식      2012년 6월 13일     최 초 작 업
**************************************************************************#

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/mem/base/memMetricGrp/memMetricGrpList.vw?type=template").submit();
		});

		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(e){
			J("#btnInsert").unbind();
		});

		/******************************************
		 * 실적산식 검증버튼 이벤트
		 ******************************************/
		J("#btnActCalType").click(function(e) {
			//checkModifyCalType();
		});

		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#kpiPurpose").checkbyte({
			indicator:J("#kpiPurposeIndicator"),
			limit:3000
		});
		J("#kpiPurpose").trigger("keyup");

		/******************************************
		 * 득점산식 구간대 변경이벤트
		 ******************************************/
		J("#scoreCalTypeGubun").bind('change', function() {
			dispSection();
		});

		/******************************************
		 * 평가유형(정량/정성) selectBox 변경이벤트
		 ******************************************/
		J("#typeId").bind('change', function() {
			onChgTypeid();
		});

		/******************************************
		 * fancybox 설정
		 ******************************************/
		J("#anchor").fancybox();      //실적연계 항목 팝업
		J("#deptMetricSearch").fancybox();    //상위KPI 조회
		
		/******************************************
		 * 목표배분 change 이벤트 설정
		 ******************************************/
		J("#tgtGubun").change( function(){
		 	var type = J(this).val();
			tgtDivChg(type);
		});
		
		/******************************************
		 * 목표배분 keyup 이벤트 설정
		 ******************************************/
		J("#targetInput").keyup( function(){
			var val = J(this).val();
			tgtKeyup(val);
		});
		
		J("#evalGbnId").change( function(){
			onChangeEvalGbn();
		});
		
		J('#scoreCalTypeGubun').change(function(){
			onChangeScoreCalTypeGbn();
		});


		/******************************************
		 * 화면 초기셋팅
		 ******************************************/
		init();

	});
	
	/*****************************************************
	 * 지표pool 선택시 ajax 실행(구간대 설정)
	 *****************************************************/
	function onChangeScoreCalTypeGbn() {
		var year = J("#year").val();
		var metricGrpId = J("#metricGrpId").val();
		var scoreCalTypeGubun = J("#scoreCalTypeGubun").val();
		
		dispSection(); //득점산식 구분에 따른 항목 설정

		//지표POOL 구간대항목 설정
		J.ajax({
			url        : "$!{context_path}/mem/base/memMetricGrp/memMetricGrpEvalSectionGrp_ajax.vw",
			type       : "POST",
			data       : "year=" + year + "&amp;metricGrpId=" + metricGrpId + "&amp;scoreCalTypeGubun=" + scoreCalTypeGubun,
			dataType   : "xml",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			success    : function (xml) {
				var lastVal = "";
				var itemLen = J(xml).find("items").find("item").length;
				if(itemLen > 0) {
					J(xml).find("items").find("item").each(function(index) {
                        var evalSectionId   = J(this).find("evalSectionId").text();
                        var fromValue       = J(this).find("fromValue").text();
                        var toValue         = J(this).find("toValue").text();
                        var conversionScore = J(this).find("conversionScore").text();
						var viewVal         = J(this).find("viewVal").text();

						J("#evalSectionArea input[name=evalSectionIds]").eq(index).val(evalSectionId);
						J("#evalSectionArea input[name=fromValues]").eq(index).val(fromValue);
						J("#evalSectionArea input[name=toValues]").eq(index).val(toValue);
						J("#evalSectionArea input[name=conversionScores]").eq(index).val(conversionScore);

						if(index == itemLen - 1) {
							J("#evalSectionArea input[name=viewValues]").eq(index).val(lastVal);
						} else {
							J("#evalSectionArea input[name=viewValues]").eq(index).val(viewVal);
						}
						lastVal = viewVal;
                    });
				}

        	},
			error : function(xhr, status, error) {
				alert(error);
			}
    	});
	}
	
	/*****************************************************
	 * 목표배분 change 이벤트 설정
	 *****************************************************/
	 function tgtDivChg(type){

	 	var targetInputType = type;

		if( targetInputType == 'userIn' ){

			// 입력 일때
			J("#targetInput").attr("disabled", true);
			J("#targetInput").addClass("readonly");
			J("#targetInput").val('');
			J("input[name=colValues]").val('');

		}else if( targetInputType == 'div' ){

			// 동일값 일때
			J("#targetInput").attr("disabled", false);
			J("#targetInput").removeClass("readonly");
			J("#targetInput").val('');
			J("input[name=colValues]").val('');

		}else if( targetInputType == 'accDiv' ){

			// 누적배분 일때
			J("#targetInput").attr("disabled", false);
			J("#targetInput").removeClass("readonly");
			J("#targetInput").val('');
			J("input[name=colValues]").val('');

		}

	}
	
	/*****************************************************
	 * 목표배분 keyup 이벤트 설정
	 *****************************************************/
	 function tgtKeyup(val){

		 if(((event.keyCode >= 48) && (event.keyCode <= 57)) || ((event.keyCode >= 96) && (event.keyCode <= 105)) || (event.keyCode == 8)|| (event.keyCode == 46)){

			var targetInputType = J("#tgtGubun").val();
			var inputVal = val;

			if( targetInputType == 'div' ){

				// 동일값 일 때
				J("input[name='colValues']:enabled").each(function(index, value){
					J(value).val(inputVal);
				});

			}else if( targetInputType == 'accDiv' ){

				// 누적배분 일때
				var seqVal = 1;
				var inputCnt = J("input[name='colValues']:enabled").length;

				J("input[name='colValues']:enabled").each(function(index, value){

					var tmpVal = Math.round(  inputVal * seqVal / inputCnt * 1000 ) / 1000 ;

					J(value).val(tmpVal);
					seqVal = seqVal + 1;

				});

			}

		}

	}
	
	/******************************************
	 * 목표 숫자만 입력(추가 시)
	 ******************************************/
	 function numChk(){

		J("#targetInput").numericOnly({allow:"."});
		J("input[name=colValues]").numericOnly({allow:"."});

	}

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		if(!J.checkLength("metricGrpNm", "$!{METRIC_NM} Pool명", 1, 300)) {
			return;
		}

		if(J("#evalCycleId").val() == "") {
			J.showMsgBox("주기를 선택해 주십시요", null, "evalCycleId");
			return;
		}


		if(J("#typeId").val() == "01"){ //정량지표일 경우
    		if(J("#unit").val() == "") {
    			J.showMsgBox("단위를 선택해 주십시요", null, "unit");
    			return;
    		}
		}

		if(J("#typeId").val() == "01"){ //정량지표일 경우
			if(J("input[name=actMon]:checked").length==0){
				J.showMsgBox("측정주기를 선택해 주십시요", null, null);
    			return;
			}
        }

        if( !LengthCheck(J("#kpiPurpose").val(), "지표정의", 0, 3000 ) ) {
            J("#kpiPurpose").focus();
            return;
        }

		if(J("#typeId").val() == "01"){ //정량지표일 경우
			if(!J.checkLength("actCalType", "실적산식", 1, 500)) {
    			return;
    		}

			//실적산식 입력 체크
    		if(!actCalTypeColSaveChk()) return;

			if((J("#scoreCalTypeGubun").val() == "01" || J("#scoreCalTypeGubun").val() == "02") && J("#scoreCalTypeId").val() == "") {
    			J.showMsgBox("득점산식을 선택해 주십시요", null, "scoreCalTypeId");
    			return;
    		}

    		//구간 입력 체크
            if(!scoreCalTypeSaveChk()) return;

            //구간대처리
            if(!calEvalSection()) return;

		}

		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}

	/******************************************
	 * 산식항목 입력 체크
	 ******************************************/
	function actCalTypeColSaveChk() {
		var saveChk = true;

		//단위 체크
		J("select[name=units]", "#actCalTypeArea").each(function(index, item) {
			if(J(item).val() == "") {
				J.showMsgBox("단위를 입력해 주십시요", null, J('select[name=units]').eq(index));
				saveChk = false;
				return false;
			}
		});

		//실적입력구분 체크
		J("select[name=insertGubuns]", "#actCalTypeArea").each(function(index, item) {
			if(J(item).val() == "") {
				J.showMsgBox("실적입력구분을 입력해 주십시요", null, J('select[name=insertGubuns]').eq(index));
				saveChk = false;
				return false;
			}
		});

		//산식항목명 체크
		J("input[name=calTypeColNms]", "#actCalTypeArea").each(function(index, item) {
			if(J(item).val() == "") {
				J.showMsgBox("산식항목명을 입력해 주십시요", null, J('input[name=calTypeColNms]').eq(index));
				saveChk = false;
				return false;
			}
		});

		return saveChk;
	}

	/******************************************
	 * 등록구간 입력 체크
	 ******************************************/
	function scoreCalTypeSaveChk() {
		var saveChk = true;


        J("input[name=conversionScores]", "#evalSectionArea").each(function(index, item) {
            if(J(item).val() == "") {
                J.showMsgBox("환산점수를 입력해 주십시요", null, J('input[name=conversionScores]').eq(index));
                saveChk = false;
                return false;
            }
            if( isNaN(J(item).val())) {
                J.showMsgBox("환산점수을 숫자만 입력 가능합니다.", null, J('input[name=conversionScores]').eq(index));
                saveChk = false;
                return false;
            }
        });

        J("input[name=viewValues]", "#evalSectionArea").each(function(index, item) {
            if(J(item).val() == "") {
                J.showMsgBox("점수구간을 입력해 주십시요", null, J('input[name=viewValues]').eq(index));
                saveChk = false;
                return false;
            }
            if( isNaN(J(item).val())) {
                J.showMsgBox("점수구간을 숫자만 입력 가능합니다.", null, J('input[name=viewValues]').eq(index));
                saveChk = false;
                return false;
            }

        });


        return saveChk;
	}

	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		if(J("#typeId").val() == "02"){ //정성지표일 경우
    		J("#actCalType").val("A");
			J("#unit").attr("disabled", false);
    		J("#evalCycleId").attr("disabled", false);
    		
		}

		var actMons= "";
		J("input[name=actMon]:checked").each(function() {
			actMons += $(this).val() + '|';
		});

		J("#actMons").val(actMons);	
		
		J("#useYn").attr("disabled", false);
		J("#actCalTypeTemplate").remove();
		
		J("input[name=colValues]").attr("disabled", false);

		J("#form1").attr("action", "$!{context_path}/mem/base/memMetricGrp/memMetricGrpProcess.vw?type=template").submit();
	}

	/******************************************
	 * 실적산식 변경시 실적항목 변경
	 ******************************************/
	function checkModifyCalType() {
		var actCalTypeNm = J("#actCalType").val();
		var str = actCalTypeNm.extChar().split("/").unique(); //산식 배열
		var strSize = str.length - 1; //산식항목 개수

		var obj = J("#actCalTypeTB tbody tr");
		var objSize = obj.length;

		//기존 산식항목 삭제
		if(objSize > 3) {
    		for(var i = objSize - 2; i > 1; i--) {
    			obj.eq(i).remove();
    		}
		}

		//신규 산식항목 설정
		for(var i = 0; i < strSize; i++) {
			J("#actCalTypeTemplate tr td:first span").text(str[i]);
			J("#actCalTypeTemplate input[name=calTypeCols]").val(str[i]);
			J("#actCalTypeTemplate tr").clone().insertBefore("#kpiActCalTypeNm");
		}
	}
	
	/******************************************
	 * 비계량 산식항목 만들기.
	 ******************************************/
	function checkModifyCalTypeUnmeas() {
		var actCalTypeNm = "A";
		var str = actCalTypeNm.extChar().split("/").unique(); //산식 배열
		var strSize = str.length - 1; //산식항목 개수

		var obj = J("#actCalTypeTB tbody tr");
		var objSize = obj.length;

		//기존 산식항목 삭제
		if(objSize > 3) {
    		for(var i = objSize - 2; i > 1; i--) {
    			obj.eq(i).remove();
    		}
		}

		//신규 산식항목 설정
		J("#actCalTypeTemplate tr td:first span").text("A");
		J("#actCalTypeTemplate input[name=calTypeCols]").val("A");
		J("#actCalTypeTemplate input[name=calTypeColNms]").val("평가점수");
		//J("#actCalTypeTemplate select[name=units]").val("01");
		
		J("#actCalTypeTemplate tr").clone().insertBefore("#kpiActCalTypeNm");
		
		J("#actCalTypeTB select[name=units] option[value='01']").attr("selected",true);
	}

	/******************************************
	 * 구간대 처리
	 ******************************************/
	function calEvalSection() {
		var value = J("#scoreCalTypeGubun").val();
		var cnt = J("input[name=viewValues]").length ;

    	var firstVal = "";
    	var lastVal = "";
    	var isDescending = true;

    	if (value == "01" || value == "02") {
    		var tmp_0 = 0 ;
    		var tmp_1 = 0 ;

    		if( "" != J("input[name=viewValues]").eq(0).val() && "" != J("input[name=viewValues]").eq(1).val()) {
    			tmp_0 = parseFloat(J("input[name=viewValues]").eq(0).val());
    			tmp_1 = parseFloat(J("input[name=viewValues]").eq(1).val());
    			if(tmp_0 > tmp_1 && value == "01") {
    				isDescending = true;
    			} else if( tmp_0 < tmp_1 && value == "02") {
    				isDescending = false;
    			} else {
                    alert("상/하향구간 점수가 잘못 되어있습니다.");
                    J("input[name=viewValues]").eq(0).focus()
    				return false;
    			}
    		} else {
    			return false;
    		}

    		for(var i = 2; i < cnt - 1; i++) {
    			tmp_0 = parseFloat(J("input[name=viewValues]").eq(i-1).val());
    			tmp_1 = parseFloat(J("input[name=viewValues]").eq(i).val());
    			if(isDescending) {
    				if(tmp_0 > tmp_1) {
    				} else {
                        alert("상향구간 점수가 잘못 되어있습니다.");
                        J("input[name=viewValues]").eq(i).focus()
    					return false;
    				}
    			} else {
    				if(tmp_0 < tmp_1) {
    				} else {
                        alert("하향구간 점수가 잘못 되어있습니다.");
                        J("input[name=viewValues]").eq(i).focus()
    					return false;
    				}
    			}
    		}
    	}

    	if(isDescending) {
    		firstVal = "9999999";
    		lastVal = "-9999999";
    	} else {
    		firstVal = "-9999999";
    		lastVal = "9999999";
    	}

    	if (value == "02" || value == "03") {
    		for(var i = 0; i < cnt; i++) {
    			if (i == 0) {
					J("input[name=fromValues]").eq(i).val( J("input[name=viewValues]").eq(i).val() );
					J("input[name=toValues]").eq(i).val(firstVal);
    			} else if (i == cnt-1) {
					J("input[name=fromValues]").eq(i).val(lastVal);
					J("input[name=toValues]").eq(i).val( J("input[name=viewValues]").eq(i).val() );
    			} else {
					J("input[name=fromValues]").eq(i).val( J("input[name=viewValues]").eq(i).val() );
					J("input[name=toValues]").eq(i).val( J("input[name=viewValues]").eq(i-1).val() );
    			}
    		}
    	} else if (value == "04") {
    		for(var i = 0; i < cnt; i++) {
    			if (i == 0) {
					J("input[name=fromValues]").eq(i).val(firstVal);
					J("input[name=toValues]").eq(i).val( J("input[name=viewValues]").eq(i).val() );
    			} else if (i == cnt-1) {
					J("input[name=fromValues]").eq(i).val( J("input[name=viewValues]").eq(i-1).val() );
					J("input[name=toValues]").eq(i).val(lastVal);
    			} else {
					J("input[name=fromValues]").eq(i).val( J("input[name=viewValues]").eq(i-1).val() );
					J("input[name=toValues]").eq(i).val( J("input[name=viewValues]").eq(i).val() );
    			}
    		}
    	}
    	return true;
	}

	/*****************************************************
	 * 득점산식 구분에 의한 평가구간을 활성 비활성 한다.
	 *****************************************************/
    function dispSection() {
    	var arg = J("#scoreCalTypeGubun").val();

    	if(arg == "01") { //상향구간대, 득점산식+구간대
			J("span.optionStr").text("이상");
			J("span.optionStr:last").text("미만");
    	} else if(arg == "02") { //하향구간대
			J("span.optionStr").text("이하");
			J("span.optionStr:last").text("초과");
    	}
    }

	/*****************************************************
	 * 평가유형(정량/정성) 변경시 이벤트
	 *****************************************************/
    function onChgTypeid() {
		var typeId = J("#typeId").val();
		var arg = J("#scoreCalTypeGubun").val();

		var evalCycleId = J("#evalCycleId").val();
        var map=J("input[name=actMon]");

		if(typeId == "01") {  //정량일 경우
			J("#actCalTypeStr").show();
			J("#actCalTypeArea").show();
			J("#scoreCalTypeArea").show();
            J("#evalSectionArea").show();
            J("#tgtRegArea").show();

			J("#unit").val(J("#orgUnit").val());
			J("#unit").attr("disabled", false);
			J("#unitValidation").show();
			J("#evalCycleId").val(J("#orgEvalCycleId").val());
			J("#evalCycleId").attr("disabled", false);
			
			if("$!{searchMap.txt2html("mode")}" == "ADD"){
				J("#actCalType").val("A");
				checkModifyCalType();
			}
			
			J("input[name=actMon]").attr("checked","");

		} else if(typeId == "02") {  //정성일 경우

			J("#actCalTypeStr").hide();
			J("#actCalTypeArea").hide();
			J("#scoreCalTypeArea").hide();
			J("#evalSectionArea").hide();
			J("#tgtRegArea").hide();

			J("#unit").val("01");
			J("#unit").attr("disabled", true);
			J("#unitValidation").hide();
			J("#evalCycleId").val("Y");
			J("#evalCycleId").attr("disabled", true);
			J("input[name=actMon]").eq(11).attr("checked","checked");
			J("#mon12").val("100");
			
			checkModifyCalTypeUnmeas();
			
		}
	}

	/*****************************************************
	 * 화면초기셋팅
	 *****************************************************/
	function init() {
	
		onChangeEvalGbn(); //평가항목에 따른 세부평가항목설정여부
		onChgTypeid(); //평가유형(정량/정성)에 따른 설정
		dispSection(); //득점산식 구분에 따른 설정

		if(J("#typeId").val() == "01"){ //정량지표일 경우
			fnChange();    //주기 설정이 측정주기 세팅
		}

		//사용중이고 하위KPI가 존재하는 경우 삭제못함
		#if($!{CS_HTML.txt2html($detail.USE_YN)} == "Y" && $!{CS_HTML.txt2html($detail.KPI_CNT)} != "0")
			J("#useYn").attr("disabled", true);
        #end

	}
	
	function onChangeEvalGbn(){
	
		var evalGbnId = J("#evalGbnId").val();
		var year = J("#year").val();
		if(evalGbnId == "03"){
			J("#detailEvalGbnId").attr("disabled", false);
			
			J.ajax({
				url        : "$!{context_path}/mem/base/memMetricGrp/memDetailEvalGbnData_ajax.vw",
	        	type       : "POST",
				data       : "year=" + year,
	        	dataType   : "xml",
				contentType: "application/x-www-form-urlencoded; charset=UTF-8",
	        	success    : function (xml) {

					if(J(xml).find("items").find("item").length > 0) {
						J(xml).find("items").find("item").each(function() {
	                        var detailEvalGbnId       = J(this).find("detailEvalGbnId").text();
	                        var detailEvalGbnNm       = J(this).find("detailEvalGbnNm").text();
							
							$("#detailEvalGbnId").append("<option value='"+detailEvalGbnId+"'>"+detailEvalGbnNm+"</option>");
							
						});
						
						J("select[name=detailEvalGbnId] option[value='$!{CS_HTML.txt2html($detail.DETAIL_EVAL_GBN_ID)}']").attr("selected",true);
					}	
	        	},
				error : function(xhr, status, error) {
					alert(error);
				}
	    	});
		
		}else{
		
			J("#detailEvalGbnId").val("");
			J("#detailEvalGbnId").attr("disabled", true);
		
		}
	}

	/*****************************************************
	 * 산식입력기 팝업
	 *****************************************************/
	function popCalTypeCol() {
		var actCalType = J("#actCalType").val();
		J("#anchor").attr("href","$!{context_path}/bsc/module/commModule/popCalTypeCol.vw?findYear=$!{searchMap.txt2html("year")}&amp;actCalType=" + actCalType);
		J("#anchor").click();
	}

	/*****************************************************
	 * 주기 설정이 측정주기 세팅
	 *****************************************************/
	function fnChange() {
		var evalCycleId = J("#evalCycleId").val();
        var map=J("input[name=actMon]");
        
        J("input[name='colValues']").attr("disabled", false);

        if( evalCycleId == "Y" ){

            J.each(map, function(key, value){
                J(value).removeAttr("checked");
            });

            J.each(map, function(key, value){
                if( key == "11" ) {
                    J(value).attr("checked","checked");
                }else{
                	J("input[name='colValues']").eq(key).val("");
	                J("input[name='colValues']").eq(key).attr("disabled", true);
                }
            });
        } else if ( evalCycleId == "M" ) {
             J.each(map, function(key, value){
                J(value).removeAttr("checked");
            });

            J.each(map, function(key, value){
                J(value).attr("checked","checked");
            });
        } else if ( evalCycleId == "H" ) {
             J.each(map, function(key, value){
                J(value).removeAttr("checked");
            });

            J.each(map, function(key, value){
                if( key == "5" || key == "11" ) {
                    J(value).attr("checked","checked");
                }else{
                	J("input[name='colValues']").eq(key).val("");
	                J("input[name='colValues']").eq(key).attr("disabled", true);
                }
            });
        } else if ( evalCycleId == "Q" ) {
             J.each(map, function(key, value){
                J(value).removeAttr("checked");
            });

            J.each(map, function(key, value){
                if( key == "2" || key == "5" || key == "8" || key == "11" ) {
                    J(value).attr("checked","checked");
                }else{
                	J("input[name='colValues']").eq(key).val("");
	                J("input[name='colValues']").eq(key).attr("disabled", true);
                }
            });
        }
	}
	
	/*****************************************************
	 * 부서지표 선택시 설정
	 *****************************************************/
	function setKpiSet(metricId, metricNm) {
		J.fancybox.close();
		J("#deptMetricId").val(metricId);
		J("#deptMetricNm").val(metricNm);
	}
	
	/******************************************
	 * 부서지표 설정 취소
	 ******************************************/
	function deptMetricInit() {
		J("#deptMetricId").val("");
		J("#deptMetricNm").val("");
	}

//]]>
</script>

<form id="form1" name="form1" method="post" action="$!{context_path}/mem/base/memMetricGrp/memMetricGrpProcess.vw?type=template">
	<input type="hidden" id="mode"				name="mode"					value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden" id="year"				name="year"					value="$!{searchMap.txt2html("year")}" />
	<input type="hidden" id="orgScoreCalTypeId"	name="orgScoreCalTypeId"	value="$!{CS_HTML.txt2html($detail.SCORE_CAL_TYPE_ID)}" />
	<input type="hidden" id="orgUnit"           name="orgUnit"				value="$!{CS_HTML.txt2html($detail.UNIT)}" />
	<input type="hidden" id="orgEvalCycleId"	name="orgEvalCycleId"		value="$!{CS_HTML.txt2html($detail.EVAL_CYCLE_ID)}" />
	<input type="hidden" id="orgActCalType"		name="orgActCalType"		value="$!{CS_HTML.txt2html($detail.ACT_CAL_TYPE)}" />
	<input type="hidden" id="actMons"			name="actMons"				/>
    $!{searchMap.makeHiddenFind()}

    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>

			<!-- 기본정보 -->
    		<div>
    			<table width="100%" height="23" border="0" cellpadding="0" cellspacing="0">
        			<tr>
            			<td class="bodybox_deptTit" style="border-bottom:1px solid #e3e3e3; padding:0px 0px 0px 30px;">
            				$!{METRIC_GRP_NM} 기본정보
                        </td>
					</tr>
                </table>
            </div>

			<div class="blockDetail">
    			<table summary="$!{METRIC_GRP_NM}관리 등록">
    				<caption class="none">$!{METRIC_GRP_NM} 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="35%" />
						<col width="15%" />
						<col width="35%" />
    				</colgroup>
    				<tbody>
    					<tr>
							<th scope="row"><label for="metricGrpId">$!{METRIC_GRP_NM}코드</label></th>
    						<td>
								#if($!{searchMap.txt2html("mode")} == "MOD")
									$!{CS_HTML.txt2html($detail.METRIC_GRP_ID)}
									<input type="hidden" id="metricGrpId" name="metricGrpId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.METRIC_GRP_ID)}" />
								#else
									<input type="hidden" id="metricGrpId" name="metricGrpId" class="inputbox w100"/>
                                                                                          ※ 저장시 자동으로 부여됩니다.
								#end
    						</td>
							<th scope="row"><label for="evalGbnId">평가항목</label></th>
    						<td>
								<select id="evalGbnId" name="evalGbnId" class="select w180">
									<option value="">==선택==</option>
									$!CS_CODE.getCodeOption("240", $!{CS_HTML.txt2html($detail.EVAL_GBN_ID)}, $!{searchMap.txt2html("year")})
    							</select>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="metricGrpNm">$!{METRIC_GRP_NM}</label></th>
    						<td><input type="text" id="metricGrpNm" name="metricGrpNm" class="inputbox wp95" value='$!{CS_HTML.txt2html($detail.METRIC_GRP_NM)}' maxlength="100" /></td>
							<th scope="row"><label for="detailEvalGbnId">세부평가항목</label></th>
    						<td>
								<select id="detailEvalGbnId" name="detailEvalGbnId" class="select w180">
									<option value="">==선택==</option>
									
    							</select>
							</td>
    					</tr>
    					<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="performanceGoal">성과목표</label></th>
    						<td><input type="text" id="performanceGoal" name="performanceGoal" class="inputbox wp95" value='$!{CS_HTML.txt2html($detail.PERFORMANCE_GOAL)}' maxlength="100" /></td>
							<th scope="row"><label for="deptMetricId">전략KPI</label></th>
    						<td>
								<input type="hidden" id="deptMetricId" name="deptMetricId" class="inputbox wp80" value='$!{CS_HTML.txt2html($detail.DEPT_METRIC_ID)}' readonly="readonly" />
								<input type="text" id="deptMetricNm" name="deptMetricNm" class="inputbox w230" value='$!{CS_HTML.txt2html($detail.DEPT_METRIC_NM)}' maxlength="50" readonly="readonly"/>
								<a id="deptMetricSearch" href="$!{context_path}/bsc/module/commModule/popSearchDeptMetric.vw?findYear=$!{searchMap.txt2html("year")}&amp;callBack=setKpiSet"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="부서$!{METRIC_NM}선택" /></a>
								<input type="image" onclick="javascript:deptMetricInit();return false;" class="valign_middle" src="$!{img_path}/common/board/ic_cancel.gif" alt="부서지표선택취소"/>
    						</td>
    					</tr>
    					
    					
    					<tr>
							<th scope="row"><label for="typeId">평가유형</label></th>
    						<td >
								<select id="typeId" name="typeId" class="select w180">
    								$!CS_CODE.getCodeOption("007", $!{CS_HTML.txt2html($detail.TYPE_ID, '01')}, $!{searchMap.txt2html("year")})
    							</select>
							</td>
							<th scope="row"><span id="unitValidation" class="txt_red">(*)</span> <label for="unit">단위</label></th>
    						<td>
								<select id="unit" name="unit" class="select w180">
									<option value="">==선택==</option>
    								$!CS_CODE.getCodeOption("013", $!{CS_HTML.txt2html($detail.UNIT)}, $!{searchMap.txt2html("year")})
    							</select>
							</td>
    					</tr>
    					
    					<tr>
    						
    						<th scope="row"><span class="txt_red">(*)</span> <label for="evalCycleId">주기</label></th>
    						<td>
								<select id="evalCycleId" name="evalCycleId" class="select w180" onchange="fnChange();">
    								<option value="">==선택==</option>
									$!CS_CODE.getCodeOption("008", $!{CS_HTML.txt2html($detail.EVAL_CYCLE_ID, 'M')})
    							</select>
							</td>
							<th scope="row"><span class="txt_red">(*)</span> <label for="weight">가중치</label></th>
    						<td><input type="text" id="weight" name="weight" class="inputbox wp60" value='$!{CS_HTML.txt2html($detail.WEIGHT)}' maxlength="5" /></td>
    					</tr>	
    					<tr>	
							<th scope="row"><label for="useYn">사용여부</label></th>
    						<td colspan="3">
    							<select id="useYn" name="useYn" class="select w180">
    								$!CS_CODE.getCodeOption("011", $!{CS_HTML.txt2html($detail.USE_YN, 'Y')}, $!{searchMap.txt2html("year")})
    							</select>
    						</td>
    					</tr>
    					
    					<tr>
    						<th scope="row"><label for="kpiPurpose">$!{METRIC_NM}정의</label></th>
    						<td colspan="3">
    							<textarea id="kpiPurpose" name="kpiPurpose" class="tabletext" title="KPI 목적" cols="10" rows="3">$!{CS_HTML.txt2html($detail.KPI_PURPOSE)}</textarea>
								<span id="kpiPurposeIndicator">0</span>/3000byte
    						</td>
    					</tr>
    					
    					<tr style="display:none;">
    						<th scope="row"><span class="txt_red">(*)</span> <label for="actMon">측정주기</label></th>
    						<td colspan="3">
								$!CS_CODE.getCodeCheckBox("actMon", "024", $!{regMonDesc}, $!{searchMap.txt2html("year")})
								<input type="checkbox"  id="checkAll" name="checkAll" title="전체선택"/>&nbsp;전체
    						</td>
						</tr>
    					
					</tbody>
    			</table>
    		</div>
    		
    		<!-- 목표등록 -->
    		<div class="blockDetail" id="tgtRegArea">
    			<table summary="목표등록">
					<caption class="none">목표등록</caption>
    				<colgroup>
    					<col width="*" />
    					<col width="8%" />
    					<col width="7%" />
    					<col width="7%" />
    					<col width="7%" />
    					<col width="7%" />
    					<col width="7%" />
    					<col width="7%" />
    					<col width="7%" />
    					<col width="7%" />
    					<col width="7%" />
    					<col width="7%" />
    					<col width="7%" />
    				</colgroup>
    				<tbody>
    					<tr>
    						<th scope="row"><label for="targetInput">목표등록</label></th>
    						<th scope="row"><label for="targetInput">목표배분</label></th>
							<td colspan="11" class="textLeft">
								<input type="text" id="targetInput" name="targetInput" style="width:200px;" class="inputboxNum readonly textRight" value="" maxlength="20" disabled="disabled" onkeydown="javascript:numChk();" />
								<select id="tgtGubun" name="tgtGubun" class="select w80" >
									<option value="userIn">입력</option>
									<option value="div">동일값</option>
									<option value="accDiv">누적값</option>
			                    </select>
							</td>
    					</tr>
						<tr>
							<th scope="row">구분</th>
							<th scope="row" class="textCenter"><label for="mon01">1월</label></th>
							<th scope="row" class="textCenter"><label for="mon02">2월</label></th>
							<th scope="row" class="textCenter"><label for="mon03">3월</label></th>
							<th scope="row" class="textCenter"><label for="mon04">4월</label></th>
							<th scope="row" class="textCenter"><label for="mon05">5월</label></th>
							<th scope="row" class="textCenter"><label for="mon06">6월</label></th>
							<th scope="row" class="textCenter"><label for="mon07">7월</label></th>
							<th scope="row" class="textCenter"><label for="mon08">8월</label></th>
							<th scope="row" class="textCenter"><label for="mon09">9월</label></th>
							<th scope="row" class="textCenter"><label for="mon10">10월</label></th>
							<th scope="row" class="textCenter"><label for="mon11">11월</label></th>
							<th scope="row" class="textCenter"><label for="mon12">12월</label></th>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span>목표</th>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon01" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON01)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="01" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon02" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON02)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="02" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon03" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON03)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="03" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon04" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON04)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="04" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon05" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON05)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="05" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon06" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON06)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="06" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon07" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON07)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="07" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon08" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON08)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="08" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon09" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON09)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="09" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon10" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON10)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="10" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon11" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON11)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="11" />
							</td>
							<td class="textCenter">
								<input type="text" name="colValues" id="mon12" style="width:80%;" class="inputbox textRight" value="$!{CS_HTML.txt2html($detailTarget.MON12)}" maxlength="20" onkeydown="javascript:numChk();" />
								<input type="hidden" name="mons" value="12" />
							</td>
						</tr>
    				</tbody>
    			</table>
    		</div>
    		



			<!-- 실적산식 -->
			<span id="actCalTypeStr" class="none">※ $!{METRIC_NM}산식을 변경하시면, 산식항목을 새로 입력하셔야 합니다.</span>
			<div id="actCalTypeArea" class="blockDetail2 none">
    			<table id="actCalTypeTB" summary="산식항목 등록">
    				<caption class="none">산식항목 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="75%" />
						<col width="10%" />
    				</colgroup>
    				<tbody>
    					<tr>
    						<th scope="row"><label for="actCalType">$!{METRIC_NM} 산식</label></th>
    						<td colspan="5">
								<input type="text" id="actCalType" name="actCalType" class="inputbox wp90" value='$!{CS_HTML.txt2html($detail.ACT_CAL_TYPE)}' maxlength="300" readonly="readonly"/>
								<!-- <img id="btnActCalType" src="$!{img_path}/common/bt_05.gif" class="valign_middle" alt="산식입력" /> -->
								<input type="image" onclick="javascript:popCalTypeCol();return false;" class="valign_middle" src="$!{img_path}/common/bt_05.gif" alt="산식입력"/>
							</td>
    					</tr>
    					<tr id="actCalTypeList">
    						<th scope="row">산식항목</th>
    						<th scope="row">산식항목명</th>
							<th scope="row">단위</th>
    					</tr>

                        #foreach($list in $calTypeColList)
    						<tr>
        						<td>
									<span>$!{CS_HTML.txt2html($list.CAL_TYPE_COL)}</span>
									<input type="hidden" name="calTypeCols" class="inputbox wp90" value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL)}"/>
								</td>
        						<td style="text-align:left;">
									<input type="text" name="calTypeColNms" class="inputbox wp90" value="$!{CS_HTML.txt2html($list.CAL_TYPE_COL_NM)}" maxlength="80" title="산식항목"/>
								</td>
    							<td>
									<select name="units" class="select w90" title="단위">
                                        <option value="">미지정</option>
										$!CS_CODE.getCodeOption("013", $list.UNIT, $!{searchMap.txt2html("year")})
									</select>
								</td>
        					</tr>
                        #end

						<tr id="kpiActCalTypeNm">
    						<th scope="row">$!{METRIC_NM} 산식명</th>
							<td class="textLeft" colspan="3"><span>$!{calTypeColDesc}</span></td>
    					</tr>
    				</tbody>
    			</table>
    		</div>

			<!-- 득적산식 -->
			<div id="scoreCalTypeArea" class="blockDetail2 none">
    			<table summary="득점산식 등록">
    				<caption class="none">득점산식 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="85%" />
    				</colgroup>
    				<tbody>
    					<tr>
    						<th scope="row" colspan="2" style="text-align:left; padding-left:85px">득점산식</th>
    					</tr>
    					<tr>
    						<th scope="row"><span class="txt_red">(*)</span> <label for="scoreCalTypeGubun">득점산식구분</label></th>
    						<td style="text-align:left; padding-left:20px">
								<select id="scoreCalTypeGubun" name="scoreCalTypeGubun" class="select w200">
    								$!CS_CODE.getCodeOption("230", $!{CS_HTML.txt2html($detail.SCORE_CAL_TYPE_GUBUN, '01')}, $!{searchMap.txt2html("year")})
    							</select>
							</td>
    					</tr>
						<tr>
    						<th scope="row"><span class="txt_red">(*)</span> <label for="scoreCalTypeId">득점산식</label></th>
    						<td style="text-align:left; padding-left:20px">
								<select id="scoreCalTypeId" name="scoreCalTypeId" class="select wp98">
    								#foreach($list in $scoreCalTypeList)
										<option value="$!{CS_HTML.txt2html($list.CAL_TYPE_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($list.CAL_TYPE_ID)}, $!{CS_HTML.txt2html($detail.SCORE_CAL_TYPE_ID)})}>[$!{CS_HTML.txt2html($list.CAL_TYPE_ID)}]$!{CS_HTML.txt2html($list.CAL_TYPE_NM)}</option>
									#end
    							</select>
							</td>
    					</tr>
    				</tbody>
    			</table>
    		</div>

			<!-- 평가등급 구간대 -->
			<div id="evalSectionArea" class="blockDetail2 none">
    			<table summary="평가등급구간대 등록">
    				<caption class="none">평가등급구간대 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="15%" />

						#foreach($list in $evalSectionList)
							<col width="14%" />
						#end

    				</colgroup>
    				<tbody>
    					<tr>
    						<th scope="row" rowspan="3"><span class="txt_red">(*)</span> 평가등급구간대</th>
    						<th scope="row">구간분류</th>

							#foreach($list in $evalSectionList)
    							<th scope="row">$!{CS_HTML.txt2html($list.EVAL_SECTION_NM)}</th>
							#end

    					</tr>
						<tr>
							<th scope="row">점수구간</th>

							#set($curValue = "")
							#set($lastValue = "")
							#set($idx = 1)
							#set($evalSectionListSize = $!{CS_HTML.txt2html($evalSectionList.size())})
							#foreach($list in $evalSectionList)
								#if($idx == $evalSectionListSize)
									#set($curValue = $!{lastValue})
								#else
									#set($curValue = $!{CS_HTML.txt2html($list.VIEW_VAL)})
								#end
    							<td>
									<input type="hidden" name="evalSectionIds" class="inputbox w50" value="$!{CS_HTML.txt2html($list.EVAL_SECTION_ID)}" />
    								<input type="text" name="viewValues" class="inputbox w50" value="$!{curValue}" maxlength="15" title="환산점수"/>
									<input type="hidden" name="fromValues" class="inputbox w50" value="$!{CS_HTML.txt2html($list.FROM_VALUE)}" />
									<input type="hidden" name="toValues" class="inputbox w50" value="$!{CS_HTML.txt2html($list.TO_VALUE)}" />
									<span class="optionStr">이상</span>
    							</td>
								#set($idx = $idx + 1)
								#set($lastValue = $curValue)
							#end

    					</tr>
						<tr>
    						<th scope="row">환산점수</th>
							#foreach($list in $evalSectionList)
								<td>
    								<input type="text" name="conversionScores" class="inputbox w80" value="$!{CS_HTML.txt2html($list.CONVERSION_SCORE)}" maxlength="6" title="환산점수"/>
    							</td>
							#end
    					</tr>
    				</tbody>
    			</table>
    		</div>

			<!-- 버튼 -->
    		<div class="blockButton">
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="button" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>
    	</div>
		<a id="anchor"></a>
    	<div class="clear"></div>
    </div>
</form>

<table id="actCalTypeTemplate" class="none" summary="산식항목">
	<tr>
        <td>
			<span></span>
			<input type="hidden" name="calTypeCols" class="inputbox wp90" value=""/>
		</td>
        <td style="text-align:left;">
			<input type="text" name="calTypeColNms" class="inputbox wp90" value="" maxlength="80" title="산식항목"/>
        </td>
        <td>
            <select name="units" class="select w90" title="단위">
                <option value="">미지정</option>
            	$!CS_CODE.getCodeOption("013", "", $!{searchMap.txt2html("year")})
            </select>
        </td>
	</tr>
</table>

