<?xml version="1.0" encoding="UTF-8"?>

#*************************************************************************
* CLASS 명      : metricGrpEvalSectionGrp_ajax.vm
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 7월 02일 
* 기    능      : 지표풀 구간대항목 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용         비고
* -----  ----------  -------------------  ---------------------- ---------
*  1      하윤식       2012년 7월 02일         최 초 작 업 
**************************************************************************# 

<items>

#foreach($list in $list)
	<item>
		<year>$!{CS_HTML.txt2html($list.YEAR)}</year>
		<evalSectionId>$!{CS_HTML.txt2html($list.EVAL_SECTION_ID)}</evalSectionId>
		<fromValue>$!{CS_HTML.txt2html($list.FROM_VALUE)}</fromValue>
		<toValue>$!{CS_HTML.txt2html($list.TO_VALUE)}</toValue>
		<conversionScore>$!{CS_HTML.txt2html($list.CONVERSION_SCORE)}</conversionScore>
		<viewVal>$!{CS_HTML.txt2html($list.VIEW_VAL)}</viewVal>
	</item>	
#end

</items>
