

@font-face {
  font-family: 'nanumgo';
  font-style: normal;
  font-weight: normal;
  	src: url(/css/font/NanumGothic.eot); src: local('나눔고딕'), 
  	url(/css/font/NanumGothic.eot) format('embedded-opentype'), 
    url(/css/font/NanumGothic.woff) format('woff'), 
    url(/css/font/NanumGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'nanumgo';
  font-style: normal;
  font-weight: bold;
  	src: url(/css/font/NanumGothicBold.eot); src: local('나눔고딕 Bold'), 
  	url(/css/font/NanumGothicBold.eot) format('embedded-opentype'), 
  	url(/css/font/NanumGothicBold.woff) format('woff'), 
  	url(/css/font/NanumGothicBold.ttf) format('truetype');
}


a.rollover img { display: inline; }
a.rollover img.over { display: none; }
a.on img, a.rollover:hover img, a.rollover:focus img { display: none; }
a.on img.over, a.rollover:hover img.over, a.rollover:focus img.over { display: inline; }





*{ margin:0; padding:0; text-indent: 0; list-style: none; font-family: 'nanumgo','나눔고딕'; font-size: 13px; }
html, body{ width:100%; height: 100%; min-height: 100%; -webkit-text-size-adjust:none; }




a{ text-decoration: none;  }
em{ font-style:normal;  }

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video,button{
	margin: 0;
	padding: 0;
	border: 0;	
	color: #202020;
	font-size: 13px;
	font-family:'나눔고딕';
	vertical-align: middle;
	/*background: transparent;*/
}

article, aside, dialog, figure, footer, header, 
hgroup, nav, section, blockquote { 
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {

	content: '';

	content: none;

}



ins {

	text-decoration: underline;

}



del {

	text-decoration: line-through;

}



mark {

	background: none;

}



abbr[title], dfn[title] {

	border-bottom:1px dotted #000;

	cursor:help;

}





/* tables still need 'cellspacing="0"' in the markup */

table {

	border-collapse: collapse;

	border-spacing: 0;

	table-layout:fixed;

}



hr {

	display: block;

	height: 1px;

	border: 0;	

	border-top: 1px solid #ccc;

	margin: 1em 0;

	padding: 0;

}



input[type="number"],input[type="submit"], input[type="button"], button, textarea, input[type="text"], input[type="date"], input[type="email"], input[type="password"]  {

    padding: 0 3px;

    margin: 0;

	color:inherit;

	font-size:inherit;

	font-family:inherit;

    border-radius: 0;

    -moz-border-radius: 0;

    -webkit-border-radius: 0;

    -webkit-appearance: none;

}

input[type="checkbox"],input[type="file"],select

 {

    padding: 0;

    margin: 0;

    border-radius: 0;

    -moz-border-radius: 0;

   -webkit-border-radius: 0;

}

input[type="radio"]

 {

    padding: 0;

    margin: 0;

}



input, select, a img {

	vertical-align: middle;

	color:inherit;

	font-size:inherit;

	font-family:inherit;

}



button{margin:0;padding:0;background:none;border:0;cursor:pointer;outline:none;color:inherit;font-size:inherit;font-family:inherit;}



/* style for android */

* {

  /* prevent callout when holding tap on links (the native dialog that comes up) 

  -webkit-touch-callout: none; */



  /* prevent webkit from resizing text to fit */

  -webkit-text-size-adjust: none; 



  /* make transparent link selection, adjust last value opacity 0 to 1.0 */

  -webkit-tap-highlight-color: rgba(0,0,0,0);



  /* prevent copy paste, to allow, change 'none' to 'text' 

  -webkit-user-select: none; */

}





/** 

 * reset for this site

**/



/* text elements */

h1, h2, h3, h4, h5, h6, strong{

	font-weight:normal;

    -webkit-text-size-adjust:none; /* remove iphone style */

}

p, address, caption, em, cite, th, a, dt, dd {

    font-weight:normal;

    -webkit-text-size-adjust:none; /* remove iphone style */

}



/* remove list tyle */

ul, ol {list-style:none;}

    

ins { text-decoration:none; }

del { text-decoration:line-through; }



blockquote:before, blockquote:after, q:before, q:after { content:""; }

blockquote,q { quotes:"" ""; }






