#*************************************************************************
* CLASS 명      : dirEvalMemberList_xml
* 작 업 자      : 방승현
* 작 업 일      : 2013년 06월 25일 
* 기    능      : 임원평가 리더십평가 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      방승현     2013년 06월 25일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                	: "$!{CS_HTML.txt2html($list.YEAR)}",
		"EMPN"                	: "$!{CS_HTML.txt2html($list.EMPN)}",
		"EMPNS"                	: "$!{CS_HTML.txt2html($list.EMPN)}",
		"KOR_NM"              	: "$!{CS_HTML.txt2html($list.KOR_NM)}",
		"LEADERSHIP_YN"       	: "$!{CS_HTML.txt2html($list.LEADERSHIP_YN)}",
		"EVAL_YN"             	: "$!{CS_HTML.txt2html($list.EVAL_YN)}",
		"DEPT_CD"             	: "$!{CS_HTML.txt2html($list.DEPT_CD)}",
		"CAST_TC"             	: "$!{CS_HTML.txt2html($list.CAST_TC)}",
		"CAST_NM"             	: "$!CS_CODE.getCodeName('170', $list.CAST_TC, $list.YEAR)",
		"POS_TC"              	: "$!{CS_HTML.txt2html($list.POS_TC)}",
		"POS_NM"              	: "$!CS_CODE.getCodeName('171', $list.POS_TC, $list.YEAR)",
		"DUTY_DT"			  	: "$!{CS_FORMAT.dateFormat($list.DUTY_START_DT, '.')} - $!{CS_FORMAT.dateFormat($list.DUTY_END_DT, '.')}",
		"LEADERSHIP_1ST"    	: "$!{CS_HTML.txt2html($list.LEADERSHIP_1ST)}",
		"LEADERSHIP_2ND"    	: "$!{CS_HTML.txt2html($list.LEADERSHIP_2ND)}",
		"LEADERSHIP_SCORE"    	: "$!{CS_HTML.txt2html($list.LEADERSHIP_SCORE)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
