#*************************************************************************
* CLASS 명      : annSalList_xml
* 작 업 자      : 안요한
* 작 업 일      : 2013년 06월 19일
* 기    능      : 성과연봉 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      안 요 한      2013.06.19        최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"				: "$!{CS_HTML.txt2html($list.YEAR)}",
		"EMPN"				: "$!{CS_HTML.txt2html($list.EMPN)}",
		"V_EMPN"			: "$!{CS_HTML.txt2html($list.EMPN)}",
		"KOR_NM"			: "$!{CS_HTML.txt2html($list.KOR_NM)}",
		"DEPT_CD"			: "$!{CS_HTML.txt2html($list.DEPT_CD)}",
		"DEPT_KOR_NM"		: "$!{CS_HTML.txt2html($list.DEPT_KOR_NM)}",
		"EVAL_GRP_NM"       : "$!{CS_HTML.txt2html($list.EVAL_GRP_NM)}",
        "EVAL_GRP_ID"       : "$!{CS_HTML.txt2html($list.EVAL_GRP_ID)}",
        "CAST_TC_NM"		: "$!{CS_HTML.txt2html($list.CAST_TC_NM)}",
		"CAST_TC"			: "$!{CS_HTML.txt2html($list.CAST_TC)}",
		"V_EVAL_GRP_ID"		: "$!{CS_HTML.txt2html($list.EVAL_GRP_ID)}",
		"ANN_DAY"			: "$!{CS_HTML.txt2html($list.ANN_DAY)}",
		"BASIC_SAL"			: "$!{CS_FORMAT.numberFormat($list.BASIC_SAL)}",
		"JOB_SAL"			: "$!{CS_FORMAT.numberFormat($list.JOB_SAL)}",
		"SCORE"				: "$!{CS_HTML.txt2html($list.SCORE)}",
		"GRADE"				: "$!{CS_HTML.txt2html($list.GRADE)}",
		"RATE"				: "$!{CS_HTML.txt2html($list.RATE)}",
		"LUNCH_ALLO"		: "$!{CS_FORMAT.numberFormat($list.LUNCH_ALLO)}",
		"ANN_ALLO"			: "$!{CS_FORMAT.numberFormat($list.ANN_ALLO)}",
		"ANN_SAL"			: "$!{CS_FORMAT.numberFormat($list.ANN_SAL)}",
		"DIF_ANN_SAL"		: "$!{CS_FORMAT.numberFormat($list.DIF_ANN_SAL)}",
		"SEP_PAY"			: "$!{CS_FORMAT.numberFormat($list.SEP_PAY)}",
		"LABOR_PAY"			: "$!{CS_FORMAT.numberFormat($list.LABOR_PAY)}",
		"INSIDE_PAY"		: "$!{CS_FORMAT.numberFormat($list.INSIDE_PAY)}",
		"GOV_PAY"			: "$!{CS_FORMAT.numberFormat($list.GOV_PAY)}",
		"WORK_MON"			: "$!{CS_HTML.txt2html($list.WORK_MON)}",
		"DEPTCD_CNT"		: "$!{CS_HTML.txt2html($list.DEPTCD_CNT)}",
		"DEPTCD_INDEX"		: "$!{CS_HTML.txt2html($list.DEPTCD_INDEX)}",
		"EMPN_CNT"			: "$!{CS_HTML.txt2html($list.EMPN_CNT)}",
		"EMPN_INDEX"		: "$!{CS_HTML.txt2html($list.EMPN_INDEX)}",
		"ANN_SAL_FIN"		: "$!{CS_FORMAT.numberFormat($list.ANN_SAL_FIN)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}




