#*************************************************************************
* CLASS 명      : annSalList
* 작 업 자      : 안요한
* 작 업 일      : 2013년 06월 19일
* 기    능      : 성과연봉 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  -----------  -----------------  -------------------------  --------
*  1       안요한      2013년 06월 19일         최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/prs/annSal/annSal/annSalList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	#set($findYearPlus  = $!{searchMap.txt2html("findYear")} + 1)
	//findYear에 + 1 한 값을 컬럼 명으로 사용합니다.
	var findYearPlus = $!{searchMap.txt2html("findYear")};
	findYearPlus = findYearPlus + 1;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/prs/annSal/annSal/annSalList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['부서코드', '년도', '사번','성명', '평가소속부서','직급코드', '평가군', '근무월수(월)', '연차 일수', findYearPlus+'년<br>기초연봉(원)', findYearPlus+'년<br>직무연봉(원)', '연차수당(원)','성과연봉(원)','평가점수', '평가등급',
						   '지급률(%)','성과연봉(원)','중식보조비(원)', '자체성과급(원)', '정평성과급(원)', '별도지급계(원)','인건비지급액(원)', '최종지급액',
						   'DEPTCD_CNT','DEPTCD_INDEX','EMPN_CNT','EMPN_INDEX','CAST_CNT','CAST_INDEX'],
			colModel     :[
							{name:'DEPT_CD'			,index:'DEPT_CD'			,width:10		,align:'center' },
							{name:'YEAR'   			,index:'YEAR'				,width:10		,align:'center' },
							{name:'EMPN'   			,index:'EMPN'				,width:40		,align:'center' ,cellattr: attr1Setting},
							{name:'KOR_NM'   		,index:'KOR_NM'				,width:40   	,align:'center' ,cellattr: attr1Setting, formatter:linkUpdate},
							{name:'DEPT_KOR_NM'		,index:'DEPT_KOR_NM'		,width:100		,align:'left' 	,cellattr: attr2Setting},
							{name:'EVAL_GRP_ID'     ,index:'EVAL_GRP_ID'        ,width:10       ,align:'center' },
                            {name:'EVAL_GRP_NM'     ,index:'EVAL_GRP_NM'        ,width:50       ,align:'left' },
							{name:'WORK_MON'		,index:'WORK_MON'			,width:60		,align:'center' },
							{name:'ANN_DAY'			,index:'ANN_DAY'			,width:40		,align:'center' },
							{name:'BASIC_SAL'		,index:'BASIC_SAL'			,width:50		,align:'right' ,cellattr: attr1Setting},
							{name:'JOB_SAL'			,index:'JOB_SAL'			,width:60		,align:'right' ,cellattr: attr1Setting},
							{name:'ANN_ALLO'		,index:'ANN_ALLO'			,width:60		,align:'right' ,cellattr: attr1Setting},
							{name:'ANN_SAL'			,index:'ANN_SAL'			,width:10		,align:'right' },
							{name:'SCORE'			,index:'SCORE'				,width:10		,align:'center' },
							{name:'GRADE'			,index:'GRADE'				,width:40		,align:'center' },
							{name:'RATE'			,index:'RATE'				,width:10		,align:'center' },
							{name:'DIF_ANN_SAL'		,index:'DIF_ANN_SAL'		,width:40		,align:'right' },
							{name:'LUNCH_ALLO'		,index:'LUNCH_ALLO'			,width:10		,align:'right' },
							{name:'INSIDE_PAY'		,index:'INSIDE_PAY'			,width:10		,align:'right' },
							{name:'GOV_PAY'			,index:'GOV_PAY'			,width:10		,align:'right' },
							{name:'SEP_PAY'			,index:'SEP_PAY'			,width:10		,align:'right' },
							{name:'LABOR_PAY'		,index:'LABOR_PAY'			,width:10		,align:'right' },
							{name:'ANN_SAL_FIN'		,index:'ANN_SAL_FIN'		,width:60		,align:'right' ,cellattr: attr1Setting},
							{name:'DEPTCD_CNT'		,index:'DEPTCD_CNT'			,width:10		,align:'center'		},
							{name:'DEPTCD_INDEX'	,index:'DEPTCD_INDEX'		,width:10		,align:'center'		},
							{name:'EMPN_CNT'		,index:'EMPN_CNT'			,width:10		,align:'center'		},
							{name:'EMPN_INDEX'		,index:'EMPN_INDEX'			,width:10		,align:'center'		},
							{name:'CAST_CNT'		,index:'CAST_CNT'			,width:10		,align:'center'		},
							{name:'CAST_INDEX'		,index:'CAST_INDEX'			,width:10		,align:'center'		}
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			cellEdit     : true,
			cmTemplate   : {sortable:false},
			caption:"성과연봉"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"DEPT_CD").jqGrid('hideCol',"EVAL_GRP_ID").jqGrid('hideCol',"WORK_MON").jqGrid('hideCol',"ANN_DAY").jqGrid('hideCol',"ANN_SAL")
		.jqGrid('hideCol',"SCORE").jqGrid('hideCol',"RATE").jqGrid('hideCol',"LUNCH_ALLO").jqGrid('hideCol',"INSIDE_PAY")
		.jqGrid('hideCol',"GOV_PAY").jqGrid('hideCol',"SEP_PAY").jqGrid('hideCol',"LABOR_PAY").jqGrid('hideCol',"DEPTCD_CNT").jqGrid('hideCol',"DEPTCD_INDEX")
		.jqGrid('hideCol',"EMPN_CNT").jqGrid('hideCol',"EMPN_INDEX").jqGrid('hideCol',"CAST_CNT").jqGrid('hideCol',"CAST_INDEX").setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			var findYear = J("#findYear").val();

			// 연도가 변경되지 않는 경우 Ajax로 데이터그리드만 다시 조회하므로 formList의 searchMap.makeHiddenFind() 가 다시 생성되지 않음.
			// formList가 submit되는 경우(신규, 수정, 삭제) 검색조건의 사용여부를  유지시켜주기 위해 설정.
			J("#formList input[name=findUseYn]").val(J("#findUseYn").val());

			J("#findScDeptCd").val("");
			J("#findLevelId").val("");
		});


		/******************************************
         * 성과연봉 엑셀다운로드 버튼 클릭 이벤트
         ******************************************/
        J("#btnExcelDown").click(function() {

        	if('$!{searchMap.txt2html("confYn")}' != 'Y'){

    			J.showMsgBox("확정이 되지 않아 엑셀을 다운로드 할수 없습니다.", null, null);
    			return false;
        	} else {
            	ExcelDownload();
            	return false;
            }
        });

        /******************************************
         * 집계 버튼 클릭 이벤트
         ******************************************/
        J("#btnCount").click(function() {
        	if( $!{searchMap.txt2html("countYn")} == 0 ) {
        		alert("간부평가결과 데이터가 없어 집계를 할 수 없습니다.");
        	}else {
	            J.showConfirmBox("집계를 하시면 재집계됩니다. 진행하시겠습니까?", "annSalSet");
        	}
            return false;
        });

        /******************************************
         * 일괄수정 버튼 클릭 이벤트
         ******************************************/
        J("#btnAllModify").click(function() {
        	goAllModify();
            return false;
        });

        /******************************************
         * fancy Box 팝업호출
         ******************************************/
        J("#anchor").fancybox();            //엑셀업로드 팝업

        /******************************************
    	 * 조직선택 팝업호출
    	 ******************************************/
    	J("#icSearch").fancybox();

    	/******************************************
		 * 확정버튼 이벤트
		 ******************************************/
		J("#btnConfirm").click(function(e) {
			e.preventDefault();
			getConfirm();
		});

		/******************************************
		 * 확정취소버튼 이벤트
		 ******************************************/
		J("#btnCancle").click(function(e) {
			e.preventDefault();
			btnCancle();
		});

    });

    /******************************************
	 * 필수입력 체크
	 ******************************************/
	function getConfirm() {

	 	if( $!{searchMap.txt2html("modYn")} == 0 ){
	 		alert("집계를 하신 뒤 확정하실 수 있습니다.");
	 		return false;
	 	}else {
			J.showConfirmBox("확정하시겠습니까?", "Confirm"); //Confirm() 콜백함수 호출
	 	}

	}

	/******************************************
	 * 확정
	 ******************************************/
	function Confirm() {

		J("#mode").val("CONF");
		J("#year").val(J("#findYear").val());
		J("#confYn").val('Y');
		J("#formList").attr("action", "$!{context_path}/prs/annSal/annSal/annSalProcess.vw?type=template").submit();
	}

	/******************************************
	 * 확정취소처리
	 ******************************************/
	function btnCancle(){

		J.showConfirmBox("확정을 취소하면 기존 데이터가 사라집니다. 취소 하시겠습니까?", "CancelDo"); //CancelDo() 콜백함수 호출

	}

	/******************************************
	 * 확정취소처리
	 ******************************************/
	function CancelDo() {
		J("#mode").val("CONF");
		J("#year").val(J("#findYear").val());
		J("#confYn").val('N');
		J("#formList").attr("action", "$!{context_path}/prs/annSal/annSal/annSalProcess.vw?type=template").submit();
	}

    /*****************************************
	 * 데이터 Rowspan 설정
	 ******************************************/
	function attr1Setting(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.EMPN_INDEX;
		var rowSpan = rowObject.EMPN_CNT;

		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}

		return result;
	}

	/*****************************************
	 * 데이터 Rowspan 설정
	 ******************************************/
	function attr2Setting(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.DEPTCD_INDEX;
		var rowSpan = rowObject.DEPTCD_CNT;

		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}

		return result;
	}

	/*****************************************
	 * 데이터 Rowspan 설정
	 ******************************************/
	function attr3Setting(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.CAST_INDEX;
		var rowSpan = rowObject.CAST_CNT;

		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}

		return result;
	}

    /******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) {
		return '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '<//a>';
	}

	/******************************************
	 * 수정
	 ******************************************/
	function goModify(rowId) {


		var ret = J("#list").jqGrid('getRowData',rowId);

		J("#empn").val(ret.EMPN);		 // List에서 선택한 사원을 설정.
		//J("#castTc").val(ret.CAST_TC);		 // List에서 선택한 사원의 직급을 설정.charset="
        J("#evalGrpId").val(ret.EVAL_GRP_ID);       // List에서 선택한 사원의 평가군을 설정.
		J("#deptCd").val(ret.DEPT_CD);		 // List에서 선택한 사원의 부서을 설정.
		J("#mode").val("MOD");

		if('$!{searchMap.txt2html("confYn")}' != 'Y') {
		 alert("집계, 확정을 해야 확인하실수 있습니다.");
		} else {

			J("#formList").attr("action", "$!{context_path}/prs/annSal/annSal/annSalModify.vw?type=template").submit();
		}
	}

	/******************************************
	 * jqGrid 일괄수정 링크
	 ******************************************/
	function goAllModify(){

		J("#year").val(J("#findYear").val());
		J("#mode").val("ADD");
		J("#formList").attr("action", "$!{context_path}/prs/annSal/annSal/annSalReviseList.vw?type=template").submit();
	}

	 /******************************************
     * 직원성과급 엑셀다운로드
     ******************************************/
    function ExcelDownload(){
        J("#yearNm").val(J("#findYear > option:selected").text());
        J("#formList").attr("action", "$!{context_path}/prs/annSal/annSal/annSalExcel.vw?type=excel").submit();
        return false;
    }


	/******************************************
	 * 그리드 ajax 조회
	 ******************************************/
	function goGridSearch() {
		J("#list").setGridParam({url:"$!{context_path}/prs/annSal/annSal/annSalList_xml.vw?" + J("#formFind").serialize()});
		J("#list").trigger("reloadGrid");
	}

	/******************************************
	 * 조직선택 클릭이벤트
	 ******************************************/
	function goAction(deptCd, deptNm) {
		setDeptInfo(deptCd, deptNm);
	}

	/*****************************************************
	 * 조직선택 설정
	 *****************************************************/
	function setDeptInfo(deptCd, deptNm) {
		// 조직트리에서 조직 선택 시 Ajax로 데이터그리드만 다시 조회하므로 formList의 searchMap.makeHiddenFind() 가 다시 생성되지 않음.
		// formList가 submit되는 경우(신규, 수정, 삭제) 조직트리에서 선택된 조직의 정보를  유지시켜주기 위해 설정.
		J("#formList input[name=findDeptCd]").val(deptCd);
		J("#formList input[name=findDeptNm]").val(J(deptNm).text());
		J("#formFind input[name=findResult]").val("");

			// formFind의 변수들 설정.
			J("#findDeptCd").val(deptCd);			// 조직Tree에서 선택한 조직코드를 설정.
			J("#findDeptNm").val(J(deptNm).text());	// 조직Tree에서 선택한 조직명을 설정.(신규 등록시 사용함.)
			J("#findResult").val("");	// 조직Tree에서 선택하면 검색결과 초기화함.

			goGridSearch();

	}

	/******************************************
     * 성과연봉 집계
     ******************************************/
    function annSalSet(){

        var year = J("#findYear").val();
        J("#mode").val("COUNT");
        J("#formList").attr("action", "$!{context_path}/prs/annSal/annSal/annSalProcess.vw?type=template").submit();

        return false;
    }

	/*****************************************************
	 * 조직선택 설정
	 *****************************************************/
	function setDeptInfoPop(deptCd, deptNm) {
		deptNm = J(deptNm).text();
		deptCd = deptCd.substring(1);

		J("#findDeptCd").val(deptCd);
		J("#findDeptNm").val(deptNm);
		J.fancybox.close();
	}

	/*****************************************************
	 * 조직선택 취소
	 *****************************************************/
	function cancleDept() {
		J("#findDeptCd").val("");
		J("#findDeptNm").val("");
		J("#findDeptOpt").val("search");
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">직원성과급</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/annSal/annSal/annSalList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"	id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="직원성과급 검색 조건">
						<caption class="none">직원성과급 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span>$!{YEAR}</span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>

            					#if($CS_LOGIN.chkAuthGrp("01") || $CS_LOGIN.chkAuthGrp("60") || $CS_LOGIN.chkAuthGrp("61"))
            					<td class="searchBox_tit w150">
            						<span>검색</span>
            						<span class="searchBar">
            							<select id="findResearch" name="findResearch" class="select w80">
												<option value="korNms" $searchMap.getSelected("findResearch", "korNms")>성명</option>
												<option value="empns" $searchMap.getSelected("findResearch", "empns")>사원번호</option>
            							<select>
            						</span>
    				            </td>
                				<td class="w250">
            						<span><label for="findResult"></label></span>
									<span class="searchBar"><input type="text" title="검색내용" name="findResult" id="findResult" value="$!{searchMap.txt2html("findResult")}" maxlength="30" class="text"/></span>
            					</td>
            					<td class="searchBox_tit w350">
                                    <span><label for="findDeptNm">소속조직</label></span>
									<span class="searchBar">
										<input type="hidden" id="findDeptCd" name="findDeptCd" value="${CS_STATIC.nullToDefault($!{searchMap.txt2html("findDeptCd")},'')}" />
										<input type="text" id="findDeptNm" name="findDeptNm" class="text" value="${CS_STATIC.nullToDefault($!{searchMap.txt2html("findDeptNm")},'')}" title="소속조직 " class="disable" readonly="readonly"/>
										<a id="icSearch" href="$!{context_path}/bsc/module/commModule/popDeptTree.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSearchCodeId=$!{searchMap.txt2html("findDeptCd")}"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="조직검색"/></a>
        								<a href="javascript:cancleDept();"><img src="$!{img_path}/common/board/ic_cancel.gif" id="icCancel" class="valign_middle" alt="검색 초기화"/></a>
									</span>
            					</td>
            					#else
            					<td class="searchBox_tit w150">
            						<span>성명 </span>
            						$!{CS_LOGIN.getUser_nm()}
            						<input type="hidden" id="findResearch" 	name="findResearch" value="empns" />
									<input type="hidden" id="findResult" 	name="findResult" 	value="$!{CS_LOGIN.getUser_id()}" />
									<input type="hidden" id="findDeptCd" 	name="findDeptCd" 	value="${CS_STATIC.nullToDefault($!{searchMap.txt2html("findDeptCd")},'')}" />
            					#end
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
			<a id="anchor"></a>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/prs/annSal/annSal/annSalListProcess.vw?type=template">
			<input type="hidden" id="mode"       	name="mode" />
			<input type="hidden" id="yearNm"       	name="yearNm" />
			<input type="hidden" id="empn"       	name="empn" />
			<input type="hidden" id="annDay"       	name="annDay" />
			<input type="hidden" id="basicSal"      name="basicSal" />
			<input type="hidden" id="jobSal"       	name="jobSal" />
			<input type="hidden" id="castTc"       	name="castTc" />
            <input type="hidden" id="evalGrpId"     name="evalGrpId" />
			<input type="hidden" id="deptCd"       	name="deptCd" />
			<input type="hidden" id="year"      	name="year" value="$!{searchMap.txt2html("findYear")}"/>
			<input type="hidden" id="confYn"      	name="confYn" value="$!{searchMap.txt2html("confYn")}"/>

			$!{searchMap.makeHiddenFind()}

			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="직원성과급 조회결과">
							<caption class="none">직원성과급 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					#if($CS_LOGIN.chkAuthGrp("01") || $CS_LOGIN.chkAuthGrp("60") || $CS_LOGIN.chkAuthGrp("61"))
						<div class="blockButton_all floatLeft">
							<div class="blockButton" style="float:left; text-align:left; width:80px;">
								<input id="btnExcelDown" type="button" align="middle" value="엑셀변환", alt="엑셀변환 다운로드" />
							</div>
							<div class="blockButton" style="text-align:right; width:180px;">
							#if($!{searchMap.txt2html("confYn")} != "Y")
	    						<li><input type="button" id="btnCount" value="집계" /></li>
		    					<li><input type="button" id="btnConfirm" value="확정" /></li>
		    				#else
		    					<li><input type="button" id="btnAllModify" value="일괄수정" /></li>
		    					<li><input type="button" id="btnCancle" value="확정취소" /></li>
		    				#end
							</div>
						</div>
					#end
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>
