#*************************************************************************
* CLASS 명      : annSalList
* 작 업 자      : 안요한
* 작 업 일      : 2013년 06월 19일
* 기    능      : 성과연봉 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  -----------  -----------------  -------------------------  --------
*  1       안요한      2013년 06월 19일         최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/prs/annSal/annSal/annSalReviseList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	#set($findYearPlus  = $!{searchMap.txt2html("findYear")} + 1)
	//findYear에 + 1 한 값을 컬럼 명으로 사용합니다.
	var findYearPlus = $!{searchMap.txt2html("findYear")};
	findYearPlus = findYearPlus + 1;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/prs/annSal/annSal/annSalReviseList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['부서코드', '년도', '사번', '직급', '사원번호','성명', '평가소속부서','평가군', '평가군', '근무월수(월)', findYearPlus+'년<br>기초연봉(원)', findYearPlus+'년<br>직무연봉(원)', '차등반영<br>성과연봉(원)','중식보조비<br>(원)', '자체성과급<br>(원)'
							, '정평성과급<br>(원)', '별도지급계(원)','인건비지급액<br>(원)'
							, 'DEPTCD_CNT', 'DEPTCD_INDEX', 'EMPN_CNT', 'EMPN_INDEX', 'CAST_CNT', 'CAST_INDEX'],
			colModel     :[
							{name:'DEPT_CD'			,index:'DEPT_CD'			,width:40		,align:'center' },
							{name:'YEAR'   			,index:'YEAR'				,width:50		,align:'center' },
							{name:'V_EMPN'   		,index:'V_EMPN'				,width:30		,align:'center' },
							{name:'V_EVAL_GRP_ID'   ,index:'V_EVAL_GRP_ID'		,width:30		,align:'center' },
							{name:'EMPN'   			,index:'EMPN'				,width:50		,align:'center' ,cellattr: attr1Setting,	formatter:linkEmpn},
							{name:'KOR_NM'   		,index:'KOR_NM'				,width:40   	,align:'center' ,cellattr: attr1Setting},
							{name:'DEPT_KOR_NM'		,index:'DEPT_KOR_NM'		,width:100		,align:'left' 	,cellattr: attr2Setting},
							{name:'EVAL_GRP_ID'	    ,index:'EVAL_GRP_ID'		,width:50		,align:'center' , formatter:linkEvalGrpId},
							{name:'EVAL_GRP_NM'	    ,index:'EVAL_GRP_NM'		,width:40		,align:'left' },
							{name:'WORK_MON'		,index:'WORK_MON'			,width:40		,align:'center' , formatter:linkWorkMon},
							{name:'BASIC_SAL'		,index:'BASIC_SAL'			,width:50		,align:'center' , formatter:linkBasicSal},
							{name:'JOB_SAL'			,index:'JOB_SAL'			,width:60		,align:'center' , formatter:linkJobSal},
							{name:'DIF_ANN_SAL'		,index:'DIF_ANN_SAL'		,width:50		,align:'center'	, formatter:linkDifAnnSal },
							{name:'LUNCH_ALLO'		,index:'LUNCH_ALLO'			,width:50		,align:'center' , formatter:linkLunchAllo},
							{name:'INSIDE_PAY'		,index:'INSIDE_PAY'			,width:50		,align:'center' , formatter:linkInsidePay},
							{name:'GOV_PAY'			,index:'GOV_PAY'			,width:50		,align:'center' , formatter:linkGovPay},
							{name:'SEP_PAY'			,index:'SEP_PAY'			,width:50		,align:'center' },
							{name:'LABOR_PAY'		,index:'LABOR_PAY'			,width:50		,align:'center' , formatter:linkLaborPay},
							{name:'DEPTCD_CNT'		,index:'DEPTCD_CNT'			,width:50		,align:'center'	},
							{name:'DEPTCD_INDEX'	,index:'DEPTCD_INDEX'		,width:50		,align:'center'	},
							{name:'EMPN_CNT'		,index:'EMPN_CNT'			,width:50		,align:'center'	},
							{name:'EMPN_INDEX'		,index:'EMPN_INDEX'			,width:50		,align:'center'	},
							{name:'CAST_CNT'		,index:'CAST_CNT'			,width:50		,align:'center'	},
							{name:'CAST_INDEX'		,index:'CAST_INDEX'			,width:50		,align:'center'	}
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			multiselect  : true,
			loadonce     : true,
			cellEdit     : true,
			cmTemplate   : {sortable:false},
			caption:"성과연봉"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"DEPT_CD").jqGrid('hideCol',"EMPN").jqGrid('hideCol',"V_EVAL_GRP_ID").jqGrid('hideCol',"EVAL_GRP_ID").jqGrid('hideCol',"SEP_PAY").jqGrid('hideCol',"ANN_SAL_FIN").jqGrid('hideCol',"DEPTCD_CNT")
		.jqGrid('hideCol',"DEPTCD_INDEX").jqGrid('hideCol',"EMPN_CNT").jqGrid('hideCol',"LABOR_PAY").jqGrid('hideCol',"EMPN_INDEX").jqGrid('hideCol',"CAST_CNT").jqGrid('hideCol',"CAST_INDEX").setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			var findYear = J("#findYear").val();

			// 연도가 변경되지 않는 경우 Ajax로 데이터그리드만 다시 조회하므로 formList의 searchMap.makeHiddenFind() 가 다시 생성되지 않음.
			// formList가 submit되는 경우(신규, 수정, 삭제) 검색조건의 사용여부를  유지시켜주기 위해 설정.
			J("#formList input[name=findUseYn]").val(J("#findUseYn").val());

			J("#findScDeptCd").val("");
			J("#findLevelId").val("");
		});

    	/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#formFind").attr("action", "$!{context_path}/prs/annSal/annSal/annSalList.vw?type=template").submit();
		});
		
		/******************************************
         * 저장
         ******************************************/
        J("#btnModify").click(function(e) {
            saveChk();
        });
        
        /******************************************
    	 * 조직선택 팝업호출
    	 ******************************************/
    	J("#icSearch").fancybox();
        
        /******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});
        
    });
    
    /*****************************************
	 * 데이터 Rowspan 설정
	 ******************************************/
	function attr1Setting(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.EMPN_INDEX;
		var rowSpan = rowObject.EMPN_CNT;
		
		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		
		return result;     
	}

	/*****************************************
	 * 데이터 Rowspan 설정
	 ******************************************/
	function attr2Setting(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.DEPTCD_INDEX;
		var rowSpan = rowObject.DEPTCD_CNT;
		
		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		
		return result;     
	} 
	
	/*****************************************
	 * 데이터 Rowspan 설정
	 ******************************************/
	function attr3Setting(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.CAST_INDEX;
		var rowSpan = rowObject.CAST_CNT;
		
		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		
		return result;     
	} 
	
	/******************************************
     * jqGrid 사원번호
     ******************************************/
    function linkEmpn(cellvalue, options, rowObject) {
    	return '<input type="hidden" name="empn" value="' + cellvalue + '" class="input wp80" style="text-align:right;" />';
    }

	/******************************************
     * jqGrid 사원번호
     ******************************************/
    function linkEvalGrpId(cellvalue, options, rowObject) {
    	return '<input type="hidden" name="evalGrpId" value="' + cellvalue + '" class="input wp50" style="text-align:center;" />';
    }

	/******************************************
     * jqGrid 근무월수
     ******************************************/
    function linkWorkMon(cellvalue, options, rowObject) {
    	return '<input type="text" name="workMon" value="' + cellvalue + '" class="input wp80" style="text-align:right;" maxlength="12"/>';
    }

	/******************************************
     * jqGrid 기초연봉
     ******************************************/
    function linkBasicSal(cellvalue, options, rowObject) {
    	return '<input type="text" name="basicSal" value="' + cellvalue + '" class="input wp80" style="text-align:right;" maxlength="12"/>';
    }

	/******************************************
     * jqGrid 직무연봉
     ******************************************/
    function linkJobSal(cellvalue, options, rowObject) {
    	return '<input type="text" name="jobSal" value="' + cellvalue + '" class="input wp80" style="text-align:right;" maxlength="12"/>';
    }

	/******************************************
     * jqGrid 차등반영 성과연봉
     ******************************************/
    function linkDifAnnSal(cellvalue, options, rowObject) {
    	return '<input type="text" name="difAnnSal" value="' + cellvalue + '" class="input wp80" style="text-align:right;" maxlength="12"/>';
    }
	
	/******************************************
     * jqGrid 연간 중식 보조비
     ******************************************/
    function linkLunchAllo(cellvalue, options, rowObject) {
    	return '<input type="text" name="lunchAllo" value="' + cellvalue + '" class="input wp80" style="text-align:right;" maxlength="12"/>';
    }
	
	/******************************************
     * jqGrid 내부평가급
     ******************************************/
    function linkInsidePay(cellvalue, options, rowObject) {
    	return '<input type="text" name="insidePay" value="' + cellvalue + '" class="input wp80" style="text-align:right;" maxlength="12"/>';
    }
	
	/******************************************
     * jqGrid 정평성과급
     ******************************************/
    function linkGovPay(cellvalue, options, rowObject) {
    	return '<input type="text" name="govPay" value="' + cellvalue + '" class="input wp80" style="text-align:right;" maxlength="12"/>';
    }
	
	/******************************************
     * jqGrid 인건비지급액
     ******************************************/
    function linkLaborPay(cellvalue, options, rowObject) {
    	return '<input type="text" name="laborPay" value="' + cellvalue + '" class="input wp80" style="text-align:right;" maxlength="12"/>';
    }
	
	/******************************************
     * 필수입력 체크
     ******************************************/
    function saveChk() {
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
    }

    /******************************************
     * 저장
     ******************************************/
    function saveDo() {

        J("#mode").val("REVISE");
        J("#year").val(J("#findYear").val());
        J("#formList").attr("action", "$!{context_path}/prs/annSal/annSal/annSalProcess.vw?type=template").submit();

        return false;
    }
    
    /******************************************
	 * 삭제
	 ******************************************/
	function goDelete() {
		if(!J.gridSelectChk("list")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null);
		} else {
			J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
		}
	}
	
	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
		var id = J("#list").getGridParam('selarrrow');
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var empnt = "";
		var castTct = "";

		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#list").getRowData(ids[i]);
					empnt += rowdata.V_EMPN + '|';
					castTct += rowdata.V_EVAL_GRP_ID + '|';
				}	
			});
		}

		J("#empns").val(empnt);
		J("#evalGrpIds").val(castTct);
		J("#year").val(J("#findYear").val());
		J("#mode").val("DEL");
		J("#formList").attr("action", "$!{context_path}/prs/annSal/annSal/annSalProcess.vw?type=template").submit();
		return false;
	}


	/******************************************
	 * 그리드 ajax 조회
	 ******************************************/
	function goGridSearch() {
		J("#list").setGridParam({url:"$!{context_path}/prs/annSal/annSal/annSalList_xml.vw?" + J("#formFind").serialize()});
		J("#list").trigger("reloadGrid");
	}
	
	/******************************************
	 * 조직선택 클릭이벤트
	 ******************************************/
	function goAction(deptCd, deptNm) {
		setDeptInfo(deptCd, deptNm);
	}
	
	/*****************************************************
	 * 조직선택 설정
	 *****************************************************/
	function setDeptInfo(deptCd, deptNm) {
		// 조직트리에서 조직 선택 시 Ajax로 데이터그리드만 다시 조회하므로 formList의 searchMap.makeHiddenFind() 가 다시 생성되지 않음.
		// formList가 submit되는 경우(신규, 수정, 삭제) 조직트리에서 선택된 조직의 정보를  유지시켜주기 위해 설정.
		J("#formList input[name=findDeptCd]").val(deptCd);
		J("#formList input[name=findDeptNm]").val(J(deptNm).text());
		J("#formFind input[name=findResult]").val("");

			// formFind의 변수들 설정.
			J("#findDeptCd").val(deptCd);			// 조직Tree에서 선택한 조직코드를 설정.
			J("#findDeptNm").val(J(deptNm).text());	// 조직Tree에서 선택한 조직명을 설정.(신규 등록시 사용함.)
			J("#findResult").val("");	// 조직Tree에서 선택하면 검색결과 초기화함.

			goGridSearch();

	}
	
	/*****************************************************
	 * 조직선택 설정
	 *****************************************************/
	function setDeptInfoPop(deptCd, deptNm) {
		deptNm = J(deptNm).text();
		deptCd = deptCd.substring(1);

		J("#findDeptCd").val(deptCd);
		J("#findDeptNm").val(deptNm);
		J.fancybox.close();
	}

	/*****************************************************
	 * 조직선택 취소
	 *****************************************************/
	function cancleDept() {
		J("#findDeptCd").val("");
		J("#findDeptNm").val("");
		J("#findDeptOpt").val("search");
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">직원성과급</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/annSal/annSal/annSalReviseList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"	id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden"	id="findYear"		name="findYear"			value="$!{searchMap.txt2html("findYear")}" />
				##<input type="hidden"	id="findDeptCd"		name="findDeptCd"		value="$!{searchMap.txt2html("findDeptCd")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="직원성과급 검색 조건">
						<caption class="none">직원성과급 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
            					<td class="searchBox_tit w250">$!{YEAR} 
            						<span class="searchBar">
            							$!{searchMap.txt2html("findYear")}년
            						</span>
            					</td>
            					
            					#if($CS_LOGIN.chkAuthGrp("01") || $CS_LOGIN.chkAuthGrp("60") || $CS_LOGIN.chkAuthGrp("61"))
            					<td class="searchBox_tit w150">
            						<span>검색</span>
            						<span class="searchBar">
            							<select id="findResearch" name="findResearch" class="select w80">
												<option value="korNms" $searchMap.getSelected("findResearch", "korNms")>성명</option>
												<option value="empns" $searchMap.getSelected("findResearch", "empns")>사원번호</option>
            							<select>
            						</span>
    				            </td>
                				<td class="searchBox_tit w250">
            						<span><label for="findResult"></label></span>
										<input type="text" title="검색내용" name="findResult" id="findResult" value="$!{searchMap.txt2html("findResult")}" maxlength="30" class="inputbox w200"/>
            						</span>
            					</td>
            					<td class="searchBox_tit w350">
                                    <span><label for="findDeptNm">소속조직</label></span>
									<span class="searchBar">
										<input type="hidden" id="findDeptCd" name="findDeptCd" value="${CS_STATIC.nullToDefault($!{searchMap.txt2html("findDeptCd")},'')}" />
										<input type="text" id="findDeptNm" name="findDeptNm" class="text" value="${CS_STATIC.nullToDefault($!{searchMap.txt2html("findDeptNm")},'')}" title="소속조직 " class="disable" readonly="readonly"/>
										<a id="icSearch" href="$!{context_path}/bsc/module/commModule/popDeptTree.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSearchCodeId=$!{searchMap.txt2html("findDeptCd")}"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="조직검색"/></a>
        								<a href="javascript:cancleDept();"><img src="$!{img_path}/common/board/ic_cancel.gif" id="icCancel" class="valign_middle" alt="검색 초기화"/></a>
									</span>
            					</td>
            					#else
            					<td class="searchBox_tit w150">
            						<span>성명 </span>
            						$!{CS_LOGIN.getUser_nm()}
            						<input type="hidden" id="findResearch" 	name="findResearch" value="empns" />
									<input type="hidden" id="findResult" 	name="findResult" 	value="$!{CS_LOGIN.getUser_id()}" />
									<input type="hidden" id="findDeptCd" 	name="findDeptCd" 	value="${CS_STATIC.nullToDefault($!{searchMap.txt2html("findDeptCd")},'')}" />
            					#end
            				</tr>
        				</tbody>
    				</table>
    				<input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
			<a id="anchor"></a>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/prs/annSal/annSal/annSalListProcess.vw?type=template">
			<input type="hidden" id="mode"       	name="mode" />
			<input type="hidden" id="yearNm"       	name="yearNm" />
			<input type="hidden" id="annDay"       	name="annDay" />
		##	<input type="hidden" id="basicSal"      name="basicSal" />
		##	<input type="hidden" id="jobSal"       	name="jobSal" />
			<input type="hidden" id="deptCd"       	name="deptCd" />
			<input type="hidden" id="empns"       	name="empns" />
			<input type="hidden" id="evalGrpIds"    name="evalGrpIds" />
			<input type="hidden" id="year"      	name="year" value="$!{searchMap.txt2html("findYear")}"/>

			$!{searchMap.makeHiddenFind()}

			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="직원성과급 조회결과">
							<caption class="none">직원성과급 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnBack" value="돌아가기" /></li>
								<li><input type="button" id="btnDelete" value="삭제" /></li>
								<li><input type="button" id="btnModify" value="저장" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>
