#*************************************************************************
* CLASS 명      : govScoreYearList
* 작 업 자      : 방승현
* 작 업 일      : 2013년 07월 01일 
* 기    능      : 임원평가 정평결과확인
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     방승현      2013년 07월 01일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/prs/dir/govScoreYear/govScoreYearList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/prs/dir/govScoreYear/govScoreYearList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['평가년도', '사번', '이름', '평가범주', '평가부문', '지표번호', '지표명', '지표유형', 'CAT_GRP_CNT', 'CAT_GRP_INDEX', 'CAT_CNT', 'CAT_INDEX', '가중치', '점수', '합계', '가중치합계'],
			colModel     :[
							{name:'YEAR'      			,index:'YEAR'      			,width:100   ,align:'center' }, 
                            {name:'EMPN'          		,index:'EMPN'          		,width:100   ,align:'center' }, 
                            {name:'KOR_NM'        		,index:'KOR_NM'        		,width:150   ,align:'center' }, 
                            {name:'EVAL_CAT_GRP_NM'     ,index:'EVAL_CAT_GRP_NM'    ,width:80    ,align:'center' }, 
                            {name:'EVAL_CAT_NM'         ,index:'EVAL_CAT_NM'        ,width:80    ,align:'center' }, 
                            {name:'GOV_METRIC_ID'      	,index:'GOV_METRIC_ID'     	,width:120   ,align:'center' , formatter:linkMetricId}, 
                            {name:'GOV_METRIC_NM'       ,index:'GOV_METRIC_NM'      ,width:150   ,align:'left' 	 },
							{name:'GBN_NM'      		,index:'GBN_NM'     		,width:40    ,align:'center' },
                            {name:'CAT_GRP_CNT'       	,index:'CAT_GRP_CNT'      	,width:150   ,align:'center' },
                            {name:'CAT_GRP_INDEX'       ,index:'CAT_GRP_INDEX'      ,width:150   ,align:'center' },
                            {name:'CAT_CNT'       		,index:'CAT_CNT'      		,width:150   ,align:'center' },
                            {name:'CAT_INDEX'       	,index:'CAT_INDEX'      	,width:150   ,align:'center' },
                            {name:'GOV_WEIGHT'       	,index:'GOV_WEIGHT'      	,width:70    ,align:'center' },
                            {name:'GOV_SCORE'       	,index:'GOV_SCORE'      	,width:70    ,align:'center' },
                            {name:'TOT_GOV_SCORE'       ,index:'TOT_GOV_SCORE'      ,width:20    ,align:'center' ,formatter:linkScore},
                            {name:'TOT_GOV_WEIGHT'      ,index:'TOT_GOV_WEIGHT'     ,width:20    ,align:'center' ,formatter:linkWeight}
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			cmTemplate	 : {sortable:false},
			footerrow	 : true,
			userDataOnFooter : true,
			loadComplete : function() {
					var grid = J("#list");
			
					grid.jqGrid('footerData', 'set', showTotSum());
				  },
			caption:"정평지표관리"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"EMPN").jqGrid('hideCol',"KOR_NM").jqGrid('hideCol',"GOV_METRIC_ID")
		  .jqGrid('hideCol',"CAT_GRP_CNT").jqGrid('hideCol',"CAT_GRP_INDEX").jqGrid('hideCol',"CAT_CNT").jqGrid('hideCol',"CAT_INDEX").jqGrid('hideCol',"TOT_GOV_SCORE").jqGrid('hideCol',"TOT_GOV_WEIGHT").setGridWidth($!{jqGrid_width});
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
			J("#empn").val(J("#findEmpn").val());
		});
		
		/******************************************
		 * 정평결과점수 저장 버튼 클릭 이벤트
		 ******************************************/
		J("#btnScoreSave").click(function() {
			setScoreSave();
			return false;
		});
        
	});
	
	/******************************************
	 * jqGrid 점수 총점
	 ******************************************/
	function linkScore(cellvalue, options, rowObject) { 
		if(options.rowId==""){
			return cellvalue;
		}else{
			var str = '';
			str += '<input type="hidden" id="scores" name="scores" value="' + cellvalue + '" class="inputbox wp70;" readonly="readonly" style="text-align:center" maxlength="5" />';
			return str;
		}
	}
	
	/******************************************
	 * jqGrid 가중치 총점
	 ******************************************/
	function linkWeight(cellvalue, options, rowObject) { 
		if(options.rowId==""){
			return cellvalue;
		}else{
			var str = '';
			str += '<input type="hidden" id="weights" name="weights" value="' + cellvalue + '" class="inputbox wp70;" readonly="readonly" style="text-align:center" maxlength="5" />';
			return str;
		}
	}
	
	/******************************************
	 * jqGrid 지표번호
	 ******************************************/
	function linkMetricId(cellvalue, options, rowObject) {
		if(options.rowId==""){
			return cellvalue;
		}else{
			var str = '';
			str += '<input type="hidden" id="govMetricId" name="govMetricId" value="' + cellvalue + '" class="inputbox wp70;" />';
			return str;
		}
	}
	
	/******************************************
	 * 계산실행
	 ******************************************/
	function showTotSum() {
		var ids = J("#list").getDataIDs();
		var total_weight=0;
		var temp_weight=0;
		var total_score=0;
		var temp_score=0;
		
		for(var i=0;i<=ids.length-1;i++) {
			if(J("input[name=govMetricId]").eq(i).val() != "") {
				temp_weight += parseFloat(J("input[name=weights]").eq(i).val());
			}
			if(J("input[name=govMetricId]").eq(i).val() != "") {
				temp_score += parseFloat(J("input[name=scores]").eq(i).val());
			}
		}		
		//total_weight = Math.round(parseInt(temp_weight)*100)/100;
		//total_score = Math.round(parseInt(temp_score)*100)/100;
		total_weight = temp_weight;
		total_score = temp_score.toFixed(3);
		
		J("#list").jqGrid('footerData', 'set', {GOV_WEIGHT: total_weight});
		J("#list").jqGrid('footerData', 'set', {GOV_SCORE: total_score});
		J("#list").jqGrid('footerData', 'set', {GBN_NM: "합계"});
	}
	
	/******************************************
	 * 데이터 Rowspan 설정
	 ******************************************/
	function attr1Setting(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.CAT_GRP_INDEX;
		var rowSpan = rowObject.CAT_GRP_CNT;
		
		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		
		return result;     
	}
	
	/*****************************************
	 * 데이터 Rowspan 설정
	 ******************************************/
	function attr2Setting(rowId, val, rowObject, cm) {
		var result;
		var index = rowObject.CAT_INDEX;
		var rowSpan = rowObject.CAT_CNT;
		
		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}
		
		return result;     
	} 
	
	/******************************************
	 * 정평결과 점수 저장
	 ******************************************/
	function setScoreSave() {
		J.showConfirmBox("정평결과를 가져옵니다. 진행하시겠습니까?", "setScoreSaveDo"); //setScoreSaveDo() 콜백함수 호출
	}
	
	function setScoreSaveDo() {
		
		J("#mode").val("GET");	
			
		J("#empn").val(J("#formFind select[name=findEmpn]").val());
		J("#formList").attr("action", "$!{context_path}/prs/dir/govScoreYear/govScoreYearProcess.vw?type=template").submit();
	}
    
//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">정평결과확인</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/dir/govScoreYear/govScoreYearList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="정평결과확인검색 조건">
						<caption class="none">정평결과확인 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w250">
            						<span><label for="findEmpn">이름</label></span>
            						<span class="searchBar">
            							<select id="findEmpn" name="findEmpn" class="select w220">
		    								#foreach($list in $dirList)
												<option value="$!{CS_HTML.txt2html($list.EMPN)}|$!{CS_HTML.txt2html($list.POS_TC)}" $searchMap.getSelected("findEmpn", "$!{CS_HTML.txt2html($list.EMPN)}|$!{CS_HTML.txt2html($list.POS_TC)}")>$!{CS_HTML.txt2html($list.KOR_NM)}</option>
											#end
            							</select>
            						</span>
            					</td>
							</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/prs/dir/govScoreYear/govScoreYearProcess.vw?type=template">
			<input type="hidden" id="mode"       		name="mode" />
			<input type="hidden" id="year"		 		name="year"	/>
			<input type="hidden" id="pgmId"				name="pgmId"/>
			<input type="hidden" id="empn"				name="empn"/>
			<input type="hidden" id="korNm"				name="korNm"/>
			<input type="hidden" id="posTc"				name="posTc"/>
			<input type="hidden" id="posTcNm"			name="posTcNm"/>
			<input type="hidden" id="govTotScore"		name="govTotScore"/>
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="정평결과확인 조회결과">
							<caption class="none">정평결과확인 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody> 
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all floatLeft">
						<div class="blockButton" style="float:left; text-align:left; width:300px;">
							<input id="btnScoreSave" type="button" align="middle" value="정평결과 가져오기" alt="정평결과 가져오기" />
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>
