#*************************************************************************
* CLASS 명      : govScoreYearList_xml
* 작 업 자      : 방승현
* 작 업 일      : 2013년 07월 01일 
* 기    능      : 정평지표관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      방승현     2013년 07월 01일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"      		: "$!{CS_HTML.txt2html($list.YEAR)}", 
		"EMPN"          	: "$!{CS_HTML.txt2html($list.EMPN)}", 
		"KOR_NM"        	: "$!{CS_HTML.txt2html($list.KOR_NM)}", 
		"EVAL_CAT_GRP_NM"   : "$!{CS_HTML.txt2html($list.EVAL_CAT_GRP_NM)}", 
		"EVAL_CAT_NM"       : "$!{CS_HTML.txt2html($list.EVAL_CAT_NM)}", 
		"GOV_METRIC_ID"    	: "$!{CS_HTML.txt2html($list.GOV_METRIC_ID)}",
	#if ($list.GOV_METRIC_NM == "TOTAL")
		"GOV_METRIC_NM"     : "합계",
	#else
		"GOV_METRIC_NM"     : "$!{CS_HTML.txt2html($list.GOV_METRIC_NM)}",
	#end 
		"GBN_NM"    		: "$!{CS_HTML.txt2html($list.GBN_NM)}",
		"CAT_GRP_CNT"     	: "$!{CS_HTML.txt2html($list.CAT_GRP_CNT)}", 
		"CAT_GRP_INDEX"     : "$!{CS_HTML.txt2html($list.CAT_GRP_INDEX)}", 
		"CAT_CNT"     		: "$!{CS_HTML.txt2html($list.CAT_CNT)}", 
		"CAT_INDEX"     	: "$!{CS_HTML.txt2html($list.CAT_INDEX)}", 
		"GOV_SCORE"       	: "$!{CS_HTML.txt2html($list.GOV_SCORE)}",
		"GOV_WEIGHT"       	: "$!{CS_HTML.txt2html($list.GOV_WEIGHT)}",
		"TOT_GOV_SCORE"     : "$!{CS_HTML.txt2html($list.GOV_SCORE)}",
		"TOT_GOV_WEIGHT"    : "$!{CS_HTML.txt2html($list.GOV_WEIGHT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
