#*************************************************************************
* CLASS 명      : evalGrpAssessorList_xml
* 작 업 자      : 박선혜
* 작 업 일      : 2013년 06월 05일 
* 기    능      : 개인업적 평가자 선정 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      박선혜     2013년 06월 05일     최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"EVAL_GRP_ID"          : "$!{CS_HTML.txt2html($list.EVAL_GRP_ID)}",
		"EVAL_GRP_NAME"        : "$!{CS_HTML.txt2html($list.EVAL_GRP_NM)}", 
		"EVAL_GRP_NM"          : "$!{CS_HTML.txt2html($list.EVAL_GRP_NM)}",
		"EVAL_TYPE"            : "$!{CS_HTML.txt2html($list.EVAL_TYPE)}",
		"SORT_ORDER"           : "$!{CS_HTML.txt2html($list.SORT_ORDER)}",
		"ASSESSOR1"            : "$!{CS_HTML.txt2html($list.ASSESSOR1)}",
		"ASSESSOR1_NM"         : "$!{CS_HTML.txt2html($list.ASSESSOR1_NM)}",
		"ASSESSOR2"            : "$!{CS_HTML.txt2html($list.ASSESSOR2)}",
		"ASSESSOR2_NM"         : "$!{CS_HTML.txt2html($list.ASSESSOR2_NM)}",
		"ASSESSOR3"            : "$!{CS_HTML.txt2html($list.ASSESSOR3)}",
		"ASSESSOR3_NM"         : "$!{CS_HTML.txt2html($list.ASSESSOR3_NM)}",
		"ASSESSOR4"            : "$!{CS_HTML.txt2html($list.ASSESSOR4)}",
		"ASSESSOR4_NM"         : "$!{CS_HTML.txt2html($list.ASSESSOR4_NM)}",		
		"ASSESSOR5"            : "$!{CS_HTML.txt2html($list.ASSESSOR5)}",
		"ASSESSOR5_NM"         : "$!{CS_HTML.txt2html($list.ASSESSOR5_NM)}",
		"ASSESSOR6"            : "$!{CS_HTML.txt2html($list.ASSESSOR6)}",
		"ASSESSOR6_NM"         : "$!{CS_HTML.txt2html($list.ASSESSOR6_NM)}"		
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
