#*************************************************************************
* CLASS 명		: bonDisSetList
* 작 업 자		: 지원길
* 작 업 일		: 2013년 06월 11일
* 기    능		: 파견직설정 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     지원길      2013년 06월 11일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/prs/bonus/bonDisSet/bonDisSetList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/prs/bonus/bonDisSet/bonDisSetList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['평가년도', '사번', '이름', '부서명', '부(팀)명', '직급', '직위', '입사일', '근무개월(월)', '격려금 지급액(원)'],
			colModel     :[
							{name:'YEAR'				,index:'YEAR'				,width:80   ,align:'center'  },
                            {name:'EMPN'				,index:'EMPN'				,width:80   ,align:'center'  },
                            {name:'KOR_NM'				,index:'KOR_NM'				,width:80   ,align:'center'  },
							{name:'DEPT_NM'				,index:'DEPT_NM'			,width:80   ,align:'center'  },
							{name:'DEPT_DETAIL_NM'		,index:'DEPT_DETAIL_NM'		,width:80   ,align:'center'  },
							{name:'CAST_TC_NM'			,index:'CAST_TC_NM'			,width:80   ,align:'center'  },
							{name:'POS_TC_NM'			,index:'POS_TC_NM'			,width:110  ,align:'center'  },
                            {name:'START_PCMT_DATE'		,index:'START_PCMT_DATE'	,width:110  ,align:'center'  },
                            {name:'WORK_MON'			,index:'WORK_MON'			,width:80   ,align:'center'  },
                            {name:'SEP_PAY'				,index:'SEP_PAY'			,width:80   ,align:'right'   }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			##cmTemplate: {sortable:false},
			caption:"파견직"
		}).jqGrid('hideCol',"YEAR").setGridWidth($!{jqGrid_width});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnInsert").click(function() {
			goInsert();
			return false;
		});

		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});

		/******************************************
		 * 엑셀업로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnBonDisSetUpload").click(function() {
    		J.showConfirmBox("엑셀업로드를 하시면 기존에 입력한 데이터가 삭제됩니다. 진행하시겠습니까?", "excelUpload");
    		return false;
		});


		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#anchor").fancybox();            //엑셀업로드 팝업
	});


	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#yearNm").val(J("#findYear > option:selected").text());
		J("#formList").attr("action", "$!{context_path}/prs/bonus/bonDisSet/bonDisSetListExcel.vw?type=excel").submit();
		return false;
	}

	/******************************************
     * 파견직설정 엑셀업로드
     ******************************************/
    function excelUpload(){

        var year = J("#findYear").val();
        var findHighPgmId = J("#findHighPgmId").val();
        var findSubPgmId = J("#findSubPgmId").val();
        var findPgmId = J("#findPgmId").val();
        J("#anchor").attr("href","$!{context_path}/prs/bonus/bonDisSet/popBonDisSetExcelUpload.vw?findYear=" + year  +  "&amp;findHighPgmId=" + findHighPgmId + "&amp;findSubPgmId=" + findSubPgmId + "&amp;findPgmId=" + findPgmId);
        J("#anchor").click();
    }


//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">파견직설정</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/bonus/bonDisSet/bonDisSetList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="파견직설정 조건">
						<caption class="none">파견직설정 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w250">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
			<a id="anchor"></a>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/prs/bonus/bonDisSet/bonDisSetProcess.vw?type=template">
			<input type="hidden" id="mode"		      name="mode" />
			<input type="hidden" id="year"            name="year" value="$!{searchMap.txt2html("findYear")}"/>
			<input type="hidden" id="yearNm"          name="yearNm" />

			<input type="hidden" id="empn"    		  name="empn" />
			<input type="hidden" id="korNm"    	      name="korNm" />
			<input type="hidden" id="deptNm"    	  name="deptNm" />
			<input type="hidden" id="deptDetailNm"    name="deptDetailNm" />
			<input type="hidden" id="castTcNm"        name="castTcNm" />
			<input type="hidden" id="posTcNm"         name="posTcNm" />
			<input type="hidden" id="startPcmtDate"   name="startPcmtDate" />
			<input type="hidden" id="workMon"   	  name="workMon" />
			<input type="hidden" id="sepPay"  	      name="sepPay" />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="파견직 조회결과">
							<caption class="none">파견직설정 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all floatLeft">
						<div class="blockButton" style="float:left; text-align:left; width:155px;">
							<input id="btnExcelDown" type="button" align="middle" value="파견직 엑셀다운로드", alt="파견직 엑셀다운로드" />
						</div>
					#if($!{CS_HTML.txt2html($detail.CONFIRM_DT)} == "")	
						<div class="blockButton" style="float:left; text-align:left; width:145px;">
							<input id="btnBonDisSetUpload" type="button" align="middle" value="파견직 엑셀업로드" alt="파견직 업로드" />
						</div>
					#end	
					</div>
					#if($!{CS_HTML.txt2html($detail.CONFIRM_DT)} == "")
					<span id="closeAlert" class="txt_red2">※엑셀업로드시 입사일은 숫자로만 입력하세요.(ex. 20130620)</span>
					#else
					<span id="closeAlert" class="txt_red2">$!{searchMap.txt2html("findYear")}년도 성과급 확정을 $!{CS_HTML.txt2html($detail.CONFIRM_DT)}에 진행하셨습니다.</span>
					#end
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>

</div>
