#*************************************************************************
* CLASS 명      : strMetricModify
* 작 업 자      : 현걸욱 
* 작 업 일      : 2012년 10월 31일 
* 기    능      : 전략방향    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    현걸욱      2012년 10월 31일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/str/base/strMetric/strMetricList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#content").checkbyte({
			indicator:J("#contentIndicator"),
			limit:1000
		});
		J("#content").trigger("keyup");

		/******************************************
		 * 정렬순서 숫자만 입력
		 ******************************************/
		J("#sortOrder").numeric();
		J("#sortOrder").css("ime-mode", "disabled");
		
		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#relativeMetricSearch").fancybox();    	//연계KPI 조회
		J("#chargeUserSearch").fancybox();    		//담당자 조회
		J("#approveUserSearch").fancybox();    		//승인자 조회
		//J("#chargeDeptSearch").fancybox();    		//담당부서 조회
		//J("#approveDeptSearch").fancybox();    		//승인부서 조회

	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
	
		if(!J.checkLength("subjectMetricNm", "이행성과지표명", 1, 50)) {
			return;
		}
		
		if(J("#subjectId").val() == "") {
			J.showMsgBox("세부과제를 선택해 주십시요", null, "subjecId");
			return;
		}
		
		if(J("#cycleId").val() == "") {
			J.showMsgBox("주기를 선택해 주십시요", null, "cycleId");
			return;
		}
		
		if(J("#unitId").val() == "") {
			J.showMsgBox("단위를 선택해 주십시요", null, "unitId");
			return;
		}
		
		if(J("#scoreCalTypeId").val() == "") {
			J.showMsgBox("득점산식구분을 선택해 주십시요", null, "scoreCalTypeId");
			return;
		}
		
		if(J("#chargeUserId").val() == "") {
			J.showMsgBox("담당자를 선택해 주십시요", null, "chargeUserId");
			return;
		}
		
		if(J("#approveUserId").val() == "") {
			J.showMsgBox("승인자를 선택해 주십시요", null, "approveUserId");
			return;
		}
		
		if(!J.checkLength("sortOrder", "정렬순서", 1, 5)) {
			return;
		}
		
		document.charset='utf-8';
		
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/str/base/strMetric/strMetricProcess.vw?type=template").submit();
	}
	
	/*****************************************************
	 * 연계지표 선택시 설정
	 *****************************************************/ 
	function setKpiSet(metricId, metricNm) {
		J.fancybox.close();
		J("#metricId").val(metricId);
		J("#metricNm").val(metricNm);
	}
	
	/******************************************
	 * 연계지표 설정 취소
	 ******************************************/
	function metricInit() {
		J("#metricId").val("");
		J("#metricNm").val("");
	}
	
	/*****************************************************
	 * 담당자 설정
	 *****************************************************/ 
	function setChargeUserInfo(arguments) {
		J("#chargeUserId").val(arguments[0]);
		J("#chargeUserNm").val(arguments[1]);
		J("#chargeDeptId").val(arguments[2]);
		J("#chargeDeptNm").html(arguments[3]);
		J.fancybox.close();
	}
	
	/*****************************************************
	 * 승인자 설정
	 *****************************************************/ 
	function setApproveUserInfo(arguments) {
		J("#approveUserId").val(arguments[0]);
		J("#approveUserNm").val(arguments[1]);
		J("#approveDeptId").val(arguments[2]);
		J("#approveDeptNm").html(arguments[3]);
		J.fancybox.close();
	}
	
	/******************************************
	 * 파일추가
	 ******************************************/
	var fileIndex = 0;
	
	function fileAttachAdd() {
		J("#fileAttach").append("<li id=\"fileRow" + fileIndex + "\"><input type=\"file\" name=\"file" + fileIndex + "\" class=\"input\" size=\"70\" /> <input type=\"button\" value=\"삭제\" onclick=\"deleteRow(" + fileIndex + ")\" class=\"input\" size=\"70\"></li>");
		fileIndex++;
	}
	
	function deleteRow(fileIndex)	{
    	J("#fileRow" + fileIndex).remove();
    }

//]]>
</script>    
 
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="$!{context_path}/str/base/strMetric/strMetricProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />
    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="이행성과지표 등록">
					<caption class="none">이행성과지표 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="35%" />
						<col width="15%" />
						<col width="35%" />
    				</colgroup>
    				<tbody>
						<tr>
    						<th scope="row"><label for="subjectMetricId">이행성과지표코드</label></th>
    						<td colspan="3">
								#if($!{searchMap.txt2html("mode")} == "MOD")
									$!{CS_HTML.txt2html($detail.SUBJECT_METRIC_ID)}
									<input type="hidden" id="subjectMetricId" name="subjectMetricId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.SUBJECT_METRIC_ID)}" maxlength="7" readonly="readonly"/>
								#else
									<input type="hidden" id="subjectMetricId" name="subjectMetricId" class="inputbox w100" maxlength="7" />
									※ 저장시 자동으로 부여됩니다.
								#end
							</td>
    					</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="subjectMetricNm">이행성과지표</label></th>
							<td colspan="3">
								<input type="text" id="subjectMetricNm" name="subjectMetricNm" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.SUBJECT_METRIC_NM)}' maxlength="50"/>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="subjectId">세부과제</label></th>
							<td colspan="3">
								<select id="subjectId" name="subjectId" class="select w200" >
									<option value=''>==선택==</option>
    								#foreach($subjectList in $subjectList)
										<option value="$!{CS_HTML.txt2html($subjectList.SUBJECT_ID)}" $!{CS_HTML.getSelected($!{CS_HTML.txt2html($detail.SUBJECT_ID)}, $!{CS_HTML.txt2html($subjectList.SUBJECT_ID)})}>$!{CS_HTML.txt2html($subjectList.SUBJECT_NM)}</option>
									#end	
    							</select>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="cycleId">주기</label></th>
							<td>
								<select id="cycleId" name="cycleId" class="select w200" >
    								<option value="">==선택==</option>
        							$!CS_CODE.getCodeOption("008", $!{CS_HTML.txt2html($detail.CYCLE_ID)}, $!{searchMap.txt2html("year")})	
    							</select>
							</td>
							<th scope="row"><span class="txt_red">(*)</span> <label for="unitId">단위</label></th>
							<td>
								<select id="unitId" name="unitId" class="select w200" >
									<option value=''>==선택==</option>
    								$!CS_CODE.getCodeOption("013", $!{CS_HTML.txt2html($detail.UNIT_ID)}, $!{searchMap.txt2html("year")})	
    							</select>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="scoreCalTypeId">득점산식구분</label></th>
							<td>
								<select id="scoreCalTypeId" name="scoreCalTypeId" class="select w200" >
									<option value=''>==선택==</option>
    								$!CS_CODE.getCodeOption("145", $!{CS_HTML.txt2html($detail.SCORE_CAL_TYPE_ID)}, $!{searchMap.txt2html("year")})	
    							</select>
							</td>
							<th scope="row"><span class="txt_red">(*)</span> <label for="useYn">사용여부</label></th>
							<td>
								<select id="useYn" name="useYn" class="select w200" >
    								$!CS_CODE.getCodeOption("011", $!{CS_HTML.txt2html($detail.USE_YN)}, $!{searchMap.txt2html("year")})	
    							</select>
							</td>
						</tr>
						<tr>
							<th scope="row"> <label for="kpiId">목표/실적 연계 내부평가지표</label></th>
							<td colspan="3">
								<input type="hidden" id="metricId" name="metricId" class="inputbox wp80" value='$!{CS_HTML.txt2html($detail.METRIC_ID)}' maxlength="50" />
								<input type="text" id="metricNm" name="metricNm" class="inputbox w230" value='$!{CS_HTML.txt2html($detail.METRIC_NM)}' maxlength="50" readonly="readonly" title="연계$!{METRIC_NM}"/>
								<a id="relativeMetricSearch" href="$!{context_path}/bsc/module/commModule/popMetricSearch.vw?findYear=$!{searchMap.txt2html("year")}"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="연계$!{METRIC_NM}선택" /></a>
								<a href="javascript:metricInit();"><img src="$!{img_path}/common/board/ic_cancel.gif" class="valign_middle" alt="연계$!{METRIC_NM} 취소" /></a>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="cycleId">담당자</label></th>
							<td style="text-align:left; padding-left:20px">
								<input type="hidden" id="chargeUserId" name="chargeUserId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.CHARGE_USER_ID)}" />
								<input type="text" id="chargeUserNm" name="chargeUserNm" class="inputbox w100" value='$!{CS_HTML.txt2html($detail.CHARGE_USER_NM)}' maxlength="20" readonly="readonly"/>
								<a id="chargeUserSearch" href="$!{context_path}/bsc/module/commModule/popSearchUser.vw?findYear=$!{searchMap.txt2html("year")}&amp;callBack=setChargeUserInfo"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="담당자선택" /></a> 
								<a href="javascript:J.setInit('chargeUserId','chargeUserNm');"><img src="$!{img_path}/common/board/ic_cancel.gif" class="valign_middle" alt="담당자선택 취소" /></a>
							</td>
							<th scope="row"><span class="txt_red">(*)</span> <label for="unitId">담당부서</label></th>
							<td>
								<span id="chargeDeptNm">$!{CS_HTML.txt2html($detail.CHARGE_DEPT_NM)}</span>
								<input type="hidden" id="chargeDeptId" name="chargeDeptId" value="$!{CS_HTML.txt2html($detail.CHARGE_DEPT_ID)}" />
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span> <label for="cycleId">승인자</label></th>
							<td style="text-align:left; padding-left:20px">
								<input type="hidden" id="approveUserId" name="approveUserId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.APPROVE_USER_ID)}" />
								<input type="text" id="approveUserNm" name="approveUserNm" class="inputbox w100" value='$!{CS_HTML.txt2html($detail.APPROVE_USER_NM)}' maxlength="20" readonly="readonly"/>
								<a id="approveUserSearch" href="$!{context_path}/bsc/module/commModule/popSearchUser.vw?findYear=$!{searchMap.txt2html("year")}&amp;callBack=setApproveUserInfo"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="승인자선택" /></a> 
								<a href="javascript:J.setInit('approveUserId','approveUserNm');"><img src="$!{img_path}/common/board/ic_cancel.gif" class="valign_middle" alt="승인자선택 취소" /></a>
							</td> 
							<th scope="row"><span class="txt_red">(*)</span> <label for="unitId">승인부서</label></th>
							<td>
								<span id="approveDeptNm">$!{CS_HTML.txt2html($detail.APPROVE_DEPT_NM)}</span>
								<input type="hidden" id="approveDeptId" name="approveDeptId" value="$!{CS_HTML.txt2html($detail.APPROVE_DEPT_ID)}" />
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="sortOrder">첨부파일</label></th>
							<td colspan="3">
								#foreach($fileList in $fileList)
									$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))} 
									&nbsp;&nbsp;<input type="checkbox" name="delAttachFiles" id="delAttachFile$!{fileList.get("SEQ")}" value="$!{fileList.get("SEQ")}" />&nbsp;<label for="delAttachFile$!{fileList.get("SEQ")}">첨부파일 삭제</label> <br/>
								#end
								<br/>
								<a href="javascript:fileAttachAdd();"><img src="$!{img_path}/common/btn_file.gif" class="valign_middle" alt="파일추가" /></a>&nbsp;(첨부파일 용량제한은 100M입니다)<br/>
								<div>
									<ul id="fileAttach">
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="sortOrder">정렬순서</label></th>
							<td colspan="3">
								<input type="text" id="sortOrder" name="sortOrder" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.SORT_ORDER)}' maxlength="5"/>
							</td>
						</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>	
    	</div>
    	<div class="clear"></div>
    </div>
</form>
