#*************************************************************************
* CLASS 명		: metricMappingMngList
* 작 업 자		: 안요한
* 작 업 일		: 2013년 05월 08일 
* 기    능			: 내평지표연계
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     안 요 한      2013년 05월 08일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/str/system/metricMappingMng/metricMappingMngList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
    
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/str/system/metricMappingMng/metricMappingMngList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :[ '경영목표', '전력과제','CSF','내부평가$!{METRIC_NM}', '$!{SC_DEPT_NM}', '담당자', '지표구분', '지표속성', 'METRIC_ID', 'CSF_ID', 'STRAT_SUBJECT_ID', 'MANAGEMENT_ID' ],
			colModel     :[
							{name:'MANAGEMENT_NM'		,index:'MANAGEMENT_NM'		,width:150   ,align:'left' }, 
							{name:'STRAT_SUBJECT_NM'		,index:'STRAT_SUBJECT_NM'		,width:150   ,align:'left' }, 
							{name:'CSF_NM'						,index:'CSF_NM'						,width:150   ,align:'left' }, 
							{name:'METRIC_NM'				,index:'METRIC_NM'					,width:150   ,align:'left' }, 
                            {name:'SC_DEPT_NM'				,index:'SC_DEPT_NM'				,width:150   ,align:'center' }, 
                            {name:'INSERT_USER_NM'			,index:'INSERT_USER_NM'			,width:120   ,align:'center' }, 
                            {name:'TYPE_NM'          			,index:'TYPE_NM'					,width:100   ,align:'center' }, 
                            {name:'METRIC_PROPERTY_NM'	,index:'METRIC_PROPERTY_NM'	,width:80    ,align:'center' }, 
                            {name:'METRIC_ID'					,index:'METRIC_ID'					,width:60    ,align:'center' },
                            {name:'CSF_ID'						,index:'CSF_ID'						,width:300   ,align:'left' },
                            {name:'STRAT_SUBJECT_ID'		,index:'STRAT_SUBJECT_ID'			,width:300   ,align:'left' },
                            {name:'MANAGEMENT_ID'			,index:'MANAGEMENT_ID'			,width:300   ,align:'left' }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			multiselect  : true,
			cellEdit     : true,
			gridview     : true,
			caption:"전략방향"
		}).jqGrid('hideCol',"METRIC_ID").jqGrid('hideCol',"CSF_ID").jqGrid('hideCol',"STRAT_SUBJECT_ID").jqGrid('hideCol',"MANAGEMENT_ID").setGridWidth($!{jqGrid_width});
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
        
		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnInsert").click(function() {
		
			if(J("#findSubjectMetricId").val() == "") {
    			J.showMsgBox("이행성과지표를 선택해 주십시요", null, null);
    			return;
    		}	
    	
    		J("#anchor").attr("href","$!{context_path}/str/system/metricMappingMng/popMetricMappingModify.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSubjectMetricId="+J("#findSubjectMetricId").val());
    		J("#anchor").click();
			
		});
        
		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});
		
		/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});
		
		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#anchor").fancybox();            
	});
	
	/******************************************
	 * 년도변경시 경영목표 변경
	 ******************************************/
	
	function chgManagement(){
	
		J.ajax({
        	url      : "$!{context_path}/str/system/metricMappingMng/managementList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#findManagementId").empty();
				
				J('<option/>').attr('value','').text("전체").appendTo('#findManagementId');
				
				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findManagementId');
				})
        	}
    	});
		
		<!--세부목표도 초기화-->
		chgStratSubject();
		
	}
	
	/******************************************
	 * 경영목표 변경시 전략과제 변경
	 ******************************************/
	
	function chgStratSubject(){
	
		J.ajax({
        	url      : "$!{context_path}/str/system/metricMappingMng/stratSubjectList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#findStratSubjectId").empty();
				
				J('<option/>').attr('value','').text("전체").appendTo('#findStratSubjectId');
				
				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findStratSubjectId');
				})
        	}
    	});
		
		//J("#findSubjectId").empty();
		//J('<option/>').attr('value','').text("전체").appendTo('#findSubjectId');
		//J("#findSubjectMetricId").empty();
		//J('<option/>').attr('value','').text("전체").appendTo('#findSubjectMetricId');
		
		<!--세부목표도 초기화-->
		chgCsf();
		
	
	}
	
	/******************************************
	 * 전략과제 변경시 CSF 변경
	 ******************************************/
	
	function chgCsf(){
	
		J.ajax({
		
			url      : "$!{context_path}/str/system/metricMappingMng/csfList_ajax.vw",
			cache    : false,
			type     : "POST",
			data	 : J("#formFind").serialize(),
			dataType : "html",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			success  : function(data){
							var xmlDoc = J.parseXML(data);
							J("#findCsfId").empty();
							
							J('<option/>').attr('value','').text("전체").appendTo('#findCsfId');
							
							J(xmlDoc).find("data").each(function() {
								J('<option/>').attr('value',J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findCsfId');
							})
					   }
		});
		
		//J("#findSubjectMetricId").empty();
		//J('<option/>').attr('value','').text("전체").appendTo('#findSubjectMetricId');
		chgSubjectMetric();
	}
	
	/******************************************
	 * CSF 변경시 이행성과지표 변경
	 ******************************************/
	
	function chgSubjectMetric(){
	
		J.ajax({
		
			url      : "$!{context_path}/str/system/metricMappingMng/subjectMetricList_ajax.vw",
			cache    : false,
			type     : "POST",
			data	 : J("#formFind").serialize(),
			dataType : "html",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			success  : function(data){
							var xmlDoc = J.parseXML(data);
							J("#findSubjectMetricId").empty();
							
							J('<option/>').attr('value','').text("전체").appendTo('#findSubjectMetricId');
							
							J(xmlDoc).find("data").each(function() {
								J('<option/>').attr('value',J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findSubjectMetricId');
							})
					   }
		});
	
	}
	
	/******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) { 
		return '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '<//a>';
	}
	
	/******************************************
	 * 수정
	 ******************************************/
	function goModify(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		J("#subjectMetricId").val(ret.SUBJECT_METRIC_ID);
		J("#year").val(J("#findYear").val());
		J("#mode").val("MOD");
		J("#formList").attr("action", "$!{context_path}/str/system/metricMappingMng/metricMappingMngModify.vw?type=template").submit();
	}
    
	/******************************************
	 * 삭제
	 ******************************************/
	function goDelete() {
	
		if(!J.gridSelectChk("list")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null); 
		} else {
			J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
		}
	}
    
	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
		var id = J("#list").getGridParam('selarrrow');
		var ids = J("#list").jqGrid('getDataIDs');
		var rowdata = "";
		var metricIds = "";
        
		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#list").getRowData(ids[i]);
					metricIds += rowdata.METRIC_ID + '|';
				}
			});
		}
        
		J("#metricIds").val(metricIds);
		J("#mode").val("DEL");
		J("#year").val(J("#findYear").val());
		J("#subjectMetricId").val(J("#findSubjectMetricId").val());
		J("#formList").attr("action", "$!{context_path}/str/system/metricMappingMng/metricMappingMngProcess.vw?type=template").submit();
		return false;
	}
	
	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
	
		J("#findStratSubjectNm").val(J("#findStratSubjectId :selected").text());		
		J("#findSubjectNm").val(J("#findSubjectId :selected").text());		
		J("#findSubjectMetricNm").val(J("#findSubjectMetricId :selected").text());		
	
		J("#formFind").attr("action", "$!{context_path}/str/system/metricMappingMng/metricMappingMngListExcel.vw?type=excel").submit();
		J("#formFind").attr("action", "$!{context_path}/str/system/metricMappingMng/metricMappingMngList.vw?type=template");
		return false;
	}
	
	function setMetricMapping(metricIds){
	
		J("#metricIds").val(metricIds);
		J("#year").val(J("#findYear").val());
		J("#subjectMetricId").val(J("#findSubjectMetricId").val());
		J("#mode").val("MOD");
		J("#formList").attr("action", "$!{context_path}/str/system/metricMappingMng/metricMappingMngProcess.vw?type=template").submit();
		
		return;
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">전략방향</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/str/system/metricMappingMng/metricMappingMngList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				
				<input type="hidden"    id="findStratSubjectNm"		name="findStratSubjectNm"		/>
				<input type="hidden"    id="findSubjectNm"			name="findSubjectNm"		/>
				<input type="hidden"    id="findSubjectMetricNm"	name="findSubjectMetricNm"		/>
				
				<div class="searchBox">
    				<div><div><div>
    				<table summary="이행성과지표 조회조건">
						<caption class="none">이행성과지표 조회 검색 조건</caption> 
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w150">
            						<span><label for="findYear">평가년도</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80" onchange="chgManagement();" >
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
            					<td class="searchBox_tit w200">
            						<span><label for="findManagementId">경영목표</label></span>
            						<span class="searchBar">
            							<select id="findManagementId" name="findManagementId" class="select w140" onchange="chgStratSubject();">
            								<option value="">전체</option>
            								#foreach($managementList in $managementList)
												<option value="$!{CS_HTML.txt2html($managementList.MANAGEMENT_ID)}" $searchMap.getSelected("findManagementId", "$!{CS_HTML.txt2html($managementList.MANAGEMENT_ID)}")>$!{CS_HTML.txt2html($managementList.MANAGEMENT_NM)}</option>
											#end
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w200">
            						<span><label for="findStratSubjectId">전략과제</label></span>
            						<span class="searchBar">
            							<select id="findStratSubjectId" name="findStratSubjectId" class="select w140"  onchange="chgCsf();" >
											<option value=''>전체</option>
            								#foreach($stratList in $stratSubjectList)
												<option value="$!{CS_HTML.txt2html($stratList.STRAT_SUBJECT_ID)}" $searchMap.getSelected("findStratSubjectId", "$!{CS_HTML.txt2html($stratList.STRAT_SUBJECT_ID)}")>$!{CS_HTML.txt2html($stratList.STRAT_SUBJECT_NM)}</option>
											#end	
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w170">
            						<span><label for="findCsfId">CSF</label></span>
            						<span class="searchBar">
            							<select id="findCsfId" name="findCsfId" class="select w140" onchange="chgSubjectMetric();">
											<option value=''>전체</option>
            								#foreach($csfList in $csfList)
												<option value="$!{CS_HTML.txt2html($csfList.CSF_ID)}" $searchMap.getSelected("findCsfId", "$!{CS_HTML.txt2html($csfList.CSF_ID)}")>$!{CS_HTML.txt2html($csfList.CSF_NM)}</option>
											#end		
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit">
            						<span><label for="findSubjectMetricId">KGS2020KPI</label></span>
            						<span class="searchBar">
            							<select id="findSubjectMetricId" name="findSubjectMetricId" class="select w140" >
											<option value=''>전체</option>
            								#foreach($subjectMetricList in $subjectMetricList)
												<option value="$!{CS_HTML.txt2html($subjectMetricList.SUBJECT_METRIC_ID)}" $searchMap.getSelected("findSubjectMetricId", "$!{CS_HTML.txt2html($subjectMetricList.SUBJECT_METRIC_ID)}")>$!{CS_HTML.txt2html($subjectMetricList.SUBJECT_METRIC_NM)}</option>
											#end	
            							</select>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/str/system/metricMappingMng/metricMappingMngProcess.vw?type=template">
			<input type="hidden" id="mode"       			name="mode" />
			<input type="hidden" id="year"		 			name="year" />
			<input type="hidden" id="metricIds"				name="metricIds" />
			<input type="hidden" id="subjectMetricId"		name="subjectMetricId" />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="이행성과지표 조회결과">
							<caption class="none">이행성과지표 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton_l"><input id="btnExcelDown" type="image" src="$!{img_path}/btn_excel.gif" align="middle" alt="엑셀다운로드" /></div>
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnInsert" value="신규" /></li>
								<li><input type="submit" id="btnDelete" value="삭제" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
	<a id="anchor"></a>
	<div class="clear"></div>
</div>
