#*************************************************************************
* CLASS 명      : empEvalConAlloItemList_xml.vm
* 작 업 자      : 김상용
* 작 업 일      : 2013년 06월 14일 
* 기    능      : 간부개인업적평가 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김상용     2013년 06월 14일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	#set($idx = $idx + 1)
	
	{
		"YEAR"		: "$!{CS_HTML.txt2html($list.YEAR)}"
		#foreach($alloList in $alloList)
		,	"$!CS_HTML.txt2html($alloList.GRADE_ITEM_ID)"	: "$!{CS_HTML.txt2html($list.get($alloList.GRADE_ITEM_ID))}"
		#end
	}
	
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
