#*************************************************************************
* CLASS 명      : empEvalConResultList
* 작 업 자      : 김효은
* 작 업 일      : 2014년 3월 19일 
* 기    능      : 직원개인기여도평가 평가결과
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     김효은      2014년 3월 19일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/prs/evalCon/empEvalConResult/empEvalConResultList.vw")
<script type="text/javascript" language="javascript" > 
//<![CDATA[

    var J = jQuery;
    
    J(document).ready(function(){
    
        /******************************************
         * 데이터 그리드 출력
         ******************************************/
        var str = J('#formFind').serialize();
        
        jQuery("#list").jqGrid({
            url          :"$!{context_path}/prs/evalCon/empEvalConResult/empEvalConResultList_xml.vw" + "?" + str,
            mtype        :"POST",
            datatype     :"json",
            jsonReader   : {   
                            page   : "page",
                            total  : "total",
                            root   : "rows", 
                            records: function(obj){return obj.length;},
                            repeatitems: false, 
                            id     : "id"
                           },
            height       : 300,
            width        : $!{jqGrid_width},
            colNames     :['평가군 ID', '사원번호', '사번','이름','이름', '부서코드', '부서', 'UP_DEPT_KOR_NM', '직급명', '직위명'
							#foreach($itemList in $itemList)
							, '$!{CS_HTML.txt2html($itemList.EVAL_ITEM_NM)}'
							#end
							,'점수', '순위', '등급', '평가제출 여부'],
            colModel     :[
                            {name:'EVAL_GRP_ID'          ,index:'EVAL_GRP_ID'          ,width:150   ,align:'center' }, 
                            {name:'EMPN'                 ,index:'EMPN'                 ,width:150   ,align:'center' }, 
                            {name:'EMPNID'               ,index:'EMPNID'               ,width:150   ,align:'center' ,formatter:linkEmpnId}, 
                            {name:'KOR_NM'               ,index:'KOR_NM'               ,width:100   ,align:'center' }, 
                            {name:'KOR_NMC'              ,index:'KOR_NMC'              ,width:100   ,align:'center' ,formatter:linkKorNm}, 
                            {name:'DEPT_CD'              ,index:'DEPT_CD'              ,width:150   ,align:'center' }, 
                            {name:'DEPT_KOR_NM'          ,index:'DEPT_KOR_NM'          ,width:170   ,align:'left'   }, 
                            {name:'UP_DEPT_KOR_NM'       ,index:'UP_DEPT_KOR_NM'       ,width:150   ,align:'center' }, 
                            {name:'CAST_TC_NM'           ,index:'CAST_TC_NM'           ,width:80    ,align:'center' }, 
                            {name:'POS_TC_NM'            ,index:'POS_TC_NM'            ,width:80    ,align:'center' }, 
        					#foreach($itemList in $itemList)
        						#if($itemList.EVAL_GBN  == '01')
        							{name:'$!CS_HTML.txt2html($itemList.EVAL_ITEM_ID)'  , index:'$!CS_HTML.txt2html($itemList.EVAL_ITEM_ID)', width:130, align:'center'	},
        						#else
        							{name:'$!CS_HTML.txt2html($itemList.EVAL_ITEM_SCORE)'  , index:'$!CS_HTML.txt2html($itemList.EVAL_ITEM_SCORE)', width:150, align:'center'	},
        						#end
        					#end
							{name:'SCORE'                ,index:'SCORE'                ,width:100   ,align:'center' }, 
                            {name:'RANKING'              ,index:'RANKING'              ,width:150   ,align:'center' }, 
                            {name:'GRADE'                ,index:'GRADE'                ,width:170   ,align:'center' ,formatter:linkGrade}, 
                            {name:'EVAL_SUBMIT_YN'       ,index:'EVAL_SUBMIT_YN'       ,width:150   ,align:'center' }
                            ],
            rowNum       : $!{jqGrid_rownum},
            autowidth    : false, 
            viewrecords  : true,
            loadonce     : true,
            multiselect  : false,
            cellEdit     : true,
            gridview     : true,
			cmTemplate: {sortable:false},
			loadComplete : function() {
               if ("${evalSubmitYn}" == "Y") {
        			J("#btnSubmitEval").attr("value", "평가결과제출취소");
        			J("select[name=gradeMileages]").attr("disabled","disabled");
    			} else {
        			J("#btnSubmitEval").attr("value", "평가결과제출");
        		}			
			},
            caption:"직원개인기여도평가 평가결과"
        }).jqGrid('hideCol',"EVAL_GRP_ID").jqGrid('hideCol',"EMPNID").jqGrid('hideCol',"KOR_NMC").jqGrid('hideCol',"DEPT_CD").jqGrid('hideCol',"DEPT_KOR_NM").jqGrid('hideCol',"RANKING").jqGrid('hideCol',"UP_DEPT_KOR_NM").jqGrid('hideCol',"EVAL_SUBMIT_YN").setGridWidth($!{jqGrid_width});
        
		
		/***********************************
		* 등급배분표 그리드
		***********************************/
		
		var str = J('#formFind').serialize();
		
		jQuery("#alloDistri").jqGrid({
			url          :"$!{context_path}/prs/evalCon/empEvalConResult/empEvalConAlloItemList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj) {return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : 65,
			width        : $!{jqGrid_width},
			colNames     :[ '평가년도'
            				#foreach($alloList in $alloList)
							, '$!CS_HTML.txt2html($alloList.GRADE_ITEM_NM)'
            				#end
						  ],
			colModel     :[ {name:'YEAR'		,index:'YEAR'		,width:100		,align:'center'	}
            				#foreach($alloList in $alloList)
            				, {name:'$!CS_HTML.txt2html($alloList.GRADE_ITEM_ID)', index:'$!CS_HTML.txt2html($alloList.GRADE_ITEM_ID)', width:100, align:'center'	}
            				#end
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false, 
			viewrecords  : true,
			loadonce     : true,
			cmTemplate	 : {sortable:false},
			multiselect  : false,
			cellEdit     : false,
			gridview     : true,
			caption:"등급배분표"
		}).jqGrid('hideCol',"YEAR").setGridWidth($!{jqGrid_width});
		
		
        /******************************************
         * 조회
         ******************************************/
        J("#formFind").submit(function(event) {
			document.charset='utf-8';
			J("#findDeptCd").val(J("#findAssessorEmpn > option:selected").attr("id"));
        });
		
		/******************************************
         * 취소버튼 (돌아가기)
		******************************************/
		J("#btnBack").click(function() {
            J("#formFind").attr("action", "$!{context_path}/prs/evalCon/empEvalConResult/empEvalConEvalList.vw?type=template").submit();
        });
			
		/******************************************
		 * 제출버튼 이벤트
		 ******************************************/
		J("#btnSubmitEval").click(function() {
			if ("${evalSubmitYn}" == "Y") {
    			cancelSubmit();
			} else {
				saveChk();
			}
		});
        
        /******************************************
		 * 임시저장 이벤트
		 ******************************************/
		J("#btnSubmitTemp").click(function() {
			tempSubmit();
		});
		
		/******************************************
		 * 평가기간 보여주기
		 ******************************************/
		if( "T" == "$!{evalSchedule.EVAL_YN}" ){
			var startDt = "$!{CS_FORMAT.dateFormat( $!{evalSchedule.EMP_START_DT} )}";
			var endDt = "$!{CS_FORMAT.dateFormat( $!{evalSchedule.EMP_END_DT} )}";
			var str = "";
			if( startDt.length > 0 && endDt.length > 0 ){
				str += "※  직원개인기여도평가 기간 : " + startDt + " ~ " + endDt;
			}
			J("#alertDis").html(str);
			J("#btnSubmitEval").show();
		} else {
			J("#alertDis").html("※  직원개인기여도평가 기간이 아닙니다." ).attr("class","txt_red");
			J("#btnSubmitTemp").hide();
			J("#btnSubmitEval").hide();
		}
		
    });
	
	/******************************************
	 * jqGrid 사번 링크
	 ******************************************/
	function linkEmpnId(cellvalue, options, rowObject) { 
		var str = '';
		str += '<input type="text"  name="evalConEmpnIds" value="' + cellvalue + '" class="inputbox w60" />';
		return str;
	}
	/******************************************
	 * jqGrid 대상자이름 링크
	 ******************************************/
	function linkKorNm(cellvalue, options, rowObject) { 
		var str = '';
		str += '<input type="text"  name="korNms" value="' + cellvalue + '" class="inputbox w60" />';
		return str;
	}
	
	/******************************************
	 * jqGrid 등급 링크
	 ******************************************/
	function linkGrade(cellvalue, options, rowObject) { 
		var item = [];
		item = cellvalue.split(",");
		
		var rowId = options.rowId;
		var str = "";
		str += '<select name="gradeMileages" class="select w60" onchange="changeGrade(this,'+ rowId  +');" onclick="clickGrade(this);" >';
        str += '<option value="">선택</option>';
    	#foreach($alloList in $alloList)
			str += "<option value=\"$!{CS_HTML.txt2html($alloList.GRADE_ITEM_ID)}\">$!{CS_HTML.txt2html($alloList.GRADE_ITEM_NM)}</option>".replace("\"" + item[0] + "\"", "\"" + item[0] + "\" selected");
		#end
		str += '</select>';
		str += '<input type="hidden" name="grades" value="' + cellvalue + '"/>';
    	return str;
	}
	
	function clickGrade(grade) {
		J("#prevSelectedAllo").val(grade.options[grade.selectedIndex].value);
	}
		
	function changeGrade(grade, rowId) {
		var obj = J("input[name=grades]");
		J(obj[[   rowId -1    ]]).val(grade.options[grade.selectedIndex].value);
	}
	
	/******************************************
     * 필수입력 체크
     ******************************************/
    function saveChk() {
		var ids	= J("#list").jqGrid('getDataIDs');
		
		var saveChk = true;
		var cnt = 0;
		
		//if(J("#list").getGridParam("records") == 0){
		//	J.showMsgBox("평가결과 제출할 내용이 없습니다.");
		//	return false;
		//}
		
		if("${evalConSubmitYn}" != "Y") {
			alert("업무특성평가를 완료하지 않으면 평가제출 할 수 없습니다.");		
			saveChk = false;
    		return false;
		}
		
		J("input[name=grades]").each(function(c, item) {
	
			var beforeRet = J("#list").jqGrid('getRowData', ids[c]);
			var afterRet = J("#list").jqGrid('getRowData', ids[c+1]);
			
			var beforeScore = beforeRet.SCORE;
			var afterScore = afterRet.SCORE;
			
			var beforeId = J("input[name=grades]").eq(c).val();
			var afterId = J("input[name=grades]").eq(c+1).val();
			var beforeVal = "";
			var afterVal = "";
			
			if(beforeId == "BU"){
			 beforeVal = "1";
			}else if(beforeId == "U"){
			 beforeVal = "2";
			}else if(beforeId == "M" ||beforeId =="" || beforeId == undefined){
			 beforeVal = "3";
			}
			if(afterId == "BU"){
			 afterVal = "1";
			}else if(afterId == "U"){
			 afterVal = "2";
			}else if(afterId == "M" ||afterId =="" || afterId == undefined){
			 afterVal = "3";
			}
			
			if(beforeScore != afterScore){
				if(beforeVal>afterVal){
				/*
				J.showMsgBox(J("input[name=korNms]").eq(c).val()+ "의 등급을 다시 조정해주세요.", null,null);
	    			saveChk = false;
	    			return false;
	    		*/
				J.showMsgBox("등급 부여시 평가점수 순서에 따라 등급을 확정해 주시기 바라며, <br/> 평가점수를 수정하시려면 업무특성평가를 다시 진행하여 주시기 바랍니다.", null,null);
	    			saveChk = false;
	    			return false;
				}
			}
		});
		
		J("input[name=gradeCntId]").each(function(a, item) {
			cnt=0;
			
			J("input[name=grades]").each(function(b, item) {
				if(J("input[name=gradeCntId]").eq(a).val() == J("input[name=grades]").eq(b).val()){
					cnt=cnt+1;
				}
			});
			
			if(cnt !=  J("input[name=gradeCnt]").eq(a).val()){
				J.showMsgBox("인원배분 기준에 어긋납니다.<br/> 다시 선택해 주시길 바랍니다.", null, null);
    			saveChk = false;
    			return false;
			}
			
		});
	
		if(saveChk) {
			J.showConfirmBox("평가결과를 제출하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
		}
    }
	
	/******************************************
     * 평가제출
     ******************************************/
    function saveDo() {	
		
		J("#mode").val("SUBMIT");
		J("#evalGrpId").val(J("#findEvalGrpId").val());
        J("#formList").attr("action", "$!{context_path}/prs/evalCon/empEvalConResult/empEvalConResultProcess.vw?type=template").submit();
        return false;
    }
	
	/******************************************
	 * 평가제출취소
	 ******************************************/
	function cancelSubmit() {
		document.charset='utf-8';
		if("${empSubmitYn}" == "Y") {
			alert("평가가 확정되어 평가결과를 취소하실수 없습니다.");		
		} else {
			J.showConfirmBox("제출된 평가결과를 취소하시겠습니까?", "cancelDo"); //cancelDo() 콜백함수 호출
		}
	}

	/******************************************
	 * 제출취소 또는 임시저장
	 ******************************************/
	function cancelDo() {
		J("#mode").val("CANCEL");
		J("select[name=gradeMileages]").attr("disabled",false);
		J("#evalGrpId").val(J("#findEvalGrpId").val());
		J("#formList").attr("action", "$!{context_path}/prs/evalCon/empEvalConResult/empEvalConResultProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 임시저장
	 ******************************************/
	function tempSubmit() {
		
		if("${evalConSubmitYn}" != "Y") {
			alert("업무특성평가를 완료하지 않으면 임시저장 할 수 없습니다.");		
			saveChk = false;
    		return false;
		}
		
		J("#mode").val("TEMPSUBMIT");
		J("select[name=gradeMileages]").attr("disabled",false);
		J("#evalGrpId").val(J("#findEvalGrpId").val());
		J("#formList").attr("action", "$!{context_path}/prs/evalCon/empEvalConResult/empEvalConResultProcess.vw?type=template").submit();
	}
	
	
	

//]]>
</script>

<div id="Table">
    <div id="Table_blockContainer">
        <h1 class="none">직원개인기여도평가 평가결과</h1>
        <div class="tableTop">
            #parse("/WEB-INF/vl/common/template/tabs.vm")
			#foreach($alloCheList in $alloCheList)
				<input type="hidden" id="$!CS_HTML.txt2html($alloCheList.GRADE_ITEM_ID)" name="gradeCnt" value="$!CS_HTML.txt2html($alloCheList.ITEM_DISTRI_CNT)" />
				<input type="hidden" id="$!CS_HTML.txt2html($alloCheList.GRADE_ITEM_ID)" name="gradeCntId" value="$!CS_HTML.txt2html($alloCheList.GRADE_ITEM_ID)" />
			#end
            
			<input type="hidden" id="prevSelectedAllo" name="prevSelectedAllo" value="" />
            <!-- search S -->
            <form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/evalCon/empEvalConResult/empEvalConResultList.vw?type=template">
                <input type="hidden"    id="findHighPgmId"  	name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
                <input type="hidden"    id="findSubPgmId"   	name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
                <input type="hidden"    id="findPgmId"      	name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
                <input type="hidden" 	id="findDeptCd"			name="findDeptCd"		value="$!{searchMap.txt2html("findDeptCd")}" />
				<input type="hidden" 	id="findDeptNm"			name="findDeptNm"		value="$!{searchMap.txt2html("findDeptNm")}" />
				<input type="hidden" 	id="findSearchCodeId"	name="findSearchCodeId" value="$!{searchMap.txt2html("findSearchCodeId")}" />
				<input type="hidden" 	id="findEvalGrpId"     	name="findEvalGrpId" 	value="$!{searchMap.txt2html("findEvalGrpId")}"/>
				
                <div class="searchBox">
                    <div><div><div>
                    <table summary="직원개인기여도평가 평가결과검색 조건">
                        <caption class="none">직원개인기여도평가 평가결과 검색 조건</caption> 
                        <thead><tr><th></th></tr></thead>
                        <tbody>
                            <tr>
                                <td class="searchBox_tit w250">
                                    <span><label for="findYear">$!{YEAR}</label></span>
                                    <span class="searchBar">
                                        <select id="findYear" name="findYear" class="select w80">
                                            $!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
                                        </select>
                                    </span>
                                </td> 
								#if($!{CS_LOGIN.chkAuthGrp("01")} == true || $!{CS_LOGIN.chkAuthGrp("60")} == true)
								<td class="searchBox_tit w270">
            						<span><label for="findAssessorEmpn">평가자</label></span>
            						<span class="searchBar">
            							<select id="findAssessorEmpn" name="findAssessorEmpn" class="select w170">
												<option value="">==전체==</option>
            								#foreach($assessorList in $assessorList)
												<option value="$!{CS_HTML.txt2html($assessorList.ASSESSOR_EMPN)}" id="$!{CS_HTML.txt2html($assessorList.DEPT_CD)}" $searchMap.getSelected("findAssessorEmpn", "$!{CS_HTML.txt2html($assessorList.ASSESSOR_EMPN)}")>$!{CS_HTML.txt2html($assessorList.KOR_NM)}</option>
											#end
            							</select>
            						</span>
            					</td>
								#else
								<td>
                					<input type="hidden" name="findAssessorEmpn" id="findAssessorEmpn" value="$!{CS_LOGIN.getSabun()}" />
								</td>
								#end
								<td class="searchBox_tit w450">
                                    <span><label for="findNameEmpn">평가대상자</label></span>
                                    <span class="searchBar">
                                        <select id="findNameEmpn" name="findNameEmpn" class="select w70">
												<option value="findName" $searchMap.getSelected("findName", $!{searchMap.txt2html("nameEmpn")})>이름</option>
												<option value="findEmpn" $searchMap.getSelected("findEmpn", $!{searchMap.txt2html("nameEmpn")})>사번</option>
                                        </select>
										<span class="searchBar"><input type="text" id="findEmpnNameText" name="findEmpnNameText" class="text" value="$!{searchMap.txt2html("findEmpnNameText")}"  maxlength="10" title="검색조건 "/> </span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
                    </div></div></div>
                </div>
            </form>
            <!-- search E -->
            <div class="clear"></div>
        </div>
        
        <form id="formList" name="formList" method="post" action="$!{context_path}/prs/evalCon/empEvalConResult/empEvalConResultProcess.vw?type=template" >
            <input type="hidden" id="mode"       name="mode" />
            <input type="hidden" id="year"       name="year" />
            <input type="hidden" id="yearNm"     name="yearNm" />
			<input type="hidden" id="evalGrpId"	 name="evalGrpId" />
            
            $!{searchMap.makeHiddenFind()}
            <div id="splitterBox">
                <div>
                    <!-- 데이터그리드 Start -->
                    <div class="blockGridListTable">
                        <table id="list" summary="직원개인기여도평가 평가결과 조회결과">
                            <caption class="none">직원개인기여도평가 평가결과 조회</caption>
                            <thead><tr><th></th></tr></thead>
                            <tbody><tr><td></td></tr></tbody>
                        </table>
                        <div id="pager"></div>
                    </div>
                    <!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton_l txt_blue">
							※ 인원배분 기준
							<div class="blockGridListTable">
        						<table id="alloDistri" summary="인원배분 기준">
        							<caption class="none">인원배분 기준</caption>
        							<thead><tr><th></th></tr></thead>
        							<tbody><tr><td></td></tr></tbody>
        						</table>
        						<div id="pager"></div>
        					</div>
							<span id="alertDis"></span>
						</div>
						<div class="blockButton">			
							<ul>
								<li><input type="button" id="btnBack"  		value="돌아가기" /></li>
								<li><input type="button" id="btnSubmitTemp" value="임시저장" /></li>
								<li><input type="button" id="btnSubmitEval" value="평가결과제출" /></li>
							</ul>
						</div>
					</div>
                </div>
                </div>
        </form>
	   </div>
    </div>
    <div class="clear"></div>
</div>
