#*************************************************************************
* CLASS 명      : popMemSearchUser.vm
* 작 업 자      : 하윤식
* 작 업 일      : 2012.06.30
* 기    능      : 사용자검색
* ---------------------------- 변 경 이 력 --------------------------------
* 번호   작 업 자     작   업   일        변 경 내 용             비고
* ----  --------  -----------------  -------------------------  --------
*  1     하 윤 식      2012.06.30          최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
	
		try {
			$("input", ".blockButton" ).button(); //버튼 ui 적용
		} catch(err) { }
	
    	/******************************************
    	 * 성명 검색 엔터키 이벤트
    	 ******************************************/
		J("#findUserNm").keyup(function(e)  {
        	if(e.keyCode == 13) {
        		goAction('','');
        	}
        });
		
	});
	
	/******************************************
	 * 사용자 setting
	 ******************************************/
	function setSearchUserInfo() {
		$!{searchMap.txt2html("callBack")}(arguments);  //콜백함수 설정
	}
	
	/******************************************
	 * 조직선택 클릭이벤트
	 ******************************************/
	function goAction(deptId, deptNm) {
	
		var findUserNm = J("#findUserNm").val();
		var findYear = "$!{searchMap.txt2html("findYear")}";
		
		if("" != deptId) findUserNm = "";
		
		J.ajax({
			url        : "$!{searchMap.txt2html("context")}/bsc/module/commModule/commonMemUserInfo_ajax.vw",
        	type       : "POST",
			data       : "deptId=" + deptId + "&amp;findYear=" + findYear + "&amp;findUserNm=" + findUserNm,
        	dataType   : "xml",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success    : function (xml) {
				J("#userData ul").empty();
				if(J(xml).find("items").find("item").length > 0) {
					$(xml).find("items").find("item").each(function() {  
                    	var userId   = $(this).find("userId").text();
                    	var userNm   = $(this).find("userNm").text();
						var deptId   = $(this).find("deptId").text();
						var deptNm   = $(this).find("deptNm").text();
						var jikgubCd = $(this).find("jikgubCd").text();
						var jikgubNm = $(this).find("jikgubNm").text();
						var posCd    = $(this).find("posCd").text();
						var posNm    = $(this).find("posNm").text();
						
						if(findUserNm == "") {
							J("#userData ul").append("<li><a href=\"javascript:setSearchUserInfo('" + userId + "', '" + userNm + "', '" + deptId + "', '" + deptNm + "', '" + jikgubCd + "', '" + jikgubNm + "', '" + posCd + "', '" + posNm + "');\">" + posNm +" "+ userNm + "</a></li>");
						} else {
							J("#userData ul").append("<li><a href=\"javascript:setSearchUserInfo('" + userId + "', '" + userNm + "', '" + deptId + "', '" + deptNm + "', '" + jikgubCd + "', '" + jikgubNm + "', '" + posCd + "', '" + posNm + "');\">" + deptNm +" "+ userNm + "</a></li>");
						}
                    });
				}
        	},  
			error : function(xhr, status, error) {
				alert(error);
			}
    	});
	}

//]]>
</script>

<div style="width:515px;height:350px;">
	<div id="popSearchUserArea">
		<h1 class="none">실조직트리</h1>
		<div class="blockGridTreeTable">
			#parse("/WEB-INF/vl/bsc/module/commModule/commonTree.vm")
		</div>
		<div style="margin-left:20px;margin-bottom:10px;float:left;"><span class="strong">성명: </span><input type="text" id="findUserNm" name="findUserNm"/></div>
		<div id="userData" class="blockGridTreeTable" style="margin-left:30px;height:353px;width:240px;">
			<ul>
			</ul>
		</div>
	</div>
</div>
