#*************************************************************************
* CLASS 명      : popSearchUser.vm
* 작 업 자      : 하윤식
* 작 업 일      : 2012.06.30
* 기    능      : 사용자검색
* ---------------------------- 변 경 이 력 --------------------------------
* 번호   작 업 자     작   업   일        변 경 내 용             비고
* ----  --------  -----------------  -------------------------  --------
*  1     하 윤 식      2012.06.30          최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
	
		try {
			$("input", ".blockButton" ).button(); //버튼 ui 적용
		} catch(err) { }
	
    	/******************************************
    	 * 성명 검색 엔터키 이벤트
    	 ******************************************/
		J("#findUserNm").keyup(function(e)  {
        	if(e.keyCode == 13) {
        		goAction('','');
        	}
        });
		
	});
	
	/******************************************
	 * 사용자 setting
	 ******************************************/
	function setSearchMetricInfo(metricId, metricNm) {
		alert('$!{searchMap.txt2html("callBack")}');
		$!{searchMap.txt2html("callBack")}(metricId, metricNm);  //콜백함수 설정
	}
	
	/******************************************
	 * 조직선택 클릭이벤트
	 ******************************************/
	function goAction(deptId, deptNm) {
	
		var findYear = "$!{searchMap.txt2html("findYear")}";
		
		J.ajax({
			url        : "$!{searchMap.txt2html("context")}/bsc/module/commModule/commonDeptMetricInfo_ajax.vw",
        	type       : "POST",
			data       : "findYear=" + findYear + "&amp;findScDeptId="+deptId,
        	dataType   : "xml",
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success    : function (xml) {
				J("#userData ul").empty();
				if(J(xml).find("items").find("item").length > 0) {
					$(xml).find("items").find("item").each(function() {  
                    	var metricId   = $(this).find("metricId").text();
                    	var metricNm   = $(this).find("metricNm").text();
						
						J("#userData ul").append("<li><a href=\"javascript:setSearchMetricInfo('" + metricId + "', '" + metricNm + "');\">" + metricNm +"</a></li>");
						
                    });
				}
        	},  
			error : function(xhr, status, error) {
				alert(error);
			}
    	});
	}

//]]>
</script>

<div style="width:515px;height:350px;">
	<div id="popSearchUserArea">
		<h1 class="none">실조직트리</h1>
		<div class="blockGridTreeTable">
			#parse("/WEB-INF/vl/bsc/module/commModule/commonTree.vm")
		</div>
		<div id="userData" class="blockGridTreeTable" style="margin-left:20px;height:363px;width:250px;">
			<ul>
			</ul>
		</div>
	</div>
</div>
