#*************************************************************************
* CLASS 명     : orgDeptPrsScoreList
* 작 업 자      : 박선혜
* 작 업 일      : 2013.06.22
* 기    능      : 조직관리역량평가결과 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호   작 업 자     작   업   일        변 경 내 용             비고
* ----  --------  -----------------  -------------------------  --------
*  1     지 원 길      2013.06.22          최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/prs/org/orgDeptPrsScore/orgDeptPrsScoreList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[
	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/prs/org/orgDeptPrsScore/orgDeptPrsScoreList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :[ '평가년도', '사번', '이름', '직급코드', '직급', '직위코드', '직위', '조직코드', '조직명', '근무시작일', '근무종료일', '근무월', '환산근무월', '조직점수', '개인총점' ],
			colModel     :[
							{name:'YEAR'             ,index:'YEAR'             ,width:80   ,align:'center'  ,sortable:true},
							{name:'EMPN'             ,index:'EMPN'             ,width:80   ,align:'center'  ,sortable:true},
							{name:'KOR_NM'           ,index:'KOR_NM'           ,width:90   ,align:'center'  ,sortable:true},
							{name:'CAST_TC'          ,index:'CAST_TC'          ,width:100  ,align:'center'  ,sortable:true},
							{name:'CAST_TC_NM'       ,index:'CAST_TC_NM'       ,width:80   ,align:'center'  ,sortable:true},
							{name:'POS_TC'           ,index:'POS_TC'           ,width:100  ,align:'center'  ,sortable:true},
							{name:'POS_TC_NM'        ,index:'POS_TC_NM'        ,width:80   ,align:'center'  ,sortable:true},
							{name:'DEPT_CD'          ,index:'DEPT_CD'          ,width:80   ,align:'center'  ,sortable:true},
							{name:'DEPT_NM'          ,index:'DEPT_NM'          ,width:150  ,align:'left'    ,sortable:true},
							{name:'START_PCMT_DATE'  ,index:'START_PCMT_DATE'  ,width:90   ,align:'center'  ,sortable:true},
							{name:'END_PCMT_DATE'    ,index:'END_PCMT_DATE'    ,width:90   ,align:'center'  ,sortable:true},
							{name:'WORK_MON'         ,index:'WORK_MON'         ,width:80   ,align:'center'  ,sortable:true},
							{name:'RE_MON'           ,index:'RE_MON'           ,width:80   ,align:'center'  ,sortable:true},
							{name:'TOT_DEPTSCORE'    ,index:'TOT_DEPTSCORE'    ,width:90   ,align:'center'  ,sortable:true},
							{name:'TOT_PRSSCORE'     ,index:'TOT_PRSSCORE'     ,width:90   ,align:'center'  ,sortable:true}
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			##cmTemplate	 : {sortable:false},
			cellEdit     : true,
			gridview     : true,
			caption:"조직관리역량평가"
		}).jqGrid('hideCol',"YEAR").jqGrid('hideCol',"CAST_TC").jqGrid('hideCol',"POS_TC").setGridWidth($!{jqGrid_width});

		/******************************************
         * 조직관리역량평가결과 엑셀다운로드 버튼 클릭 이벤트
         ******************************************/
        J("#btnExcelDown").click(function() {
            deptScoreExcelDownload();
            return false;
        });

	/******************************************
	 * 조직선택 팝업호출
	 ******************************************/
	J("#icSearch").fancybox();

   	});

   	/*****************************************
	 * jqGrid Common Rowspan
	 ******************************************/
	function attrSetting(index, rowSpan) {
		var result;

		if(index == 1) {
			result = ' rowspan="' + rowSpan + '"';
		} else {
			result = ' style="display:none"';
		}

		return result;
	}

	/*****************************************
	 * jqGrid DEPT_KOR_NM Rowspan
	 ******************************************/
	function attr1Setting(rowId, val, rowObject, cm) {
		var index = rowObject.CNT_INDEX;
		var rowSpan = rowObject.CNT;

		return attrSetting(index, rowSpan);
	}

	/******************************************
	 * 조회
	 ******************************************/
	J("#formFind").submit(function(event) {
		//submit 하기전 작업추가

	});

	/******************************************
     * 조직관리역량평가결과 엑셀다운로드
     ******************************************/
    function deptScoreExcelDownload(){
        J("#yearNm").val(J("#findYear > option:selected").text());
		J("#userNm").val(J("#findKorNm").val());
        J("#formList").attr("action", "$!{context_path}/prs/org/orgDeptPrsScore/orgDeptPrsScoreListExcel.vw?type=excel").submit();
        return false;
    }

	/******************************************
	 * 조직검색
	 ******************************************/
	function setDeptInfoPop(deptId, deptNm) {
		J("#findDeptCd").val(deptId);
		J("#findDeptNm").val(deptNm);
		J.fancybox.close();
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">조직관리역량평가 결과</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/prs/org/orgDeptPrsScore/orgDeptPrsScoreList.vw?type=template">
				<input type="hidden"	id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden" 	id="findSubPgmId"	name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"	id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="조직관리역량평가 검색 조건">
						<caption class="none">조직관리역량평가 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w160">
            						<span>$!{YEAR}</span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w280">
									<span>조직</span>
            						<span class="searchBar">
        								<input type="hidden" id="findDeptCd" name="findDeptCd" value="$!{searchMap.txt2html("findDeptCd")}" />
        								<input type="text" id="findDeptNm" name="findDeptNm" class="inputbox w170" value="$!{searchMap.txt2html("findDeptNm")}" readonly="readonly" maxlength="20" />
        								<a id="icSearch" href="$!{context_path}/prs/org/orgDeptPrsScore/popDeptCdTree.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findSearchCodeId=$!{searchMap.txt2html("findScDeptId")}"><img src="$!{img_path}/common/board/ic_search.gif" class="valign_middle" alt="조직검색"/></a>
            						</span>
                                </td>
								<td class="searchBox_tit w200">
            						<span><label for="findKorNm">이름 </label></span>
										<input type="text" title="이름" name="findKorNm" id="findKorNm" value="$!{searchMap.txt2html("findKorNm")}" maxlength="10" class="inputbox w100"/>
            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->

			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/prs/org/orgDeptPrsScore/orgDeptPrsScoreProcess.vw?type=template">
			<input type="hidden" id="mode"           name="mode" />
			<input type="hidden" id="year"       	name="year" />
			<input type="hidden" id="empn"       	name="empn" />
			<input type="hidden" id="userNm"		name="userNm" />
			<input type="hidden" id="yearNm"		name="yearNm" />

			$!{searchMap.makeHiddenFind()}

			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="연계항목 조회">
							<caption class="none">연계항목 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->

					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:110px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀다운로드" alt="엑셀다운로드" />
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>

