#*************************************************************************
* CLASS 명		: csfList_xml
* 작 업 자		: 안요한
* 작 업 일		: 2013년 07월 18일 
* 기    능			: CSF관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      안 요 한     2013년 07월 18일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"					: "$!{CS_HTML.txt2html($list.YEAR)}", 
		"CSF_ID"				: "$!{CS_HTML.txt2html($list.CSF_ID)}", 
		"CSF_NM"				: "$!{CS_HTML.txt2html($list.CSF_NM)}", 
		"SORT_ORDER"			: "$!{CS_HTML.txt2html($list.SORT_ORDER)}",
		"CNT"					: "$!{CS_HTML.txt2html($list.CNT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
