#*************************************************************************
* CLASS 명      : levelGradeList_xml
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 10월 23일 
* 기    능      : 난이도평가 평가등급관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      현걸욱     2012년 10월 23일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"GRADE"                : "$!{CS_HTML.txt2html($list.GRADE)}", 
		"GRADE_NM"             : "$!{CS_HTML.txt2html($list.GRADE_NM)}", 
		"SORT_ORDER"           : "$!{CS_HTML.txt2html($list.SORT_ORDER)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
