#*************************************************************************
* CLASS 명      : evalItemList_xml
* 작 업 자      : 박경태
* 작 업 일      : 2013년 08월 08일
* 기    능      : 평가항목 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      박경태     2013년 08월 08일          최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"ITEM_NM"         : "$!{CS_HTML.txt2html($list.ITEM_NM)}", 
		"ITEM_ID"         : "$!{CS_HTML.txt2html($list.ITEM_ID)}", 
		"METRIC_GRP_ID"   : "$!{CS_HTML.txt2html($list.METRIC_GRP_ID)}", 
		"EVAL_DEGREE_ID"  : "$!{CS_HTML.txt2html($list.EVAL_DEGREE_ID)}", 
		"WEIGHT"          : "$!{CS_HTML.txt2html($list.WEIGHT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
