#*************************************************************************
* CLASS 명      : govQuaMetricList_xml
* 작 업 자      : 박종호
* 작 업 일      : 2013년 9월 5일 
* 기    능      : 비계량지표 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      박종호     2013년 9월 5일            최 초 작 업
**************************************************************************#
 
<script language="javascript" type="text/javascript">
//<![CDATA[
	var J = jQuery
	
	J(document).ready(function(){
		#if($vcMath.toInteger($returnMap.get("ErrorNumber")) != 1)
			J.showMsgBox("$!{CS_STATIC.strReplaceLF("\n", $returnMap.get("ErrorMessage"))}", "goBack", null);
		#else
			J.showMsgBox("정상적으로 처리되었습니다", "goSubmit", null);
		#end
	});
    
	/******************************************
	 * form submit
	 ******************************************/
	function goSubmit() {
		J("#form1").submit();
	}
    
	/******************************************
	 * 돌아가기
	 ******************************************/
	function goBack() {
		history.go(-1);
	}
//]]>
</script>
<noscript>
	<div class="noScriptMsg">
		<a href="$!{context_path}/gov/unmeasure/govQuaMetric/govQuaMetricList.vw?type=template&amp;$!{searchMap.makeUrlParamFind()}">
			$!{CS_STATIC.strReplaceLF("<br/>", $returnMap.get("ErrorMessage"))} <br/><br/> 비계량지표 페이지로 이동합니다.
		</a>
	</div>
</noscript>
<form name="form1" id="form1" method="post" action="$!{context_path}/gov/unmeasure/govQuaMetric/govQuaMetricList.vw?type=template">
	$!{searchMap.makeHiddenFind()}
</form>
 


