#*************************************************************************
* CLASS 명      : govQuaMetricList_xml
* 작 업 자      : 박종호
* 작 업 일      : 2013년 9월 5일 
* 기    능      : 비계량지표 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      박종호     2013년 9월 5일            최 초 작 업
**************************************************************************#

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/gov/unmeasure/govQuaMetric/govQuaMetricList.vw?type=template").submit();
		});
		
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});
		
		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});

		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#content").checkbyte({
			indicator:J("#indicator"),
			limit:3000
		});
		J("#content").trigger("keyup");

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
        var fileChk = true;

		if(!J.checkLength("quaMetricNm", "제목",1, 200)) {
			return;
		}

		if(!J.checkLength("content", "공지내용",1, 3000)) {
			return;
		}

        //첨부파일 확장자 체크
        J(":file", "#form1").each(function(index, item) {
            var fileFullName = J("input[name=" + item.name + "]").val();
            var src = getFileExtension(fileFullName);

            if (!((src.toLowerCase() == "xls") || (src.toLowerCase() == "xlsx") || (src.toLowerCase() == "ppt") || (src.toLowerCase() == "pptx")||
                  (src.toLowerCase() == "doc") || (src.toLowerCase() == "docx") || (src.toLowerCase() == "hwp") || (src.toLowerCase() == "pdf") ||
                  (src.toLowerCase() == "zip") || (src.toLowerCase() == "txt")  || (src.toLowerCase() == "gif") || (src.toLowerCase() == "jpg") ||
                  (src.toLowerCase() == "png") || (src.toLowerCase() == "png")
                )) {

                fileChk = false;
            }
        });

        if(fileChk == false) {
            J.showMsgBox("허용되지 않는 파일형식입니다<br/>허용되는 파일형식 : <br/>xls, xlsx, ppt, pptx, doc, docx, hwp <br/> pdf, zip, txt, gif, jpg, png, jpeg", null, null);
            return;
        }

		document.charset='utf-8';

		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
	
	/******************************************
	 * 삭제
	 ******************************************/
	function goDelete() {
		
		J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출		
	}	

	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/gov/unmeasure/govQuaMetric/govQuaMetricProcess.vw?type=template").submit();
	}
	
	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
	
		J("#mode").val("DEL");
		J("#form1").attr("action", "$!{context_path}/gov/unmeasure/govQuaMetric/govQuaMetricProcess.vw?type=template").submit();
		return false;
	}	

	/******************************************
	 * 파일추가
	 ******************************************/
	var fileIndex = 0;

	function fileAttachAdd() {
		J("#fileAttach").append("<li id=\"fileRow" + fileIndex + "\"><input type=\"file\" name=\"file" + fileIndex + "\" class=\"input\" size=\"70\" /> <input type=\"button\" value=\"삭제\" onclick=\"deleteRow(" + fileIndex + ")\" class=\"input\" size=\"70\"></li>");
		fileIndex++;
	}

	/******************************************
	 * 파일삭제
	 ******************************************/
	function deleteRow(fileIndex)	{
    	J("#fileRow" + fileIndex).remove();
    }

//]]>
</script>

<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="$!{context_path}/gov/unmeasure/govQuaMetric/govQuaMetricProcess.vw?type=template">
    <input type="hidden"		id="mode"			name="mode"			value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"		id="year"           name="year"         value="$!{searchMap.txt2html("year")}" />
    <input type="hidden"		id="seq"			name="seq"			value="$!{detail.SEQ}" />
    <input type="hidden"		id="govGubun"		name="govGubun"		value="$!{searchMap.txt2html("govGubun")}" />

    $!{searchMap.makeHiddenFind()}

    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
    		<div class="blockDetail">
    			<table summary="비계량지표 등록">
					<caption class="none">비계량지표 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="35%" />
    					<col width="15%" />
    					<col width="35%" />
    				</colgroup>
    				<tbody>
						#if("ADD"==$!{searchMap.txt2html("mode")})
						<tr>							
	            			<th scope="row"><span class="txt_red">(*)</span><label for="govMetricId">지표명</label></th>
        					<td>
    							<select id="govMetricId" name="govMetricId" class="select w350">
    								#if( "01" == $!{searchMap.txt2html("findGovGubun")})
    									<option value="GGGGG01" >계량 지표 공통사항</option>
    								#elseif( "02" == $!{searchMap.txt2html("findGovGubun")})
    									<option value="GGGGG02" >비계량 지표 공통사항</option>
    								#end
    								#foreach($govMetricNmList in $govMetricNmList)
										<option value="$!{CS_HTML.txt2html($govMetricNmList.GOV_METRIC_ID)}" $searchMap.getSelected("$!{CS_HTML.txt2html($govMetricNmList.GOV_METRIC_ID)}", "$!{CS_HTML.txt2html($detail.GOV_METRIC_ID)}")>$!{CS_HTML.txt2html($govMetricNmList.GOV_METRIC_NM)}</option>
									#end
    							</select>
        					</td>        				
	            			<th scope="row"><span class="txt_red">(*)</span><label for="gbnId">구분명칭</label></th>
        					<td>
    							<select id="gbnId" name="gbnId" class="select w150">
    								$!CS_CODE.getCodeOption("213", $!{CS_HTML.txt2html($detail.GBN_ID)})
            					</select>
        					</td>
        				</tr>	
    					<tr>
                            <th scope="row"><span class="txt_red">(*)</span><label for="quaMetricNm">제목</label></th>
                            <td colspan="3">
                            	<input type="text" id="quaMetricNm" name="quaMetricNm" class="inputbox w600" value='$!{CS_HTML.txt2html($detail.QUA_METRIC_NM)}'/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><span class="txt_red">(*)</span><label for="content">내용</label></th>
                            <td colspan="3">
                                <textarea id="content" name="content" class="tabletext" title="내용" cols="" rows="10" value='$!{CS_HTML.txt2html($detail.CONTENT)}'>$!{CS_HTML.txt2html($detail.CONTENT)}</textarea>
                                <span id="indicator">0</span>/3000byte
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="insertUserId">입력담당자</label></th>
                            <td colspan="3">
                                $!{CS_LOGIN.getUser_nm()}
                                <input type="hidden" name="insertUserId" id="insertUserId" value="$!{CS_LOGIN.getSabun()}" />
                            </td>
                        </tr>
                        <tr>
							<th scope="row"><label for="attach">첨부파일</label></th>
							<td colspan="3">
								#foreach($fileList in $fileList)
									$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))}									
									&nbsp;&nbsp;<input type="checkbox" name="delAttachFiles" id="delAttachFile$!{fileList.get("FILE_SEQ")}" value="$!{fileList.get("FILE_SEQ")}" />&nbsp;<label for="delAttachFile$!{fileList.get("FILE_SEQ")}">첨부파일 삭제</label> <br/>
								#end
								<br/>
								<a href="javascript:fileAttachAdd();"><img src="$!{img_path}/common/btn_file.gif" class="valign_middle" alt="파일추가" /></a>&nbsp;(첨부파일 용량제한은 100M입니다)<br/>
								<div>
									<ul id="fileAttach">
									</ul>
								</div>
							</td>
						</tr>                       
                        #elseif($CS_LOGIN.chkAuthGrp("01") || $CS_LOGIN.chkAuthGrp("60") || $!{searchMap.txt2html("insertUserId")} == $!{CS_HTML.txt2html($detail.INSERT_USER_ID)})
                        <tr>							
	            			<th scope="row"><span class="txt_red">(*)</span><label for="govMetricId">지표명</label></th>
        					<td>#if($!{detail.GOV_METRIC_ID} == "GGGGG01")
        							계량 지표 공통사항
        						#elseif($!{detail.GOV_METRIC_ID} == "GGGGG02")
        							비계량 지표 공통사항
        						#else
    								$!{CS_HTML.txt2html($detail.GOV_METRIC_NM)}
    							#end
    							<input type="hidden"		id="govMetricId"			name="govMetricId"			value="$!{detail.GOV_METRIC_ID}" />
        					</td>        				
	            			<th scope="row"><span class="txt_red">(*)</span><label for="gbnId">구분명칭</label></th>
        					<td>
    							<select id="gbnId" name="gbnId" class="select w150">
    								$!CS_CODE.getCodeOption("213", $!{CS_HTML.txt2html($detail.GBN_ID)})
            					</select>
        					</td>
        				</tr>	
    					<tr>
                            <th scope="row"><span class="txt_red">(*)</span><label for="quaMetricNm">제목</label></th>
                            <td colspan="3">
                            	<input type="text" id="quaMetricNm" name="quaMetricNm" class="inputbox w600" value='$!{CS_HTML.txt2html($detail.QUA_METRIC_NM)}'/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><span class="txt_red">(*)</span><label for="content">내용</label></th>
                            <td colspan="3">
                                <textarea id="content" name="content" class="tabletext" title="내용" cols="" rows="10" value='$!{CS_HTML.txt2html($detail.CONTENT)}'>$!{CS_HTML.txt2html($detail.CONTENT)}</textarea>
                                <span id="indicator">0</span>/3000byte
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="insertUserId">입력담당자</label></th>
                            <td colspan="3">
                                $!{CS_HTML.txt2html($detail.INSERT_USER_NM)}
                                <input type="hidden" name="insertUserId" id="insertUserId" value="$!{CS_HTML.txt2html($detail.INSERT_USER_ID)}" />
                            </td>
                        </tr>
                        <tr>
							<th scope="row"><label for="attach">첨부파일</label></th>
							<td colspan="3">
								#foreach($fileList in $fileList)
									$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))}									
									&nbsp;&nbsp;<input type="checkbox" name="delAttachFiles" id="delAttachFile$!{fileList.get("FILE_SEQ")}" value="$!{fileList.get("FILE_SEQ")}" />&nbsp;<label for="delAttachFile$!{fileList.get("FILE_SEQ")}">첨부파일 삭제</label> <br/>
								#end
								<br/>
								<a href="javascript:fileAttachAdd();"><img src="$!{img_path}/common/btn_file.gif" class="valign_middle" alt="파일추가" /></a>&nbsp;(첨부파일 용량제한은 100M입니다)<br/>
								<div>
									<ul id="fileAttach">
									</ul>
								</div>
							</td>
						</tr>
						#else						
						<tr>
                            <th scope="row"><label for="quaMetricNm">지표명</label></th>
                            <td colspan="3">
                            	$!{CS_HTML.txt2html($detail.GOV_METRIC_NM)}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="gbnNm">구분명칭</label></th>
                            <td>$!{CS_HTML.txt2html($detail.GBN_NM)}</td>
                            <th scope="row"><label for="insertUserNm">담당자</label></th>
                            <td>$!{CS_HTML.txt2html($detail.INSERT_USER_NM)}</td>
                        </tr>
						<tr>
                            <th scope="row"><label for="quaMetricNm">제목</label></th>
                            <td colspan="3">$!{CS_HTML.txt2html($detail.QUA_METRIC_NM)}</td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="content">내용</label></th>
                            <td colspan="3">
                                <textarea id="content" name="content" class="tabletext" title="내용" cols="" rows="10" value='$!{CS_HTML.txt2html($detail.CONTENT)}' readonly="readonly">$!{CS_HTML.txt2html($detail.CONTENT)}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="insertUserId">입력담당자</label></th>
                            <td colspan="3">
                                $!{CS_HTML.txt2html($detail.INSERT_USER_NM)}
                                <input type="hidden" name="insertUserId" id="insertUserId" value="$!{CS_HTML.txt2html($detail.INSERT_USER_ID)}" />
                            </td>
                        </tr>
                        <tr>
							<th scope="row"><label for="attach">첨부파일</label></th>
							<td colspan="3">
								#foreach($fileList in $fileList)
									$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))}																		
								#end
								<br/>								
								<div>
									<ul id="fileAttach">
									</ul>
								</div>
							</td>
						</tr>
						#end                        
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton">
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				#if("ADD"==$!{searchMap.txt2html("mode")})
    				<li><input type="button" id="btnInsert" value="저장" /></li>					
					#elseif($CS_LOGIN.chkAuthGrp("01") || $CS_LOGIN.chkAuthGrp("60") || $!{searchMap.txt2html("insertUserId")} == $!{CS_HTML.txt2html($detail.INSERT_USER_ID)})
    				<li><input type="button" id="btnInsert" value="저장" /></li>
    				<li><input type="button" id="btnDelete" value="삭제" /></li>
					#end
    			</ul>
    		</div>
    	</div>
    	<div class="clear"></div>
    </div>
</form>
