#*************************************************************************
* CLASS 명      : compareDeptList_xml
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 9월 5일 
* 기    능      : 비교조직선택 팝업 그리드 데이터
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김윤기     2012년 9월 5일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($scDeptList.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $scDeptList)
	{
		"CHECK_YN"                   : "$!{CS_HTML.txt2html($list.CHECK_YN)}", 
		"SC_DEPT_ID"                 : "$!{CS_HTML.txt2html($list.CODE_ID)}", 
		"SC_DEPT_NM"                 : "$!{CS_HTML.txt2html($list.CODE_NM)}", 
		"LEVEL_ID"                 : "$!{CS_HTML.txt2html($list.LEVEL_ID)}" 
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
