#*************************************************************************
* CLASS 명      : compareDeptChart_xml
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 9월 5일 
* 기    능      : 비교조직 차트 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김윤기     2012년 8월 29일            최 초 작 업
**************************************************************************# 
<chart caption="" 
	subCaption="" 
	yAxisName="" 
	xAxisName="" 
	alternateVGridColor="AFD8F8" 
	baseFontColor="114B78" 
	toolTipBorderColor="114B78" 
	toolTipBgColor="E7EFF6" 
	plotBorderDashed="1" 
	plotBorderDashLen="2" 
	plotBorderDashGap="2" 
	bgColor="FFFFFF,FFFFFF"
	showyaxisvalues="0" 
	placevaluesinside="1" 
	showplotBorder="0" 
	canvasbgalpha="0" 
	numdivlines="0" 
	canvasborderalpha="0"
	baseFontSize= "11"
	useRoundEdges='1' showBorder='1'
	plotSpacePercent="45"
	>

	
	#foreach($list in $deptCompare)
	#set ($index= "$!{CS_HTML.txt2html($list.RANK)}")
		#if("TEAM" == $!{searchMap.txt2html("reloadMode")})
			#if ($index == 1)
				<set label="$!{CS_HTML.txt2html($list.SC_DEPT_NM)}" value="$!{CS_HTML.txt2htmlActcolFormat($list.SCORE)}" color="6a5acd" link="javascript:goOrgDetailPop2('$!{CS_HTML.txt2html($list.SC_DEPT_ID)}')"/>
			#else
				<set label="$!{CS_HTML.txt2html($list.SC_DEPT_NM)}" value="$!{CS_HTML.txt2htmlActcolFormat($list.SCORE)}" color="4993c9" link="javascript:goOrgDetailPop2('$!{CS_HTML.txt2html($list.SC_DEPT_ID)}')"/>
			#end
			
		#else
			#if ($index == 1)
				<set label="$!{CS_HTML.txt2html($list.SC_DEPT_NM)}" value="$!{CS_HTML.txt2htmlActcolFormat($list.SCORE)}" color="6a5acd" link="javascript:goOrgDetailPop('$!{CS_HTML.txt2html($list.SC_DEPT_ID)}')"/>
			#else
				<set label="$!{CS_HTML.txt2html($list.SC_DEPT_NM)}" value="$!{CS_HTML.txt2htmlActcolFormat($list.SCORE)}" color="4993c9" link="javascript:goOrgDetailPop('$!{CS_HTML.txt2html($list.SC_DEPT_ID)}')"/>
			#end
			
		#end if
		
		#set ($index = $index + 1)
	#end
	
	<styles>
	
    	<definition>
    		<style name="ani" type="animation" DURATION="3" easing="bounce" start="0" param="_xscale" />
    		<style name='myValuesFont' type='font' bold='1' />
    	</definition>
      
    	<application>
    		<apply toObject="Dataplot" styles="ani"/>
    		<apply toObject='DataValues' styles='myValuesFont' />
    	</application>
  
	</styles>	

</chart>
