#*************************************************************************
* CLASS 명      : deptCompareChart_xml
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 9월 5일 
* 기    능      : 비교조직 차트 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김윤기     2012년 8월 29일            최 초 작 업
**************************************************************************# 
<chart manageResize="1" 
	origW="300" 
	origH="300" 
	palette="3" 
	bgColor="FFFFFF, EBEFF1" 
	bgAlpha="100" 
	lowerLimit="0" 
	upperLimit="100" 
	gaugeStartAngle="240" 
	gaugeEndAngle="-60" 
	gaugeOuterRadius="120" 
	gaugeInnerRadius="60%" 
	gaugeFillMix="{light-10},{light-30},{light-20},{dark-5},{color},{light-30},{light-20},{dark-10}" 
	gaugeFillRatio="" 
	baseFontColor="black" 
	toolTipBgColor="333333" 
	toolTipBorderColor="333333"
	decimals="1" 
	gaugeOriginX="150" 
	gaugeOriginY="150"> 

    <colorRange> 
	 #foreach($list in $signals)
      <color minValue="$!{CS_HTML.txt2html($list.FROM_VALUE)}" maxValue="$!{CS_HTML.txt2html($list.TO_VALUE)}" code="$!{CS_HTML.txt2html($list.COLOR)}" /> 
	 #end
    </colorRange>	
	
	<dials> 
	<dial id="Dial1" value="$!{CS_STATIC.nullToDefault($!deptScore, "0")}" baseWidth="6" topWidth="1" editMode="1" showValue="1" rearExtension="10" valueY="270" />
 </dials> 
 <styles> 
	<definition>
		<style type="font" name="valueFont" borderColor="FFFFFF" bold="1" size="13"/>
	</definition> 
     <application> 
    	<apply toObject="value" styles="valueFont"/> 
     </application> 
 </styles> 
</chart>