#*************************************************************************
* CLASS 명      : userMetricList_xml
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 9월 6일 
* 기    능      : 비교조직선택 팝업 그리드 데이터
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김윤기     2012년 9월 6일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"EVU_STD_ID"       : "$!{CS_HTML.txt2html($list.EVU_STD_ID)}",
		"EMP_ID"           : "$!{CS_HTML.txt2html($list.EMP_ID)}",
		"EMP_NM"           : "$!{CS_HTML.txt2html($list.EMP_NM)}",
		"ITEM_NO"          : "$!{CS_HTML.txt2html($list.ITEM_NO)}",
		"SEQ_NO"           : "$!{CS_HTML.txt2html($list.SEQ_NO)}",
		"STA_YM"           : "$!{CS_FORMAT.dateFormat($!{CS_HTML.txt2html($list.STA_YM)}, '.')}",
		"END_YM"           : "$!{CS_FORMAT.dateFormat($!{CS_HTML.txt2html($list.END_YM)}, '.')}",
		"DTL_PLAN_TXT"     : "$!{CS_HTML.txt2html($list.DTL_PLAN_TXT)}",
		"RSLT_TXT"         : "$!{CS_HTML.txt2html($list.RSLT_TXT)}",
		"ACHV_RATE"        : "$!{CS_HTML.txt2html($list.ACHV_RATE)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
