<script type="text/javascript" language="javascript" >
//<![CDATA[

J(document).ready(function(){

    /******************************************
     * 화면 기본 디스플레이
     ******************************************/
	J("#noticeList").css("display","");
	J("#qnaList").css("display","none");
	J("#boardList").css("display","none");
	J("#opinionList").css("display","");
	J("#coachingList").css("display","none");

	J("#notice").attr("src", "$!{img_path}/common/tab_01_on.gif");
	J("#qna").attr("src", "$!{img_path}/common/tab_02.gif");
	J("#board").attr("src", "$!{img_path}/common/tab_03.gif");
	J("#opinion").attr("src", "$!{img_path}/common/tab2_02_on.gif");
	J("#coaching").attr("src", "$!{img_path}/common/tab2_03.gif");
	
	
    /******************************************
     * TAB 마우스오버 이벤트 호출
     ******************************************/
	J("#notice").hover(function(){tabEvent1("notice");},function(){});
	J("#qna").hover(function(){tabEvent1("qna");},function(){});
	J("#board").hover(function(){tabEvent1("board");},function(){});
	
	J("#opinion").hover(function(){tabEvent2("opinion");},function(){});
	J("#coaching").hover(function(){tabEvent2("coaching");},function(){});
	
	
	/******************************************
     * more 이미지 클릭 이벤트 호출
     ******************************************/
	J(":input[name=more]").click(function(){
		showPop('more');
		
	});
	
	
	/******************************************
     * 비교조직선택 이미지 클릭 이벤트 호출
     ******************************************/
	J("#compareDept").click(function(){
		showPop('compareDept');
	});
	
	/******************************************
     * 주요지표선택 이미지 클릭 이벤트 호출
     ******************************************/
	J("#userMetric").click(function(){
		showPop('userMetric');
	});
	
	
    /******************************************
     * FANCYBOX
     ******************************************/
    J("#anchor").fancybox();      //상세팝업
	
	
    /******************************************
     * LI태그 마우스 포인터 표시
     ******************************************/
    J("li").css("cursor","pointer");
	
	
	
});

    /******************************************
     * 상단 TAB 마우스오버 이벤트
     ******************************************/
	function tabEvent1(item){
		hiddenAllItem1();
		J("#"+item+"List").css("display","");
		J(":input[name=moreName]").val(item);
		
		if(item=="notice"){ J("#notice").attr("src", "$!{img_path}/common/tab_01_on.gif");}
		else if(item=="qna"){ J("#qna").attr("src", "$!{img_path}/common/tab_02_on.gif");} 
		else{ J("#board").attr("src", "$!{img_path}/common/tab_03_on.gif"); }
	};
	
    /******************************************
     * 상단 TAB 마우스오버 이벤트
     ******************************************/	
	function hiddenAllItem1(){
		J("#noticeList").css("display","none");
		J("#qnaList").css("display","none");
		J("#boardList").css("display","none");
		
    	J("#notice").attr("src", "$!{img_path}/common/tab_01.gif");
    	J("#qna").attr("src", "$!{img_path}/common/tab_02.gif");
    	J("#board").attr("src", "$!{img_path}/common/tab_03.gif");
		
	}
	
    /******************************************
     * 하단 TAB 마우스오버 이벤트
     ******************************************/	
	function tabEvent2(item){
		hiddenAllItem2();
		J("#"+item+"List").css("display","");
		J(":input[name=moreName]").val(item);
		
		if(item=="opinion"){J("#opinion").attr("src", "$!{img_path}/common/tab2_02_on.gif");} 
		else{J("#coaching").attr("src", "$!{img_path}/common/tab2_03_on.gif");}
	}

	/******************************************
     * 하단 TAB 마우스오버 이벤트
     ******************************************/	
	function hiddenAllItem2(){
		J("#opinionList").css("display","none");
		J("#coachingList").css("display","none");
		
		J("#opinion").attr("src", "$!{img_path}/common/tab2_02.gif");
		J("#coaching").attr("src", "$!{img_path}/common/tab2_03.gif");
	}
	
	
    /******************************************
     * FANCYBOX 팝업
     ******************************************/	
	function showPop(target){
	
		if(target=="compareDept"){
    		J("#anchor").attr("href","$!{context_path}/bsc/mon/main/compareDeptList.vw?year=$!{year}&contextPath=$!{context_path}");
		}else if(target=="userMetric"){
    		J("#anchor").attr("href","$!{context_path}/bsc/mon/main/userMetricList.vw?year=$!{year}&contextPath=$!{context_path}");
		}else{
    		if(J("#noticeList").css("display")=="block"){
				J("#mode").val("NOTICE");
			}else if(J("#qnaList").css("display")=="block"){
				J("#mode").val("QNA");
				J("#findBbsId").val("FREE");
			}else if(J("#boardList").css("display")=="block"){
				J("#mode").val("BOARD");
				J("#findBbsId").val("DOWNLOAD");
			}
			
    		J("#anchor").attr("href","$!{context_path}/bsc/mon/main/moreList.vw?moreYN=Y&contextPath=$!{context_path}&mode="+J("#mode").val()+"&findBbsId="+J("#findBbsId").val());
		}
		
		J("#anchor").click();
	}
	
    /******************************************
     * 게시물 클릭 시 상세내용 팝업
     ******************************************/		
	function popLink(name, id){

		window.open("", "List", "width=500,height=400,top=50,left=100 scrollbars=yes, resizble=no");
		J("#formPop").attr("target","List");
		
		if(name=="noticeLink"){
			J("#formPop").attr("action","$!{context_path}/bsc/system/notice/noticePopup.vw");
    		J("#popUpId").val(id);
    		J("#mainFlag").val("true");

			
		}else if(name=="qnaLink"){
    		J("#mode").val("MOD");
    		J("#findBbsId").val("FREE");
    		J("#bbsSeq").val(id);
			J("#formPop").attr("action","$!{context_path}/bsc/mon/main/boardPopup.vw");
		
		}else if(name=="boardLink"){
    		J("#mode").val("MOD");
    		J("#findBbsId").val("DOWNLOAD");
    		J("#bbsSeq").val(id);
			J("#formPop").attr("action","$!{context_path}/bsc/mon/main/boardPopup.vw");
			
		}else if(name=="opinionLink"){
		
		}else if(name=="coachingLink"){
		
		}else{
		
		}
		
		J("#formPop").submit();
      	J("#formPop").attr("target","_self");
	}
	
    /******************************************
     * 의견코칭 클릭 시 성과상세화면 이동
     ******************************************/		
	function goLink(year, mon, metric_id){
		J("#year").val(year);
		J("#mon").val(mon);	
		J("#analCycle").val('Y');
		J("#scDeptId").val('$!{CS_LOGIN.getSc_dept_id()}');
		J("#metricId").val(metric_id);
		J("#mainFlag").val("true");
		J("#formPop").attr("action", "$!{context_path}/bsc/mon/metricDetail/metricDetailList.vw?type=template").submit();
	}
	
    /******************************************
     * 비교조직 차트 클릭 시 조직성과상세화면 이동
     ******************************************/		
	function goOrgDetail(scDeptId){
		J("#mainFlag").val("true");
		J("#formPop").attr("action", "$!{context_path}/bsc/mon/orgDetail/orgDetailList.vw?type=template&findYear=$!{year}&findMon=$!{mon}&findAnalCycle=Y&findScDeptId="+scDeptId).submit();
	}
	
//]]>
</script>

<!--blockContainer Start-->
<div id="blockContainer">
	<input type="hidden" name="moreName"/>
	<a id="anchor" ></a>
	<!--blockMain Start-->
	<div id="blockMain">
        <div id="blockMainTop">
			<h1 class="none">컨텐츠영역</h1>
            <table width="100%" cellspacing="0" cellpadding="0">
				<colgroup>
					<col width="410px" />
					<col width="11px" />
					<col width="410px" />
					<col width="11px" />
					<col width="308px" />
				</colgroup>
				<tbody>
					<tr>
						<td valign="top">
							<div class="bodybox" style="height:180px;">
								<div class="bodybox_titbg">
									<div class="bodybox_tit2">
										$!{CS_CALENDAR.getDate(".")}($!{CS_CALENDAR.getWeekName($!{CS_CALENDAR.getWeek()}, 0)})
									</div>
									<div class="bodybox_contents" >
										<div class="left" >
                                            <div id="guageChart"></div>
        									<script type="text/javascript" language="javascript" >
                        					//<![CDATA[
                        						FusionCharts.setCurrentRenderer(render);
                                        		var myChart = new FusionCharts( "$!{widget_path}/AngularGauge.swf", "myChartId", "150", "140", "0", "1" );
                                        		myChart.setXMLUrl("$!{context_path}/bsc/mon/main/deptScoreChart_xml.vw?year=$!{year}&mon=$!{mon}&analCycle=Y&scDeptId=$!{CS_LOGIN.getSc_dept_id()}");
                                        		myChart.render("guageChart");
                        					//]]>
                                        	</script> 													
										</div>
										<div class="right">
											<!--blockListTable Start-->
											<div class="blockListTable" style="height:100px;overflow-x:auto;">					
												<table summary="입력현황">
													<caption>입력현황</caption>
													<colgroup >
														<col width="60%"/>
														<col width="40%"/>
                                                    </colgroup>
													<tbody>
														#foreach($list in $totalStatusList)
    														<tr>
																#if($velocityCount==1)
																	<td>$!{METRIC_NM}입력($!{CS_HTML.txt2html($list.SC_DEPT_NM)})</td>
        															<td>$!{CS_HTML.txt2html($list.A)}</td>
																#elseif($velocityCount==2)
																	<td>실적입력($!{CS_HTML.txt2html($list.SC_DEPT_NM)})</td>
        															<td>$!{CS_HTML.txt2html($list.A)}건/$!{CS_HTML.txt2html($list.B)}건</td>
																#else
																	<td>실적승인($!{CS_HTML.txt2html($list.SC_DEPT_NM)})</td>
																	<td>$!{CS_HTML.txt2html($list.A)}건/$!{CS_HTML.txt2html($list.B)}건</td>
																#end
    														</tr>
            											#end
													</tbody>
												</table>
											</div>
											<!--//blockListTable End-->	
										</div>
									</div>
								</div>
							</div>
						</td>
						<td></td>
						<td valign="top">
 						<h1 class="none">비전/전략체계</h1>
    						<div class="bodybox"  style="height:180px;background-image:url('$!{context_path}/intro/images/bg.jpg');vertical-align:center;" >
                                <div class="h20"></div>
                               <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="100%" height="70%"  align='middle' >
                                    <param name='movie' value='$!{context_path}/intro/intro.swf' />
                                    <param name=quality value=high>
                                    <param name="wmode" value="transparent">
                                    <embed wmode="transparent" src="$!{context_path}/intro/intro.swf" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="100%" height="70%" align='middle'></embed>
                               </object>
							</div>    	
						</td>
						<td></td>
						<td rowspan="3" valign="top">
							<div class="bodybox" style="height:505px;">
								<div class="bodybox_titbg">
									<div class="bodybox_tit">주요지표성과</div>
									<div class="bodybox_btn" id="userMetric"><a href="#" class="btn01"><span>주요지표선택</span></a></div>
									<div class="bodybox_contents" >
									#set($colors = ["FF7200","9314FF","00D3E0","6EC200"])
									#foreach($list in $userMetricList)
    							    	<div id="lineChart$velocityCount"></div>
										<script type="text/javascript" language="javascript" >
                    					//<![CDATA[
                    						FusionCharts.setCurrentRenderer(render);
                                    		var myChart2 = new FusionCharts( "$!{chart_path}/Line.swf", "myChartId2_$!{velocityCount}", "300", "109", "0", "1" );
                                    		myChart2.setXMLUrl("$!{context_path}/bsc/mon/main/userMetricChart_xml.vw?year=$!{year}&userId=$!{CS_LOGIN.getUser_id()}&scDeptId=$!{CS_LOGIN.getSc_dept_id()}&metricId=$!{CS_HTML.txt2html($list.METRIC_ID)}&color=$vcList.get($colors, $vcMath.sub($velocityCount,1))");      
    										myChart2.render("lineChart$velocityCount");
                    					//]]>
                                    	</script>
                                        <div style="height:8px"></div>
									#end
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<div class="bodybox" style="height:151px;">
								<div class="bodybox_titbg">
									<div class="bodybox_tit">비교조직</div>
									<div class="bodybox_btn" id="compareDept"><a href="#" class="btn01"><span>비교조직선택</span></a></div>
									<div class="bodybox_contents" ></div>
                                    <div id="barChart" style="position:absolute;top:27px;left:1px;" ></div>
									<script type="text/javascript" language="javascript" >
                					//<![CDATA[
                						FusionCharts.setCurrentRenderer(render);
                                		var myChart3 = new FusionCharts( "$!{chart_path}/Bar2D.swf", "myChartId3", "403", "123", "0", "1" );
										myChart3.configure("ChartNoDataText", " ");
                                		myChart3.setXMLUrl("$!{context_path}/bsc/mon/main/compareDeptChart_xml.vw?year=$!{year}&mon=$!{mon}&analCycle=Y&userId=$!{CS_LOGIN.getUser_id()}");
										myChart3.render("barChart");
                					//]]>
                                	</script> 													
								</div>
							</div>
						</td>
						<td></td>
						<td valign="top">
							<!--공지사항/Q&A/자료실 Start-->
							<div class="bodyboxlist" style="height:151px;">
								<div class="bodyboxlist_titbg">
									<div class="bodyboxlist_tit">
										<ul>
											<li ><img id="notice" src="" alt="공지사항" /></li>
											<li ><img id="qna" src="" alt="Q&A" /></li>
											<li ><img id="board" src="" alt="자료실" /></li>
										</ul>
									</div>
									<div class="bodyboxlist_more"><input type="image" name="more" src="$!{img_path}/common/btn_more.gif" alt="더보기" /></div>
									<div class="bodybox_list" style="cursor:pointer;">
										
										<ul id="noticeList">
											#foreach($list in $noticelist)
    											<li><a name="noticeLink" onclick="popLink('noticeLink','$!{CS_HTML.txt2html($list.ID)}')" title="$!{CS_HTML.txt2html($list.SUBJECT)}">
														$!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.SUBJECT)},20)}
													</a>
													<span class="date">$!{CS_HTML.txt2html($list.CREATE_DT)}</span>
												</li>
											#end
										</ul>
										
										<ul id="qnaList">
											#foreach($list in $qnaList)
    											<li><a  name="qnaLink" onclick="popLink('qnaLink','$!{CS_HTML.txt2html($list.BBS_SEQ)}')" title="$!{CS_HTML.txt2html($list.BBS_TITLE)}">
														
														#if($!{vcMath.toNumber($!{CS_HTML.txt2html($list.BBS_DEPT)})} >0)
															<img src="$!{img_path}/list_arrow.gif" />
														#end
														
														$!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.BBS_TITLE)},15)} ($!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.DEPT_NM)},5)} $!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.BBS_REGISTER_NAME)},5)})
													</a> 
													<span class="date">$!{CS_HTML.txt2html($list.CREATE_DT)}</span>
												</li>
											#end
										</ul>
										
										<ul id="boardList">
											#foreach($list in $boardList)
    											<li><a  name="boardLink" onclick="popLink('boardLink','$!{CS_HTML.txt2html($list.BBS_SEQ)}')" title="$!{CS_HTML.txt2html($list.BBS_TITLE)}">
														$!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.BBS_TITLE)},15)} ($!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.DEPT_NM)},5)} $!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.BBS_REGISTER_NAME)},5)})
													</a> 
													<span class="date">$!{CS_HTML.txt2html($list.CREATE_DT)}</span>
												</li>
											#end
										</ul>
									</div>
								</div>
							</div>
							<!--//공지사항/Q&A/자료실 End-->
						</td>
						<td></td>
					</tr>
					<tr>
						<td valign="top">
							<div class="bodybox" style="height:151px;">
								<div class="bodybox_titbg">
									<div class="bodybox_tit">성과비율</div>
									<div class="bodybox_contents">
										
										<!--blockListTable Start-->
										<div class="blockListTable" style="position:absolute;top:-10px;left:-5px;height:80px;width:403px;">					
											<table summary="성과비율" cellspacing="-10" cellpadding="-10">
												<caption></caption>
												<colgroup >
													<col width="33%"/>
													<col width="33%"/>
													<col width="34%"/>
                                                </colgroup>
												<tbody>
													#foreach($list in $ratelist)
    													<tr>
    														<td>
																<img src="$!{img_path}/common/ball/ball_$!{CS_HTML.replace($CS_HTML.txt2html($list.STATUS),'_','')}.gif"></img>
																($!{CS_STATIC.nullToDefault($!{CS_CODE.getCodeName('021', $CS_HTML.txt2html($list.STATUS),$!{year})},'없음')})</td>
    														<td>$!{CS_HTML.txt2html($list.COUNT)}&nbsp;개</td>
    														<td>$!{CS_HTML.txt2htmlScoreFormat($list.RATE)}&nbsp;%</td>
    														
    													</tr>
													#end
												</tbody>
											</table>
										</div>
										<!--//blockListTable End-->	
										
									</div>
								</div>
							</div>
						</td>
						<td></td>
						<td valign="top">
							<!--KPI Communication/의견/코칭 Start-->
							<div class="bodyboxlist" style="height:151px;">
								<div class="bodyboxlist_titbg">
									<div class="bodyboxlist_tit">
										<ul>
											<li><img id="opinion" src="$!{img_path}/common/tab2_02.gif" alt="의견" /></li>
											<li><img id="coaching" src="$!{img_path}/common/tab2_03.gif" alt="코칭" /></li>
										</ul>
									</div>
									<!--<div class="bodyboxlist_more"><input type="image" name="more" src="$!{img_path}/common/btn_more.gif" alt="더보기" /></div>-->
									<div class="bodybox_list" style="cursor:pointer;">
										<ul id="opinionList">
											#foreach($list in $opinionList)
    											<li><a  name="opinionLink" onclick="goLink('$!{CS_HTML.txt2html($list.YEAR)}','$!{CS_HTML.txt2html($list.MON)}','$!{CS_HTML.txt2html($list.METRIC_ID)}')" title="$!{CS_HTML.txt2html($list.CONTENT)}">
														$!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.METRIC_NM)},10)} ($!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.CONTENT)},10)})
													</a>
													<span class="date">$!{CS_HTML.txt2html($list.CREATE_DT)}</span>
												</li>
											#end
										</ul>
										<ul id="coachingList">
											#foreach($list in $coachingList)
    											<li><a  name="opinionLink" onclick="goLink('$!{CS_HTML.txt2html($list.YEAR)}','$!{CS_HTML.txt2html($list.MON)}','$!{CS_HTML.txt2html($list.METRIC_ID)}')" title="$!{CS_HTML.txt2html($list.CONTENT)}">
														$!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.METRIC_NM)},10)} ($!{CS_UTIL.reduceString($!{CS_HTML.txt2html($list.CONTENT)},10)})
													</a>
													<span class="date">$!{CS_HTML.txt2html($list.CREATE_DT)}</span>
												</li>
											#end
										</ul>
										
									</div>
								</div>
							</div>
							<!--//KPI Communication/의견/코칭 End-->
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--//blockMain End-->
	</div>
	
</div>
<!--//blockContainer End-->
<form id="formPop" method="post"  action="">
	<input type="hidden" id="mode" name="mode" value=""/>
	<input type="hidden" id="year" name="year" value="$!{year}"/>
	<input type="hidden" id="mon" name="mon" value="$!{mon}"/>
	<input type="hidden" id="analCycle" name="analCycle"/>
	<input type="hidden" id="scDeptId" name="scDeptId"/>
	<input type="hidden" id="metricId" name="metricId"/>
	<input type="hidden" id="popUpId" name="popUpId"/>
	<input type="hidden" id="mainFlag" name="mainFlag" value="false"/>
	<input type="hidden" id="findBbsId" name="findBbsId" value=""/>
	<input type="hidden" id="bbsSeq" name="bbsSeq" value=""/>
</form>

