#*************************************************************************
* CLASS 명      : popMetricMatrixList_xml
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 11월 27일 
* 기    능      : 지표연계 리스트
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      하윤식     2012년 11월 27일     최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"METRIC_ID_LEV1"       : "$!{CS_HTML.txt2html($list.METRIC_ID_LEV1)}", 
		"METRIC_NM_LEV1"       : "$!{CS_HTML.concatString($!{CS_HTML.txt2html($list.METRIC_NM_LEV1)}, $!{CS_HTML.txt2html($list.SC_DEPT_NM_LEV1)})}", 
		"SC_DEPT_NM_LEV1"      : "$!{CS_HTML.txt2html($list.SC_DEPT_NM_LEV1)}", 
		"METRIC_ID_LEV2"       : "$!{CS_HTML.txt2html($list.METRIC_ID_LEV2)}", 
		"METRIC_NM_LEV2"       : "$!{CS_HTML.concatString($!{CS_HTML.txt2html($list.METRIC_NM_LEV2)}, $!{CS_HTML.txt2html($list.SC_DEPT_NM_LEV2)})}", 
		"SC_DEPT_NM_LEV2"      : "$!{CS_HTML.txt2html($list.SC_DEPT_NM_LEV2)}", 
		"METRIC_ID_LEV3"       : "$!{CS_HTML.txt2html($list.METRIC_ID_LEV3)}", 
		"METRIC_NM_LEV3"       : "$!{CS_HTML.concatString($!{CS_HTML.txt2html($list.METRIC_NM_LEV3)}, $!{CS_HTML.txt2html($list.SC_DEPT_NM_LEV3)})}", 
		"SC_DEPT_NM_LEV3"      : "$!{CS_HTML.txt2html($list.SC_DEPT_NM_LEV3)}", 
		"METRIC_ID_LEV4"       : "$!{CS_HTML.txt2html($list.METRIC_ID_LEV4)}", 
		"METRIC_NM_LEV4"       : "$!{CS_HTML.concatString($!{CS_HTML.txt2html($list.METRIC_NM_LEV4)}, $!{CS_HTML.txt2html($list.SC_DEPT_NM_LEV4)})}", 
		"SC_DEPT_NM_LEV4"      : "$!{CS_HTML.txt2html($list.SC_DEPT_NM_LEV4)}", 
		"LEV1_CNT"             : "$!{CS_HTML.txt2html($list.LEV1_CNT)}", 
		"LEV1_INDEX"           : "$!{CS_HTML.txt2html($list.LEV1_INDEX)}", 
		"LEV2_CNT"             : "$!{CS_HTML.txt2html($list.LEV2_CNT)}", 
		"LEV2_INDEX"           : "$!{CS_HTML.txt2html($list.LEV2_INDEX)}", 
		"LEV3_CNT"             : "$!{CS_HTML.txt2html($list.LEV3_CNT)}", 
		"LEV3_INDEX"           : "$!{CS_HTML.txt2html($list.LEV3_INDEX)}", 
		"LEV4_CNT"             : "$!{CS_HTML.txt2html($list.LEV4_CNT)}", 
		"LEV4_INDEX"           : "$!{CS_HTML.txt2html($list.LEV4_INDEX)}",
		"STATUS_LEV1"          : "$!{CS_HTML.txt2html($list.STATUS_LEV1)}",
		"STATUS_LEV2"          : "$!{CS_HTML.txt2html($list.STATUS_LEV2)}",
		"STATUS_LEV3"          : "$!{CS_HTML.txt2html($list.STATUS_LEV3)}",
		"STATUS_LEV4"          : "$!{CS_HTML.txt2html($list.STATUS_LEV4)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
