#*************************************************************************
* CLASS 명      : userMetricChart_xml
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 9월 5일
* 기    능      : 사용자지정 지표 실적 차트 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김윤기     2012년 9월 5일            최 초 작 업
**************************************************************************#
<chart
	caption='$!{CS_HTML.txt2html($metricActual.METRIC_NM)}($CS_CODE.getCodeName('013',$CS_HTML.txt2html($metricInfo.UNIT)))'
	outCnvBaseFontSize='8'
	subCaption=''
	xAxisName=''
	bgColor='EBEFF1,FFFFFF'
	divLineColor='91AF46'
	divLineAlpha='30'
	alternateHGridAlpha='5'
	canvasBorderColor='666666'
	baseFontColor='666666'
	lineColor='$!{searchMap.txt2html("color")}'
	numVDivlines='7'
	yAxisMaxValue='$!{CS_HTML.txt2html($metricActual.BEST_TARGET)}'
	showAlternateVGridColor='1'
	anchorSides='3'
	rotate='90'
	anchorRadius='5'
	showValues='0'
	labelDisplay='none'
	chartTopMargin='0'
	chartBottomMargin='0'
	chartLeftMargin='5'
	chartRightMargin='5'
	>
	<set label='1'  value='$!{CS_HTML.txt2html($metricActual.M1)}'/>
	<set label='2'  value='$!{CS_HTML.txt2html($metricActual.M2)}'/>
	<set label='3'  value='$!{CS_HTML.txt2html($metricActual.M3)}'/>
	<set label='4'  value='$!{CS_HTML.txt2html($metricActual.M4)}'/>
	<set label='5'  value='$!{CS_HTML.txt2html($metricActual.M5)}'/>
	<set label='6'  value='$!{CS_HTML.txt2html($metricActual.M6)}'/>
	<set label='7'  value='$!{CS_HTML.txt2html($metricActual.M7)}'/>
	<set label='8'  value='$!{CS_HTML.txt2html($metricActual.M8)}'/>
	<set label='9'  value='$!{CS_HTML.txt2html($metricActual.M9)}'/>
	<set label='10'  value='$!{CS_HTML.txt2html($metricActual.M10)}'/>
	<set label='11'  value='$!{CS_HTML.txt2html($metricActual.M11)}'/>
	<set label='12'  value='$!{CS_HTML.txt2html($metricActual.M12)}'/>
	<styles>
		<definition>
			<style name='Anim1'
				type='animation'
				param='_alpha'
				start='0' duration='1' />
		</definition>
		<application>
			<apply toObject='TRENDLINES'
				styles='Anim1' />
		</application>
	</styles>
</chart>
