#*************************************************************************
* CLASS 명      : bscDataInterfaceList_xml
* 작 업 자      : 신인수
* 작 업 일      : 2012년 7월 9일
* 기    능      : 전년데이터 일괄적용 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      신인수     2012년 7월 9일            최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"CHK" 		           : "$!{CS_HTML.txt2html($list.CHK)}",
		"CHK1" 		           : "$!{CS_HTML.txt2html($list.CHK)}",
		"UBMU_GUBUN"           : "$!{CS_HTML.txt2html($list.UBMU_GUBUN)}",
		"NEW_CNT"              : "$!{CS_HTML.txt2html($list.NEW_CNT)}",
		"PAST_CNT"             : "$!{CS_HTML.txt2html($list.PAST_CNT)}",
		"TABLE_NM"             : "$!{CS_HTML.txt2html($list.TABLE_NM)}",
		"TABLE_NM1"             : "$!{CS_HTML.txt2html($list.TABLE_NM)}",
		"TABLE_ID"             : "$!{CS_HTML.txt2html($list.TABLE_ID)}",
		"STRAT_INDEX"          : "$!{CS_HTML.txt2html($list.STRAT_INDEX)}",
		"STRAT_CNT"            : "$!{CS_HTML.txt2html($list.STRAT_CNT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
