#*************************************************************************
* CLASS 명      : foreignIncomeList_xml
* 작 업 자      : 안요한
* 작 업 일      : 2013년 8월 13일
* 기    능      : 해외사업수입 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      안요한     2012년 8월 13일            최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)  
	{
		"SUMM_YY"           : "$!{CS_HTML.txt2html($list.SUMM_YY)}",
		"SUMM_MM"           : "$!{CS_HTML.txt2html($list.SUMM_MM)}",
		"BR_CD"     	 	: "$!{CS_HTML.txt2html($list.BR_CD)}",
		"DEPT_NM"     	 	: "$!{CS_HTML.txt2html($list.DEPT_NM)}",
		"ROLE_TC"     		: "$!{CS_HTML.txt2html($list.ROLE_TC)}",
		"INSP_KIND_TC"   	: "$!{CS_HTML.txt2html($list.INSP_KIND_TC)}",
		"INSP_KIND_TC_NM"   : "$!{CS_HTML.txt2html($list.INSP_KIND_TC_NM)}",
		"STIC_LAG_TC"    	: "$!{CS_HTML.txt2html($list.STIC_LAG_TC)}",
		"STIC_LAG_TC_NM"    : "$!{CS_HTML.txt2html($list.STIC_LAG_TC_NM)}",
		"TY_QTY"    		: "$!{CS_HTML.txt2html($list.TY_QTY)}",
		"TY_AMT"			: "$!{CS_FORMAT.numberFormat($!{CS_HTML.txt2html($list.TY_AMT)})}",
		"PERFORMANCE_SCORE"	: "$!{CS_HTML.txt2html($list.TY_AMT)}"
	}
	
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
