#*************************************************************************
* CLASS 명      : memDissentList_xml
* 작 업 자      : 유연주
* 작 업 일      : 2017년04월11일  
* 기    능      : 이의신청 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      유연주    2017년04월11일       최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"DISSENT_SEQ"          : "$!{CS_HTML.txt2html($list.DISSENT_SEQ)}",
		"DISSENT_TITLE"        : "$!{CS_HTML.txt2html($list.DISSENT_TITLE)}",
		"DEPT_NM"              : "$!{CS_HTML.txt2html($list.DEPT_NM)}",
		"EMP_NM"               : "$!{CS_HTML.txt2html($list.EMP_NM)}",
		"CREATE_DT"            : "$!{CS_HTML.txt2html($list.CREATE_DT)}",
		"PROC_STATUS_NM"       : "$!{CS_HTML.txt2html($list.PROC_STATUS_NM)}",
		"PROC_DT"              : "$!{CS_HTML.txt2html($list.PROC_DT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
