#*************************************************************************
* CLASS 명      : noticeList_xml
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 6월 14일 
* 기    능      : 공지사항관리 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김윤기     2012년 6월 14일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"ID"                   : "$!{CS_HTML.txt2html($list.ID)}", 
		"SUBJECT"              : "$!{CS_HTML.txt2html($list.SUBJECT)}", 
		"POPUP_GBN"            : "$!{CS_HTML.txt2html($list.POPUP_GBN)}", 
		"FROM_DT"              : "$!{CS_HTML.txt2html($list.FROM_DT)}", 
		"TO_DT"                : "$!{CS_HTML.txt2html($list.TO_DT)}", 
		"WIDTH"                : "$!{CS_HTML.txt2html($list.WIDTH)}", 
		"HEIGHT"               : "$!{CS_HTML.txt2html($list.HEIGHT)}", 
		"CREATE_DT"            : "$!{CS_HTML.txt2html($list.CREATE_DT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
