#*************************************************************************
* CLASS 명      : noticePopup
* 작 업 자      : 김윤기
* 작 업 일      : 2012년 6월 14일 
* 기    능      : 공지사항팝업
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     김윤기      2012년 6월 14일             최 초 작 업
**************************************************************************# 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head >
	#parse("/WEB-INF/vl/common/template/head.vm")
    <script type="text/javascript" language="javascript" >
	
	var J = jQuery;
	
	J(document).ready(function(){
		
		J("#content").attr("readonly","readonly");
		J("#cookie").click(function(){
			setCookie();//팝업정보쿠키설정
		});
		
		J("#close").click(function(){
			self.close();
		});
		
	});
	
	/******************************************
	 * 하루동안 창 열지 않기
	 ******************************************/
    function setCookie() {
    	var name = "bscNotice";
    	
		if(""==J("#id").val()){
			name = name + "_"+J("#popUpId").val();
		}else{
			name = name + "_"+J("#id").val();
		}
		
		var cookieStatus = $("#cookie").is(":checked");
    	if(cookieStatus) {
			J.cookie(name, 'Y', { path: '/', expires: 1 });
    	} 
		
    }
	
    </script>
</head>
<body>	
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr valign="top">
	<td class="bodyframe">
		<table width="100%" border="0" cellspacing="5" cellpadding="0">
		<tr>
			<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="0" class="popup_tit_c">
				<tr>
					<td class="popup_tit_l"></td>
					<td class="popup_tit_r">공지사항</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	
		<div style="height:280;">
		<table width="100%" border="0" cellspacing="5" cellpadding="0">
		<tr>
			<td style="font-size:12px;font-weight:bold;">&nbsp;<img src="$!{img_path}/common/ico_body_tit.gif"  align="top" alt="" />&nbsp;$!{CS_HTML.txt2html($detail.SUBJECT)}</td>
		</tr>
		<tr><td height="5"></td></tr>
		<tr><td class="tb_line"></td></tr>
		<tr><td height="5"></td></tr>
		<tr>
			<td>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="padding-top:5px;padding-left:5px;">$!{CS_HTML.txt2htmlbr($detail.CONTENT)}</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="textLeft">
				#set($listSize = $!{CS_HTML.txt2html($fileList.size())})
				#if($!{CS_STATIC.toNumber($listSize)} > 0)
                    <br/><b>첨부파일</b><br/><br/>
				#end
				#foreach($fileList in $fileList)
					$!{CS_HTML.makeFileIconFileName($fileList.get("ATTACH_FILE_SUFFIX"), $fileList.get("ATTACH_FILE_NM"), $fileList.get("ATTACH_FILE_PATH"))} <br/>
				#end<br/>			
			</td>
		</tr>
		<tr><td height="5"></td></tr>
		<tr><td class="tb_line"></td></tr>
		<tr><td height="5"></td></tr>
		</table>
		</div>
	</td>
</tr>
<tr>
	<td>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			#if($!{searchMap.txt2html("mainFlag")}!="true")
    			<td width="85%">
    				#if($!{searchMap.txt2html("popUpId")}!="")
                    &nbsp;<input id="cookie" name="cookie" type="checkbox" ></input>
    				&nbsp;<font color="#404141">오늘은 이창을 띄우지 않습니다.</font>
    				#end
    			</td>
			#end
			<td width="*" align="right">
                <img src="$!{img_path}/btn_close.gif" id="close" name="close" style="cursor:pointer;hand"/>&nbsp;&nbsp;
			</td>
		</tr>
		<tr><td height="5"></td></tr>
		</table>
	</td>
</tr>
</table>
<input type="hidden" id="id" 	  	name="id"  	   value="$!{searchMap.txt2html("id")}"></input>
<input type="hidden" id="popUpId" 	name="popUpId" value="$!{searchMap.txt2html("popUpId")}"></input>
</body>
</html>
