#*************************************************************************
* CLASS 명      : talkMngConModify
* 작 업 자      : 김효은 
* 작 업 일      : 2014년 4월 3일 
* 기    능      : 직원개인업무성과 중간면담    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    김효은      2014년 4월 3일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

    var J = jQuery;

    J(document).ready(function(){
    
        /******************************************
         * 취소버튼 (돌아가기)
         ******************************************/
        J("#btnBack").click(function() {
            J("#form1").attr("action", "$!{context_path}/prs/mngCon/talkMngCon/talkMngConList.vw?type=template").submit();
        });
        
        /******************************************
         * 저장버튼 이벤트
         ******************************************/
        J("#btnInsert").click(function(e) {
            e.preventDefault();
            saveChk();
        });

        /******************************************
         * 저장버튼 이중 클릭 방지
         ******************************************/
        J("form").submit(function(){
            J("#btnInsert").unbind();
        });
		
        /******************************************
		 * 면담, 답변내용 byte 체크
		 ******************************************/
		J("#talkContent").checkbyte({
			indicator:J("#indicator"),
			limit:1500
		});
		J("#talkContent").trigger("keyup");
		
		J("#answerContent").checkbyte({
			indicator:J("#indicator"),
			limit:1500
		});
		J("#answerContent").trigger("keyup");
		
		/******************************************
		 * 면담, 답변일자 클릭시 달력팝업 이벤트
		 ******************************************/
		J("input[name=talkDt]").datepicker({
			dateFormat: 'yy.mm.dd'
		});
		
		J("input[name=answerDt]").datepicker({
			dateFormat: 'yy.mm.dd'
		});
		
		#if("$!{CS_LOGIN.getUser_nm()}" == "$!{CS_HTML.txt2html($membersTable.KOR_NM)}")
			J("#talkDt").attr("disabled", true);
			J("#talkContent").attr("readonly",true);
			J("#answerDt").attr("disabled", false);
			J("#answerContent").attr("readonly", false);
		#elseif("$!{CS_LOGIN.getUser_nm()}" == "$!{CS_HTML.txt2html($membersTable.APPROVE_USER_NM)}")
			J("#talkDt").attr("disabled", false);
			J("#talkContent").attr("readonly",false);
			J("#answerDt").attr("disabled", true);
			J("#answerContent").attr("readonly", true);
		#elseif($CS_LOGIN.chkAuthGrp("01"))
			J("#talkDt").attr("disabled", false);
			J("#talkContent").attr("readonly",false);
			J("#answerDt").attr("disabled", false);
			J("#answerContent").attr("readonly", false);
		#else
			J("#talkDt").attr("disabled", true);
			J("#talkContent").attr("readonly",true);
			J("#answerDt").attr("disabled", true);
			J("#answerContent").attr("readonly", true);
		#end

    });

    /******************************************
     * 필수입력 체크
     ******************************************/
    function saveChk() {
		if(!J.checkLength("talkDt", "면담일자",1, 10)) {
    		return;
		}
		
		if(!J.checkLength("answerDt", "면담일자",1, 10)) {
    		return;
		}
		
		J("#talkDt").attr("disabled", false);
    	J("#answerDt").attr("disabled", false);
    
        J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
    }
    
    /******************************************
     * 저장
     ******************************************/
    function saveDo() {
		J("#talkDt").val((J("#talkDt").val().replace(/[.]/g, "")));
		J("#answerDt").val((J("#answerDt").val().replace(/[.]/g, "")));
		J("#year").val(J("#findYear").val());
        J("#form1").attr("action", "$!{context_path}/prs/mngCon/talkMngCon/talkMngConProcess.vw?type=template").submit();
    }

//]]>
</script>    
 
<form id="form1" name="form1" method="post" action="$!{context_path}/prs/mngCon/talkMngCon/talkMngConProcess.vw?type=template">
    <input type="hidden"     id="mode"            name="mode"              value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"     id="evalMembEmpn"    name="evalMembEmpn"      value="$!{searchMap.txt2html("evalMembEmpn")}" />
    <input type="hidden"     id="evalMembEmpnSeq" name="evalMembEmpnSeq"   value="$!{searchMap.txt2html("evalMembEmpnSeq")}" />
    <input type="hidden"     id="talkSeq"      	  name="talkSeq"      	   value="$!{CS_HTML.txt2html($detail.TALK_SEQ)}" />
	<input type="hidden"     id="talkUserId"      name="talkUserId"        value="$!{CS_LOGIN.getUser_id()}" />
    
    $!{searchMap.makeHiddenFind()}
    
    <div id="Table">
        <div id="Table_blockContainer">
            <div class="tableTop">
                #parse("/WEB-INF/vl/common/template/tabs.vm")
                <div class="clear"></div>
            </div>
            #parse("/WEB-INF/vl/prs/mngCon/planMngCon/membersTable.vm")
            <div class="blockDetail">
                <table summary="중간면담 등록">
                    <caption class="none">중간면담 등록</caption>
                    <colgroup>
                        <col width="15%" />
                        <col width="85%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="talkUserNm">면담자</label></th>
                            <td>
								#if($!{searchMap.txt2html("mode")} == 'MOD')
									$!{CS_HTML.txt2html($detail.TALK_USER_NM)}
								#else
									$!{CS_LOGIN.getUser_nm()}
								#end
							</td>
                        </tr>
                        <tr>
                            <th scope="row"><span class="txt_red">(*)</span> <label for="talkDt">면담일자</label></th>
                            <td><input type="text" id="talkDt" name="talkDt" class="inputbox w200" value='$!{CS_FORMAT.dateFormat($!{detail.TALK_DT})}' maxlength="20"/></td>
                        </tr>
                        <tr>
    						<th scope="row"><label for="talkContent">면담내용</label></th>
    						<td colspan="9">
    							<textarea id="talkContent" name="talkContent" class="tabletext" title="비고" cols="" rows="10">$!{CS_HTML.txt2html($detail.TALK_CONTENT)}</textarea>
								<span id="indicator">0</span>/1500byte
    						</td>
    					</tr>
    					<tr>
                            <th scope="row"><span class="txt_red">(*)</span> <label for="answerDt">면담일자</label></th>
                            <td><input type="text" id="answerDt" name="answerDt" class="inputbox w200" value='$!{CS_FORMAT.dateFormat($!{detail.ANSWER_DT})}' maxlength="20"/></td>
                        </tr>
                        <tr>
    						<th scope="row"><label for="answerContent">면담내용</label></th>
    						<td colspan="9">
    							<textarea id="answerContent" name="answerContent" class="tabletext" title="비고" cols="" rows="10">$!{CS_HTML.txt2html($detail.ANSWER_CONTENT)}</textarea>
								<span id="indicator">0</span>/1500byte
    						</td>
    					</tr>
                    </tbody>
                </table>
            </div>
            <div class="blockButton">
                <ul>    
                    <li><input type="button" id="btnBack"   value="돌아가기" /></li>
					##if($CS_LOGIN.chkAuthGrp("01") || $CS_LOGIN.chkAuthGrp("31"))
                        ##if($detail.EVAL_MEMB_EMPN != $!CS_LOGIN.getUser_id())
                    <li><input type="submit" id="btnInsert" value="저장" /></li>
                        ##end
					##end
                </ul>
            </div>    
        </div>
        <div class="clear"></div>
    </div>
</form>