/* IE scroll bar style*/
html {
	scrollbar-3dLight-Color: #f2f2f2;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-base-color: #2b201c;
	scrollbar-Face-Color: #d9d9d9;
	scrollbar-Track-Color: #f2f2f2;
	scrollbar-DarkShadow-Color: #f2f2f2;
	scrollbar-Highlight-Color: #f2f2f2;
	scrollbar-Shadow-Color: #f2f2f2;
}
body {
	font-size:12px;
	margin:0;
	background-color:#FFFFFF;
}

/* chrome scroll bar style*/
::-webkit-scrollbar-thumb:vertical{
    height:18px;
    background-color:#d9d9d9;
}
::-webkit-scrollbar-thumb:horizontal{
    width:18px;
    background-color:#d9d9d9;
}
::-webkit-scrollbar-track-piece{
     background-color:#f2f2f2;
}
::-webkit-scrollbar{
     width:15px;
    height:15px;
}
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment {
	display: block; 
	height: 15px; 
	background: #d9d9d9
}

img {
	border:0;
}
P {
	line-height:15px;
	font-size:12px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 3px;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap; 
	white-space: -o-pre-wrap;
	word-break:break-all;
}
td {
	font-size:12px;
}
div.source {
	clear:both;
	font-size:12px;
	font-family:verdana,arial,돋움;
	width:auto;
	border-width:1px;
	border-style:solid;
	border-color:#d9d9d9;
	background-color:#F3FBFC;
	padding:2px;
	margin:5px;
	line-height:1.2;
	border-bottom-width:3px;
	border-right-width:3px;
	border-left-width:1px;
	border-left-color:#E6E6E6;
	border-top-style:dashed;
	border-bottom-style:solid;
}
div.source ol {
	list-style-type:decimal-leading-zero;
}
div.source li {
	border-width:1px;
	border-style:dotted;
	border-color:#d9d9d9;
	border-top-width:0;
	border-left-width:0;
	border-right-width:0;
	padding:1px;
	font-family:verdana,arial,돋움	
}
div.source li:hover { background-color:#FFFFFF; }