#*************************************************************************
* CLASS 명      : excEvalDeptList_xml
* 작 업 자      : 안요한
* 작 업 일      : 2013년 07월 13일 
* 기    능      : 별도평가부서 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      안요한     2013년 07월 13일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"					: "$!{CS_HTML.txt2html($list.YEAR)}", 
		"EVAL_DEGREE_ID"		: "$!{CS_HTML.txt2html($list.EVAL_DEGREE_ID)}", 
		"SC_DEPT_ID"			: "$!{CS_HTML.txt2html($list.SC_DEPT_ID)}", 
		"SC_DEPT_NM"			: "$!{CS_HTML.txt2html($list.SC_DEPT_NM)}", 
		"EVAL_METHOD_NM"		: "$!{CS_HTML.txt2html($list.EVAL_METHOD_NM)}", 
		"RPT_EMPN"				: "$!{CS_HTML.txt2html($list.RPT_EMPN)}", 
		"RPT_EMPN_NM"			: "$!{CS_HTML.txt2html($list.RPT_EMPN_NM)}",
		#if ($!{CS_HTML.txt2html($list.RPT_YN)} == "Y")
		"RPT_YN"    			: "대상",
		#else
		"RPT_YN"    			: "비대상",
		#end
		"EVAL_SUBMIT_YN"		: "$!{CS_HTML.txt2html($list.EVAL_SUBMIT_YN)}",
		"BASE_CNT"				: "$!{CS_HTML.txt2html($list.BASE_CNT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
