#*************************************************************************
* CLASS 명      : govActualStatusList_xml
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 11월 13일 
* 기    능      : 경평 계량지표 실적입력현황 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      하윤식     2012년 11월 13일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"INSERT_USER_ID"       : "$!{CS_HTML.txt2html($list.INSERT_USER_ID)}", 
		"INSERT_USER_NM"       : "$!{CS_HTML.txt2html($list.INSERT_USER_NM)}", 
		"INSERT_USER_NM1"      : "$!{CS_HTML.txt2html($list.INSERT_USER_NM)}",
		"DEPT_ID"              : "$!{CS_HTML.txt2html($list.DEPT_ID)}", 
		"DEPT_NM"              : "$!{CS_HTML.txt2html($list.DEPT_NM)}", 
		"EMAIL"                : "$!{CS_HTML.txt2html($list.EMAIL)}", 
		"TOT_CNT"              : "$!{CS_HTML.txt2html($list.TOT_CNT)}", 
		"CNT_01"               : "$!{CS_HTML.txt2html($list.CNT_01)}", 
		"CNT_02"               : "$!{CS_HTML.txt2html($list.CNT_02)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
