#*************************************************************************
* CLASS 명      : calTypeList
* 작 업 자      : 하윤식
* 작 업 일      : 2012.05.18
* 기    능      : 득점산식 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1     하 윤 식      2012.05.18            최 초 작 업 
**************************************************************************# 
#set($curr_url = $!{context_path} + "/calType/calTypeList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
		J(document).ready(function(){
		
		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();
		
		jQuery("#list").jqGrid({
			url          :"$!{context_path}/bsc/base/calType/calTypeList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {   
    						page   : "page",
    						total  : "total",
    						root   : "rows", 
    						records: function(obj){return obj.length;},
    						repeatitems: false, 
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :['득점산식코드', '득점산식', '사용$!{METRIC_NM}여부' ],
			colModel     :[
						     {name:'CAL_TYPE_ID'   ,index:'CAL_TYPE_ID'   ,width:50    ,align:'center' },
						     {name:'CAL_TYPE_NM'   ,index:'CAL_TYPE_NM'   ,width:400   ,align:'left'    ,formatter:linkUpdate  },
						     {name:'CNT'           ,index:'CNT'           ,width:50    ,align:'center'  ,formatter:linkKPIList }
					      ],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : true,
			cellEdit     : true,
			loadComplete : function() {
    							var ids = J("#list").jqGrid('getDataIDs');
    							J("#list input:checkbox").each(function(index) {
    								var rowdata = J("#list").getRowData(ids[index]);
    								if(rowdata.CNT != 0) { //비교조건 대상 컬럼
    									J("#list input:checkbox[name=jqg_list_" + (index+1) + "]").hide();
    								}
    							});
                           },
			caption:"KPI산식패턴"
		});
		
		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});
		
		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnInsert").click(function() {
			J("#mode").val("ADD");
			J("#useYn").val(J("#findUseYn").val());
			J("#formList").attr("action", "$!{context_path}/bsc/base/calType/calTypeModify.vw?type=template").submit();
		});
		
		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDelete").click(function() {
			goDelete();
			return false;
		});
		
		/******************************************
		 * fancy Box 팝업호출
		 ******************************************/
		J("#anchor").fancybox();            //지표매핑 팝업
	});

	/******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpdate(cellvalue, options, rowObject) { 
		return '<a href=javascript:goModify(' + options.rowId + ')>' + cellvalue + '<//a>';
	}

	/******************************************
	 * jqGrid 리스트 링크
	 ******************************************/
	function linkKPIList(cellvalue, options, rowObject) { 
		var ret = '';
		if( cellvalue > 0 ){
			ret = '<a href=javascript:goKPIList(' + options.rowId + ')><img src="$!{img_path}/title_ico.gif"></a>';
		}
		return ret;
	}

	/******************************************
	 * 수정
	 ******************************************/
	function goModify(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		J("#calTypeId").val(ret.CAL_TYPE_ID);
		J("#mode").val("MOD");
		J("#useYn").val(J("#findUseYn").val());
		J("#formList").attr("action", "$!{context_path}/bsc/base/calType/calTypeModify.vw?type=template").submit();
	}
	
	/******************************************
	 * 삭제
	 ******************************************/
	function goDelete() {
        if(!J.gridSelectChk("list")){
        	J.showMsgBox("삭제할 KPI산식패턴을 선택하십시요", null, null); 
        } else {
        	J.showConfirmBox("삭제하시겠습니까?", "deleteDo"); //deleteDo() 콜백함수 호출
        }
    }
	
	/******************************************
	 * 삭제처리
	 ******************************************/
	function deleteDo() {
        var id = J("#list").getGridParam('selarrrow');
        var ids = J("#list").jqGrid('getDataIDs');
        var rowdata = "";
        var calTypeIds = "";
        
        for (var i = 0; i < ids.length; i++) {
            J.each(id, function (index, value) {
                if (value == ids[i]) {
                	rowdata = J("#list").getRowData(ids[i]);
                	calTypeIds += rowdata.CAL_TYPE_ID + '|';
                }
            });
        }
        
		J("#calTypeIds").val(calTypeIds);
        J("#mode").val("DEL");
        J("#formList").attr("action", "$!{context_path}/bsc/base/calType/calTypeProcess.vw?type=template").submit();
	}

	/******************************************
	 * 지표리스트 조회
	 ******************************************/
	function goKPIList(rowId) {
		var ret = J("#list").jqGrid('getRowData',rowId);
		
		J("#anchor").attr("href","$!{context_path}/bsc/base/calType/popMetricCntList.vw?findYear=$!{searchMap.txt2html("findYear")}&amp;findCalTypeId=" + ret.CAL_TYPE_ID);
		J("#anchor").click();
	}
	
//]]>
</script>


<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">KPI산식패턴 조회</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			
			<!-- 검색 테이블 Start -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/bsc/base/calType/calTypeList.vw?type=template">
			<input type="hidden"  id="findHighPgmId"	name="findHighPgmId"	value="$!{searchMap.txt2html("findHighPgmId")}" />
			<input type="hidden"  id="findSubPgmId"		name="findSubPgmId"		value="$!{searchMap.txt2html("findSubPgmId")}" />
			<input type="hidden"  id="findPgmId"		name="findPgmId"		value="$!{searchMap.txt2html("findPgmId")}" />
				
			<div class="searchBox" >
			<div><div><div>   
			<table summary="검색조건">
					<caption class="none">검색조건</caption> 
					<thead><tr><th></th></tr></thead>
					<tbody>
						<tr>
							<td class="searchBox_tit">
								<span>사용여부</span> 
								<span class="searchBar">  
									<select id="findUseYn" name="findUseYn" class="select w70" title="사용여부">
										$!CS_CODE.getCodeOption("011", $!{searchMap.txt2html("findUseYn")})
									</select> 
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" /> 
			</div></div></div>
			</div>
			</form>
			<!--// 검색 테이블 End -->
			<div class="clear"></div>
		</div>
		
		<form id="formList" name="formList" method="post" action="$!{context_path}/bsc/base/calType/calTypeList.vw?type=template">
            <input type="hidden" id="calTypeIds" name="calTypeIds" value="" />
            <input type="hidden" id="calTypeId"  name="calTypeId"  value="" />
            <input type="hidden" id="mode"       name="mode" />
			<input type="hidden" id="useYn"      name="useYn" />
			$!{searchMap.makeHiddenFind()}
			
    		<div id="splitterBox">
    			<div>
    				<!-- 데이터그리드 Start -->
    				<div class="blockGridListTable">
    					<table id="list" summary="득점산식 조회">
    						<caption class="none">득점산식 조회</caption>
    						<thead><tr><th></th></tr></thead>
    						<tbody><tr><td></td></tr></tbody>
    					</table>
    					<div id="pager"></div>					
    				</div>
    				<!--// 데이터그리드 End -->
    				<!--버튼 Start-->				
    				<div class="blockButton_all">		
    					<div class="blockButton_l"></div>
    					<div class="blockButton">
    						<div class="buttonBox">
    							<input type="button" id="btnInsert" value="신규" />
    							<input type="submit" id="btnDelete" value="삭제" /> 
    						</div>
    					</div>
    				</div>
    				<!--//버튼 End-->
    			</div>
    		</div>
		</form>
	</div>
	<a id="anchor"></a>
	<div class="clear"></div>
</div>
