#*************************************************************************
* CLASS 명      : targetMngDetailList
* 작 업 자      : 박경태
* 작 업 일      : 2012년 10월 30일 
* 기    능      : 목표관리
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     박경태      2012년 10월 30일             최 초 작 업
**************************************************************************# 
#set($curr_url = $!{context_path} + "/man/tam/targetMng/targetMngDetailList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;
	
	J(document).ready(function(){
		/******************************************
    	 * 목표입력 초기값 disabled
    	 ******************************************/
    	J("input[type=hidden]", "#blockDetailTB").attr("disabled", true);
		J("input[type=hidden]", "#blockDetailTB").addClass("readonly");
		
    	J("input[type=text]", "#blockDetailTB").attr("disabled", true);
		J("input[type=text]", "#blockDetailTB").addClass("readonly");
		
	#if($!{searchMap.txt2html("findActualType")} == "input")
		/******************************************
    	 * 목표 입력 활성화
    	 ******************************************/
		var kpiCnt = J("input[name=colValues]", "#blockDetailTB").length;		
		
		for(var i=0; i<kpiCnt; i++) {
			if(J("input[name=checkMons]", "#blockDetailTB").eq(i).val() == "Y") {
				J("input[name=manKpiIds]",	"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=checkMons]",	"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=mons]",		"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=colValues]",	"#blockDetailTB").eq(i).attr("disabled", false);
				J("input[name=tgtStatusId]","#blockDetailTB").eq(i).attr("disabled", false);
				
				J("input[name=manKpiIds]",	"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=checkMons]",	"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=mons]",		"#blockDetailTB").eq(i).removeClass("readonly");
				J("input[name=colValues]",	"#blockDetailTB").eq(i).removeClass("readonly");
			}
		}
		
		//showReturnView(); //반려조회 버튼 설정
		
		/******************************************
    	 * 숫자만 입력받기
    	 ******************************************/
    	 /*
		J(":input[name=colValues]").numeric({allow:"."}); 			//숫자만 입력받기
		J(":input[name=colValues]").css("ime-mode", "disabled"); 	//한글사용 비활성화
		*/
	#end
	
	#if($!{searchMap.txt2html("findActualType")} == "check")
		/******************************************
    	 * 목표 입력 활성화
    	 ******************************************/
		var kpiCnt = J("input[name=colValues]", "#blockDetailTB").length;		
		
		for(var i=0; i<kpiCnt; i++) {
			if(J("input[name=tgtStatusId]", "#blockDetailTB").eq(i).val() == "06") {
				if(J("input[name=colValues]", "#blockDetailTB").eq(i).val() != "") {
					J("input[name=manKpiIds]",	"#blockDetailTB").eq(i).attr("disabled", false);
					J("input[name=checkMons]",	"#blockDetailTB").eq(i).attr("disabled", false);
					J("input[name=mons]",		"#blockDetailTB").eq(i).attr("disabled", false);
					J("input[name=colValues]",	"#blockDetailTB").eq(i).attr("disabled", false);
					J("input[name=tgtStatusId]","#blockDetailTB").eq(i).attr("disabled", false);
					
					J("input[name=manKpiIds]",	"#blockDetailTB").eq(i).removeClass("readonly");
					J("input[name=checkMons]",	"#blockDetailTB").eq(i).removeClass("readonly");
					J("input[name=mons]",		"#blockDetailTB").eq(i).removeClass("readonly");
					J("input[name=colValues]",	"#blockDetailTB").eq(i).removeClass("readonly");
				}
			}
		}
		
		//showReturnView(); //반려조회 버튼 설정
		
		/******************************************
    	 * 숫자만 입력받기
    	 ******************************************/
		J(":input[name=colValues]").numeric({allow:"."}); 			//숫자만 입력받기
		J(":input[name=colValues]").css("ime-mode", "disabled"); 	//한글사용 비활성화
	#end
		
		/******************************************
		 * 반려조회 버튼 클릭 이벤트
		 ******************************************/
		J("input[name=btnReturnView]").click(function() {
			returnPopView(this.id);
			return false;
		});
		
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});
		
	});
//]]>
</script>

<div id="blockDetailTB" class="blockListTable">
#foreach($list in $list)
	<table summary="목표입력">
    	<caption class="none">목표입력</caption>
    	<thead>
    		<tr>
    		    <th scope="col" width="16%" class="textCenter">지표명</th>
    			<th scope="col" width="7%" class="textCenter">1월</th>
				<th scope="col" width="7%" class="textCenter">2월</th>
				<th scope="col" width="7%" class="textCenter">3월</th>
				<th scope="col" width="7%" class="textCenter">4월</th>
				<th scope="col" width="7%" class="textCenter">5월</th>
				<th scope="col" width="7%" class="textCenter">6월</th>
				<th scope="col" width="7%" class="textCenter">7월</th>
				<th scope="col" width="7%" class="textCenter">8월</th>
				<th scope="col" width="7%" class="textCenter">9월</th>
				<th scope="col" width="7%" class="textCenter">10월</th>
				<th scope="col" width="7%" class="textCenter">11월</th>
				<th scope="col" width="7%" class="textCenter">12월</th>
    		</tr>
    	</thead>
    	<tbody>
			<tr class="row1">
				<td class="textLeft">$!{CS_HTML.txt2html($list.MAN_KPI_NM)}</td>
            #if($!{searchMap.txt2html("findActualType")} == "input" || $!{searchMap.txt2html("findActualType")} == "check")
            	<td class="textCenter">
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="tgtStatusId"	value="$!{CS_HTML.txt2html($list.TGT_STATUS_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					<input type="hidden" name="manKpiIds"	value="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" />
					
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON01YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON02YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON03YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON04YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON05YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON06YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON07YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON08YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON09YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON10YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON11YN)}" />
        			<input type="hidden" name="checkMons"	value="$!{CS_HTML.txt2html($list.MON12YN)}" />
					
					<input type="hidden" name="mons"		value="01" />
					<input type="hidden" name="mons"		value="02" />
					<input type="hidden" name="mons"		value="03" />
					<input type="hidden" name="mons"		value="04" />
					<input type="hidden" name="mons"		value="05" />
					<input type="hidden" name="mons"		value="06" />
					<input type="hidden" name="mons"		value="07" />
					<input type="hidden" name="mons"		value="08" />
					<input type="hidden" name="mons"		value="09" />
					<input type="hidden" name="mons"		value="10" />
					<input type="hidden" name="mons"		value="11" />
					<input type="hidden" name="mons"		value="12" />

					<input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON01)}" maxlength="15" />
				</td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON02)}" maxlength="15" /></td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON03)}" maxlength="15" /></td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON04)}" maxlength="15" /></td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON05)}" maxlength="15" /></td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON06)}" maxlength="15" /></td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON07)}" maxlength="15" /></td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON08)}" maxlength="15" /></td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON09)}" maxlength="15" /></td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON10)}" maxlength="15" /></td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON11)}" maxlength="15" /></td>
				<td class="textCenter"><input type="text" name="colValues" style="width:85%;" class="inputbox" value="$!{CS_HTML.txt2html($list.MON12)}" maxlength="15" /></td>
			#else
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON01)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON02)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON03)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON04)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON05)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON06)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON07)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON08)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON09)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON10)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON11)}</td>
				<td class="textCenter">$!{CS_HTML.txt2html($list.MON12)}</td>
			#end
			</tr>
		</tbody>
    </table>
    <div class="blockButton_all" style="height:25px">
		<div class="blockButton_l">
			<span id="closeAlert">※ 실적집계방법 : $!CS_CODE.getCodeName('009', $list.TIME_ROLLUP) / 단위 : $!CS_CODE.getCodeName('013', $list.UNIT)</span>
		</div>
		#if($!{CS_HTML.txt2html($list.TGT_STATUS_ID)} == "05")
		<div>
			<ul>
				<li><input class="ui-button ui-widget ui-state-default ui-corner-all" type="button" name="btnReturnView" value="반려조회" id="$!{CS_HTML.txt2html($list.MAN_KPI_ID)}" /></li>
			</ul>
		</div>
		#end
	</div>
#end
</div>
<div class="clear"></div>
#if($!{getCount} == "0" )
	
#else
	#if($!{searchMap.txt2html("findActualType")} != "approve")
		<div class="blockButton">
			<ul>
				<li><input class="ui-button ui-widget ui-state-default ui-corner-all" type="button" id="btnInsert" value="저장" /></li>
			</ul>
		</div>
	#end
#end