#*************************************************************************
* CLASS 명      : manPersonnel_xml
* 작 업 자      : 안요한
* 작 업 일      : 2013년 8월 13일
* 기    능      : 서민층가스시설개선실적 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      안요한     2012년 8월 13일            최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)  
	{
		"YEAR"           		: "$!{CS_HTML.txt2html($list.YEAR)}",
		"RCPT_DATE"           	: "$!{CS_HTML.txt2html($list.RCPT_DATE)}",
		"INSP_KIND_TC_NM"     	: "$!{CS_HTML.txt2html($list.INSP_KIND_TC_NM)}",
		"EQUI_NM"     	 		: "$!{CS_HTML.txt2html($list.EQUI_NM)}",
		"LOCT_ADDR"     	 	: "$!{CS_HTML.txt2html($list.LOCT_ADDR)}",
		"ASGN_INSP_MN_EMPN"     : "$!{CS_HTML.txt2html($list.ASGN_INSP_MN_EMPN)}",
		"ASGN_NM"     			: "$!{CS_HTML.txt2html($list.ASGN_NM)}",
		"ASGN_INSP_MN_DEPT"     : "$!{CS_HTML.txt2html($list.ASGN_INSP_MN_DEPT)}",
		"DEPT_NM"     			: "$!{CS_HTML.txt2html($list.DEPT_NM)}",
		"LAST_INSP_EMPN"     	: "$!{CS_HTML.txt2html($list.LAST_INSP_EMPN)}",
		"LAST_NM"     			: "$!{CS_HTML.txt2html($list.LAST_NM)}",
		"LAST_INSP_DATE"     	: "$!{CS_HTML.txt2html($list.LAST_INSP_DATE)}",
		"LAW_TC_NM"     	 	: "$!{CS_HTML.txt2html($list.LAW_TC_NM)}",
		"COUNT"     	 		: "$!{CS_HTML.txt2html($list.COUNT)}"
	}
	
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
