#*************************************************************************
* CLASS 명      : targetSearchHistoryList_xml
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 20일 
* 기    능      : 목표조회 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      정철수     2012년 11월 20일             최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"                 : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"MON"                  : "$!{CS_HTML.txt2html($list.MON)}", 
		"ANAL_CYCLE"           : "$!{CS_HTML.txt2html($list.ANAL_CYCLE)}", 
		"METRIC_ID"            : "$!{CS_HTML.txt2html($list.METRIC_ID)}", 
		"SEQ"                  : "$!{CS_HTML.txt2html($list.SEQ)}", 
		"MON_01"               : "$!{CS_HTML.txt2html($list.MON_01)}",
		"MON_02"               : "$!{CS_HTML.txt2html($list.MON_02)}",
		"MON_03"               : "$!{CS_HTML.txt2html($list.MON_03)}",
		"MON_04"               : "$!{CS_HTML.txt2html($list.MON_04)}",
		"MON_05"               : "$!{CS_HTML.txt2html($list.MON_05)}",
		"MON_06"               : "$!{CS_HTML.txt2html($list.MON_06)}",
		"MON_07"               : "$!{CS_HTML.txt2html($list.MON_07)}",
		"MON_08"               : "$!{CS_HTML.txt2html($list.MON_08)}",
		"MON_09"               : "$!{CS_HTML.txt2html($list.MON_09)}",
		"MON_10"               : "$!{CS_HTML.txt2html($list.MON_10)}",
		"MON_11"               : "$!{CS_HTML.txt2html($list.MON_11)}",
		"MON_12"               : "$!{CS_HTML.txt2html($list.MON_12)}",
		"INSERT_USER_NM"       : "$!{CS_HTML.txt2html($list.INSERT_USER_NM)}", 
		"CREATE_DT"            : "$!{CS_HTML.txt2html($list.CREATE_DT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
