#*************************************************************************
* CLASS 명      : targetSearchDetailList_xml
* 작 업 자      : 정철수
* 작 업 일      : 2012년 11월 20일 
* 기    능      : 지표목표조회 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      정철수     2012년 11월 20일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"MON"                  : "$!{CS_HTML.txt2html($list.MON)}월",
		"TGT_VALUE"            : "$!{CS_HTML.txt2html($list.TGT_VALUE)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
