<chart caption="1차평가"
	showLabels="1"
	showValues="1"
	showLegend="1"
	legendPosition="RIGHT"
	chartrightmargin="20"
	bgColor="EBEFF1,FFFFFF"
	bgalpha="70"
	bordercolor="C6D2DF"
	basefontcolor="2F2F2F"
	basefontsize="11"
	showpercentvalues="1"
	bgratio="0" 
	startingangle="200"
	animation="1"
	pieRadius='60'>
	
	<set value="$!{CS_HTML.txt2html($evalMonitor1.COM_COUNT)}" label="평가완료" />
	<set value="$!{CS_HTML.txt2html($evalMonitor1.ING_COUNT)}" label="평가중" />
	<set value="$!{CS_HTML.txt2html($evalMonitor1.NOT_COUNT)}" label="미평가" />

</chart>