#*************************************************************************
* CLASS 명      : menuRightList_xml
* 작 업 자      : 하윤식
* 작 업 일      : 2012년 6월 7일 
* 기    능      : 사용자 그룹별 권한 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용         비고
* -----  ----------  -------------------  ---------------------- ---------
*  1    하윤식    2012년 6월 7일              최 초 작 업 
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"UP_PGM_NM"  : "$!{CS_HTML.txt2html($list.UP_PGM_NM)}",
		"PGM_ID"     : "$!{CS_HTML.txt2html($list.PGM_ID)}",
		"PGM_NM"     : "$!{CS_HTML.txt2html($list.PGM_NM)}",
		"SORT_ORDER" : "$!{CS_HTML.txt2html($list.SORT_ORDER)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}


 

