#*************************************************************************
* CLASS 명      : menuRightModify
* 작 업 자      : 하윤식 
* 작 업 일      : 2012년 6월 7일 
* 기    능      : 사용자 그룹별 권한    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    하윤식      2012년 6월 7일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/bsc/system/menuRight/menuRightList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
	
		/******************************************
    	 * 메뉴 이동 이벤트
    	 ******************************************/
		menuMove();
		
		/******************************************
    	 * 사용자전체 이동 이벤트
    	 ******************************************/
		J("#allToLeft").click(function() {
			moveAll('left');
		});
		
		J("#allToRight").click(function() {
			moveAll('right');
		});
		
	});
	
	/******************************************
	 * jQuery droppable
	 ******************************************/
	 function menuMove(){
		J("#source ol li").draggable({cursor:"move"}, {helper:"original"}, {opacity:"0.5"}, {revert:true});
    	
    	J("#target ol li").draggable({cursor:"move"}, {helper:"original"}, {opacity:"0.5"}, {revert:true});
    
    	J("#source").droppable({
    					accept:"#target ol li",
    					drop:function(e, ui){
    						ui.draggable.clone().removeAttr("style").appendTo(J("#source ol"));
    						ui.draggable.remove();
							menuMove();
    					}});
    					
    	J("#target").droppable({
    					accept:"#source ol li",
    					drop:function(e, ui){
    						ui.draggable.clone().removeAttr("style").appendTo(J("#target ol"));
    						ui.draggable.remove();
							menuMove();
    					}});
	}

	/******************************************
	 *  사용자전체 이동 이벤트
	 ******************************************/
	function moveAll(dir) {
		
		if(dir=="right"){
			J("#target ol").append(J("#source ol").html());
			J("#source ol").text("");
		
		}else{
    		J("#source ol").append(J("#target ol").html());
			J("#target ol").text("");
		}
		menuMove();
	}

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/bsc/system/menuRight/menuRightProcess.vw?type=template").submit();
	}

//]]>
</script>    
 
<div id="Table">
	<div id="Table_blockContainer">
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")
			<div class="clear"></div>
		</div>
		<div class="tableTop">
            <!-- 검색 테이블 Start -->
            <div class="searchBox">
            <div><div><div>   
                <table summary="검색조건">        
                    <caption class="none">검색조건</caption>
                    <thead><tr><th></th><th></th></tr></thead>
                    <tbody>
                        <tr>
							<td class="searchBox_tit w250">사용자그룹 : <span class="searchBar">$!CS_CODE.getCodeName("018", $!{searchMap.txt2html("adminGubun")})</span></td>
							<td class="searchBox_tit w250">TOP상위 : <span class="searchBar">$!{topPgmNm}</span></td>
							<td class="searchBox_tit w250">TOP하위 : <span class="searchBar">$!{subPgmNm}</span></td>
						</tr>
                    </tbody>
                </table>
            </div></div></div>
            </div>
            <!--// 검색 테이블 End -->
            <div class="clear"></div>
        </div>
		
		<div class="blockDetail2">
    			<table summary="메뉴권한 등록">
					<caption class="none">메뉴권한 등록</caption>
    				<tbody>
						<tr>
							<td style="width:45%; height:40px;">
								<span>메뉴리스트</span> 
							</td>	
							<td style="width:10%;">
								&nbsp;
							</td>	
							<td>
								<span>선택된 메뉴리스트</span> 
							</td>
						</tr>	
						<tr>
							<td style="width:45%;" valign="top">
    							<div id="source" style="border:1px solid #d2d2d2; height:370px; overflow-x:hidden; background:#eee;">
                                    <ol class="selectable">
										#foreach($list in $totList)
    										<li class="ui-widget-content"><input type="hidden" name="pgmIds" value="$!{CS_HTML.txt2html($list.PGM_ID)}"/>$!{CS_HTML.txt2html($list.PGM_NM)}</li>
										#end
                                    </ol>
                                </div>
    						</td>
    						<td style="width:10%;" valign="top" class="valign_middle">
								<input type="image" id="allToLeft" src="$!{img_path}/common/btn_arrow1up.gif" alt="왼으로 전체 이동" /><br/><br/>
								<input type="image" id="allToRight" src="$!{img_path}/common/btn_arrow2up.gif" alt="오른쪽으로 전체 이동" />
							</td>
							<td valign="top">
								<form id="form1" name="form1" method="post" action="$!{context_path}/bsc/system/menuRight/menuRightProcess.vw?type=template">
                                <input type="hidden" 	id="mode"		name="mode"	      value="$!{searchMap.txt2html("mode")}" />
                            	<input type="hidden"	id="adminGubun" name="adminGubun" value="$!{searchMap.txt2html("adminGubun")}" />
                    			<input type="hidden"	id="topUpId"    name="topUpId"    value="$!{searchMap.txt2html("topUpId")}" />
                    			<input type="hidden"	id="subId"    	name="subId"      value="$!{searchMap.txt2html("subId")}" />
								$!{searchMap.makeHiddenFind()}
								
								<div id="target" style="border:1px solid #d2d2d2; height:370px; overflow-x:hidden; background:#eee;">
                                   <ol class="selectable">
                                    	#foreach($list in $selList)
    										<li class="ui-widget-content"><input type="hidden" name="pgmIds" value="$!{CS_HTML.txt2html($list.PGM_ID)}"/>$!{CS_HTML.txt2html($list.PGM_NM)}</li>
                                        #end
                                    </ol>
								</div>
								</form>
							</td>
						</tr>	
    				</tbody>
    			</table>
			</div>
		
		<div class="blockButton_all">			
			<div class="blockButton_l"></div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>
        </div>
	</div>
	<div class="clear"></div>
</div>


