#*************************************************************************
* CLASS 명      : managementList_xml
* 작 업 자      : 김상용
* 작 업 일      : 2013년 04월 30일 
* 기    능      : 경영목표 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      김 상 용     2013년 04월 30일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"YEAR"          : "$!{CS_HTML.txt2html($list.YEAR)}", 
		"MANAGEMENT_ID"	: "$!{CS_HTML.txt2html($list.MANAGEMENT_ID)}", 
		"MANAGEMENT_NM"	: "$!{CS_HTML.txt2html($list.MANAGEMENT_NM)}", 
		"MANAGEMENT_WEIGHT"	: "$!{CS_HTML.txt2html($list.MANAGEMENT_WEIGHT)}", 
		"SORT_ORDER"    : "$!{CS_HTML.txt2html($list.SORT_ORDER)}",
		"CNT"           : "$!{CS_HTML.txt2html($list.CNT)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
