#*************************************************************************
* CLASS 명      : resultTargetList
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 11월 7일
* 기    능      : 비계량성과목표
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1     현걸욱      2012년 11월 7일             최 초 작 업
**************************************************************************#
#set($curr_url = $!{context_path} + "/gov/unmeasure/resultTarget/resultTargetList.vw")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#measlist").jqGrid({
			url          :"$!{context_path}/gov/unmeasure/resultTarget/resultTargetMeasList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : 150,
			width        : $!{jqGrid_width},
			colNames     :['INSERT_USER_ID', 'GOV_METRIC_NM', '성과지표', '단위', '전년도실적', '당해년도목표', '차년도목표', '목표설정근거', '담당자', '정렬순서', 'GOV_METRIC_ID', 'MEAS_ID'],
			colModel     :[
							{name:'INSERT_USER_ID'       ,index:'INSERT_USER_ID'    ,width:150   ,align:'center', sortable:true },
                            {name:'GOV_METRIC_NM'        ,index:'GOV_METRIC_NM'     ,width:150   ,align:'center', sortable:true },
                            {name:'MEAS_NM'        		 ,index:'MEAS_NM'        	,width:200   ,align:'left', sortable:true ,formatter:linkUpMeasdate},
                            {name:'UNIT_NM'              ,index:'UNIT_NM'           ,width:60    ,align:'center', sortable:true },
							{name:'RES_OF_1_BEF'         ,index:'RES_OF_1_BEF'      ,width:200   ,align:'left', sortable:true },
                            {name:'RES_OF_PROPER'        ,index:'RES_OF_PROPER'     ,width:200   ,align:'left', sortable:true },
                            {name:'RES_OF_1_AFT'         ,index:'RES_OF_1_AFT'      ,width:200   ,align:'left', sortable:true },
                            {name:'TARGET_BASE'     	 ,index:'TARGET_BASE'     	,width:200   ,align:'left', sortable:true },
                            {name:'INSERT_USER_NM'       ,index:'INSERT_USER_NM'    ,width:80   ,align:'center', sortable:true },
							{name:'SORT_ORDER'       	 ,index:'SORT_ORDER'    	,width:80   ,align:'center', sortable:true },
                            {name:'GOV_METRIC_ID'        ,index:'GOV_METRIC_ID'     ,width:150   ,align:'center', sortable:true },
							{name:'MEAS_ID'       		 ,index:'MEAS_ID'       	,width:150   ,align:'center', sortable:true }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : true,
			cellEdit     : true,
			gridview     : true,
			##cmTemplate   :{sortable:false},
			caption:"비계량성과목표"
		}).jqGrid('hideCol',"INSERT_USER_ID").jqGrid('hideCol',"GOV_METRIC_NM").jqGrid('hideCol',"GOV_METRIC_ID").jqGrid('hideCol',"MEAS_ID").setGridWidth($!{jqGrid_width});

		jQuery("#nonMeaslist").jqGrid({
			url          :"$!{context_path}/gov/unmeasure/resultTarget/resultTargetNonMeasList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : 150,
			width        : $!{jqGrid_width},
			colNames     :['GOV_METRIC_NM', '성과지표', '전년도실적', '당해년도목표', '담당자', '정렬순서', 'GOV_METRIC_ID', 'INSERT_USER_ID', 'NON_MEAS_ID'],
			colModel     :[
							{name:'GOV_METRIC_NM'           ,index:'GOV_METRIC_NM'          ,width:150   ,align:'center', sortable:true },
                            {name:'NON_MEAS_NM'        		,index:'NON_MEAS_NM'        	,width:200   ,align:'left', sortable:true ,formatter:linkUpNonMeasdate},
                            {name:'RES_OF_1_BEF_DESC'       ,index:'RES_OF_1_BEF_DESC'      ,width:400   ,align:'left', sortable:true },
							{name:'TARGET_OF_PROPER_DESC'   ,index:'TARGET_OF_PROPER_DESC'  ,width:400   ,align:'left', sortable:true },
                            {name:'INSERT_USER_NM'        	,index:'INSERT_USER_NM'        	,width:80   ,align:'center', sortable:true },
							{name:'SORT_ORDER'       	 	,index:'SORT_ORDER'    			,width:80   ,align:'center', sortable:true },
                            {name:'GOV_METRIC_ID'     		,index:'GOV_METRIC_ID'     		,width:150   ,align:'center', sortable:true},
							{name:'INSERT_USER_ID'       	,index:'INSERT_USER_ID'    		,width:150   ,align:'center', sortable:true },
                            {name:'NON_MEAS_ID'         	,index:'NON_MEAS_ID'         	,width:150   ,align:'center', sortable:true }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : false,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : true,
			cellEdit     : true,
			gridview     : true,
			##cmTemplate   :{sortable:false},
			caption:"비계량성과목표"
		}).jqGrid('hideCol',"INSERT_USER_ID").jqGrid('hideCol',"GOV_METRIC_NM").jqGrid('hideCol',"GOV_METRIC_ID").jqGrid('hideCol',"NON_MEAS_ID").setGridWidth($!{jqGrid_width});

		J("#nonMeaslist").jqGrid('setGroupHeaders', {
          useColSpanStyle: true,
          groupHeaders:[
				{startColumnName: 'RES_OF_1_BEF_DESC', numberOfColumns: '2', titleText: '목표치'}
          ]
		});

		/******************************************
		 * 조회
		 ******************************************/
		J("#formFind").submit(function(event) {
			//submit 하기전 작업추가
		});

		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnInsertMeas").click(function() {

			if(J("#findInsertUserId").val() == ""){
				J.showMsgBox("담당자를 선택해 주십시요.", null, null);
			}else{

    			J("#year").val(J("#findYear").val());
    			J("#govMetricId").val(J("#findGovMetricId").val());
    			J("#insertUserId").val(J("#findInsertUserId").val());
    			J("#mode").val("MADD");
    			J("#formList").attr("action", "$!{context_path}/gov/unmeasure/resultTarget/resultMeasTargetModify.vw?type=template").submit();

			}
		});

		/******************************************
		 * 신규 등록
		 ******************************************/
		J("#btnInsertNonMeas").click(function() {

			if(J("#findInsertUserId").val() == ""){
				J.showMsgBox("담당자를 선택해 주십시요.", null, null);
			}else{
    			J("#year").val(J("#findYear").val());
    			J("#govMetricId").val(J("#findGovMetricId").val());
    			J("#insertUserId").val(J("#findInsertUserId").val());
    			J("#mode").val("NMADD");
    			J("#formList").attr("action", "$!{context_path}/gov/unmeasure/resultTarget/resultNonMeasTargetModify.vw?type=template").submit();
			}
		});

		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDeleteMeas").click(function() {
			goMeasDelete();
			return false;
		});

		/******************************************
		 * 삭제 버튼 클릭 이벤트
		 ******************************************/
		J("#btnDeleteNonMeas").click(function() {
			goNonMeasDelete();
			return false;
		});

		/******************************************
		 * 년도별 정평지표 change 이벤트
		 ******************************************/
		$('#findYear').change(function(){
			chgGovMetric();
		});

		/******************************************
		 * 지표별 담당자 change 이벤트
		 ******************************************/
		$('#findGovMetricId').change(function(){
			chgUser();
		});

	});

	/******************************************
	 * 년도별 정평지표 조회
	 ******************************************/
	function chgGovMetric(){

		J.ajax({
        	url      : "$!{context_path}/gov/unmeasure/resultTarget/getGovMetricList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#findGovMetricId").empty();
				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findGovMetricId');
				})
				chgUser();
			}
    	});
	}

	/******************************************
	 * 정평지표별 담당자 조회
	 ******************************************/
	function chgUser(){

		J.ajax({
        	url      : "$!{context_path}/gov/unmeasure/resultTarget/getUserList_ajax.vw",﻿
        	cache    : false,
        	type     : "POST",
			data     : J("#formFind").serialize(),
        	dataType : "html",
        	contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        	success  : function (data) {
				var xmlDoc = J.parseXML(data);
        		J("#findInsertUserId").empty();
				J('<option/>').attr('value', '').text('전체').appendTo('#findInsertUserId');
				J(xmlDoc).find("data").each(function() {
					J('<option/>').attr('value', J(this).find("value").text()).text(J(this).find("text").text()).appendTo('#findInsertUserId');
				})
			}
    	});
	}

	/******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpMeasdate(cellvalue, options, rowObject) {
		return '<a href=javascript:goMeasModify(' + options.rowId + ')>' + cellvalue + '<//a>';
	}

	/******************************************
	 * jqGrid 수정페이지 링크
	 ******************************************/
	function linkUpNonMeasdate(cellvalue, options, rowObject) {
		return '<a href=javascript:goNonMeasModify(' + options.rowId + ')>' + cellvalue + '<//a>';
	}

	/******************************************
	 * 수정
	 ******************************************/
	function goMeasModify(rowId) {

		var ret = J("#measlist").jqGrid('getRowData',rowId);
		J("#govMetricId").val(ret.GOV_METRIC_ID);
		J("#measId").val(ret.MEAS_ID);
		J("#insertUserId").val(ret.INSERT_USER_ID);
		J("#year").val(J("#findYear").val());
		J("#mode").val("MMOD");
		J("#formList").attr("action", "$!{context_path}/gov/unmeasure/resultTarget/resultMeasTargetModify.vw?type=template").submit();
}

	/******************************************
	 * 수정
	 ******************************************/
	function goNonMeasModify(rowId) {

		var ret = J("#nonMeaslist").jqGrid('getRowData',rowId);
		J("#govMetricId").val(ret.GOV_METRIC_ID);
		J("#nonMeasId").val(ret.NON_MEAS_ID);
		J("#insertUserId").val(ret.INSERT_USER_ID);
		J("#year").val(J("#findYear").val());
		J("#mode").val("NMMOD");
		J("#formList").attr("action", "$!{context_path}/gov/unmeasure/resultTarget/resultNonMeasTargetModify.vw?type=template").submit();
	}

	/******************************************
	 * 삭제
	 ******************************************/
	function goMeasDelete() {
		if(!J.gridSelectChk("measlist")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null);
		} else {
			J.showConfirmBox("선택된 계량부문 데이터를 삭제하시겠습니까?", "measDeleteDo"); //deleteDo() 콜백함수 호출
		}
	}

	/******************************************
	 * 삭제
	 ******************************************/
	function goNonMeasDelete() {
		if(!J.gridSelectChk("nonMeaslist")){
			J.showMsgBox("삭제할 데이터를 선택하십시요", null, null);
		} else {
			J.showConfirmBox("선택된 비계량부문 데이터를 삭제하시겠습니까?", "nonMeasDeleteDo"); //deleteDo() 콜백함수 호출
		}
	}

	/******************************************
	 * 삭제처리
	 ******************************************/
	function measDeleteDo() {
		var id = J("#measlist").getGridParam('selarrrow');
		var ids = J("#measlist").jqGrid('getDataIDs');
		var rowdata = "";
		var govMetricIds = "";
		var measIds = "";

		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#measlist").getRowData(ids[i]);
					govMetricIds += rowdata.GOV_METRIC_ID + '|';
					measIds += rowdata.MEAS_ID + '|';
				}
			});
		}

		J("#govMetricIds").val(govMetricIds);J("#measIds").val(measIds);
		J("#mode").val("MDEL");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/gov/unmeasure/resultTarget/resultTargetProcess.vw?type=template").submit();
		return false;
	}

	/******************************************
	 * 삭제처리
	 ******************************************/
	function nonMeasDeleteDo() {
		var id = J("#nonMeaslist").getGridParam('selarrrow');
		var ids = J("#nonMeaslist").jqGrid('getDataIDs');
		var rowdata = "";
		var govMetricIds = "";
		var nonMeasIds = "";

		for (var i = 0; i < ids.length; i++) {
			J.each(id, function (index, value) {
				if (value == ids[i]) {
					rowdata = J("#nonMeaslist").getRowData(ids[i]);
					govMetricIds += rowdata.GOV_METRIC_ID + '|';
					nonMeasIds += rowdata.NON_MEAS_ID + '|';
				}
			});
		}

		J("#govMetricIds").val(govMetricIds);J("#nonMeasIds").val(nonMeasIds);
		J("#mode").val("NMDEL");
		J("#year").val(J("#findYear").val());
		J("#formList").attr("action", "$!{context_path}/gov/unmeasure/resultTarget/resultTargetProcess.vw?type=template").submit();
		return false;
	}

	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#formList").attr("action", "$!{context_path}/gov/unmeasure/resultTarget/resultTargetListExcel.vw?type=excel").submit();
		return false;
	}

//]]>
</script>

<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">비계량성과목표</h1>
		<div class="tableTop">
			#parse("/WEB-INF/vl/common/template/tabs.vm")

    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/gov/unmeasure/resultTarget/resultTargetList.vw?type=template">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />

				<div class="searchBox">
    				<div><div><div>
    				<table summary="비계량성과목표검색 조건">
						<caption class="none">비계량성과목표 검색 조건</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w200">
            						<span><label for="findYear">$!{YEAR}</label></span>
            						<span class="searchBar">
            							<select id="findYear" name="findYear" class="select w80">
            								$!CS_CODE.getCodeOption("017", $!{searchMap.txt2html("findYear")})
            							</select>
            						</span>
            					</td>
								<td class="searchBox_tit w250">
									<span><label for="findGovMetricId">정평지표</label></span>
            						<span class="searchBar">
            							<select id="findGovMetricId" name="findGovMetricId" class="select w150">
											#foreach($govList in $govMetricList)
                                            	<option value="$!{CS_HTML.txt2html($govList.GOV_METRIC_ID)}" $searchMap.getSelected("findGovMetricId", "$!{CS_HTML.txt2html($govList.GOV_METRIC_ID)}")>$!{CS_HTML.txt2html($govList.GOV_METRIC_NM)}</option>
                                            #end
										</select>
            						</span>
            					</td>
								<td class="searchBox_tit w250">
									<span><label for="findInsertUserId">담당자</label></span>
            						<span class="searchBar">

										#if($CS_LOGIN.chkAuthGrp("01") || $CS_LOGIN.chkAuthGrp("10") || $CS_LOGIN.chkAuthGrp("60"))
    										<select id="findInsertUserId" name="findInsertUserId" class="select w100">
                                                <option value="">전체</option>
    											#foreach($userList in $govUserList)
                                                	<option value="$!{CS_HTML.txt2html($userList.INSERT_USER_ID)}" $searchMap.getSelected("findInsertUserId", "$!{CS_HTML.txt2html($userList.INSERT_USER_ID)}")>$!{CS_HTML.txt2html($userList.INSERT_USER_NM)}</option>
                                                #end
    										</select>
										#else
											$!{CS_LOGIN.getUser_nm()}
											<input type="hidden" id="findInsertUserId" name="findInsertUserId" value="$!{CS_LOGIN.getUser_id()}" />
										#end

            						</span>
            					</td>
            				</tr>
        				</tbody>
    				</table>
                    <input type="image" class="btnSearch" src="$!{img_path}/common/btn_search.gif" align="middle" alt="검색" />
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/gov/unmeasure/resultTarget/resultTargetProcess.vw?type=template">
			<input type="hidden" id="mode"       	name="mode" />
			<input type="hidden" id="year"		 	name="year" />
			<input type="hidden" id="govMetricIds"  name="govMetricIds" />
			<input type="hidden" id="govMetricId"  	name="govMetricId" />
			<input type="hidden" id="measIds" 		name="measIds" />
			<input type="hidden" id="nonMeasIds"  	name="nonMeasIds" />
			<input type="hidden" id="measId" 		name="measId" />
			<input type="hidden" id="nonMeasId"  	name="nonMeasId" />
			<input type="hidden" id="insertUserId"  name="insertUserId" />
			$!{searchMap.makeHiddenFind()}
			<div id="splitterBox">
				<div>
					<div>
        				<table width="100%" height="23" border="0" cellpadding="0" cellspacing="0">
                			<tr>
                    			<td class="bodybox_deptTit" style="border-bottom:1px solid #e3e3e3; padding:0px 0px 0px 30px;">
                    				계량부문
                                </td>
                			</tr>
                        </table>
                    </div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="measlist" summary="비계량성과목표 조회결과">
							<caption class="none">비계량성과목표 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnInsertMeas" value="신규" /></li>
								<li><input type="submit" id="btnDeleteMeas" value="삭제" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="splitterBox">
				<div>
					<div>
        				<table width="100%" height="23" border="0" cellpadding="0" cellspacing="0">
                			<tr>
                    			<td class="bodybox_deptTit" style="border-bottom:1px solid #e3e3e3; padding:0px 0px 0px 30px;">
                    				비계량부문
                                </td>
                			</tr>
                        </table>
                    </div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="nonMeaslist" summary="비계량성과목표 조회결과">
							<caption class="none">비계량성과목표 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnInsertNonMeas" value="신규" /></li>
								<li><input type="submit" id="btnDeleteNonMeas" value="삭제" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>
