#*************************************************************************
* CLASS 명      : resultTargetModify
* 작 업 자      : 현걸욱 
* 작 업 일      : 2012년 11월 7일 
* 기    능      : 비계량성과목표    
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자    작     업     일        변 경 내 용                비고
* ----  --------  -----------------  -------------------------  --------
*  1    현걸욱      2012년 11월 7일             최 초 작 업 
**************************************************************************# 

<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){
    
		/******************************************
		 * 취소버튼 (돌아가기)
		 ******************************************/
		J("#btnBack").click(function() {
			J("#form1").attr("action", "$!{context_path}/gov/unmeasure/resultTarget/resultTargetList.vw?type=template").submit();
		});
        
		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnInsert").click(function(e) {
			e.preventDefault();
			saveChk();
		});

		/******************************************
		 * 저장버튼 이중 클릭 방지
		 ******************************************/
		J("form").submit(function(){
			J("#btnInsert").unbind();
		});
		
		/******************************************
		 * 정렬순서 숫자만 입력
		 ******************************************/
		J("#sortOrder").numeric();
		J("#sortOrder").css("ime-mode", "disabled");
		
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#targetBase").checkbyte({
			indicator:J("#targetBaseIndicator"),
			limit:3000
		});
		J("#targetBase").trigger("keyup");
		
		/******************************************
		 * 비고 byte 체크
		 ******************************************/
		J("#measNm").checkbyte({
			//indicator:J("#kpiPurposeIndicator"),
			limit:100
		});
		J("#measNm").trigger("keyup");

	});

	/******************************************
	 * 필수입력 체크
	 ******************************************/
	function saveChk() {
	
		if(!J.checkLength("measNm", "계량성과명", 1, 100)) {
			return;
		}
		
		if(J("#unit").val() == "") {
			J.showMsgBox("단위을 선택해 주십시요", null, "unit");
			return;
		}
		
		if(!J.checkLength("resOf1Bef", "전년도실적", 1, 20)) {
			return;
		}
		
		if(!J.checkLength("resOfProper", "당해년도실적", 1, 20)) {
			return;
		}
		
		if(!J.checkLength("resOf1Aft", "차년도실적", 1, 20)) {
			return;
		}
		
		if(!J.checkLength("targetBase", "목표설정근거", 1, 4000)) {
			return;
		}
		
		J.showConfirmBox("저장하시겠습니까?", "saveDo"); //saveDo() 콜백함수 호출
	}
    
	/******************************************
	 * 저장
	 ******************************************/
	function saveDo() {
		J("#form1").attr("action", "$!{context_path}/gov/unmeasure/resultTarget/resultTargetProcess.vw?type=template").submit();
	}

//]]>
</script>    
 
<form id="form1" name="form1" method="post" action="$!{context_path}/gov/unmeasure/resultTarget/resultTargetProcess.vw?type=template">
    <input type="hidden" 	id="mode"		    name="mode"		      value="$!{searchMap.txt2html("mode")}" />
	<input type="hidden"	id="year"           name="year"           value="$!{searchMap.txt2html("year")}" />
	<input type="hidden"	id="govMetricId"    name="govMetricId"    value="$!{searchMap.txt2html("govMetricId")}" />
	<input type="hidden"	id="insertUserId"   name="insertUserId"   value="$!{searchMap.txt2html("insertUserId")}" />

    $!{searchMap.makeHiddenFind()}
	
    <div id="Table">
    	<div id="Table_blockContainer">
    		<div class="tableTop">
    			#parse("/WEB-INF/vl/common/template/tabs.vm")
    			<div class="clear"></div>
    		</div>
			<div class="tableTop">
                <!-- 검색 테이블 Start -->
                <div class="searchBox">
                <div><div><div>   
                    <table summary="검색조건">        
                        <caption class="none">검색조건</caption>
                        <thead><tr><th></th><th></th></tr></thead>
                        <tbody>
                            <tr>
								<td class="searchBox_tit w250">$!{YEAR} <span class="searchBar">$!{searchMap.txt2html("findYear")}년</span></td>
							</tr>
                        </tbody>
                    </table>
                </div></div></div>
                </div>
                <!--// 검색 테이블 End -->
                <div class="clear"></div>
            </div>
    		<div class="blockDetail">
    			<table summary="비계량성과목표 등록">
					<caption class="none">비계량성과목표 등록</caption>
    				<colgroup>
    					<col width="15%" />
    					<col width="15%" />
						<col width="15%" />
						<col width="15%" />
						<col width="15%" />
						<col width="15%" />
    				</colgroup>
    				<tbody>
						<tr>
    						<th scope="row"><label for="measId">계량성과코드</label></th>
    						<td colspan="5">
								#if($!{searchMap.txt2html("mode")} == "MMOD")
									$!{CS_HTML.txt2html($detail.MEAS_ID)}
									<input type="hidden" id="measId" name="measId" class="inputbox w100" value="$!{CS_HTML.txt2html($detail.MEAS_ID)}" maxlength="7" readonly="readonly"/>
								#else
									<input type="hidden" id="measId" name="measId" class="inputbox w100" maxlength="7" />
									※ 저장시 자동으로 부여됩니다.
								#end
							</td>
    					</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span><label for="measNm">계량성과명</label></th>
							<td colspan="3"><input type="text" id="measNm" name="measNm" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.MEAS_NM)}' /></td>
							<th scope="row"><span class="txt_red">(*)</span><label for="unit">단위</label></th>
    						<td>
								<select id="unit" name="unit" class="select w100">
									<option value="">미지정</option>
    								$!CS_CODE.getCodeOption("013", $!{CS_HTML.txt2html($detail.UNIT)}, $!{searchMap.txt2html("year")})
    							</select>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="txt_red">(*)</span><label for="resOf1Bef">전년도실적</label></th>
							<td><input type="text" id="resOf1Bef" name="resOf1Bef" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.RES_OF_1_BEF)}' maxlength="15"/></td>
							<th scope="row"><span class="txt_red">(*)</span><label for="resOfProper">당해년도실적</label></th>
							<td><input type="text" id="resOfProper" name="resOfProper" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.RES_OF_PROPER)}' maxlength="15"/></td>
							<th scope="row"><span class="txt_red">(*)</span><label for="resOf1Aft">차년도목표</label></th>
							<td><input type="text" id="resOf1Aft" name="resOf1Aft" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.RES_OF_1_AFT)}' maxlength="15"/></td>
						</tr>
						<tr>
							<th scope="row"><label for="sortOrder">정렬순서</label></th>
							<td colspan="5"><input type="text" id="sortOrder" name="sortOrder" class="inputbox w200" value='$!{CS_HTML.txt2html($detail.SORT_ORDER)}' maxlength="5"/></td>
						</tr>
						<tr>
    						<th scope="row"><span class="txt_red">(*)</span><label for="targetBase">목표설정 근거</label></th>
    						<td colspan="5">
    							<textarea id="targetBase" name="targetBase" class="tabletext" title="목표설정 근거" cols="10" rows="3">$!{CS_HTML.txt2html($detail.TARGET_BASE)}</textarea>
								<span id="targetBaseIndicator">0</span>/3000byte
    						</td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="blockButton"> 
    			<ul>
    				<li><input type="button" id="btnBack"   value="돌아가기" /></li>
    				<li><input type="submit" id="btnInsert" value="저장" /></li>
    			</ul>
    		</div>	
    	</div>
    	<div class="clear"></div>
    </div>
</form>
