#*************************************************************************
* CLASS 명      : resultTargetList_xml
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 11월 7일 
* 기    능      : 비계량성과목표 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      현걸욱     2012년 11월 7일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($nonMeasList.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($nonMeaslist in $nonMeasList)
	{
		"GOV_METRIC_NM"             : "$!{CS_HTML.txt2html($nonMeaslist.GOV_METRIC_NM)}", 
		"NON_MEAS_NM"        		: "$!{CS_HTML.txt2html($nonMeaslist.NON_MEAS_NM)}", 
		"RES_OF_1_BEF_DESC"         : "$!{CS_HTML.txt2htmlbr2_forList($nonMeaslist.RES_OF_1_BEF_DESC)}", 
		"TARGET_OF_PROPER_DESC"     : "$!{CS_HTML.txt2htmlbr2_forList($nonMeaslist.TARGET_OF_PROPER_DESC)}", 
		"INSERT_USER_NM"            : "$!{CS_HTML.txt2html($nonMeaslist.INSERT_USER_NM)}",
		"SORT_ORDER"        		: "$!{CS_HTML.txt2html($nonMeaslist.SORT_ORDER)}", 
		"GOV_METRIC_ID"        		: "$!{CS_HTML.txt2html($nonMeaslist.GOV_METRIC_ID)}", 
		"INSERT_USER_ID"            : "$!{CS_HTML.txt2html($nonMeaslist.INSERT_USER_ID)}", 
		"NON_MEAS_ID"     			: "$!{CS_HTML.txt2html($nonMeaslist.NON_MEAS_ID)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
