#*************************************************************************
* CLASS 명      : empPaySetInfoList_xml
* 작 업 자      : 안요한
* 작 업 일      : 2013년 06월 14일
* 기    능      : 개인급여설정 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      안요한     2013년 06월 14일            최 초 작 업
**************************************************************************#
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
    "page": "1",
    "total": 1,
    "records": "$listSize",
    "rows":[

#foreach($list in $list)
    {
       
		"YEAR"				: "$!{CS_HTML.txt2html($list.YEAR)}",
		"EMPNS"				: "$!{CS_HTML.txt2html($list.EMPN)}",
		"EMPN"				: "$!{CS_HTML.txt2html($list.EMPN)}",
        "SEQ"				: "$!{CS_HTML.txt2html($list.SEQ)}",
        "KOR_NM"			: "$!{CS_HTML.txt2html($list.KOR_NM)}",
        "PCMT_TC"			: "$!{CS_HTML.txt2html($list.PCMT_TC)}",
        "PCMT_TC_NM"		: "$!{CS_HTML.txt2html($list.PCMT_TC_NM)}",
        "DEPT_CD"			: "$!{CS_HTML.txt2html($list.DEPT_CD)}",
        "DEPT_KOR_NM"		: "$!{CS_HTML.txt2html($list.DEPT_KOR_NM)}",
        "CAST_TC"			: "$!{CS_HTML.txt2html($list.CAST_TC)}",
        "CAST_TC_NM"		: "$!{CS_HTML.txt2html($list.CAST_TC_NM)}",
        "POS_TC"			: "$!{CS_HTML.txt2html($list.POS_TC)}",
        "POS_TC_NM"			: "$!{CS_HTML.txt2html($list.POS_TC_NM)}",
        "WORK_MON"			: "$!{CS_HTML.txt2html($list.WORK_MON)}",
        "TOT_MON"			: "$!{CS_HTML.txt2html($list.TOT_MON)}",
        "PAY"				: "$!{CS_FORMAT.numberFormat($list.PAY)}",
        "PAY_CNT"    		: "$!{CS_HTML.txt2html($list.PAY_CNT)}",
		"PAY_INDEX"  		: "$!{CS_HTML.txt2html($list.PAY_INDEX)}",
		"START_PCMT_DATE"  	: "$!{CS_FORMAT.dateFormat($list.START_PCMT_DATE)}",
		"END_PCMT_DATE"  	: "$!{CS_FORMAT.dateFormat($list.END_PCMT_DATE)}",
        "CONTENT"			: "$!{CS_HTML.txt2html($list.CONTENT)}"
    }
    #set($idx = $idx + 1)
    #if($idx != $listSize)
     ,
    #end
#end

    ]
}
