#*************************************************************************
* CLASS 명      : subCalMappingList_xml
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 11월 6일 
* 기    능      : 경평계량 세부요소매핑 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      현걸욱     2012년 11월 6일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($subCalList.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"SUB_CAL_NM"     		: "$!{CS_HTML.txt2html($list.SUB_CAL_NM)}",
		"SUB_CAL_ID"        	: "$!{CS_HTML.txt2html($list.SUB_CAL_ID)}", 
		"ACT_CAL_TYPE_COL_NM"  	: "$!{CS_HTML.txt2html($list.ACT_CAL_TYPE_COL_NM)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
