#*************************************************************************
* CLASS 명   : popSubCalTypeColMappingList.vm
* 작 업 자      : 정철수
* 작 업 일      : 2012.11.12
* 기    능       : 세부요소실적 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호   작 업 자     작   업   일        변 경 내 용             비고
* ----  --------  -----------------  -------------------------  --------
*  1     정 철 수      2012.11.12          최 초 작 업
**************************************************************************#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">

#set($main_url = $!{searchMap.txt2html("mainUrl")})
#set($curr_url = $!{context_path} + "/gov/measure/subCalMapping/popSubCalTypeColMappingList.vw")

<head>
	#parse("/WEB-INF/vl/common/template/head.vm")
<script type="text/javascript" language="javascript" >
//<![CDATA[

	var J = jQuery;

	J(document).ready(function(){

		/******************************************
		 * 데이터 그리드 출력
		 ******************************************/
		var str = J('#formFind').serialize();

		jQuery("#list").jqGrid({
			url          :"$!{context_path}/gov/measure/subCalMapping/popSubCalTypeColMappingList_xml.vw" + "?" + str,
			mtype        :"POST",
			datatype     :"json",
			jsonReader   : {
    						page   : "page",
    						total  : "total",
    						root   : "rows",
    						records: function(obj){return obj.length;},
    						repeatitems: false,
    						id     : "id"
    				       },
			height       : $!{jqGrid_height},
			width        : $!{jqGrid_width},
			colNames     :[ '세부요소', '단위'
						  , '1월', '2월', '3월', '4월'
						  , '5월', '6월', '7월', '8월'
						  , '9월', '10월', '11월', '12월'
						  , '담당자'
						  ],
			colModel     :[
                            {name:'SUB_CAL_NM'  ,index:'SUB_CAL_NM'  ,width:100   ,align:'left' 		},
                            {name:'UNIT_NM'     ,index:'UNIT_NM'     ,width:80   ,align:'center' 	},
							{name:'MON_01' ,index:'MON_01' ,width:100   ,align:'right' },
                            {name:'MON_02' ,index:'MON_02' ,width:100   ,align:'right' },
                            {name:'MON_03' ,index:'MON_03' ,width:100   ,align:'right' },
                            {name:'MON_04' ,index:'MON_04' ,width:100   ,align:'right' },
                            {name:'MON_05' ,index:'MON_05' ,width:100   ,align:'right' },
                            {name:'MON_06' ,index:'MON_06' ,width:100   ,align:'right' },
                            {name:'MON_07' ,index:'MON_07' ,width:100   ,align:'right' },
                            {name:'MON_08' ,index:'MON_08' ,width:100   ,align:'right' },
                            {name:'MON_09' ,index:'MON_09' ,width:100   ,align:'right' },
                            {name:'MON_10' ,index:'MON_10' ,width:100   ,align:'right' },
                            {name:'MON_11' ,index:'MON_11' ,width:100   ,align:'right' },
                            {name:'MON_12' ,index:'MON_12' ,width:100   ,align:'right' },
                            {name:'INSERT_USER_NM'       ,index:'INSERT_USER_NM'       ,width:80   ,align:'center' 	 }
							],
			rowNum       : $!{jqGrid_rownum},
			autowidth    : true,
			viewrecords  : true,
			loadonce     : true,
			multiselect  : false,
			cellEdit     : true,
			gridview     : true,
			cmTemplate	 : {sortable:false},
			caption 	 :"세부요소실적 조회",
			footerrow	 : true,
			userDataOnFooter : true,
			loadComplete : function() {
                				var grid = J("#list");
                				grid.jqGrid('footerData', 'set', {UNIT_NM:"총계"});
                				calculateSumGridColumn(grid, "MON_01");
								calculateSumGridColumn(grid, "MON_02");
								calculateSumGridColumn(grid, "MON_03");
								calculateSumGridColumn(grid, "MON_04");
								calculateSumGridColumn(grid, "MON_05");
								calculateSumGridColumn(grid, "MON_06");
								calculateSumGridColumn(grid, "MON_07");
								calculateSumGridColumn(grid, "MON_08");
								calculateSumGridColumn(grid, "MON_09");
								calculateSumGridColumn(grid, "MON_10");
								calculateSumGridColumn(grid, "MON_11");
								calculateSumGridColumn(grid, "MON_12");
							}
		}).setGridWidth($!{jqGrid_width});

		/******************************************
		 * 저장버튼 이벤트
		 ******************************************/
		J("#btnClose").click(function(e) {
			self.close();
		});

			/******************************************
		 * 엑셀다운로드 버튼 클릭 이벤트
		 ******************************************/
		J("#btnExcelDown").click(function() {
			excelDownload();
			return false;
		});

	});


	/******************************************
	 * 엑셀다운로드
	 ******************************************/
	function excelDownload(){
		J("#yearNm").val( J("#findYear").val() + "년" );
		J("#formList").attr("action", "$!{context_path}/gov/measure/subCalMapping/popSubCalTypeColMappingExcel.vw?type=excel").submit();
		return false;
	}

//]]>
</script>
</head>
<body>
<div id="Table">
	<div id="Table_blockContainer">
		<h1 class="none">정평계량 세부요소실적 조회</h1>
		<div class="tableTop">
    		<!-- search S -->
			<form id="formFind" name="formFind" method="post" action="$!{context_path}/gov/measure/subCalMapping/popSubCalTypeColMappingList.vw?type=popup">
				<input type="hidden"    id="findHighPgmId"  name="findHighPgmId"    value="$!{searchMap.txt2html("findHighPgmId")}" />
				<input type="hidden"    id="findSubPgmId"   name="findSubPgmId"     value="$!{searchMap.txt2html("findSubPgmId")}" />
				<input type="hidden"    id="findPgmId"      name="findPgmId"        value="$!{searchMap.txt2html("findPgmId")}" />
				<input type="hidden"    id="year"      name="year"        value="$!{searchMap.txt2html("year")}" />
				<input type="hidden"    id="govMetricId"      name="govMetricId"        value="$!{searchMap.txt2html("govMetricId")}" />
				<input type="hidden"    id="govMetricCalTypeColId"      name="govMetricCalTypeColId"        value="$!{searchMap.txt2html("govMetricCalTypeColId")}" />

				<div class="clear h10"></div>

				<div class="searchBox">
    				<div><div><div>
    				<table summary="정평계량 세부요소실적 조회">
						<caption class="none">정평계량 세부요소실적 조회</caption>
						<thead><tr><th></th></tr></thead>
        				<tbody>
            				<tr>
								<td class="searchBox_tit w200">평가년도 <span class="searchBar">$!{searchMap.txt2html("year")}년</span></td>
								<td class="searchBox_tit w250">평가지표 <span class="searchBar">$!{searchMap.txt2html("govMetricNm")}</span></td>
								<td class="searchBox_tit w250">평가요소 <span class="searchBar">$!{searchMap.txt2html("govMetricCalTypeNm")}</span></td>
            				</tr>
        				</tbody>
    				</table>
                    </div></div></div>
    	        </div>
    		</form>
    		<!-- search E -->
			<div class="clear"></div>
		</div>

		<form id="formList" name="formList" method="post" action="$!{context_path}/gov/measure/subCalMapping/popSubCalTypeColMappingExcel.vw?type=excel">
			<input type="hidden" 	id="mode"       			name="mode" />
			<input type="hidden" 	id="subCalIds" 				name="subCalIds" />
			<input type="hidden" 	id="subCalId"  				name="subCalId" />
			<input type="hidden"    id="year"      				name="year"        				value="$!{searchMap.txt2html("year")}" />
			<input type="hidden"    id="govMetricId"      		name="govMetricId"        		value="$!{searchMap.txt2html("govMetricId")}" />
			<input type="hidden"    id="govMetricCalTypeColId"  name="govMetricCalTypeColId"    value="$!{searchMap.txt2html("govMetricCalTypeColId")}" />
			<input type="hidden"    id="yearNm"      			name="yearNm"        			 />
			<input type="hidden"    id="govMetricNm"      		name="govMetricNm"        		value="$!{searchMap.txt2html("govMetricNm")}" />
			<input type="hidden"    id="govMetricCalTypeColNm"  name="govMetricCalTypeColNm"    value="$!{searchMap.txt2html("govMetricCalTypeColNm")}"  />

			$!{searchMap.makeHiddenFind()}

			<div id="splitterBox">
				<div>
					<!-- 데이터그리드 Start -->
					<div class="blockGridListTable">
						<table id="list" summary="정평계량 세부요소실적 조회 결과">
							<caption class="none">정평계량 세부요소실적 조회</caption>
							<thead><tr><th></th></tr></thead>
							<tbody><tr><td></td></tr></tbody>
						</table>
						<div id="pager"></div>
					</div>
					<!--// 데이터그리드 End -->
					<div class="blockButton_all">
						<div class="blockButton" style="float:left; text-align:left; width:145px;">
							<input id="btnExcelDown" type="button" align="middle" value="엑셀변환" alt="엑셀다운로드" />
						</div>
						<div class="blockButton">
							<ul>
								<li><input type="button" id="btnClose" value="닫기" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="clear"></div>
</div>

</body>
</html>

