#*************************************************************************
* CLASS 명      : subCalMappingList_xml
* 작 업 자      : 현걸욱
* 작 업 일      : 2012년 11월 6일 
* 기    능      : 경평계량 세부요소매핑 json 데이터 조회
* ---------------------------- 변 경 이 력 --------------------------------
* 번호    작 업 자     작   업   일       변 경 내 용           비  고
* ----  --------  -----------------  -------------------------  -----------
*  1      현걸욱     2012년 11월 6일            최 초 작 업
**************************************************************************# 
#set($listSize = $!{CS_HTML.txt2html($list.size())})
#set($idx = 0)

{
	"page": "1",
	"total": 1,
	"records": "$listSize",
	"rows":[

#foreach($list in $list)
	{
		"SEL_GOV_METRIC_NM"     		: "$!{CS_HTML.txt2html($!{CS_HTML.replace( $list.SEL_GOV_METRIC_NM, $CONVERT_ARRAY )})}", 
		"EVAL_METHOD_NM"        		: "$!{CS_HTML.txt2html($list.EVAL_METHOD_NM)}", 
		"UNIT_NM"  						: "$!{CS_HTML.txt2html($list.UNIT_NM)}", 
		"WEIGHT"           				: "$!{CS_HTML.txt2html($list.WEIGHT)}", 
		"SC_DEPT_NM"            		: "$!{CS_HTML.txt2html($list.SC_DEPT_NM)}",
		"INSERT_USER_NM"            	: "$!{CS_HTML.txt2html($list.INSERT_USER_NM)}",
		"ACT_CAL_TYPE_COL_NM"           : "$!{CS_HTML.txt2html($list.ACT_CAL_TYPE_COL_NM)}",
		"ACT_CAL_CNT"            		: "$!{CS_HTML.txt2html($list.ACT_CAL_CNT)}",
		"GOV_METRIC_ID"            		: "$!{CS_HTML.txt2html($list.GOV_METRIC_ID)}",
		"ACT_CAL_TYPE_COL_ID"           : "$!{CS_HTML.txt2html($list.ACT_CAL_TYPE_COL_ID)}",
		"CAL_CNT"            			: "$!{CS_HTML.txt2html($list.CAL_CNT)}",
		"CAL_NUM"            			: "$!{CS_HTML.txt2html($list.CAL_NUM)}"
	}
	#set($idx = $idx + 1)
	#if($idx != $listSize)
	 ,
	#end
#end

	]
}
